;
;  MDZ80 V0.9.0 Z80 Disassembly of basic.bin
;  2017/11/03 22:20
;
	ORG	0
;
X0000:	di			; 0000  F3		s
X0001:	xor	a		; 0001  AF		/
X0002:	jp	X0676		; 0002  C3 76 06	Cv.
;
X0005:	jp	X4000		; 0005  C3 00 40	C.@
;
	jp	X4000		; 0008  C3 00 40	C.@
;
X000b:	pop	hl		; 000B  E1		a
X000c:	jp	(hl)		; 000C  E9		i
;
	jp	X069f		; 000D  C3 9F 06	C..
;
	jp	X3881		; 0010  C3 81 38	C.8
;
X0013:	push	bc		; 0013  C5		E
	ld	b,1		; 0014  06 01		..
	jr	X0045		; 0016  18 2D		.-
;
	jp	X4006		; 0018  C3 06 40	C.@
;
X001b:	push	bc		; 001B  C5		E
	ld	b,2		; 001C  06 02		..
X001e:	jr	X0045		; 001E  18 25		.%
;
X0020:	jp	X4009		; 0020  C3 09 40	C.@
;
	push	bc		; 0023  C5		E
	ld	b,4		; 0024  06 04		..
	jr	X0045		; 0026  18 1D		..
;
X0028:	jp	X400c		; 0028  C3 0C 40	C.@
;
X002b:	ld	de,X4015	; 002B  11 15 40	..@
	jr	X0013		; 002E  18 E3		.c
;
	jp	X400f		; 0030  C3 0F 40	C.@
;
X0033:	ld	de,X401d	; 0033  11 1D 40	..@
X0036:	jr	X001b		; 0036  18 E3		.c
;
	jp	X4012		; 0038  C3 12 40	C.@
;
X003b:	ld	de,X4025	; 003B  11 25 40	.%@
X003e:	jr	X001b		; 003E  18 DB		.[
;
X0040:	jp	X05d9		; 0040  C3 D9 05	CY.
;
	ret			; 0043  C9		I
;
	nop			; 0044  00		.
X0045:	jp	X03c2		; 0045  C3 C2 03	CB.
;
X0048:	ei			; 0048  FB		{
	push	af		; 0049  F5		u
	ld	a,1		; 004A  3E 01		>.
	jp	X353e		; 004C  C3 3E 35	C>5
;
X004f:	nop			; 004F  00		.
X0050:	exx			; 0050  D9		Y
	pop	hl		; 0051  E1		a
	exx			; 0052  D9		Y
	ld	a,(X004f)	; 0053  3A 4F 00	:O.
	or	a		; 0056  B7		7
	ret	nz		; 0057  C0		@
	ld	a,(hl)		; 0058  7E		~
	or	a		; 0059  B7		7
	ret	z		; 005A  C8		H
	exx			; 005B  D9		Y
	push	hl		; 005C  E5		e
	exx			; 005D  D9		Y
	ret			; 005E  C9		I
;
	nop			; 005F  00		.
X0060:	dec	bc		; 0060  0B		.
	ld	a,b		; 0061  78		x
	or	c		; 0062  B1		1
	jr	nz,X0060	; 0063  20 FB		 {
	ret			; 0065  C9		I
;
	jp	X0048		; 0066  C3 48 00	CH.
;
	ld	sp,X0600	; 0069  31 00 06	1..
	jp	X06cc		; 006C  C3 CC 06	CL.
;
	jp	X03c2		; 006F  C3 C2 03	CB.
;
X0072:	ld	a,fdccmdstatr	; 0072  3E D0		>P
	out	(fdccmdstatr),a	; 0074  D3 D0		SP
	ex	(sp),hl		; 0076  E3		c
	ex	(sp),hl		; 0077  E3		c
	ld	sp,X407d	; 0078  31 7D 40	1}@
	ld	a,1		; 007B  3E 01		>.
	out	(fdcdrvrcnt),a	; 007D  D3 D6		SV
	ld	a,3		; 007F  3E 03		>.
	out	(fdccmdstatr),a	; 0081  D3 D0		SP
	ld	bc,X0500	; 0083  01 00 05	...
	call	X0060		; 0086  CD 60 00	M`.
X0089:	in	a,(fdccmdstatr)	; 0089  DB D0		[P
	bit	0,a		; 008B  CB 47		KG
	jr	nz,X0089	; 008D  20 FA		 z
	xor	a		; 008F  AF		/
X0090:	out	(fdcsectreg),a	; 0090  D3 D2		SR
	out	(fdcdatareg),a	; 0092  D3 D7		SW
	ld	bc,X4200	; 0094  01 00 42	..B
	ld	a,crt6545adst	; 0097  3E 8C		>.
	out	(fdccmdstatr),a	; 0099  D3 D0		SP
X009b:	in	a,(fdccmdstatr)	; 009B  DB D0		[P
	bit	1,a		; 009D  CB 4F		KO
	jr	z,X009b		; 009F  28 FA		(z
	in	a,(fdcdatareg)	; 00A1  DB D7		[W
	ld	(bc),a		; 00A3  02		.
	inc	c		; 00A4  0C		.
	jr	nz,X009b	; 00A5  20 F4		 t
	ld	hl,X418e	; 00A7  21 8E 41	!.A
	ld	(hl),0c3h	; 00AA  36 C3		6C
	inc	hl		; 00AC  23		#
	ld	(hl),crtram3port; 00AD  36 8E		6.
	inc	hl		; 00AF  23		#
	ld	(hl),6		; 00B0  36 06		6.
	xor	a		; 00B2  AF		/
	ld	(X409f),a	; 00B3  32 9F 40	2.@
	jp	X4200		; 00B6  C3 00 42	C.B
;
	ORG	0bbh
;
	in	a,(fdccmdstatr)	; 00BB  DB D0		[P
	bit	1,a		; 00BD  CB 4F		KO
	ret			; 00BF  C9		I
;
X00c0:	nop			; 00C0  00		.
	or	a		; 00C1  B7		7
	jr	nz,X00d6	; 00C2  20 12		 .
	ld	hl,X434c	; 00C4  21 4C 43	!LC
X00c7:	inc	hl		; 00C7  23		#
	ld	a,h		; 00C8  7C		|
	or	l		; 00C9  B5		5
	jr	z,X00e7		; 00CA  28 1B		(.
	ld	a,(hl)		; 00CC  7E		~
	ld	b,a		; 00CD  47		G
	cpl			; 00CE  2F		/
	ld	(hl),a		; 00CF  77		w
	cp	(hl)		; 00D0  BE		>
	ld	(hl),b		; 00D1  70		p
	jr	z,X00c7		; 00D2  28 F3		(s
	jr	X00e7		; 00D4  18 11		..
;
X00d6:	call	X1e5a		; 00D6  CD 5A 1E	MZ.
	or	a		; 00D9  B7		7
	jp	nz,SNERR	; 00DA  C2 97 19	B..
	ex	de,hl		; 00DD  EB		k
	dec	hl		; 00DE  2B		+
	ld	a,crtbeepport	; 00DF  3E 8F		>.
	ld	b,(hl)		; 00E1  46		F
	ld	(hl),a		; 00E2  77		w
	cp	(hl)		; 00E3  BE		>
	ld	(hl),b		; 00E4  70		p
	jr	nz,X00b5	; 00E5  20 CE		 N
X00e7:	dec	hl		; 00E7  2B		+
X00e8:	ld	de,X4414	; 00E8  11 14 44	..D
	rst	18h		; 00EB  DF		_
	jp	c,X197a		; 00EC  DA 7A 19	Zz.
	ld	de,Xefce	; 00EF  11 CE EF	.No
	ld	(X40b1),hl	; 00F2  22 B1 40	"1@
	add	hl,de		; 00F5  19		.
	ld	(X40a0),hl	; 00F6  22 A0 40	" @
	call	X1b4d		; 00F9  CD 4D 1B	MM.
	jp	X1a19		; 00FC  C3 19 1A	C..
;
X00ff:	push	bc		; 00FF  C5		E
X0100:	ld	a,(X409d)	; 0100  3A 9D 40	:.@
	ld	c,a		; 0103  4F		O
	ld	b,0		; 0104  06 00		..
	call	X3bca		; 0106  CD CA 3B	MJ;
	pop	bc		; 0109  C1		A
	ld	a,l		; 010A  7D		}
	pop	hl		; 010B  E1		a
	ret			; 010C  C9		I
;
X010d:	push	hl		; 010D  E5		e
	ld	hl,(X4020)	; 010E  2A 20 40	* @
	ld	d,0		; 0111  16 00		..
	add	hl,de		; 0113  19		.
	jr	X00ff		; 0114  18 E9		.i
;
X0116:	call	X010d		; 0116  CD 0D 01	M..
	ld	e,a		; 0119  5F		_
	ret			; 011A  C9		I
;
X011b:	inc	hl		; 011B  23		#
	call	X0050		; 011C  CD 50 00	MP.
	dec	hl		; 011F  2B		+
	jp	X1b2c		; 0120  C3 2C 1B	C,.
;
	call	X0050		; 0123  CD 50 00	MP.
	jp	X6044		; 0126  C3 44 60	CD`
;
	ORG	12bh
;
	dec	c		; 012B  0D		.
X012c:	nop			; 012C  00		.
	ld	e,2ch		; 012D  1E 2C		.,
	jp	X19a2		; 012F  C3 A2 19	C".
;
X0132:	rst	10h		; 0132  D7		W
	xor	a		; 0133  AF		/
	ld	bc,X803e	; 0134  01 3E 80	.>.
	ld	bc,X403e	; 0137  01 3E 40	.>@
	ld	(X3ccb),a	; 013A  32 CB 3C	2K<
	xor	a		; 013D  AF		/
	ex	af,af'		; 013E  08		.
	ld	a,(hl)		; 013F  7E		~
	cp	1		; 0140  FE 01		~.
	jr	nz,X0149	; 0142  20 05		 .
	inc	hl		; 0144  23		#
	rst	8		; 0145  CF		O
	ld	b,18h		; 0146  06 18		..
	ex	af,af'		; 0148  08		.
X0149:	cp	9ch		; 0149  FE 9C		~.
	jr	z,X0151		; 014B  28 04		(.
X014d:	cp	0ddh		; 014D  FE DD		~]
	jr	nz,X0153	; 014F  20 02		 .
X0151:	ex	af,af'		; 0151  08		.
	rst	10h		; 0152  D7		W
X0153:	exx			; 0153  D9		Y
	ld	hl,X0028	; 0154  21 28 00	!(.
	ld	de,X0048	; 0157  11 48 00	.H.
	ld	bc,X0203	; 015A  01 03 02	...
	ld	a,(X303b)	; 015D  3A 3B 30	:;0
	bit	1,a		; 0160  CB 4F		KO
	jr	nz,X0165	; 0162  20 01		 .
	add	hl,hl		; 0164  29		)
X0165:	ld	a,(gram3b)	; 0165  3A 43 30	:C0
	ld	(X3c35),hl	; 0168  22 35 3C	"5<
	bit	4,a		; 016B  CB 67		Kg
	jr	nz,X0176	; 016D  20 07		 .
	add	hl,hl		; 016F  29		)
	ld	de,X0090	; 0170  11 90 00	...
	ld	bc,X0406	; 0173  01 06 04	...
X0176:	add	hl,hl		; 0176  29		)
	ld	(X018e),hl	; 0177  22 8E 01	"..
	jp	X3bd3		; 017A  C3 D3 3B	CS;
;
X017d:	rst	8		; 017D  CF		O
	jr	z,X014d		; 017E  28 CD		(M
	inc	e		; 0180  1C		.
	dec	hl		; 0181  2B		+
	cp	curpbuf		; 0182  FE 48		~H
	jp	nc,X1e4a	; 0184  D2 4A 1E	RJ.
	push	de		; 0187  D5		U
	rst	8		; 0188  CF		O
	inc	l		; 0189  2C		,
	call	X1e46		; 018A  CD 46 1E	MF.
	ld	bc,X0050	; 018D  01 50 00	.P.
X0190:	ex	de,hl		; 0190  EB		k
	push	hl		; 0191  E5		e
	sbc	hl,bc		; 0192  ED 42		mB
	pop	hl		; 0194  E1		a
	ex	de,hl		; 0195  EB		k
	jp	nc,X1e4a	; 0196  D2 4A 1E	RJ.
	rst	8		; 0199  CF		O
	add	hl,hl		; 019A  29		)
	pop	bc		; 019B  C1		A
	ret			; 019C  C9		I
;
X019d:	rst	10h		; 019D  D7		W
	push	hl		; 019E  E5		e
	ld	a,(X4099)	; 019F  3A 99 40	:.@
	or	a		; 01A2  B7		7
	jr	nz,X01ab	; 01A3  20 06		 .
	call	TSTBRK		; 01A5  CD 58 03	MX.
	or	a		; 01A8  B7		7
	jr	z,X01bc		; 01A9  28 11		(.
X01ab:	push	af		; 01AB  F5		u
	xor	a		; 01AC  AF		/
	ld	(X4099),a	; 01AD  32 99 40	2.@
	inc	a		; 01B0  3C		<
	call	X2857		; 01B1  CD 57 28	MW(
	pop	af		; 01B4  F1		q
	ld	hl,(X40d4)	; 01B5  2A D4 40	*T@
	ld	(hl),a		; 01B8  77		w
	jp	X2884		; 01B9  C3 84 28	C.(
;
X01bc:	ld	hl,X1928	; 01BC  21 28 19	!(.
	ld	(X4121),hl	; 01BF  22 21 41	"!A
	ld	a,3		; 01C2  3E 03		>.
	ld	(X40af),a	; 01C4  32 AF 40	2/@
	pop	hl		; 01C7  E1		a
	ret			; 01C8  C9		I
;
X01c9:	ld	a,1ch		; 01C9  3E 1C		>.
	call	X033a		; 01CB  CD 3A 03	M:.
	ld	a,1fh		; 01CE  3E 1F		>.
	jp	X033a		; 01D0  C3 3A 03	C:.
;
	ld	a,r		; 01D3  ED 5F		m_
	ld	(X40ab),a	; 01D5  32 AB 40	2+@
	ret			; 01D8  C9		I
;
X01d9:	rst	10h		; 01D9  D7		W
	call	X1bc0		; 01DA  CD C0 1B	M@.
	rst	10h		; 01DD  D7		W
	call	X2337		; 01DE  CD 37 23	M7#
	rst	20h		; 01E1  E7		g
	jp	z,SNERR		; 01E2  CA 97 19	J..
	call	X0204		; 01E5  CD 04 02	M..
	ld	a,99h		; 01E8  3E 99		>.
	ld	(X1e63),a	; 01EA  32 63 1E	2c.
	call	X1e5b		; 01ED  CD 5B 1E	M[.
	ld	a,98h		; 01F0  3E 98		>.
	ld	(X1e63),a	; 01F2  32 63 1E	2c.
	ld	hl,X412f	; 01F5  21 2F 41	!/A
X01f8:	rst	10h		; 01F8  D7		W
	cp	2dh		; 01F9  FE 2D		~-
	jr	nz,X0203	; 01FB  20 06		 .
	ld	hl,X0000	; 01FD  21 00 00	!..
	sbc	hl,de		; 0200  ED 52		mR
	ex	de,hl		; 0202  EB		k
X0203:	ret			; 0203  C9		I
;
X0204:	ld	(X0213),hl	; 0204  22 13 02	"..
	call	X0fbd		; 0207  CD BD 0F	M=.
	push	hl		; 020A  E5		e
	ld	hl,(X0213)	; 020B  2A 13 02	*..
	ld	(X40f3),hl	; 020E  22 F3 40	"s@
	pop	hl		; 0211  E1		a
	ret			; 0212  C9		I
;
X0213:	nop			; 0213  00		.
;
	ORG	215h
;
X0215:	ld	h,0		; 0215  26 00		&.
;
	defb	')'					; 0217
X0218:	defb	')))|'					; 0218
;
	call	X0224		; 021C  CD 24 02	M$.
	ld	a,l		; 021F  7D		}
	rra			; 0220  1F		.
	rra			; 0221  1F		.
	rra			; 0222  1F		.
	rra			; 0223  1F		.
X0224:	cp	0ah		; 0224  FE 0A		~.
	jr	c,X022a		; 0226  38 02		8.
	add	a,7		; 0228  C6 07		F.
X022a:	add	a,30h		; 022A  C6 30		F0
	ex	de,hl		; 022C  EB		k
	ld	(hl),a		; 022D  77		w
	inc	hl		; 022E  23		#
	ex	de,hl		; 022F  EB		k
	ret			; 0230  C9		I
;
X0231:	pop	bc		; 0231  C1		A
X0232:	call	X0a9a		; 0232  CD 9A 0A	M..
	ex	de,hl		; 0235  EB		k
	ld	hl,(X40f3)	; 0236  2A F3 40	*s@
	ret			; 0239  C9		I
;
X023a:	rst	10h		; 023A  D7		W
	cp	28h		; 023B  FE 28		~(
	jr	z,X027e		; 023D  28 3F		(?
	ld	a,0fh		; 023F  3E 0F		>.
	ex	af,af'		; 0241  08		.
X0242:	ld	b,5		; 0242  06 05		..
	ld	de,X0000	; 0244  11 00 00	...
	dec	hl		; 0247  2B		+
X0248:	rst	10h		; 0248  D7		W
	cp	22h		; 0249  FE 22		~"
	jr	z,X0248		; 024B  28 FB		({
	cp	67h		; 024D  FE 67		~g
	jr	nc,X0257	; 024F  30 06		0.
	cp	61h		; 0251  FE 61		~a
	jr	c,X0257		; 0253  38 02		8.
	sub	20h		; 0255  D6 20		V
X0257:	call	X1e3e		; 0257  CD 3E 1E	M>.
	ex	de,hl		; 025A  EB		k
	jr	nc,X0267	; 025B  30 0A		0.
	cp	rst7sp3		; 025D  FE 3A		~:
	jr	nc,X029f	; 025F  30 3E		0>
	sub	30h		; 0261  D6 30		V0
	jr	c,X029f		; 0263  38 3A		8:
	jr	X026d		; 0265  18 06		..
;
X0267:	cp	47h		; 0267  FE 47		~G
	jr	nc,X029f	; 0269  30 34		04
	sub	37h		; 026B  D6 37		V7
X026d:	add	hl,hl		; 026D  29		)
	add	hl,hl		; 026E  29		)
	add	hl,hl		; 026F  29		)
	add	hl,hl		; 0270  29		)
	or	l		; 0271  B5		5
	ld	l,a		; 0272  6F		o
	dec	b		; 0273  05		.
	jr	z,X0287		; 0274  28 11		(.
	ex	af,af'		; 0276  08		.
	dec	a		; 0277  3D		=
	jr	z,X029f		; 0278  28 25		(%
	ex	af,af'		; 027A  08		.
	ex	de,hl		; 027B  EB		k
	jr	X0248		; 027C  18 CA		.J
;
X027e:	call	X2338		; 027E  CD 38 23	M8#
	rst	8		; 0281  CF		O
	add	hl,hl		; 0282  29		)
	call	X388b		; 0283  CD 8B 38	M.8
	xor	d		; 0286  AA		*
X0287:	jp	z,SNERR		; 0287  CA 97 19	J..
	call	X09c4		; 028A  CD C4 09	MD.
	ld	hl,X0000	; 028D  21 00 00	!..
	ld	a,d		; 0290  7A		z
	or	a		; 0291  B7		7
	jr	z,X029f		; 0292  28 0B		(.
	ld	h,b		; 0294  60		`
	ld	l,c		; 0295  69		i
	cp	5		; 0296  FE 05		~.
	jr	c,X029c		; 0298  38 02		8.
	ld	a,4		; 029A  3E 04		>.
X029c:	ex	af,af'		; 029C  08		.
	jr	X0242		; 029D  18 A3		.#
;
X029f:	call	X0a9a		; 029F  CD 9A 0A	M..
	ex	de,hl		; 02A2  EB		k
	ret			; 02A3  C9		I
;
	ORG	2ach
;
	call	X65cd		; 02AC  CD CD 65	MMe
	call	X2338		; 02AF  CD 38 23	M8#
	rst	8		; 02B2  CF		O
	inc	l		; 02B3  2C		,
	push	hl		; 02B4  E5		e
	call	X29da		; 02B5  CD DA 29	MZ)
	xor	a		; 02B8  AF		/
	or	h		; 02B9  B4		4
	jp	z,SNERR		; 02BA  CA 97 19	J..
	call	X09c4		; 02BD  CD C4 09	MD.
	xor	a		; 02C0  AF		/
	or	d		; 02C1  B2		2
	jp	z,X1e4a		; 02C2  CA 4A 1E	JJ.
	ld	a,(bc)		; 02C5  0A		.
	ld	(X02f1),a	; 02C6  32 F1 02	2q.
	pop	hl		; 02C9  E1		a
	dec	hl		; 02CA  2B		+
	call	X2338		; 02CB  CD 38 23	M8#
	push	hl		; 02CE  E5		e
	call	X29da		; 02CF  CD DA 29	MZ)
	xor	a		; 02D2  AF		/
	or	h		; 02D3  B4		4
	jp	z,SNERR		; 02D4  CA 97 19	J..
	call	X09c4		; 02D7  CD C4 09	MD.
	xor	a		; 02DA  AF		/
	or	d		; 02DB  B2		2
	jp	z,X1e4a		; 02DC  CA 4A 1E	JJ.
	ld	a,(bc)		; 02DF  0A		.
	ld	hl,X02f1	; 02E0  21 F1 02	!q.
	cp	(hl)		; 02E3  BE		>
	jr	nc,X02e9	; 02E4  30 03		0.
	ld	b,a		; 02E6  47		G
	ld	a,(hl)		; 02E7  7E		~
	ld	(hl),b		; 02E8  70		p
X02e9:	inc	a		; 02E9  3C		<
	ld	(X02f5),a	; 02EA  32 F5 02	2u.
X02ed:	call	X37c6		; 02ED  CD C6 37	MF7
	cp	0		; 02F0  FE 00		~.
	jr	c,X02ed		; 02F2  38 F9		8y
	cp	0		; 02F4  FE 00		~.
	jr	nc,X02ed	; 02F6  30 F5		0u
	pop	hl		; 02F8  E1		a
	ex	(sp),hl		; 02F9  E3		c
	jp	X01ab		; 02FA  C3 AB 01	C+.
;
	call	X65cd		; 02FD  CD CD 65	MMe
X0300:	rst	10h		; 0300  D7		W
	ex	(sp),hl		; 0301  E3		c
	nop			; 0302  00		.
	call	X37c6		; 0303  CD C6 37	MF7
	jp	X01ab		; 0306  C3 AB 01	C+.
;
	ORG	30bh
;
	call	X20fe		; 030B  CD FE 20	M~
	ld	a,2ah		; 030E  3E 2A		>*
	call	X032a		; 0310  CD 2A 03	M*.
	ld	a,fsekbuf	; 0313  3E 3F		>?
	call	X032a		; 0315  CD 2A 03	M*.
X0318:	xor	a		; 0318  AF		/
	ld	(X4099),a	; 0319  32 99 40	2.@
	ld	(X40a6),a	; 031C  32 A6 40	2&@
	call	X5247		; 031F  CD 47 52	MGR
	jp	c,X06cc		; 0322  DA CC 06	ZL.
X0325:	call	X01d9		; 0325  CD D9 01	MY.
	push	de		; 0328  D5		U
	ret			; 0329  C9		I
;
X032a:	push	bc		; 032A  C5		E
	ld	c,a		; 032B  4F		O
	call	X41c1		; 032C  CD C1 41	MAA
	ld	a,(X409c)	; 032F  3A 9C 40	:.@
	or	a		; 0332  B7		7
	ld	a,c		; 0333  79		y
	pop	bc		; 0334  C1		A
	jp	m,X0264		; 0335  FA 64 02	zd.
	jr	nz,X039c	; 0338  20 62		 b
X033a:	push	de		; 033A  D5		U
	call	X0033		; 033B  CD 33 00	M3.
X033e:	push	af		; 033E  F5		u
	call	X0348		; 033F  CD 48 03	MH.
	ld	(X40a6),a	; 0342  32 A6 40	2&@
	pop	af		; 0345  F1		q
	pop	de		; 0346  D1		Q
	ret			; 0347  C9		I
;
X0348:	ld	a,(X403d)	; 0348  3A 3D 40	:=@
	and	8		; 034B  E6 08		f.
	push	hl		; 034D  E5		e
	ld	hl,(X4020)	; 034E  2A 20 40	* @
	jr	z,X0354		; 0351  28 01		(.
	add	hl,hl		; 0353  29		)
X0354:	jp	X00ff		; 0354  C3 FF 00	C..
;
	nop			; 0357  00		.
TSTBRK:	call	X41c4		; 0358  CD C4 41	MDA
X035b:	push	de		; 035B  D5		U
	call	X002b		; 035C  CD 2B 00	M+.
	pop	de		; 035F  D1		Q
	ret			; 0360  C9		I
;
X0361:	xor	a		; 0361  AF		/
	ld	(X4099),a	; 0362  32 99 40	2.@
	ld	(X40a6),a	; 0365  32 A6 40	2&@
	call	X41af		; 0368  CD AF 41	M/A
X036b:	push	bc		; 036B  C5		E
	ld	hl,(X40a7)	; 036C  2A A7 40	*'@
	ld	b,0f0h		; 036F  06 F0		.p
	call	X05d9		; 0371  CD D9 05	MY.
	push	af		; 0374  F5		u
X0375:	ld	c,b		; 0375  48		H
	ld	b,0		; 0376  06 00		..
	add	hl,bc		; 0378  09		.
X0379:	ld	(hl),0		; 0379  36 00		6.
	ld	hl,(X40a7)	; 037B  2A A7 40	*'@
	pop	af		; 037E  F1		q
	pop	bc		; 037F  C1		A
	dec	hl		; 0380  2B		+
	ret	c		; 0381  D8		X
	xor	a		; 0382  AF		/
	ret			; 0383  C9		I
;
X0384:	call	TSTBRK		; 0384  CD 58 03	MX.
X0387:	or	a		; 0387  B7		7
	ret	nz		; 0388  C0		@
	jr	X0384		; 0389  18 F9		.y
;
X038b:	xor	a		; 038B  AF		/
	ld	(X409c),a	; 038C  32 9C 40	2.@
	ld	a,(X409b)	; 038F  3A 9B 40	:.@
	or	a		; 0392  B7		7
	ret	z		; 0393  C8		H
	ld	a,0dh		; 0394  3E 0D		>.
	push	de		; 0396  D5		U
	call	X039c		; 0397  CD 9C 03	M..
	pop	de		; 039A  D1		Q
	ret			; 039B  C9		I
;
X039c:	push	af		; 039C  F5		u
	push	de		; 039D  D5		U
	push	bc		; 039E  C5		E
	ld	c,a		; 039F  4F		O
	ld	e,0		; 03A0  1E 00		..
	cp	0ch		; 03A2  FE 0C		~.
	jr	z,X03b6		; 03A4  28 10		(.
	nop			; 03A6  00		.
	nop			; 03A7  00		.
	nop			; 03A8  00		.
	nop			; 03A9  00		.
	nop			; 03AA  00		.
	nop			; 03AB  00		.
	nop			; 03AC  00		.
	cp	0dh		; 03AD  FE 0D		~.
	jr	z,X03b6		; 03AF  28 05		(.
	ld	a,(X409b)	; 03B1  3A 9B 40	:.@
	inc	a		; 03B4  3C		<
	ld	e,a		; 03B5  5F		_
X03b6:	ld	a,e		; 03B6  7B		{
	ld	(X409b),a	; 03B7  32 9B 40	2.@
	ld	a,c		; 03BA  79		y
	call	X003b		; 03BB  CD 3B 00	M;.
	pop	bc		; 03BE  C1		A
	pop	de		; 03BF  D1		Q
X03c0:	pop	af		; 03C0  F1		q
	ret			; 03C1  C9		I
;
X03c2:	push	hl		; 03C2  E5		e
	push	ix		; 03C3  DD E5		]e
	push	de		; 03C5  D5		U
	pop	ix		; 03C6  DD E1		]a
	push	de		; 03C8  D5		U
	ld	hl,X03dd	; 03C9  21 DD 03	!].
	push	hl		; 03CC  E5		e
	ld	c,a		; 03CD  4F		O
	ld	a,(de)		; 03CE  1A		.
	and	b		; 03CF  A0
	cp	b		; 03D0  B8		8
	jp	nz,X4033	; 03D1  C2 33 40	B3@
	cp	2		; 03D4  FE 02		~.
	ld	l,(ix+1)	; 03D6  DD 6E 01	]n.
	ld	h,(ix+2)	; 03D9  DD 66 02	]f.
	jp	(hl)		; 03DC  E9		i
;
X03dd:	pop	de		; 03DD  D1		Q
	pop	ix		; 03DE  DD E1		]a
	pop	hl		; 03E0  E1		a
	pop	bc		; 03E1  C1		A
	ret			; 03E2  C9		I
;
X03e3:	ld	a,(X3039)	; 03E3  3A 39 30	:90
	push	af		; 03E6  F5		u
	xor	a		; 03E7  AF		/
	ld	(X3039),a	; 03E8  32 39 30	290
	pop	af		; 03EB  F1		q
	or	a		; 03EC  B7		7
	ret	nz		; 03ED  C0		@
	jp	X386d		; 03EE  C3 6D 38	Cm8
;
X03f1:	cp	7fh		; 03F1  FE 7F		~.
	ret	nz		; 03F3  C0		@
	ld	a,1fh		; 03F4  3E 1F		>.
	ret			; 03F6  C9		I
;
	call	X340b		; 03F7  CD 0B 34	M.4
	ld	hl,(X303e)	; 03FA  2A 3E 30	*>0
	rst	10h		; 03FD  D7		W
	ret			; 03FE  C9		I
;
X03ff:	ld	a,0dh		; 03FF  3E 0D		>.
	call	X003b		; 0401  CD 3B 00	M;.
	ld	a,0ah		; 0404  3E 0A		>.
X0406:	call	X003b		; 0406  CD 3B 00	M;.
	exx			; 0409  D9		Y
	xor	a		; 040A  AF		/
	ret			; 040B  C9		I
;
	ORG	412h
;
X0412:	nop			; 0412  00		.
	xor	a		; 0413  AF		/
	ret			; 0414  C9		I
;
	out	(crtprntdat),a	; 0415  D3 81		S.
	ret			; 0417  C9		I
;
X0418:	call	X2b75		; 0418  CD 75 2B	Mu+
	call	X20fe		; 041B  CD FE 20	M~
X041e:	pop	bc		; 041E  C1		A
	jp	X2e7c		; 041F  C3 7C 2E	C|.
;
X0422:	exx			; 0422  D9		Y
	ld	a,rst7sp3	; 0423  3E 3A		>:
	call	X0033		; 0425  CD 33 00	M3.
	ld	hl,X326a	; 0428  21 6A 32	!j2
	ld	b,5		; 042B  06 05		..
	call	X05d9		; 042D  CD D9 05	MY.
	call	X1e4f		; 0430  CD 4F 1E	MO.
	pop	bc		; 0433  C1		A
	pop	hl		; 0434  E1		a
	push	de		; 0435  D5		U
	exx			; 0436  D9		Y
	call	X20fe		; 0437  CD FE 20	M~
	jp	X2e7c		; 043A  C3 7C 2E	C|.
;
X043d:	ld	hl,(X40a4)	; 043D  2A A4 40	*$@
	ret	z		; 0440  C8		H
	ex	de,hl		; 0441  EB		k
	call	X2337		; 0442  CD 37 23	M7#
	push	hl		; 0445  E5		e
	call	X0fbd		; 0446  CD BD 0F	M=.
	call	X1e4f		; 0449  CD 4F 1E	MO.
	call	X1b2c		; 044C  CD 2C 1B	M,.
	pop	de		; 044F  D1		Q
	ld	h,b		; 0450  60		`
	ld	l,c		; 0451  69		i
	ret			; 0452  C9		I
;
	nop			; 0453  00		.
	ld	bc,X0001	; 0454  01 01 00	...
	ret			; 0457  C9		I
;
	ld	l,(ix+3)	; 0458  DD 6E 03	]n.
	ld	h,(ix+4)	; 045B  DD 66 04	]f.
	ld	a,(ix+5)	; 045E  DD 7E 05	]~.
	jr	c,X0488		; 0461  38 25		8%
	or	a		; 0463  B7		7
	call	nz,X36e8	; 0464  C4 E8 36	Dh6
	ld	a,c		; 0467  79		y
	cp	20h		; 0468  FE 20		~
	jp	c,X0508		; 046A  DA 08 05	Z..
	call	X0546		; 046D  CD 46 05	MF.
X0470:	call	X048a		; 0470  CD 8A 04	M..
	ld	d,a		; 0473  57		W
	ld	a,(ix+5)	; 0474  DD 7E 05	]~.
	or	a		; 0477  B7		7
	jr	z,X0480		; 0478  28 06		(.
	call	X311f		; 047A  CD 1F 31	M.1
	ld	(ix+5),d	; 047D  DD 72 05	]r.
X0480:	ld	(ix+3),l	; 0480  DD 75 03	]u.
	ld	(ix+4),h	; 0483  DD 74 04	]t.
	ld	a,c		; 0486  79		y
	ret			; 0487  C9		I
;
X0488:	or	a		; 0488  B7		7
	ret	nz		; 0489  C0		@
X048a:	di			; 048A  F3		s
	push	hl		; 048B  E5		e
	call	X317a		; 048C  CD 7A 31	Mz1
	pop	hl		; 048F  E1		a
X0490:	in	a,(crt6545adst)	; 0490  DB 8C		[.
	bit	7,a		; 0492  CB 7F		K.
	jr	z,X0490		; 0494  28 FA		(z
	ex	(sp),hl		; 0496  E3		c
	ex	(sp),hl		; 0497  E3		c
	in	a,(crtram3port)	; 0498  DB 8E		[.
	bit	4,a		; 049A  CB 67		Kg
	in	a,(crtram0dat)	; 049C  DB 80		[.
	jr	nz,X04a2	; 049E  20 02		 .
	ld	a,20h		; 04A0  3E 20		>
X04a2:	push	af		; 04A2  F5		u
	xor	a		; 04A3  AF		/
	out	(crt6545data),a	; 04A4  D3 8D		S.
	pop	af		; 04A6  F1		q
	ei			; 04A7  FB		{
	ret			; 04A8  C9		I
;
X04a9:	push	bc		; 04A9  C5		E
	ld	bc,X0050	; 04AA  01 50 00	.P.
	call	X3bca		; 04AD  CD CA 3B	MJ;
	ld	l,0		; 04B0  2E 00		..
	ld	d,b		; 04B2  50		P
	ld	e,c		; 04B3  59		Y
	pop	bc		; 04B4  C1		A
X04b5:	ret	z		; 04B5  C8		H
	add	hl,de		; 04B6  19		.
	dec	a		; 04B7  3D		=
	jr	X04b5		; 04B8  18 FB		.{
;
X04ba:	ld	hl,X0000	; 04BA  21 00 00	!..
	ld	a,(X403d)	; 04BD  3A 3D 40	:=@
	and	0f7h		; 04C0  E6 F7		fw
	ld	(X403d),a	; 04C2  32 3D 40	2=@
	ret			; 04C5  C9		I
;
X04c6:	dec	hl		; 04C6  2B		+
	ld	a,(X403d)	; 04C7  3A 3D 40	:=@
	and	8		; 04CA  E6 08		f.
	jr	z,X04cf		; 04CC  28 01		(.
	dec	hl		; 04CE  2B		+
X04cf:	jp	X36e6		; 04CF  C3 E6 36	Cf6
;
X04d2:	ld	a,(X403d)	; 04D2  3A 3D 40	:=@
	and	8		; 04D5  E6 08		f.
	call	nz,X04da	; 04D7  C4 DA 04	DZ.
X04da:	call	X32f1		; 04DA  CD F1 32	Mq2
	dec	hl		; 04DD  2B		+
	ret	nz		; 04DE  C0		@
X04df:	ld	de,X0050	; 04DF  11 50 00	.P.
	add	hl,de		; 04E2  19		.
	ret			; 04E3  C9		I
;
X04e4:	call	X04df		; 04E4  CD DF 04	M_.
	push	de		; 04E7  D5		U
	call	X3710		; 04E8  CD 10 37	M.7
	pop	de		; 04EB  D1		Q
	ret	c		; 04EC  D8		X
	sbc	hl,de		; 04ED  ED 52		mR
	ret			; 04EF  C9		I
;
X04f0:	inc	hl		; 04F0  23		#
	call	X32f1		; 04F1  CD F1 32	Mq2
	ret	nz		; 04F4  C0		@
X04f5:	ld	de,Xffb0	; 04F5  11 B0 FF	.0.
	add	hl,de		; 04F8  19		.
	ret			; 04F9  C9		I
;
X04fa:	ld	a,(X403d)	; 04FA  3A 3D 40	:=@
	or	8		; 04FD  F6 08		v.
	ld	(X403d),a	; 04FF  32 3D 40	2=@
	inc	hl		; 0502  23		#
	ld	a,l		; 0503  7D		}
	and	0feh		; 0504  E6 FE		f~
	ld	l,a		; 0506  6F		o
	ret			; 0507  C9		I
;
X0508:	ld	de,X0470	; 0508  11 70 04	.p.
	push	de		; 050B  D5		U
	cp	8		; 050C  FE 08		~.
	jr	z,X04c6		; 050E  28 B6		(6
	cp	0ah		; 0510  FE 0A		~.
	ret	c		; 0512  D8		X
	cp	0eh		; 0513  FE 0E		~.
	jr	c,X055c		; 0515  38 45		8E
	jp	z,X311f		; 0517  CA 1F 31	J.1
	cp	0fh		; 051A  FE 0F		~.
	jp	z,X3130		; 051C  CA 30 31	J01
	cp	17h		; 051F  FE 17		~.
	jr	z,X04fa		; 0521  28 D7		(W
	cp	18h		; 0523  FE 18		~.
	jr	z,X04d2		; 0525  28 AB		(+
	cp	19h		; 0527  FE 19		~.
	jr	z,X04f0		; 0529  28 C5		(E
	cp	1ah		; 052B  FE 1A		~.
	jr	z,X04e4		; 052D  28 B5		(5
	cp	esc		; 052F  FE 1B		~.
	jp	z,X32f9		; 0531  CA F9 32	Jy2
	cp	1ch		; 0534  FE 1C		~.
	jr	z,X04ba		; 0536  28 82		(.
	cp	1dh		; 0538  FE 1D		~.
	jp	z,X04a9		; 053A  CA A9 04	J).
	cp	1eh		; 053D  FE 1E		~.
	jr	z,X056c		; 053F  28 2B		(+
	cp	1fh		; 0541  FE 1F		~.
	jr	z,X0576		; 0543  28 31		(1
	ret			; 0545  C9		I
;
X0546:	call	X36e8		; 0546  CD E8 36	Mh6
	inc	hl		; 0549  23		#
	ld	a,(X403d)	; 054A  3A 3D 40	:=@
	and	8		; 054D  E6 08		f.
	jr	z,X0552		; 054F  28 01		(.
	inc	hl		; 0551  23		#
X0552:	call	X3710		; 0552  CD 10 37	M.7
	ret	c		; 0555  D8		X
	call	X04f5		; 0556  CD F5 04	Mu.
	jp	X30f3		; 0559  C3 F3 30	Cs0
;
X055c:	call	X04a9		; 055C  CD A9 04	M).
	push	hl		; 055F  E5		e
	call	X04df		; 0560  CD DF 04	M_.
	call	X3710		; 0563  CD 10 37	M.7
	pop	de		; 0566  D1		Q
	ex	de,hl		; 0567  EB		k
	jp	nc,X30f3	; 0568  D2 F3 30	Rs0
	ex	de,hl		; 056B  EB		k
X056c:	push	hl		; 056C  E5		e
	call	X04a9		; 056D  CD A9 04	M).
	add	hl,de		; 0570  19		.
	ex	de,hl		; 0571  EB		k
	pop	hl		; 0572  E1		a
	push	hl		; 0573  E5		e
	jr	X057a		; 0574  18 04		..
;
X0576:	push	hl		; 0576  E5		e
	ld	de,X07d0	; 0577  11 D0 07	.P.
X057a:	di			; 057A  F3		s
	ex	de,hl		; 057B  EB		k
	sbc	hl,de		; 057C  ED 52		mR
	ex	de,hl		; 057E  EB		k
X057f:	push	de		; 057F  D5		U
	call	X317a		; 0580  CD 7A 31	Mz1
	pop	de		; 0583  D1		Q
X0584:	ld	a,d		; 0584  7A		z
	or	e		; 0585  B3		3
	jr	z,X0590		; 0586  28 08		(.
	ld	a,20h		; 0588  3E 20		>
	call	X36f7		; 058A  CD F7 36	Mw6
	dec	de		; 058D  1B		.
	jr	X0584		; 058E  18 F4		.t
;
X0590:	pop	hl		; 0590  E1		a
	ei			; 0591  FB		{
	ret			; 0592  C9		I
;
	ld	a,c		; 0593  79		y
	or	a		; 0594  B7		7
	ret	z		; 0595  C8		H
	cp	0bh		; 0596  FE 0B		~.
	jr	z,X05a4		; 0598  28 0A		(.
	cp	0ch		; 059A  FE 0C		~.
	jr	nz,X05b9	; 059C  20 1B		 .
	xor	a		; 059E  AF		/
	or	(ix+3)		; 059F  DD B6 03	]6.
	jr	z,X05b9		; 05A2  28 15		(.
X05a4:	ld	a,(ix+3)	; 05A4  DD 7E 03	]~.
	sub	(ix+4)		; 05A7  DD 96 04	]..
	ld	b,a		; 05AA  47		G
X05ab:	in	a,(crtservdat)	; 05AB  DB 89		[.
	bit	0,a		; 05AD  CB 47		KG
	jr	nz,X05ab	; 05AF  20 FA		 z
	ld	a,0ah		; 05B1  3E 0A		>.
	out	(crtprntdat),a	; 05B3  D3 81		S.
	djnz	X05ab		; 05B5  10 F4		.t
	jr	X05d4		; 05B7  18 1B		..
;
X05b9:	in	a,(crtservdat)	; 05B9  DB 89		[.
	bit	0,a		; 05BB  CB 47		KG
	jr	nz,X05b9	; 05BD  20 FA		 z
	ld	a,c		; 05BF  79		y
	out	(crtprntdat),a	; 05C0  D3 81		S.
	cp	0dh		; 05C2  FE 0D		~.
	jr	z,X05c9		; 05C4  28 03		(.
	cp	0ah		; 05C6  FE 0A		~.
	ret	nz		; 05C8  C0		@
X05c9:	inc	(ix+4)		; 05C9  DD 34 04	]4.
	ld	a,(ix+4)	; 05CC  DD 7E 04	]~.
	cp	(ix+3)		; 05CF  DD BE 03	]>.
	ld	a,c		; 05D2  79		y
	ret	nz		; 05D3  C0		@
X05d4:	ld	(ix+4),0	; 05D4  DD 36 04 00	]6..
	ret			; 05D8  C9		I
;
X05d9:	push	hl		; 05D9  E5		e
	ld	a,0eh		; 05DA  3E 0E		>.
	call	X0033		; 05DC  CD 33 00	M3.
	ld	c,b		; 05DF  48		H
X05e0:	call	X32bf		; 05E0  CD BF 32	M?2
X05e3:	cp	20h		; 05E3  FE 20		~
	jr	nc,X060c	; 05E5  30 25		0%
	cp	0dh		; 05E7  FE 0D		~.
	jp	z,X0662		; 05E9  CA 62 06	Jb.
	cp	1fh		; 05EC  FE 1F		~.
	jr	z,X0619		; 05EE  28 29		()
	cp	1		; 05F0  FE 01		~.
	jr	z,X0661		; 05F2  28 6D		(m
	ld	de,X05e0	; 05F4  11 E0 05	.`.
	push	de		; 05F7  D5		U
	cp	8		; 05F8  FE 08		~.
	jr	z,X0630		; 05FA  28 34		(4
	cp	6		; 05FC  FE 06		~.
	jr	z,X062b		; 05FE  28 2B		(+
X0600:	cp	9		; 0600  FE 09		~.
	jr	z,X0646		; 0602  28 42		(B
	cp	0ah		; 0604  FE 0A		~.
	jr	z,X060b		; 0606  28 03		(.
	jp	X3320		; 0608  C3 20 33	C 3
;
X060b:	pop	de		; 060B  D1		Q
X060c:	ld	(hl),a		; 060C  77		w
	ld	a,b		; 060D  78		x
	or	a		; 060E  B7		7
	jr	z,X05e0		; 060F  28 CF		(O
	ld	a,(hl)		; 0611  7E		~
	inc	hl		; 0612  23		#
	call	X0033		; 0613  CD 33 00	M3.
	dec	b		; 0616  05		.
	jr	X05e0		; 0617  18 C7		.G
;
X0619:	call	X01c9		; 0619  CD C9 01	MI.
	ld	b,c		; 061C  41		A
	pop	hl		; 061D  E1		a
X061e:	push	hl		; 061E  E5		e
	jp	X05e0		; 061F  C3 E0 05	C`.
;
X0622:	call	X0630		; 0622  CD 30 06	M0.
	dec	hl		; 0625  2B		+
	ld	a,(hl)		; 0626  7E		~
	inc	hl		; 0627  23		#
	cp	0ah		; 0628  FE 0A		~.
	ret	z		; 062A  C8		H
X062b:	ld	a,b		; 062B  78		x
	cp	c		; 062C  B9		9
	jr	nz,X0622	; 062D  20 F3		 s
	ret			; 062F  C9		I
;
X0630:	ld	a,b		; 0630  78		x
	cp	c		; 0631  B9		9
	ret	z		; 0632  C8		H
	dec	hl		; 0633  2B		+
	ld	a,(hl)		; 0634  7E		~
	cp	0ah		; 0635  FE 0A		~.
	inc	hl		; 0637  23		#
	ret	z		; 0638  C8		H
	dec	hl		; 0639  2B		+
	ld	a,8		; 063A  3E 08		>.
	call	X0033		; 063C  CD 33 00	M3.
	inc	b		; 063F  04		.
	ret			; 0640  C9		I
;
	ld	a,17h		; 0641  3E 17		>.
	jp	X0033		; 0643  C3 33 00	C3.
;
X0646:	call	X0348		; 0646  CD 48 03	MH.
	and	7		; 0649  E6 07		f.
	cpl			; 064B  2F		/
	inc	a		; 064C  3C		<
	add	a,8		; 064D  C6 08		F.
	ld	e,a		; 064F  5F		_
X0650:	ld	a,b		; 0650  78		x
	or	a		; 0651  B7		7
	ret	z		; 0652  C8		H
	ld	a,20h		; 0653  3E 20		>
	ld	(hl),a		; 0655  77		w
	inc	hl		; 0656  23		#
	push	de		; 0657  D5		U
	call	X0033		; 0658  CD 33 00	M3.
	pop	de		; 065B  D1		Q
	dec	b		; 065C  05		.
	dec	e		; 065D  1D		.
	ret	z		; 065E  C8		H
	jr	X0650		; 065F  18 EF		.o
;
X0661:	scf			; 0661  37		7
X0662:	push	af		; 0662  F5		u
	ld	a,0dh		; 0663  3E 0D		>.
	ld	(hl),a		; 0665  77		w
	call	X0033		; 0666  CD 33 00	M3.
	ld	a,0fh		; 0669  3E 0F		>.
	call	X0033		; 066B  CD 33 00	M3.
	ld	a,c		; 066E  79		y
	sub	b		; 066F  90		.
	ld	b,a		; 0670  47		G
	pop	af		; 0671  F1		q
	pop	hl		; 0672  E1		a
	jp	X3846		; 0673  C3 46 38	CF8
;
X0676:	ld	hl,X06d2	; 0676  21 D2 06	!R.
	ld	de,X4000	; 0679  11 00 40	..@
	ld	bc,X0036	; 067C  01 36 00	.6.
	ldir			; 067F  ED B0		m0
	nop			; 0681  00		.
	nop			; 0682  00		.
	nop			; 0683  00		.
	xor	a		; 0684  AF		/
	ld	b,27h		; 0685  06 27		.'
X0687:	ld	(de),a		; 0687  12		.
	inc	de		; 0688  13		.
	djnz	X0687		; 0689  10 FC		.|
	jp	X0072		; 068B  C3 72 00	Cr.
;
X068e:	ld	bc,X802a	; 068E  01 2A 80	.*.
	ld	de,X0000	; 0691  11 00 00	...
	call	X09b4		; 0694  CD B4 09	M4.
;
	defb	':;0'					; 0697
;
	bit	1,a		; 069A  CB 4F		KO
	jr	z,X06a4		; 069C  28 06		(.
	call	X09bf		; 069E  CD BF 09	M?.
	call	X0716		; 06A1  CD 16 07	M..
X06a4:	call	X0da1		; 06A4  CD A1 0D	M!.
	jp	X0a7f		; 06A7  C3 7F 0A	C..
;
	ORG	6ach
;
	push	hl		; 06AC  E5		e
	ld	hl,X409f	; 06AD  21 9F 40	!.@
	add	a,(hl)		; 06B0  86		.
	pop	hl		; 06B1  E1		a
;
	defb	'w#:=@'					; 06B2
;
	ret			; 06B7  C9		I
;
	defb	0					; 06B8 .
;
	ORG	6beh
;
	jp	nc,X1e4a	; 06BE  D2 4A 1E	RJ.
	add	a,25h		; 06C1  C6 25		F%
	cp	25h		; 06C3  FE 25		~%
	jr	z,X06c9		; 06C5  28 02		(.
	sub	xonc		; 06C7  D6 11		V.
X06c9:	ret			; 06C9  C9		I
;
	ORG	6cch
;
X06cc:	ld	bc,X1a18	; 06CC  01 18 1A	...
	jp	X19ae		; 06CF  C3 AE 19	C..
;
X06d2:	jp	X1c96		; 06D2  C3 96 1C	C..
;
	jp	GETCHR		; 06D5  C3 78 1D	Cx.
;
	jp	X1c90		; 06D8  C3 90 1C	C..
;
	jp	X25d9		; 06DB  C3 D9 25	CY%
;
	ret			; 06DE  C9		I
;
	ORG	6e1h
;
	ret			; 06E1  C9		I
;
	ORG	6e4h
;
	ei			; 06E4  FB		{
	ret			; 06E5  C9		I
;
	nop			; 06E6  00		.
	ld	bc,X03e3	; 06E7  01 E3 03	.c.
	nop			; 06EA  00		.
	nop			; 06EB  00		.
	nop			; 06EC  00		.
	ld	c,e		; 06ED  4B		K
	ld	c,c		; 06EE  49		I
	rlca			; 06EF  07		.
	ld	e,b		; 06F0  58		X
	inc	b		; 06F1  04		.
	nop			; 06F2  00		.
	call	pe,X4400	; 06F3  EC 00 44	l.D
	ld	c,a		; 06F6  4F		O
	ld	b,93h		; 06F7  06 93		..
	dec	b		; 06F9  05		.
	ld	b,e		; 06FA  43		C
	nop			; 06FB  00		.
	nop			; 06FC  00		.
	ld	d,b		; 06FD  50		P
	ld	d,d		; 06FE  52		R
	jp	X5000		; 06FF  C3 00 50	C.P
;
	rst	0		; 0702  C7		G
	nop			; 0703  00		.
	nop			; 0704  00		.
	ld	a,0		; 0705  3E 00		>.
	ret			; 0707  C9		I
;
X0708:	ld	hl,X1380	; 0708  21 80 13	!..
X070b:	call	X09c2		; 070B  CD C2 09	MB.
	jr	X0716		; 070E  18 06		..
;
X0710:	call	X09c2		; 0710  CD C2 09	MB.
X0713:	call	X0982		; 0713  CD 82 09	M..
X0716:	ld	a,b		; 0716  78		x
	or	a		; 0717  B7		7
	ret	z		; 0718  C8		H
	ld	a,(X4124)	; 0719  3A 24 41	:$A
	or	a		; 071C  B7		7
	jp	z,X09b4		; 071D  CA B4 09	J4.
	sub	b		; 0720  90		.
	jr	nc,X072f	; 0721  30 0C		0.
	cpl			; 0723  2F		/
	inc	a		; 0724  3C		<
	ex	de,hl		; 0725  EB		k
	call	X09a4		; 0726  CD A4 09	M$.
	ex	de,hl		; 0729  EB		k
	call	X09b4		; 072A  CD B4 09	M4.
	pop	bc		; 072D  C1		A
	pop	de		; 072E  D1		Q
X072f:	cp	19h		; 072F  FE 19		~.
	ret	nc		; 0731  D0		P
	push	af		; 0732  F5		u
	call	X09df		; 0733  CD DF 09	M_.
	ld	h,a		; 0736  67		g
	pop	af		; 0737  F1		q
	call	X07d7		; 0738  CD D7 07	MW.
	or	h		; 073B  B4		4
	ld	hl,X4121	; 073C  21 21 41	!!A
	jp	p,X0754		; 073F  F2 54 07	rT.
	call	X07b7		; 0742  CD B7 07	M7.
	jp	nc,X0796	; 0745  D2 96 07	R..
	inc	hl		; 0748  23		#
	inc	(hl)		; 0749  34		4
	jp	z,X07b2		; 074A  CA B2 07	J2.
	ld	l,1		; 074D  2E 01		..
	call	X07eb		; 074F  CD EB 07	Mk.
	jr	X0796		; 0752  18 42		.B
;
X0754:	xor	a		; 0754  AF		/
	sub	b		; 0755  90		.
	ld	b,a		; 0756  47		G
	ld	a,(hl)		; 0757  7E		~
	sbc	a,e		; 0758  9B		.
	ld	e,a		; 0759  5F		_
	inc	hl		; 075A  23		#
	ld	a,(hl)		; 075B  7E		~
	sbc	a,d		; 075C  9A		.
	ld	d,a		; 075D  57		W
	inc	hl		; 075E  23		#
	ld	a,(hl)		; 075F  7E		~
	sbc	a,c		; 0760  99		.
	ld	c,a		; 0761  4F		O
X0762:	call	c,X07c3		; 0762  DC C3 07	\C.
X0765:	ld	l,b		; 0765  68		h
	ld	h,e		; 0766  63		c
	xor	a		; 0767  AF		/
X0768:	ld	b,a		; 0768  47		G
	ld	a,c		; 0769  79		y
	or	a		; 076A  B7		7
	jr	nz,X0785	; 076B  20 18		 .
	ld	c,d		; 076D  4A		J
	ld	d,h		; 076E  54		T
	ld	h,l		; 076F  65		e
	ld	l,a		; 0770  6F		o
	ld	a,b		; 0771  78		x
	sub	8		; 0772  D6 08		V.
	cp	0e0h		; 0774  FE E0		~`
	jr	nz,X0768	; 0776  20 F0		 p
X0778:	xor	a		; 0778  AF		/
X0779:	ld	(X4124),a	; 0779  32 24 41	2$A
	ret			; 077C  C9		I
;
X077d:	dec	b		; 077D  05		.
	add	hl,hl		; 077E  29		)
X077f:	ld	a,d		; 077F  7A		z
X0780:	rla			; 0780  17		.
	ld	d,a		; 0781  57		W
	ld	a,c		; 0782  79		y
	adc	a,a		; 0783  8F		.
	ld	c,a		; 0784  4F		O
X0785:	jp	p,X077d		; 0785  F2 7D 07	r}.
	ld	a,b		; 0788  78		x
	ld	e,h		; 0789  5C		\
	ld	b,l		; 078A  45		E
X078b:	or	a		; 078B  B7		7
	jr	z,X0796		; 078C  28 08		(.
	ld	hl,X4124	; 078E  21 24 41	!$A
	add	a,(hl)		; 0791  86		.
	ld	(hl),a		; 0792  77		w
	jr	nc,X0778	; 0793  30 E3		0c
	ret	z		; 0795  C8		H
X0796:	ld	a,b		; 0796  78		x
X0797:	ld	hl,X4124	; 0797  21 24 41	!$A
	or	a		; 079A  B7		7
	call	m,X07a8		; 079B  FC A8 07	|(.
	ld	b,(hl)		; 079E  46		F
	inc	hl		; 079F  23		#
	ld	a,(hl)		; 07A0  7E		~
	and	crtram0dat	; 07A1  E6 80		f.
	xor	c		; 07A3  A9		)
	ld	c,a		; 07A4  4F		O
	jp	X09b4		; 07A5  C3 B4 09	C4.
;
X07a8:	inc	e		; 07A8  1C		.
	ret	nz		; 07A9  C0		@
	inc	d		; 07AA  14		.
	ret	nz		; 07AB  C0		@
	inc	c		; 07AC  0C		.
	ret	nz		; 07AD  C0		@
	ld	c,crtram0dat	; 07AE  0E 80		..
	inc	(hl)		; 07B0  34		4
	ret	nz		; 07B1  C0		@
X07b2:	ld	e,0ah		; 07B2  1E 0A		..
	jp	X19a2		; 07B4  C3 A2 19	C".
;
X07b7:	ld	a,(hl)		; 07B7  7E		~
	add	a,e		; 07B8  83		.
	ld	e,a		; 07B9  5F		_
	inc	hl		; 07BA  23		#
	ld	a,(hl)		; 07BB  7E		~
	adc	a,d		; 07BC  8A		.
	ld	d,a		; 07BD  57		W
	inc	hl		; 07BE  23		#
	ld	a,(hl)		; 07BF  7E		~
	adc	a,c		; 07C0  89		.
	ld	c,a		; 07C1  4F		O
	ret			; 07C2  C9		I
;
X07c3:	ld	hl,X4125	; 07C3  21 25 41	!%A
	ld	a,(hl)		; 07C6  7E		~
	cpl			; 07C7  2F		/
	ld	(hl),a		; 07C8  77		w
	xor	a		; 07C9  AF		/
	ld	l,a		; 07CA  6F		o
	sub	b		; 07CB  90		.
	ld	b,a		; 07CC  47		G
	ld	a,l		; 07CD  7D		}
	sbc	a,e		; 07CE  9B		.
	ld	e,a		; 07CF  5F		_
X07d0:	ld	a,l		; 07D0  7D		}
	sbc	a,d		; 07D1  9A		.
	ld	d,a		; 07D2  57		W
	ld	a,l		; 07D3  7D		}
	sbc	a,c		; 07D4  99		.
	ld	c,a		; 07D5  4F		O
	ret			; 07D6  C9		I
;
X07d7:	ld	b,0		; 07D7  06 00		..
X07d9:	sub	8		; 07D9  D6 08		V.
	jr	c,X07e4		; 07DB  38 07		8.
	ld	b,e		; 07DD  43		C
	ld	e,d		; 07DE  5A		Z
	ld	d,c		; 07DF  51		Q
	ld	c,0		; 07E0  0E 00		..
	jr	X07d9		; 07E2  18 F5		.u
;
X07e4:	add	a,9		; 07E4  C6 09		F.
	ld	l,a		; 07E6  6F		o
X07e7:	xor	a		; 07E7  AF		/
	dec	l		; 07E8  2D		-
	ret	z		; 07E9  C8		H
	ld	a,c		; 07EA  79		y
X07eb:	rra			; 07EB  1F		.
	ld	c,a		; 07EC  4F		O
	ld	a,d		; 07ED  7A		z
	rra			; 07EE  1F		.
	ld	d,a		; 07EF  57		W
	ld	a,e		; 07F0  7B		{
	rra			; 07F1  1F		.
	ld	e,a		; 07F2  5F		_
	ld	a,b		; 07F3  78		x
	rra			; 07F4  1F		.
	ld	b,a		; 07F5  47		G
	jr	X07e7		; 07F6  18 EF		.o
;
X07f8:	nop			; 07F8  00		.
;
	ORG	7fbh
;
	add	a,c		; 07FB  81		.
X07fc:	inc	bc		; 07FC  03		.
	xor	d		; 07FD  AA		*
	ld	d,(hl)		; 07FE  56		V
	add	hl,de		; 07FF  19		.
X0800:	add	a,b		; 0800  80		.
	pop	af		; 0801  F1		q
	ld	(X8076),hl	; 0802  22 76 80	"v.
	ld	b,l		; 0805  45		E
	xor	d		; 0806  AA		*
	jr	c,X078b		; 0807  38 82		8.
X0809:	call	X0955		; 0809  CD 55 09	MU.
	or	a		; 080C  B7		7
	jp	pe,X1e4a	; 080D  EA 4A 1E	jJ.
	ld	hl,X4124	; 0810  21 24 41	!$A
	ld	a,(hl)		; 0813  7E		~
	ld	bc,X8035	; 0814  01 35 80	.5.
	ld	de,X04f3	; 0817  11 F3 04	.s.
	sub	b		; 081A  90		.
	push	af		; 081B  F5		u
	ld	(hl),b		; 081C  70		p
	push	de		; 081D  D5		U
X081e:	push	bc		; 081E  C5		E
	call	X0716		; 081F  CD 16 07	M..
	pop	bc		; 0822  C1		A
	pop	de		; 0823  D1		Q
	inc	b		; 0824  04		.
	call	X08a2		; 0825  CD A2 08	M".
	ld	hl,X07f8	; 0828  21 F8 07	!x.
	call	X0710		; 082B  CD 10 07	M..
	ld	hl,X07fc	; 082E  21 FC 07	!|.
	call	X149a		; 0831  CD 9A 14	M..
	ld	bc,X8080	; 0834  01 80 80	...
	ld	de,X0000	; 0837  11 00 00	...
	call	X0716		; 083A  CD 16 07	M..
	pop	af		; 083D  F1		q
X083e:	call	X0f89		; 083E  CD 89 0F	M..
X0841:	ld	bc,X8031	; 0841  01 31 80	.1.
	ld	de,X7218	; 0844  11 18 72	..r
X0847:	call	X0955		; 0847  CD 55 09	MU.
	ret	z		; 084A  C8		H
	ld	l,0		; 084B  2E 00		..
	call	X0914		; 084D  CD 14 09	M..
	ld	a,c		; 0850  79		y
	ld	(X414f),a	; 0851  32 4F 41	2OA
	ex	de,hl		; 0854  EB		k
	ld	(X4150),hl	; 0855  22 50 41	"PA
	ld	bc,X0000	; 0858  01 00 00	...
	ld	d,b		; 085B  50		P
	ld	e,b		; 085C  58		X
	ld	hl,X0765	; 085D  21 65 07	!e.
	push	hl		; 0860  E5		e
	ld	hl,X0869	; 0861  21 69 08	!i.
	push	hl		; 0864  E5		e
	push	hl		; 0865  E5		e
	ld	hl,X4121	; 0866  21 21 41	!!A
X0869:	ld	a,(hl)		; 0869  7E		~
	inc	hl		; 086A  23		#
	or	a		; 086B  B7		7
	jr	z,X0892		; 086C  28 24		($
	push	hl		; 086E  E5		e
	ld	l,8		; 086F  2E 08		..
X0871:	rra			; 0871  1F		.
	ld	h,a		; 0872  67		g
	ld	a,c		; 0873  79		y
	jr	nc,X0881	; 0874  30 0B		0.
	push	hl		; 0876  E5		e
	ld	hl,(X4150)	; 0877  2A 50 41	*PA
	add	hl,de		; 087A  19		.
	ex	de,hl		; 087B  EB		k
	pop	hl		; 087C  E1		a
	ld	a,(X414f)	; 087D  3A 4F 41	:OA
	adc	a,c		; 0880  89		.
X0881:	rra			; 0881  1F		.
	ld	c,a		; 0882  4F		O
	ld	a,d		; 0883  7A		z
	rra			; 0884  1F		.
	ld	d,a		; 0885  57		W
	ld	a,e		; 0886  7B		{
	rra			; 0887  1F		.
	ld	e,a		; 0888  5F		_
	ld	a,b		; 0889  78		x
	rra			; 088A  1F		.
	ld	b,a		; 088B  47		G
	dec	l		; 088C  2D		-
	ld	a,h		; 088D  7C		|
	jr	nz,X0871	; 088E  20 E1		 a
X0890:	pop	hl		; 0890  E1		a
	ret			; 0891  C9		I
;
X0892:	ld	b,e		; 0892  43		C
	ld	e,d		; 0893  5A		Z
	ld	d,c		; 0894  51		Q
	ld	c,a		; 0895  4F		O
	ret			; 0896  C9		I
;
X0897:	call	X09a4		; 0897  CD A4 09	M$.
	ld	hl,X0dd8	; 089A  21 D8 0D	!X.
	call	X09b1		; 089D  CD B1 09	M1.
X08a0:	pop	bc		; 08A0  C1		A
	pop	de		; 08A1  D1		Q
X08a2:	call	X0955		; 08A2  CD 55 09	MU.
	jp	z,X199a		; 08A5  CA 9A 19	J..
	ld	l,0ffh		; 08A8  2E FF		..
	call	X0914		; 08AA  CD 14 09	M..
	inc	(hl)		; 08AD  34		4
	inc	(hl)		; 08AE  34		4
	dec	hl		; 08AF  2B		+
	ld	a,(hl)		; 08B0  7E		~
	ld	(X4089),a	; 08B1  32 89 40	2.@
	dec	hl		; 08B4  2B		+
	ld	a,(hl)		; 08B5  7E		~
	ld	(X4085),a	; 08B6  32 85 40	2.@
	dec	hl		; 08B9  2B		+
	ld	a,(hl)		; 08BA  7E		~
	ld	(X4081),a	; 08BB  32 81 40	2.@
	ld	b,c		; 08BE  41		A
	ex	de,hl		; 08BF  EB		k
	xor	a		; 08C0  AF		/
	ld	c,a		; 08C1  4F		O
	ld	d,a		; 08C2  57		W
	ld	e,a		; 08C3  5F		_
	ld	(X408c),a	; 08C4  32 8C 40	2.@
X08c7:	push	hl		; 08C7  E5		e
	push	bc		; 08C8  C5		E
	ld	a,l		; 08C9  7D		}
	call	X4080		; 08CA  CD 80 40	M.@
	sbc	a,0		; 08CD  DE 00		^.
	ccf			; 08CF  3F		?
	jr	nc,X08d9	; 08D0  30 07		0.
	ld	(X408c),a	; 08D2  32 8C 40	2.@
	pop	af		; 08D5  F1		q
	pop	af		; 08D6  F1		q
	scf			; 08D7  37		7
	ld	(bc),a		; 08D8  02		.
X08d9:	pop	bc		; 08D9  C1		A
	pop	hl		; 08DA  E1		a
	ld	a,c		; 08DB  79		y
	inc	a		; 08DC  3C		<
	dec	a		; 08DD  3D		=
	rra			; 08DE  1F		.
	jp	m,X0797		; 08DF  FA 97 07	z..
	rla			; 08E2  17		.
	ld	a,e		; 08E3  7B		{
	rla			; 08E4  17		.
	ld	e,a		; 08E5  5F		_
	ld	a,d		; 08E6  7A		z
	rla			; 08E7  17		.
	ld	d,a		; 08E8  57		W
	ld	a,c		; 08E9  79		y
	rla			; 08EA  17		.
	ld	c,a		; 08EB  4F		O
	add	hl,hl		; 08EC  29		)
	ld	a,b		; 08ED  78		x
	rla			; 08EE  17		.
	ld	b,a		; 08EF  47		G
	ld	a,(X408c)	; 08F0  3A 8C 40	:.@
	rla			; 08F3  17		.
	ld	(X408c),a	; 08F4  32 8C 40	2.@
	ld	a,c		; 08F7  79		y
	or	d		; 08F8  B2		2
	or	e		; 08F9  B3		3
	jr	nz,X08c7	; 08FA  20 CB		 K
	push	hl		; 08FC  E5		e
	ld	hl,X4124	; 08FD  21 24 41	!$A
	dec	(hl)		; 0900  35		5
	pop	hl		; 0901  E1		a
	jr	nz,X08c7	; 0902  20 C3		 C
	jp	X07b2		; 0904  C3 B2 07	C2.
;
X0907:	ld	a,0ffh		; 0907  3E FF		>.
	ld	l,0afh		; 0909  2E AF		./
	ld	hl,X412d	; 090B  21 2D 41	!-A
	ld	c,(hl)		; 090E  4E		N
	inc	hl		; 090F  23		#
	xor	(hl)		; 0910  AE		.
	ld	b,a		; 0911  47		G
	ld	l,0		; 0912  2E 00		..
X0914:	ld	a,b		; 0914  78		x
	or	a		; 0915  B7		7
	jr	z,X0937		; 0916  28 1F		(.
	ld	a,l		; 0918  7D		}
	ld	hl,X4124	; 0919  21 24 41	!$A
	xor	(hl)		; 091C  AE		.
	add	a,b		; 091D  80		.
	ld	b,a		; 091E  47		G
	rra			; 091F  1F		.
	xor	b		; 0920  A8		(
	ld	a,b		; 0921  78		x
	jp	p,X0936		; 0922  F2 36 09	r6.
	add	a,crtram0dat	; 0925  C6 80		F.
	ld	(hl),a		; 0927  77		w
	jp	z,X0890		; 0928  CA 90 08	J..
	call	X09df		; 092B  CD DF 09	M_.
	ld	(hl),a		; 092E  77		w
X092f:	dec	hl		; 092F  2B		+
	ret			; 0930  C9		I
;
X0931:	call	X0955		; 0931  CD 55 09	MU.
	cpl			; 0934  2F		/
	pop	hl		; 0935  E1		a
X0936:	or	a		; 0936  B7		7
X0937:	pop	hl		; 0937  E1		a
	jp	p,X0778		; 0938  F2 78 07	rx.
	jp	X07b2		; 093B  C3 B2 07	C2.
;
X093e:	call	X09bf		; 093E  CD BF 09	M?.
	ld	a,b		; 0941  78		x
	or	a		; 0942  B7		7
	ret	z		; 0943  C8		H
	add	a,2		; 0944  C6 02		F.
	jp	c,X07b2		; 0946  DA B2 07	Z2.
	ld	b,a		; 0949  47		G
	call	X0716		; 094A  CD 16 07	M..
	ld	hl,X4124	; 094D  21 24 41	!$A
	inc	(hl)		; 0950  34		4
	ret	nz		; 0951  C0		@
	jp	X07b2		; 0952  C3 B2 07	C2.
;
X0955:	ld	a,(X4124)	; 0955  3A 24 41	:$A
	or	a		; 0958  B7		7
	ret	z		; 0959  C8		H
	ld	a,(X4123)	; 095A  3A 23 41	:#A
	cp	2fh		; 095D  FE 2F		~/
X095f:	rla			; 095F  17		.
X0960:	sbc	a,a		; 0960  9F		.
	ret	nz		; 0961  C0		@
	inc	a		; 0962  3C		<
	ret			; 0963  C9		I
;
X0964:	ld	b,crtram2dat	; 0964  06 88		..
	ld	de,X0000	; 0966  11 00 00	...
X0969:	ld	hl,X4124	; 0969  21 24 41	!$A
	ld	c,a		; 096C  4F		O
	ld	(hl),b		; 096D  70		p
	ld	b,0		; 096E  06 00		..
	inc	hl		; 0970  23		#
	ld	(hl),crtram0dat	; 0971  36 80		6.
	rla			; 0973  17		.
	jp	X0762		; 0974  C3 62 07	Cb.
;
	call	X0994		; 0977  CD 94 09	M..
	ret	p		; 097A  F0		p
X097b:	rst	20h		; 097B  E7		g
	jp	m,X0c5b		; 097C  FA 5B 0C	z[.
	jp	z,X0af6		; 097F  CA F6 0A	Jv.
X0982:	ld	hl,X4123	; 0982  21 23 41	!#A
	ld	a,(hl)		; 0985  7E		~
	xor	crtram0dat	; 0986  EE 80		n.
	ld	(hl),a		; 0988  77		w
	ret			; 0989  C9		I
;
	call	X0994		; 098A  CD 94 09	M..
X098d:	ld	l,a		; 098D  6F		o
	rla			; 098E  17		.
	sbc	a,a		; 098F  9F		.
	ld	h,a		; 0990  67		g
	jp	X0a9a		; 0991  C3 9A 0A	C..
;
X0994:	rst	20h		; 0994  E7		g
	jp	z,X0af6		; 0995  CA F6 0A	Jv.
	jp	p,X0955		; 0998  F2 55 09	rU.
	ld	hl,(X4121)	; 099B  2A 21 41	*!A
X099e:	ld	a,h		; 099E  7C		|
	or	l		; 099F  B5		5
	ret	z		; 09A0  C8		H
	ld	a,h		; 09A1  7C		|
	jr	X095f		; 09A2  18 BB		.;
;
X09a4:	ex	de,hl		; 09A4  EB		k
	ld	hl,(X4121)	; 09A5  2A 21 41	*!A
	ex	(sp),hl		; 09A8  E3		c
	push	hl		; 09A9  E5		e
	ld	hl,(X4123)	; 09AA  2A 23 41	*#A
	ex	(sp),hl		; 09AD  E3		c
	push	hl		; 09AE  E5		e
	ex	de,hl		; 09AF  EB		k
	ret			; 09B0  C9		I
;
X09b1:	call	X09c2		; 09B1  CD C2 09	MB.
X09b4:	ex	de,hl		; 09B4  EB		k
	ld	(X4121),hl	; 09B5  22 21 41	"!A
	ld	h,b		; 09B8  60		`
	ld	l,c		; 09B9  69		i
	ld	(X4123),hl	; 09BA  22 23 41	"#A
	ex	de,hl		; 09BD  EB		k
	ret			; 09BE  C9		I
;
X09bf:	ld	hl,X4121	; 09BF  21 21 41	!!A
X09c2:	ld	e,(hl)		; 09C2  5E		^
	inc	hl		; 09C3  23		#
X09c4:	ld	d,(hl)		; 09C4  56		V
	inc	hl		; 09C5  23		#
	ld	c,(hl)		; 09C6  4E		N
	inc	hl		; 09C7  23		#
	ld	b,(hl)		; 09C8  46		F
X09c9:	inc	hl		; 09C9  23		#
	ret			; 09CA  C9		I
;
X09cb:	ld	de,X4121	; 09CB  11 21 41	.!A
	ld	b,4		; 09CE  06 04		..
	jr	X09d7		; 09D0  18 05		..
;
X09d2:	ex	de,hl		; 09D2  EB		k
X09d3:	ld	a,(X40af)	; 09D3  3A AF 40	:/@
	ld	b,a		; 09D6  47		G
X09d7:	ld	a,(de)		; 09D7  1A		.
	ld	(hl),a		; 09D8  77		w
	inc	de		; 09D9  13		.
	inc	hl		; 09DA  23		#
	dec	b		; 09DB  05		.
	jr	nz,X09d7	; 09DC  20 F9		 y
	ret			; 09DE  C9		I
;
X09df:	ld	hl,X4123	; 09DF  21 23 41	!#A
	ld	a,(hl)		; 09E2  7E		~
	rlca			; 09E3  07		.
	scf			; 09E4  37		7
	rra			; 09E5  1F		.
	ld	(hl),a		; 09E6  77		w
	ccf			; 09E7  3F		?
	rra			; 09E8  1F		.
	inc	hl		; 09E9  23		#
	inc	hl		; 09EA  23		#
	ld	(hl),a		; 09EB  77		w
	ld	a,c		; 09EC  79		y
	rlca			; 09ED  07		.
	scf			; 09EE  37		7
	rra			; 09EF  1F		.
	ld	c,a		; 09F0  4F		O
	rra			; 09F1  1F		.
	xor	(hl)		; 09F2  AE		.
	ret			; 09F3  C9		I
;
X09f4:	ld	hl,X4127	; 09F4  21 27 41	!'A
X09f7:	ld	de,X09d2	; 09F7  11 D2 09	.R.
	jr	X0a02		; 09FA  18 06		..
;
X09fc:	ld	hl,X4127	; 09FC  21 27 41	!'A
X09ff:	ld	de,X09d3	; 09FF  11 D3 09	.S.
X0a02:	push	de		; 0A02  D5		U
X0a03:	ld	de,X4121	; 0A03  11 21 41	.!A
	rst	20h		; 0A06  E7		g
	ret	c		; 0A07  D8		X
	ld	de,X411d	; 0A08  11 1D 41	..A
	ret			; 0A0B  C9		I
;
X0a0c:	ld	a,b		; 0A0C  78		x
	or	a		; 0A0D  B7		7
	jp	z,X0955		; 0A0E  CA 55 09	JU.
	ld	hl,X095e	; 0A11  21 5E 09	!^.
	push	hl		; 0A14  E5		e
	call	X0955		; 0A15  CD 55 09	MU.
	ld	a,c		; 0A18  79		y
	ret	z		; 0A19  C8		H
	ld	hl,X4123	; 0A1A  21 23 41	!#A
	xor	(hl)		; 0A1D  AE		.
	ld	a,c		; 0A1E  79		y
	ret	m		; 0A1F  F8		x
	call	X0a26		; 0A20  CD 26 0A	M&.
X0a23:	rra			; 0A23  1F		.
	xor	c		; 0A24  A9		)
	ret			; 0A25  C9		I
;
X0a26:	inc	hl		; 0A26  23		#
	ld	a,b		; 0A27  78		x
	cp	(hl)		; 0A28  BE		>
	ret	nz		; 0A29  C0		@
	dec	hl		; 0A2A  2B		+
	ld	a,c		; 0A2B  79		y
	cp	(hl)		; 0A2C  BE		>
	ret	nz		; 0A2D  C0		@
	dec	hl		; 0A2E  2B		+
	ld	a,d		; 0A2F  7A		z
	cp	(hl)		; 0A30  BE		>
	ret	nz		; 0A31  C0		@
	dec	hl		; 0A32  2B		+
	ld	a,e		; 0A33  7B		{
	sub	(hl)		; 0A34  96		.
	ret	nz		; 0A35  C0		@
	pop	hl		; 0A36  E1		a
	pop	hl		; 0A37  E1		a
	ret			; 0A38  C9		I
;
X0a39:	ld	a,d		; 0A39  7A		z
	xor	h		; 0A3A  AC		,
	ld	a,h		; 0A3B  7C		|
	jp	m,X095f		; 0A3C  FA 5F 09	z_.
	cp	d		; 0A3F  BA		:
	jp	nz,X0960	; 0A40  C2 60 09	B`.
	ld	a,l		; 0A43  7D		}
	sub	e		; 0A44  93		.
	jp	nz,X0960	; 0A45  C2 60 09	B`.
	ret			; 0A48  C9		I
;
X0a49:	ld	hl,X4127	; 0A49  21 27 41	!'A
	call	X09d3		; 0A4C  CD D3 09	MS.
X0a4f:	ld	de,X412e	; 0A4F  11 2E 41	..A
	ld	a,(de)		; 0A52  1A		.
	or	a		; 0A53  B7		7
	jp	z,X0955		; 0A54  CA 55 09	JU.
	ld	hl,X095e	; 0A57  21 5E 09	!^.
	push	hl		; 0A5A  E5		e
	call	X0955		; 0A5B  CD 55 09	MU.
	dec	de		; 0A5E  1B		.
	ld	a,(de)		; 0A5F  1A		.
	ld	c,a		; 0A60  4F		O
	ret	z		; 0A61  C8		H
	ld	hl,X4123	; 0A62  21 23 41	!#A
	xor	(hl)		; 0A65  AE		.
	ld	a,c		; 0A66  79		y
	ret	m		; 0A67  F8		x
	inc	de		; 0A68  13		.
	inc	hl		; 0A69  23		#
	ld	b,8		; 0A6A  06 08		..
X0a6c:	ld	a,(de)		; 0A6C  1A		.
	sub	(hl)		; 0A6D  96		.
	jp	nz,X0a23	; 0A6E  C2 23 0A	B#.
	dec	de		; 0A71  1B		.
	dec	hl		; 0A72  2B		+
	dec	b		; 0A73  05		.
	jr	nz,X0a6c	; 0A74  20 F6		 v
	pop	bc		; 0A76  C1		A
	ret			; 0A77  C9		I
;
	call	X0a4f		; 0A78  CD 4F 0A	MO.
	jp	nz,X095e	; 0A7B  C2 5E 09	B^.
	ret			; 0A7E  C9		I
;
X0a7f:	rst	20h		; 0A7F  E7		g
	ld	hl,(X4121)	; 0A80  2A 21 41	*!A
	ret	m		; 0A83  F8		x
	jp	z,X0af6		; 0A84  CA F6 0A	Jv.
	call	nc,X0ab9	; 0A87  D4 B9 0A	T9.
	ld	hl,X07b2	; 0A8A  21 B2 07	!2.
	push	hl		; 0A8D  E5		e
X0a8e:	ld	a,(X4124)	; 0A8E  3A 24 41	:$A
	cp	90h		; 0A91  FE 90		~.
	jr	nc,X0aa3	; 0A93  30 0E		0.
	call	X0afb		; 0A95  CD FB 0A	M{.
	ex	de,hl		; 0A98  EB		k
X0a99:	pop	de		; 0A99  D1		Q
X0a9a:	ld	(X4121),hl	; 0A9A  22 21 41	"!A
	ld	a,2		; 0A9D  3E 02		>.
X0a9f:	ld	(X40af),a	; 0A9F  32 AF 40	2/@
	ret			; 0AA2  C9		I
;
X0aa3:	ld	bc,X9080	; 0AA3  01 80 90	...
	ld	de,X0000	; 0AA6  11 00 00	...
	call	X0a0c		; 0AA9  CD 0C 0A	M..
	ret	nz		; 0AAC  C0		@
	ld	h,c		; 0AAD  61		a
	ld	l,d		; 0AAE  6A		j
	jr	X0a99		; 0AAF  18 E8		.h
;
X0ab1:	rst	20h		; 0AB1  E7		g
	ret	po		; 0AB2  E0		`
	jp	m,X0acc		; 0AB3  FA CC 0A	zL.
	jp	z,X0af6		; 0AB6  CA F6 0A	Jv.
X0ab9:	call	X09bf		; 0AB9  CD BF 09	M?.
	call	X0aef		; 0ABC  CD EF 0A	Mo.
	ld	a,b		; 0ABF  78		x
	or	a		; 0AC0  B7		7
	ret	z		; 0AC1  C8		H
	call	X09df		; 0AC2  CD DF 09	M_.
	ld	hl,X4120	; 0AC5  21 20 41	! A
	ld	b,(hl)		; 0AC8  46		F
	jp	X0796		; 0AC9  C3 96 07	C..
;
X0acc:	ld	hl,(X4121)	; 0ACC  2A 21 41	*!A
X0acf:	call	X0aef		; 0ACF  CD EF 0A	Mo.
	ld	a,h		; 0AD2  7C		|
	ld	d,l		; 0AD3  55		U
	ld	e,0		; 0AD4  1E 00		..
	ld	b,90h		; 0AD6  06 90		..
	jp	X0969		; 0AD8  C3 69 09	Ci.
;
X0adb:	rst	20h		; 0ADB  E7		g
	ret	nc		; 0ADC  D0		P
	jp	z,X0af6		; 0ADD  CA F6 0A	Jv.
	call	m,X0acc		; 0AE0  FC CC 0A	|L.
X0ae3:	ld	hl,X0000	; 0AE3  21 00 00	!..
	ld	(X411d),hl	; 0AE6  22 1D 41	".A
	ld	(X411f),hl	; 0AE9  22 1F 41	".A
X0aec:	ld	a,8		; 0AEC  3E 08		>.
	ld	bc,X043e	; 0AEE  01 3E 04	.>.
	jp	X0a9f		; 0AF1  C3 9F 0A	C..
;
X0af4:	rst	20h		; 0AF4  E7		g
	ret	z		; 0AF5  C8		H
X0af6:	ld	e,18h		; 0AF6  1E 18		..
	jp	X19a2		; 0AF8  C3 A2 19	C".
;
X0afb:	ld	b,a		; 0AFB  47		G
	ld	c,a		; 0AFC  4F		O
	ld	d,a		; 0AFD  57		W
	ld	e,a		; 0AFE  5F		_
	or	a		; 0AFF  B7		7
	ret	z		; 0B00  C8		H
	push	hl		; 0B01  E5		e
	call	X09bf		; 0B02  CD BF 09	M?.
	call	X09df		; 0B05  CD DF 09	M_.
	xor	(hl)		; 0B08  AE		.
	ld	h,a		; 0B09  67		g
	call	m,X0b1f		; 0B0A  FC 1F 0B	|..
	ld	a,98h		; 0B0D  3E 98		>.
	sub	b		; 0B0F  90		.
	call	X07d7		; 0B10  CD D7 07	MW.
	ld	a,h		; 0B13  7C		|
	rla			; 0B14  17		.
	call	c,X07a8		; 0B15  DC A8 07	\(.
	ld	b,0		; 0B18  06 00		..
	call	c,X07c3		; 0B1A  DC C3 07	\C.
	pop	hl		; 0B1D  E1		a
	ret			; 0B1E  C9		I
;
X0b1f:	dec	de		; 0B1F  1B		.
	ld	a,d		; 0B20  7A		z
	and	e		; 0B21  A3		#
	inc	a		; 0B22  3C		<
	ret	nz		; 0B23  C0		@
X0b24:	dec	bc		; 0B24  0B		.
	ret			; 0B25  C9		I
;
	rst	20h		; 0B26  E7		g
	ret	m		; 0B27  F8		x
	call	X0955		; 0B28  CD 55 09	MU.
	jp	p,X0b37		; 0B2B  F2 37 0B	r7.
	call	X0982		; 0B2E  CD 82 09	M..
	call	X0b37		; 0B31  CD 37 0B	M7.
	jp	X097b		; 0B34  C3 7B 09	C{.
;
X0b37:	rst	20h		; 0B37  E7		g
	ret	m		; 0B38  F8		x
	jr	nc,X0b59	; 0B39  30 1E		0.
	jr	z,X0af6		; 0B3B  28 B9		(9
	call	X0a8e		; 0B3D  CD 8E 0A	M..
X0b40:	ld	hl,X4124	; 0B40  21 24 41	!$A
	ld	a,(hl)		; 0B43  7E		~
	cp	98h		; 0B44  FE 98		~.
	ld	a,(X4121)	; 0B46  3A 21 41	:!A
	ret	nc		; 0B49  D0		P
	ld	a,(hl)		; 0B4A  7E		~
	call	X0afb		; 0B4B  CD FB 0A	M{.
	ld	(hl),98h	; 0B4E  36 98		6.
	ld	a,e		; 0B50  7B		{
	push	af		; 0B51  F5		u
	ld	a,c		; 0B52  79		y
	rla			; 0B53  17		.
	call	X0762		; 0B54  CD 62 07	Mb.
	pop	af		; 0B57  F1		q
	ret			; 0B58  C9		I
;
X0b59:	ld	hl,X4124	; 0B59  21 24 41	!$A
	ld	a,(hl)		; 0B5C  7E		~
	cp	90h		; 0B5D  FE 90		~.
	jp	c,X0a7f		; 0B5F  DA 7F 0A	Z..
	jr	nz,X0b78	; 0B62  20 14		 .
	ld	c,a		; 0B64  4F		O
	dec	hl		; 0B65  2B		+
	ld	a,(hl)		; 0B66  7E		~
	xor	crtram0dat	; 0B67  EE 80		n.
	ld	b,6		; 0B69  06 06		..
X0b6b:	dec	hl		; 0B6B  2B		+
	or	(hl)		; 0B6C  B6		6
	dec	b		; 0B6D  05		.
	jr	nz,X0b6b	; 0B6E  20 FB		 {
	or	a		; 0B70  B7		7
	ld	hl,X8000	; 0B71  21 00 80	!..
	jp	z,X0a9a		; 0B74  CA 9A 0A	J..
	ld	a,c		; 0B77  79		y
X0b78:	cp	0b8h		; 0B78  FE B8		~8
	ret	nc		; 0B7A  D0		P
X0b7b:	push	af		; 0B7B  F5		u
	call	X09bf		; 0B7C  CD BF 09	M?.
	call	X09df		; 0B7F  CD DF 09	M_.
	xor	(hl)		; 0B82  AE		.
	dec	hl		; 0B83  2B		+
	ld	(hl),0b8h	; 0B84  36 B8		68
	push	af		; 0B86  F5		u
	call	m,X0ba0		; 0B87  FC A0 0B	| .
	ld	hl,X4123	; 0B8A  21 23 41	!#A
	ld	a,0b8h		; 0B8D  3E B8		>8
	sub	b		; 0B8F  90		.
	call	X0d69		; 0B90  CD 69 0D	Mi.
	pop	af		; 0B93  F1		q
	call	m,X0d20		; 0B94  FC 20 0D	| .
	xor	a		; 0B97  AF		/
	ld	(X411c),a	; 0B98  32 1C 41	2.A
	pop	af		; 0B9B  F1		q
	ret	nc		; 0B9C  D0		P
	jp	X0cd8		; 0B9D  C3 D8 0C	CX.
;
X0ba0:	ld	hl,X411d	; 0BA0  21 1D 41	!.A
X0ba3:	ld	a,(hl)		; 0BA3  7E		~
	dec	(hl)		; 0BA4  35		5
	or	a		; 0BA5  B7		7
	inc	hl		; 0BA6  23		#
	jr	z,X0ba3		; 0BA7  28 FA		(z
	ret			; 0BA9  C9		I
;
X0baa:	push	hl		; 0BAA  E5		e
	ld	hl,X0000	; 0BAB  21 00 00	!..
	ld	a,b		; 0BAE  78		x
	or	c		; 0BAF  B1		1
	jr	z,X0bc4		; 0BB0  28 12		(.
	ld	a,10h		; 0BB2  3E 10		>.
X0bb4:	add	hl,hl		; 0BB4  29		)
	jp	c,X273d		; 0BB5  DA 3D 27	Z='
	ex	de,hl		; 0BB8  EB		k
	add	hl,hl		; 0BB9  29		)
	ex	de,hl		; 0BBA  EB		k
	jr	nc,X0bc1	; 0BBB  30 04		0.
	add	hl,bc		; 0BBD  09		.
	jp	c,X273d		; 0BBE  DA 3D 27	Z='
X0bc1:	dec	a		; 0BC1  3D		=
	jr	nz,X0bb4	; 0BC2  20 F0		 p
X0bc4:	ex	de,hl		; 0BC4  EB		k
	pop	hl		; 0BC5  E1		a
	ret			; 0BC6  C9		I
;
X0bc7:	ld	a,h		; 0BC7  7C		|
	rla			; 0BC8  17		.
	sbc	a,a		; 0BC9  9F		.
	ld	b,a		; 0BCA  47		G
	call	X0c51		; 0BCB  CD 51 0C	MQ.
	ld	a,c		; 0BCE  79		y
	sbc	a,b		; 0BCF  98		.
	jr	X0bd5		; 0BD0  18 03		..
;
X0bd2:	ld	a,h		; 0BD2  7C		|
	rla			; 0BD3  17		.
	sbc	a,a		; 0BD4  9F		.
X0bd5:	ld	b,a		; 0BD5  47		G
	push	hl		; 0BD6  E5		e
	ld	a,d		; 0BD7  7A		z
	rla			; 0BD8  17		.
	sbc	a,a		; 0BD9  9F		.
	add	hl,de		; 0BDA  19		.
	adc	a,b		; 0BDB  88		.
	rrca			; 0BDC  0F		.
	xor	h		; 0BDD  AC		,
	jp	p,X0a99		; 0BDE  F2 99 0A	r..
	push	bc		; 0BE1  C5		E
	ex	de,hl		; 0BE2  EB		k
	call	X0acf		; 0BE3  CD CF 0A	MO.
	pop	af		; 0BE6  F1		q
	pop	hl		; 0BE7  E1		a
	call	X09a4		; 0BE8  CD A4 09	M$.
	ex	de,hl		; 0BEB  EB		k
	call	X0c6b		; 0BEC  CD 6B 0C	Mk.
	jp	X0f8f		; 0BEF  C3 8F 0F	C..
;
X0bf2:	ld	a,h		; 0BF2  7C		|
	or	l		; 0BF3  B5		5
	jp	z,X0a9a		; 0BF4  CA 9A 0A	J..
	push	hl		; 0BF7  E5		e
	push	de		; 0BF8  D5		U
	call	X0c45		; 0BF9  CD 45 0C	ME.
	push	bc		; 0BFC  C5		E
	ld	b,h		; 0BFD  44		D
	ld	c,l		; 0BFE  4D		M
	ld	hl,X0000	; 0BFF  21 00 00	!..
	ld	a,10h		; 0C02  3E 10		>.
X0c04:	add	hl,hl		; 0C04  29		)
	jr	c,X0c26		; 0C05  38 1F		8.
	ex	de,hl		; 0C07  EB		k
	add	hl,hl		; 0C08  29		)
	ex	de,hl		; 0C09  EB		k
	jr	nc,X0c10	; 0C0A  30 04		0.
	add	hl,bc		; 0C0C  09		.
	jp	c,X0c26		; 0C0D  DA 26 0C	Z&.
X0c10:	dec	a		; 0C10  3D		=
	jr	nz,X0c04	; 0C11  20 F1		 q
	pop	bc		; 0C13  C1		A
	pop	de		; 0C14  D1		Q
	ld	a,h		; 0C15  7C		|
	or	a		; 0C16  B7		7
	jp	m,X0c1f		; 0C17  FA 1F 0C	z..
	pop	de		; 0C1A  D1		Q
	ld	a,b		; 0C1B  78		x
	jp	X0c4d		; 0C1C  C3 4D 0C	CM.
;
X0c1f:	xor	crtram0dat	; 0C1F  EE 80		n.
	or	l		; 0C21  B5		5
	jr	z,X0c37		; 0C22  28 13		(.
	ex	de,hl		; 0C24  EB		k
	ld	bc,Xe1c1	; 0C25  01 C1 E1	.Aa
	call	X0acf		; 0C28  CD CF 0A	MO.
	pop	hl		; 0C2B  E1		a
	call	X09a4		; 0C2C  CD A4 09	M$.
	call	X0acf		; 0C2F  CD CF 0A	MO.
X0c32:	pop	bc		; 0C32  C1		A
	pop	de		; 0C33  D1		Q
	jp	X0847		; 0C34  C3 47 08	CG.
;
X0c37:	ld	a,b		; 0C37  78		x
	or	a		; 0C38  B7		7
	pop	bc		; 0C39  C1		A
	jp	m,X0a9a		; 0C3A  FA 9A 0A	z..
	push	de		; 0C3D  D5		U
	call	X0acf		; 0C3E  CD CF 0A	MO.
	pop	de		; 0C41  D1		Q
	jp	X0982		; 0C42  C3 82 09	C..
;
X0c45:	ld	a,h		; 0C45  7C		|
	xor	d		; 0C46  AA		*
	ld	b,a		; 0C47  47		G
	call	X0c4c		; 0C48  CD 4C 0C	ML.
	ex	de,hl		; 0C4B  EB		k
X0c4c:	ld	a,h		; 0C4C  7C		|
X0c4d:	or	a		; 0C4D  B7		7
	jp	p,X0a9a		; 0C4E  F2 9A 0A	r..
X0c51:	xor	a		; 0C51  AF		/
	ld	c,a		; 0C52  4F		O
	sub	l		; 0C53  95		.
	ld	l,a		; 0C54  6F		o
	ld	a,c		; 0C55  79		y
	sbc	a,h		; 0C56  9C		.
	ld	h,a		; 0C57  67		g
	jp	X0a9a		; 0C58  C3 9A 0A	C..
;
X0c5b:	ld	hl,(X4121)	; 0C5B  2A 21 41	*!A
	call	X0c51		; 0C5E  CD 51 0C	MQ.
	ld	a,h		; 0C61  7C		|
	xor	crtram0dat	; 0C62  EE 80		n.
	or	l		; 0C64  B5		5
	ret	nz		; 0C65  C0		@
X0c66:	ex	de,hl		; 0C66  EB		k
	call	X0aef		; 0C67  CD EF 0A	Mo.
	xor	a		; 0C6A  AF		/
X0c6b:	ld	b,98h		; 0C6B  06 98		..
	jp	X0969		; 0C6D  C3 69 09	Ci.
;
X0C70:	defb	'!-A~'					; 0C70
;
	xor	crtram0dat	; 0C74  EE 80		n.
	ld	(hl),a		; 0C76  77		w
X0c77:	ld	hl,X412e	; 0C77  21 2E 41	!.A
	ld	a,(hl)		; 0C7A  7E		~
	or	a		; 0C7B  B7		7
	ret	z		; 0C7C  C8		H
	ld	b,a		; 0C7D  47		G
	dec	hl		; 0C7E  2B		+
	ld	c,(hl)		; 0C7F  4E		N
	ld	de,X4124	; 0C80  11 24 41	.$A
	ld	a,(de)		; 0C83  1A		.
	or	a		; 0C84  B7		7
	jp	z,X09f4		; 0C85  CA F4 09	Jt.
	sub	b		; 0C88  90		.
	jr	nc,X0ca1	; 0C89  30 16		0.
	cpl			; 0C8B  2F		/
	inc	a		; 0C8C  3C		<
	push	af		; 0C8D  F5		u
	ld	c,8		; 0C8E  0E 08		..
	inc	hl		; 0C90  23		#
	push	hl		; 0C91  E5		e
X0c92:	ld	a,(de)		; 0C92  1A		.
	ld	b,(hl)		; 0C93  46		F
	ld	(hl),a		; 0C94  77		w
	ld	a,b		; 0C95  78		x
	ld	(de),a		; 0C96  12		.
	dec	de		; 0C97  1B		.
	dec	hl		; 0C98  2B		+
	dec	c		; 0C99  0D		.
	jr	nz,X0c92	; 0C9A  20 F6		 v
	pop	hl		; 0C9C  E1		a
	ld	b,(hl)		; 0C9D  46		F
	dec	hl		; 0C9E  2B		+
	ld	c,(hl)		; 0C9F  4E		N
	pop	af		; 0CA0  F1		q
X0ca1:	cp	rst7sp2		; 0CA1  FE 39		~9
	ret	nc		; 0CA3  D0		P
	push	af		; 0CA4  F5		u
	call	X09df		; 0CA5  CD DF 09	M_.
	inc	hl		; 0CA8  23		#
	ld	(hl),0		; 0CA9  36 00		6.
	ld	b,a		; 0CAB  47		G
	pop	af		; 0CAC  F1		q
	ld	hl,X412d	; 0CAD  21 2D 41	!-A
	call	X0d69		; 0CB0  CD 69 0D	Mi.
	ld	a,(X4126)	; 0CB3  3A 26 41	:&A
	ld	(X411c),a	; 0CB6  32 1C 41	2.A
	ld	a,b		; 0CB9  78		x
	or	a		; 0CBA  B7		7
	jp	p,X0ccf		; 0CBB  F2 CF 0C	rO.
	call	X0d33		; 0CBE  CD 33 0D	M3.
	jp	nc,X0d0e	; 0CC1  D2 0E 0D	R..
	ex	de,hl		; 0CC4  EB		k
	inc	(hl)		; 0CC5  34		4
	jp	z,X07b2		; 0CC6  CA B2 07	J2.
	call	X0d90		; 0CC9  CD 90 0D	M..
	jp	X0d0e		; 0CCC  C3 0E 0D	C..
;
X0ccf:	call	X0d45		; 0CCF  CD 45 0D	ME.
	ld	hl,X4125	; 0CD2  21 25 41	!%A
	call	c,X0d57		; 0CD5  DC 57 0D	\W.
X0cd8:	xor	a		; 0CD8  AF		/
X0cd9:	ld	b,a		; 0CD9  47		G
	ld	a,(X4123)	; 0CDA  3A 23 41	:#A
	or	a		; 0CDD  B7		7
	jr	nz,X0cfe	; 0CDE  20 1E		 .
	ld	hl,X411c	; 0CE0  21 1C 41	!.A
	ld	c,8		; 0CE3  0E 08		..
X0ce5:	ld	d,(hl)		; 0CE5  56		V
	ld	(hl),a		; 0CE6  77		w
	ld	a,d		; 0CE7  7A		z
	inc	hl		; 0CE8  23		#
	dec	c		; 0CE9  0D		.
	jr	nz,X0ce5	; 0CEA  20 F9		 y
	ld	a,b		; 0CEC  78		x
	sub	8		; 0CED  D6 08		V.
	cp	0c0h		; 0CEF  FE C0		~@
	jr	nz,X0cd9	; 0CF1  20 E6		 f
	jp	X0778		; 0CF3  C3 78 07	Cx.
;
X0cf6:	dec	b		; 0CF6  05		.
	ld	hl,X411c	; 0CF7  21 1C 41	!.A
	call	X0d97		; 0CFA  CD 97 0D	M..
	or	a		; 0CFD  B7		7
X0cfe:	jp	p,X0cf6		; 0CFE  F2 F6 0C	rv.
	ld	a,b		; 0D01  78		x
	or	a		; 0D02  B7		7
	jr	z,X0d0e		; 0D03  28 09		(.
	ld	hl,X4124	; 0D05  21 24 41	!$A
	add	a,(hl)		; 0D08  86		.
	ld	(hl),a		; 0D09  77		w
	jp	nc,X0778	; 0D0A  D2 78 07	Rx.
	ret	z		; 0D0D  C8		H
X0d0e:	ld	a,(X411c)	; 0D0E  3A 1C 41	:.A
X0d11:	or	a		; 0D11  B7		7
	call	m,X0d20		; 0D12  FC 20 0D	| .
	ld	hl,X4125	; 0D15  21 25 41	!%A
	ld	a,(hl)		; 0D18  7E		~
	and	crtram0dat	; 0D19  E6 80		f.
	dec	hl		; 0D1B  2B		+
	dec	hl		; 0D1C  2B		+
	xor	(hl)		; 0D1D  AE		.
	ld	(hl),a		; 0D1E  77		w
	ret			; 0D1F  C9		I
;
X0d20:	ld	hl,X411d	; 0D20  21 1D 41	!.A
	ld	b,7		; 0D23  06 07		..
X0d25:	inc	(hl)		; 0D25  34		4
	ret	nz		; 0D26  C0		@
	inc	hl		; 0D27  23		#
	dec	b		; 0D28  05		.
	jr	nz,X0d25	; 0D29  20 FA		 z
	inc	(hl)		; 0D2B  34		4
	jp	z,X07b2		; 0D2C  CA B2 07	J2.
	dec	hl		; 0D2F  2B		+
	ld	(hl),crtram0dat	; 0D30  36 80		6.
	ret			; 0D32  C9		I
;
X0d33:	ld	hl,X4127	; 0D33  21 27 41	!'A
X0d36:	ld	de,X411d	; 0D36  11 1D 41	..A
X0d39:	ld	c,7		; 0D39  0E 07		..
	xor	a		; 0D3B  AF		/
X0d3c:	ld	a,(de)		; 0D3C  1A		.
	adc	a,(hl)		; 0D3D  8E		.
	ld	(de),a		; 0D3E  12		.
	inc	de		; 0D3F  13		.
	inc	hl		; 0D40  23		#
	dec	c		; 0D41  0D		.
	jr	nz,X0d3c	; 0D42  20 F8		 x
	ret			; 0D44  C9		I
;
X0d45:	ld	hl,X4127	; 0D45  21 27 41	!'A
X0d48:	ld	de,X411d	; 0D48  11 1D 41	..A
X0d4b:	ld	c,7		; 0D4B  0E 07		..
	xor	a		; 0D4D  AF		/
X0d4e:	ld	a,(de)		; 0D4E  1A		.
	sbc	a,(hl)		; 0D4F  9E		.
	ld	(de),a		; 0D50  12		.
	inc	de		; 0D51  13		.
	inc	hl		; 0D52  23		#
	dec	c		; 0D53  0D		.
	jr	nz,X0d4e	; 0D54  20 F8		 x
	ret			; 0D56  C9		I
;
X0d57:	ld	a,(hl)		; 0D57  7E		~
	cpl			; 0D58  2F		/
	ld	(hl),a		; 0D59  77		w
	ld	hl,X411c	; 0D5A  21 1C 41	!.A
	ld	b,8		; 0D5D  06 08		..
	xor	a		; 0D5F  AF		/
X0d60:	ld	c,a		; 0D60  4F		O
X0d61:	ld	a,c		; 0D61  79		y
	sbc	a,(hl)		; 0D62  9E		.
	ld	(hl),a		; 0D63  77		w
	inc	hl		; 0D64  23		#
	dec	b		; 0D65  05		.
	jr	nz,X0d61	; 0D66  20 F9		 y
	ret			; 0D68  C9		I
;
X0d69:	ld	(hl),c		; 0D69  71		q
	push	hl		; 0D6A  E5		e
X0d6b:	sub	8		; 0D6B  D6 08		V.
	jr	c,X0d7d		; 0D6D  38 0E		8.
	pop	hl		; 0D6F  E1		a
X0d70:	push	hl		; 0D70  E5		e
	ld	de,X0800	; 0D71  11 00 08	...
X0d74:	ld	c,(hl)		; 0D74  4E		N
	ld	(hl),e		; 0D75  73		s
	ld	e,c		; 0D76  59		Y
	dec	hl		; 0D77  2B		+
	dec	d		; 0D78  15		.
	jr	nz,X0d74	; 0D79  20 F9		 y
	jr	X0d6b		; 0D7B  18 EE		.n
;
X0d7d:	add	a,9		; 0D7D  C6 09		F.
	ld	d,a		; 0D7F  57		W
X0d80:	xor	a		; 0D80  AF		/
	pop	hl		; 0D81  E1		a
	dec	d		; 0D82  15		.
	ret	z		; 0D83  C8		H
X0d84:	push	hl		; 0D84  E5		e
	ld	e,8		; 0D85  1E 08		..
X0d87:	ld	a,(hl)		; 0D87  7E		~
	rra			; 0D88  1F		.
	ld	(hl),a		; 0D89  77		w
	dec	hl		; 0D8A  2B		+
	dec	e		; 0D8B  1D		.
	jr	nz,X0d87	; 0D8C  20 F9		 y
	jr	X0d80		; 0D8E  18 F0		.p
;
X0d90:	ld	hl,X4123	; 0D90  21 23 41	!#A
	ld	d,1		; 0D93  16 01		..
	jr	X0d84		; 0D95  18 ED		.m
;
X0d97:	ld	c,8		; 0D97  0E 08		..
X0d99:	ld	a,(hl)		; 0D99  7E		~
	rla			; 0D9A  17		.
	ld	(hl),a		; 0D9B  77		w
	inc	hl		; 0D9C  23		#
	dec	c		; 0D9D  0D		.
	jr	nz,X0d99	; 0D9E  20 F9		 y
	ret			; 0DA0  C9		I
;
X0da1:	call	X0955		; 0DA1  CD 55 09	MU.
	ret	z		; 0DA4  C8		H
	call	X090a		; 0DA5  CD 0A 09	M..
	call	X0e39		; 0DA8  CD 39 0E	M9.
	ld	(hl),c		; 0DAB  71		q
	inc	de		; 0DAC  13		.
	ld	b,7		; 0DAD  06 07		..
X0daf:	ld	a,(de)		; 0DAF  1A		.
	inc	de		; 0DB0  13		.
	or	a		; 0DB1  B7		7
	push	de		; 0DB2  D5		U
	jr	z,X0dcc		; 0DB3  28 17		(.
	ld	c,8		; 0DB5  0E 08		..
X0db7:	push	bc		; 0DB7  C5		E
	rra			; 0DB8  1F		.
	ld	b,a		; 0DB9  47		G
	call	c,X0d33		; 0DBA  DC 33 0D	\3.
	call	X0d90		; 0DBD  CD 90 0D	M..
	ld	a,b		; 0DC0  78		x
	pop	bc		; 0DC1  C1		A
	dec	c		; 0DC2  0D		.
	jr	nz,X0db7	; 0DC3  20 F2		 r
X0dc5:	pop	de		; 0DC5  D1		Q
	dec	b		; 0DC6  05		.
	jr	nz,X0daf	; 0DC7  20 E6		 f
	jp	X0cd8		; 0DC9  C3 D8 0C	CX.
;
X0dcc:	ld	hl,X4123	; 0DCC  21 23 41	!#A
	call	X0d70		; 0DCF  CD 70 0D	Mp.
	jr	X0dc5		; 0DD2  18 F1		.q
;
X0dd4:	nop			; 0DD4  00		.
;
	ORG	0dd8h
;
X0dd8:	nop			; 0DD8  00		.
;
	ORG	0ddah
;
	jr	nz,X0d60	; 0DDA  20 84		 .
X0ddc:	ld	de,X0dd4	; 0DDC  11 D4 0D	.T.
	ld	hl,X4127	; 0DDF  21 27 41	!'A
	call	X09d3		; 0DE2  CD D3 09	MS.
	ld	a,(X412e)	; 0DE5  3A 2E 41	:.A
	or	a		; 0DE8  B7		7
	jp	z,X199a		; 0DE9  CA 9A 19	J..
	call	X0907		; 0DEC  CD 07 09	M..
	inc	(hl)		; 0DEF  34		4
	inc	(hl)		; 0DF0  34		4
	call	X0e39		; 0DF1  CD 39 0E	M9.
	ld	hl,X4151	; 0DF4  21 51 41	!QA
	ld	(hl),c		; 0DF7  71		q
	ld	b,c		; 0DF8  41		A
X0df9:	ld	de,X414a	; 0DF9  11 4A 41	.JA
	ld	hl,X4127	; 0DFC  21 27 41	!'A
	call	X0d4b		; 0DFF  CD 4B 0D	MK.
	ld	a,(de)		; 0E02  1A		.
	sbc	a,c		; 0E03  99		.
	ccf			; 0E04  3F		?
	jr	c,X0e12		; 0E05  38 0B		8.
	ld	de,X414a	; 0E07  11 4A 41	.JA
	ld	hl,X4127	; 0E0A  21 27 41	!'A
	call	X0d39		; 0E0D  CD 39 0D	M9.
	xor	a		; 0E10  AF		/
	jp	c,X0412		; 0E11  DA 12 04	Z..
	ld	a,(X4123)	; 0E14  3A 23 41	:#A
	inc	a		; 0E17  3C		<
	dec	a		; 0E18  3D		=
	rra			; 0E19  1F		.
	jp	m,X0d11		; 0E1A  FA 11 0D	z..
	rla			; 0E1D  17		.
	ld	hl,X411d	; 0E1E  21 1D 41	!.A
	ld	c,7		; 0E21  0E 07		..
	call	X0d99		; 0E23  CD 99 0D	M..
	ld	hl,X414a	; 0E26  21 4A 41	!JA
	call	X0d97		; 0E29  CD 97 0D	M..
	ld	a,b		; 0E2C  78		x
	or	a		; 0E2D  B7		7
	jr	nz,X0df9	; 0E2E  20 C9		 I
	ld	hl,X4124	; 0E30  21 24 41	!$A
	dec	(hl)		; 0E33  35		5
	jr	nz,X0df9	; 0E34  20 C3		 C
	jp	X07b2		; 0E36  C3 B2 07	C2.
;
X0e39:	ld	a,c		; 0E39  79		y
X0e3a:	ld	(X412d),a	; 0E3A  32 2D 41	2-A
	dec	hl		; 0E3D  2B		+
	ld	de,X4150	; 0E3E  11 50 41	.PA
	ld	bc,X0700	; 0E41  01 00 07	...
X0e44:	ld	a,(hl)		; 0E44  7E		~
	ld	(de),a		; 0E45  12		.
	ld	(hl),c		; 0E46  71		q
	dec	de		; 0E47  1B		.
	dec	hl		; 0E48  2B		+
	dec	b		; 0E49  05		.
	jr	nz,X0e44	; 0E4A  20 F8		 x
	ret			; 0E4C  C9		I
;
X0e4d:	call	X09fc		; 0E4D  CD FC 09	M|.
	ex	de,hl		; 0E50  EB		k
	dec	hl		; 0E51  2B		+
	ld	a,(hl)		; 0E52  7E		~
	or	a		; 0E53  B7		7
	ret	z		; 0E54  C8		H
	add	a,2		; 0E55  C6 02		F.
	jp	c,X07b2		; 0E57  DA B2 07	Z2.
	ld	(hl),a		; 0E5A  77		w
	push	hl		; 0E5B  E5		e
	call	X0c77		; 0E5C  CD 77 0C	Mw.
	pop	hl		; 0E5F  E1		a
	inc	(hl)		; 0E60  34		4
	ret	nz		; 0E61  C0		@
	jp	X07b2		; 0E62  C3 B2 07	C2.
;
X0e65:	call	X0778		; 0E65  CD 78 07	Mx.
	call	X0aec		; 0E68  CD EC 0A	Ml.
	or	0afh		; 0E6B  F6 AF		v/
	ex	de,hl		; 0E6D  EB		k
	ld	bc,X00ff	; 0E6E  01 FF 00	...
	ld	h,b		; 0E71  60		`
	ld	l,b		; 0E72  68		h
	call	z,X0a9a		; 0E73  CC 9A 0A	L..
	ex	de,hl		; 0E76  EB		k
	ld	a,(hl)		; 0E77  7E		~
	cp	2dh		; 0E78  FE 2D		~-
	push	af		; 0E7A  F5		u
	jp	z,X0e83		; 0E7B  CA 83 0E	J..
	cp	2bh		; 0E7E  FE 2B		~+
	jr	z,X0e83		; 0E80  28 01		(.
	dec	hl		; 0E82  2B		+
X0e83:	rst	10h		; 0E83  D7		W
	jp	c,X0f29		; 0E84  DA 29 0F	Z).
	cp	2eh		; 0E87  FE 2E		~.
	jp	z,X0ee4		; 0E89  CA E4 0E	Jd.
	cp	fdrvbuf		; 0E8C  FE 45		~E
	jr	z,X0ea4		; 0E8E  28 14		(.
	cp	25h		; 0E90  FE 25		~%
	jp	z,X0eee		; 0E92  CA EE 0E	Jn.
	cp	23h		; 0E95  FE 23		~#
	jp	z,X0ef5		; 0E97  CA F5 0E	Ju.
	cp	21h		; 0E9A  FE 21		~!
	jp	z,X0ef6		; 0E9C  CA F6 0E	Jv.
	cp	44h		; 0E9F  FE 44		~D
	jr	nz,X0ec7	; 0EA1  20 24		 $
	or	a		; 0EA3  B7		7
X0ea4:	call	X0efb		; 0EA4  CD FB 0E	M{.
	push	hl		; 0EA7  E5		e
	ld	hl,X0ebd	; 0EA8  21 BD 0E	!=.
	ex	(sp),hl		; 0EAB  E3		c
	rst	10h		; 0EAC  D7		W
	dec	d		; 0EAD  15		.
	cp	0ceh		; 0EAE  FE CE		~N
	ret	z		; 0EB0  C8		H
	cp	2dh		; 0EB1  FE 2D		~-
	ret	z		; 0EB3  C8		H
	inc	d		; 0EB4  14		.
	cp	0cdh		; 0EB5  FE CD		~M
	ret	z		; 0EB7  C8		H
	cp	2bh		; 0EB8  FE 2B		~+
	ret	z		; 0EBA  C8		H
	dec	hl		; 0EBB  2B		+
	pop	af		; 0EBC  F1		q
X0ebd:	rst	10h		; 0EBD  D7		W
	jp	c,X0f94		; 0EBE  DA 94 0F	Z..
	inc	d		; 0EC1  14		.
	jr	nz,X0ec7	; 0EC2  20 03		 .
	xor	a		; 0EC4  AF		/
	sub	e		; 0EC5  93		.
	ld	e,a		; 0EC6  5F		_
X0ec7:	push	hl		; 0EC7  E5		e
	ld	a,e		; 0EC8  7B		{
	sub	b		; 0EC9  90		.
X0eca:	call	p,X0f0a		; 0ECA  F4 0A 0F	t..
	call	m,X0f18		; 0ECD  FC 18 0F	|..
	jr	nz,X0eca	; 0ED0  20 F8		 x
	pop	hl		; 0ED2  E1		a
	pop	af		; 0ED3  F1		q
	push	hl		; 0ED4  E5		e
	call	z,X097b		; 0ED5  CC 7B 09	L{.
	pop	hl		; 0ED8  E1		a
	rst	20h		; 0ED9  E7		g
	ret	pe		; 0EDA  E8		h
	push	hl		; 0EDB  E5		e
	ld	hl,X0890	; 0EDC  21 90 08	!..
	push	hl		; 0EDF  E5		e
	call	X0aa3		; 0EE0  CD A3 0A	M#.
	ret			; 0EE3  C9		I
;
X0ee4:	rst	20h		; 0EE4  E7		g
	inc	c		; 0EE5  0C		.
	jr	nz,X0ec7	; 0EE6  20 DF		 _
	call	c,X0efb		; 0EE8  DC FB 0E	\{.
	jp	X0e83		; 0EEB  C3 83 0E	C..
;
X0eee:	rst	20h		; 0EEE  E7		g
	jp	p,SNERR		; 0EEF  F2 97 19	r..
X0ef2:	inc	hl		; 0EF2  23		#
	jr	X0ec7		; 0EF3  18 D2		.R
;
X0ef5:	or	a		; 0EF5  B7		7
X0ef6:	call	X0efb		; 0EF6  CD FB 0E	M{.
	jr	X0ef2		; 0EF9  18 F7		.w
;
X0efb:	push	hl		; 0EFB  E5		e
	push	de		; 0EFC  D5		U
	push	bc		; 0EFD  C5		E
	push	af		; 0EFE  F5		u
	call	z,X0ab1		; 0EFF  CC B1 0A	L1.
	pop	af		; 0F02  F1		q
	call	nz,X0adb	; 0F03  C4 DB 0A	D[.
	pop	bc		; 0F06  C1		A
	pop	de		; 0F07  D1		Q
	pop	hl		; 0F08  E1		a
	ret			; 0F09  C9		I
;
X0f0a:	ret	z		; 0F0A  C8		H
X0f0b:	push	af		; 0F0B  F5		u
	rst	20h		; 0F0C  E7		g
	push	af		; 0F0D  F5		u
	call	po,X093e	; 0F0E  E4 3E 09	d>.
	pop	af		; 0F11  F1		q
	call	pe,X0e4d	; 0F12  EC 4D 0E	lM.
	pop	af		; 0F15  F1		q
X0f16:	dec	a		; 0F16  3D		=
	ret			; 0F17  C9		I
;
X0f18:	push	de		; 0F18  D5		U
	push	hl		; 0F19  E5		e
	push	af		; 0F1A  F5		u
	rst	20h		; 0F1B  E7		g
	push	af		; 0F1C  F5		u
	call	po,X0897	; 0F1D  E4 97 08	d..
	pop	af		; 0F20  F1		q
	call	pe,X0ddc	; 0F21  EC DC 0D	l\.
	pop	af		; 0F24  F1		q
	pop	hl		; 0F25  E1		a
	pop	de		; 0F26  D1		Q
	inc	a		; 0F27  3C		<
	ret			; 0F28  C9		I
;
X0f29:	push	de		; 0F29  D5		U
	ld	a,b		; 0F2A  78		x
	adc	a,c		; 0F2B  89		.
	ld	b,a		; 0F2C  47		G
	push	bc		; 0F2D  C5		E
	push	hl		; 0F2E  E5		e
	ld	a,(hl)		; 0F2F  7E		~
	sub	30h		; 0F30  D6 30		V0
	push	af		; 0F32  F5		u
	rst	20h		; 0F33  E7		g
	jp	p,X0f5d		; 0F34  F2 5D 0F	r].
	ld	hl,(X4121)	; 0F37  2A 21 41	*!A
	ld	de,X0ccd	; 0F3A  11 CD 0C	.M.
	rst	18h		; 0F3D  DF		_
	jr	nc,X0f59	; 0F3E  30 19		0.
	ld	d,h		; 0F40  54		T
	ld	e,l		; 0F41  5D		]
	add	hl,hl		; 0F42  29		)
	add	hl,hl		; 0F43  29		)
	add	hl,de		; 0F44  19		.
	add	hl,hl		; 0F45  29		)
	pop	af		; 0F46  F1		q
	ld	c,a		; 0F47  4F		O
	add	hl,bc		; 0F48  09		.
	ld	a,h		; 0F49  7C		|
	or	a		; 0F4A  B7		7
	jp	m,X0f57		; 0F4B  FA 57 0F	zW.
	ld	(X4121),hl	; 0F4E  22 21 41	"!A
X0f51:	pop	hl		; 0F51  E1		a
	pop	bc		; 0F52  C1		A
	pop	de		; 0F53  D1		Q
	jp	X0e83		; 0F54  C3 83 0E	C..
;
X0f57:	ld	a,c		; 0F57  79		y
	push	af		; 0F58  F5		u
X0f59:	call	X0acc		; 0F59  CD CC 0A	ML.
	scf			; 0F5C  37		7
X0f5d:	jr	nc,X0f77	; 0F5D  30 18		0.
	ld	bc,X9474	; 0F5F  01 74 94	.t.
	ld	de,X2400	; 0F62  11 00 24	..$
	call	X0a0c		; 0F65  CD 0C 0A	M..
	jp	p,X0f74		; 0F68  F2 74 0F	rt.
	call	X093e		; 0F6B  CD 3E 09	M>.
	pop	af		; 0F6E  F1		q
	call	X0f89		; 0F6F  CD 89 0F	M..
	jr	X0f51		; 0F72  18 DD		.]
;
X0f74:	call	X0ae3		; 0F74  CD E3 0A	Mc.
X0f77:	call	X0e4d		; 0F77  CD 4D 0E	MM.
	call	X09fc		; 0F7A  CD FC 09	M|.
	pop	af		; 0F7D  F1		q
	call	X0964		; 0F7E  CD 64 09	Md.
	call	X0ae3		; 0F81  CD E3 0A	Mc.
	call	X0c77		; 0F84  CD 77 0C	Mw.
	jr	X0f51		; 0F87  18 C8		.H
;
X0f89:	call	X09a4		; 0F89  CD A4 09	M$.
	call	X0964		; 0F8C  CD 64 09	Md.
X0f8f:	pop	bc		; 0F8F  C1		A
	pop	de		; 0F90  D1		Q
	jp	X0716		; 0F91  C3 16 07	C..
;
X0f94:	ld	a,e		; 0F94  7B		{
	cp	0ah		; 0F95  FE 0A		~.
	jr	nc,X0fa2	; 0F97  30 09		0.
	rlca			; 0F99  07		.
	rlca			; 0F9A  07		.
	add	a,e		; 0F9B  83		.
	rlca			; 0F9C  07		.
	add	a,(hl)		; 0F9D  86		.
	sub	30h		; 0F9E  D6 30		V0
	ld	e,a		; 0FA0  5F		_
	jp	m,X321e		; 0FA1  FA 1E 32	z.2
	jp	X0ebd		; 0FA4  C3 BD 0E	C=.
;
X0fa7:	push	hl		; 0FA7  E5		e
	ld	hl,X1924	; 0FA8  21 24 19	!$.
	call	X28a7		; 0FAB  CD A7 28	M'(
	pop	hl		; 0FAE  E1		a
X0faf:	call	X0a9a		; 0FAF  CD 9A 0A	M..
	xor	a		; 0FB2  AF		/
	call	X1034		; 0FB3  CD 34 10	M4.
	or	(hl)		; 0FB6  B6		6
	call	X0fd9		; 0FB7  CD D9 0F	MY.
	jp	X28a6		; 0FBA  C3 A6 28	C&(
;
X0fbd:	xor	a		; 0FBD  AF		/
X0fbe:	call	X1034		; 0FBE  CD 34 10	M4.
	and	8		; 0FC1  E6 08		f.
	jr	z,X0fc7		; 0FC3  28 02		(.
	ld	(hl),2bh	; 0FC5  36 2B		6+
X0fc7:	ex	de,hl		; 0FC7  EB		k
	call	X0994		; 0FC8  CD 94 09	M..
	ex	de,hl		; 0FCB  EB		k
	jp	p,X0fd9		; 0FCC  F2 D9 0F	rY.
	ld	(hl),2dh	; 0FCF  36 2D		6-
	push	bc		; 0FD1  C5		E
	push	hl		; 0FD2  E5		e
	call	X097b		; 0FD3  CD 7B 09	M{.
	pop	hl		; 0FD6  E1		a
	pop	bc		; 0FD7  C1		A
	or	h		; 0FD8  B4		4
X0fd9:	inc	hl		; 0FD9  23		#
	ld	(hl),30h	; 0FDA  36 30		60
	ld	a,(X40d8)	; 0FDC  3A D8 40	:X@
	ld	d,a		; 0FDF  57		W
	rla			; 0FE0  17		.
	ld	a,(X40af)	; 0FE1  3A AF 40	:/@
	jp	c,X109a		; 0FE4  DA 9A 10	Z..
	jp	z,X1092		; 0FE7  CA 92 10	J..
	cp	4		; 0FEA  FE 04		~.
	jp	nc,X103d	; 0FEC  D2 3D 10	R=.
	ld	bc,X0000	; 0FEF  01 00 00	...
	call	X132f		; 0FF2  CD 2F 13	M/.
X0ff5:	ld	hl,X4130	; 0FF5  21 30 41	!0A
	ld	b,(hl)		; 0FF8  46		F
	ld	c,20h		; 0FF9  0E 20		.
	ld	a,(X40d8)	; 0FFB  3A D8 40	:X@
	ld	e,a		; 0FFE  5F		_
	and	20h		; 0FFF  E6 20		f
	jr	z,X100a		; 1001  28 07		(.
	ld	a,b		; 1003  78		x
	cp	c		; 1004  B9		9
	ld	c,2ah		; 1005  0E 2A		.*
	jr	nz,X100a	; 1007  20 01		 .
	ld	b,c		; 1009  41		A
X100a:	ld	(hl),c		; 100A  71		q
	rst	10h		; 100B  D7		W
	jr	z,X1022		; 100C  28 14		(.
	cp	fdrvbuf		; 100E  FE 45		~E
	jr	z,X1022		; 1010  28 10		(.
	cp	44h		; 1012  FE 44		~D
	jr	z,X1022		; 1014  28 0C		(.
	cp	30h		; 1016  FE 30		~0
	jr	z,X100a		; 1018  28 F0		(p
	cp	2ch		; 101A  FE 2C		~,
	jr	z,X100a		; 101C  28 EC		(l
	cp	2eh		; 101E  FE 2E		~.
	jr	nz,X1025	; 1020  20 03		 .
X1022:	dec	hl		; 1022  2B		+
	ld	(hl),30h	; 1023  36 30		60
X1025:	ld	a,e		; 1025  7B		{
	and	10h		; 1026  E6 10		f.
	jr	z,X102d		; 1028  28 03		(.
	dec	hl		; 102A  2B		+
	ld	(hl),24h	; 102B  36 24		6$
X102d:	ld	a,e		; 102D  7B		{
	and	4		; 102E  E6 04		f.
	ret	nz		; 1030  C0		@
	dec	hl		; 1031  2B		+
	ld	(hl),b		; 1032  70		p
	ret			; 1033  C9		I
;
X1034:	ld	(X40d8),a	; 1034  32 D8 40	2X@
	ld	hl,X4130	; 1037  21 30 41	!0A
	ld	(hl),20h	; 103A  36 20		6
	ret			; 103C  C9		I
;
X103d:	cp	5		; 103D  FE 05		~.
	push	hl		; 103F  E5		e
	sbc	a,0		; 1040  DE 00		^.
	rla			; 1042  17		.
	ld	d,a		; 1043  57		W
	inc	d		; 1044  14		.
	call	X1201		; 1045  CD 01 12	M..
	ld	bc,X0300	; 1048  01 00 03	...
	add	a,d		; 104B  82		.
	jp	m,X1057		; 104C  FA 57 10	zW.
	inc	d		; 104F  14		.
	cp	d		; 1050  BA		:
	jr	nc,X1057	; 1051  30 04		0.
	inc	a		; 1053  3C		<
	ld	b,a		; 1054  47		G
	ld	a,2		; 1055  3E 02		>.
X1057:	sub	2		; 1057  D6 02		V.
	pop	hl		; 1059  E1		a
	push	af		; 105A  F5		u
	call	X1291		; 105B  CD 91 12	M..
	ld	(hl),30h	; 105E  36 30		60
	call	z,X09c9		; 1060  CC C9 09	LI.
	call	X12a4		; 1063  CD A4 12	M$.
X1066:	dec	hl		; 1066  2B		+
	ld	a,(hl)		; 1067  7E		~
	cp	30h		; 1068  FE 30		~0
	jr	z,X1066		; 106A  28 FA		(z
	cp	2eh		; 106C  FE 2E		~.
	call	nz,X09c9	; 106E  C4 C9 09	DI.
	pop	af		; 1071  F1		q
	jr	z,X1093		; 1072  28 1F		(.
X1074:	push	af		; 1074  F5		u
	rst	20h		; 1075  E7		g
	ld	a,22h		; 1076  3E 22		>"
	adc	a,a		; 1078  8F		.
	ld	(hl),a		; 1079  77		w
	inc	hl		; 107A  23		#
	pop	af		; 107B  F1		q
	ld	(hl),2bh	; 107C  36 2B		6+
	jp	p,X1085		; 107E  F2 85 10	r..
	ld	(hl),2dh	; 1081  36 2D		6-
	cpl			; 1083  2F		/
	inc	a		; 1084  3C		<
X1085:	ld	b,2fh		; 1085  06 2F		./
X1087:	inc	b		; 1087  04		.
	sub	0ah		; 1088  D6 0A		V.
	jr	nc,X1087	; 108A  30 FB		0{
	add	a,rst7sp3	; 108C  C6 3A		F:
	inc	hl		; 108E  23		#
	ld	(hl),b		; 108F  70		p
	inc	hl		; 1090  23		#
	ld	(hl),a		; 1091  77		w
X1092:	inc	hl		; 1092  23		#
X1093:	ld	(hl),0		; 1093  36 00		6.
	ex	de,hl		; 1095  EB		k
	ld	hl,X4130	; 1096  21 30 41	!0A
	ret			; 1099  C9		I
;
X109a:	inc	hl		; 109A  23		#
	push	bc		; 109B  C5		E
	cp	4		; 109C  FE 04		~.
	ld	a,d		; 109E  7A		z
	jp	nc,X1109	; 109F  D2 09 11	R..
	rra			; 10A2  1F		.
	jp	c,X11a3		; 10A3  DA A3 11	Z#.
	ld	bc,X0603	; 10A6  01 03 06	...
	call	X1289		; 10A9  CD 89 12	M..
	pop	de		; 10AC  D1		Q
	ld	a,d		; 10AD  7A		z
	sub	5		; 10AE  D6 05		V.
	call	p,X1269		; 10B0  F4 69 12	ti.
	call	X132f		; 10B3  CD 2F 13	M/.
X10b6:	ld	a,e		; 10B6  7B		{
	or	a		; 10B7  B7		7
	call	z,X092f		; 10B8  CC 2F 09	L/.
	dec	a		; 10BB  3D		=
	call	p,X1269		; 10BC  F4 69 12	ti.
X10bf:	push	hl		; 10BF  E5		e
	call	X0ff5		; 10C0  CD F5 0F	Mu.
	pop	hl		; 10C3  E1		a
	jr	z,X10c8		; 10C4  28 02		(.
	ld	(hl),b		; 10C6  70		p
	inc	hl		; 10C7  23		#
X10c8:	ld	(hl),0		; 10C8  36 00		6.
	ld	hl,X412f	; 10CA  21 2F 41	!/A
X10cd:	inc	hl		; 10CD  23		#
X10ce:	ld	a,(X40f3)	; 10CE  3A F3 40	:s@
	sub	l		; 10D1  95		.
	sub	d		; 10D2  92		.
	ret	z		; 10D3  C8		H
	ld	a,(hl)		; 10D4  7E		~
	cp	20h		; 10D5  FE 20		~
	jr	z,X10cd		; 10D7  28 F4		(t
	cp	2ah		; 10D9  FE 2A		~*
	jr	z,X10cd		; 10DB  28 F0		(p
	dec	hl		; 10DD  2B		+
	push	hl		; 10DE  E5		e
X10df:	push	af		; 10DF  F5		u
	ld	bc,X10df	; 10E0  01 DF 10	._.
	push	bc		; 10E3  C5		E
	rst	10h		; 10E4  D7		W
	cp	2dh		; 10E5  FE 2D		~-
	ret	z		; 10E7  C8		H
	cp	2bh		; 10E8  FE 2B		~+
	ret	z		; 10EA  C8		H
	cp	24h		; 10EB  FE 24		~$
	ret	z		; 10ED  C8		H
	pop	bc		; 10EE  C1		A
	cp	30h		; 10EF  FE 30		~0
	jr	nz,X1102	; 10F1  20 0F		 .
	inc	hl		; 10F3  23		#
	rst	10h		; 10F4  D7		W
	jr	nc,X1102	; 10F5  30 0B		0.
	dec	hl		; 10F7  2B		+
	ld	bc,X772b	; 10F8  01 2B 77	.+w
	pop	af		; 10FB  F1		q
	jr	z,X10f9		; 10FC  28 FB		({
	pop	bc		; 10FE  C1		A
	jp	X10ce		; 10FF  C3 CE 10	CN.
;
X1102:	pop	af		; 1102  F1		q
	jr	z,X1102		; 1103  28 FD		(}
	pop	hl		; 1105  E1		a
	ld	(hl),25h	; 1106  36 25		6%
	ret			; 1108  C9		I
;
X1109:	push	hl		; 1109  E5		e
	rra			; 110A  1F		.
	jp	c,X11aa		; 110B  DA AA 11	Z*.
	jr	z,X1124		; 110E  28 14		(.
	ld	de,X1384	; 1110  11 84 13	...
	call	X0a49		; 1113  CD 49 0A	MI.
	ld	d,10h		; 1116  16 10		..
	jp	m,X1132		; 1118  FA 32 11	z2.
X111b:	pop	hl		; 111B  E1		a
	pop	bc		; 111C  C1		A
	call	X0fbd		; 111D  CD BD 0F	M=.
	dec	hl		; 1120  2B		+
	ld	(hl),25h	; 1121  36 25		6%
	ret			; 1123  C9		I
;
X1124:	ld	bc,Xb60e	; 1124  01 0E B6	..6
	ld	de,X1bca	; 1127  11 CA 1B	.J.
	call	X0a0c		; 112A  CD 0C 0A	M..
	jp	p,X111b		; 112D  F2 1B 11	r..
	ld	d,6		; 1130  16 06		..
X1132:	call	X0955		; 1132  CD 55 09	MU.
	call	nz,X1201	; 1135  C4 01 12	D..
	pop	hl		; 1138  E1		a
	pop	bc		; 1139  C1		A
	jp	m,X1157		; 113A  FA 57 11	zW.
	push	bc		; 113D  C5		E
	ld	e,a		; 113E  5F		_
	ld	a,b		; 113F  78		x
	sub	d		; 1140  92		.
	sub	e		; 1141  93		.
	call	p,X1269		; 1142  F4 69 12	ti.
	call	X127d		; 1145  CD 7D 12	M}.
	call	X12a4		; 1148  CD A4 12	M$.
	or	e		; 114B  B3		3
	call	nz,X1277	; 114C  C4 77 12	Dw.
	or	e		; 114F  B3		3
	call	nz,X1291	; 1150  C4 91 12	D..
	pop	de		; 1153  D1		Q
	jp	X10b6		; 1154  C3 B6 10	C6.
;
X1157:	ld	e,a		; 1157  5F		_
	ld	a,c		; 1158  79		y
	or	a		; 1159  B7		7
	call	nz,X0f16	; 115A  C4 16 0F	D..
	add	a,e		; 115D  83		.
	jp	m,X1162		; 115E  FA 62 11	zb.
	xor	a		; 1161  AF		/
X1162:	push	bc		; 1162  C5		E
	push	af		; 1163  F5		u
X1164:	call	m,X0f18		; 1164  FC 18 0F	|..
	jp	m,X1164		; 1167  FA 64 11	zd.
	pop	bc		; 116A  C1		A
	ld	a,e		; 116B  7B		{
	sub	b		; 116C  90		.
	pop	bc		; 116D  C1		A
	ld	e,a		; 116E  5F		_
	add	a,d		; 116F  82		.
	ld	a,b		; 1170  78		x
	jp	m,X117f		; 1171  FA 7F 11	z..
	sub	d		; 1174  92		.
	sub	e		; 1175  93		.
	call	p,X1269		; 1176  F4 69 12	ti.
	push	bc		; 1179  C5		E
	call	X127d		; 117A  CD 7D 12	M}.
	jr	X1190		; 117D  18 11		..
;
X117f:	call	X1269		; 117F  CD 69 12	Mi.
	ld	a,c		; 1182  79		y
	call	X1294		; 1183  CD 94 12	M..
	ld	c,a		; 1186  4F		O
	xor	a		; 1187  AF		/
	sub	d		; 1188  92		.
	sub	e		; 1189  93		.
	call	X1269		; 118A  CD 69 12	Mi.
	push	bc		; 118D  C5		E
	ld	b,a		; 118E  47		G
	ld	c,a		; 118F  4F		O
X1190:	call	X12a4		; 1190  CD A4 12	M$.
	pop	bc		; 1193  C1		A
	or	c		; 1194  B1		1
	jr	nz,X119a	; 1195  20 03		 .
	ld	hl,(X40f3)	; 1197  2A F3 40	*s@
X119a:	add	a,e		; 119A  83		.
	dec	a		; 119B  3D		=
	call	p,X1269		; 119C  F4 69 12	ti.
	ld	d,b		; 119F  50		P
	jp	X10bf		; 11A0  C3 BF 10	C?.
;
X11a3:	push	hl		; 11A3  E5		e
	push	de		; 11A4  D5		U
	call	X0acc		; 11A5  CD CC 0A	ML.
	pop	de		; 11A8  D1		Q
	xor	a		; 11A9  AF		/
X11aa:	jp	z,X11b0		; 11AA  CA B0 11	J0.
	ld	e,10h		; 11AD  1E 10		..
	ld	bc,X061e	; 11AF  01 1E 06	...
	call	X0955		; 11B2  CD 55 09	MU.
	scf			; 11B5  37		7
	call	nz,X1201	; 11B6  C4 01 12	D..
	pop	hl		; 11B9  E1		a
	pop	bc		; 11BA  C1		A
	push	af		; 11BB  F5		u
	ld	a,c		; 11BC  79		y
	or	a		; 11BD  B7		7
	push	af		; 11BE  F5		u
	call	nz,X0f16	; 11BF  C4 16 0F	D..
	add	a,b		; 11C2  80		.
	ld	c,a		; 11C3  4F		O
	ld	a,d		; 11C4  7A		z
	and	4		; 11C5  E6 04		f.
	cp	1		; 11C7  FE 01		~.
	sbc	a,a		; 11C9  9F		.
	ld	d,a		; 11CA  57		W
	add	a,c		; 11CB  81		.
	ld	c,a		; 11CC  4F		O
	sub	e		; 11CD  93		.
	push	af		; 11CE  F5		u
	push	bc		; 11CF  C5		E
X11d0:	call	m,X0f18		; 11D0  FC 18 0F	|..
	jp	m,X11d0		; 11D3  FA D0 11	zP.
	pop	bc		; 11D6  C1		A
	pop	af		; 11D7  F1		q
	push	bc		; 11D8  C5		E
X11d9:	push	af		; 11D9  F5		u
	jp	m,X11de		; 11DA  FA DE 11	z^.
	xor	a		; 11DD  AF		/
X11de:	cpl			; 11DE  2F		/
	inc	a		; 11DF  3C		<
	add	a,b		; 11E0  80		.
	inc	a		; 11E1  3C		<
	add	a,d		; 11E2  82		.
	ld	b,a		; 11E3  47		G
	ld	c,0		; 11E4  0E 00		..
	call	X12a4		; 11E6  CD A4 12	M$.
	pop	af		; 11E9  F1		q
	call	p,X1271		; 11EA  F4 71 12	tq.
	pop	bc		; 11ED  C1		A
	pop	af		; 11EE  F1		q
	call	z,X092f		; 11EF  CC 2F 09	L/.
	pop	af		; 11F2  F1		q
	jr	c,X11f8		; 11F3  38 03		8.
	add	a,e		; 11F5  83		.
	sub	b		; 11F6  90		.
	sub	d		; 11F7  92		.
X11f8:	push	bc		; 11F8  C5		E
	call	X1074		; 11F9  CD 74 10	Mt.
	ex	de,hl		; 11FC  EB		k
	pop	de		; 11FD  D1		Q
	jp	X10bf		; 11FE  C3 BF 10	C?.
;
X1201:	push	de		; 1201  D5		U
	xor	a		; 1202  AF		/
	push	af		; 1203  F5		u
	rst	20h		; 1204  E7		g
	jp	po,X1222	; 1205  E2 22 12	b".
X1208:	ld	a,(X4124)	; 1208  3A 24 41	:$A
	cp	91h		; 120B  FE 91		~.
	jp	nc,X1222	; 120D  D2 22 12	R".
	ld	de,X1364	; 1210  11 64 13	.d.
	ld	hl,X4127	; 1213  21 27 41	!'A
	call	X09d3		; 1216  CD D3 09	MS.
	call	X0da1		; 1219  CD A1 0D	M!.
	pop	af		; 121C  F1		q
	sub	0ah		; 121D  D6 0A		V.
	push	af		; 121F  F5		u
	jr	X1208		; 1220  18 E6		.f
;
X1222:	call	X124f		; 1222  CD 4F 12	MO.
X1225:	rst	20h		; 1225  E7		g
	jr	nc,X1233	; 1226  30 0B		0.
	ld	bc,X9143	; 1228  01 43 91	.C.
	ld	de,X4ff9	; 122B  11 F9 4F	.yO
	call	X0a0c		; 122E  CD 0C 0A	M..
	jr	X1239		; 1231  18 06		..
;
X1233:	ld	de,X136c	; 1233  11 6C 13	.l.
	call	X0a49		; 1236  CD 49 0A	MI.
X1239:	jp	p,X124b		; 1239  F2 4B 12	rK.
	pop	af		; 123C  F1		q
	call	X0f0b		; 123D  CD 0B 0F	M..
	push	af		; 1240  F5		u
	jr	X1225		; 1241  18 E2		.b
;
X1243:	pop	af		; 1243  F1		q
	call	X0f18		; 1244  CD 18 0F	M..
	push	af		; 1247  F5		u
	call	X124f		; 1248  CD 4F 12	MO.
X124b:	pop	af		; 124B  F1		q
	or	a		; 124C  B7		7
	pop	de		; 124D  D1		Q
	ret			; 124E  C9		I
;
X124f:	rst	20h		; 124F  E7		g
	jp	pe,X125e	; 1250  EA 5E 12	j^.
	ld	bc,X9474	; 1253  01 74 94	.t.
	ld	de,X23f8	; 1256  11 F8 23	.x#
	call	X0a0c		; 1259  CD 0C 0A	M..
	jr	X1264		; 125C  18 06		..
;
X125e:	ld	de,X1374	; 125E  11 74 13	.t.
	call	X0a49		; 1261  CD 49 0A	MI.
X1264:	pop	hl		; 1264  E1		a
	jp	p,X1243		; 1265  F2 43 12	rC.
	jp	(hl)		; 1268  E9		i
;
X1269:	or	a		; 1269  B7		7
X126a:	ret	z		; 126A  C8		H
	dec	a		; 126B  3D		=
	ld	(hl),30h	; 126C  36 30		60
	inc	hl		; 126E  23		#
	jr	X126a		; 126F  18 F9		.y
;
X1271:	jr	nz,X1277	; 1271  20 04		 .
X1273:	ret	z		; 1273  C8		H
	call	X1291		; 1274  CD 91 12	M..
X1277:	ld	(hl),30h	; 1277  36 30		60
	inc	hl		; 1279  23		#
	dec	a		; 127A  3D		=
	jr	X1273		; 127B  18 F6		.v
;
X127d:	ld	a,e		; 127D  7B		{
	add	a,d		; 127E  82		.
	inc	a		; 127F  3C		<
	ld	b,a		; 1280  47		G
	inc	a		; 1281  3C		<
X1282:	sub	3		; 1282  D6 03		V.
	jr	nc,X1282	; 1284  30 FC		0|
	add	a,5		; 1286  C6 05		F.
	ld	c,a		; 1288  4F		O
X1289:	ld	a,(X40d8)	; 1289  3A D8 40	:X@
	and	blislowblok	; 128C  E6 40		f@
	ret	nz		; 128E  C0		@
	ld	c,a		; 128F  4F		O
	ret			; 1290  C9		I
;
X1291:	dec	b		; 1291  05		.
	jr	nz,X129c	; 1292  20 08		 .
X1294:	ld	(hl),2eh	; 1294  36 2E		6.
	ld	(X40f3),hl	; 1296  22 F3 40	"s@
	inc	hl		; 1299  23		#
	ld	c,b		; 129A  48		H
	ret			; 129B  C9		I
;
X129c:	dec	c		; 129C  0D		.
	ret	nz		; 129D  C0		@
	ld	(hl),2ch	; 129E  36 2C		6,
	inc	hl		; 12A0  23		#
	ld	c,3		; 12A1  0E 03		..
	ret			; 12A3  C9		I
;
X12a4:	push	de		; 12A4  D5		U
	rst	20h		; 12A5  E7		g
	jp	po,X12ea	; 12A6  E2 EA 12	bj.
	push	bc		; 12A9  C5		E
	push	hl		; 12AA  E5		e
	call	X09fc		; 12AB  CD FC 09	M|.
	ld	hl,X137c	; 12AE  21 7C 13	!|.
	call	X09f7		; 12B1  CD F7 09	Mw.
	call	X0c77		; 12B4  CD 77 0C	Mw.
	xor	a		; 12B7  AF		/
	call	X0b7b		; 12B8  CD 7B 0B	M{.
	pop	hl		; 12BB  E1		a
	pop	bc		; 12BC  C1		A
	ld	de,X138c	; 12BD  11 8C 13	...
	ld	a,0ah		; 12C0  3E 0A		>.
X12c2:	call	X1291		; 12C2  CD 91 12	M..
	push	bc		; 12C5  C5		E
	push	af		; 12C6  F5		u
	push	hl		; 12C7  E5		e
	push	de		; 12C8  D5		U
	ld	b,2fh		; 12C9  06 2F		./
X12cb:	inc	b		; 12CB  04		.
	pop	hl		; 12CC  E1		a
	push	hl		; 12CD  E5		e
	call	X0d48		; 12CE  CD 48 0D	MH.
	jr	nc,X12cb	; 12D1  30 F8		0x
	pop	hl		; 12D3  E1		a
	call	X0d36		; 12D4  CD 36 0D	M6.
	ex	de,hl		; 12D7  EB		k
	pop	hl		; 12D8  E1		a
	ld	(hl),b		; 12D9  70		p
	inc	hl		; 12DA  23		#
	pop	af		; 12DB  F1		q
	pop	bc		; 12DC  C1		A
	dec	a		; 12DD  3D		=
	jr	nz,X12c2	; 12DE  20 E2		 b
	push	bc		; 12E0  C5		E
	push	hl		; 12E1  E5		e
	ld	hl,X411d	; 12E2  21 1D 41	!.A
	call	X09b1		; 12E5  CD B1 09	M1.
	jr	X12f6		; 12E8  18 0C		..
;
X12ea:	push	bc		; 12EA  C5		E
	push	hl		; 12EB  E5		e
	call	X0708		; 12EC  CD 08 07	M..
	inc	a		; 12EF  3C		<
	call	X0afb		; 12F0  CD FB 0A	M{.
	call	X09b4		; 12F3  CD B4 09	M4.
X12f6:	pop	hl		; 12F6  E1		a
	pop	bc		; 12F7  C1		A
	xor	a		; 12F8  AF		/
	ld	de,X13d2	; 12F9  11 D2 13	.R.
X12fc:	ccf			; 12FC  3F		?
	call	X1291		; 12FD  CD 91 12	M..
	push	bc		; 1300  C5		E
	push	af		; 1301  F5		u
	push	hl		; 1302  E5		e
	push	de		; 1303  D5		U
	call	X09bf		; 1304  CD BF 09	M?.
	pop	hl		; 1307  E1		a
	ld	b,2fh		; 1308  06 2F		./
X130a:	inc	b		; 130A  04		.
	ld	a,e		; 130B  7B		{
	sub	(hl)		; 130C  96		.
	ld	e,a		; 130D  5F		_
	inc	hl		; 130E  23		#
	ld	a,d		; 130F  7A		z
	sbc	a,(hl)		; 1310  9E		.
	ld	d,a		; 1311  57		W
	inc	hl		; 1312  23		#
	ld	a,c		; 1313  79		y
	sbc	a,(hl)		; 1314  9E		.
	ld	c,a		; 1315  4F		O
	dec	hl		; 1316  2B		+
	dec	hl		; 1317  2B		+
	jr	nc,X130a	; 1318  30 F0		0p
	call	X07b7		; 131A  CD B7 07	M7.
	inc	hl		; 131D  23		#
	call	X09b4		; 131E  CD B4 09	M4.
	ex	de,hl		; 1321  EB		k
	pop	hl		; 1322  E1		a
	ld	(hl),b		; 1323  70		p
	inc	hl		; 1324  23		#
	pop	af		; 1325  F1		q
	pop	bc		; 1326  C1		A
	jr	c,X12fc		; 1327  38 D3		8S
	inc	de		; 1329  13		.
	inc	de		; 132A  13		.
	ld	a,4		; 132B  3E 04		>.
	jr	X1335		; 132D  18 06		..
;
X132f:	push	de		; 132F  D5		U
	ld	de,X13d8	; 1330  11 D8 13	.X.
	ld	a,5		; 1333  3E 05		>.
X1335:	call	X1291		; 1335  CD 91 12	M..
	push	bc		; 1338  C5		E
	push	af		; 1339  F5		u
	push	hl		; 133A  E5		e
	ex	de,hl		; 133B  EB		k
	ld	c,(hl)		; 133C  4E		N
	inc	hl		; 133D  23		#
	ld	b,(hl)		; 133E  46		F
	push	bc		; 133F  C5		E
	inc	hl		; 1340  23		#
	ex	(sp),hl		; 1341  E3		c
	ex	de,hl		; 1342  EB		k
	ld	hl,(X4121)	; 1343  2A 21 41	*!A
	ld	b,2fh		; 1346  06 2F		./
X1348:	inc	b		; 1348  04		.
X1349:	ld	a,l		; 1349  7D		}
	sub	e		; 134A  93		.
	ld	l,a		; 134B  6F		o
	ld	a,h		; 134C  7C		|
	sbc	a,d		; 134D  9A		.
	ld	h,a		; 134E  67		g
	jr	nc,X1348	; 134F  30 F7		0w
	add	hl,de		; 1351  19		.
	ld	(X4121),hl	; 1352  22 21 41	"!A
	pop	de		; 1355  D1		Q
	pop	hl		; 1356  E1		a
	ld	(hl),b		; 1357  70		p
	inc	hl		; 1358  23		#
	pop	af		; 1359  F1		q
	pop	bc		; 135A  C1		A
	dec	a		; 135B  3D		=
	jr	nz,X1335	; 135C  20 D7		 W
	call	X1291		; 135E  CD 91 12	M..
	ld	(hl),a		; 1361  77		w
	pop	de		; 1362  D1		Q
	ret			; 1363  C9		I
;
X1364:	nop			; 1364  00		.
;
	ORG	1368h
;
	ld	sp,hl		; 1368  F9		y
	ld	(bc),a		; 1369  02		.
	dec	d		; 136A  15		.
	and	d		; 136B  A2		"
X136c:	defb	0fdh,0ffh	; 136C  FD FF		}.
;
	sbc	a,a		; 136E  9F		.
	ld	sp,X5fa9	; 136F  31 A9 5F	1)_
	ld	h,e		; 1372  63		c
	or	d		; 1373  B2		2
X1374:	cp	0ffh		; 1374  FE FF		~.
	inc	bc		; 1376  03		.
	cp	a		; 1377  BF		?
	ret			; 1378  C9		I
;
	dec	de		; 1379  1B		.
	ld	c,0b6h		; 137A  0E B6		.6
X137c:	nop			; 137C  00		.
;
	ORG	1380h
;
X1380:	nop			; 1380  00		.
;
	ORG	1383h
;
	add	a,b		; 1383  80		.
X1384:	nop			; 1384  00		.
	nop			; 1385  00		.
	inc	b		; 1386  04		.
	cp	a		; 1387  BF		?
	ret			; 1388  C9		I
;
	dec	de		; 1389  1B		.
	ld	c,0b6h		; 138A  0E B6		.6
X138c:	nop			; 138C  00		.
	add	a,b		; 138D  80		.
	add	a,0a4h		; 138E  C6 A4		F$
	ld	a,(hl)		; 1390  7E		~
	adc	a,l		; 1391  8D		.
	inc	bc		; 1392  03		.
	nop			; 1393  00		.
	ld	b,b		; 1394  40		@
	ld	a,d		; 1395  7A		z
	djnz	X138b		; 1396  10 F3		.s
	ld	e,d		; 1398  5A		Z
	nop			; 1399  00		.
	nop			; 139A  00		.
	and	b		; 139B  A0
	ld	(hl),d		; 139C  72		r
	ld	c,(hl)		; 139D  4E		N
	jr	X13a9		; 139E  18 09		..
;
	ORG	13a2h
;
	djnz	X1349		; 13A2  10 A5		.%
	call	nc,X00e8	; 13A4  D4 E8 00	Th.
	nop			; 13A7  00		.
	nop			; 13A8  00		.
X13a9:	ret	pe		; 13A9  E8		h
	halt			; 13AA  76		v
;
	ld	c,b		; 13AB  48		H
	rla			; 13AC  17		.
	nop			; 13AD  00		.
	nop			; 13AE  00		.
	nop			; 13AF  00		.
	call	po,X540b	; 13B0  E4 0B 54	d.T
	ld	(bc),a		; 13B3  02		.
	nop			; 13B4  00		.
	nop			; 13B5  00		.
	nop			; 13B6  00		.
	jp	z,X3b9a		; 13B7  CA 9A 3B	J.;
	nop			; 13BA  00		.
	nop			; 13BB  00		.
	nop			; 13BC  00		.
	nop			; 13BD  00		.
	pop	hl		; 13BE  E1		a
	push	af		; 13BF  F5		u
	dec	b		; 13C0  05		.
	nop			; 13C1  00		.
	nop			; 13C2  00		.
	nop			; 13C3  00		.
	add	a,b		; 13C4  80		.
	sub	(hl)		; 13C5  96		.
	sbc	a,b		; 13C6  98		.
	nop			; 13C7  00		.
	nop			; 13C8  00		.
	nop			; 13C9  00		.
	nop			; 13CA  00		.
	ld	b,b		; 13CB  40		@
	ld	b,d		; 13CC  42		B
	rrca			; 13CD  0F		.
	nop			; 13CE  00		.
	nop			; 13CF  00		.
	nop			; 13D0  00		.
	nop			; 13D1  00		.
X13d2:	and	b		; 13D2  A0
	add	a,(hl)		; 13D3  86		.
	ld	bc,X2710	; 13D4  01 10 27	..'
	nop			; 13D7  00		.
X13d8:	djnz	X1401		; 13D8  10 27		.'
	ret	pe		; 13DA  E8		h
	inc	bc		; 13DB  03		.
	ld	h,h		; 13DC  64		d
	nop			; 13DD  00		.
	ld	a,(bc)		; 13DE  0A		.
	nop			; 13DF  00		.
	ld	bc,X2100	; 13E0  01 00 21	..!
	add	a,d		; 13E3  82		.
	add	hl,bc		; 13E4  09		.
	ex	(sp),hl		; 13E5  E3		c
	add	hl,sp		; 13E6  39		9
X13e7:	call	X09a4		; 13E7  CD A4 09	M$.
	ld	hl,X1380	; 13EA  21 80 13	!..
	call	X09b1		; 13ED  CD B1 09	M1.
	jr	X13f5		; 13F0  18 03		..
;
X13f2:	call	X0ab1		; 13F2  CD B1 0A	M1.
X13f5:	pop	bc		; 13F5  C1		A
	pop	de		; 13F6  D1		Q
	call	X0955		; 13F7  CD 55 09	MU.
	ld	a,b		; 13FA  78		x
	jr	z,X1439		; 13FB  28 3C		(<
	jp	p,X1404		; 13FD  F2 04 14	r..
	or	a		; 1400  B7		7
X1401:	jp	z,X199a		; 1401  CA 9A 19	J..
X1404:	or	a		; 1404  B7		7
	jp	z,X0779		; 1405  CA 79 07	Jy.
	push	de		; 1408  D5		U
	push	bc		; 1409  C5		E
	ld	a,c		; 140A  79		y
	or	7fh		; 140B  F6 7F		v.
	call	X09bf		; 140D  CD BF 09	M?.
	jp	p,X1421		; 1410  F2 21 14	r!.
	push	de		; 1413  D5		U
	push	bc		; 1414  C5		E
	call	X0b40		; 1415  CD 40 0B	M@.
	pop	bc		; 1418  C1		A
	pop	de		; 1419  D1		Q
	push	af		; 141A  F5		u
	call	X0a0c		; 141B  CD 0C 0A	M..
X141e:	pop	hl		; 141E  E1		a
	ld	a,h		; 141F  7C		|
	rra			; 1420  1F		.
X1421:	pop	hl		; 1421  E1		a
	ld	(X4123),hl	; 1422  22 23 41	"#A
	pop	hl		; 1425  E1		a
	ld	(X4121),hl	; 1426  22 21 41	"!A
	call	c,X13e2		; 1429  DC E2 13	\b.
	call	z,X0982		; 142C  CC 82 09	L..
	push	de		; 142F  D5		U
	push	bc		; 1430  C5		E
	call	X0809		; 1431  CD 09 08	M..
	pop	bc		; 1434  C1		A
	pop	de		; 1435  D1		Q
	call	X0847		; 1436  CD 47 08	MG.
X1439:	call	X09a4		; 1439  CD A4 09	M$.
	ld	bc,X8138	; 143C  01 38 81	.8.
	ld	de,Xaa3b	; 143F  11 3B AA	.;*
	call	X0847		; 1442  CD 47 08	MG.
	ld	a,(X4124)	; 1445  3A 24 41	:$A
	cp	crtram2dat	; 1448  FE 88		~.
	jp	nc,X0931	; 144A  D2 31 09	R1.
	call	X0b40		; 144D  CD 40 0B	M@.
	add	a,crtram0dat	; 1450  C6 80		F.
	add	a,2		; 1452  C6 02		F.
	jp	c,X0931		; 1454  DA 31 09	Z1.
	push	af		; 1457  F5		u
	ld	hl,X07f8	; 1458  21 F8 07	!x.
	call	X070b		; 145B  CD 0B 07	M..
	call	X0841		; 145E  CD 41 08	MA.
	pop	af		; 1461  F1		q
	pop	bc		; 1462  C1		A
	pop	de		; 1463  D1		Q
	push	af		; 1464  F5		u
	call	X0713		; 1465  CD 13 07	M..
	call	X0982		; 1468  CD 82 09	M..
	ld	hl,X1479	; 146B  21 79 14	!y.
	call	X14a9		; 146E  CD A9 14	M).
	ld	de,X0000	; 1471  11 00 00	...
	pop	bc		; 1474  C1		A
	ld	c,d		; 1475  4A		J
	jp	X0847		; 1476  C3 47 08	CG.
;
X1479:	ex	af,af'		; 1479  08		.
	ld	b,b		; 147A  40		@
	ld	l,94h		; 147B  2E 94		..
;
	defb	'tpO.wn'				; 147D
;
	ld	(bc),a		; 1483  02		.
	adc	a,b		; 1484  88		.
	ld	a,d		; 1485  7A		z
	and	0a0h		; 1486  E6 A0		f
	ld	hl,(X507c)	; 1488  2A 7C 50	*|P
	xor	d		; 148B  AA		*
	xor	d		; 148C  AA		*
	ld	a,(hl)		; 148D  7E		~
	rst	38h		; 148E  FF		.
	rst	38h		; 148F  FF		.
	ld	a,a		; 1490  7F		.
	ld	a,a		; 1491  7F		.
	nop			; 1492  00		.
	nop			; 1493  00		.
	add	a,b		; 1494  80		.
	add	a,c		; 1495  81		.
	nop			; 1496  00		.
	nop			; 1497  00		.
	nop			; 1498  00		.
	add	a,c		; 1499  81		.
X149a:	call	X09a4		; 149A  CD A4 09	M$.
	ld	de,X0c32	; 149D  11 32 0C	.2.
	push	de		; 14A0  D5		U
	push	hl		; 14A1  E5		e
	call	X09bf		; 14A2  CD BF 09	M?.
	call	X0847		; 14A5  CD 47 08	MG.
	pop	hl		; 14A8  E1		a
X14a9:	call	X09a4		; 14A9  CD A4 09	M$.
	ld	a,(hl)		; 14AC  7E		~
	inc	hl		; 14AD  23		#
	call	X09b1		; 14AE  CD B1 09	M1.
	ld	b,0f1h		; 14B1  06 F1		.q
	pop	bc		; 14B3  C1		A
	pop	de		; 14B4  D1		Q
	dec	a		; 14B5  3D		=
	ret	z		; 14B6  C8		H
	push	de		; 14B7  D5		U
	push	bc		; 14B8  C5		E
	push	af		; 14B9  F5		u
	push	hl		; 14BA  E5		e
	call	X0847		; 14BB  CD 47 08	MG.
	pop	hl		; 14BE  E1		a
	call	X09c2		; 14BF  CD C2 09	MB.
	push	hl		; 14C2  E5		e
	call	X0716		; 14C3  CD 16 07	M..
	pop	hl		; 14C6  E1		a
	jr	X14b2		; 14C7  18 E9		.i
;
	call	X0a7f		; 14C9  CD 7F 0A	M..
	ld	a,h		; 14CC  7C		|
	or	a		; 14CD  B7		7
	jp	m,X1e4a		; 14CE  FA 4A 1E	zJ.
	or	l		; 14D1  B5		5
	jp	z,X14f0		; 14D2  CA F0 14	Jp.
	push	hl		; 14D5  E5		e
	call	X14f0		; 14D6  CD F0 14	Mp.
	call	X09bf		; 14D9  CD BF 09	M?.
	ex	de,hl		; 14DC  EB		k
	ex	(sp),hl		; 14DD  E3		c
	push	bc		; 14DE  C5		E
	call	X0acf		; 14DF  CD CF 0A	MO.
	pop	bc		; 14E2  C1		A
	pop	de		; 14E3  D1		Q
	call	X0847		; 14E4  CD 47 08	MG.
	ld	hl,X07f8	; 14E7  21 F8 07	!x.
	call	X070b		; 14EA  CD 0B 07	M..
	jp	X0b40		; 14ED  C3 40 0B	C@.
;
X14f0:	ld	hl,X4090	; 14F0  21 90 40	!.@
	push	hl		; 14F3  E5		e
	ld	de,X0000	; 14F4  11 00 00	...
	ld	c,e		; 14F7  4B		K
	ld	h,3		; 14F8  26 03		&.
X14fa:	ld	l,8		; 14FA  2E 08		..
X14fc:	ex	de,hl		; 14FC  EB		k
	add	hl,hl		; 14FD  29		)
	ex	de,hl		; 14FE  EB		k
	ld	a,c		; 14FF  79		y
	rla			; 1500  17		.
	ld	c,a		; 1501  4F		O
	ex	(sp),hl		; 1502  E3		c
	ld	a,(hl)		; 1503  7E		~
	rlca			; 1504  07		.
	ld	(hl),a		; 1505  77		w
	ex	(sp),hl		; 1506  E3		c
	jp	nc,X1516	; 1507  D2 16 15	R..
	push	hl		; 150A  E5		e
	ld	hl,(X40aa)	; 150B  2A AA 40	**@
	add	hl,de		; 150E  19		.
	ex	de,hl		; 150F  EB		k
	ld	a,(X40ac)	; 1510  3A AC 40	:,@
	adc	a,c		; 1513  89		.
	ld	c,a		; 1514  4F		O
	pop	hl		; 1515  E1		a
X1516:	dec	l		; 1516  2D		-
	jp	nz,X14fc	; 1517  C2 FC 14	B|.
	ex	(sp),hl		; 151A  E3		c
	inc	hl		; 151B  23		#
	ex	(sp),hl		; 151C  E3		c
	dec	h		; 151D  25		%
	jp	nz,X14fa	; 151E  C2 FA 14	Bz.
	pop	hl		; 1521  E1		a
	ld	hl,Xb065	; 1522  21 65 B0	!e0
	add	hl,de		; 1525  19		.
	ld	(X40aa),hl	; 1526  22 AA 40	"*@
	call	X0aef		; 1529  CD EF 0A	Mo.
	ld	a,5		; 152C  3E 05		>.
	adc	a,c		; 152E  89		.
	ld	(X40ac),a	; 152F  32 AC 40	2,@
	ex	de,hl		; 1532  EB		k
	ld	b,crtram0dat	; 1533  06 80		..
	ld	hl,X4125	; 1535  21 25 41	!%A
	ld	(hl),b		; 1538  70		p
	dec	hl		; 1539  2B		+
	ld	(hl),b		; 153A  70		p
	ld	c,a		; 153B  4F		O
	ld	b,0		; 153C  06 00		..
	jp	X0765		; 153E  C3 65 07	Ce.
;
X1541:	ld	hl,X158b	; 1541  21 8B 15	!..
	call	X070b		; 1544  CD 0B 07	M..
X1547:	call	X09a4		; 1547  CD A4 09	M$.
	ld	bc,X8349	; 154A  01 49 83	.I.
	ld	de,X0fdb	; 154D  11 DB 0F	.[.
	call	X09b4		; 1550  CD B4 09	M4.
	pop	bc		; 1553  C1		A
	pop	de		; 1554  D1		Q
	call	X08a2		; 1555  CD A2 08	M".
	call	X09a4		; 1558  CD A4 09	M$.
	call	X0b40		; 155B  CD 40 0B	M@.
	pop	bc		; 155E  C1		A
	pop	de		; 155F  D1		Q
	call	X0713		; 1560  CD 13 07	M..
	ld	hl,X158f	; 1563  21 8F 15	!..
	call	X0710		; 1566  CD 10 07	M..
	call	X0955		; 1569  CD 55 09	MU.
	scf			; 156C  37		7
	jp	p,X1577		; 156D  F2 77 15	rw.
	call	X0708		; 1570  CD 08 07	M..
	call	X0955		; 1573  CD 55 09	MU.
	or	a		; 1576  B7		7
X1577:	push	af		; 1577  F5		u
	call	p,X0982		; 1578  F4 82 09	t..
	ld	hl,X158f	; 157B  21 8F 15	!..
	call	X070b		; 157E  CD 0B 07	M..
	pop	af		; 1581  F1		q
	call	nc,X0982	; 1582  D4 82 09	T..
	ld	hl,X1593	; 1585  21 93 15	!..
	jp	X149a		; 1588  C3 9A 14	C..
;
X158b:	in	a,(0fh)		; 158B  DB 0F		[.
	ld	c,c		; 158D  49		I
	add	a,c		; 158E  81		.
X158f:	nop			; 158F  00		.
;
	ORG	1592h
;
	ld	a,a		; 1592  7F		.
X1593:	dec	b		; 1593  05		.
	cp	d		; 1594  BA		:
	rst	10h		; 1595  D7		W
	ld	e,crtram1cnt	; 1596  1E 86		..
	ld	h,h		; 1598  64		d
	ld	h,99h		; 1599  26 99		&.
	add	a,a		; 159B  87		.
	ld	e,b		; 159C  58		X
	inc	(hl)		; 159D  34		4
	inc	hl		; 159E  23		#
	add	a,a		; 159F  87		.
	ret	po		; 15A0  E0		`
	ld	e,l		; 15A1  5D		]
	and	l		; 15A2  A5		%
	add	a,(hl)		; 15A3  86		.
	jp	c,X490f		; 15A4  DA 0F 49	Z.I
	add	a,e		; 15A7  83		.
	call	X09a4		; 15A8  CD A4 09	M$.
	call	X1547		; 15AB  CD 47 15	MG.
	pop	bc		; 15AE  C1		A
	pop	hl		; 15AF  E1		a
	call	X09a4		; 15B0  CD A4 09	M$.
	ex	de,hl		; 15B3  EB		k
	call	X09b4		; 15B4  CD B4 09	M4.
	call	X1541		; 15B7  CD 41 15	MA.
	jp	X08a0		; 15BA  C3 A0 08	C .
;
	call	X0955		; 15BD  CD 55 09	MU.
	call	m,X13e2		; 15C0  FC E2 13	|b.
	call	m,X0982		; 15C3  FC 82 09	|..
	ld	a,(X4124)	; 15C6  3A 24 41	:$A
	cp	crtprntdat	; 15C9  FE 81		~.
	jr	c,X15d9		; 15CB  38 0C		8.
	ld	bc,X8100	; 15CD  01 00 81	...
	ld	d,c		; 15D0  51		Q
	ld	e,c		; 15D1  59		Y
	call	X08a2		; 15D2  CD A2 08	M".
	ld	hl,X0710	; 15D5  21 10 07	!..
	push	hl		; 15D8  E5		e
X15d9:	ld	hl,X15e3	; 15D9  21 E3 15	!c.
	call	X149a		; 15DC  CD 9A 14	M..
	ld	hl,X158b	; 15DF  21 8B 15	!..
	ret			; 15E2  C9		I
;
X15e3:	add	hl,bc		; 15E3  09		.
	ld	c,d		; 15E4  4A		J
	rst	10h		; 15E5  D7		W
	dec	sp		; 15E6  3B		;
	ld	a,b		; 15E7  78		x
	ld	(bc),a		; 15E8  02		.
	ld	l,(hl)		; 15E9  6E		n
	add	a,h		; 15EA  84		.
	ld	a,e		; 15EB  7B		{
	cp	0c1h		; 15EC  FE C1		~A
	cpl			; 15EE  2F		/
	ld	a,h		; 15EF  7C		|
	ld	(hl),h		; 15F0  74		t
	ld	sp,X7d9a	; 15F1  31 9A 7D	1.}
	add	a,h		; 15F4  84		.
	dec	a		; 15F5  3D		=
	ld	e,d		; 15F6  5A		Z
	ld	a,l		; 15F7  7D		}
	ret	z		; 15F8  C8		H
	ld	a,a		; 15F9  7F		.
	sub	c		; 15FA  91		.
	ld	a,(hl)		; 15FB  7E		~
	call	po,X4cbb	; 15FC  E4 BB 4C	d;L
	ld	a,(hl)		; 15FF  7E		~
	ld	l,h		; 1600  6C		l
	xor	d		; 1601  AA		*
	xor	d		; 1602  AA		*
	ld	a,a		; 1603  7F		.
;
	defb	0,0,0,crtprntdat			; 1604 ....
X1608:	defw	98ah		; 1608   8A 09      ..
	defw	0b37h		; 160A   37 0B      7.
	defw	977h		; 160C   77 09      w.
	defw	27d4h		; 160E   D4 27      T'
	defw	2aefh		; 1610   EF 2A      o*
	defw	27f5h		; 1612   F5 27      u'
	defw	13e7h		; 1614   E7 13      g.
	defw	14c9h		; 1616   C9 14      I.
	defw	809h		; 1618   09 08      ..
	defw	1439h		; 161A   39 14      9.
	defw	1541h		; 161C   41 15      A.
	defw	1547h		; 161E   47 15      G.
	defw	15a8h		; 1620   A8 15      (.
	defw	15bdh		; 1622   BD 15      =.
	defw	2caah		; 1624   AA 2C      *,
	defw	4152h		; 1626   52 41      RA
	defw	4158h		; 1628   58 41      XA
	defw	415eh		; 162A   5E 41      ^A
	defw	4161h		; 162C   61 41      aA
	defw	4164h		; 162E   64 41      dA
	defw	4167h		; 1630   67 41      gA
	defw	416ah		; 1632   6A 41      jA
	defw	416dh		; 1634   6D 41      mA
	defw	4170h		; 1636   70 41      pA
	defw	0a7fh		; 1638   7F 0A      ..
	defw	0ab1h		; 163A   B1 0A      1.
	defw	0adbh		; 163C   DB 0A      [.
	defw	0b26h		; 163E   26 0B      &.
	defw	2a03h		; 1640   03 2A      .*
	defw	2836h		; 1642   36 28      6(
	defw	2ac5h		; 1644   C5 2A      E*
	defw	2a0fh		; 1646   0F 2A      .*
	defw	2a1fh		; 1648   1F 2A      .*
	defw	2a61h		; 164A   61 2A      a*
	defw	2a91h		; 164C   91 2A      .*
;
	defw	2a9ah		; 164E   9A 2A      .*
;
X1650:	defb	'E'+80h					; 1650 E
	defb	'ND'					; 1651
	defb	'F'+80h					; 1653 F
	defb	'OR'					; 1654
	defb	'R'+80h					; 1656 R
	defb	'ESET'					; 1657
	defb	'S'+80h					; 165B S
	defb	'ET'					; 165C
	defb	'C'+80h					; 165E C
	defb	'LS'					; 165F
	defb	'C'+80h					; 1661 C
	defb	'MD'					; 1662
	defb	'R'+80h					; 1664 R
	defb	'ANDOM'					; 1665
	defb	'N'+80h					; 166A N
	defb	'EXT'					; 166B
	defb	'D'+80h					; 166E D
	defb	'ATA'					; 166F
	defb	'I'+80h					; 1672 I
	defb	'NPUT'					; 1673
	defb	'D'+80h					; 1677 D
	defb	'IM'					; 1678
	defb	'R'+80h					; 167A R
	defb	'EAD'					; 167B
	defb	'L'+80h					; 167E L
	defb	'ET'					; 167F
	defb	'G'+80h					; 1681 G
	defb	'OTO'					; 1682
	defb	'R'+80h					; 1685 R
	defb	'UN'					; 1686
	defb	'I'+80h					; 1688 I
	defb	'F'					; 1689
	defb	'R'+80h					; 168A R
	defb	'ESTORE'				; 168B
	defb	'G'+80h					; 1691 G
	defb	'OSUB'					; 1692
	defb	'R'+80h					; 1696 R
	defb	'ETURN'					; 1697
	defb	'R'+80h					; 169C R
	defb	'EM'					; 169D
	defb	'S'+80h					; 169F S
	defb	'TOP'					; 16A0
	defb	'E'+80h					; 16A3 E
	defb	'LSE'					; 16A4
	defb	'T'+80h					; 16A7 T
	defb	'RON'					; 16A8
	defb	'T'+80h					; 16AB T
	defb	'ROFF'					; 16AC
	defb	'D'+80h					; 16B0 D
	defb	'EFSTR'					; 16B1
	defb	'D'+80h					; 16B6 D
	defb	'EFINT'					; 16B7
	defb	'D'+80h					; 16BC D
	defb	'EFSNG'					; 16BD
	defb	'D'+80h					; 16C2 D
	defb	'EFDBL'					; 16C3
	defb	'L'+80h					; 16C8 L
	defb	'INE'					; 16C9
	defb	'E'+80h					; 16CC E
	defb	'DIT'					; 16CD
	defb	'E'+80h					; 16D0 E
	defb	'RROR'					; 16D1
	defb	'R'+80h					; 16D5 R
	defb	'ESUME'					; 16D6
	defb	'O'+80h					; 16DB O
	defb	'UT'					; 16DC
	defb	'O'+80h					; 16DE O
	defb	'N'					; 16DF
	defb	'O'+80h					; 16E0 O
	defb	'PEN'					; 16E1
	defb	'F'+80h					; 16E4 F
	defb	'IELD'					; 16E5
	defb	'G'+80h					; 16E9 G
	defb	'ET'					; 16EA
	defb	'P'+80h					; 16EC P
	defb	'UT'					; 16ED
	defb	'C'+80h					; 16EF C
	defb	'LOSE'					; 16F0
	defb	'L'+80h					; 16F4 L
	defb	'OAD'					; 16F5
	defb	'M'+80h					; 16F8 M
	defb	'ERGE'					; 16F9
	defb	'F'+80h					; 16FD F
	defb	'IND'					; 16FE
	defb	'K'+80h					; 1701 K
	defb	'ILL'					; 1702
	defb	'L'+80h					; 1705 L
	defb	'SET'					; 1706
	defb	'R'+80h					; 1709 R
	defb	'SET'					; 170A
	defb	'S'+80h					; 170D S
	defb	'AVE'					; 170E
	defb	'S'+80h					; 1711 S
	defb	'YSTEM'					; 1712
	defb	'L'+80h					; 1717 L
	defb	'PRINT'					; 1718
	defb	'D'+80h					; 171D D
	defb	'EF'					; 171E
	defb	'P'+80h					; 1720 P
	defb	'OKE'					; 1721
	defb	'P'+80h					; 1724 P
	defb	'RINT'					; 1725
	defb	'C'+80h					; 1729 C
	defb	'ONT'					; 172A
	defb	'L'+80h					; 172D L
	defb	'IST'					; 172E
	defb	'L'+80h					; 1731 L
	defb	'LIST'					; 1732
	defb	'D'+80h					; 1736 D
	defb	'ELET'					; 1737
	defb	'A'+80h					; 173B A
	defb	'UTO'					; 173C
	defb	'C'+80h					; 173F C
	defb	'LEAR'					; 1740
	defb	'R'+80h					; 1744 R
	defb	'EVERS'					; 1745
	defb	'R'+80h					; 174A R
	defb	'EV'					; 174B
	defb	'N'+80h					; 174D N
	defb	'EW'					; 174E

	defb	'T'+80h					; 1750 T
	defb	'AB('					; 1751
	defb	'T'+80h					; 1754 T
	defb	'O'					; 1755
	defb	'F'+80h					; 1756 F
	defb	'N'					; 1757
	defb	'U'+80h					; 1758 U
	defb	'SING'					; 1759
	defb	'V'+80h					; 175D V
	defb	'ARPTR'					; 175E
	defb	'U'+80h					; 1763 U
	defb	'SR'					; 1764
	defb	'E'+80h					; 1766 E
	defb	'RL'					; 1767
	defb	'E'+80h					; 1769 E
	defb	'RR'					; 176A
	defb	'S'+80h					; 176C S
	defb	'TRING$'				; 176D
	defb	'I'+80h					; 1773 I
	defb	'NSTR'					; 1774
	defb	'P'+80h					; 1778 P
	defb	'OINT'					; 1779
	defb	'T'+80h					; 177D T
	defb	'IME$'					; 177E
	defb	'M'+80h					; 1782 M
	defb	'EM'					; 1783
	defb	'I'+80h					; 1785 I
	defb	'NKEY$'					; 1786
	defb	'T'+80h					; 178B T
	defb	'HEN'					; 178C
	defb	'N'+80h					; 178F N
	defb	'OT'					; 1790
	defb	'S'+80h					; 1792 S
	defb	'TEP'					; 1793
	defb	'+'+80h					; +
	defb	'-'+80h					; -
	defb	'*'+80h					; *
	defb	'/'+80h					; /
	defb	'^'+80h					; ^
	defb	'A'+80h					; 1796 A
	defb	'ND'					; 179C
	defb	'O'+80h					; 179E O
	defb	'R'					; 179F
	defb	'>'+80h,'='+80h,'<'+80h,'S'+80h		; 17A0 >=<S
	defb	'GN'					; 17A4
	defb	'I'+80h					; 17A6 I
	defb	'NT'					; 17A7
	defb	'A'+80h					; 17A9 A
	defb	'BS'					; 17AA
	defb	'F'+80h					; 17AC F
	defb	'RE'					; 17AD
	defb	'I'+80h					; 17AF I
	defb	'NP'					; 17B0
	defb	fdccmdstatr				; 17B2 P
	defb	'OS'					; 17B3
	defb	'S'+80h					; 17B5 S
	defb	'QR'					; 17B6
	defb	fdcsectreg				; 17B8 R
	defb	'ND'					; 17B9
	defb	'L'+80h					; 17BB L
	defb	'OG'					; 17BC
	defb	'E'+80h					; 17BE E
	defb	'XP'					; 17BF
	defb	'C'+80h					; 17C1 C
	defb	'OS'					; 17C2
	defb	'S'+80h					; 17C4 S
	defb	'IN'					; 17C5
	defb	'T'+80h					; 17C7 T
	defb	'AN'					; 17C8
	defb	'A'+80h					; 17CA A
	defb	'TN'					; 17CB
	defb	fdccmdstatr				; 17CD P
	defb	'EEK'					; 17CE
	defb	'C'+80h					; 17D1 C
	defb	'VI'					; 17D2
	defb	'C'+80h					; 17D4 C
	defb	'VS'					; 17D5
	defb	'C'+80h					; 17D7 C
	defb	'VD'					; 17D8
	defb	'E'+80h					; 17DA E
	defb	'OF'					; 17DB
	defb	'L'+80h					; 17DD L
	defb	'OC'					; 17DE
	defb	'L'+80h					; 17E0 L
	defb	'OF'					; 17E1
	defb	'M'+80h					; 17E3 M
	defb	'KI$'					; 17E4
	defb	'M'+80h					; 17E7 M
	defb	'KS$'					; 17E8
	defb	'M'+80h					; 17EB M
	defb	'KD$'					; 17EC
	defb	'C'+80h					; 17EF C
	defb	'INT'					; 17F0
	defb	'C'+80h					; 17F3 C
	defb	'SNG'					; 17F4
	defb	'C'+80h					; 17F7 C
	defb	'DBL'					; 17F8
	defb	'F'+80h					; 17FB F
	defb	'IX'					; 17FC
	defb	'L'+80h					; 17FE L
	defb	'EN'					; 17FF
	defb	'S'+80h					; 1801 S
	defb	'TR$'					; 1802
	defb	fdcdrvrcnt				; 1805 V
	defb	'AL'					; 1806
	defb	'A'+80h					; 1808 A
	defb	'SC'					; 1809
	defb	'C'+80h					; 180B C
	defb	'HR$'					; 180C
	defb	'L'+80h					; 180F L
	defb	'EFT$'					; 1810
	defb	fdcsectreg				; 1814 R
	defb	'IGHT$'					; 1815
	defb	'M'+80h					; 181A M
	defb	'ID$'					; 181B
	defb	'''+80h					; 181E '...
	defb	80h,0,0					; 181F
WORDTB:	defw	1daeh		; 1822   AE 1D      _END
	defw	1ca1h		; 1824   A1 1C      _FOR
	defw	138h		; 1826   38 01      _RESET
	defw	135h		; 1828   35 01      _SET
	defw	1c9h		; 182A   C9 01      _CLS
	defw	4173h		; 182C   73 41      _CMD
	defw	1d3h		; 182E   D3 01      _RANDOM
	defw	22b6h		; 1830   B6 22      _NEXT
	defw	1f05h		; 1832   05 1F      _DATA
	defw	219ah		; 1834   9A 21      _INPUT
	defw	2608h		; 1836   08 26      _DIM
	defw	21efh		; 1838   EF 21      _READ
	defw	1f21h		; 183A   21 1F      _LET
	defw	1ec2h		; 183C   C2 1E      _GOTO
	defw	1ea3h		; 183E   A3 1E      _RUN
	defw	2039h		; 1840   39 20      _IF
	defw	1d91h		; 1842   91 1D      _RESTORE
	defw	1eb1h		; 1844   B1 1E      _GOSUB
	defw	1edeh		; 1846   DE 1E      _RETURN
	defw	1f07h		; 1848   07 1F      _REM
	defw	1da9h		; 184A   A9 1D      _STOP
	defw	1f07h		; 184C   07 1F      _ELSE
	defw	1df7h		; 184E   F7 1D      _TRON
	defw	1df8h		; 1850   F8 1D      _TROFF
	defw	1e00h		; 1852   00 1E      _DEFSTR
	defw	1e03h		; 1854   03 1E      _DEFINT
	defw	1e06h		; 1856   06 1E      _DEFSNG
	defw	1e09h		; 1858   09 1E      _DEFDBL
	defw	41a3h		; 185A   A3 41      _LINE
	defw	2e60h		; 185C   60 2E      _EDIT
	defw	1ff4h		; 185E   F4 1F      _ERROR
	defw	1fafh		; 1860   AF 1F      _RESUME
	defw	2afbh		; 1862   FB 2A      _OUT
	defw	1f6ch		; 1864   6C 1F      _ON
	defw	4179h		; 1866   79 41      _OPEN
	defw	417ch		; 1868   7C 41      _FIELD
	defw	417fh		; 186A   7F 41      _GET
	defw	4182h		; 186C   82 41      _PUT
	defw	4185h		; 186E   85 41      _CLOSE
	defw	4188h		; 1870   88 41      _LOAD
	defw	418bh		; 1872   8B 41      _MERGE
	defw	64bah		; 1874   BA 64      _FIND
	defw	4191h		; 1876   91 41      _KILL
	defw	4197h		; 1878   97 41      _LSET
	defw	419ah		; 187A   9A 41      _RSET
	defw	123h		; 187C   23 01      _SAVE
	defw	30bh		; 187E   0B 03      _SYSTEM
	defw	2067h		; 1880   67 20      _LPRINT
	defw	415bh		; 1882   5B 41      _DEF
	defw	2cb1h		; 1884   B1 2C      _POKE
	defw	206fh		; 1886   6F 20      _PRINT
	defw	1de4h		; 1888   E4 1D      _CONT
	defw	2b2eh		; 188A   2E 2B      _LIST
	defw	2b29h		; 188C   29 2B      _LLIST
	defw	2bc6h		; 188E   C6 2B      _DELET
	defw	2008h		; 1890   08 20      _AUTO
	defw	1e7ah		; 1892   7A 1E      _CLEAR
	defw	2bf5h		; 1894   F5 2B      _REVERSE
	defw	2bf5h		; 1896   F5 2B      _REV
	defw	1b49h		; 1898   49 1B      _NEW

;
X189a:	defb	79h,79h,7ch,7ch,7fh,50h,ftrkbuf		; 189A yy||.PF
X18a1:	defb	0dbh,0ah,0,0				; 18A1 [...

	defw	0a7fh		; 18A5   7F 0A      ..
	defw	0af4h		; 18A7   F4 0A      t.
	defw	0ab1h		; 18A9   B1 0A      1.
X18ab:	defw	0c77h		; 18AB   77 0C      w.
	defw	0c70h		; 18AD   70 0C      p.
	defw	0da1h		; 18AF   A1 0D      !.
	defw	0de5h		; 18B1   E5 0D      e.
	defw	0a78h		; 18B3   78 0A      x.
X18b5:	defw	716h		; 18B5   16 07      ..
	defw	713h		; 18B7   13 07      ..
	defw	847h		; 18B9   47 08      G.
	defw	8a2h		; 18BB   A2 08      ".
	defw	0a0ch		; 18BD   0C 0A      ..
X18bf:	defw	0bd2h		; 18BF   D2 0B      R.
	defw	0bc7h		; 18C1   C7 0B      G.
	defw	0bf2h		; 18C3   F2 0B      r.
	defw	2490h		; 18C5   90 24      .$
	defw	0a39h		; 18C7   39 0A      9.
;
X18C9:	defb	'NFSNRGODFCOVOMULBSDD/0IDTMOSLSST'	; 18C9
	defb	'CNNRRWUEMOFDSN'			; 18E9

; RESERVED WORD TOKEN VALUES

ZEND    .EQU    080H            ; END
ZFOR    .EQU    081H            ; FOR
ZDATA   .EQU    083H            ; DATA
ZGOTO   .EQU    088H            ; GOTO
ZGOSUB  .EQU    08CH            ; GOSUB
ZREM    .EQU    08EH            ; REM
ZPRINT  .EQU    09EH            ; PRINT
ZNEW    .EQU    0A4H            ; NEW

ZTAB    .EQU    0A5H            ; TAB
ZTO     .EQU    0A6H            ; TO
ZFN     .EQU    0A7H            ; FN
ZSPC    .EQU    0A8H            ; SPC
ZTHEN   .EQU    0A9H            ; THEN
ZNOT    .EQU    0AAH            ; NOT
ZSTEP   .EQU    0ABH            ; STEP

ZPLUS   .EQU    0ACH            ; +
ZMINUS  .EQU    0ADH            ; -
ZTIMES  .EQU    0AEH            ; *
ZDIV    .EQU    0AFH            ; /
ZOR     .EQU    0B2H            ; OR
ZGTR    .EQU    0B3H            ; >
ZEQUAL  .EQU    0B4H            ; M
ZLTH    .EQU    0B5H            ; <
ZSGN    .EQU    0B6H            ; SGN
ZPOINT  .EQU    0C7H            ; POINT
ZLEFT   .EQU    0CDH +2         ; LEFT$


;
X18f7:	sub	0		; 18F7  D6 00		V.
	ld	l,a		; 18F9  6F		o
	ld	a,h		; 18FA  7C		|
	sbc	a,0		; 18FB  DE 00		^.
	ld	h,a		; 18FD  67		g
	ld	a,b		; 18FE  78		x
	sbc	a,0		; 18FF  DE 00		^.
	ld	b,a		; 1901  47		G
	ld	a,0		; 1902  3E 00		>.
	ret			; 1904  C9		I
;
	ld	c,d		; 1905  4A		J
	ld	e,blislowblok	; 1906  1E 40		.@
	and	kbdbyte		; 1908  E6 4D		fM
	in	a,(0)		; 190A  DB 00		[.
	ret			; 190C  C9		I
;
	out	(0),a		; 190D  D3 00		S.
	ret			; 190F  C9		I
;
	nop			; 1910  00		.
	nop			; 1911  00		.
	nop			; 1912  00		.
	nop			; 1913  00		.
	ld	d,b		; 1914  50		P
	jr	X1917		; 1915  18 00		..
;
X1917:	ld	c,h		; 1917  4C		L
	ld	b,e		; 1918  43		C
	cp	0ffh		; 1919  FE FF		~.
	jp	(hl)		; 191B  E9		i
;
	ld	b,d		; 191C  42		B
;
X191d:	defb	10h					; 191D .
	defb	'Error'					; 191E
	defb	0					; 1923 .
X1924:	defb	' in '					; 1924
X1928:	defb	0					; 1928 .
X1929:	defb	'READY'					; 1929
	defb	0dh,0					; 192E ..
X1930:	defb	'Break'					; 1930
	defb	0					; 1935 .
;
X1936:	ld	hl,X0004	; 1936  21 04 00	!..
	add	hl,sp		; 1939  39		9
X193a:	ld	a,(hl)		; 193A  7E		~
	inc	hl		; 193B  23		#
	cp	crtprntdat	; 193C  FE 81		~.
	ret	nz		; 193E  C0		@
	ld	c,(hl)		; 193F  4E		N
	inc	hl		; 1940  23		#
	ld	b,(hl)		; 1941  46		F
	inc	hl		; 1942  23		#
	push	hl		; 1943  E5		e
	ld	l,c		; 1944  69		i
	ld	h,b		; 1945  60		`
	ld	a,d		; 1946  7A		z
	or	e		; 1947  B3		3
	ex	de,hl		; 1948  EB		k
	jr	z,X194d		; 1949  28 02		(.
	ex	de,hl		; 194B  EB		k
	rst	18h		; 194C  DF		_
X194d:	ld	bc,X000e	; 194D  01 0E 00	...
	pop	hl		; 1950  E1		a
	ret	z		; 1951  C8		H
	add	hl,bc		; 1952  09		.
	jr	X193a		; 1953  18 E5		.e
;
X1955:	call	X196c		; 1955  CD 6C 19	Ml.
X1958:	push	bc		; 1958  C5		E
	ex	(sp),hl		; 1959  E3		c
	pop	bc		; 195A  C1		A
X195b:	rst	18h		; 195B  DF		_
	ld	a,(hl)		; 195C  7E		~
	ld	(bc),a		; 195D  02		.
	ret	z		; 195E  C8		H
	dec	bc		; 195F  0B		.
	dec	hl		; 1960  2B		+
	jr	X195b		; 1961  18 F8		.x
;
X1963:	push	hl		; 1963  E5		e
	ld	hl,(X40fd)	; 1964  2A FD 40	*}@
	ld	b,0		; 1967  06 00		..
	add	hl,bc		; 1969  09		.
	add	hl,bc		; 196A  09		.
	ld	a,0e5h		; 196B  3E E5		>e
	ld	a,0c6h		; 196D  3E C6		>F
	sub	l		; 196F  95		.
	ld	l,a		; 1970  6F		o
	ld	a,0ffh		; 1971  3E FF		>.
	sbc	a,h		; 1973  9C		.
	jr	c,X197a		; 1974  38 04		8.
	ld	h,a		; 1976  67		g
	add	hl,sp		; 1977  39		9
	pop	hl		; 1978  E1		a
	ret	c		; 1979  D8		X
X197a:	ld	e,0ch		; 197A  1E 0C		..
	jr	X19a2		; 197C  18 24		.$
;
ENDPRG:	ld	hl,(LINEAT)	; 197E  2A A2 40	*"@
;
	defb	'|'					; 1981
;
	and	l		; 1982  A5		%
	inc	a		; 1983  3C		<
	jr	z,X198e		; 1984  28 08		(.
	ld	a,(X40f2)	; 1986  3A F2 40	:r@
	or	a		; 1989  B7		7
	ld	e,22h		; 198A  1E 22		."
	jr	nz,X19a2	; 198C  20 14		 .
X198e:	jp	X1dc1		; 198E  C3 C1 1D	CA.
;
X1991:	ld	hl,(X40da)	; 1991  2A DA 40	*Z@
	ld	(LINEAT),hl	; 1994  22 A2 40	""@
SNERR:	ld	e,2		; 1997  1E 02		..
	ld	bc,X141e	; 1999  01 1E 14	...
	ld	bc,X001e	; 199C  01 1E 00	...
	ld	bc,X241e	; 199F  01 1E 24	..$
X19a2:	ld	hl,(LINEAT)	; 19A2  2A A2 40	*"@
	ld	(X40ea),hl	; 19A5  22 EA 40	"j@
	ld	(X40ec),hl	; 19A8  22 EC 40	"l@
X19ab:	ld	bc,X19b4	; 19AB  01 B4 19	.4.
X19ae:	ld	hl,(X40e8)	; 19AE  2A E8 40	*h@
	jp	X1b9a		; 19B1  C3 9A 1B	C..
;
X19b4:	pop	bc		; 19B4  C1		A
	ld	a,e		; 19B5  7B		{
	ld	c,e		; 19B6  4B		K
	ld	(X409a),a	; 19B7  32 9A 40	2.@
	ld	hl,(BRKLIN)	; 19BA  2A E6 40	*f@
	ld	(X40ee),hl	; 19BD  22 EE 40	"n@
	ex	de,hl		; 19C0  EB		k
	ld	hl,(X40ea)	; 19C1  2A EA 40	*j@
	ld	a,h		; 19C4  7C		|
	and	l		; 19C5  A5		%
	inc	a		; 19C6  3C		<
	jr	z,X19d0		; 19C7  28 07		(.
	ld	(X40f5),hl	; 19C9  22 F5 40	"u@
	ex	de,hl		; 19CC  EB		k
	ld	(X40f7),hl	; 19CD  22 F7 40	"w@
X19d0:	ld	hl,(X40f0)	; 19D0  2A F0 40	*p@
	ld	a,h		; 19D3  7C		|
	or	l		; 19D4  B5		5
	ex	de,hl		; 19D5  EB		k
	ld	hl,X40f2	; 19D6  21 F2 40	!r@
	jr	z,X19e3		; 19D9  28 08		(.
	and	(hl)		; 19DB  A6		&
	jr	nz,X19e3	; 19DC  20 05		 .
	dec	(hl)		; 19DE  35		5
	ex	de,hl		; 19DF  EB		k
	jp	X1d36		; 19E0  C3 36 1D	C6.
;
X19e3:	xor	a		; 19E3  AF		/
	ld	(hl),a		; 19E4  77		w
	ld	e,c		; 19E5  59		Y
	call	X20f9		; 19E6  CD F9 20	My
	ld	hl,X18c9	; 19E9  21 C9 18	!I.
	call	X41a6		; 19EC  CD A6 41	M&A
	ld	d,a		; 19EF  57		W
	ld	a,fsekbuf	; 19F0  3E 3F		>?
	call	X032a		; 19F2  CD 2A 03	M*.
	add	hl,de		; 19F5  19		.
	ld	a,(hl)		; 19F6  7E		~
	call	X032a		; 19F7  CD 2A 03	M*.
	rst	10h		; 19FA  D7		W
	call	X032a		; 19FB  CD 2A 03	M*.
	ld	hl,X191d	; 19FE  21 1D 19	!..
X1a01:	push	hl		; 1A01  E5		e
	ld	hl,(X40ea)	; 1A02  2A EA 40	*j@
	ex	(sp),hl		; 1A05  E3		c
X1a06:	call	X28a7		; 1A06  CD A7 28	M'(
	pop	hl		; 1A09  E1		a
	ld	de,Xfffe	; 1A0A  11 FE FF	.~.
	rst	18h		; 1A0D  DF		_
	jp	z,X06cc		; 1A0E  CA CC 06	JL.
	ld	a,h		; 1A11  7C		|
	and	l		; 1A12  A5		%
	inc	a		; 1A13  3C		<
	call	nz,X0fa7	; 1A14  C4 A7 0F	D'.
	ld	a,0c1h		; 1A17  3E C1		>A
X1a19:	call	X038b		; 1A19  CD 8B 03	M..
	call	X41ac		; 1A1C  CD AC 41	M,A
	nop			; 1A1F  00		.
	nop			; 1A20  00		.
	nop			; 1A21  00		.
	call	X20f9		; 1A22  CD F9 20	My
X1a25:	ld	hl,X1929	; 1A25  21 29 19	!).
	call	X28a7		; 1A28  CD A7 28	M'(
	ld	a,(X409a)	; 1A2B  3A 9A 40	:.@
	sub	2		; 1A2E  D6 02		V.
	call	z,X2e53		; 1A30  CC 53 2E	LS.
X1a33:	ld	hl,Xffff	; 1A33  21 FF FF	!..
	ld	(LINEAT),hl	; 1A36  22 A2 40	""@
	ld	a,(X40e1)	; 1A39  3A E1 40	:a@
	or	a		; 1A3C  B7		7
	jr	z,X1a76		; 1A3D  28 37		(7
	ld	hl,(X40e2)	; 1A3F  2A E2 40	*b@
	push	hl		; 1A42  E5		e
	call	X0faf		; 1A43  CD AF 0F	M/.
	pop	de		; 1A46  D1		Q
	push	de		; 1A47  D5		U
	call	X1b2c		; 1A48  CD 2C 1B	M,.
	ld	a,2ah		; 1A4B  3E 2A		>*
	jr	c,X1a51		; 1A4D  38 02		8.
	ld	a,20h		; 1A4F  3E 20		>
X1a51:	call	X032a		; 1A51  CD 2A 03	M*.
	call	X0361		; 1A54  CD 61 03	Ma.
	pop	de		; 1A57  D1		Q
	jr	nc,X1a60	; 1A58  30 06		0.
X1a5a:	xor	a		; 1A5A  AF		/
	ld	(X40e1),a	; 1A5B  32 E1 40	2a@
	jr	X1a19		; 1A5E  18 B9		.9
;
X1a60:	ld	hl,(X40e4)	; 1A60  2A E4 40	*d@
	add	hl,de		; 1A63  19		.
	jr	c,X1a5a		; 1A64  38 F4		8t
	push	de		; 1A66  D5		U
	ld	de,Xebf9	; 1A67  11 F9 EB	.yk
	rst	18h		; 1A6A  DF		_
	pop	de		; 1A6B  D1		Q
	jr	nc,X1a5a	; 1A6C  30 EC		0l
	ld	(X40e2),hl	; 1A6E  22 E2 40	"b@
	or	0ffh		; 1A71  F6 FF		v.
	jp	X2feb		; 1A73  C3 EB 2F	Ck/
;
X1a76:	ld	a,ram3buf	; 1A76  3E 3E		>>
	call	X032a		; 1A78  CD 2A 03	M*.
	call	X0361		; 1A7B  CD 61 03	Ma.
X1a7e:	jp	c,X1a33		; 1A7E  DA 33 1A	Z3.
	rst	10h		; 1A81  D7		W
	inc	a		; 1A82  3C		<
	dec	a		; 1A83  3D		=
	jp	z,X1a33		; 1A84  CA 33 1A	J3.
	push	af		; 1A87  F5		u
	call	X1e5a		; 1A88  CD 5A 1E	MZ.
X1a8b:	dec	hl		; 1A8B  2B		+
	ld	a,(hl)		; 1A8C  7E		~
	cp	20h		; 1A8D  FE 20		~
	jr	z,X1a8b		; 1A8F  28 FA		(z
	inc	hl		; 1A91  23		#
	ld	a,(hl)		; 1A92  7E		~
	cp	20h		; 1A93  FE 20		~
	call	z,X09c9		; 1A95  CC C9 09	LI.
X1a98:	push	de		; 1A98  D5		U
	call	X1bc0		; 1A99  CD C0 1B	M@.
	pop	de		; 1A9C  D1		Q
	pop	af		; 1A9D  F1		q
	ld	(BRKLIN),hl	; 1A9E  22 E6 40	"f@
	call	X41b2		; 1AA1  CD B2 41	M2A
	jp	nc,EXCUTE	; 1AA4  D2 5A 1D	RZ.
	push	de		; 1AA7  D5		U
	push	bc		; 1AA8  C5		E
	xor	a		; 1AA9  AF		/
	ld	(X40dd),a	; 1AAA  32 DD 40	2]@
	rst	10h		; 1AAD  D7		W
	or	a		; 1AAE  B7		7
	push	af		; 1AAF  F5		u
	ex	de,hl		; 1AB0  EB		k
	ld	(X40ec),hl	; 1AB1  22 EC 40	"l@
	ex	de,hl		; 1AB4  EB		k
	call	X1b2c		; 1AB5  CD 2C 1B	M,.
	push	bc		; 1AB8  C5		E
	call	c,X2be4		; 1AB9  DC E4 2B	\d+
	pop	de		; 1ABC  D1		Q
	pop	af		; 1ABD  F1		q
	push	de		; 1ABE  D5		U
	jr	z,X1ae8		; 1ABF  28 27		('
	pop	de		; 1AC1  D1		Q
	ld	hl,(X40f9)	; 1AC2  2A F9 40	*y@
	ex	(sp),hl		; 1AC5  E3		c
	pop	bc		; 1AC6  C1		A
	add	hl,bc		; 1AC7  09		.
	push	hl		; 1AC8  E5		e
	call	X1955		; 1AC9  CD 55 19	MU.
	pop	hl		; 1ACC  E1		a
	ld	(X40f9),hl	; 1ACD  22 F9 40	"y@
	ex	de,hl		; 1AD0  EB		k
	ld	(hl),h		; 1AD1  74		t
	pop	de		; 1AD2  D1		Q
	push	hl		; 1AD3  E5		e
	inc	hl		; 1AD4  23		#
	inc	hl		; 1AD5  23		#
	ld	(hl),e		; 1AD6  73		s
	inc	hl		; 1AD7  23		#
	ld	(hl),d		; 1AD8  72		r
	inc	hl		; 1AD9  23		#
	ex	de,hl		; 1ADA  EB		k
	ld	hl,(X40a7)	; 1ADB  2A A7 40	*'@
	ex	de,hl		; 1ADE  EB		k
	dec	de		; 1ADF  1B		.
	dec	de		; 1AE0  1B		.
X1ae1:	ld	a,(de)		; 1AE1  1A		.
	ld	(hl),a		; 1AE2  77		w
	inc	hl		; 1AE3  23		#
	inc	de		; 1AE4  13		.
	or	a		; 1AE5  B7		7
	jr	nz,X1ae1	; 1AE6  20 F9		 y
X1ae8:	pop	de		; 1AE8  D1		Q
	call	X1afc		; 1AE9  CD FC 1A	M|.
	call	X41b5		; 1AEC  CD B5 41	M5A
	call	X1b5d		; 1AEF  CD 5D 1B	M].
	call	X41b8		; 1AF2  CD B8 41	M8A
	jp	X1a33		; 1AF5  C3 33 1A	C3.
;
X1af8:	ld	hl,(X40a4)	; 1AF8  2A A4 40	*$@
	ex	de,hl		; 1AFB  EB		k
X1afc:	ld	h,d		; 1AFC  62		b
	ld	l,e		; 1AFD  6B		k
	ld	a,(hl)		; 1AFE  7E		~
	inc	hl		; 1AFF  23		#
	or	(hl)		; 1B00  B6		6
	ret	z		; 1B01  C8		H
	inc	hl		; 1B02  23		#
	inc	hl		; 1B03  23		#
	inc	hl		; 1B04  23		#
	xor	a		; 1B05  AF		/
X1b06:	cp	(hl)		; 1B06  BE		>
	inc	hl		; 1B07  23		#
	jr	nz,X1b06	; 1B08  20 FC		 |
	ex	de,hl		; 1B0A  EB		k
	ld	(hl),e		; 1B0B  73		s
	inc	hl		; 1B0C  23		#
	ld	(hl),d		; 1B0D  72		r
	jr	X1afc		; 1B0E  18 EC		.l
;
X1b10:	ld	de,X0000	; 1B10  11 00 00	...
	push	de		; 1B13  D5		U
	jr	z,X1b1f		; 1B14  28 09		(.
	pop	de		; 1B16  D1		Q
	call	X1e4f		; 1B17  CD 4F 1E	MO.
	push	de		; 1B1A  D5		U
	jr	z,X1b28		; 1B1B  28 0B		(.
	rst	8		; 1B1D  CF		O
	adc	a,xonc		; 1B1E  CE 11		N.
	jp	m,Xc4ff		; 1B20  FA FF C4	z.D
	ld	c,a		; 1B23  4F		O
	ld	e,0c2h		; 1B24  1E C2		.B
	sub	a		; 1B26  97		.
	add	hl,de		; 1B27  19		.
X1b28:	ex	de,hl		; 1B28  EB		k
	pop	de		; 1B29  D1		Q
X1b2a:	ex	(sp),hl		; 1B2A  E3		c
	push	hl		; 1B2B  E5		e
X1b2c:	ld	hl,(X40a4)	; 1B2C  2A A4 40	*$@
X1b2f:	ld	b,h		; 1B2F  44		D
	ld	c,l		; 1B30  4D		M
	ld	a,(hl)		; 1B31  7E		~
	inc	hl		; 1B32  23		#
	or	(hl)		; 1B33  B6		6
	dec	hl		; 1B34  2B		+
	ret	z		; 1B35  C8		H
	inc	hl		; 1B36  23		#
	inc	hl		; 1B37  23		#
	ld	a,(hl)		; 1B38  7E		~
	inc	hl		; 1B39  23		#
	ld	h,(hl)		; 1B3A  66		f
	ld	l,a		; 1B3B  6F		o
	rst	18h		; 1B3C  DF		_
	ld	h,b		; 1B3D  60		`
	ld	l,c		; 1B3E  69		i
	ld	a,(hl)		; 1B3F  7E		~
	inc	hl		; 1B40  23		#
	ld	h,(hl)		; 1B41  66		f
	ld	l,a		; 1B42  6F		o
	ccf			; 1B43  3F		?
	ret	z		; 1B44  C8		H
	ccf			; 1B45  3F		?
	ret	nc		; 1B46  D0		P
	jr	X1b2f		; 1B47  18 E6		.f
;
	ret	nz		; 1B49  C0		@
	call	X01c9		; 1B4A  CD C9 01	MI.
X1b4d:	ld	hl,(X40a4)	; 1B4D  2A A4 40	*$@
	call	X1df8		; 1B50  CD F8 1D	Mx.
	ld	(X40e1),a	; 1B53  32 E1 40	2a@
	ld	(hl),a		; 1B56  77		w
	inc	hl		; 1B57  23		#
	ld	(hl),a		; 1B58  77		w
	inc	hl		; 1B59  23		#
X1b5a:	ld	(X40f9),hl	; 1B5A  22 F9 40	"y@
X1b5d:	ld	hl,(X40a4)	; 1B5D  2A A4 40	*$@
	dec	hl		; 1B60  2B		+
X1b61:	ld	(X40df),hl	; 1B61  22 DF 40	"_@
	ld	b,1ah		; 1B64  06 1A		..
	ld	hl,X4101	; 1B66  21 01 41	!.A
X1b69:	ld	(hl),4		; 1B69  36 04		6.
	inc	hl		; 1B6B  23		#
	djnz	X1b69		; 1B6C  10 FB		.{
	xor	a		; 1B6E  AF		/
	ld	(X40f2),a	; 1B6F  32 F2 40	2r@
	ld	l,a		; 1B72  6F		o
	ld	h,a		; 1B73  67		g
	ld	(X40f0),hl	; 1B74  22 F0 40	"p@
	ld	(X40f7),hl	; 1B77  22 F7 40	"w@
	ld	hl,(X40b1)	; 1B7A  2A B1 40	*1@
	ld	(X40d6),hl	; 1B7D  22 D6 40	"V@
X1b80:	call	X1d91		; 1B80  CD 91 1D	M..
	ld	hl,(X40f9)	; 1B83  2A F9 40	*y@
	ld	(X40fb),hl	; 1B86  22 FB 40	"{@
	ld	(X40fd),hl	; 1B89  22 FD 40	"}@
	call	X41bb		; 1B8C  CD BB 41	M;A
	pop	bc		; 1B8F  C1		A
	ld	hl,(X40a0)	; 1B90  2A A0 40	* @
	dec	hl		; 1B93  2B		+
	dec	hl		; 1B94  2B		+
	ld	(X40e8),hl	; 1B95  22 E8 40	"h@
	inc	hl		; 1B98  23		#
	inc	hl		; 1B99  23		#
X1b9a:	ld	sp,hl		; 1B9A  F9		y
	ld	hl,X40b5	; 1B9B  21 B5 40	!5@
	ld	(X40b3),hl	; 1B9E  22 B3 40	"3@
	call	X038b		; 1BA1  CD 8B 03	M..
	call	X2169		; 1BA4  CD 69 21	Mi!
	xor	a		; 1BA7  AF		/
	ld	h,a		; 1BA8  67		g
	ld	l,a		; 1BA9  6F		o
	ld	(X40dc),a	; 1BAA  32 DC 40	2\@
	push	hl		; 1BAD  E5		e
	push	bc		; 1BAE  C5		E
X1baf:	ld	hl,(X40df)	; 1BAF  2A DF 40	*_@
	ret			; 1BB2  C9		I
;
X1bb3:	ld	a,fsekbuf	; 1BB3  3E 3F		>?
	call	X032a		; 1BB5  CD 2A 03	M*.
	ld	a,20h		; 1BB8  3E 20		>
	call	X032a		; 1BBA  CD 2A 03	M*.
	jp	X0361		; 1BBD  C3 61 03	Ca.
;
X1bc0:	xor	a		; 1BC0  AF		/
	ld	(X40b0),a	; 1BC1  32 B0 40	20@
	ld	c,a		; 1BC4  4F		O
	ex	de,hl		; 1BC5  EB		k
	ld	hl,(X40a7)	; 1BC6  2A A7 40	*'@
	dec	hl		; 1BC9  2B		+
X1bca:	dec	hl		; 1BCA  2B		+
	ex	de,hl		; 1BCB  EB		k
X1bcc:	ld	a,(hl)		; 1BCC  7E		~
	cp	20h		; 1BCD  FE 20		~
	jp	z,X1c5b		; 1BCF  CA 5B 1C	J[.
	ld	b,a		; 1BD2  47		G
	cp	22h		; 1BD3  FE 22		~"
	jp	z,X1c77		; 1BD5  CA 77 1C	Jw.
	or	a		; 1BD8  B7		7
	jp	z,X1c7d		; 1BD9  CA 7D 1C	J}.
	ld	a,(X40b0)	; 1BDC  3A B0 40	:0@
	or	a		; 1BDF  B7		7
	ld	a,(hl)		; 1BE0  7E		~
	jp	nz,X1c5b	; 1BE1  C2 5B 1C	B[.
	cp	fsekbuf		; 1BE4  FE 3F		~?
	ld	a,0b2h		; 1BE6  3E B2		>2
	jp	z,X1c5b		; 1BE8  CA 5B 1C	J[.
	ld	a,(hl)		; 1BEB  7E		~
	cp	30h		; 1BEC  FE 30		~0
	jr	c,X1bf5		; 1BEE  38 05		8.
	cp	ram1buf		; 1BF0  FE 3C		~<
	jp	c,X1c5b		; 1BF2  DA 5B 1C	Z[.
X1bf5:	push	de		; 1BF5  D5		U
	ld	de,X164f	; 1BF6  11 4F 16	.O.
	push	bc		; 1BF9  C5		E
	ld	bc,X31f6	; 1BFA  01 F6 31	.v1
	push	bc		; 1BFD  C5		E
	ld	b,7fh		; 1BFE  06 7F		..
X1c00:	ld	a,(hl)		; 1C00  7E		~
	cp	61h		; 1C01  FE 61		~a
	jr	c,X1c0c		; 1C03  38 07		8.
	cp	7bh		; 1C05  FE 7B		~{
	jr	nc,X1c0c	; 1C07  30 03		0.
	and	5fh		; 1C09  E6 5F		f_
	ld	(hl),a		; 1C0B  77		w
X1c0c:	ld	c,(hl)		; 1C0C  4E		N
	ex	de,hl		; 1C0D  EB		k
X1c0e:	inc	hl		; 1C0E  23		#
	or	(hl)		; 1C0F  B6		6
	jp	p,X1c0e		; 1C10  F2 0E 1C	r..
	inc	b		; 1C13  04		.
	ld	a,(hl)		; 1C14  7E		~
	and	7fh		; 1C15  E6 7F		f.
	ret	z		; 1C17  C8		H
	cp	c		; 1C18  B9		9
	jr	nz,X1c0e	; 1C19  20 F3		 s
	ex	de,hl		; 1C1B  EB		k
	push	hl		; 1C1C  E5		e
X1c1d:	inc	de		; 1C1D  13		.
	ld	a,(de)		; 1C1E  1A		.
	or	a		; 1C1F  B7		7
	jp	m,X1c39		; 1C20  FA 39 1C	z9.
	ld	c,a		; 1C23  4F		O
	ld	a,b		; 1C24  78		x
	cp	crt6545data	; 1C25  FE 8D		~.
	jr	nz,X1c2b	; 1C27  20 02		 .
	rst	10h		; 1C29  D7		W
	dec	hl		; 1C2A  2B		+
X1c2b:	inc	hl		; 1C2B  23		#
	ld	a,(hl)		; 1C2C  7E		~
	cp	61h		; 1C2D  FE 61		~a
	jr	c,X1c33		; 1C2F  38 02		8.
	and	5fh		; 1C31  E6 5F		f_
X1c33:	cp	c		; 1C33  B9		9
	jr	z,X1c1d		; 1C34  28 E7		(g
	pop	hl		; 1C36  E1		a
	jr	X1c0c		; 1C37  18 D3		.S
;
X1c39:	ld	c,b		; 1C39  48		H
	pop	af		; 1C3A  F1		q
	ex	de,hl		; 1C3B  EB		k
	ret			; 1C3C  C9		I
;
X1c3d:	ex	de,hl		; 1C3D  EB		k
	ld	a,c		; 1C3E  79		y
	pop	bc		; 1C3F  C1		A
	pop	de		; 1C40  D1		Q
	ex	de,hl		; 1C41  EB		k
	cp	95h		; 1C42  FE 95		~.
	ld	(hl),rst7sp3	; 1C44  36 3A		6:
	jr	nz,X1c4a	; 1C46  20 02		 .
	inc	c		; 1C48  0C		.
	inc	hl		; 1C49  23		#
X1c4a:	cp	0fbh		; 1C4A  FE FB		~{
	jr	nz,X1c5a	; 1C4C  20 0C		 .
	ld	(hl),rst7sp3	; 1C4E  36 3A		6:
	inc	hl		; 1C50  23		#
	ld	b,93h		; 1C51  06 93		..
	ld	(hl),b		; 1C53  70		p
	inc	hl		; 1C54  23		#
	ex	de,hl		; 1C55  EB		k
	inc	c		; 1C56  0C		.
	inc	c		; 1C57  0C		.
	jr	X1c77		; 1C58  18 1D		..
;
X1c5a:	ex	de,hl		; 1C5A  EB		k
X1c5b:	inc	hl		; 1C5B  23		#
	ld	(de),a		; 1C5C  12		.
	inc	de		; 1C5D  13		.
	inc	c		; 1C5E  0C		.
	sub	rst7sp3		; 1C5F  D6 3A		V:
	jr	z,X1c67		; 1C61  28 04		(.
	cp	dselbf		; 1C63  FE 4E		~N
	jr	nz,X1c6a	; 1C65  20 03		 .
X1c67:	ld	(X40b0),a	; 1C67  32 B0 40	20@
X1c6a:	sub	59h		; 1C6A  D6 59		VY
	jp	nz,X1bcc	; 1C6C  C2 CC 1B	BL.
	ld	b,a		; 1C6F  47		G
X1c70:	ld	a,(hl)		; 1C70  7E		~
	or	a		; 1C71  B7		7
	jr	z,X1c7d		; 1C72  28 09		(.
	cp	b		; 1C74  B8		8
	jr	z,X1c5b		; 1C75  28 E4		(d
X1c77:	inc	hl		; 1C77  23		#
	ld	(de),a		; 1C78  12		.
	inc	c		; 1C79  0C		.
	inc	de		; 1C7A  13		.
	jr	X1c70		; 1C7B  18 F3		.s
;
X1c7d:	ld	hl,X0005	; 1C7D  21 05 00	!..
	ld	b,h		; 1C80  44		D
	add	hl,bc		; 1C81  09		.
	ld	b,h		; 1C82  44		D
	ld	c,l		; 1C83  4D		M
	ld	hl,(X40a7)	; 1C84  2A A7 40	*'@
	dec	hl		; 1C87  2B		+
	dec	hl		; 1C88  2B		+
	dec	hl		; 1C89  2B		+
	ld	(de),a		; 1C8A  12		.
	inc	de		; 1C8B  13		.
	ld	(de),a		; 1C8C  12		.
	inc	de		; 1C8D  13		.
	ld	(de),a		; 1C8E  12		.
	ret			; 1C8F  C9		I
;
X1c90:	ld	a,h		; 1C90  7C		|
	sub	d		; 1C91  92		.
	ret	nz		; 1C92  C0		@
	ld	a,l		; 1C93  7D		}
	sub	e		; 1C94  93		.
	ret			; 1C95  C9		I
;
X1c96:	ld	a,(hl)		; 1C96  7E		~
	ex	(sp),hl		; 1C97  E3		c
	cp	(hl)		; 1C98  BE		>
	inc	hl		; 1C99  23		#
	ex	(sp),hl		; 1C9A  E3		c
	jp	z,GETCHR		; 1C9B  CA 78 1D	Jx.
	jp	SNERR		; 1C9E  C3 97 19	C..
;
	defb	'>d2'					; 1CA1
;
	call	c,Xcd40		; 1CA4  DC 40 CD	\@M
	ld	hl,Xe31f	; 1CA7  21 1F E3	!.c
	call	X1936		; 1CAA  CD 36 19	M6.
	pop	de		; 1CAD  D1		Q
	jr	nz,X1cb5	; 1CAE  20 05		 .
	add	hl,bc		; 1CB0  09		.
	ld	sp,hl		; 1CB1  F9		y
	ld	(X40e8),hl	; 1CB2  22 E8 40	"h@
X1cb5:	ex	de,hl		; 1CB5  EB		k
	ld	c,8		; 1CB6  0E 08		..
	call	X1963		; 1CB8  CD 63 19	Mc.
	push	hl		; 1CBB  E5		e
	call	X1f05		; 1CBC  CD 05 1F	M..
	ex	(sp),hl		; 1CBF  E3		c
	push	hl		; 1CC0  E5		e
	ld	hl,(LINEAT)	; 1CC1  2A A2 40	*"@
	ex	(sp),hl		; 1CC4  E3		c
	rst	8		; 1CC5  CF		O
	cp	l		; 1CC6  BD		=
	rst	20h		; 1CC7  E7		g
	jp	z,X0af6		; 1CC8  CA F6 0A	Jv.
	jp	nc,X0af6	; 1CCB  D2 F6 0A	Rv.
	push	af		; 1CCE  F5		u
	call	X2337		; 1CCF  CD 37 23	M7#
	pop	af		; 1CD2  F1		q
	push	hl		; 1CD3  E5		e
	jp	p,X1cec		; 1CD4  F2 EC 1C	rl.
	call	X0a7f		; 1CD7  CD 7F 0A	M..
	ex	(sp),hl		; 1CDA  E3		c
	ld	de,X0001	; 1CDB  11 01 00	...
	ld	a,(hl)		; 1CDE  7E		~
	cp	0cch		; 1CDF  FE CC		~L
	call	z,X2b01		; 1CE1  CC 01 2B	L.+
	push	de		; 1CE4  D5		U
	push	hl		; 1CE5  E5		e
	ex	de,hl		; 1CE6  EB		k
	call	X099e		; 1CE7  CD 9E 09	M..
	jr	X1d0e		; 1CEA  18 22		."
;
X1cec:	call	X0ab1		; 1CEC  CD B1 0A	M1.
	call	X09bf		; 1CEF  CD BF 09	M?.
	pop	hl		; 1CF2  E1		a
	push	bc		; 1CF3  C5		E
	push	de		; 1CF4  D5		U
	ld	bc,X8100	; 1CF5  01 00 81	...
	ld	d,c		; 1CF8  51		Q
	ld	e,d		; 1CF9  5A		Z
	ld	a,(hl)		; 1CFA  7E		~
	cp	0cch		; 1CFB  FE CC		~L
	ld	a,1		; 1CFD  3E 01		>.
	jr	nz,X1d0f	; 1CFF  20 0E		 .
	call	X2338		; 1D01  CD 38 23	M8#
	push	hl		; 1D04  E5		e
	call	X0ab1		; 1D05  CD B1 0A	M1.
	call	X09bf		; 1D08  CD BF 09	M?.
	call	X0955		; 1D0B  CD 55 09	MU.
X1d0e:	pop	hl		; 1D0E  E1		a
X1d0f:	push	bc		; 1D0F  C5		E
	push	de		; 1D10  D5		U
	ld	c,a		; 1D11  4F		O
	rst	20h		; 1D12  E7		g
	ld	b,a		; 1D13  47		G
	push	bc		; 1D14  C5		E
	push	hl		; 1D15  E5		e
	ld	hl,(X40df)	; 1D16  2A DF 40	*_@
	ex	(sp),hl		; 1D19  E3		c
X1d1a:	ld	b,crtprntdat	; 1D1A  06 81		..
	push	bc		; 1D1C  C5		E
	inc	sp		; 1D1D  33		3

RUNCNT:	call	TSTBRK		; 1D1E  CD 58 03	MX.
	or	a		; 1D21  B7		7
	call	nz,X1da0	; 1D22  C4 A0 1D	D .
	ld	(BRKLIN),hl	; 1D25  22 E6 40	"f@
	ld	(X40e8),sp	; 1D28  ED 73 E8 40	msh@
	ld	a,(hl)		; 1D2C  7E		~
	cp	':'		; 1D2D  FE 3A		~:
	jr	z,EXCUTE		; 1D2F  28 29		()
	or	a		; 1D31  B7		7
	jp	nz,SNERR	; 1D32  C2 97 19	B..
	inc	hl		; 1D35  23		#
X1d36:	ld	a,(hl)		; 1D36  7E		~
	inc	hl		; 1D37  23		#
	or	(hl)		; 1D38  B6		6
	jp	z,ENDPRG		; 1D39  CA 7E 19	J~.
	inc	hl		; 1D3C  23		#
	ld	e,(hl)		; 1D3D  5E		^
	inc	hl		; 1D3E  23		#
	ld	d,(hl)		; 1D3F  56		V
	ex	de,hl		; 1D40  EB		k
	ld	(LINEAT),hl	; 1D41  22 A2 40	""@
	ld	a,(X411b)	; 1D44  3A 1B 41	:.A
	or	a		; 1D47  B7		7
	jr	z,RUNC01	; 1D48  28 0F		(.
	push	de		; 1D4A  D5		U
	ld	a,'<'		; 1D4B  3E 3C		><
	call	X032a		; 1D4D  CD 2A 03	M*.
	call	X0faf		; 1D50  CD AF 0F	M/.
	ld	a,'>'		; 1D53  3E 3E		>>
	call	X032a		; 1D55  CD 2A 03	M*.
	pop	de		; 1D58  D1		Q
RUNC01:	ex	de,hl		; 1D59  EB		k
EXCUTE:	rst	10h		; 1D5A  D7		W
	ld	de,RUNCNT	; 1D5B  11 1E 1D	...
	push	de		; 1D5E  D5		U
IFJMP:	ret	z		; 1D5F  C8		H
ONJMP:	sub	ZEND		; 1D60  D6 80		V.
	jp	c,LET		; 1D62  DA 45 30	ZE0
	cp	3ch		; 1D65  FE 3C		~<
	jp	nc,TOKRNG	; 1D67  D2 E7 2A	Rg*
	rlca			; 1D6A  07		.
	ld	c,a		; 1D6B  4F		O
	ld	b,0		; 1D6C  06 00		..
	ex	de,hl		; 1D6E  EB		k
	ld	hl,WORDTB	; 1D6F  21 22 18	!".
	add	hl,bc		; 1D72  09		.
	ld	c,(hl)		; 1D73  4E		N
	inc	hl		; 1D74  23		#
	ld	b,(hl)		; 1D75  46		F
	push	bc		; 1D76  C5		E
	ex	de,hl		; 1D77  EB		k

GETCHR:	inc	hl		; 1D78  23		#
	ld	a,(hl)		; 1D79  7E		~
	cp	':'		; 1D7A  FE 3A		~:
	ret	nc		; 1D7C  D0		P
	cp	' '		; 1D7D  FE 20		~
	jp	z,GETCHR		; 1D7F  CA 78 1D	Jx.
	cp	0bh		; 1D82  FE 0B		~.
	jr	nc,GETC01	; 1D84  30 05		0.
	cp	9		; 1D86  FE 09		~.
	jp	nc,GETCHR	; 1D88  D2 78 1D	Rx.
GETC01:	cp	'0'		; 1D8B  FE 30		~0
	ccf			; 1D8D  3F		?
	inc	a		; 1D8E  3C		<
	dec	a		; 1D8F  3D		=
	ret			; 1D90  C9		I
;
X1d91:	ex	de,hl		; 1D91  EB		k
	call	X043d		; 1D92  CD 3D 04	M=.
	dec	hl		; 1D95  2B		+
X1d96:	ld	(X40ff),hl	; 1D96  22 FF 40	".@
	ex	de,hl		; 1D99  EB		k
	ret			; 1D9A  C9		I
;
X1d9b:	call	TSTBRK		; 1D9B  CD 58 03	MX.
	or	a		; 1D9E  B7		7
	ret	z		; 1D9F  C8		H
X1da0:	cp	blifastblok	; 1DA0  FE 60		~`
	call	z,X0384		; 1DA2  CC 84 03	L..
	ld	(X4099),a	; 1DA5  32 99 40	2.@
	dec	a		; 1DA8  3D		=
	ret	nz		; 1DA9  C0		@
X1daa:	inc	a		; 1DAA  3C		<
	jp	X1db4		; 1DAB  C3 B4 1D	C4.
;
	ret	nz		; 1DAE  C0		@
	push	af		; 1DAF  F5		u
	call	z,X41bb		; 1DB0  CC BB 41	L;A
	pop	af		; 1DB3  F1		q
X1db4:	ld	(BRKLIN),hl	; 1DB4  22 E6 40	"f@
	ld	hl,X40b5	; 1DB7  21 B5 40	!5@
	ld	(X40b3),hl	; 1DBA  22 B3 40	"3@
	ld	hl,X3ff6	; 1DBD  21 F6 3F	!v?
	pop	bc		; 1DC0  C1		A
X1dc1:	ld	hl,(LINEAT)	; 1DC1  2A A2 40	*"@
	push	hl		; 1DC4  E5		e
	push	af		; 1DC5  F5		u
	ld	a,l		; 1DC6  7D		}
	and	h		; 1DC7  A4		$
	inc	a		; 1DC8  3C		<
	jr	z,X1dd4		; 1DC9  28 09		(.
	ld	(X40f5),hl	; 1DCB  22 F5 40	"u@
	ld	hl,(BRKLIN)	; 1DCE  2A E6 40	*f@
	ld	(X40f7),hl	; 1DD1  22 F7 40	"w@
X1dd4:	call	X038b		; 1DD4  CD 8B 03	M..
	call	X20f9		; 1DD7  CD F9 20	My
	pop	af		; 1DDA  F1		q
	ld	hl,X1930	; 1DDB  21 30 19	!0.
	jp	nz,X1a06	; 1DDE  C2 06 1A	B..
	jp	X1a18		; 1DE1  C3 18 1A	C..
;
	ld	hl,(X40f7)	; 1DE4  2A F7 40	*w@
	ld	a,h		; 1DE7  7C		|
	or	l		; 1DE8  B5		5
	ld	e,20h		; 1DE9  1E 20		.
	jp	z,X19a2		; 1DEB  CA A2 19	J".
	ex	de,hl		; 1DEE  EB		k
	ld	hl,(X40f5)	; 1DEF  2A F5 40	*u@
	ld	(LINEAT),hl	; 1DF2  22 A2 40	""@
	ex	de,hl		; 1DF5  EB		k
	ret			; 1DF6  C9		I
;
	ld	a,0afh		; 1DF7  3E AF		>/
	ld	(X411b),a	; 1DF9  32 1B 41	2.A
	ret			; 1DFC  C9		I
;
X1dfd:	pop	af		; 1DFD  F1		q
	pop	hl		; 1DFE  E1		a
	ret			; 1DFF  C9		I
;
X1e00:	ld	e,3		; 1E00  1E 03		..
	ld	bc,X021e	; 1E02  01 1E 02	...
	ld	bc,X041e	; 1E05  01 1E 04	...
	ld	bc,X081e	; 1E08  01 1E 08	...
X1e0b:	call	X1e3d		; 1E0B  CD 3D 1E	M=.
	ld	bc,SNERR	; 1E0E  01 97 19	...
	push	bc		; 1E11  C5		E
	ret	c		; 1E12  D8		X
	sub	frdpbuf		; 1E13  D6 41		VA
	ld	c,a		; 1E15  4F		O
	ld	b,a		; 1E16  47		G
	rst	10h		; 1E17  D7		W
	cp	0ceh		; 1E18  FE CE		~N
	jr	nz,X1e25	; 1E1A  20 09		 .
	rst	10h		; 1E1C  D7		W
	call	X1e3d		; 1E1D  CD 3D 1E	M=.
	ret	c		; 1E20  D8		X
	sub	frdpbuf		; 1E21  D6 41		VA
	ld	b,a		; 1E23  47		G
	rst	10h		; 1E24  D7		W
X1e25:	ld	a,b		; 1E25  78		x
	sub	c		; 1E26  91		.
	ret	c		; 1E27  D8		X
	inc	a		; 1E28  3C		<
	ex	(sp),hl		; 1E29  E3		c
	ld	hl,X4101	; 1E2A  21 01 41	!.A
	ld	b,0		; 1E2D  06 00		..
	add	hl,bc		; 1E2F  09		.
X1e30:	ld	(hl),e		; 1E30  73		s
	inc	hl		; 1E31  23		#
	dec	a		; 1E32  3D		=
	jr	nz,X1e30	; 1E33  20 FB		 {
	pop	hl		; 1E35  E1		a
	ld	a,(hl)		; 1E36  7E		~
	cp	2ch		; 1E37  FE 2C		~,
	ret	nz		; 1E39  C0		@
	rst	10h		; 1E3A  D7		W
	jr	X1e0b		; 1E3B  18 CE		.N
;
X1e3d:	ld	a,(hl)		; 1E3D  7E		~
X1e3e:	cp	frdpbuf		; 1E3E  FE 41		~A
	ret	c		; 1E40  D8		X
	cp	5bh		; 1E41  FE 5B		~[
	ccf			; 1E43  3F		?
	ret			; 1E44  C9		I
;
X1e45:	rst	10h		; 1E45  D7		W
X1e46:	call	X2b02		; 1E46  CD 02 2B	M.+
	ret	p		; 1E49  F0		p
X1e4a:	ld	e,8		; 1E4A  1E 08		..
	jp	X19a2		; 1E4C  C3 A2 19	C".
;
X1e4f:	ld	a,(hl)		; 1E4F  7E		~
	cp	2eh		; 1E50  FE 2E		~.
	ex	de,hl		; 1E52  EB		k
	ld	hl,(X40ec)	; 1E53  2A EC 40	*l@
	ex	de,hl		; 1E56  EB		k
	jp	z,GETCHR		; 1E57  CA 78 1D	Jx.
X1e5a:	dec	hl		; 1E5A  2B		+
X1e5b:	ld	de,X0000	; 1E5B  11 00 00	...
X1e5e:	rst	10h		; 1E5E  D7		W
	ret	nc		; 1E5F  D0		P
	push	hl		; 1E60  E5		e
	push	af		; 1E61  F5		u
	ld	hl,X1998	; 1E62  21 98 19	!..
	rst	18h		; 1E65  DF		_
	jp	c,SNERR		; 1E66  DA 97 19	Z..
	ld	h,d		; 1E69  62		b
	ld	l,e		; 1E6A  6B		k
	add	hl,de		; 1E6B  19		.
	add	hl,hl		; 1E6C  29		)
	add	hl,de		; 1E6D  19		.
	add	hl,hl		; 1E6E  29		)
	pop	af		; 1E6F  F1		q
	sub	30h		; 1E70  D6 30		V0
	ld	e,a		; 1E72  5F		_
	ld	d,0		; 1E73  16 00		..
	add	hl,de		; 1E75  19		.
	ex	de,hl		; 1E76  EB		k
	pop	hl		; 1E77  E1		a
	jr	X1e5e		; 1E78  18 E4		.d
;
	jp	z,X1b61		; 1E7A  CA 61 1B	Ja.
	call	X1e46		; 1E7D  CD 46 1E	MF.
	dec	hl		; 1E80  2B		+
	rst	10h		; 1E81  D7		W
	ret	nz		; 1E82  C0		@
	push	hl		; 1E83  E5		e
	ld	hl,(X40b1)	; 1E84  2A B1 40	*1@
	ld	a,l		; 1E87  7D		}
	sub	e		; 1E88  93		.
	ld	e,a		; 1E89  5F		_
	ld	a,h		; 1E8A  7C		|
	sbc	a,d		; 1E8B  9A		.
	ld	d,a		; 1E8C  57		W
	jp	c,X197a		; 1E8D  DA 7A 19	Zz.
	ld	hl,(X40f9)	; 1E90  2A F9 40	*y@
	ld	bc,X0028	; 1E93  01 28 00	.(.
	add	hl,bc		; 1E96  09		.
	rst	18h		; 1E97  DF		_
	jp	nc,X197a	; 1E98  D2 7A 19	Rz.
	ex	de,hl		; 1E9B  EB		k
	ld	(X40a0),hl	; 1E9C  22 A0 40	" @
	pop	hl		; 1E9F  E1		a
	jp	X1b61		; 1EA0  C3 61 1B	Ca.
;
	jp	z,X1b5d		; 1EA3  CA 5D 1B	J].
	call	X41c7		; 1EA6  CD C7 41	MGA
	call	X1b61		; 1EA9  CD 61 1B	Ma.
	ld	bc,RUNCNT	; 1EAC  01 1E 1D	...
	jr	X1ec1		; 1EAF  18 10		..
;
	ld	c,3		; 1EB1  0E 03		..
	call	X1963		; 1EB3  CD 63 19	Mc.
	pop	bc		; 1EB6  C1		A
	push	hl		; 1EB7  E5		e
	push	hl		; 1EB8  E5		e
	ld	hl,(LINEAT)	; 1EB9  2A A2 40	*"@
	ex	(sp),hl		; 1EBC  E3		c
	ld	a,91h		; 1EBD  3E 91		>.
	push	af		; 1EBF  F5		u
	inc	sp		; 1EC0  33		3
X1ec1:	push	bc		; 1EC1  C5		E
X1ec2:	call	X1e5a		; 1EC2  CD 5A 1E	MZ.
X1ec5:	call	X1f07		; 1EC5  CD 07 1F	M..
	push	hl		; 1EC8  E5		e
	ld	hl,(LINEAT)	; 1EC9  2A A2 40	*"@
	rst	18h		; 1ECC  DF		_
	pop	hl		; 1ECD  E1		a
	inc	hl		; 1ECE  23		#
	call	c,X1b2f		; 1ECF  DC 2F 1B	\/.
	call	nc,X1b2c	; 1ED2  D4 2C 1B	T,.
	ld	h,b		; 1ED5  60		`
	ld	l,c		; 1ED6  69		i
	dec	hl		; 1ED7  2B		+
	ret	c		; 1ED8  D8		X
X1ed9:	ld	e,0eh		; 1ED9  1E 0E		..
	jp	X19a2		; 1EDB  C3 A2 19	C".
;
	ret	nz		; 1EDE  C0		@
	ld	d,0ffh		; 1EDF  16 FF		..
	call	X1936		; 1EE1  CD 36 19	M6.
	ld	sp,hl		; 1EE4  F9		y
	ld	(X40e8),hl	; 1EE5  22 E8 40	"h@
	cp	91h		; 1EE8  FE 91		~.
	ld	e,4		; 1EEA  1E 04		..
	jp	nz,X19a2	; 1EEC  C2 A2 19	B".
	pop	hl		; 1EEF  E1		a
	ld	(LINEAT),hl	; 1EF0  22 A2 40	""@
	inc	hl		; 1EF3  23		#
	ld	a,h		; 1EF4  7C		|
	or	l		; 1EF5  B5		5
	jr	nz,X1eff	; 1EF6  20 07		 .
	ld	a,(X40dd)	; 1EF8  3A DD 40	:]@
	or	a		; 1EFB  B7		7
	jp	nz,X1a18	; 1EFC  C2 18 1A	B..
X1eff:	ld	hl,RUNCNT	; 1EFF  21 1E 1D	!..
	ex	(sp),hl		; 1F02  E3		c
	ld	a,0e1h		; 1F03  3E E1		>a
X1f05:	ld	bc,X0e3a	; 1F05  01 3A 0E	.:.
	nop			; 1F08  00		.
	ld	b,0		; 1F09  06 00		..
X1f0b:	ld	a,c		; 1F0B  79		y
	ld	c,b		; 1F0C  48		H
	ld	b,a		; 1F0D  47		G
X1f0e:	ld	a,(hl)		; 1F0E  7E		~
	or	a		; 1F0F  B7		7
	ret	z		; 1F10  C8		H
	cp	b		; 1F11  B8		8
	ret	z		; 1F12  C8		H
	inc	hl		; 1F13  23		#
	cp	22h		; 1F14  FE 22		~"
	jr	z,X1f0b		; 1F16  28 F3		(s
	sub	crtbeepport	; 1F18  D6 8F		V.
	jr	nz,X1f0e	; 1F1A  20 F2		 r
	cp	b		; 1F1C  B8		8
	adc	a,d		; 1F1D  8A		.
	ld	d,a		; 1F1E  57		W
	jr	X1f0e		; 1F1F  18 ED		.m
;
X1f21:	call	X260d		; 1F21  CD 0D 26	M.&
	rst	8		; 1F24  CF		O
	push	de		; 1F25  D5		U
X1f26:	ex	de,hl		; 1F26  EB		k
	ld	(X40df),hl	; 1F27  22 DF 40	"_@
	ex	de,hl		; 1F2A  EB		k
X1f2b:	push	de		; 1F2B  D5		U
	rst	20h		; 1F2C  E7		g
	push	af		; 1F2D  F5		u
	call	X2337		; 1F2E  CD 37 23	M7#
X1f31:	pop	af		; 1F31  F1		q
X1f32:	ex	(sp),hl		; 1F32  E3		c
X1f33:	add	a,3		; 1F33  C6 03		F.
	call	X2819		; 1F35  CD 19 28	M.(
	call	X0a03		; 1F38  CD 03 0A	M..
	push	hl		; 1F3B  E5		e
	jr	nz,X1f66	; 1F3C  20 28		 (
	ld	hl,(X4121)	; 1F3E  2A 21 41	*!A
	push	hl		; 1F41  E5		e
	inc	hl		; 1F42  23		#
	ld	e,(hl)		; 1F43  5E		^
	inc	hl		; 1F44  23		#
	ld	d,(hl)		; 1F45  56		V
	ld	hl,(X40a4)	; 1F46  2A A4 40	*$@
	rst	18h		; 1F49  DF		_
	jr	nc,X1f5a	; 1F4A  30 0E		0.
	ld	hl,(X40a0)	; 1F4C  2A A0 40	* @
	rst	18h		; 1F4F  DF		_
	pop	de		; 1F50  D1		Q
	jr	nc,X1f62	; 1F51  30 0F		0.
	ld	hl,(X40f9)	; 1F53  2A F9 40	*y@
	rst	18h		; 1F56  DF		_
	jr	nc,X1f62	; 1F57  30 09		0.
	ld	a,fdctrakreg	; 1F59  3E D1		>Q
	call	X29f5		; 1F5B  CD F5 29	Mu)
	ex	de,hl		; 1F5E  EB		k
	call	X2843		; 1F5F  CD 43 28	MC(
X1f62:	call	X29f5		; 1F62  CD F5 29	Mu)
	ex	(sp),hl		; 1F65  E3		c
X1f66:	call	X09d3		; 1F66  CD D3 09	MS.
	pop	de		; 1F69  D1		Q
	pop	hl		; 1F6A  E1		a
	ret			; 1F6B  C9		I
;
	cp	9eh		; 1F6C  FE 9E		~.
	jr	nz,X1f95	; 1F6E  20 25		 %
	rst	10h		; 1F70  D7		W
	rst	8		; 1F71  CF		O
	adc	a,l		; 1F72  8D		.
	call	X1e5a		; 1F73  CD 5A 1E	MZ.
	ld	a,d		; 1F76  7A		z
	or	e		; 1F77  B3		3
	jr	z,X1f83		; 1F78  28 09		(.
	call	X1b2a		; 1F7A  CD 2A 1B	M*.
	ld	d,b		; 1F7D  50		P
	ld	e,c		; 1F7E  59		Y
	pop	hl		; 1F7F  E1		a
	jp	nc,X1ed9	; 1F80  D2 D9 1E	RY.
X1f83:	ex	de,hl		; 1F83  EB		k
	ld	(X40f0),hl	; 1F84  22 F0 40	"p@
	ex	de,hl		; 1F87  EB		k
	ret	c		; 1F88  D8		X
	ld	a,(X40f2)	; 1F89  3A F2 40	:r@
	or	a		; 1F8C  B7		7
	ret	z		; 1F8D  C8		H
	ld	a,(X409a)	; 1F8E  3A 9A 40	:.@
	ld	e,a		; 1F91  5F		_
	jp	X19ab		; 1F92  C3 AB 19	C+.
;
X1f95:	call	X2b1c		; 1F95  CD 1C 2B	M.+
	ld	a,(hl)		; 1F98  7E		~
	ld	b,a		; 1F99  47		G
	cp	91h		; 1F9A  FE 91		~.
	jr	z,X1fa1		; 1F9C  28 03		(.
	rst	8		; 1F9E  CF		O
	adc	a,l		; 1F9F  8D		.
	dec	hl		; 1FA0  2B		+
X1fa1:	ld	c,e		; 1FA1  4B		K
X1fa2:	dec	c		; 1FA2  0D		.
	ld	a,b		; 1FA3  78		x
	jp	z,ONJMP		; 1FA4  CA 60 1D	J`.
	call	X1e5b		; 1FA7  CD 5B 1E	M[.
	cp	2ch		; 1FAA  FE 2C		~,
	ret	nz		; 1FAC  C0		@
	jr	X1fa2		; 1FAD  18 F3		.s
;
	ld	de,X40f2	; 1FAF  11 F2 40	.r@
	ld	a,(de)		; 1FB2  1A		.
	or	a		; 1FB3  B7		7
	jp	z,X19a0		; 1FB4  CA A0 19	J .
	inc	a		; 1FB7  3C		<
	ld	(X409a),a	; 1FB8  32 9A 40	2.@
	ld	(de),a		; 1FBB  12		.
	ld	a,(hl)		; 1FBC  7E		~
	cp	crtkeybcnt	; 1FBD  FE 87		~.
	jr	z,X1fcd		; 1FBF  28 0C		(.
	call	X1e5a		; 1FC1  CD 5A 1E	MZ.
	ret	nz		; 1FC4  C0		@
	ld	a,d		; 1FC5  7A		z
	or	e		; 1FC6  B3		3
	jp	nz,X1ec5	; 1FC7  C2 C5 1E	BE.
	inc	a		; 1FCA  3C		<
	jr	X1fcf		; 1FCB  18 02		..
;
X1fcd:	rst	10h		; 1FCD  D7		W
	ret	nz		; 1FCE  C0		@
X1fcf:	ld	hl,(X40ee)	; 1FCF  2A EE 40	*n@
	ex	de,hl		; 1FD2  EB		k
	ld	hl,(X40ea)	; 1FD3  2A EA 40	*j@
	ld	(LINEAT),hl	; 1FD6  22 A2 40	""@
	ex	de,hl		; 1FD9  EB		k
	ret	nz		; 1FDA  C0		@
	ld	a,(hl)		; 1FDB  7E		~
	or	a		; 1FDC  B7		7
	jr	nz,X1fe3	; 1FDD  20 04		 .
	inc	hl		; 1FDF  23		#
	inc	hl		; 1FE0  23		#
	inc	hl		; 1FE1  23		#
	inc	hl		; 1FE2  23		#
X1fe3:	inc	hl		; 1FE3  23		#
	ld	a,d		; 1FE4  7A		z
	and	e		; 1FE5  A3		#
	inc	a		; 1FE6  3C		<
	jp	nz,X1f05	; 1FE7  C2 05 1F	B..
	ld	a,(X40dd)	; 1FEA  3A DD 40	:]@
	dec	a		; 1FED  3D		=
	jp	z,X1dbe		; 1FEE  CA BE 1D	J>.
	jp	X1f05		; 1FF1  C3 05 1F	C..
;
	call	X2b1c		; 1FF4  CD 1C 2B	M.+
	ret	nz		; 1FF7  C0		@
	or	a		; 1FF8  B7		7
	jp	z,X1e4a		; 1FF9  CA 4A 1E	JJ.
	dec	a		; 1FFC  3D		=
	add	a,a		; 1FFD  87		.
	ld	e,a		; 1FFE  5F		_
	cp	2dh		; 1FFF  FE 2D		~-
	jr	c,X2005		; 2001  38 02		8.
	ld	e,26h		; 2003  1E 26		.&
X2005:	jp	X19a2		; 2005  C3 A2 19	C".
;
	ld	de,X000a	; 2008  11 0A 00	...
	push	de		; 200B  D5		U
	jr	z,X2025		; 200C  28 17		(.
	call	X1e4f		; 200E  CD 4F 1E	MO.
	ex	de,hl		; 2011  EB		k
	ex	(sp),hl		; 2012  E3		c
	jr	z,X2026		; 2013  28 11		(.
	ex	de,hl		; 2015  EB		k
	rst	8		; 2016  CF		O
	inc	l		; 2017  2C		,
	ex	de,hl		; 2018  EB		k
	ld	hl,(X40e4)	; 2019  2A E4 40	*d@
	ex	de,hl		; 201C  EB		k
	jr	z,X2025		; 201D  28 06		(.
	call	X1e5a		; 201F  CD 5A 1E	MZ.
	jp	nz,SNERR	; 2022  C2 97 19	B..
X2025:	ex	de,hl		; 2025  EB		k
X2026:	ld	a,h		; 2026  7C		|
	or	l		; 2027  B5		5
	jp	z,X1e4a		; 2028  CA 4A 1E	JJ.
	ld	(X40e4),hl	; 202B  22 E4 40	"d@
	ld	(X40e1),a	; 202E  32 E1 40	2a@
	pop	hl		; 2031  E1		a
	ld	(X40e2),hl	; 2032  22 E2 40	"b@
	pop	bc		; 2035  C1		A
	jp	X1a33		; 2036  C3 33 1A	C3.
;
	call	X2337		; 2039  CD 37 23	M7#
	ld	a,(hl)		; 203C  7E		~
	cp	2ch		; 203D  FE 2C		~,
	call	z,GETCHR		; 203F  CC 78 1D	Lx.
	cp	0cah		; 2042  FE CA		~J
	call	z,GETCHR		; 2044  CC 78 1D	Lx.
	dec	hl		; 2047  2B		+
	push	hl		; 2048  E5		e
	call	X0994		; 2049  CD 94 09	M..
	pop	hl		; 204C  E1		a
	jr	z,X2056		; 204D  28 07		(.
X204f:	rst	10h		; 204F  D7		W
	jp	c,X1ec2		; 2050  DA C2 1E	ZB.
	jp	IFJMP		; 2053  C3 5F 1D	C_.
;
X2056:	ld	d,1		; 2056  16 01		..
X2058:	call	X1f05		; 2058  CD 05 1F	M..
	or	a		; 205B  B7		7
	ret	z		; 205C  C8		H
	rst	10h		; 205D  D7		W
	cp	95h		; 205E  FE 95		~.
	jr	nz,X2058	; 2060  20 F6		 v
	dec	d		; 2062  15		.
	jr	nz,X2058	; 2063  20 F3		 s
	jr	X204f		; 2065  18 E8		.h
;
	ld	a,1		; 2067  3E 01		>.
	ld	(X409c),a	; 2069  32 9C 40	2.@
	jp	X209b		; 206C  C3 9B 20	C.
;
	call	X41ca		; 206F  CD CA 41	MJA
	cp	blislowblok	; 2072  FE 40		~@
	jr	nz,X209b	; 2074  20 25		 %
	call	X2b01		; 2076  CD 01 2B	M.+
	push	hl		; 2079  E5		e
	ld	hl,X077f	; 207A  21 7F 07	!..
	sbc	hl,de		; 207D  ED 52		mR
	jp	c,X1e4a		; 207F  DA 4A 1E	ZJ.
	ex	de,hl		; 2082  EB		k
	ld	(X4020),hl	; 2083  22 20 40	" @
	ex	de,hl		; 2086  EB		k
	call	X0116		; 2087  CD 16 01	M..
	pop	hl		; 208A  E1		a
	ld	(X40a6),a	; 208B  32 A6 40	2&@
	rst	8		; 208E  CF		O
	inc	l		; 208F  2C		,
	jr	X209b		; 2090  18 09		..
;
	ORG	209bh
;
X209b:	dec	hl		; 209B  2B		+
	rst	10h		; 209C  D7		W
	call	z,X20fe		; 209D  CC FE 20	L~
X20a0:	jp	z,X2169		; 20A0  CA 69 21	Ji!
	cp	0bfh		; 20A3  FE BF		~?
	jp	z,X2cbd		; 20A5  CA BD 2C	J=,
	cp	0bch		; 20A8  FE BC		~<
	jp	z,X2137		; 20AA  CA 37 21	J7!
	push	hl		; 20AD  E5		e
	cp	2ch		; 20AE  FE 2C		~,
	jp	z,X2108		; 20B0  CA 08 21	J.!
	cp	ram0buf		; 20B3  FE 3B		~;
	jp	z,X2164		; 20B5  CA 64 21	Jd!
	pop	bc		; 20B8  C1		A
	call	X2337		; 20B9  CD 37 23	M7#
	push	hl		; 20BC  E5		e
	rst	20h		; 20BD  E7		g
	jr	z,X20f2		; 20BE  28 32		(2
	call	X0fbd		; 20C0  CD BD 0F	M=.
	call	X2865		; 20C3  CD 65 28	Me(
	call	X41cd		; 20C6  CD CD 41	MMA
	ld	hl,(X4121)	; 20C9  2A 21 41	*!A
	ld	a,(X409c)	; 20CC  3A 9C 40	:.@
	or	a		; 20CF  B7		7
	jp	m,X20e9		; 20D0  FA E9 20	zi
	jr	z,X20dd		; 20D3  28 08		(.
	ld	a,(X409b)	; 20D5  3A 9B 40	:.@
	add	a,(hl)		; 20D8  86		.
	cp	crtram1dat	; 20D9  FE 84		~.
	jr	X20e6		; 20DB  18 09		..
;
X20dd:	ld	a,(X409d)	; 20DD  3A 9D 40	:.@
	ld	b,a		; 20E0  47		G
	ld	a,(X40a6)	; 20E1  3A A6 40	:&@
	add	a,(hl)		; 20E4  86		.
	cp	b		; 20E5  B8		8
X20e6:	call	nc,X20fe	; 20E6  D4 FE 20	T~
X20e9:	call	X28aa		; 20E9  CD AA 28	M*(
	ld	a,20h		; 20EC  3E 20		>
	call	X032a		; 20EE  CD 2A 03	M*.
	or	a		; 20F1  B7		7
X20f2:	call	z,X28aa		; 20F2  CC AA 28	L*(
	pop	hl		; 20F5  E1		a
	jp	X209b		; 20F6  C3 9B 20	C.
;
X20f9:	ld	a,(X40a6)	; 20F9  3A A6 40	:&@
	or	a		; 20FC  B7		7
	ret	z		; 20FD  C8		H
X20fe:	ld	a,0dh		; 20FE  3E 0D		>.
X2100:	call	X032a		; 2100  CD 2A 03	M*.
X2103:	call	X41d0		; 2103  CD D0 41	MPA
	xor	a		; 2106  AF		/
	ret			; 2107  C9		I
;
X2108:	call	X41d3		; 2108  CD D3 41	MSA
	ld	a,(X409c)	; 210B  3A 9C 40	:.@
	or	a		; 210E  B7		7
	jp	p,X2119		; 210F  F2 19 21	r.!
	ld	a,2ch		; 2112  3E 2C		>,
	call	X032a		; 2114  CD 2A 03	M*.
	jr	X2164		; 2117  18 4B		.K
;
X2119:	jr	z,X2123		; 2119  28 08		(.
	ld	a,(X409b)	; 211B  3A 9B 40	:.@
	cp	70h		; 211E  FE 70		~p
	jp	X212b		; 2120  C3 2B 21	C+!
;
X2123:	ld	a,(X409e)	; 2123  3A 9E 40	:.@
	ld	b,a		; 2126  47		G
	ld	a,(X40a6)	; 2127  3A A6 40	:&@
	cp	b		; 212A  B8		8
X212b:	call	nc,X20fe	; 212B  D4 FE 20	T~
	jr	nc,X2164	; 212E  30 34		04
X2130:	sub	10h		; 2130  D6 10		V.
	jr	nc,X2130	; 2132  30 FC		0|
	cpl			; 2134  2F		/
	jr	X215a		; 2135  18 23		.#
;
X2137:	call	X2b1b		; 2137  CD 1B 2B	M.+
	call	X0116		; 213A  CD 16 01	M..
	rst	8		; 213D  CF		O
	add	hl,hl		; 213E  29		)
	dec	hl		; 213F  2B		+
	push	hl		; 2140  E5		e
	call	X41d3		; 2141  CD D3 41	MSA
	ld	a,(X409c)	; 2144  3A 9C 40	:.@
	or	a		; 2147  B7		7
	jp	m,X1e4a		; 2148  FA 4A 1E	zJ.
	jp	z,X2153		; 214B  CA 53 21	JS!
	ld	a,(X409b)	; 214E  3A 9B 40	:.@
	jr	X2156		; 2151  18 03		..
;
X2153:	ld	a,(X40a6)	; 2153  3A A6 40	:&@
X2156:	cpl			; 2156  2F		/
	add	a,e		; 2157  83		.
	jr	nc,X2164	; 2158  30 0A		0.
X215a:	inc	a		; 215A  3C		<
	ld	b,a		; 215B  47		G
	ld	a,20h		; 215C  3E 20		>
X215e:	call	X032a		; 215E  CD 2A 03	M*.
	dec	b		; 2161  05		.
	jr	nz,X215e	; 2162  20 FA		 z
X2164:	pop	hl		; 2164  E1		a
	rst	10h		; 2165  D7		W
	jp	X20a0		; 2166  C3 A0 20	C
;
X2169:	ld	a,(X409c)	; 2169  3A 9C 40	:.@
	or	a		; 216C  B7		7
	call	m,X01f8		; 216D  FC F8 01	|x.
	xor	a		; 2170  AF		/
	ld	(X409c),a	; 2171  32 9C 40	2.@
	call	X41be		; 2174  CD BE 41	M>A
	ret			; 2177  C9		I
;
X2178:	defb	'?REDO',0dh,0					; 2178
;
X217f:	ld	a,(X40de)	; 217F  3A DE 40	:^@
	or	a		; 2182  B7		7
	jp	nz,X1991	; 2183  C2 91 19	B..
	ld	a,(X40a9)	; 2186  3A A9 40	:)@
	or	a		; 2189  B7		7
	ld	e,2ah		; 218A  1E 2A		.*
	jp	z,X19a2		; 218C  CA A2 19	J".
	pop	bc		; 218F  C1		A
	ld	hl,X2178	; 2190  21 78 21	!x!
	call	X28a7		; 2193  CD A7 28	M'(
	ld	hl,(BRKLIN)	; 2196  2A E6 40	*f@
	ret			; 2199  C9		I
;
	call	X2828		; 219A  CD 28 28	M((
	ld	a,(hl)		; 219D  7E		~
	call	X41d6		; 219E  CD D6 41	MVA
	sub	23h		; 21A1  D6 23		V#
	ld	(X40a9),a	; 21A3  32 A9 40	2)@
	ld	a,(hl)		; 21A6  7E		~
	jr	X21c9		; 21A7  18 20		.
;
X21a9:	ld	b,b		; 21A9  40		@
	call	X2c05		; 21AA  CD 05 2C	M.,
	ld	(X21a9),a	; 21AD  32 A9 21	2)!
	jp	X2c39		; 21B0  C3 39 2C	C9,
;
X21b3:	ld	a,0eh		; 21B3  3E 0E		>.
	out	(crt6545adst),a	; 21B5  D3 8C		S.
	in	a,(crt6545data)	; 21B7  DB 8D		[.
	ld	h,a		; 21B9  67		g
	ld	a,0fh		; 21BA  3E 0F		>.
	out	(crt6545adst),a	; 21BC  D3 8C		S.
	in	a,(crt6545data)	; 21BE  DB 8D		[.
	ld	l,a		; 21C0  6F		o
	ld	a,1fh		; 21C1  3E 1F		>.
	out	(crt6545adst),a	; 21C3  D3 8C		S.
	ld	(X3186),hl	; 21C5  22 86 31	".1
	ret			; 21C8  C9		I
;
X21c9:	ld	bc,X21db	; 21C9  01 DB 21	.[!
	push	bc		; 21CC  C5		E
X21cd:	cp	22h		; 21CD  FE 22		~"
	ret	nz		; 21CF  C0		@
X21d0:	call	X2866		; 21D0  CD 66 28	Mf(
	rst	8		; 21D3  CF		O
	dec	sp		; 21D4  3B		;
	push	hl		; 21D5  E5		e
	call	X28aa		; 21D6  CD AA 28	M*(
	pop	hl		; 21D9  E1		a
	ret			; 21DA  C9		I
;
X21db:	push	hl		; 21DB  E5		e
	call	X1bb3		; 21DC  CD B3 1B	M3.
	pop	bc		; 21DF  C1		A
	jp	c,X1dbe		; 21E0  DA BE 1D	Z>.
	inc	hl		; 21E3  23		#
	ld	a,(hl)		; 21E4  7E		~
	or	a		; 21E5  B7		7
	dec	hl		; 21E6  2B		+
	push	bc		; 21E7  C5		E
	jp	z,X1f04		; 21E8  CA 04 1F	J..
X21eb:	ld	(hl),2ch	; 21EB  36 2C		6,
	jr	X21f4		; 21ED  18 05		..
;
	push	hl		; 21EF  E5		e
	ld	hl,(X40ff)	; 21F0  2A FF 40	*.@
	or	0afh		; 21F3  F6 AF		v/
X21f5:	ld	(X40de),a	; 21F5  32 DE 40	2^@
	ex	(sp),hl		; 21F8  E3		c
	jr	X21fd		; 21F9  18 02		..
;
X21fb:	rst	8		; 21FB  CF		O
	inc	l		; 21FC  2C		,
X21fd:	call	X260d		; 21FD  CD 0D 26	M.&
	ex	(sp),hl		; 2200  E3		c
	push	de		; 2201  D5		U
	ld	a,(hl)		; 2202  7E		~
	cp	2ch		; 2203  FE 2C		~,
	jr	z,X222d		; 2205  28 26		(&
	ld	a,(X40de)	; 2207  3A DE 40	:^@
	or	a		; 220A  B7		7
	jp	nz,X2296	; 220B  C2 96 22	B."
	ld	a,(X40a9)	; 220E  3A A9 40	:)@
	or	a		; 2211  B7		7
	ld	e,6		; 2212  1E 06		..
	jp	z,X19a2		; 2214  CA A2 19	J".
	ld	a,fsekbuf	; 2217  3E 3F		>?
	call	X032a		; 2219  CD 2A 03	M*.
	call	X1bb3		; 221C  CD B3 1B	M3.
	pop	de		; 221F  D1		Q
	pop	bc		; 2220  C1		A
	jp	c,X1dbe		; 2221  DA BE 1D	Z>.
	inc	hl		; 2224  23		#
	ld	a,(hl)		; 2225  7E		~
	or	a		; 2226  B7		7
	dec	hl		; 2227  2B		+
	push	bc		; 2228  C5		E
	jp	z,X1f04		; 2229  CA 04 1F	J..
	push	de		; 222C  D5		U
X222d:	call	X41dc		; 222D  CD DC 41	M\A
	rst	20h		; 2230  E7		g
	push	af		; 2231  F5		u
	jr	nz,X224d	; 2232  20 19		 .
	rst	10h		; 2234  D7		W
	ld	d,a		; 2235  57		W
	ld	b,a		; 2236  47		G
X2237:	cp	22h		; 2237  FE 22		~"
	jr	z,X2240		; 2239  28 05		(.
	ld	d,rst7sp3	; 223B  16 3A		.:
	ld	b,2ch		; 223D  06 2C		.,
	dec	hl		; 223F  2B		+
X2240:	call	X2869		; 2240  CD 69 28	Mi(
X2243:	pop	af		; 2243  F1		q
	ex	de,hl		; 2244  EB		k
	ld	hl,X225a	; 2245  21 5A 22	!Z"
	ex	(sp),hl		; 2248  E3		c
	push	de		; 2249  D5		U
	jp	X1f33		; 224A  C3 33 1F	C3.
;
X224d:	rst	10h		; 224D  D7		W
	pop	af		; 224E  F1		q
	push	af		; 224F  F5		u
	ld	bc,X2243	; 2250  01 43 22	.C"
	push	bc		; 2253  C5		E
	jp	c,X0e6c		; 2254  DA 6C 0E	Zl.
	jp	nc,X0e65	; 2257  D2 65 0E	Re.
X225a:	dec	hl		; 225A  2B		+
	rst	10h		; 225B  D7		W
	jr	z,X2263		; 225C  28 05		(.
	cp	2ch		; 225E  FE 2C		~,
	jp	nz,X217f	; 2260  C2 7F 21	B.!
X2263:	ex	(sp),hl		; 2263  E3		c
	dec	hl		; 2264  2B		+
	rst	10h		; 2265  D7		W
	jp	nz,X21fb	; 2266  C2 FB 21	B{!
	pop	de		; 2269  D1		Q
	nop			; 226A  00		.
	nop			; 226B  00		.
	nop			; 226C  00		.
	nop			; 226D  00		.
	nop			; 226E  00		.
	ld	a,(X40de)	; 226F  3A DE 40	:^@
	or	a		; 2272  B7		7
	ex	de,hl		; 2273  EB		k
	jp	nz,X1d96	; 2274  C2 96 1D	B..
	push	de		; 2277  D5		U
	call	X41df		; 2278  CD DF 41	M_A
	or	(hl)		; 227B  B6		6
	ld	hl,X2286	; 227C  21 86 22	!."
	call	nz,X28a7	; 227F  C4 A7 28	D'(
X2282:	pop	hl		; 2282  E1		a
	jp	X2169		; 2283  C3 69 21	Ci!
;
X2286:	defb	'?Extra ignored',0dh,0			; 2286
;
X2296:	call	X1f05		; 2296  CD 05 1F	M..
	or	a		; 2299  B7		7
	jr	nz,X22ae	; 229A  20 12		 .
	inc	hl		; 229C  23		#
	ld	a,(hl)		; 229D  7E		~
	inc	hl		; 229E  23		#
	or	(hl)		; 229F  B6		6
	ld	e,6		; 22A0  1E 06		..
	jp	z,X19a2		; 22A2  CA A2 19	J".
	inc	hl		; 22A5  23		#
	ld	e,(hl)		; 22A6  5E		^
	inc	hl		; 22A7  23		#
	ld	d,(hl)		; 22A8  56		V
	ex	de,hl		; 22A9  EB		k
	ld	(X40da),hl	; 22AA  22 DA 40	"Z@
	ex	de,hl		; 22AD  EB		k
X22ae:	rst	10h		; 22AE  D7		W
	cp	crtram2dat	; 22AF  FE 88		~.
	jr	nz,X2296	; 22B1  20 E3		 c
	jp	X222d		; 22B3  C3 2D 22	C-"
;
	ld	de,X0000	; 22B6  11 00 00	...
X22b9:	call	nz,X260d	; 22B9  C4 0D 26	D.&
	ld	(X40df),hl	; 22BC  22 DF 40	"_@
	call	X1936		; 22BF  CD 36 19	M6.
	jp	nz,X199d	; 22C2  C2 9D 19	B..
	ld	sp,hl		; 22C5  F9		y
	ld	(X40e8),hl	; 22C6  22 E8 40	"h@
	push	de		; 22C9  D5		U
	ld	a,(hl)		; 22CA  7E		~
	inc	hl		; 22CB  23		#
	push	af		; 22CC  F5		u
	push	de		; 22CD  D5		U
	ld	a,(hl)		; 22CE  7E		~
	inc	hl		; 22CF  23		#
	or	a		; 22D0  B7		7
	jp	m,X22ea		; 22D1  FA EA 22	zj"
	call	X09b1		; 22D4  CD B1 09	M1.
	ex	(sp),hl		; 22D7  E3		c
	push	hl		; 22D8  E5		e
	call	X070b		; 22D9  CD 0B 07	M..
	pop	hl		; 22DC  E1		a
	call	X09cb		; 22DD  CD CB 09	MK.
	pop	hl		; 22E0  E1		a
	call	X09c2		; 22E1  CD C2 09	MB.
	push	hl		; 22E4  E5		e
	call	X0a0c		; 22E5  CD 0C 0A	M..
	jr	X2313		; 22E8  18 29		.)
;
X22ea:	inc	hl		; 22EA  23		#
	inc	hl		; 22EB  23		#
	inc	hl		; 22EC  23		#
	inc	hl		; 22ED  23		#
	ld	c,(hl)		; 22EE  4E		N
	inc	hl		; 22EF  23		#
	ld	b,(hl)		; 22F0  46		F
	inc	hl		; 22F1  23		#
	ex	(sp),hl		; 22F2  E3		c
	ld	e,(hl)		; 22F3  5E		^
	inc	hl		; 22F4  23		#
	ld	d,(hl)		; 22F5  56		V
	push	hl		; 22F6  E5		e
	ld	l,c		; 22F7  69		i
	ld	h,b		; 22F8  60		`
	call	X0bd2		; 22F9  CD D2 0B	MR.
	ld	a,(X40af)	; 22FC  3A AF 40	:/@
	cp	4		; 22FF  FE 04		~.
	jp	z,X07b2		; 2301  CA B2 07	J2.
	ex	de,hl		; 2304  EB		k
	pop	hl		; 2305  E1		a
	ld	(hl),d		; 2306  72		r
	dec	hl		; 2307  2B		+
	ld	(hl),e		; 2308  73		s
	pop	hl		; 2309  E1		a
	push	de		; 230A  D5		U
	ld	e,(hl)		; 230B  5E		^
	inc	hl		; 230C  23		#
	ld	d,(hl)		; 230D  56		V
	inc	hl		; 230E  23		#
	ex	(sp),hl		; 230F  E3		c
	call	X0a39		; 2310  CD 39 0A	M9.
X2313:	pop	hl		; 2313  E1		a
	pop	bc		; 2314  C1		A
	sub	b		; 2315  90		.
	call	X09c2		; 2316  CD C2 09	MB.
	jr	z,X2324		; 2319  28 09		(.
	ex	de,hl		; 231B  EB		k
	ld	(LINEAT),hl	; 231C  22 A2 40	""@
	ld	l,c		; 231F  69		i
	ld	h,b		; 2320  60		`
	jp	X1d1a		; 2321  C3 1A 1D	C..
;
X2324:	ld	sp,hl		; 2324  F9		y
	ld	(X40e8),hl	; 2325  22 E8 40	"h@
X2328:	ld	hl,(X40df)	; 2328  2A DF 40	*_@
	ld	a,(hl)		; 232B  7E		~
	cp	2ch		; 232C  FE 2C		~,
	jp	nz,RUNCNT	; 232E  C2 1E 1D	B..
	rst	10h		; 2331  D7		W
	call	X22b9		; 2332  CD B9 22	M9"
X2335:	rst	8		; 2335  CF		O
	jr	z,X2363		; 2336  28 2B		(+
X2338:	ld	d,0		; 2338  16 00		..
X233a:	push	de		; 233A  D5		U
	ld	c,1		; 233B  0E 01		..
	call	X1963		; 233D  CD 63 19	Mc.
	call	X249f		; 2340  CD 9F 24	M.$
	ld	(X40f3),hl	; 2343  22 F3 40	"s@
X2346:	ld	hl,(X40f3)	; 2346  2A F3 40	*s@
X2349:	pop	bc		; 2349  C1		A
	ld	a,(hl)		; 234A  7E		~
	ld	d,0		; 234B  16 00		..
X234d:	sub	0d4h		; 234D  D6 D4		VT
	jr	c,X2364		; 234F  38 13		8.
	cp	3		; 2351  FE 03		~.
	jr	nc,X2364	; 2353  30 0F		0.
	cp	1		; 2355  FE 01		~.
	rla			; 2357  17		.
	xor	d		; 2358  AA		*
	cp	d		; 2359  BA		:
	ld	d,a		; 235A  57		W
	jp	c,SNERR		; 235B  DA 97 19	Z..
	ld	(X40d8),hl	; 235E  22 D8 40	"X@
	rst	10h		; 2361  D7		W
	jr	X234d		; 2362  18 E9		.i
;
X2364:	ld	a,d		; 2364  7A		z
	or	a		; 2365  B7		7
	jp	nz,X23ec	; 2366  C2 EC 23	Bl#
	ld	a,(hl)		; 2369  7E		~
	ld	(X40d8),hl	; 236A  22 D8 40	"X@
	sub	0cdh		; 236D  D6 CD		VM
	ret	c		; 236F  D8		X
	cp	7		; 2370  FE 07		~.
	ret	nc		; 2372  D0		P
	ld	e,a		; 2373  5F		_
	ld	a,(X40af)	; 2374  3A AF 40	:/@
	sub	3		; 2377  D6 03		V.
	or	e		; 2379  B3		3
	jp	z,X298f		; 237A  CA 8F 29	J.)
	ld	hl,X189a	; 237D  21 9A 18	!..
	add	hl,de		; 2380  19		.
	ld	a,b		; 2381  78		x
	ld	d,(hl)		; 2382  56		V
	cp	d		; 2383  BA		:
	ret	nc		; 2384  D0		P
	push	bc		; 2385  C5		E
	ld	bc,X2346	; 2386  01 46 23	.F#
	push	bc		; 2389  C5		E
	ld	a,d		; 238A  7A		z
	cp	7fh		; 238B  FE 7F		~.
	jp	z,X23d4		; 238D  CA D4 23	JT#
	cp	51h		; 2390  FE 51		~Q
	jp	c,X23e1		; 2392  DA E1 23	Za#
X2395:	ld	hl,X4121	; 2395  21 21 41	!!A
	or	a		; 2398  B7		7
	ld	a,(X40af)	; 2399  3A AF 40	:/@
	dec	a		; 239C  3D		=
	dec	a		; 239D  3D		=
	dec	a		; 239E  3D		=
	jp	z,X0af6		; 239F  CA F6 0A	Jv.
	ld	c,(hl)		; 23A2  4E		N
	inc	hl		; 23A3  23		#
	ld	b,(hl)		; 23A4  46		F
	push	bc		; 23A5  C5		E
	jp	m,X23c5		; 23A6  FA C5 23	zE#
	inc	hl		; 23A9  23		#
	ld	c,(hl)		; 23AA  4E		N
	inc	hl		; 23AB  23		#
	ld	b,(hl)		; 23AC  46		F
	push	bc		; 23AD  C5		E
	push	af		; 23AE  F5		u
	or	a		; 23AF  B7		7
	jp	po,X23c4	; 23B0  E2 C4 23	bD#
	pop	af		; 23B3  F1		q
	inc	hl		; 23B4  23		#
	jr	c,X23ba		; 23B5  38 03		8.
	ld	hl,X411d	; 23B7  21 1D 41	!.A
X23ba:	ld	c,(hl)		; 23BA  4E		N
	inc	hl		; 23BB  23		#
	ld	b,(hl)		; 23BC  46		F
	inc	hl		; 23BD  23		#
	push	bc		; 23BE  C5		E
	ld	c,(hl)		; 23BF  4E		N
	inc	hl		; 23C0  23		#
	ld	b,(hl)		; 23C1  46		F
	push	bc		; 23C2  C5		E
	ld	b,0f1h		; 23C3  06 F1		.q
X23c5:	add	a,3		; 23C5  C6 03		F.
	ld	c,e		; 23C7  4B		K
	ld	b,a		; 23C8  47		G
	push	bc		; 23C9  C5		E
	ld	bc,X2406	; 23CA  01 06 24	..$
X23cd:	push	bc		; 23CD  C5		E
	ld	hl,(X40d8)	; 23CE  2A D8 40	*X@
	jp	X233a		; 23D1  C3 3A 23	C:#
;
X23d4:	call	X0ab1		; 23D4  CD B1 0A	M1.
	call	X09a4		; 23D7  CD A4 09	M$.
	ld	bc,X13f2	; 23DA  01 F2 13	.r.
	ld	d,7fh		; 23DD  16 7F		..
	jr	X23cd		; 23DF  18 EC		.l
;
X23e1:	push	de		; 23E1  D5		U
	call	X0a7f		; 23E2  CD 7F 0A	M..
	pop	de		; 23E5  D1		Q
	push	hl		; 23E6  E5		e
	ld	bc,X25e9	; 23E7  01 E9 25	.i%
	jr	X23cd		; 23EA  18 E1		.a
;
X23ec:	ld	a,b		; 23EC  78		x
	cp	64h		; 23ED  FE 64		~d
	ret	nc		; 23EF  D0		P
	push	bc		; 23F0  C5		E
	push	de		; 23F1  D5		U
	ld	de,X6404	; 23F2  11 04 64	..d
	ld	hl,X25b8	; 23F5  21 B8 25	!8%
X23f8:	push	hl		; 23F8  E5		e
	rst	20h		; 23F9  E7		g
	jp	nz,X2395	; 23FA  C2 95 23	B.#
	ld	hl,(X4121)	; 23FD  2A 21 41	*!A
X2400:	push	hl		; 2400  E5		e
	ld	bc,X258c	; 2401  01 8C 25	..%
	jr	X23cd		; 2404  18 C7		.G
;
X2406:	pop	bc		; 2406  C1		A
	ld	a,c		; 2407  79		y
	ld	(X40b0),a	; 2408  32 B0 40	20@
	ld	a,b		; 240B  78		x
	cp	8		; 240C  FE 08		~.
	jr	z,X2438		; 240E  28 28		((
	ld	a,(X40af)	; 2410  3A AF 40	:/@
	cp	8		; 2413  FE 08		~.
	jp	z,X2460		; 2415  CA 60 24	J`$
	ld	d,a		; 2418  57		W
	ld	a,b		; 2419  78		x
	cp	4		; 241A  FE 04		~.
	jp	z,X2472		; 241C  CA 72 24	Jr$
	ld	a,d		; 241F  7A		z
	cp	3		; 2420  FE 03		~.
	jp	z,X0af6		; 2422  CA F6 0A	Jv.
	jp	nc,X247c	; 2425  D2 7C 24	R|$
	ld	hl,X18bf	; 2428  21 BF 18	!?.
	ld	b,0		; 242B  06 00		..
	add	hl,bc		; 242D  09		.
	add	hl,bc		; 242E  09		.
	ld	c,(hl)		; 242F  4E		N
	inc	hl		; 2430  23		#
	ld	b,(hl)		; 2431  46		F
	pop	de		; 2432  D1		Q
	ld	hl,(X4121)	; 2433  2A 21 41	*!A
	push	bc		; 2436  C5		E
	ret			; 2437  C9		I
;
X2438:	call	X0adb		; 2438  CD DB 0A	M[.
	call	X09fc		; 243B  CD FC 09	M|.
	pop	hl		; 243E  E1		a
	ld	(X411f),hl	; 243F  22 1F 41	".A
	pop	hl		; 2442  E1		a
	ld	(X411d),hl	; 2443  22 1D 41	".A
X2446:	pop	bc		; 2446  C1		A
	pop	de		; 2447  D1		Q
	call	X09b4		; 2448  CD B4 09	M4.
X244b:	call	X0adb		; 244B  CD DB 0A	M[.
	ld	hl,X18ab	; 244E  21 AB 18	!+.
X2451:	ld	a,(X40b0)	; 2451  3A B0 40	:0@
	rlca			; 2454  07		.
	push	bc		; 2455  C5		E
	ld	c,a		; 2456  4F		O
	ld	b,0		; 2457  06 00		..
	add	hl,bc		; 2459  09		.
	pop	bc		; 245A  C1		A
	ld	a,(hl)		; 245B  7E		~
	inc	hl		; 245C  23		#
	ld	h,(hl)		; 245D  66		f
	ld	l,a		; 245E  6F		o
	jp	(hl)		; 245F  E9		i
;
X2460:	push	bc		; 2460  C5		E
	call	X09fc		; 2461  CD FC 09	M|.
	pop	af		; 2464  F1		q
	ld	(X40af),a	; 2465  32 AF 40	2/@
	cp	4		; 2468  FE 04		~.
	jr	z,X2446		; 246A  28 DA		(Z
	pop	hl		; 246C  E1		a
	ld	(X4121),hl	; 246D  22 21 41	"!A
	jr	X244b		; 2470  18 D9		.Y
;
X2472:	call	X0ab1		; 2472  CD B1 0A	M1.
	pop	bc		; 2475  C1		A
	pop	de		; 2476  D1		Q
X2477:	ld	hl,X18b5	; 2477  21 B5 18	!5.
	jr	X2451		; 247A  18 D5		.U
;
X247c:	pop	hl		; 247C  E1		a
	call	X09a4		; 247D  CD A4 09	M$.
	call	X0acf		; 2480  CD CF 0A	MO.
	call	X09bf		; 2483  CD BF 09	M?.
	pop	hl		; 2486  E1		a
	ld	(X4123),hl	; 2487  22 23 41	"#A
	pop	hl		; 248A  E1		a
	ld	(X4121),hl	; 248B  22 21 41	"!A
	jr	X2477		; 248E  18 E7		.g
;
X2490:	push	hl		; 2490  E5		e
	ex	de,hl		; 2491  EB		k
	call	X0acf		; 2492  CD CF 0A	MO.
	pop	hl		; 2495  E1		a
	call	X09a4		; 2496  CD A4 09	M$.
	call	X0acf		; 2499  CD CF 0A	MO.
	jp	X08a0		; 249C  C3 A0 08	C .
;
X249f:	rst	10h		; 249F  D7		W
	ld	e,28h		; 24A0  1E 28		.(
	jp	z,X19a2		; 24A2  CA A2 19	J".
	jp	c,X0e6c		; 24A5  DA 6C 0E	Zl.
	call	X1e3d		; 24A8  CD 3D 1E	M=.
	jp	nc,X2540	; 24AB  D2 40 25	R@%
	cp	0cdh		; 24AE  FE CD		~M
	jr	z,X249f		; 24B0  28 ED		(m
	cp	2eh		; 24B2  FE 2E		~.
	jp	z,X0e6c		; 24B4  CA 6C 0E	Jl.
	cp	0ceh		; 24B7  FE CE		~N
	jp	z,X2532		; 24B9  CA 32 25	J2%
X24bc:	cp	22h		; 24BC  FE 22		~"
	jp	z,X2866		; 24BE  CA 66 28	Jf(
	cp	0cbh		; 24C1  FE CB		~K
	jp	z,X25c4		; 24C3  CA C4 25	JD%
	cp	26h		; 24C6  FE 26		~&
	jp	z,X4194		; 24C8  CA 94 41	J.A
	cp	0c3h		; 24CB  FE C3		~C
	jr	nz,X24d9	; 24CD  20 0A		 .
	rst	10h		; 24CF  D7		W
	ld	a,(X409a)	; 24D0  3A 9A 40	:.@
	push	hl		; 24D3  E5		e
	call	X27f8		; 24D4  CD F8 27	Mx'
	pop	hl		; 24D7  E1		a
	ret			; 24D8  C9		I
;
X24d9:	cp	0c2h		; 24D9  FE C2		~B
	jr	nz,X24e7	; 24DB  20 0A		 .
	rst	10h		; 24DD  D7		W
	push	hl		; 24DE  E5		e
	ld	hl,(X40ea)	; 24DF  2A EA 40	*j@
	call	X0c66		; 24E2  CD 66 0C	Mf.
	pop	hl		; 24E5  E1		a
	ret			; 24E6  C9		I
;
X24e7:	cp	0c0h		; 24E7  FE C0		~@
	jr	nz,X24ff	; 24E9  20 14		 .
	rst	10h		; 24EB  D7		W
	rst	8		; 24EC  CF		O
	jr	z,X24bc		; 24ED  28 CD		(M
	dec	c		; 24EF  0D		.
	ld	h,0cfh		; 24F0  26 CF		&O
	add	hl,hl		; 24F2  29		)
	push	hl		; 24F3  E5		e
	ex	de,hl		; 24F4  EB		k
	ld	a,h		; 24F5  7C		|
	or	l		; 24F6  B5		5
	jp	z,X1e4a		; 24F7  CA 4A 1E	JJ.
	call	X0a9a		; 24FA  CD 9A 0A	M..
	pop	hl		; 24FD  E1		a
	ret			; 24FE  C9		I
;
X24ff:	cp	0c1h		; 24FF  FE C1		~A
	jp	z,X27fe		; 2501  CA FE 27	J~'
	cp	0c5h		; 2504  FE C5		~E
	jp	z,X419d		; 2506  CA 9D 41	J.A
	cp	0c8h		; 2509  FE C8		~H
	jp	z,X27c9		; 250B  CA C9 27	JI'
	cp	0c7h		; 250E  FE C7		~G
	jp	z,X4176		; 2510  CA 76 41	JvA
	cp	0c6h		; 2513  FE C6		~F
	jp	z,X0132		; 2515  CA 32 01	J2.
	cp	0c9h		; 2518  FE C9		~I
	jp	z,X019d		; 251A  CA 9D 01	J..
	cp	0c4h		; 251D  FE C4		~D
	jp	z,X2a2f		; 251F  CA 2F 2A	J/*
	cp	0beh		; 2522  FE BE		~>
	jp	z,X4155		; 2524  CA 55 41	JUA
	sub	0d7h		; 2527  D6 D7		VW
	jp	nc,X254e	; 2529  D2 4E 25	RN%
X252c:	call	X3224		; 252C  CD 24 32	M$2
X252f:	rst	8		; 252F  CF		O
	add	hl,hl		; 2530  29		)
	ret			; 2531  C9		I
;
X2532:	ld	d,7dh		; 2532  16 7D		.}
	call	X233a		; 2534  CD 3A 23	M:#
	ld	hl,(X40f3)	; 2537  2A F3 40	*s@
	push	hl		; 253A  E5		e
	call	X097b		; 253B  CD 7B 09	M{.
X253e:	pop	hl		; 253E  E1		a
	ret			; 253F  C9		I
;
X2540:	call	X260d		; 2540  CD 0D 26	M.&
X2543:	push	hl		; 2543  E5		e
	ex	de,hl		; 2544  EB		k
	ld	(X4121),hl	; 2545  22 21 41	"!A
	rst	20h		; 2548  E7		g
	call	nz,X09f7	; 2549  C4 F7 09	Dw.
	pop	hl		; 254C  E1		a
	ret			; 254D  C9		I
;
X254e:	ld	b,0		; 254E  06 00		..
	rlca			; 2550  07		.
	ld	c,a		; 2551  4F		O
	push	bc		; 2552  C5		E
	rst	10h		; 2553  D7		W
	ld	a,c		; 2554  79		y
	cp	frdpbuf		; 2555  FE 41		~A
	jr	c,X256f		; 2557  38 16		8.
	call	X2335		; 2559  CD 35 23	M5#
	rst	8		; 255C  CF		O
	inc	l		; 255D  2C		,
	call	X0af4		; 255E  CD F4 0A	Mt.
	ex	de,hl		; 2561  EB		k
	ld	hl,(X4121)	; 2562  2A 21 41	*!A
	ex	(sp),hl		; 2565  E3		c
	push	hl		; 2566  E5		e
	ex	de,hl		; 2567  EB		k
	call	X2b1c		; 2568  CD 1C 2B	M.+
	ex	de,hl		; 256B  EB		k
	ex	(sp),hl		; 256C  E3		c
	jr	X2583		; 256D  18 14		..
;
X256f:	call	X252c		; 256F  CD 2C 25	M,%
	ex	(sp),hl		; 2572  E3		c
	ld	a,l		; 2573  7D		}
	cp	0ch		; 2574  FE 0C		~.
	jr	c,X257f		; 2576  38 07		8.
	cp	esc		; 2578  FE 1B		~.
	push	hl		; 257A  E5		e
	call	c,X0ab1		; 257B  DC B1 0A	\1.
	pop	hl		; 257E  E1		a
X257f:	ld	de,X253e	; 257F  11 3E 25	.>%
	push	de		; 2582  D5		U
X2583:	ld	bc,X1608	; 2583  01 08 16	...
X2586:	add	hl,bc		; 2586  09		.
	ld	c,(hl)		; 2587  4E		N
	inc	hl		; 2588  23		#
	ld	h,(hl)		; 2589  66		f
	ld	l,c		; 258A  69		i
	jp	(hl)		; 258B  E9		i
;
X258c:	call	X29d7		; 258C  CD D7 29	MW)
	ld	a,(hl)		; 258F  7E		~
	inc	hl		; 2590  23		#
	ld	c,(hl)		; 2591  4E		N
	inc	hl		; 2592  23		#
	ld	b,(hl)		; 2593  46		F
	pop	de		; 2594  D1		Q
	push	bc		; 2595  C5		E
	push	af		; 2596  F5		u
	call	X29de		; 2597  CD DE 29	M^)
	pop	de		; 259A  D1		Q
	ld	e,(hl)		; 259B  5E		^
	inc	hl		; 259C  23		#
	ld	c,(hl)		; 259D  4E		N
	inc	hl		; 259E  23		#
	ld	b,(hl)		; 259F  46		F
	pop	hl		; 25A0  E1		a
X25a1:	ld	a,e		; 25A1  7B		{
	or	d		; 25A2  B2		2
	ret	z		; 25A3  C8		H
	ld	a,d		; 25A4  7A		z
	sub	1		; 25A5  D6 01		V.
	ret	c		; 25A7  D8		X
	xor	a		; 25A8  AF		/
	cp	e		; 25A9  BB		;
	inc	a		; 25AA  3C		<
	ret	nc		; 25AB  D0		P
	dec	d		; 25AC  15		.
	dec	e		; 25AD  1D		.
	ld	a,(bc)		; 25AE  0A		.
	cp	(hl)		; 25AF  BE		>
	inc	hl		; 25B0  23		#
	inc	bc		; 25B1  03		.
	jr	z,X25a1		; 25B2  28 ED		(m
	ccf			; 25B4  3F		?
	jp	X0960		; 25B5  C3 60 09	C`.
;
X25b8:	inc	a		; 25B8  3C		<
	adc	a,a		; 25B9  8F		.
	pop	bc		; 25BA  C1		A
	and	b		; 25BB  A0
	add	a,0ffh		; 25BC  C6 FF		F.
	sbc	a,a		; 25BE  9F		.
	call	X098d		; 25BF  CD 8D 09	M..
	jr	X25d6		; 25C2  18 12		..
;
X25c4:	ld	d,5ah		; 25C4  16 5A		.Z
	call	X233a		; 25C6  CD 3A 23	M:#
	call	X0a7f		; 25C9  CD 7F 0A	M..
	ld	a,l		; 25CC  7D		}
	cpl			; 25CD  2F		/
	ld	l,a		; 25CE  6F		o
	ld	a,h		; 25CF  7C		|
	cpl			; 25D0  2F		/
	ld	h,a		; 25D1  67		g
	ld	(X4121),hl	; 25D2  22 21 41	"!A
	pop	bc		; 25D5  C1		A
X25d6:	jp	X2346		; 25D6  C3 46 23	CF#
;
X25d9:	ld	a,(X40af)	; 25D9  3A AF 40	:/@
	cp	8		; 25DC  FE 08		~.
	jr	nc,X25e5	; 25DE  30 05		0.
	sub	3		; 25E0  D6 03		V.
	or	a		; 25E2  B7		7
	scf			; 25E3  37		7
	ret			; 25E4  C9		I
;
X25e5:	sub	3		; 25E5  D6 03		V.
	or	a		; 25E7  B7		7
	ret			; 25E8  C9		I
;
X25e9:	push	bc		; 25E9  C5		E
	call	X0a7f		; 25EA  CD 7F 0A	M..
	pop	af		; 25ED  F1		q
	pop	de		; 25EE  D1		Q
	ld	bc,X27fa	; 25EF  01 FA 27	.z'
	push	bc		; 25F2  C5		E
	cp	ftrkbuf		; 25F3  FE 46		~F
	jr	nz,X25fd	; 25F5  20 06		 .
	ld	a,e		; 25F7  7B		{
	or	l		; 25F8  B5		5
	ld	l,a		; 25F9  6F		o
	ld	a,h		; 25FA  7C		|
	or	d		; 25FB  B2		2
	ret			; 25FC  C9		I
;
X25fd:	ld	a,e		; 25FD  7B		{
	and	l		; 25FE  A5		%
	ld	l,a		; 25FF  6F		o
	ld	a,h		; 2600  7C		|
	and	d		; 2601  A2		"
	ret			; 2602  C9		I
;
X2603:	dec	hl		; 2603  2B		+
	rst	10h		; 2604  D7		W
	ret	z		; 2605  C8		H
	rst	8		; 2606  CF		O
	inc	l		; 2607  2C		,
	ld	bc,X2603	; 2608  01 03 26	..&
	push	bc		; 260B  C5		E
	or	0afh		; 260C  F6 AF		v/
	ld	(X40ae),a	; 260E  32 AE 40	2.@
X2611:	ld	b,(hl)		; 2611  46		F
X2612:	call	X1e3d		; 2612  CD 3D 1E	M=.
	jp	c,SNERR		; 2615  DA 97 19	Z..
	xor	a		; 2618  AF		/
	ld	c,a		; 2619  4F		O
	rst	10h		; 261A  D7		W
	jr	c,X2622		; 261B  38 05		8.
	call	X1e3d		; 261D  CD 3D 1E	M=.
	jr	c,X262b		; 2620  38 09		8.
X2622:	ld	c,a		; 2622  4F		O
X2623:	rst	10h		; 2623  D7		W
	jr	c,X2623		; 2624  38 FD		8}
	call	X1e3d		; 2626  CD 3D 1E	M=.
	jr	nc,X2623	; 2629  30 F8		0x
X262b:	ld	de,X2652	; 262B  11 52 26	.R&
	push	de		; 262E  D5		U
	ld	d,2		; 262F  16 02		..
	cp	25h		; 2631  FE 25		~%
	ret	z		; 2633  C8		H
	inc	d		; 2634  14		.
	cp	24h		; 2635  FE 24		~$
	ret	z		; 2637  C8		H
	inc	d		; 2638  14		.
	cp	21h		; 2639  FE 21		~!
	ret	z		; 263B  C8		H
	ld	d,8		; 263C  16 08		..
	cp	23h		; 263E  FE 23		~#
	ret	z		; 2640  C8		H
	ld	a,b		; 2641  78		x
	sub	frdpbuf		; 2642  D6 41		VA
	and	7fh		; 2644  E6 7F		f.
	ld	e,a		; 2646  5F		_
	ld	d,0		; 2647  16 00		..
	push	hl		; 2649  E5		e
	ld	hl,X4101	; 264A  21 01 41	!.A
	add	hl,de		; 264D  19		.
	ld	d,(hl)		; 264E  56		V
	pop	hl		; 264F  E1		a
	dec	hl		; 2650  2B		+
	ret			; 2651  C9		I
;
X2652:	ld	a,d		; 2652  7A		z
	ld	(X40af),a	; 2653  32 AF 40	2/@
	rst	10h		; 2656  D7		W
	ld	a,(X40dc)	; 2657  3A DC 40	:\@
	or	a		; 265A  B7		7
	jp	nz,X2664	; 265B  C2 64 26	Bd&
	ld	a,(hl)		; 265E  7E		~
	sub	28h		; 265F  D6 28		V(
	jp	z,X26e9		; 2661  CA E9 26	Ji&
X2664:	xor	a		; 2664  AF		/
	ld	(X40dc),a	; 2665  32 DC 40	2\@
	push	hl		; 2668  E5		e
	push	de		; 2669  D5		U
	ld	hl,(X40f9)	; 266A  2A F9 40	*y@
X266d:	ex	de,hl		; 266D  EB		k
	ld	hl,(X40fb)	; 266E  2A FB 40	*{@
	rst	18h		; 2671  DF		_
	pop	hl		; 2672  E1		a
	jr	z,X268e		; 2673  28 19		(.
	ld	a,(de)		; 2675  1A		.
	ld	l,a		; 2676  6F		o
	cp	h		; 2677  BC		<
	inc	de		; 2678  13		.
	jr	nz,X2686	; 2679  20 0B		 .
	ld	a,(de)		; 267B  1A		.
	cp	c		; 267C  B9		9
	jr	nz,X2686	; 267D  20 07		 .
	inc	de		; 267F  13		.
	ld	a,(de)		; 2680  1A		.
	cp	b		; 2681  B8		8
	jp	z,X26cc		; 2682  CA CC 26	JL&
	ld	a,xofc		; 2685  3E 13		>.
	inc	de		; 2687  13		.
	push	hl		; 2688  E5		e
	ld	h,0		; 2689  26 00		&.
	add	hl,de		; 268B  19		.
	jr	X266d		; 268C  18 DF		._
;
X268e:	ld	a,h		; 268E  7C		|
	pop	hl		; 268F  E1		a
	ex	(sp),hl		; 2690  E3		c
	push	af		; 2691  F5		u
	push	de		; 2692  D5		U
	ld	de,X24f1	; 2693  11 F1 24	.q$
	rst	18h		; 2696  DF		_
	jr	z,X26cf		; 2697  28 36		(6
	ld	de,X2543	; 2699  11 43 25	.C%
	rst	18h		; 269C  DF		_
	pop	de		; 269D  D1		Q
	jr	z,X26d5		; 269E  28 35		(5
	pop	af		; 26A0  F1		q
	ex	(sp),hl		; 26A1  E3		c
	push	hl		; 26A2  E5		e
	push	bc		; 26A3  C5		E
	ld	c,a		; 26A4  4F		O
	ld	b,0		; 26A5  06 00		..
	push	bc		; 26A7  C5		E
	inc	bc		; 26A8  03		.
	inc	bc		; 26A9  03		.
	inc	bc		; 26AA  03		.
	ld	hl,(X40fd)	; 26AB  2A FD 40	*}@
	push	hl		; 26AE  E5		e
	add	hl,bc		; 26AF  09		.
	pop	bc		; 26B0  C1		A
	push	hl		; 26B1  E5		e
	call	X1955		; 26B2  CD 55 19	MU.
	pop	hl		; 26B5  E1		a
	ld	(X40fd),hl	; 26B6  22 FD 40	"}@
	ld	h,b		; 26B9  60		`
	ld	l,c		; 26BA  69		i
	ld	(X40fb),hl	; 26BB  22 FB 40	"{@
X26be:	dec	hl		; 26BE  2B		+
	ld	(hl),0		; 26BF  36 00		6.
	rst	18h		; 26C1  DF		_
	jr	nz,X26be	; 26C2  20 FA		 z
	pop	de		; 26C4  D1		Q
	ld	(hl),e		; 26C5  73		s
	inc	hl		; 26C6  23		#
	pop	de		; 26C7  D1		Q
	ld	(hl),e		; 26C8  73		s
	inc	hl		; 26C9  23		#
	ld	(hl),d		; 26CA  72		r
	ex	de,hl		; 26CB  EB		k
X26cc:	inc	de		; 26CC  13		.
	pop	hl		; 26CD  E1		a
	ret			; 26CE  C9		I
;
X26cf:	ld	d,a		; 26CF  57		W
	ld	e,a		; 26D0  5F		_
	pop	af		; 26D1  F1		q
	pop	af		; 26D2  F1		q
	ex	(sp),hl		; 26D3  E3		c
	ret			; 26D4  C9		I
;
X26d5:	ld	(X4124),a	; 26D5  32 24 41	2$A
	pop	bc		; 26D8  C1		A
	ld	h,a		; 26D9  67		g
	ld	l,a		; 26DA  6F		o
	ld	(X4121),hl	; 26DB  22 21 41	"!A
	rst	20h		; 26DE  E7		g
	jr	nz,X26e7	; 26DF  20 06		 .
	ld	hl,X1928	; 26E1  21 28 19	!(.
	ld	(X4121),hl	; 26E4  22 21 41	"!A
X26e7:	pop	hl		; 26E7  E1		a
	ret			; 26E8  C9		I
;
X26e9:	push	hl		; 26E9  E5		e
	ld	hl,(X40ae)	; 26EA  2A AE 40	*.@
	ex	(sp),hl		; 26ED  E3		c
	ld	d,a		; 26EE  57		W
X26ef:	push	de		; 26EF  D5		U
	push	bc		; 26F0  C5		E
	call	X1e45		; 26F1  CD 45 1E	ME.
	pop	bc		; 26F4  C1		A
	pop	af		; 26F5  F1		q
	ex	de,hl		; 26F6  EB		k
	ex	(sp),hl		; 26F7  E3		c
	push	hl		; 26F8  E5		e
	ex	de,hl		; 26F9  EB		k
	inc	a		; 26FA  3C		<
	ld	d,a		; 26FB  57		W
	ld	a,(hl)		; 26FC  7E		~
	cp	2ch		; 26FD  FE 2C		~,
	jr	z,X26ef		; 26FF  28 EE		(n
	rst	8		; 2701  CF		O
	add	hl,hl		; 2702  29		)
	ld	(X40f3),hl	; 2703  22 F3 40	"s@
	pop	hl		; 2706  E1		a
	ld	(X40ae),hl	; 2707  22 AE 40	".@
	push	de		; 270A  D5		U
	ld	hl,(X40fb)	; 270B  2A FB 40	*{@
	ld	a,19h		; 270E  3E 19		>.
X2710:	ex	de,hl		; 2710  EB		k
	ld	hl,(X40fd)	; 2711  2A FD 40	*}@
	ex	de,hl		; 2714  EB		k
	rst	18h		; 2715  DF		_
	ld	a,(X40af)	; 2716  3A AF 40	:/@
	jr	z,X2742		; 2719  28 27		('
	cp	(hl)		; 271B  BE		>
	inc	hl		; 271C  23		#
	jr	nz,X2727	; 271D  20 08		 .
	ld	a,(hl)		; 271F  7E		~
	cp	c		; 2720  B9		9
	inc	hl		; 2721  23		#
	jr	nz,X2728	; 2722  20 04		 .
	ld	a,(hl)		; 2724  7E		~
	cp	b		; 2725  B8		8
	ld	a,23h		; 2726  3E 23		>#
X2728:	inc	hl		; 2728  23		#
	ld	e,(hl)		; 2729  5E		^
	inc	hl		; 272A  23		#
	ld	d,(hl)		; 272B  56		V
	inc	hl		; 272C  23		#
	jr	nz,X270f	; 272D  20 E0		 `
	ld	a,(X40ae)	; 272F  3A AE 40	:.@
	or	a		; 2732  B7		7
	ld	e,12h		; 2733  1E 12		..
	jp	nz,X19a2	; 2735  C2 A2 19	B".
	pop	af		; 2738  F1		q
	sub	(hl)		; 2739  96		.
	jp	z,X2795		; 273A  CA 95 27	J.'
X273d:	ld	e,10h		; 273D  1E 10		..
	jp	X19a2		; 273F  C3 A2 19	C".
;
X2742:	ld	(hl),a		; 2742  77		w
	inc	hl		; 2743  23		#
	ld	e,a		; 2744  5F		_
	ld	d,0		; 2745  16 00		..
	pop	af		; 2747  F1		q
	ld	(hl),c		; 2748  71		q
	inc	hl		; 2749  23		#
	ld	(hl),b		; 274A  70		p
	inc	hl		; 274B  23		#
	ld	c,a		; 274C  4F		O
	call	X1963		; 274D  CD 63 19	Mc.
	inc	hl		; 2750  23		#
	inc	hl		; 2751  23		#
	ld	(X40d8),hl	; 2752  22 D8 40	"X@
	ld	(hl),c		; 2755  71		q
	inc	hl		; 2756  23		#
	ld	a,(X40ae)	; 2757  3A AE 40	:.@
	rla			; 275A  17		.
	ld	a,c		; 275B  79		y
X275c:	ld	bc,X000b	; 275C  01 0B 00	...
	jr	nc,X2763	; 275F  30 02		0.
	pop	bc		; 2761  C1		A
	inc	bc		; 2762  03		.
X2763:	ld	(hl),c		; 2763  71		q
	inc	hl		; 2764  23		#
	ld	(hl),b		; 2765  70		p
	inc	hl		; 2766  23		#
	push	af		; 2767  F5		u
	call	X0baa		; 2768  CD AA 0B	M*.
	pop	af		; 276B  F1		q
	dec	a		; 276C  3D		=
	jr	nz,X275c	; 276D  20 ED		 m
	push	af		; 276F  F5		u
	ld	b,d		; 2770  42		B
	ld	c,e		; 2771  4B		K
	ex	de,hl		; 2772  EB		k
	add	hl,de		; 2773  19		.
	jr	c,X273d		; 2774  38 C7		8G
	call	X196c		; 2776  CD 6C 19	Ml.
	ld	(X40fd),hl	; 2779  22 FD 40	"}@
X277c:	dec	hl		; 277C  2B		+
	ld	(hl),0		; 277D  36 00		6.
	rst	18h		; 277F  DF		_
	jr	nz,X277c	; 2780  20 FA		 z
	inc	bc		; 2782  03		.
	ld	d,a		; 2783  57		W
	ld	hl,(X40d8)	; 2784  2A D8 40	*X@
	ld	e,(hl)		; 2787  5E		^
	ex	de,hl		; 2788  EB		k
	add	hl,hl		; 2789  29		)
	add	hl,bc		; 278A  09		.
	ex	de,hl		; 278B  EB		k
	dec	hl		; 278C  2B		+
	dec	hl		; 278D  2B		+
	ld	(hl),e		; 278E  73		s
	inc	hl		; 278F  23		#
	ld	(hl),d		; 2790  72		r
	inc	hl		; 2791  23		#
	pop	af		; 2792  F1		q
	jr	c,X27c5		; 2793  38 30		80
X2795:	ld	b,a		; 2795  47		G
	ld	c,a		; 2796  4F		O
	ld	a,(hl)		; 2797  7E		~
	inc	hl		; 2798  23		#
	ld	d,0e1h		; 2799  16 E1		.a
	ld	e,(hl)		; 279B  5E		^
	inc	hl		; 279C  23		#
	ld	d,(hl)		; 279D  56		V
	inc	hl		; 279E  23		#
	ex	(sp),hl		; 279F  E3		c
	push	af		; 27A0  F5		u
	rst	18h		; 27A1  DF		_
	jp	nc,X273d	; 27A2  D2 3D 27	R='
	call	X0baa		; 27A5  CD AA 0B	M*.
	add	hl,de		; 27A8  19		.
	pop	af		; 27A9  F1		q
	dec	a		; 27AA  3D		=
	ld	b,h		; 27AB  44		D
	ld	c,l		; 27AC  4D		M
	jr	nz,X279a	; 27AD  20 EB		 k
	ld	a,(X40af)	; 27AF  3A AF 40	:/@
	ld	b,h		; 27B2  44		D
	ld	c,l		; 27B3  4D		M
	add	hl,hl		; 27B4  29		)
	sub	4		; 27B5  D6 04		V.
	jr	c,X27bd		; 27B7  38 04		8.
	add	hl,hl		; 27B9  29		)
	jr	z,X27c2		; 27BA  28 06		(.
	add	hl,hl		; 27BC  29		)
X27bd:	or	a		; 27BD  B7		7
	jp	po,X27c2	; 27BE  E2 C2 27	bB'
	add	hl,bc		; 27C1  09		.
X27c2:	pop	bc		; 27C2  C1		A
	add	hl,bc		; 27C3  09		.
	ex	de,hl		; 27C4  EB		k
X27c5:	ld	hl,(X40f3)	; 27C5  2A F3 40	*s@
	ret			; 27C8  C9		I
;
X27c9:	xor	a		; 27C9  AF		/
	push	hl		; 27CA  E5		e
	ld	(X40af),a	; 27CB  32 AF 40	2/@
	call	X27d4		; 27CE  CD D4 27	MT'
	pop	hl		; 27D1  E1		a
	rst	10h		; 27D2  D7		W
	ret			; 27D3  C9		I
;
X27d4:	ld	hl,(X40fd)	; 27D4  2A FD 40	*}@
	ex	de,hl		; 27D7  EB		k
	ld	hl,X0000	; 27D8  21 00 00	!..
	add	hl,sp		; 27DB  39		9
	rst	20h		; 27DC  E7		g
	jr	nz,X27ec	; 27DD  20 0D		 .
	call	X29da		; 27DF  CD DA 29	MZ)
	call	X28e6		; 27E2  CD E6 28	Mf(
	ld	hl,(X40a0)	; 27E5  2A A0 40	* @
	ex	de,hl		; 27E8  EB		k
	ld	hl,(X40d6)	; 27E9  2A D6 40	*V@
X27ec:	ld	a,l		; 27EC  7D		}
	sub	e		; 27ED  93		.
	ld	l,a		; 27EE  6F		o
	ld	a,h		; 27EF  7C		|
	sbc	a,d		; 27F0  9A		.
	ld	h,a		; 27F1  67		g
	jp	X0c66		; 27F2  C3 66 0C	Cf.
;
	ld	a,(X40a6)	; 27F5  3A A6 40	:&@
X27f8:	ld	l,a		; 27F8  6F		o
	xor	a		; 27F9  AF		/
X27fa:	ld	h,a		; 27FA  67		g
	jp	X0a9a		; 27FB  C3 9A 0A	C..
;
X27fe:	call	X41a9		; 27FE  CD A9 41	M)A
	rst	10h		; 2801  D7		W
	call	X252c		; 2802  CD 2C 25	M,%
	push	hl		; 2805  E5		e
	ld	hl,X0890	; 2806  21 90 08	!..
	push	hl		; 2809  E5		e
	ld	a,(X40af)	; 280A  3A AF 40	:/@
	push	af		; 280D  F5		u
	cp	3		; 280E  FE 03		~.
	call	z,X29da		; 2810  CC DA 29	LZ)
	pop	af		; 2813  F1		q
	ex	de,hl		; 2814  EB		k
	ld	hl,(X408e)	; 2815  2A 8E 40	*.@
	jp	(hl)		; 2818  E9		i
;
X2819:	push	hl		; 2819  E5		e
X281a:	and	7		; 281A  E6 07		f.
	ld	hl,X18a1	; 281C  21 A1 18	!!.
	ld	c,a		; 281F  4F		O
	ld	b,0		; 2820  06 00		..
	add	hl,bc		; 2822  09		.
	call	X2586		; 2823  CD 86 25	M.%
	pop	hl		; 2826  E1		a
	ret			; 2827  C9		I
;
X2828:	push	hl		; 2828  E5		e
	ld	hl,(LINEAT)	; 2829  2A A2 40	*"@
	inc	hl		; 282C  23		#
	ld	a,h		; 282D  7C		|
	or	l		; 282E  B5		5
	pop	hl		; 282F  E1		a
	ret	nz		; 2830  C0		@
	ld	e,fdcseekc	; 2831  1E 16		..
	jp	X19a2		; 2833  C3 A2 19	C".
;
	call	X0fbd		; 2836  CD BD 0F	M=.
	call	X2865		; 2839  CD 65 28	Me(
	call	X29da		; 283C  CD DA 29	MZ)
	ld	bc,X2a2b	; 283F  01 2B 2A	.+*
	push	bc		; 2842  C5		E
X2843:	ld	a,(hl)		; 2843  7E		~
	inc	hl		; 2844  23		#
	push	hl		; 2845  E5		e
	call	X28bf		; 2846  CD BF 28	M?(
	pop	hl		; 2849  E1		a
	ld	c,(hl)		; 284A  4E		N
	inc	hl		; 284B  23		#
	ld	b,(hl)		; 284C  46		F
	call	X285a		; 284D  CD 5A 28	MZ(
	push	hl		; 2850  E5		e
	ld	l,a		; 2851  6F		o
	call	X29ce		; 2852  CD CE 29	MN)
	pop	de		; 2855  D1		Q
	ret			; 2856  C9		I
;
X2857:	call	X28bf		; 2857  CD BF 28	M?(
X285a:	ld	hl,X40d3	; 285A  21 D3 40	!S@
	push	hl		; 285D  E5		e
	ld	(hl),a		; 285E  77		w
	inc	hl		; 285F  23		#
	ld	(hl),e		; 2860  73		s
	inc	hl		; 2861  23		#
	ld	(hl),d		; 2862  72		r
	pop	hl		; 2863  E1		a
	ret			; 2864  C9		I
;
X2865:	dec	hl		; 2865  2B		+
X2866:	ld	b,22h		; 2866  06 22		."
X2868:	ld	d,b		; 2868  50		P
X2869:	push	hl		; 2869  E5		e
	ld	c,0ffh		; 286A  0E FF		..
X286c:	inc	hl		; 286C  23		#
	ld	a,(hl)		; 286D  7E		~
	inc	c		; 286E  0C		.
	or	a		; 286F  B7		7
	jr	z,X2878		; 2870  28 06		(.
	cp	d		; 2872  BA		:
	jr	z,X2878		; 2873  28 03		(.
	cp	b		; 2875  B8		8
	jr	nz,X286c	; 2876  20 F4		 t
X2878:	cp	22h		; 2878  FE 22		~"
	call	z,GETCHR		; 287A  CC 78 1D	Lx.
	ex	(sp),hl		; 287D  E3		c
	inc	hl		; 287E  23		#
	ex	de,hl		; 287F  EB		k
	ld	a,c		; 2880  79		y
	call	X285a		; 2881  CD 5A 28	MZ(
X2884:	ld	de,X40d3	; 2884  11 D3 40	.S@
	ld	a,0d5h		; 2887  3E D5		>U
	ld	hl,(X40b3)	; 2889  2A B3 40	*3@
	ld	(X4121),hl	; 288C  22 21 41	"!A
	ld	a,3		; 288F  3E 03		>.
	ld	(X40af),a	; 2891  32 AF 40	2/@
	call	X09d3		; 2894  CD D3 09	MS.
	ld	de,X40d6	; 2897  11 D6 40	.V@
	rst	18h		; 289A  DF		_
	ld	(X40b3),hl	; 289B  22 B3 40	"3@
	pop	hl		; 289E  E1		a
	ld	a,(hl)		; 289F  7E		~
	ret	nz		; 28A0  C0		@
	ld	e,1eh		; 28A1  1E 1E		..
	jp	X19a2		; 28A3  C3 A2 19	C".
;
X28a6:	inc	hl		; 28A6  23		#
X28a7:	call	X2865		; 28A7  CD 65 28	Me(
X28aa:	call	X29da		; 28AA  CD DA 29	MZ)
	call	X09c4		; 28AD  CD C4 09	MD.
	inc	d		; 28B0  14		.
X28b1:	dec	d		; 28B1  15		.
	ret	z		; 28B2  C8		H
	ld	a,(bc)		; 28B3  0A		.
	call	X032a		; 28B4  CD 2A 03	M*.
	cp	0dh		; 28B7  FE 0D		~.
	call	z,X2103		; 28B9  CC 03 21	L.!
	inc	bc		; 28BC  03		.
	jr	X28b1		; 28BD  18 F2		.r
;
X28bf:	or	a		; 28BF  B7		7
	ld	c,0f1h		; 28C0  0E F1		.q
	push	af		; 28C2  F5		u
	ld	hl,(X40a0)	; 28C3  2A A0 40	* @
	ex	de,hl		; 28C6  EB		k
	ld	hl,(X40d6)	; 28C7  2A D6 40	*V@
	cpl			; 28CA  2F		/
	ld	c,a		; 28CB  4F		O
	ld	b,0ffh		; 28CC  06 FF		..
	add	hl,bc		; 28CE  09		.
	inc	hl		; 28CF  23		#
	rst	18h		; 28D0  DF		_
	jr	c,X28da		; 28D1  38 07		8.
	ld	(X40d6),hl	; 28D3  22 D6 40	"V@
	inc	hl		; 28D6  23		#
	ex	de,hl		; 28D7  EB		k
X28d8:	pop	af		; 28D8  F1		q
	ret			; 28D9  C9		I
;
X28da:	pop	af		; 28DA  F1		q
	ld	e,1ah		; 28DB  1E 1A		..
	jp	z,X19a2		; 28DD  CA A2 19	J".
	cp	a		; 28E0  BF		?
	push	af		; 28E1  F5		u
	ld	bc,X28c1	; 28E2  01 C1 28	.A(
	push	bc		; 28E5  C5		E
X28e6:	ld	hl,(X40b1)	; 28E6  2A B1 40	*1@
X28e9:	ld	(X40d6),hl	; 28E9  22 D6 40	"V@
	ld	hl,X0000	; 28EC  21 00 00	!..
	push	hl		; 28EF  E5		e
	ld	hl,(X40a0)	; 28F0  2A A0 40	* @
	push	hl		; 28F3  E5		e
	ld	hl,X40b5	; 28F4  21 B5 40	!5@
X28f7:	ex	de,hl		; 28F7  EB		k
	ld	hl,(X40b3)	; 28F8  2A B3 40	*3@
	ex	de,hl		; 28FB  EB		k
	rst	18h		; 28FC  DF		_
	ld	bc,X28f7	; 28FD  01 F7 28	.w(
	jp	nz,X294a	; 2900  C2 4A 29	BJ)
	ld	hl,(X40f9)	; 2903  2A F9 40	*y@
X2906:	ex	de,hl		; 2906  EB		k
	ld	hl,(X40fb)	; 2907  2A FB 40	*{@
	ex	de,hl		; 290A  EB		k
	rst	18h		; 290B  DF		_
	jr	z,X2921		; 290C  28 13		(.
	ld	a,(hl)		; 290E  7E		~
	inc	hl		; 290F  23		#
	inc	hl		; 2910  23		#
	inc	hl		; 2911  23		#
	cp	3		; 2912  FE 03		~.
	jr	nz,X291a	; 2914  20 04		 .
	call	X294b		; 2916  CD 4B 29	MK)
	xor	a		; 2919  AF		/
X291a:	ld	e,a		; 291A  5F		_
	ld	d,0		; 291B  16 00		..
	add	hl,de		; 291D  19		.
	jr	X2906		; 291E  18 E6		.f
;
X2920:	pop	bc		; 2920  C1		A
X2921:	ex	de,hl		; 2921  EB		k
	ld	hl,(X40fd)	; 2922  2A FD 40	*}@
	ex	de,hl		; 2925  EB		k
	rst	18h		; 2926  DF		_
	jp	z,X296b		; 2927  CA 6B 29	Jk)
	ld	a,(hl)		; 292A  7E		~
	inc	hl		; 292B  23		#
	call	X09c2		; 292C  CD C2 09	MB.
	push	hl		; 292F  E5		e
	add	hl,bc		; 2930  09		.
	cp	3		; 2931  FE 03		~.
	jr	nz,X2920	; 2933  20 EB		 k
	ld	(X40d8),hl	; 2935  22 D8 40	"X@
	pop	hl		; 2938  E1		a
	ld	c,(hl)		; 2939  4E		N
	ld	b,0		; 293A  06 00		..
	add	hl,bc		; 293C  09		.
	add	hl,bc		; 293D  09		.
	inc	hl		; 293E  23		#
X293f:	ex	de,hl		; 293F  EB		k
	ld	hl,(X40d8)	; 2940  2A D8 40	*X@
	ex	de,hl		; 2943  EB		k
	rst	18h		; 2944  DF		_
	jr	z,X2921		; 2945  28 DA		(Z
	ld	bc,X293f	; 2947  01 3F 29	.?)
X294a:	push	bc		; 294A  C5		E
X294b:	xor	a		; 294B  AF		/
	or	(hl)		; 294C  B6		6
	inc	hl		; 294D  23		#
	ld	e,(hl)		; 294E  5E		^
	inc	hl		; 294F  23		#
	ld	d,(hl)		; 2950  56		V
	inc	hl		; 2951  23		#
	ret	z		; 2952  C8		H
	ld	b,h		; 2953  44		D
	ld	c,l		; 2954  4D		M
	ld	hl,(X40d6)	; 2955  2A D6 40	*V@
	rst	18h		; 2958  DF		_
	ld	h,b		; 2959  60		`
	ld	l,c		; 295A  69		i
	ret	c		; 295B  D8		X
	pop	hl		; 295C  E1		a
	ex	(sp),hl		; 295D  E3		c
	rst	18h		; 295E  DF		_
	ex	(sp),hl		; 295F  E3		c
	push	hl		; 2960  E5		e
	ld	h,b		; 2961  60		`
	ld	l,c		; 2962  69		i
	ret	nc		; 2963  D0		P
	pop	bc		; 2964  C1		A
	pop	af		; 2965  F1		q
	pop	af		; 2966  F1		q
	push	hl		; 2967  E5		e
	push	de		; 2968  D5		U
	push	bc		; 2969  C5		E
	ret			; 296A  C9		I
;
X296b:	pop	de		; 296B  D1		Q
	pop	hl		; 296C  E1		a
	ld	a,l		; 296D  7D		}
	or	h		; 296E  B4		4
	ret	z		; 296F  C8		H
	dec	hl		; 2970  2B		+
	ld	b,(hl)		; 2971  46		F
	dec	hl		; 2972  2B		+
	ld	c,(hl)		; 2973  4E		N
	push	hl		; 2974  E5		e
	dec	hl		; 2975  2B		+
	ld	l,(hl)		; 2976  6E		n
	ld	h,0		; 2977  26 00		&.
	add	hl,bc		; 2979  09		.
	ld	d,b		; 297A  50		P
	ld	e,c		; 297B  59		Y
	dec	hl		; 297C  2B		+
	ld	b,h		; 297D  44		D
	ld	c,l		; 297E  4D		M
	ld	hl,(X40d6)	; 297F  2A D6 40	*V@
	call	X1958		; 2982  CD 58 19	MX.
	pop	hl		; 2985  E1		a
	ld	(hl),c		; 2986  71		q
	inc	hl		; 2987  23		#
	ld	(hl),b		; 2988  70		p
	ld	l,c		; 2989  69		i
	ld	h,b		; 298A  60		`
	dec	hl		; 298B  2B		+
	jp	X28e9		; 298C  C3 E9 28	Ci(
;
X298f:	push	bc		; 298F  C5		E
	push	hl		; 2990  E5		e
	ld	hl,(X4121)	; 2991  2A 21 41	*!A
	ex	(sp),hl		; 2994  E3		c
	call	X249f		; 2995  CD 9F 24	M.$
	ex	(sp),hl		; 2998  E3		c
	call	X0af4		; 2999  CD F4 0A	Mt.
	ld	a,(hl)		; 299C  7E		~
	push	hl		; 299D  E5		e
	ld	hl,(X4121)	; 299E  2A 21 41	*!A
	push	hl		; 29A1  E5		e
	add	a,(hl)		; 29A2  86		.
	ld	e,1ch		; 29A3  1E 1C		..
	jp	c,X19a2		; 29A5  DA A2 19	Z".
	call	X2857		; 29A8  CD 57 28	MW(
	pop	de		; 29AB  D1		Q
	call	X29de		; 29AC  CD DE 29	M^)
	ex	(sp),hl		; 29AF  E3		c
	call	X29dd		; 29B0  CD DD 29	M])
	push	hl		; 29B3  E5		e
	ld	hl,(X40d4)	; 29B4  2A D4 40	*T@
	ex	de,hl		; 29B7  EB		k
	call	X29c6		; 29B8  CD C6 29	MF)
	call	X29c6		; 29BB  CD C6 29	MF)
	ld	hl,X2349	; 29BE  21 49 23	!I#
	ex	(sp),hl		; 29C1  E3		c
	push	hl		; 29C2  E5		e
	jp	X2884		; 29C3  C3 84 28	C.(
;
X29c6:	pop	hl		; 29C6  E1		a
	ex	(sp),hl		; 29C7  E3		c
	ld	a,(hl)		; 29C8  7E		~
	inc	hl		; 29C9  23		#
	ld	c,(hl)		; 29CA  4E		N
	inc	hl		; 29CB  23		#
	ld	b,(hl)		; 29CC  46		F
	ld	l,a		; 29CD  6F		o
X29ce:	inc	l		; 29CE  2C		,
X29cf:	dec	l		; 29CF  2D		-
	ret	z		; 29D0  C8		H
	ld	a,(bc)		; 29D1  0A		.
	ld	(de),a		; 29D2  12		.
	inc	bc		; 29D3  03		.
	inc	de		; 29D4  13		.
	jr	X29cf		; 29D5  18 F8		.x
;
X29d7:	call	X0af4		; 29D7  CD F4 0A	Mt.
X29da:	ld	hl,(X4121)	; 29DA  2A 21 41	*!A
X29dd:	ex	de,hl		; 29DD  EB		k
X29de:	call	X29f5		; 29DE  CD F5 29	Mu)
	ex	de,hl		; 29E1  EB		k
	ret	nz		; 29E2  C0		@
	push	de		; 29E3  D5		U
	ld	d,b		; 29E4  50		P
	ld	e,c		; 29E5  59		Y
	dec	de		; 29E6  1B		.
	ld	c,(hl)		; 29E7  4E		N
	ld	hl,(X40d6)	; 29E8  2A D6 40	*V@
	rst	18h		; 29EB  DF		_
	jr	nz,X29f3	; 29EC  20 05		 .
	ld	b,a		; 29EE  47		G
	add	hl,bc		; 29EF  09		.
	ld	(X40d6),hl	; 29F0  22 D6 40	"V@
X29f3:	pop	hl		; 29F3  E1		a
	ret			; 29F4  C9		I
;
X29f5:	ld	hl,(X40b3)	; 29F5  2A B3 40	*3@
	dec	hl		; 29F8  2B		+
	ld	b,(hl)		; 29F9  46		F
	dec	hl		; 29FA  2B		+
	ld	c,(hl)		; 29FB  4E		N
	dec	hl		; 29FC  2B		+
	rst	18h		; 29FD  DF		_
	ret	nz		; 29FE  C0		@
	ld	(X40b3),hl	; 29FF  22 B3 40	"3@
	ret			; 2A02  C9		I
;
	ld	bc,X27f8	; 2A03  01 F8 27	.x'
	push	bc		; 2A06  C5		E
X2a07:	call	X29d7		; 2A07  CD D7 29	MW)
	xor	a		; 2A0A  AF		/
	ld	d,a		; 2A0B  57		W
	ld	a,(hl)		; 2A0C  7E		~
	or	a		; 2A0D  B7		7
	ret			; 2A0E  C9		I
;
X2a0f:	ld	bc,X27f8	; 2A0F  01 F8 27	.x'
	push	bc		; 2A12  C5		E
X2a13:	call	X2a07		; 2A13  CD 07 2A	M.*
	jp	z,X1e4a		; 2A16  CA 4A 1E	JJ.
	inc	hl		; 2A19  23		#
	ld	e,(hl)		; 2A1A  5E		^
	inc	hl		; 2A1B  23		#
	ld	d,(hl)		; 2A1C  56		V
	ld	a,(de)		; 2A1D  1A		.
	ret			; 2A1E  C9		I
;
	ld	a,1		; 2A1F  3E 01		>.
	call	X2857		; 2A21  CD 57 28	MW(
	call	X2b1f		; 2A24  CD 1F 2B	M.+
	ld	hl,(X40d4)	; 2A27  2A D4 40	*T@
	ld	(hl),e		; 2A2A  73		s
X2a2b:	pop	bc		; 2A2B  C1		A
	jp	X2884		; 2A2C  C3 84 28	C.(
;
X2a2f:	rst	10h		; 2A2F  D7		W
	rst	8		; 2A30  CF		O
	jr	z,X2a00		; 2A31  28 CD		(M
	inc	e		; 2A33  1C		.
	dec	hl		; 2A34  2B		+
	push	de		; 2A35  D5		U
	rst	8		; 2A36  CF		O
	inc	l		; 2A37  2C		,
	call	X2337		; 2A38  CD 37 23	M7#
	rst	8		; 2A3B  CF		O
	add	hl,hl		; 2A3C  29		)
	ex	(sp),hl		; 2A3D  E3		c
	push	hl		; 2A3E  E5		e
	rst	20h		; 2A3F  E7		g
	jr	z,X2a47		; 2A40  28 05		(.
	call	X2b1f		; 2A42  CD 1F 2B	M.+
	jr	X2a4a		; 2A45  18 03		..
;
X2a47:	call	X2a13		; 2A47  CD 13 2A	M.*
X2a4a:	pop	de		; 2A4A  D1		Q
	push	af		; 2A4B  F5		u
	push	af		; 2A4C  F5		u
	ld	a,e		; 2A4D  7B		{
	call	X2857		; 2A4E  CD 57 28	MW(
	ld	e,a		; 2A51  5F		_
	pop	af		; 2A52  F1		q
	inc	e		; 2A53  1C		.
	dec	e		; 2A54  1D		.
	jr	z,X2a2b		; 2A55  28 D4		(T
	ld	hl,(X40d4)	; 2A57  2A D4 40	*T@
X2a5a:	ld	(hl),a		; 2A5A  77		w
	inc	hl		; 2A5B  23		#
	dec	e		; 2A5C  1D		.
	jr	nz,X2a5a	; 2A5D  20 FB		 {
	jr	X2a2b		; 2A5F  18 CA		.J
;
	call	X2adf		; 2A61  CD DF 2A	M_*
	xor	a		; 2A64  AF		/
X2a65:	ex	(sp),hl		; 2A65  E3		c
	ld	c,a		; 2A66  4F		O
	ld	a,0e5h		; 2A67  3E E5		>e
X2a69:	push	hl		; 2A69  E5		e
	ld	a,(hl)		; 2A6A  7E		~
	cp	b		; 2A6B  B8		8
	jr	c,X2a00		; 2A6C  38 92		8.
	ld	a,b		; 2A6E  78		x
	ld	de,X000e	; 2A6F  11 0E 00	...
	push	bc		; 2A72  C5		E
	call	X28bf		; 2A73  CD BF 28	M?(
	pop	bc		; 2A76  C1		A
	pop	hl		; 2A77  E1		a
	push	hl		; 2A78  E5		e
	inc	hl		; 2A79  23		#
	ld	b,(hl)		; 2A7A  46		F
	inc	hl		; 2A7B  23		#
	ld	h,(hl)		; 2A7C  66		f
	ld	l,b		; 2A7D  68		h
	ld	b,0		; 2A7E  06 00		..
	add	hl,bc		; 2A80  09		.
	ld	b,h		; 2A81  44		D
	ld	c,l		; 2A82  4D		M
	call	X285a		; 2A83  CD 5A 28	MZ(
	ld	l,a		; 2A86  6F		o
	call	X29ce		; 2A87  CD CE 29	MN)
	pop	de		; 2A8A  D1		Q
	call	X29de		; 2A8B  CD DE 29	M^)
	jp	X2884		; 2A8E  C3 84 28	C.(
;
	call	X2adf		; 2A91  CD DF 2A	M_*
	pop	de		; 2A94  D1		Q
	push	de		; 2A95  D5		U
	ld	a,(de)		; 2A96  1A		.
	sub	b		; 2A97  90		.
	jr	X2a65		; 2A98  18 CB		.K
;
	ex	de,hl		; 2A9A  EB		k
	ld	a,(hl)		; 2A9B  7E		~
	call	X2ae2		; 2A9C  CD E2 2A	Mb*
	inc	b		; 2A9F  04		.
	dec	b		; 2AA0  05		.
	jp	z,X1e4a		; 2AA1  CA 4A 1E	JJ.
	push	bc		; 2AA4  C5		E
	ld	e,0ffh		; 2AA5  1E FF		..
	cp	29h		; 2AA7  FE 29		~)
	jr	z,X2ab0		; 2AA9  28 05		(.
	rst	8		; 2AAB  CF		O
	inc	l		; 2AAC  2C		,
	call	X2b1c		; 2AAD  CD 1C 2B	M.+
X2ab0:	rst	8		; 2AB0  CF		O
	add	hl,hl		; 2AB1  29		)
	pop	af		; 2AB2  F1		q
	ex	(sp),hl		; 2AB3  E3		c
	ld	bc,X2a69	; 2AB4  01 69 2A	.i*
	push	bc		; 2AB7  C5		E
	dec	a		; 2AB8  3D		=
	cp	(hl)		; 2AB9  BE		>
	ld	b,0		; 2ABA  06 00		..
	ret	nc		; 2ABC  D0		P
	ld	c,a		; 2ABD  4F		O
	ld	a,(hl)		; 2ABE  7E		~
	sub	c		; 2ABF  91		.
	cp	e		; 2AC0  BB		;
	ld	b,a		; 2AC1  47		G
	ret	c		; 2AC2  D8		X
	ld	b,e		; 2AC3  43		C
	ret			; 2AC4  C9		I
;
	call	X2a07		; 2AC5  CD 07 2A	M.*
	jp	z,X27f8		; 2AC8  CA F8 27	Jx'
	ld	e,a		; 2ACB  5F		_
	inc	hl		; 2ACC  23		#
	ld	a,(hl)		; 2ACD  7E		~
	inc	hl		; 2ACE  23		#
	ld	h,(hl)		; 2ACF  66		f
	ld	l,a		; 2AD0  6F		o
	push	hl		; 2AD1  E5		e
	add	hl,de		; 2AD2  19		.
	ld	b,(hl)		; 2AD3  46		F
	ld	(hl),d		; 2AD4  72		r
	ex	(sp),hl		; 2AD5  E3		c
	push	bc		; 2AD6  C5		E
	ld	a,(hl)		; 2AD7  7E		~
	call	X0e65		; 2AD8  CD 65 0E	Me.
	pop	bc		; 2ADB  C1		A
	pop	hl		; 2ADC  E1		a
	ld	(hl),b		; 2ADD  70		p
	ret			; 2ADE  C9		I
;
X2adf:	ex	de,hl		; 2ADF  EB		k
	rst	8		; 2AE0  CF		O
	add	hl,hl		; 2AE1  29		)
X2ae2:	pop	bc		; 2AE2  C1		A
	pop	de		; 2AE3  D1		Q
	push	bc		; 2AE4  C5		E
	ld	b,e		; 2AE5  43		C
	ret			; 2AE6  C9		I
;
TOKRNG:	cp	7ah		; 2AE7  FE 7A		~z
	jp	nz,SNERR	; 2AE9  C2 97 19	B..
	jp	X41d9		; 2AEC  C3 D9 41	CYA
;
	call	X2b1f		; 2AEF  CD 1F 2B	M.+
	ld	(X4094),a	; 2AF2  32 94 40	2.@
	call	X4093		; 2AF5  CD 93 40	M.@
	jp	X27f8		; 2AF8  C3 F8 27	Cx'
;
	call	X2b0e		; 2AFB  CD 0E 2B	M.+
	jp	X4096		; 2AFE  C3 96 40	C.@
;
X2b01:	rst	10h		; 2B01  D7		W
X2b02:	call	X2337		; 2B02  CD 37 23	M7#
X2b05:	push	hl		; 2B05  E5		e
	call	X0a7f		; 2B06  CD 7F 0A	M..
	ex	de,hl		; 2B09  EB		k
	pop	hl		; 2B0A  E1		a
	ld	a,d		; 2B0B  7A		z
	or	a		; 2B0C  B7		7
	ret			; 2B0D  C9		I
;
X2b0e:	call	X2b1c		; 2B0E  CD 1C 2B	M.+
	ld	(X4094),a	; 2B11  32 94 40	2.@
	ld	(X4097),a	; 2B14  32 97 40	2.@
X2b17:	rst	8		; 2B17  CF		O
	inc	l		; 2B18  2C		,
	jr	X2b1c		; 2B19  18 01		..
;
X2b1b:	rst	10h		; 2B1B  D7		W
X2b1c:	call	X2337		; 2B1C  CD 37 23	M7#
X2b1f:	call	X2b05		; 2B1F  CD 05 2B	M.+
	jp	nz,X1e4a	; 2B22  C2 4A 1E	BJ.
	dec	hl		; 2B25  2B		+
	rst	10h		; 2B26  D7		W
	ld	a,e		; 2B27  7B		{
	ret			; 2B28  C9		I
;
	ld	a,1		; 2B29  3E 01		>.
	ld	(X409c),a	; 2B2B  32 9C 40	2.@
X2b2e:	pop	bc		; 2B2E  C1		A
	call	X1b10		; 2B2F  CD 10 1B	M..
	push	bc		; 2B32  C5		E
X2b33:	ld	hl,Xffff	; 2B33  21 FF FF	!..
	ld	(LINEAT),hl	; 2B36  22 A2 40	""@
	pop	hl		; 2B39  E1		a
	pop	de		; 2B3A  D1		Q
	ld	c,(hl)		; 2B3B  4E		N
	inc	hl		; 2B3C  23		#
	ld	b,(hl)		; 2B3D  46		F
	inc	hl		; 2B3E  23		#
	ld	a,b		; 2B3F  78		x
	or	c		; 2B40  B1		1
	jp	z,X1a19		; 2B41  CA 19 1A	J..
	call	X41df		; 2B44  CD DF 41	M_A
	call	X1d9b		; 2B47  CD 9B 1D	M..
X2b4a:	push	bc		; 2B4A  C5		E
	ld	c,(hl)		; 2B4B  4E		N
	inc	hl		; 2B4C  23		#
	ld	b,(hl)		; 2B4D  46		F
	inc	hl		; 2B4E  23		#
	push	bc		; 2B4F  C5		E
	ex	(sp),hl		; 2B50  E3		c
	ex	de,hl		; 2B51  EB		k
	rst	18h		; 2B52  DF		_
	pop	bc		; 2B53  C1		A
	jp	c,X1a18		; 2B54  DA 18 1A	Z..
	ex	(sp),hl		; 2B57  E3		c
	push	hl		; 2B58  E5		e
	push	bc		; 2B59  C5		E
	ex	de,hl		; 2B5A  EB		k
	ld	(X40ec),hl	; 2B5B  22 EC 40	"l@
	call	X30e5		; 2B5E  CD E5 30	Me0
	ld	a,20h		; 2B61  3E 20		>
	pop	hl		; 2B63  E1		a
	call	X032a		; 2B64  CD 2A 03	M*.
	call	X2b7e		; 2B67  CD 7E 2B	M~+
	ld	hl,(X40a7)	; 2B6A  2A A7 40	*'@
	call	X2b75		; 2B6D  CD 75 2B	Mu+
	call	X20fe		; 2B70  CD FE 20	M~
	jr	X2b33		; 2B73  18 BE		.>
;
X2b75:	call	X0050		; 2B75  CD 50 00	MP.
	call	X032a		; 2B78  CD 2A 03	M*.
	inc	hl		; 2B7B  23		#
	jr	X2b75		; 2B7C  18 F7		.w
;
X2b7e:	push	hl		; 2B7E  E5		e
	ld	hl,(X40a7)	; 2B7F  2A A7 40	*'@
	ld	b,h		; 2B82  44		D
	ld	c,l		; 2B83  4D		M
	pop	hl		; 2B84  E1		a
	ld	d,0ffh		; 2B85  16 FF		..
	jr	X2b8c		; 2B87  18 03		..
;
X2b89:	inc	bc		; 2B89  03		.
	dec	d		; 2B8A  15		.
	ret	z		; 2B8B  C8		H
X2b8c:	ld	a,(hl)		; 2B8C  7E		~
	or	a		; 2B8D  B7		7
	inc	hl		; 2B8E  23		#
	ld	(bc),a		; 2B8F  02		.
	ret	z		; 2B90  C8		H
	jp	p,X3215		; 2B91  F2 15 32	r.2
	cp	0fbh		; 2B94  FE FB		~{
	jr	nz,X2ba0	; 2B96  20 08		 .
	dec	bc		; 2B98  0B		.
	dec	bc		; 2B99  0B		.
	dec	bc		; 2B9A  0B		.
	dec	bc		; 2B9B  0B		.
	inc	d		; 2B9C  14		.
	inc	d		; 2B9D  14		.
	inc	d		; 2B9E  14		.
	inc	d		; 2B9F  14		.
X2ba0:	cp	95h		; 2BA0  FE 95		~.
	call	z,X0b24		; 2BA2  CC 24 0B	L$.
	sub	7fh		; 2BA5  D6 7F		V.
	push	hl		; 2BA7  E5		e
	ld	e,a		; 2BA8  5F		_
	ld	hl,X1650	; 2BA9  21 50 16	!P.
X2bac:	ld	a,(hl)		; 2BAC  7E		~
	or	a		; 2BAD  B7		7
	inc	hl		; 2BAE  23		#
	jp	p,X2bac		; 2BAF  F2 AC 2B	r,+
	dec	e		; 2BB2  1D		.
	jr	nz,X2bac	; 2BB3  20 F7		 w
	and	7fh		; 2BB5  E6 7F		f.
X2bb7:	ld	(bc),a		; 2BB7  02		.
	inc	bc		; 2BB8  03		.
	dec	d		; 2BB9  15		.
	jp	z,X28d8		; 2BBA  CA D8 28	JX(
	ld	a,(hl)		; 2BBD  7E		~
	inc	hl		; 2BBE  23		#
	or	a		; 2BBF  B7		7
	jp	p,X2bb7		; 2BC0  F2 B7 2B	r7+
	pop	hl		; 2BC3  E1		a
	jr	X2b8c		; 2BC4  18 C6		.F
;
	call	X1b10		; 2BC6  CD 10 1B	M..
	pop	de		; 2BC9  D1		Q
	push	bc		; 2BCA  C5		E
	push	bc		; 2BCB  C5		E
	call	X1b2c		; 2BCC  CD 2C 1B	M,.
	jr	nc,X2bd6	; 2BCF  30 05		0.
	ld	d,h		; 2BD1  54		T
	ld	e,l		; 2BD2  5D		]
	ex	(sp),hl		; 2BD3  E3		c
	push	hl		; 2BD4  E5		e
	rst	18h		; 2BD5  DF		_
X2bd6:	jp	nc,X1e4a	; 2BD6  D2 4A 1E	RJ.
	ld	hl,X1929	; 2BD9  21 29 19	!).
	call	X28a7		; 2BDC  CD A7 28	M'(
	pop	bc		; 2BDF  C1		A
	ld	hl,X1ae8	; 2BE0  21 E8 1A	!h.
	ex	(sp),hl		; 2BE3  E3		c
X2be4:	ex	de,hl		; 2BE4  EB		k
	ld	hl,(X40f9)	; 2BE5  2A F9 40	*y@
X2be8:	ld	a,(de)		; 2BE8  1A		.
	ld	(bc),a		; 2BE9  02		.
	inc	bc		; 2BEA  03		.
	inc	de		; 2BEB  13		.
	rst	18h		; 2BEC  DF		_
	jr	nz,X2be8	; 2BED  20 F9		 y
	ld	h,b		; 2BEF  60		`
	ld	l,c		; 2BF0  69		i
	ld	(X40f9),hl	; 2BF1  22 F9 40	"y@
	ret			; 2BF4  C9		I
;
	dec	hl		; 2BF5  2B		+
	call	X2c08		; 2BF6  CD 08 2C	M.,
	add	a,crtram3port	; 2BF9  C6 8E		F.
	jp	X2c1d		; 2BFB  C3 1D 2C	C.,
;
	ORG	2c00h
;
X2c00:	nop			; 2C00  00		.
;
	ORG	2c05h
;
X2c05:	ld	hl,(X303e)	; 2C05  2A 3E 30	*>0
X2c08:	rst	10h		; 2C08  D7		W
	jr	z,X2c11		; 2C09  28 06		(.
	call	X2c6e		; 2C0B  CD 6E 2C	Mn,
	nop			; 2C0E  00		.
	and	1		; 2C0F  E6 01		f.
X2c11:	cpl			; 2C11  2F		/
X2c12:	and	1		; 2C12  E6 01		f.
	rra			; 2C14  1F		.
	rra			; 2C15  1F		.
	rra			; 2C16  1F		.
	ret			; 2C17  C9		I
;
	call	X2c05		; 2C18  CD 05 2C	M.,
	add	a,crtram1cnt	; 2C1B  C6 86		F.
X2c1d:	ld	(X2c25),a	; 2C1D  32 25 2C	2%,
X2c20:	push	hl		; 2C20  E5		e
	ld	hl,gram3b	; 2C21  21 43 30	!C0
	res	0,(hl)		; 2C24  CB 86		K.
	pop	hl		; 2C26  E1		a
	ret			; 2C27  C9		I
;
	call	X2c05		; 2C28  CD 05 2C	M.,
	add	a,96h		; 2C2B  C6 96		F.
	jr	X2c1d		; 2C2D  18 EE		.n
;
	call	X2c05		; 2C2F  CD 05 2C	M.,
	add	a,9eh		; 2C32  C6 9E		F.
	jr	X2c1d		; 2C34  18 E7		.g
;
	call	X2c05		; 2C36  CD 05 2C	M.,
X2c39:	add	a,0a6h		; 2C39  C6 A6		F&
	jr	X2c1d		; 2C3B  18 E0		.`
;
	defb	'*>0'					; 2C3D
;
	rst	10h		; 2C40  D7		W
	jr	z,X2c6b		; 2C41  28 28		((
	call	X2b1c		; 2C43  CD 1C 2B	M.+
X2c46:	cpl			; 2C46  2F		/
	ld	(gram3b),a	; 2C47  32 43 30	2C0
	cpl			; 2C4A  2F		/
	and	0e0h		; 2C4B  E6 E0		f`
	rra			; 2C4D  1F		.
	rra			; 2C4E  1F		.
	rra			; 2C4F  1F		.
	rra			; 2C50  1F		.
	rra			; 2C51  1F		.
	push	af		; 2C52  F5		u
	call	X2c11		; 2C53  CD 11 2C	M.,
	call	X2c8c		; 2C56  CD 8C 2C	M.,
	pop	af		; 2C59  F1		q
	rra			; 2C5A  1F		.
	push	af		; 2C5B  F5		u
	call	X2c11		; 2C5C  CD 11 2C	M.,
	call	X3191		; 2C5F  CD 91 31	M.1
	pop	af		; 2C62  F1		q
	rra			; 2C63  1F		.
	call	X2c12		; 2C64  CD 12 2C	M.,
	nop			; 2C67  00		.
	jp	X3bad		; 2C68  C3 AD 3B	C-;
;
X2c6b:	xor	a		; 2C6B  AF		/
	jr	X2c46		; 2C6C  18 D8		.X
;
X2c6e:	cp	0a1h		; 2C6E  FE A1		~!
	jr	z,X2c79		; 2C70  28 07		(.
	cp	1		; 2C72  FE 01		~.
	jr	z,X2c7d		; 2C74  28 07		(.
	jp	X2b1c		; 2C76  C3 1C 2B	C.+
;
X2c79:	rst	10h		; 2C79  D7		W
	ld	a,1		; 2C7A  3E 01		>.
	ret			; 2C7C  C9		I
;
X2c7d:	inc	hl		; 2C7D  23		#
	ld	a,(hl)		; 2C7E  7E		~
	dec	hl		; 2C7F  2B		+
	cp	0eh		; 2C80  FE 0E		~.
	jp	nz,X2b1c	; 2C82  C2 1C 2B	B.+
	inc	hl		; 2C85  23		#
	rst	10h		; 2C86  D7		W
	xor	a		; 2C87  AF		/
	ret			; 2C88  C9		I
;
	call	X2c05		; 2C89  CD 05 2C	M.,
X2c8c:	add	a,crtram1cnt	; 2C8C  C6 86		F.
X2c8e:	ld	(X2c96),a	; 2C8E  32 96 2C	2.,
	push	hl		; 2C91  E5		e
	ld	hl,X303b	; 2C92  21 3B 30	!;0
	res	0,(hl)		; 2C95  CB 86		K.
	pop	hl		; 2C97  E1		a
	ret			; 2C98  C9		I
;
	call	X2c05		; 2C99  CD 05 2C	M.,
	cpl			; 2C9C  2F		/
	add	a,0cfh		; 2C9D  C6 CF		FO
	jr	X2c8e		; 2C9F  18 ED		.m
;
	call	X2c05		; 2CA1  CD 05 2C	M.,
	cpl			; 2CA4  2F		/
	add	a,fdcdatareg	; 2CA5  C6 D7		FW
	jr	X2c8e		; 2CA7  18 E5		.e
;
	nop			; 2CA9  00		.
	call	X0a7f		; 2CAA  CD 7F 0A	M..
	ld	a,(hl)		; 2CAD  7E		~
	jp	X27f8		; 2CAE  C3 F8 27	Cx'
;
	call	X2b02		; 2CB1  CD 02 2B	M.+
	push	de		; 2CB4  D5		U
	rst	8		; 2CB5  CF		O
	inc	l		; 2CB6  2C		,
	call	X2b1c		; 2CB7  CD 1C 2B	M.+
	pop	de		; 2CBA  D1		Q
	ld	(de),a		; 2CBB  12		.
	ret			; 2CBC  C9		I
;
X2cbd:	call	X2338		; 2CBD  CD 38 23	M8#
	call	X0af4		; 2CC0  CD F4 0A	Mt.
	rst	8		; 2CC3  CF		O
	dec	sp		; 2CC4  3B		;
	ex	de,hl		; 2CC5  EB		k
	ld	hl,(X4121)	; 2CC6  2A 21 41	*!A
	jr	X2cd3		; 2CC9  18 08		..
;
X2ccb:	ld	a,(X40de)	; 2CCB  3A DE 40	:^@
	or	a		; 2CCE  B7		7
	jr	z,X2cdd		; 2CCF  28 0C		(.
	pop	de		; 2CD1  D1		Q
	ex	de,hl		; 2CD2  EB		k
X2cd3:	push	hl		; 2CD3  E5		e
	xor	a		; 2CD4  AF		/
	ld	(X40de),a	; 2CD5  32 DE 40	2^@
	cp	d		; 2CD8  BA		:
	push	af		; 2CD9  F5		u
	push	de		; 2CDA  D5		U
	ld	b,(hl)		; 2CDB  46		F
	or	b		; 2CDC  B0		0
X2cdd:	jp	z,X1e4a		; 2CDD  CA 4A 1E	JJ.
	inc	hl		; 2CE0  23		#
	ld	c,(hl)		; 2CE1  4E		N
	inc	hl		; 2CE2  23		#
	ld	h,(hl)		; 2CE3  66		f
	ld	l,c		; 2CE4  69		i
	jr	X2d03		; 2CE5  18 1C		..
;
X2ce7:	ld	e,b		; 2CE7  58		X
	push	hl		; 2CE8  E5		e
	ld	c,2		; 2CE9  0E 02		..
X2ceb:	ld	a,(hl)		; 2CEB  7E		~
	inc	hl		; 2CEC  23		#
	cp	25h		; 2CED  FE 25		~%
	jp	z,X2e17		; 2CEF  CA 17 2E	J..
	cp	20h		; 2CF2  FE 20		~
	jr	nz,X2cf9	; 2CF4  20 03		 .
	inc	c		; 2CF6  0C		.
	djnz	X2ceb		; 2CF7  10 F2		.r
X2cf9:	pop	hl		; 2CF9  E1		a
	ld	b,e		; 2CFA  43		C
	ld	a,25h		; 2CFB  3E 25		>%
X2cfd:	call	X2e49		; 2CFD  CD 49 2E	MI.
	call	X032a		; 2D00  CD 2A 03	M*.
X2d03:	xor	a		; 2D03  AF		/
	ld	e,a		; 2D04  5F		_
	ld	d,a		; 2D05  57		W
X2d06:	call	X2e49		; 2D06  CD 49 2E	MI.
	ld	d,a		; 2D09  57		W
	ld	a,(hl)		; 2D0A  7E		~
	inc	hl		; 2D0B  23		#
	cp	21h		; 2D0C  FE 21		~!
	jp	z,X2e14		; 2D0E  CA 14 2E	J..
	cp	23h		; 2D11  FE 23		~#
	jr	z,X2d4c		; 2D13  28 37		(7
	dec	b		; 2D15  05		.
	jp	z,X2dfe		; 2D16  CA FE 2D	J~-
	cp	2bh		; 2D19  FE 2B		~+
	ld	a,8		; 2D1B  3E 08		>.
	jr	z,X2d06		; 2D1D  28 E7		(g
	dec	hl		; 2D1F  2B		+
	ld	a,(hl)		; 2D20  7E		~
	inc	hl		; 2D21  23		#
	cp	2eh		; 2D22  FE 2E		~.
	jr	z,X2d66		; 2D24  28 40		(@
	cp	25h		; 2D26  FE 25		~%
	jr	z,X2ce7		; 2D28  28 BD		(=
	cp	(hl)		; 2D2A  BE		>
	jr	nz,X2cfd	; 2D2B  20 D0		 P
	cp	24h		; 2D2D  FE 24		~$
	jr	z,X2d45		; 2D2F  28 14		(.
	cp	2ah		; 2D31  FE 2A		~*
	jr	nz,X2cfd	; 2D33  20 C8		 H
	ld	a,b		; 2D35  78		x
	cp	2		; 2D36  FE 02		~.
	inc	hl		; 2D38  23		#
	jr	c,X2d3e		; 2D39  38 03		8.
	ld	a,(hl)		; 2D3B  7E		~
	cp	24h		; 2D3C  FE 24		~$
X2d3e:	ld	a,20h		; 2D3E  3E 20		>
	jr	nz,X2d49	; 2D40  20 07		 .
	dec	b		; 2D42  05		.
	inc	e		; 2D43  1C		.
	cp	0afh		; 2D44  FE AF		~/
	add	a,10h		; 2D46  C6 10		F.
	inc	hl		; 2D48  23		#
X2d49:	inc	e		; 2D49  1C		.
	add	a,d		; 2D4A  82		.
	ld	d,a		; 2D4B  57		W
X2d4c:	inc	e		; 2D4C  1C		.
	ld	c,0		; 2D4D  0E 00		..
	dec	b		; 2D4F  05		.
	jr	z,X2d99		; 2D50  28 47		(G
	ld	a,(hl)		; 2D52  7E		~
	inc	hl		; 2D53  23		#
	cp	2eh		; 2D54  FE 2E		~.
	jr	z,X2d70		; 2D56  28 18		(.
	cp	23h		; 2D58  FE 23		~#
	jr	z,X2d4c		; 2D5A  28 F0		(p
	cp	2ch		; 2D5C  FE 2C		~,
	jr	nz,X2d7a	; 2D5E  20 1A		 .
	ld	a,d		; 2D60  7A		z
	or	blislowblok	; 2D61  F6 40		v@
	ld	d,a		; 2D63  57		W
	jr	X2d4c		; 2D64  18 E6		.f
;
X2d66:	ld	a,(hl)		; 2D66  7E		~
	cp	23h		; 2D67  FE 23		~#
	ld	a,2eh		; 2D69  3E 2E		>.
	jr	nz,X2cfd	; 2D6B  20 90		 .
	ld	c,1		; 2D6D  0E 01		..
	inc	hl		; 2D6F  23		#
X2d70:	inc	c		; 2D70  0C		.
	dec	b		; 2D71  05		.
	jr	z,X2d99		; 2D72  28 25		(%
	ld	a,(hl)		; 2D74  7E		~
	inc	hl		; 2D75  23		#
	cp	23h		; 2D76  FE 23		~#
	jr	z,X2d70		; 2D78  28 F6		(v
X2d7a:	push	de		; 2D7A  D5		U
	ld	de,X2d97	; 2D7B  11 97 2D	..-
	push	de		; 2D7E  D5		U
	ld	d,h		; 2D7F  54		T
	ld	e,l		; 2D80  5D		]
	cp	5bh		; 2D81  FE 5B		~[
	ret	nz		; 2D83  C0		@
	cp	(hl)		; 2D84  BE		>
	ret	nz		; 2D85  C0		@
	inc	hl		; 2D86  23		#
	cp	(hl)		; 2D87  BE		>
	ret	nz		; 2D88  C0		@
	inc	hl		; 2D89  23		#
	cp	(hl)		; 2D8A  BE		>
	ret	nz		; 2D8B  C0		@
	inc	hl		; 2D8C  23		#
	ld	a,b		; 2D8D  78		x
	sub	4		; 2D8E  D6 04		V.
	ret	c		; 2D90  D8		X
	pop	de		; 2D91  D1		Q
	pop	de		; 2D92  D1		Q
	ld	b,a		; 2D93  47		G
	inc	d		; 2D94  14		.
	inc	hl		; 2D95  23		#
	jp	z,Xd1eb		; 2D96  CA EB D1	JkQ
X2d99:	ld	a,d		; 2D99  7A		z
	dec	hl		; 2D9A  2B		+
	inc	e		; 2D9B  1C		.
	and	8		; 2D9C  E6 08		f.
	jr	nz,X2db5	; 2D9E  20 15		 .
	dec	e		; 2DA0  1D		.
	ld	a,b		; 2DA1  78		x
	or	a		; 2DA2  B7		7
	jr	z,X2db5		; 2DA3  28 10		(.
	ld	a,(hl)		; 2DA5  7E		~
	sub	2dh		; 2DA6  D6 2D		V-
	jr	z,X2db0		; 2DA8  28 06		(.
	cp	0feh		; 2DAA  FE FE		~~
	jr	nz,X2db5	; 2DAC  20 07		 .
	ld	a,8		; 2DAE  3E 08		>.
X2db0:	add	a,4		; 2DB0  C6 04		F.
	add	a,d		; 2DB2  82		.
	ld	d,a		; 2DB3  57		W
	dec	b		; 2DB4  05		.
X2db5:	pop	hl		; 2DB5  E1		a
	pop	af		; 2DB6  F1		q
	jr	z,X2e09		; 2DB7  28 50		(P
	push	bc		; 2DB9  C5		E
	push	de		; 2DBA  D5		U
	call	X2337		; 2DBB  CD 37 23	M7#
	pop	de		; 2DBE  D1		Q
	pop	bc		; 2DBF  C1		A
	push	bc		; 2DC0  C5		E
	push	hl		; 2DC1  E5		e
	ld	b,e		; 2DC2  43		C
	ld	a,b		; 2DC3  78		x
	add	a,c		; 2DC4  81		.
	cp	19h		; 2DC5  FE 19		~.
	jp	nc,X1e4a	; 2DC7  D2 4A 1E	RJ.
	ld	a,d		; 2DCA  7A		z
	or	crtram0dat	; 2DCB  F6 80		v.
	call	X0fbe		; 2DCD  CD BE 0F	M>.
	call	X28a7		; 2DD0  CD A7 28	M'(
X2dd3:	pop	hl		; 2DD3  E1		a
	dec	hl		; 2DD4  2B		+
	rst	10h		; 2DD5  D7		W
	scf			; 2DD6  37		7
	jr	z,X2de6		; 2DD7  28 0D		(.
	ld	(X40de),a	; 2DD9  32 DE 40	2^@
	cp	ram0buf		; 2DDC  FE 3B		~;
	jr	z,X2de5		; 2DDE  28 05		(.
	cp	2ch		; 2DE0  FE 2C		~,
	jp	nz,SNERR	; 2DE2  C2 97 19	B..
X2de5:	rst	10h		; 2DE5  D7		W
X2de6:	pop	bc		; 2DE6  C1		A
	ex	de,hl		; 2DE7  EB		k
	pop	hl		; 2DE8  E1		a
	push	hl		; 2DE9  E5		e
	push	af		; 2DEA  F5		u
	push	de		; 2DEB  D5		U
	ld	a,(hl)		; 2DEC  7E		~
	sub	b		; 2DED  90		.
	inc	hl		; 2DEE  23		#
	ld	c,(hl)		; 2DEF  4E		N
	inc	hl		; 2DF0  23		#
	ld	h,(hl)		; 2DF1  66		f
	ld	l,c		; 2DF2  69		i
	ld	d,0		; 2DF3  16 00		..
	ld	e,a		; 2DF5  5F		_
	add	hl,de		; 2DF6  19		.
	ld	a,b		; 2DF7  78		x
	or	a		; 2DF8  B7		7
	jp	nz,X2d03	; 2DF9  C2 03 2D	B.-
	jr	X2e04		; 2DFC  18 06		..
;
X2dfe:	call	X2e49		; 2DFE  CD 49 2E	MI.
	call	X032a		; 2E01  CD 2A 03	M*.
X2e04:	pop	hl		; 2E04  E1		a
	pop	af		; 2E05  F1		q
	jp	nz,X2ccb	; 2E06  C2 CB 2C	BK,
X2e09:	call	c,X20fe		; 2E09  DC FE 20	\~
	ex	(sp),hl		; 2E0C  E3		c
	call	X29dd		; 2E0D  CD DD 29	M])
	pop	hl		; 2E10  E1		a
	jp	X2169		; 2E11  C3 69 21	Ci!
;
X2e14:	ld	c,1		; 2E14  0E 01		..
	ld	a,0f1h		; 2E16  3E F1		>q
	dec	b		; 2E18  05		.
	call	X2e49		; 2E19  CD 49 2E	MI.
	pop	hl		; 2E1C  E1		a
	pop	af		; 2E1D  F1		q
	jr	z,X2e09		; 2E1E  28 E9		(i
	push	bc		; 2E20  C5		E
	call	X2337		; 2E21  CD 37 23	M7#
	call	X0af4		; 2E24  CD F4 0A	Mt.
	pop	bc		; 2E27  C1		A
	push	bc		; 2E28  C5		E
	push	hl		; 2E29  E5		e
	ld	hl,(X4121)	; 2E2A  2A 21 41	*!A
	ld	b,c		; 2E2D  41		A
	ld	c,0c5h		; 2E2E  0E C5		.E
	push	bc		; 2E30  C5		E
	call	X2a68		; 2E31  CD 68 2A	Mh*
	call	X28aa		; 2E34  CD AA 28	M*(
	ld	hl,(X4121)	; 2E37  2A 21 41	*!A
	pop	af		; 2E3A  F1		q
	sub	(hl)		; 2E3B  96		.
	ld	b,a		; 2E3C  47		G
	ld	a,20h		; 2E3D  3E 20		>
	inc	b		; 2E3F  04		.
X2e40:	dec	b		; 2E40  05		.
	jp	z,X2dd3		; 2E41  CA D3 2D	JS-
	call	X032a		; 2E44  CD 2A 03	M*.
	jr	X2e40		; 2E47  18 F7		.w
;
X2e49:	push	af		; 2E49  F5		u
	ld	a,d		; 2E4A  7A		z
	or	a		; 2E4B  B7		7
	ld	a,2bh		; 2E4C  3E 2B		>+
	call	nz,X032a	; 2E4E  C4 2A 03	D*.
	pop	af		; 2E51  F1		q
	ret			; 2E52  C9		I
;
X2e53:	ld	(X409a),a	; 2E53  32 9A 40	2.@
	ld	hl,(X40ea)	; 2E56  2A EA 40	*j@
	or	h		; 2E59  B4		4
	and	l		; 2E5A  A5		%
	inc	a		; 2E5B  3C		<
	ex	de,hl		; 2E5C  EB		k
	ret	z		; 2E5D  C8		H
	jr	X2e64		; 2E5E  18 04		..
;
	call	X1e4f		; 2E60  CD 4F 1E	MO.
	ret	nz		; 2E63  C0		@
X2e64:	pop	hl		; 2E64  E1		a
X2e65:	ex	de,hl		; 2E65  EB		k
	ld	(X40ec),hl	; 2E66  22 EC 40	"l@
	ex	de,hl		; 2E69  EB		k
	call	X011b		; 2E6A  CD 1B 01	M..
	jp	nc,X1ed9	; 2E6D  D2 D9 1E	RY.
	ld	h,b		; 2E70  60		`
	ld	l,c		; 2E71  69		i
	inc	hl		; 2E72  23		#
	inc	hl		; 2E73  23		#
	ld	c,(hl)		; 2E74  4E		N
	inc	hl		; 2E75  23		#
	ld	b,(hl)		; 2E76  46		F
	inc	hl		; 2E77  23		#
	push	bc		; 2E78  C5		E
	call	X2b7e		; 2E79  CD 7E 2B	M~+
X2e7c:	pop	hl		; 2E7C  E1		a
	push	hl		; 2E7D  E5		e
	call	X0faf		; 2E7E  CD AF 0F	M/.
	ld	a,20h		; 2E81  3E 20		>
	call	X032a		; 2E83  CD 2A 03	M*.
	ld	hl,(X40a7)	; 2E86  2A A7 40	*'@
	ld	a,0eh		; 2E89  3E 0E		>.
	call	X032a		; 2E8B  CD 2A 03	M*.
	push	hl		; 2E8E  E5		e
	ld	c,0ffh		; 2E8F  0E FF		..
X2e91:	inc	c		; 2E91  0C		.
	ld	a,(hl)		; 2E92  7E		~
	or	a		; 2E93  B7		7
	inc	hl		; 2E94  23		#
	jr	nz,X2e91	; 2E95  20 FA		 z
	pop	hl		; 2E97  E1		a
	ld	b,a		; 2E98  47		G
X2e99:	ld	d,0		; 2E99  16 00		..
X2e9b:	call	X0384		; 2E9B  CD 84 03	M..
	sub	30h		; 2E9E  D6 30		V0
	jr	c,X2eb0		; 2EA0  38 0E		8.
	cp	0ah		; 2EA2  FE 0A		~.
	jr	nc,X2eb0	; 2EA4  30 0A		0.
	ld	e,a		; 2EA6  5F		_
	ld	a,d		; 2EA7  7A		z
	rlca			; 2EA8  07		.
	rlca			; 2EA9  07		.
	add	a,d		; 2EAA  82		.
	rlca			; 2EAB  07		.
	add	a,e		; 2EAC  83		.
	ld	d,a		; 2EAD  57		W
	jr	X2e9b		; 2EAE  18 EB		.k
;
X2eb0:	push	hl		; 2EB0  E5		e
	ld	hl,X2e99	; 2EB1  21 99 2E	!..
	ex	(sp),hl		; 2EB4  E3		c
	dec	d		; 2EB5  15		.
	inc	d		; 2EB6  14		.
	jp	nz,X2ebb	; 2EB7  C2 BB 2E	B;.
	inc	d		; 2EBA  14		.
X2ebb:	cp	0d8h		; 2EBB  FE D8		~X
	jp	z,X2fd2		; 2EBD  CA D2 2F	JR/
	cp	0ddh		; 2EC0  FE DD		~]
	jp	z,X2fe0		; 2EC2  CA E0 2F	J`/
	cp	0f0h		; 2EC5  FE F0		~p
	jr	z,X2f0f		; 2EC7  28 46		(F
	cp	31h		; 2EC9  FE 31		~1
	jr	c,X2ecf		; 2ECB  38 02		8.
	sub	20h		; 2ECD  D6 20		V
X2ecf:	cp	21h		; 2ECF  FE 21		~!
	jp	z,X2ff6		; 2ED1  CA F6 2F	Jv/
	cp	1ch		; 2ED4  FE 1C		~.
	jp	z,X0418		; 2ED6  CA 18 04	J..
	cp	23h		; 2ED9  FE 23		~#
	jr	z,X2f21		; 2EDB  28 44		(D
	cp	19h		; 2EDD  FE 19		~.
	jp	z,X2f7d		; 2EDF  CA 7D 2F	J}/
	cp	14h		; 2EE2  FE 14		~.
	jp	z,X2f4a		; 2EE4  CA 4A 2F	JJ/
	cp	xofc		; 2EE7  FE 13		~.
	jp	z,X2f65		; 2EE9  CA 65 2F	Je/
	cp	15h		; 2EEC  FE 15		~.
	jp	z,X2fe3		; 2EEE  CA E3 2F	Jc/
	cp	28h		; 2EF1  FE 28		~(
	jp	z,X2f78		; 2EF3  CA 78 2F	Jx/
	cp	esc		; 2EF6  FE 1B		~.
	jr	z,X2f1b		; 2EF8  28 21		(!
	cp	18h		; 2EFA  FE 18		~.
	jp	z,X2f75		; 2EFC  CA 75 2F	Ju/
	cp	1eh		; 2EFF  FE 1E		~.
	jp	X65de		; 2F01  C3 DE 65	C^e
;
X2f04:	cp	xonc		; 2F04  FE 11		~.
	ret	nz		; 2F06  C0		@
	pop	bc		; 2F07  C1		A
	pop	de		; 2F08  D1		Q
	call	X20fe		; 2F09  CD FE 20	M~
	jp	X2e65		; 2F0C  C3 65 2E	Ce.
;
X2f0f:	ld	a,(hl)		; 2F0F  7E		~
	or	a		; 2F10  B7		7
	ret	z		; 2F11  C8		H
	inc	b		; 2F12  04		.
	call	X032a		; 2F13  CD 2A 03	M*.
	inc	hl		; 2F16  23		#
	dec	d		; 2F17  15		.
	jr	nz,X2f0f	; 2F18  20 F5		 u
	ret			; 2F1A  C9		I
;
X2f1b:	push	hl		; 2F1B  E5		e
	ld	hl,X2f5f	; 2F1C  21 5F 2F	!_/
	ex	(sp),hl		; 2F1F  E3		c
	scf			; 2F20  37		7
X2f21:	push	af		; 2F21  F5		u
	call	X0384		; 2F22  CD 84 03	M..
	ld	e,a		; 2F25  5F		_
	pop	af		; 2F26  F1		q
	push	af		; 2F27  F5		u
	call	c,X2f5f		; 2F28  DC 5F 2F	\_/
X2f2b:	ld	a,(hl)		; 2F2B  7E		~
	or	a		; 2F2C  B7		7
	jp	z,X2f3e		; 2F2D  CA 3E 2F	J>/
	call	X032a		; 2F30  CD 2A 03	M*.
	pop	af		; 2F33  F1		q
	push	af		; 2F34  F5		u
	call	c,X2fa1		; 2F35  DC A1 2F	\!/
	jr	c,X2f3c		; 2F38  38 02		8.
	inc	hl		; 2F3A  23		#
	inc	b		; 2F3B  04		.
X2f3c:	ld	a,(hl)		; 2F3C  7E		~
	cp	e		; 2F3D  BB		;
X2f3e:	jr	nz,X2f2b	; 2F3E  20 EB		 k
	dec	d		; 2F40  15		.
	jr	nz,X2f2b	; 2F41  20 E8		 h
	pop	af		; 2F43  F1		q
	ret			; 2F44  C9		I
;
	ORG	2f4ah
;
X2f4a:	ld	a,(hl)		; 2F4A  7E		~
	or	a		; 2F4B  B7		7
	ret	z		; 2F4C  C8		H
	ld	a,21h		; 2F4D  3E 21		>!
	call	X032a		; 2F4F  CD 2A 03	M*.
X2f52:	ld	a,(hl)		; 2F52  7E		~
	or	a		; 2F53  B7		7
	jr	z,X2f5f		; 2F54  28 09		(.
	call	X032a		; 2F56  CD 2A 03	M*.
	call	X2fa1		; 2F59  CD A1 2F	M!/
	dec	d		; 2F5C  15		.
	jr	nz,X2f52	; 2F5D  20 F3		 s
X2f5f:	ld	a,21h		; 2F5F  3E 21		>!
	call	X032a		; 2F61  CD 2A 03	M*.
	ret			; 2F64  C9		I
;
X2f65:	ld	a,(hl)		; 2F65  7E		~
	or	a		; 2F66  B7		7
	ret	z		; 2F67  C8		H
	call	X0384		; 2F68  CD 84 03	M..
	ld	(hl),a		; 2F6B  77		w
	call	X032a		; 2F6C  CD 2A 03	M*.
	inc	hl		; 2F6F  23		#
	inc	b		; 2F70  04		.
	dec	d		; 2F71  15		.
	jr	nz,X2f65	; 2F72  20 F1		 q
	ret			; 2F74  C9		I
;
X2f75:	ld	(hl),0		; 2F75  36 00		6.
	ld	c,b		; 2F77  48		H
X2f78:	ld	d,0ffh		; 2F78  16 FF		..
	call	X2f0f		; 2F7A  CD 0F 2F	M./
X2f7d:	call	X3315		; 2F7D  CD 15 33	M.3
	or	a		; 2F80  B7		7
	jp	z,X2f7d		; 2F81  CA 7D 2F	J}/
	cp	8		; 2F84  FE 08		~.
	jr	z,X2f92		; 2F86  28 0A		(.
	cp	0dh		; 2F88  FE 0D		~.
	jp	z,X2fe0		; 2F8A  CA E0 2F	J`/
	cp	esc		; 2F8D  FE 1B		~.
	ret	z		; 2F8F  C8		H
	jr	nz,X2fb0	; 2F90  20 1E		 .
X2f92:	ld	a,8		; 2F92  3E 08		>.
	dec	b		; 2F94  05		.
	inc	b		; 2F95  04		.
	jr	z,X2fb7		; 2F96  28 1F		(.
	call	X032a		; 2F98  CD 2A 03	M*.
	dec	hl		; 2F9B  2B		+
	dec	b		; 2F9C  05		.
	ld	de,X2f7d	; 2F9D  11 7D 2F	.}/
	push	de		; 2FA0  D5		U
X2fa1:	push	hl		; 2FA1  E5		e
	dec	c		; 2FA2  0D		.
X2fa3:	ld	a,(hl)		; 2FA3  7E		~
	or	a		; 2FA4  B7		7
	scf			; 2FA5  37		7
	jp	z,X0890		; 2FA6  CA 90 08	J..
	inc	hl		; 2FA9  23		#
	ld	a,(hl)		; 2FAA  7E		~
	dec	hl		; 2FAB  2B		+
	ld	(hl),a		; 2FAC  77		w
	inc	hl		; 2FAD  23		#
	jr	X2fa3		; 2FAE  18 F3		.s
;
X2fb0:	push	af		; 2FB0  F5		u
	ld	a,c		; 2FB1  79		y
	cp	0ffh		; 2FB2  FE FF		~.
	jr	c,X2fb9		; 2FB4  38 03		8.
	pop	af		; 2FB6  F1		q
X2fb7:	jr	X2f7d		; 2FB7  18 C4		.D
;
X2fb9:	sub	b		; 2FB9  90		.
	inc	c		; 2FBA  0C		.
	inc	b		; 2FBB  04		.
	push	bc		; 2FBC  C5		E
	ex	de,hl		; 2FBD  EB		k
	ld	l,a		; 2FBE  6F		o
	ld	h,0		; 2FBF  26 00		&.
	add	hl,de		; 2FC1  19		.
	ld	b,h		; 2FC2  44		D
	ld	c,l		; 2FC3  4D		M
	inc	hl		; 2FC4  23		#
	call	X1958		; 2FC5  CD 58 19	MX.
	pop	bc		; 2FC8  C1		A
	pop	af		; 2FC9  F1		q
	ld	(hl),a		; 2FCA  77		w
	call	X032a		; 2FCB  CD 2A 03	M*.
	inc	hl		; 2FCE  23		#
	jp	X2f7d		; 2FCF  C3 7D 2F	C}/
;
X2fd2:	ld	a,b		; 2FD2  78		x
	or	a		; 2FD3  B7		7
	ret	z		; 2FD4  C8		H
	dec	b		; 2FD5  05		.
	dec	hl		; 2FD6  2B		+
	ld	a,8		; 2FD7  3E 08		>.
	call	X032a		; 2FD9  CD 2A 03	M*.
	dec	d		; 2FDC  15		.
	jr	nz,X2fd2	; 2FDD  20 F3		 s
	ret			; 2FDF  C9		I
;
X2fe0:	call	X2b75		; 2FE0  CD 75 2B	Mu+
X2fe3:	call	X20fe		; 2FE3  CD FE 20	M~
	pop	bc		; 2FE6  C1		A
	pop	de		; 2FE7  D1		Q
	ld	a,d		; 2FE8  7A		z
	and	e		; 2FE9  A3		#
	inc	a		; 2FEA  3C		<
X2feb:	ld	hl,(X40a7)	; 2FEB  2A A7 40	*'@
	dec	hl		; 2FEE  2B		+
	ret	z		; 2FEF  C8		H
	scf			; 2FF0  37		7
	inc	hl		; 2FF1  23		#
	push	af		; 2FF2  F5		u
	jp	X1a98		; 2FF3  C3 98 1A	C..
;
X2ff6:	pop	bc		; 2FF6  C1		A
	pop	de		; 2FF7  D1		Q
	jp	X1a19		; 2FF8  C3 19 1A	C..
;
	sbc	a,0c3h		; 2FFB  DE C3		^C
	jp	Xb244		; 2FFD  C3 44 B2	CD2
;
X3000:	push	bc		; 3000  C5		E
	ld	b,3		; 3001  06 03		..
X3003:	in	a,(fdccmdstatr)	; 3003  DB D0		[P
	bit	0,a		; 3005  CB 47		KG
	jr	nz,X3003	; 3007  20 FA		 z
X3009:	ld	a,7		; 3009  3E 07		>.
	out	(fdccmdstatr),a	; 300B  D3 D0		SP
	ex	(sp),hl		; 300D  E3		c
	ex	(sp),hl		; 300E  E3		c
	ex	(sp),hl		; 300F  E3		c
	ex	(sp),hl		; 3010  E3		c
X3011:	in	a,(fdccmdstatr)	; 3011  DB D0		[P
	bit	0,a		; 3013  CB 47		KG
	jr	nz,X3011	; 3015  20 FA		 z
	djnz	X3009		; 3017  10 F0		.p
	pop	bc		; 3019  C1		A
	ret			; 301A  C9		I
;
	push	af		; 301B  F5		u
	xor	a		; 301C  AF		/
	out	(fdcdrvrcnt),a	; 301D  D3 D6		SV
	pop	af		; 301F  F1		q
	ei			; 3020  FB		{
	pop	bc		; 3021  C1		A
	ret			; 3022  C9		I
;
	ld	a,fdccmdstatr	; 3023  3E D0		>P
	out	(fdccmdstatr),a	; 3025  D3 D0		SP
	jp	X4669		; 3027  C3 69 46	CiF
;
	out	(fdcdrvrcnt),a	; 302A  D3 D6		SV
	push	af		; 302C  F5		u
	ld	a,17h		; 302D  3E 17		>.
	jp	X3546		; 302F  C3 46 35	CF5
;
	nop			; 3032  00		.
	xor	a		; 3033  AF		/
	out	(fdcdrvrcnt),a	; 3034  D3 D6		SV
	jp	X3375		; 3036  C3 75 33	Cu3
;
X3039:	nop			; 3039  00		.
X303a:	inc	b		; 303A  04		.
X303b:	dec	b		; 303B  05		.
	nop			; 303C  00		.
X303d:	nop			; 303D  00		.
X303e:	nop			; 303E  00		.
;
	ORG	3040h
;
gram0b:	defb	020h
gram1b:	defb	0ffh
gram2b:	defb	0ffh					; 3042 .
gram3b:	defb	0ffh					; 3043 .

;
	ld	d,c		; 3044  51		Q
LET:	ld	b,a		; 3045  47		G
	ld	a,(hl)		; 3046  7E		~
	cp	1		; 3047  FE 01		~.
	jr	z,X304f		; 3049  28 04		(.
	ld	a,b		; 304B  78		x
	jp	X1f21		; 304C  C3 21 1F	C!.
;
X304f:	inc	hl		; 304F  23		#
	ld	a,(hl)		; 3050  7E		~
	ld	(X303e),hl	; 3051  22 3E 30	">0
	ld	hl,X3667	; 3054  21 67 36	!g6
	ld	b,0		; 3057  06 00		..
	ld	c,a		; 3059  4F		O
	add	hl,bc		; 305A  09		.
	add	hl,bc		; 305B  09		.
	ld	e,(hl)		; 305C  5E		^
	inc	hl		; 305D  23		#
	ld	d,(hl)		; 305E  56		V
	push	de		; 305F  D5		U
	ret			; 3060  C9		I
;
	ORG	3063h
;
	ld	hl,(X303e)	; 3063  2A 3E 30	*>0
	rst	10h		; 3066  D7		W
	jr	z,X30ad		; 3067  28 44		(D
	cp	27h		; 3069  FE 27		~'
	jr	nc,X308f	; 306B  30 22		0"
	cp	23h		; 306D  FE 23		~#
	jr	c,X308f		; 306F  38 1E		8.
	push	hl		; 3071  E5		e
	ld	hl,X303d	; 3072  21 3D 30	!=0
	jr	nz,X3079	; 3075  20 02		 .
	res	1,(hl)		; 3077  CB 8E		K.
X3079:	cp	24h		; 3079  FE 24		~$
	jr	nz,X307f	; 307B  20 02		 .
	set	1,(hl)		; 307D  CB CE		KN
X307f:	cp	25h		; 307F  FE 25		~%
	jr	nz,X3085	; 3081  20 02		 .
	res	0,(hl)		; 3083  CB 86		K.
X3085:	cp	26h		; 3085  FE 26		~&
	jr	nz,X308b	; 3087  20 02		 .
	set	0,(hl)		; 3089  CB C6		KF
X308b:	pop	hl		; 308B  E1		a
X308c:	jp	GETCHR		; 308C  C3 78 1D	Cx.
;
X308f:	dec	hl		; 308F  2B		+
	call	X2b1b		; 3090  CD 1B 2B	M.+
	dec	hl		; 3093  2B		+
	or	a		; 3094  B7		7
	jr	z,X308c		; 3095  28 F5		(u
X3097:	ld	bc,X4000	; 3097  01 00 40	..@
	call	X0060		; 309A  CD 60 00	M`.
	call	X35a9		; 309D  CD A9 35	M)5
	cp	1		; 30A0  FE 01		~.
	jr	z,X308c		; 30A2  28 E8		(h
	in	a,(crtbeepport)	; 30A4  DB 8F		[.
	dec	e		; 30A6  1D		.
	ld	a,e		; 30A7  7B		{
	or	a		; 30A8  B7		7
	jr	nz,X3097	; 30A9  20 EC		 l
	jr	X308c		; 30AB  18 DF		._
;
X30ad:	dec	hl		; 30AD  2B		+
	ld	e,1		; 30AE  1E 01		..
	jr	X3097		; 30B0  18 E5		.e
;
	ld	hl,(X303e)	; 30B2  2A 3E 30	*>0
	rst	10h		; 30B5  D7		W
	jr	z,X30d5		; 30B6  28 1D		(.
	dec	hl		; 30B8  2B		+
	call	X1e45		; 30B9  CD 45 1E	ME.
	xor	a		; 30BC  AF		/
	or	d		; 30BD  B2		2
	jr	nz,X30c3	; 30BE  20 03		 .
	or	e		; 30C0  B3		3
	jr	z,X30d5		; 30C1  28 12		(.
X30c3:	ld	bc,X02b0	; 30C3  01 B0 02	.0.
	call	X0060		; 30C6  CD 60 00	M`.
	call	X35a9		; 30C9  CD A9 35	M)5
	cp	1		; 30CC  FE 01		~.
	jr	z,X30d5		; 30CE  28 05		(.
	dec	de		; 30D0  1B		.
	ld	a,d		; 30D1  7A		z
	or	e		; 30D2  B3		3
	jr	nz,X30c3	; 30D3  20 EE		 n
X30d5:	dec	hl		; 30D5  2B		+
	jp	GETCHR		; 30D6  C3 78 1D	Cx.
;
	defb	':=0'					; 30D9
;
	bit	1,a		; 30DC  CB 4F		KO
	jr	z,X30e2		; 30DE  28 02		(.
	in	a,(crtbeepport)	; 30E0  DB 8F		[.
X30e2:	jp	X1a01		; 30E2  C3 01 1A	C..
;
X30e5:	call	X0a9a		; 30E5  CD 9A 0A	M..
	xor	a		; 30E8  AF		/
	call	X1034		; 30E9  CD 34 10	M4.
	or	(hl)		; 30EC  B6		6
	call	X0fd9		; 30ED  CD D9 0F	MY.
	jp	X28a7		; 30F0  C3 A7 28	C'(
;
X30f3:	ld	a,(X303b)	; 30F3  3A 3B 30	:;0
	bit	0,a		; 30F6  CB 47		KG
	jr	z,X311b		; 30F8  28 21		(!
	push	hl		; 30FA  E5		e
	ld	hl,(X3232)	; 30FB  2A 32 32	*22
	call	X04df		; 30FE  CD DF 04	M_.
	res	3,h		; 3101  CB 9C		K.
	ld	(X3232),hl	; 3103  22 32 32	"22
	di			; 3106  F3		s
	ld	a,0ch		; 3107  3E 0C		>.
	out	(crt6545adst),a	; 3109  D3 8C		S.
	ld	a,h		; 310B  7C		|
	out	(crt6545data),a	; 310C  D3 8D		S.
	ld	a,0dh		; 310E  3E 0D		>.
	out	(crt6545adst),a	; 3110  D3 8C		S.
	ld	a,l		; 3112  7D		}
	out	(crt6545data),a	; 3113  D3 8D		S.
	ld	hl,X0780	; 3115  21 80 07	!..
	jp	X057f		; 3118  C3 7F 05	C..
;
X311b:	ld	hl,X0000	; 311B  21 00 00	!..
	ret			; 311E  C9		I
;
X311f:	ld	a,(X303b)	; 311F  3A 3B 30	:;0
	bit	2,a		; 3122  CB 57		KW
	call	nz,sycrsoff	; 3124  C4 8B F0	D.p
	push	de		; 3127  D5		U
	call	X048a		; 3128  CD 8A 04	M..
	pop	de		; 312B  D1		Q
X312c:	ld	(ix+5),a	; 312C  DD 77 05	]w.
	ret			; 312F  C9		I
;
X3130:	call	sycrsoff		; 3130  CD 7E F0	M~p
	xor	a		; 3133  AF		/
	jr	X312c		; 3134  18 F6		.v
;
	ORG	3139h
;
X3139:	in	a,(crt6545adst)	; 3139  DB 8C		[.
	bit	7,a		; 313B  CB 7F		K.
	jr	z,X3139		; 313D  28 FA		(z
	ex	(sp),hl		; 313F  E3		c
	ex	(sp),hl		; 3140  E3		c
	in	a,(crtram0dat)	; 3141  DB 80		[.
	ld	(hl),a		; 3143  77		w
	inc	hl		; 3144  23		#
	in	a,(crtram1dat)	; 3145  DB 84		[.
	ld	(hl),a		; 3147  77		w
	inc	hl		; 3148  23		#
	in	a,(crtram2dat)	; 3149  DB 88		[.
	ld	(hl),a		; 314B  77		w
	inc	hl		; 314C  23		#
	in	a,(crtram3port)	; 314D  DB 8E		[.
	ld	(hl),a		; 314F  77		w
X3150:	inc	hl		; 3150  23		#
	xor	a		; 3151  AF		/
	out	(crt6545data),a	; 3152  D3 8D		S.
	ret			; 3154  C9		I
;
X3155:	in	a,(crt6545adst)	; 3155  DB 8C		[.
	bit	7,a		; 3157  CB 7F		K.
	jr	z,X3155		; 3159  28 FA		(z
	ex	(sp),hl		; 315B  E3		c
	ex	(sp),hl		; 315C  E3		c
	ld	a,(hl)		; 315D  7E		~
	out	(crtram0dat),a	; 315E  D3 80		S.
	inc	hl		; 3160  23		#
	ld	a,(hl)		; 3161  7E		~
	out	(crtram1dat),a	; 3162  D3 84		S.
	inc	hl		; 3164  23		#
	ld	a,(hl)		; 3165  7E		~
	out	(crtram2dat),a	; 3166  D3 88		S.
	inc	hl		; 3168  23		#
	ld	a,(hl)		; 3169  7E		~
	out	(crtram3port),a	; 316A  D3 8E		S.
	jr	X3150		; 316C  18 E2		.b
;
X316e:	dec	bc		; 316E  0B		.
	nop			; 316F  00		.
	dec	bc		; 3170  0B		.
	ld	c,b		; 3171  48		H
	jr	X318c		; 3172  18 18		..
;
	nop			; 3174  00		.
	ld	a,(de)		; 3175  1A		.
	inc	h		; 3176  24		$
	inc	l		; 3177  2C		,
	jr	z,X31b1		; 3178  28 37		(7
X317a:	ld	de,(X3232)	; 317A  ED 5B 32 32	m[22
	add	hl,de		; 317E  19		.
	jp	sycrspos		; 317F  C3 60 F0	C`p
;
	di			; 3182  F3		s
	jp	X42aa		; 3183  C3 AA 42	C*B
;
X3186:	nop			; 3186  00		.
;
	ORG	3189h
;
X3189:	ex	(sp),hl		; 3189  E3		c
	ex	(sp),hl		; 318A  E3		c
	jp	syupdreg		; 318B  C3 6E F0	Cnp
;
	call	X2c05		; 318E  CD 05 2C	M.,
X3191:	cpl			; 3191  2F		/
	add	a,0cfh		; 3192  C6 CF		FO
	ld	(X319c),a	; 3194  32 9C 31	2.1
	exx			; 3197  D9		Y
	ld	hl,X303b	; 3198  21 3B 30	!;0
	res	1,(hl)		; 319B  CB 8E		K.
	cp	crtram3port	; 319D  FE 8E		~.
	di			; 319F  F3		s
	in	a,(crtservdat)	; 31A0  DB 89		[.
	res	1,a		; 31A2  CB 8F		K.
	ld	hl,crttab	; 31A4  21 F5 F2	!ur
	jr	z,X31ae		; 31A7  28 05		(.
	ld	hl,X316e	; 31A9  21 6E 31	!n1
	set	1,a		; 31AC  CB CF		KO
X31ae:	out	(crtservdat),a	; 31AE  D3 89		S.
	ld	b,0ch		; 31B0  06 0C		..
X31b2:	ld	a,b		; 31B2  78		x
	dec	a		; 31B3  3D		=
	out	(crt6545adst),a	; 31B4  D3 8C		S.
	ld	a,(hl)		; 31B6  7E		~
	out	(crt6545data),a	; 31B7  D3 8D		S.
	inc	hl		; 31B9  23		#
	djnz	X31b2		; 31BA  10 F6		.v
	ld	hl,(X3232)	; 31BC  2A 32 32	*22
	call	sycrspos		; 31BF  CD 60 F0	M`p
	ld	a,(X303b)	; 31C2  3A 3B 30	:;0
	bit	1,a		; 31C5  CB 4F		KO
	ld	hl,X03c0	; 31C7  21 C0 03	!@.
	ld	a,28h		; 31CA  3E 28		>(
	jr	nz,X31d0	; 31CC  20 02		 .
	add	a,a		; 31CE  87		.
	add	hl,hl		; 31CF  29		)
X31d0:	ld	(X04ab),a	; 31D0  32 AB 04	2+.
	ld	(X04e0),a	; 31D3  32 E0 04	2`.
	ld	(X409d),a	; 31D6  32 9D 40	2.@
	neg			; 31D9  ED 44		mD
	ld	(X04f6),a	; 31DB  32 F6 04	2v.
	ld	(X3116),hl	; 31DE  22 16 31	".1
	ld	(X3712),hl	; 31E1  22 12 37	".7
	dec	hl		; 31E4  2B		+
	ld	(X207b),hl	; 31E5  22 7B 20	"{
	inc	hl		; 31E8  23		#
	neg			; 31E9  ED 44		mD
	add	a,l		; 31EB  85		.
	ld	l,a		; 31EC  6F		o
	ld	(X0578),hl	; 31ED  22 78 05	"x.
	ei			; 31F0  FB		{
	exx			; 31F1  D9		Y
	ret			; 31F2  C9		I
;
	ORG	31f6h
;
X31f6:	ld	hl,X1c3d	; 31F6  21 3D 1C	!=.
	push	hl		; 31F9  E5		e
	ld	a,b		; 31FA  78		x
	cp	0fch		; 31FB  FE FC		~|
	ret	c		; 31FD  D8		X
	ld	b,0		; 31FE  06 00		..
	ex	de,hl		; 3200  EB		k
	ld	de,X35bf	; 3201  11 BF 35	.?5
	call	X1c00		; 3204  CD 00 1C	M..
	ld	a,b		; 3207  78		x
	cp	22h		; 3208  FE 22		~"
	ret	nc		; 320A  D0		P
	pop	hl		; 320B  E1		a
	pop	bc		; 320C  C1		A
	inc	c		; 320D  0C		.
	pop	hl		; 320E  E1		a
	ld	(hl),1		; 320F  36 01		6.
	inc	hl		; 3211  23		#
	jp	X1c5a		; 3212  C3 5A 1C	CZ.
;
X3215:	cp	1		; 3215  FE 01		~.
	jp	nz,X2b89	; 3217  C2 89 2B	B.+
	ld	a,(hl)		; 321A  7E		~
	inc	hl		; 321B  23		#
	push	hl		; 321C  E5		e
	ld	e,a		; 321D  5F		_
X321e:	ld	hl,X35bf	; 321E  21 BF 35	!?5
	jp	X2bac		; 3221  C3 AC 2B	C,+
;
X3224:	push	bc		; 3224  C5		E
	ld	b,a		; 3225  47		G
	ld	a,(hl)		; 3226  7E		~
	cp	1		; 3227  FE 01		~.
	ld	a,b		; 3229  78		x
	pop	bc		; 322A  C1		A
	jp	nz,X2335	; 322B  C2 35 23	B5#
	jp	X304f		; 322E  C3 4F 30	CO0
;
	ORG	3232h
;
X3232:	nop			; 3232  00		.
;
	defb	0,0,0,0,0,0,0,0				; 3233 ........
	defb	0,0,0,0,0				; 323B .....
;
	add	a,rst7sp3	; 3240  C6 3A		F:
	ld	h,a		; 3242  67		g
	ld	a,l		; 3243  7D		}
	call	X3248		; 3244  CD 48 32	MH2
	ld	a,h		; 3247  7C		|
X3248:	push	af		; 3248  F5		u
X3249:	in	a,(crt6545adst)	; 3249  DB 8C		[.
	bit	7,a		; 324B  CB 7F		K.
	jr	z,X3249		; 324D  28 FA		(z
	ex	(sp),hl		; 324F  E3		c
	ex	(sp),hl		; 3250  E3		c
	pop	af		; 3251  F1		q
	out	(crtram0dat),a	; 3252  D3 80		S.
	ld	a,0ffh		; 3254  3E FF		>.
	jp	outr3port		; 3256  C3 5A F0	CZp
;
	rlca			; 3259  07		.
	rlca			; 325A  07		.
	rlca			; 325B  07		.
	rlca			; 325C  07		.
	call	X3261		; 325D  CD 61 32	Ma2
	ld	a,(hl)		; 3260  7E		~
X3261:	and	0fh		; 3261  E6 0F		f.
	add	a,30h		; 3263  C6 30		F0
	cp	rst7sp3		; 3265  FE 3A		~:
	jr	c,X326b		; 3267  38 02		8.
	add	a,7		; 3269  C6 07		F.
X326b:	jr	X3248		; 326B  18 DB		.[
;
	ORG	3270h
;
	ld	a,1		; 3270  3E 01		>.
	out	(fdcdrvrcnt),a	; 3272  D3 D6		SV
	call	X3000		; 3274  CD 00 30	M.0
	pop	hl		; 3277  E1		a
	ret			; 3278  C9		I
;
	call	X03e3		; 3279  CD E3 03	Mc.
	and	d		; 327C  A2		"
	ret	z		; 327D  C8		H
	ld	a,e		; 327E  7B		{
	ret			; 327F  C9		I
;
	ld	a,e		; 3280  7B		{
	out	(fdcsectreg),a	; 3281  D3 D2		SR
	ld	a,d		; 3283  7A		z
	out	(fdcdatareg),a	; 3284  D3 D7		SW
	ret			; 3286  C9		I
;
	in	a,(fdccmdstatr)	; 3287  DB D0		[P
	push	af		; 3289  F5		u
	ld	a,fdccmdstatr	; 328A  3E D0		>P
	out	(fdccmdstatr),a	; 328C  D3 D0		SP
	pop	af		; 328E  F1		q
	ret			; 328F  C9		I
;
	add	hl,bc		; 3290  09		.
	ld	a,(bc)		; 3291  0A		.
	nop			; 3292  00		.
	out	(fdcdatareg),a	; 3293  D3 D7		SW
	ret			; 3295  C9		I
;
	nop			; 3296  00		.
	call	X03e3		; 3297  CD E3 03	Mc.
	and	d		; 329A  A2		"
	ret	z		; 329B  C8		H
	ld	a,e		; 329C  7B		{
	ret			; 329D  C9		I
;
	cp	1ah		; 329E  FE 1A		~.
	jr	nz,X32ae	; 32A0  20 0C		 .
	ld	hl,Xd7db	; 32A2  21 DB D7	![W
	ld	a,2		; 32A5  3E 02		>.
X32a7:	ld	(X46a7),hl	; 32A7  22 A7 46	"'F
	ld	(X46a9),a	; 32AA  32 A9 46	2)F
	ret			; 32AD  C9		I
;
X32ae:	ld	hl,Xd30a	; 32AE  21 0A D3	!.S
	ld	a,fdcdatareg	; 32B1  3E D7		>W
	jr	X32a7		; 32B3  18 F2		.r
;
	ld	a,7		; 32B5  3E 07		>.
X32b7:	ld	(X5140),a	; 32B7  32 40 51	2@Q
	jp	X4e99		; 32BA  C3 99 4E	C.N
;
	jr	X32b7		; 32BD  18 F8		.x
;
X32bf:	call	X002b		; 32BF  CD 2B 00	M+.
	or	a		; 32C2  B7		7
	ret	nz		; 32C3  C0		@
	jr	X32bf		; 32C4  18 F9		.y
;
	in	a,(fdccmdstatr)	; 32C6  DB D0		[P
	bit	1,a		; 32C8  CB 4F		KO
	ret			; 32CA  C9		I
;
	ld	a,(bc)		; 32CB  0A		.
	out	(fdcdatareg),a	; 32CC  D3 D7		SW
	inc	bc		; 32CE  03		.
	ret			; 32CF  C9		I
;
X32d0:	in	a,(fdccmdstatr)	; 32D0  DB D0		[P
	rrca			; 32D2  0F		.
	jr	c,X32d0		; 32D3  38 FB		8{
	ret			; 32D5  C9		I
;
	push	af		; 32D6  F5		u
	ld	a,1ah		; 32D7  3E 1A		>.
	out	(fdccmdstatr),a	; 32D9  D3 D0		SP
	nop			; 32DB  00		.
	push	af		; 32DC  F5		u
	pop	af		; 32DD  F1		q
	push	af		; 32DE  F5		u
	pop	af		; 32DF  F1		q
	ret			; 32E0  C9		I
;
	in	a,(fdccmdstatr)	; 32E1  DB D0		[P
	and	79h		; 32E3  E6 79		fy
	nop			; 32E5  00		.
	ret	z		; 32E6  C8		H
	push	af		; 32E7  F5		u
	ld	a,fdccmdstatr	; 32E8  3E D0		>P
	out	(fdccmdstatr),a	; 32EA  D3 D0		SP
	pop	af		; 32EC  F1		q
	ret			; 32ED  C9		I
;
	ei			; 32EE  FB		{
	pop	bc		; 32EF  C1		A
	ret			; 32F0  C9		I
;
X32f1:	push	hl		; 32F1  E5		e
	call	X04a9		; 32F2  CD A9 04	M).
	ld	a,l		; 32F5  7D		}
	pop	hl		; 32F6  E1		a
	sub	l		; 32F7  95		.
	ret			; 32F8  C9		I
;
X32f9:	call	X04f5		; 32F9  CD F5 04	Mu.
	ld	a,h		; 32FC  7C		|
	and	0f0h		; 32FD  E6 F0		fp
	ret	z		; 32FF  C8		H
	ld	a,e		; 3300  7B		{
	neg			; 3301  ED 44		mD
	ld	e,a		; 3303  5F		_
	ld	d,0		; 3304  16 00		..
	add	hl,de		; 3306  19		.
	ret			; 3307  C9		I
;
X3308:	call	X2328		; 3308  CD 28 23	M(#
	call	X0204		; 330B  CD 04 02	M..
	ld	hl,X4130	; 330E  21 30 41	!0A
	ld	de,X0000	; 3311  11 00 00	...
	ret			; 3314  C9		I
;
X3315:	call	X0384		; 3315  CD 84 03	M..
	push	bc		; 3318  C5		E
	ld	b,a		; 3319  47		G
	ld	a,c		; 331A  79		y
	ld	c,b		; 331B  48		H
	neg			; 331C  ED 44		mD
	jr	X3328		; 331E  18 08		..
;
X3320:	push	hl		; 3320  E5		e
	ld	hl,X0033	; 3321  21 33 00	!3.
	ex	(sp),hl		; 3324  E3		c
	push	bc		; 3325  C5		E
	ld	c,a		; 3326  4F		O
	ld	a,b		; 3327  78		x
X3328:	cp	0ah		; 3328  FE 0A		~.
	ld	a,c		; 332A  79		y
	pop	bc		; 332B  C1		A
	ret	c		; 332C  D8		X
	push	hl		; 332D  E5		e
	ld	l,a		; 332E  6F		o
	ld	a,h		; 332F  7C		|
	cp	5ah		; 3330  FE 5A		~Z
	ld	a,l		; 3332  7D		}
	pop	hl		; 3333  E1		a
	ret	c		; 3334  D8		X
X3335:	cp	xonc		; 3335  FE 11		~.
	ret	c		; 3337  D8		X
X3338:	jr	X3385		; 3338  18 4B		.K
;
	nop			; 333A  00		.
	nop			; 333B  00		.
	jr	z,X3343		; 333C  28 05		(.
	xor	a		; 333E  AF		/
	ld	(X409f),a	; 333F  32 9F 40	2.@
	ret			; 3342  C9		I
;
X3343:	ld	a,0c0h		; 3343  3E C0		>@
	ld	(X409f),a	; 3345  32 9F 40	2.@
	ret			; 3348  C9		I
;
	call	X0033		; 3349  CD 33 00	M3.
	jr	X3338		; 334C  18 EA		.j
;
X334e:	and	0e5h		; 334E  E6 E5		fe
	xor	1		; 3350  EE 01		n.
	jr	nz,X3362	; 3352  20 0E		 .
X3354:	in	a,(fdccmdstatr)	; 3354  DB D0		[P
	bit	1,a		; 3356  CB 4F		KO
	jr	z,X334e		; 3358  28 F4		(t
	push	af		; 335A  F5		u
	ld	a,c		; 335B  79		y
	out	(fdcdatareg),a	; 335C  D3 D7		SW
	pop	af		; 335E  F1		q
	djnz	X3354		; 335F  10 F3		.s
	ret			; 3361  C9		I
;
X3362:	ex	de,hl		; 3362  EB		k
	in	a,(fdccmdstatr)	; 3363  DB D0		[P
	push	af		; 3365  F5		u
	ld	a,fdccmdstatr	; 3366  3E D0		>P
	out	(fdccmdstatr),a	; 3368  D3 D0		SP
	pop	af		; 336A  F1		q
	jp	X5125		; 336B  C3 25 51	C%Q
;
	ld	a,5bh		; 336E  3E 5B		>[
	out	(fdccmdstatr),a	; 3370  D3 D0		SP
	jp	X507e		; 3372  C3 7E 50	C~P
;
X3375:	push	hl		; 3375  E5		e
X3376:	ld	a,(hl)		; 3376  7E		~
	cp	3		; 3377  FE 03		~.
	jr	z,X3383		; 3379  28 08		(.
	call	X3335		; 337B  CD 35 33	M53
	inc	hl		; 337E  23		#
	cp	0dh		; 337F  FE 0D		~.
	jr	nz,X3376	; 3381  20 F3		 s
X3383:	pop	hl		; 3383  E1		a
	ret			; 3384  C9		I
;
X3385:	cp	15h		; 3385  FE 15		~.
	ret	nc		; 3387  D0		P
	ex	af,af'		; 3388  08		.
	call	X32bf		; 3389  CD BF 32	M?2
	cp	blislowblok	; 338C  FE 40		~@
	ret	c		; 338E  D8		X
	cp	7bh		; 338F  FE 7B		~{
	ret	nc		; 3391  D0		P
	cp	blifastblok	; 3392  FE 60		~`
	jr	nc,X3399	; 3394  30 03		0.
	cp	5bh		; 3396  FE 5B		~[
	ret	nc		; 3398  D0		P
X3399:	pop	de		; 3399  D1		Q
	push	de		; 339A  D5		U
	ld	d,a		; 339B  57		W
	ld	a,e		; 339C  7B		{
	cp	33h		; 339D  FE 33		~3
	ld	a,d		; 339F  7A		z
	jr	nz,X33a3	; 33A0  20 01		 .
	pop	de		; 33A2  D1		Q
X33a3:	push	hl		; 33A3  E5		e
	exx			; 33A4  D9		Y
	ld	hl,X3efc	; 33A5  21 FC 3E	!|>
	push	hl		; 33A8  E5		e
	cp	5bh		; 33A9  FE 5B		~[
	jp	X6431		; 33AB  C3 31 64	C1d
;
	di			; 33AE  F3		s
	ld	a,0ah		; 33AF  3E 0A		>.
	out	(fdccmdstatr),a	; 33B1  D3 D0		SP
	push	bc		; 33B3  C5		E
	ld	bc,X0000	; 33B4  01 00 00	...
	jp	X33ef		; 33B7  C3 EF 33	Co3
;
	nop			; 33BA  00		.
	nop			; 33BB  00		.
	call	X32bf		; 33BC  CD BF 32	M?2
	jr	X33c4		; 33BF  18 03		..
;
	call	X002b		; 33C1  CD 2B 00	M+.
X33c4:	cp	blifastblok	; 33C4  FE 60		~`
	ret	m		; 33C6  F8		x
	cp	7bh		; 33C7  FE 7B		~{
	ret	p		; 33C9  F0		p
	res	5,a		; 33CA  CB AF		K/
	ret			; 33CC  C9		I
;
	push	bc		; 33CD  C5		E
	push	de		; 33CE  D5		U
	push	hl		; 33CF  E5		e
	ld	hl,Xec00	; 33D0  21 00 EC	!.l
	ld	(X4020),hl	; 33D3  22 20 40	" @
	ld	de,Xec01	; 33D6  11 01 EC	..l
	ld	bc,X01ff	; 33D9  01 FF 01	...
	ld	(hl),0bfh	; 33DC  36 BF		6?
	ldir			; 33DE  ED B0		m0
	pop	hl		; 33E0  E1		a
	pop	de		; 33E1  D1		Q
	pop	bc		; 33E2  C1		A
	ret			; 33E3  C9		I
;
	call	X33c4		; 33E4  CD C4 33	MD3
	cp	0dh		; 33E7  FE 0D		~.
	ret			; 33E9  C9		I
;
	call	X0040		; 33EA  CD 40 00	M@.
	jr	X33c4		; 33ED  18 D5		.U
;
X33ef:	call	X0060		; 33EF  CD 60 00	M`.
	pop	bc		; 33F2  C1		A
X33f3:	in	a,(fdccmdstatr)	; 33F3  DB D0		[P
	bit	5,a		; 33F5  CB 6F		Ko
	jr	nz,X33f3	; 33F7  20 FA		 z
	ret			; 33F9  C9		I
;
X33fa:	ld	a,(hl)		; 33FA  7E		~
	jp	X33c4		; 33FB  C3 C4 33	CD3
;
	call	X33fa		; 33FE  CD FA 33	Mz3
	cp	59h		; 3401  FE 59		~Y
	ret			; 3403  C9		I
;
	call	X33fa		; 3404  CD FA 33	Mz3
	ld	(X548d),a	; 3407  32 8D 54	2.T
	ret			; 340A  C9		I
;
X340b:	exx			; 340B  D9		Y
	in	a,(crtservdat)	; 340C  DB 89		[.
	bit	0,a		; 340E  CB 47		KG
	jr	z,X341a		; 3410  28 08		(.
	ld	hl,X43c0	; 3412  21 C0 43	!@C
	call	X28a7		; 3415  CD A7 28	M'(
	exx			; 3418  D9		Y
	ret			; 3419  C9		I
;
X341a:	ld	a,(X303b)	; 341A  3A 3B 30	:;0
	bit	1,a		; 341D  CB 4F		KO
	ld	a,28h		; 341F  3E 28		>(
	jr	nz,X3424	; 3421  20 01		 .
	add	a,a		; 3423  87		.
X3424:	ld	b,a		; 3424  47		G
	ld	c,18h		; 3425  0E 18		..
	ld	hl,X0000	; 3427  21 00 00	!..
	ex	af,af'		; 342A  08		.
X342b:	ld	a,0dh		; 342B  3E 0D		>.
	call	X003b		; 342D  CD 3B 00	M;.
	ld	a,b		; 3430  78		x
	push	hl		; 3431  E5		e
	ld	hl,X43da	; 3432  21 DA 43	!ZC
	cp	(hl)		; 3435  BE		>
	ld	(hl),0		; 3436  36 00		6.
	pop	hl		; 3438  E1		a
	ld	a,0ah		; 3439  3E 0A		>.
	call	z,X003b		; 343B  CC 3B 00	L;.
	ld	a,(X303b)	; 343E  3A 3B 30	:;0
	bit	1,a		; 3441  CB 4F		KO
	jr	z,X344f		; 3443  28 0A		(.
	ld	a,1fh		; 3445  3E 1F		>.
	call	X003b		; 3447  CD 3B 00	M;.
	ld	a,0eh		; 344A  3E 0E		>.
	call	X003b		; 344C  CD 3B 00	M;.
X344f:	ex	de,hl		; 344F  EB		k
	ld	hl,(X3232)	; 3450  2A 32 32	*22
	add	hl,de		; 3453  19		.
	call	X3189		; 3454  CD 89 31	M.1
	ld	hl,X3efc	; 3457  21 FC 3E	!|>
	call	X3139		; 345A  CD 39 31	M91
	dec	hl		; 345D  2B		+
	bit	4,(hl)		; 345E  CB 66		Kf
	ld	a,(X3efc)	; 3460  3A FC 3E	:|>
	ex	de,hl		; 3463  EB		k
	jr	nz,X3468	; 3464  20 02		 .
	ld	a,2eh		; 3466  3E 2E		>.
X3468:	cp	0c0h		; 3468  FE C0		~@
	jr	c,X346e		; 346A  38 02		8.
	ld	a,2eh		; 346C  3E 2E		>.
X346e:	cp	crtram0dat	; 346E  FE 80		~.
	jr	c,X3474		; 3470  38 02		8.
	add	a,20h		; 3472  C6 20		F
X3474:	jr	z,X347a		; 3474  28 04		(.
	cp	20h		; 3476  FE 20		~
	jr	nz,X3480	; 3478  20 06		 .
X347a:	push	hl		; 347A  E5		e
	ld	hl,X43da	; 347B  21 DA 43	!ZC
	nop			; 347E  00		.
	pop	hl		; 347F  E1		a
X3480:	call	X44ef		; 3480  CD EF 44	MoD
	inc	hl		; 3483  23		#
	djnz	X344f		; 3484  10 C9		.I
	dec	c		; 3486  0D		.
	xor	a		; 3487  AF		/
	or	c		; 3488  B1		1
	jr	z,X3490		; 3489  28 05		(.
	ex	af,af'		; 348B  08		.
	ld	b,a		; 348C  47		G
	ex	af,af'		; 348D  08		.
	jr	X342b		; 348E  18 9B		..
;
X3490:	ld	a,0eh		; 3490  3E 0E		>.
	out	(crt6545adst),a	; 3492  D3 8C		S.
	in	a,(crt6545data)	; 3494  DB 8D		[.
	ld	h,a		; 3496  67		g
	ld	a,0fh		; 3497  3E 0F		>.
	out	(crt6545adst),a	; 3499  D3 8C		S.
	in	a,(crt6545data)	; 349B  DB 8D		[.
	ld	l,a		; 349D  6F		o
	call	X3189		; 349E  CD 89 31	M.1
	ld	a,1eh		; 34A1  3E 1E		>.
	call	X003b		; 34A3  CD 3B 00	M;.
	jp	X03ff		; 34A6  C3 FF 03	C..
;
	nop			; 34A9  00		.
	ld	a,e		; 34AA  7B		{
	or	a		; 34AB  B7		7
	jp	nz,X429e	; 34AC  C2 9E 42	B.B
	ld	a,d		; 34AF  7A		z
	out	(fdcdatareg),a	; 34B0  D3 D7		SW
	ld	a,e		; 34B2  7B		{
	out	(fdccmdstatr),a	; 34B3  D3 D0		SP
	ld	a,17h		; 34B5  3E 17		>.
	out	(fdccmdstatr),a	; 34B7  D3 D0		SP
	ex	(sp),hl		; 34B9  E3		c
	ex	(sp),hl		; 34BA  E3		c
	jp	X429e		; 34BB  C3 9E 42	C.B
;
X34be:	nop			; 34BE  00		.
X34bf:	xor	a		; 34BF  AF		/
	jr	X34f0		; 34C0  18 2E		..
;
X34c2:	ld	hl,X4036	; 34C2  21 36 40	!6@
	call	X35a3		; 34C5  CD A3 35	M#5
	nop			; 34C8  00		.
	jr	z,X34bf		; 34C9  28 F4		(t
	res	7,a		; 34CB  CB BF		K?
	cp	(hl)		; 34CD  BE		>
	jr	nz,X34f3	; 34CE  20 23		 #
	push	af		; 34D0  F5		u
	push	bc		; 34D1  C5		E
	ld	bc,X0500	; 34D2  01 00 05	...
X34d5:	call	X35a3		; 34D5  CD A3 35	M#5
	nop			; 34D8  00		.
	jr	z,X3535		; 34D9  28 5A		(Z
	dec	bc		; 34DB  0B		.
	ld	a,b		; 34DC  78		x
	or	c		; 34DD  B1		1
	jr	nz,X34d5	; 34DE  20 F5		 u
	ld	a,(X34be)	; 34E0  3A BE 34	:>4
	or	a		; 34E3  B7		7
	ld	a,1		; 34E4  3E 01		>.
	ld	(X34be),a	; 34E6  32 BE 34	2>4
	ld	bc,X5000	; 34E9  01 00 50	..P
	jr	z,X34d5		; 34EC  28 E7		(g
	pop	bc		; 34EE  C1		A
	pop	af		; 34EF  F1		q
X34f0:	ld	(X34be),a	; 34F0  32 BE 34	2>4
X34f3:	ld	(hl),a		; 34F3  77		w
	sub	2		; 34F4  D6 02		V.
	ld	a,(hl)		; 34F6  7E		~
	ret	c		; 34F7  D8		X
	sub	5		; 34F8  D6 05		V.
	ld	a,(hl)		; 34FA  7E		~
	jr	c,X3539		; 34FB  38 3C		8<
	sub	1fh		; 34FD  D6 1F		V.
	ld	a,(hl)		; 34FF  7E		~
	jp	c,X03f1		; 3500  DA F1 03	Zq.
	cp	7fh		; 3503  FE 7F		~.
	jp	z,X03f1		; 3505  CA F1 03	Jq.
	ld	a,(X303a)	; 3508  3A 3A 30	::0
	cp	4		; 350B  FE 04		~.
	ld	a,(hl)		; 350D  7E		~
	ret	z		; 350E  C8		H
	sub	7bh		; 350F  D6 7B		V{
	ld	a,(hl)		; 3511  7E		~
	jp	nc,X03f1	; 3512  D2 F1 03	Rq.
	sub	61h		; 3515  D6 61		Va
	ld	a,(hl)		; 3517  7E		~
	res	5,a		; 3518  CB AF		K/
	ret	nc		; 351A  D0		P
	ld	a,(hl)		; 351B  7E		~
	sub	5bh		; 351C  D6 5B		V[
	ld	a,(hl)		; 351E  7E		~
	ret	nc		; 351F  D0		P
	sub	frdpbuf		; 3520  D6 41		VA
	ld	a,(hl)		; 3522  7E		~
	set	5,a		; 3523  CB EF		Ko
	ret	nc		; 3525  D0		P
	ld	a,(X303a)	; 3526  3A 3A 30	::0
	cp	3		; 3529  FE 03		~.
	ld	a,(hl)		; 352B  7E		~
	ret	z		; 352C  C8		H
	bit	4,a		; 352D  CB 67		Kg
	res	4,a		; 352F  CB A7		K'
	ret	nz		; 3531  C0		@
	set	4,a		; 3532  CB E7		Kg
	ret			; 3534  C9		I
;
X3535:	pop	bc		; 3535  C1		A
	pop	af		; 3536  F1		q
	xor	a		; 3537  AF		/
	ret			; 3538  C9		I
;
X3539:	ld	(X303a),a	; 3539  32 3A 30	2:0
	xor	a		; 353C  AF		/
	ret			; 353D  C9		I
;
X353e:	ld	(X3039),a	; 353E  32 39 30	290
	pop	af		; 3541  F1		q
	ret			; 3542  C9		I
;
	nop			; 3543  00		.
	nop			; 3544  00		.
	nop			; 3545  00		.
X3546:	out	(fdccmdstatr),a	; 3546  D3 D0		SP
	ex	(sp),hl		; 3548  E3		c
	ex	(sp),hl		; 3549  E3		c
	ld	a,fdccmdstatr	; 354A  3E D0		>P
	out	(fdccmdstatr),a	; 354C  D3 D0		SP
	ex	(sp),hl		; 354E  E3		c
	ex	(sp),hl		; 354F  E3		c
	ld	a,esc		; 3550  3E 1B		>.
	out	(fdccmdstatr),a	; 3552  D3 D0		SP
	pop	af		; 3554  F1		q
	ret			; 3555  C9		I
;
	push	af		; 3556  F5		u
	ld	a,(ix+0ah)	; 3557  DD 7E 0A	]~.
	add	a,(ix+0bh)	; 355A  DD 86 0B	]..
	cp	0		; 355D  FE 00		~.
	jr	nz,X3566	; 355F  20 05		 .
	inc	(ix+0ah)	; 3561  DD 34 0A	]4.
	dec	b		; 3564  05		.
	nop			; 3565  00		.
X3566:	pop	af		; 3566  F1		q
	jp	X4436		; 3567  C3 36 44	C6D
;
	push	af		; 356A  F5		u
	ld	a,(ix+0ah)	; 356B  DD 7E 0A	]~.
	add	a,(ix+0bh)	; 356E  DD 86 0B	]..
	cp	0		; 3571  FE 00		~.
	jr	nz,X357a	; 3573  20 05		 .
	inc	(ix+0ah)	; 3575  DD 34 0A	]4.
	dec	b		; 3578  05		.
	nop			; 3579  00		.
X357a:	pop	af		; 357A  F1		q
	jp	X4439		; 357B  C3 39 44	C9D
;
	inc	a		; 357E  3C		<
	nop			; 357F  00		.
	nop			; 3580  00		.
	nop			; 3581  00		.
	out	(fdcdrvrcnt),a	; 3582  D3 D6		SV
	push	af		; 3584  F5		u
	in	a,(fdctrakreg)	; 3585  DB D1		[Q
	out	(fdcdatareg),a	; 3587  D3 D7		SW
	ex	(sp),hl		; 3589  E3		c
	ex	(sp),hl		; 358A  E3		c
	ld	a,17h		; 358B  3E 17		>.
	out	(fdccmdstatr),a	; 358D  D3 D0		SP
	ex	(sp),hl		; 358F  E3		c
	ex	(sp),hl		; 3590  E3		c
	ld	a,fdccmdstatr	; 3591  3E D0		>P
	out	(fdccmdstatr),a	; 3593  D3 D0		SP
	ex	(sp),hl		; 3595  E3		c
	ex	(sp),hl		; 3596  E3		c
X3597:	in	a,(fdccmdstatr)	; 3597  DB D0		[P
	bit	0,a		; 3599  CB 47		KG
	jr	nz,X3597	; 359B  20 FA		 z
	ld	a,esc		; 359D  3E 1B		>.
	out	(fdccmdstatr),a	; 359F  D3 D0		SP
	pop	af		; 35A1  F1		q
	ret			; 35A2  C9		I
;
X35a3:	in	a,(crtkeybdat)	; 35A3  DB 85		[.
	cpl			; 35A5  2F		/
	bit	7,a		; 35A6  CB 7F		K.
	ret			; 35A8  C9		I
;
X35a9:	xor	a		; 35A9  AF		/
	ld	(X4315),a	; 35AA  32 15 43	2.C
	ld	a,(X3039)	; 35AD  3A 39 30	:90
	cp	1		; 35B0  FE 01		~.
	ret	z		; 35B2  C8		H
	in	a,(crtkeybdat)	; 35B3  DB 85		[.
	cpl			; 35B5  2F		/
	bit	7,a		; 35B6  CB 7F		K.
	jr	nz,X35bc	; 35B8  20 02		 .
	xor	a		; 35BA  AF		/
	ret			; 35BB  C9		I
;
X35bc:	and	7fh		; 35BC  E6 7F		f.
	ret			; 35BE  C9		I
;
X35bf:	defb	0,'A'+80h				; 35BF .A
	defb	'CCEPT$'				; 35C1
	defb	'B'+80h					; 35C7 B
	defb	'EEP'					; 35C8
	defb	'B'+80h					; 35CB B
	defb	'LINK'					; 35CC
	defb	'C'+80h					; 35D0 C
	defb	'ALL'					; 35D1
	defb	'C'+80h					; 35D4 C
	defb	'HANGE('				; 35D5
	defb	'C'+80h					; 35DB C
	defb	'IRCLE'					; 35DC
	defb	'C'+80h					; 35E1 C
	defb	'OUNT('					; 35E2
	defb	'C'+80h					; 35E7 C
	defb	'URS'					; 35E8
	defb	'G'+80h					; 35EB G
	defb	'RAPH'					; 35EC
	defb	'H'+80h					; 35F0 H
	defb	'LIGHT'					; 35F1
	defb	'H'+80h					; 35F6 H
	defb	'TRANS('				; 35F7
	defb	'K'+80h					; 35FD K
	defb	'EYIN$'					; 35FE
	defb	'K'+80h					; 3603 K
	defb	'EY'					; 3604
	defb	'O'+80h					; 3606 O
	defb	'FF'					; 3607
	defb	'L'+80h					; 3609 L
	defb	'COPY'					; 360A
	defb	'L'+80h					; 360E L
	defb	'DROP('					; 360F
	defb	'L'+80h					; 3614 L
	defb	'PAD('					; 3615
	defb	'L'+80h					; 3619 L
	defb	'TRANS('				; 361A
	defb	'L'+80h					; 3620 L
	defb	'TRIM('					; 3621
	defb	'M'+80h					; 3626 M
	defb	'ODE'					; 3627
	defb	fdccmdstatr				; 362A P
	defb	'AGE'					; 362B
	defb	fdccmdstatr				; 362E P
	defb	'I'					; 362F
	defb	fdcsectreg				; 3630 R
	defb	'DROP('					; 3631
	defb	fdcsectreg				; 3636 R
	defb	'PAD('					; 3637
	defb	fdcsectreg				; 363B R
	defb	'TRIM('					; 363C
	defb	'S'+80h					; 3641 S
	defb	'CROLL'					; 3642
	defb	'S'+80h					; 3647 S
	defb	'IZE'					; 3648
	defb	'S'+80h					; 364B S
	defb	'WAP'					; 364C
	defb	'T'+80h					; 364F T
	defb	'AKE'					; 3650
	defb	'T'+80h					; 3653 T
	defb	'RANS('					; 3654
	defb	'U'+80h					; 3659 U
	defb	'NDER'					; 365A
	defb	fdcdatareg				; 365E W
	defb	'AIT'					; 365F
	defb	'C'+80h					; 3662 C
	defb	'HAIN'					; 3663
X3667:	defb	crtram0dat,0				; 3667 ..
	defw	2ach		; 3669   AC 02      ,.
	defw	3063h		; 366B   63 30      c0
	defw	2c18h		; 366D   18 2C      .,
	defw	3898h		; 366F   98 38      .8
	defw	389eh		; 3671   9E 38      .8
	defw	1997h		; 3673   97 19      ..
	defw	3b65h		; 3675   65 3B      e;
	defw	3b9fh		; 3677   9F 3B      .;
	defw	21aah		; 3679   AA 21      *!
;
	defw	2c2fh		; 367B   2F 2C      /,
	defw	390ah		; 367D   0A 39      .9
	defw	2fdh		; 367F   FD 02      }.
	defw	37b1h		; 3681   B1 37      17
	defw	1997h		; 3683   97 19      ..
	defw	3f7h		; 3685   F7 03      w.
	defw	3a91h		; 3687   91 3A      .:
	defw	666ah		; 3689   6A 66      jf
	defw	390ah		; 368B   0A 39      .9
	defw	3956h		; 368D   56 39      V9
	defw	2c3dh		; 368F   3D 2C      =,
	defw	36c2h		; 3691   C2 36      B6
	defw	384dh		; 3693   4D 38      M8
	defw	3a91h		; 3695   91 3A      .:
	defw	666ah		; 3697   6A 66      jf
	defw	3956h		; 3699   56 39      V9
	defw	2c89h		; 369B   89 2C      .,
	defw	318eh		; 369D   8E 31      .1
	defw	3720h		; 369F   20 37       7
	defw	37ceh		; 36A1   CE 37      N7
	defw	39bfh		; 36A3   BF 39      ?9
	defw	2c28h		; 36A5   28 2C      (,
	defw	30b2h		; 36A7   B2 30      20
	defw	1997h		; 36A9   97 19      ..
	defw	0d0eh		; 36AB   0E 0D      ..
;
	defw	3b3ah		; 36AD   3A 3B      :;
;
;
	jr	nc,X367c	; 36AF  30 CB		0K
	ld	c,a		; 36B1  4F		O
	ld	a,28h		; 36B2  3E 28		>(
	jr	nz,X36b7	; 36B4  20 01		 .
	add	a,a		; 36B6  87		.
X36b7:	sub	c		; 36B7  91		.
	ld	hl,(X3232)	; 36B8  2A 32 32	*22
	ld	e,a		; 36BB  5F		_
	ld	d,0		; 36BC  16 00		..
	add	hl,de		; 36BE  19		.
	jp	X3189		; 36BF  C3 89 31	C.1
;
	pop	hl		; 36C2  E1		a
	push	hl		; 36C3  E5		e
	ld	bc,X252f	; 36C4  01 2F 25	./%
	sbc	hl,bc		; 36C7  ED 42		mB
	jr	z,X36d9		; 36C9  28 0E		(.
	ld	hl,(X303e)	; 36CB  2A 3E 30	*>0
	rst	10h		; 36CE  D7		W
	jp	z,SNERR		; 36CF  CA 97 19	J..
	call	X2b1b		; 36D2  CD 1B 2B	M.+
	ld	(X4028),a	; 36D5  32 28 40	2(@
	ret			; 36D8  C9		I
;
X36d9:	ld	hl,(X303e)	; 36D9  2A 3E 30	*>0
	rst	10h		; 36DC  D7		W
	ld	a,(X4028)	; 36DD  3A 28 40	:(@
	ex	(sp),hl		; 36E0  E3		c
	call	X27f8		; 36E1  CD F8 27	Mx'
	pop	hl		; 36E4  E1		a
	ret			; 36E5  C9		I
;
X36e6:	ld	a,20h		; 36E6  3E 20		>
X36e8:	di			; 36E8  F3		s
	push	de		; 36E9  D5		U
	push	hl		; 36EA  E5		e
	push	af		; 36EB  F5		u
	call	X317a		; 36EC  CD 7A 31	Mz1
	pop	af		; 36EF  F1		q
	call	X36f7		; 36F0  CD F7 36	Mw6
	pop	hl		; 36F3  E1		a
	pop	de		; 36F4  D1		Q
	ei			; 36F5  FB		{
	ret			; 36F6  C9		I
;
X36f7:	push	af		; 36F7  F5		u
X36f8:	in	a,(crt6545adst)	; 36F8  DB 8C		[.
	bit	7,a		; 36FA  CB 7F		K.
	jr	z,X36f8		; 36FC  28 FA		(z
	pop	af		; 36FE  F1		q
	push	af		; 36FF  F5		u
	ex	(sp),hl		; 3700  E3		c
	ex	(sp),hl		; 3701  E3		c
	out	(crtram0dat),a	; 3702  D3 80		S.
	ld	a,(gram3b)	; 3704  3A 43 30	:C0
	set	4,a		; 3707  CB E7		Kg
	out	(crtram3port),a	; 3709  D3 8E		S.
	xor	a		; 370B  AF		/
	out	(crt6545data),a	; 370C  D3 8D		S.
	pop	af		; 370E  F1		q
	ret			; 370F  C9		I
;
X3710:	push	hl		; 3710  E5		e
	ld	de,X0780	; 3711  11 80 07	...
	sbc	hl,de		; 3714  ED 52		mR
	pop	hl		; 3716  E1		a
	ret			; 3717  C9		I
;
	nop			; 3718  00		.
	nop			; 3719  00		.
	call	X2c6b		; 371A  CD 6B 2C	Mk,
	jp	X4ecf		; 371D  C3 CF 4E	CON
;
	ld	hl,(X303e)	; 3720  2A 3E 30	*>0
	rst	10h		; 3723  D7		W
	ld	c,0		; 3724  0E 00		..
	ld	e,17h		; 3726  1E 17		..
	jr	z,X3753		; 3728  28 29		()
	cp	2ch		; 372A  FE 2C		~,
	jr	nz,X3735	; 372C  20 07		 .
	ld	e,0		; 372E  1E 00		..
	call	X2b1b		; 3730  CD 1B 2B	M.+
	jr	X3744		; 3733  18 0F		..
;
X3735:	call	X2b1c		; 3735  CD 1C 2B	M.+
	rst	10h		; 3738  D7		W
	ld	c,e		; 3739  4B		K
	ld	e,17h		; 373A  1E 17		..
	jr	z,X3744		; 373C  28 06		(.
	dec	hl		; 373E  2B		+
	push	bc		; 373F  C5		E
	call	X2b17		; 3740  CD 17 2B	M.+
	pop	bc		; 3743  C1		A
X3744:	push	hl		; 3744  E5		e
	ld	hl,X1e4a	; 3745  21 4A 1E	!J.
	push	hl		; 3748  E5		e
	ld	a,c		; 3749  79		y
	cp	18h		; 374A  FE 18		~.
	ret	nc		; 374C  D0		P
	ld	a,e		; 374D  7B		{
	cp	18h		; 374E  FE 18		~.
	ret	nc		; 3750  D0		P
	pop	hl		; 3751  E1		a
	pop	hl		; 3752  E1		a
X3753:	push	hl		; 3753  E5		e
	di			; 3754  F3		s
	call	X21b3		; 3755  CD B3 21	M3!
	ld	b,e		; 3758  43		C
	inc	b		; 3759  04		.
	inc	c		; 375A  0C		.
	ld	de,(X3232)	; 375B  ED 5B 32 32	m[22
	ld	hl,X0028	; 375F  21 28 00	!(.
	ld	a,(X303b)	; 3762  3A 3B 30	:;0
	bit	1,a		; 3765  CB 4F		KO
	jr	nz,X376a	; 3767  20 01		 .
	add	hl,hl		; 3769  29		)
X376a:	ex	de,hl		; 376A  EB		k
	dec	hl		; 376B  2B		+
	push	hl		; 376C  E5		e
	push	de		; 376D  D5		U
	push	bc		; 376E  C5		E
	exx			; 376F  D9		Y
	pop	bc		; 3770  C1		A
	pop	de		; 3771  D1		Q
	pop	hl		; 3772  E1		a
X3773:	add	hl,de		; 3773  19		.
	djnz	X3773		; 3774  10 FD		.}
	exx			; 3776  D9		Y
	ld	b,c		; 3777  41		A
X3778:	add	hl,de		; 3778  19		.
	djnz	X3778		; 3779  10 FD		.}
	ld	b,e		; 377B  43		C
X377c:	push	hl		; 377C  E5		e
	call	X3189		; 377D  CD 89 31	M.1
	ld	hl,X3efc	; 3780  21 FC 3E	!|>
	call	X3139		; 3783  CD 39 31	M91
	ex	(sp),hl		; 3786  E3		c
	exx			; 3787  D9		Y
	call	X3189		; 3788  CD 89 31	M.1
	ex	(sp),hl		; 378B  E3		c
	call	X3139		; 378C  CD 39 31	M91
	pop	hl		; 378F  E1		a
	call	X3189		; 3790  CD 89 31	M.1
	dec	hl		; 3793  2B		+
	push	hl		; 3794  E5		e
	ld	hl,X3efc	; 3795  21 FC 3E	!|>
	call	X3155		; 3798  CD 55 31	MU1
	ex	(sp),hl		; 379B  E3		c
	exx			; 379C  D9		Y
	call	X3189		; 379D  CD 89 31	M.1
	ex	(sp),hl		; 37A0  E3		c
	call	X3155		; 37A1  CD 55 31	MU1
	pop	hl		; 37A4  E1		a
	dec	hl		; 37A5  2B		+
	djnz	X377c		; 37A6  10 D4		.T
	ld	hl,(X3186)	; 37A8  2A 86 31	*.1
	call	X3189		; 37AB  CD 89 31	M.1
	ei			; 37AE  FB		{
	pop	hl		; 37AF  E1		a
	ret			; 37B0  C9		I
;
	call	X65cd		; 37B1  CD CD 65	MMe
	rst	10h		; 37B4  D7		W
	ex	(sp),hl		; 37B5  E3		c
	nop			; 37B6  00		.
	call	X37c6		; 37B7  CD C6 37	MF7
	ld	hl,X37c1	; 37BA  21 C1 37	!A7
	push	hl		; 37BD  E5		e
	call	X01ab		; 37BE  CD AB 01	M+.
X37c1:	call	X2a0f		; 37C1  CD 0F 2A	M.*
	pop	hl		; 37C4  E1		a
	ret			; 37C5  C9		I
;
X37c6:	call	X1d9b		; 37C6  CD 9B 1D	M..
	or	a		; 37C9  B7		7
	jr	z,X37c6		; 37CA  28 FA		(z
	inc	a		; 37CC  3C		<
	ret			; 37CD  C9		I
;
	call	X65cd		; 37CE  CD CD 65	MMe
	ex	(sp),hl		; 37D1  E3		c
	pop	hl		; 37D2  E1		a
	call	X2828		; 37D3  CD 28 28	M((
	rst	10h		; 37D6  D7		W
	jp	z,SNERR		; 37D7  CA 97 19	J..
	cp	22h		; 37DA  FE 22		~"
	call	z,X21d0		; 37DC  CC D0 21	LP!
	dec	hl		; 37DF  2B		+
	call	X2b1b		; 37E0  CD 1B 2B	M.+
	or	a		; 37E3  B7		7
	jp	z,X1e4a		; 37E4  CA 4A 1E	JJ.
	cp	0f1h		; 37E7  FE F1		~q
	jp	nc,X1e4a	; 37E9  D2 4A 1E	RJ.
	ld	(X0370),a	; 37EC  32 70 03	2p.
	rst	8		; 37EF  CF		O
	inc	l		; 37F0  2C		,
	push	hl		; 37F1  E5		e
	call	X1bb3		; 37F2  CD B3 1B	M3.
	ld	a,0f0h		; 37F5  3E F0		>p
	ld	(X0370),a	; 37F7  32 70 03	2p.
	push	hl		; 37FA  E5		e
	ld	hl,X0000	; 37FB  21 00 00	!..
	ld	(X4121),hl	; 37FE  22 21 41	"!A
	pop	hl		; 3801  E1		a
	pop	bc		; 3802  C1		A
	jp	c,X1dbe		; 3803  DA BE 1D	Z>.
	inc	hl		; 3806  23		#
	ld	a,(hl)		; 3807  7E		~
	or	a		; 3808  B7		7
	dec	hl		; 3809  2B		+
	push	bc		; 380A  C5		E
	jp	z,X1f04		; 380B  CA 04 1F	J..
	ld	(hl),2ch	; 380E  36 2C		6,
	exx			; 3810  D9		Y
	ld	hl,X0218	; 3811  21 18 02	!..
	ld	(X2237),hl	; 3814  22 37 22	"7"
	xor	a		; 3817  AF		/
	ld	(X223c),a	; 3818  32 3C 22	2<"
	ld	(X223e),a	; 381B  32 3E 22	2>"
	ld	hl,X3827	; 381E  21 27 38	!'8
	ex	(sp),hl		; 3821  E3		c
	push	hl		; 3822  E5		e
	exx			; 3823  D9		Y
	jp	X21f5		; 3824  C3 F5 21	Cu!
;
X3827:	push	hl		; 3827  E5		e
	ld	hl,X22fe	; 3828  21 FE 22	!~"
	ld	(X2237),hl	; 382B  22 37 22	"7"
	ld	a,rst7sp3	; 382E  3E 3A		>:
	ld	(X223c),a	; 3830  32 3C 22	2<"
	ld	a,2ch		; 3833  3E 2C		>,
	ld	(X223e),a	; 3835  32 3E 22	2>"
	ld	hl,X0000	; 3838  21 00 00	!..
	call	X0232		; 383B  CD 32 02	M2.
	pop	hl		; 383E  E1		a
	ret			; 383F  C9		I
;
	defb	0					; 3840 .
;
	nop			; 3841  00		.
	nop			; 3842  00		.
	nop			; 3843  00		.
	nop			; 3844  00		.
	nop			; 3845  00		.
X3846:	push	af		; 3846  F5		u
	ld	a,b		; 3847  78		x
	ld	(X3839),a	; 3848  32 39 38	298
	pop	af		; 384B  F1		q
	ret			; 384C  C9		I
;
	pop	hl		; 384D  E1		a
	ld	bc,RUNCNT	; 384E  01 1E 1D	...
	sbc	hl,bc		; 3851  ED 42		mB
	jp	z,SNERR		; 3853  CA 97 19	J..
	call	X0aec		; 3856  CD EC 0A	Ml.
	ld	hl,X3865	; 3859  21 65 38	!e8
	ld	de,X411d	; 385C  11 1D 41	..A
	call	X09d2		; 385F  CD D2 09	MR.
	ld	hl,(X303e)	; 3862  2A 3E 30	*>0
X3865:	rst	10h		; 3865  D7		W
	ret			; 3866  C9		I
;
	scf			; 3867  37		7
	and	d		; 3868  A2		"
	jp	c,X490f		; 3869  DA 0F 49	Z.I
	add	a,d		; 386C  82		.
X386d:	push	hl		; 386D  E5		e
	ld	hl,X303d	; 386E  21 3D 30	!=0
	bit	0,(hl)		; 3871  CB 46		KF
	jr	z,X387d		; 3873  28 08		(.
	bit	2,(hl)		; 3875  CB 56		KV
	jr	nz,X387d	; 3877  20 04		 .
	out	(crtbeepport),a	; 3879  D3 8F		S.
	set	2,(hl)		; 387B  CB D6		KV
X387d:	pop	hl		; 387D  E1		a
	jp	X34c2		; 387E  C3 C2 34	CB4
;
X3881:	push	hl		; 3881  E5		e
	ld	hl,X303d	; 3882  21 3D 30	!=0
	res	2,(hl)		; 3885  CB 96		K.
	pop	hl		; 3887  E1		a
	jp	GETCHR		; 3888  C3 78 1D	Cx.
;
X388b:	ld	(X40f3),hl	; 388B  22 F3 40	"s@
	pop	de		; 388E  D1		Q
	ex	(sp),hl		; 388F  E3		c
	inc	hl		; 3890  23		#
	inc	hl		; 3891  23		#
	inc	hl		; 3892  23		#
	ex	(sp),hl		; 3893  E3		c
	push	de		; 3894  D5		U
	jp	X29da		; 3895  C3 DA 29	CZ)
;
	ld	hl,(X303e)	; 3898  2A 3E 30	*>0
	jp	X0325		; 389B  C3 25 03	C%.
;
	ld	hl,(X303e)	; 389E  2A 3E 30	*>0
	rst	10h		; 38A1  D7		W
	push	hl		; 38A2  E5		e
	call	X260d		; 38A3  CD 0D 26	M.&
	rst	8		; 38A6  CF		O
	inc	l		; 38A7  2C		,
	rst	20h		; 38A8  E7		g
	push	de		; 38A9  D5		U
	ex	af,af'		; 38AA  08		.
	call	X260d		; 38AB  CD 0D 26	M.&
	rst	8		; 38AE  CF		O
	add	hl,hl		; 38AF  29		)
	rst	20h		; 38B0  E7		g
	ld	b,0		; 38B1  06 00		..
	jr	nz,X38b6	; 38B3  20 01		 .
	inc	b		; 38B5  04		.
X38b6:	ex	af,af'		; 38B6  08		.
	jr	nz,X38ba	; 38B7  20 01		 .
	inc	b		; 38B9  04		.
X38ba:	ld	a,b		; 38BA  78		x
	cp	1		; 38BB  FE 01		~.
	jp	z,X1e4a		; 38BD  CA 4A 1E	JJ.
	or	a		; 38C0  B7		7
	jr	z,X38df		; 38C1  28 1C		(.
	pop	bc		; 38C3  C1		A
	ex	(sp),hl		; 38C4  E3		c
	ex	de,hl		; 38C5  EB		k
	push	bc		; 38C6  C5		E
	ld	d,(hl)		; 38C7  56		V
	inc	hl		; 38C8  23		#
	ld	c,(hl)		; 38C9  4E		N
	inc	hl		; 38CA  23		#
	ld	b,(hl)		; 38CB  46		F
	dec	hl		; 38CC  2B		+
	dec	hl		; 38CD  2B		+
	ex	(sp),hl		; 38CE  E3		c
	ld	e,(hl)		; 38CF  5E		^
	ld	(hl),d		; 38D0  72		r
	inc	hl		; 38D1  23		#
	ld	d,(hl)		; 38D2  56		V
	ld	(hl),c		; 38D3  71		q
	inc	hl		; 38D4  23		#
	ld	c,(hl)		; 38D5  4E		N
	ld	(hl),b		; 38D6  70		p
	pop	hl		; 38D7  E1		a
	ld	(hl),e		; 38D8  73		s
	inc	hl		; 38D9  23		#
	ld	(hl),d		; 38DA  72		r
	inc	hl		; 38DB  23		#
	ld	(hl),c		; 38DC  71		q
	pop	hl		; 38DD  E1		a
	ret			; 38DE  C9		I
;
X38df:	pop	hl		; 38DF  E1		a
	pop	hl		; 38E0  E1		a
	push	hl		; 38E1  E5		e
	call	X260d		; 38E2  CD 0D 26	M.&
	ld	de,X3efc	; 38E5  11 FC 3E	.|>
	rst	10h		; 38E8  D7		W
	push	hl		; 38E9  E5		e
	call	X1f26		; 38EA  CD 26 1F	M&.
	pop	hl		; 38ED  E1		a
	call	X260d		; 38EE  CD 0D 26	M.&
	rst	10h		; 38F1  D7		W
	ex	(sp),hl		; 38F2  E3		c
	push	hl		; 38F3  E5		e
	call	X1f26		; 38F4  CD 26 1F	M&.
	pop	hl		; 38F7  E1		a
	call	X260d		; 38F8  CD 0D 26	M.&
	rst	20h		; 38FB  E7		g
	add	a,3		; 38FC  C6 03		F.
	ld	b,a		; 38FE  47		G
	ld	hl,X3efc	; 38FF  21 FC 3E	!|>
X3902:	ld	a,(hl)		; 3902  7E		~
	ld	(de),a		; 3903  12		.
	inc	hl		; 3904  23		#
	inc	de		; 3905  13		.
	djnz	X3902		; 3906  10 FA		.z
	pop	hl		; 3908  E1		a
	ret			; 3909  C9		I
;
	ld	hl,(X303e)	; 390A  2A 3E 30	*>0
	cp	0bh		; 390D  FE 0B		~.
	ld	a,0eeh		; 390F  3E EE		>n
	jr	nz,X3915	; 3911  20 02		 .
	ld	a,0aeh		; 3913  3E AE		>.
X3915:	push	af		; 3915  F5		u
	call	X2338		; 3916  CD 38 23	M8#
	pop	af		; 3919  F1		q
	ld	(X3953),a	; 391A  32 53 39	2S9
	push	hl		; 391D  E5		e
	call	X39b4		; 391E  CD B4 39	M49
	exx			; 3921  D9		Y
	xor	a		; 3922  AF		/
	or	(hl)		; 3923  B6		6
	jp	z,X3a49		; 3924  CA 49 3A	JI:
	ld	c,a		; 3927  4F		O
	inc	hl		; 3928  23		#
	ld	e,(hl)		; 3929  5E		^
	inc	hl		; 392A  23		#
	ld	d,(hl)		; 392B  56		V
	ld	b,0		; 392C  06 00		..
	ld	hl,X3efc	; 392E  21 FC 3E	!|>
	ld	(hl),a		; 3931  77		w
	inc	hl		; 3932  23		#
	inc	hl		; 3933  23		#
	inc	hl		; 3934  23		#
	push	hl		; 3935  E5		e
	ex	de,hl		; 3936  EB		k
	ldir			; 3937  ED B0		m0
	pop	hl		; 3939  E1		a
	ld	b,a		; 393A  47		G
X393b:	ld	a,(hl)		; 393B  7E		~
	cp	7bh		; 393C  FE 7B		~{
	jr	nc,X394c	; 393E  30 0C		0.
	cp	frdpbuf		; 3940  FE 41		~A
	jr	c,X394c		; 3942  38 08		8.
	cp	61h		; 3944  FE 61		~a
	jr	nc,X3952	; 3946  30 0A		0.
	cp	5bh		; 3948  FE 5B		~[
	jr	c,X3952		; 394A  38 06		8.
X394c:	inc	hl		; 394C  23		#
	djnz	X393b		; 394D  10 EC		.l
	jp	X3a3b		; 394F  C3 3B 3A	C;:
;
X3952:	set	5,(hl)		; 3952  CB EE		Kn
	jr	X394c		; 3954  18 F6		.v
;
	ld	hl,(X303e)	; 3956  2A 3E 30	*>0
	push	af		; 3959  F5		u
	call	X2338		; 395A  CD 38 23	M8#
	pop	af		; 395D  F1		q
	ex	af,af'		; 395E  08		.
	push	hl		; 395F  E5		e
	call	X39b4		; 3960  CD B4 39	M49
	exx			; 3963  D9		Y
	xor	a		; 3964  AF		/
	or	(hl)		; 3965  B6		6
	ld	c,a		; 3966  4F		O
	jp	z,X3a49		; 3967  CA 49 3A	JI:
	ld	b,0		; 396A  06 00		..
	inc	hl		; 396C  23		#
	ld	e,(hl)		; 396D  5E		^
	inc	hl		; 396E  23		#
	ld	d,(hl)		; 396F  56		V
	ld	hl,X3efc	; 3970  21 FC 3E	!|>
	ld	(hl),a		; 3973  77		w
	inc	hl		; 3974  23		#
	inc	hl		; 3975  23		#
	inc	hl		; 3976  23		#
	ex	de,hl		; 3977  EB		k
	ex	af,af'		; 3978  08		.
	cp	19h		; 3979  FE 19		~.
	jr	nz,X3990	; 397B  20 13		 .
	push	hl		; 397D  E5		e
	add	hl,bc		; 397E  09		.
	ld	b,c		; 397F  41		A
X3980:	dec	hl		; 3980  2B		+
	ld	a,(hl)		; 3981  7E		~
	cp	20h		; 3982  FE 20		~
	jr	nz,X39ac	; 3984  20 26		 &
	push	hl		; 3986  E5		e
	ld	hl,X3efc	; 3987  21 FC 3E	!|>
	dec	(hl)		; 398A  35		5
	pop	hl		; 398B  E1		a
	djnz	X3980		; 398C  10 F2		.r
	jr	X39ac		; 398E  18 1C		..
;
X3990:	ld	b,c		; 3990  41		A
X3991:	ld	a,(hl)		; 3991  7E		~
	cp	20h		; 3992  FE 20		~
	jr	nz,X399f	; 3994  20 09		 .
	push	hl		; 3996  E5		e
	ld	hl,X3efc	; 3997  21 FC 3E	!|>
	dec	(hl)		; 399A  35		5
	pop	hl		; 399B  E1		a
	inc	hl		; 399C  23		#
	djnz	X3991		; 399D  10 F2		.r
X399f:	xor	a		; 399F  AF		/
	or	b		; 39A0  B0		0
	jp	z,X3a49		; 39A1  CA 49 3A	JI:
	ld	c,b		; 39A4  48		H
	ld	b,0		; 39A5  06 00		..
	ldir			; 39A7  ED B0		m0
	jp	X3a3b		; 39A9  C3 3B 3A	C;:
;
X39ac:	pop	hl		; 39AC  E1		a
	jr	X399f		; 39AD  18 F0		.p
;
X39af:	call	X2337		; 39AF  CD 37 23	M7#
	rst	8		; 39B2  CF		O
	inc	l		; 39B3  2C		,
X39b4:	ld	a,3		; 39B4  3E 03		>.
	call	X2819		; 39B6  CD 19 28	M.(
	exx			; 39B9  D9		Y
	call	X29d7		; 39BA  CD D7 29	MW)
	exx			; 39BD  D9		Y
	ret			; 39BE  C9		I
;
	ld	hl,(X303e)	; 39BF  2A 3E 30	*>0
	rst	10h		; 39C2  D7		W
	push	hl		; 39C3  E5		e
	call	X39af		; 39C4  CD AF 39	M/9
	push	hl		; 39C7  E5		e
	call	X39af		; 39C8  CD AF 39	M/9
	call	X2337		; 39CB  CD 37 23	M7#
	call	X39b4		; 39CE  CD B4 39	M49
	pop	bc		; 39D1  C1		A
	ex	(sp),hl		; 39D2  E3		c
	push	hl		; 39D3  E5		e
	push	bc		; 39D4  C5		E
	exx			; 39D5  D9		Y
	ld	a,(hl)		; 39D6  7E		~
	ex	af,af'		; 39D7  08		.
	inc	hl		; 39D8  23		#
	ld	a,(hl)		; 39D9  7E		~
	inc	hl		; 39DA  23		#
	ld	h,(hl)		; 39DB  66		f
	ld	l,a		; 39DC  6F		o
	pop	de		; 39DD  D1		Q
	ex	(sp),hl		; 39DE  E3		c
	ex	af,af'		; 39DF  08		.
	push	af		; 39E0  F5		u
	push	hl		; 39E1  E5		e
	ex	de,hl		; 39E2  EB		k
	call	X39af		; 39E3  CD AF 39	M/9
	exx			; 39E6  D9		Y
	ld	c,(hl)		; 39E7  4E		N
	inc	hl		; 39E8  23		#
	ld	a,(hl)		; 39E9  7E		~
	inc	hl		; 39EA  23		#
	ld	h,(hl)		; 39EB  66		f
	ld	l,a		; 39EC  6F		o
	pop	de		; 39ED  D1		Q
	push	hl		; 39EE  E5		e
	push	bc		; 39EF  C5		E
	ex	de,hl		; 39F0  EB		k
	call	X39af		; 39F1  CD AF 39	M/9
	exx			; 39F4  D9		Y
	ld	a,(hl)		; 39F5  7E		~
	or	a		; 39F6  B7		7
	jp	z,X3a8b		; 39F7  CA 8B 3A	J.:
	pop	bc		; 39FA  C1		A
	ld	b,a		; 39FB  47		G
	push	bc		; 39FC  C5		E
	ld	c,a		; 39FD  4F		O
	ld	b,0		; 39FE  06 00		..
	inc	hl		; 3A00  23		#
	ld	e,(hl)		; 3A01  5E		^
	inc	hl		; 3A02  23		#
	ld	d,(hl)		; 3A03  56		V
	ld	hl,X3efc	; 3A04  21 FC 3E	!|>
	ld	(hl),a		; 3A07  77		w
	inc	hl		; 3A08  23		#
	inc	hl		; 3A09  23		#
	inc	hl		; 3A0A  23		#
	push	hl		; 3A0B  E5		e
	ex	de,hl		; 3A0C  EB		k
	ldir			; 3A0D  ED B0		m0
	pop	hl		; 3A0F  E1		a
	pop	bc		; 3A10  C1		A
	pop	de		; 3A11  D1		Q
	pop	af		; 3A12  F1		q
	exx			; 3A13  D9		Y
	pop	hl		; 3A14  E1		a
	ld	b,0		; 3A15  06 00		..
	ld	c,a		; 3A17  4F		O
	add	hl,bc		; 3A18  09		.
	ex	de,hl		; 3A19  EB		k
	exx			; 3A1A  D9		Y
	push	bc		; 3A1B  C5		E
	push	hl		; 3A1C  E5		e
	exx			; 3A1D  D9		Y
	pop	hl		; 3A1E  E1		a
	pop	bc		; 3A1F  C1		A
	exx			; 3A20  D9		Y
	ex	af,af'		; 3A21  08		.
	ld	a,c		; 3A22  79		y
	or	a		; 3A23  B7		7
	jr	z,X3a3b		; 3A24  28 15		(.
X3a26:	push	bc		; 3A26  C5		E
	push	hl		; 3A27  E5		e
	ld	a,(de)		; 3A28  1A		.
X3a29:	cp	(hl)		; 3A29  BE		>
	jr	z,X3a50		; 3A2A  28 24		($
X3a2c:	inc	hl		; 3A2C  23		#
X3a2d:	djnz	X3a29		; 3A2D  10 FA		.z
	pop	hl		; 3A2F  E1		a
	pop	bc		; 3A30  C1		A
	dec	c		; 3A31  0D		.
	ex	af,af'		; 3A32  08		.
	or	a		; 3A33  B7		7
	jr	z,X3a37		; 3A34  28 01		(.
	dec	a		; 3A36  3D		=
X3a37:	ex	af,af'		; 3A37  08		.
	inc	de		; 3A38  13		.
	jr	nz,X3a26	; 3A39  20 EB		 k
X3a3b:	ld	hl,X3efc	; 3A3B  21 FC 3E	!|>
X3a3e:	ld	(X4121),hl	; 3A3E  22 21 41	"!A
	inc	hl		; 3A41  23		#
	ld	(hl),0ffh	; 3A42  36 FF		6.
	inc	hl		; 3A44  23		#
	ld	(hl),ram3buf	; 3A45  36 3E		6>
	pop	hl		; 3A47  E1		a
	ret			; 3A48  C9		I
;
X3a49:	ld	hl,X3efc	; 3A49  21 FC 3E	!|>
	ld	(hl),0		; 3A4C  36 00		6.
	jr	X3a3e		; 3A4E  18 EE		.n
;
X3a50:	ex	af,af'		; 3A50  08		.
	push	af		; 3A51  F5		u
	ex	af,af'		; 3A52  08		.
	pop	af		; 3A53  F1		q
	or	a		; 3A54  B7		7
	jr	z,X3a64		; 3A55  28 0D		(.
	exx			; 3A57  D9		Y
	push	de		; 3A58  D5		U
	neg			; 3A59  ED 44		mD
	add	a,e		; 3A5B  83		.
	ld	e,a		; 3A5C  5F		_
	ld	a,(de)		; 3A5D  1A		.
	pop	de		; 3A5E  D1		Q
	exx			; 3A5F  D9		Y
	ld	(hl),a		; 3A60  77		w
	ld	a,(de)		; 3A61  1A		.
	jr	X3a2c		; 3A62  18 C8		.H
;
X3a64:	push	hl		; 3A64  E5		e
	ld	hl,X3efc	; 3A65  21 FC 3E	!|>
	dec	(hl)		; 3A68  35		5
	pop	hl		; 3A69  E1		a
	jr	nz,X3a70	; 3A6A  20 04		 .
	pop	hl		; 3A6C  E1		a
	pop	hl		; 3A6D  E1		a
	jr	X3a3b		; 3A6E  18 CB		.K
;
X3a70:	push	bc		; 3A70  C5		E
	dec	b		; 3A71  05		.
	push	de		; 3A72  D5		U
	push	hl		; 3A73  E5		e
	jr	z,X3a81		; 3A74  28 0B		(.
	ld	d,h		; 3A76  54		T
	ld	e,l		; 3A77  5D		]
	ld	c,b		; 3A78  48		H
	ld	b,0		; 3A79  06 00		..
	inc	hl		; 3A7B  23		#
	ldir			; 3A7C  ED B0		m0
	pop	hl		; 3A7E  E1		a
	pop	de		; 3A7F  D1		Q
	pop	bc		; 3A80  C1		A
X3a81:	exx			; 3A81  D9		Y
	pop	hl		; 3A82  E1		a
	pop	bc		; 3A83  C1		A
	dec	b		; 3A84  05		.
	push	bc		; 3A85  C5		E
	push	hl		; 3A86  E5		e
	exx			; 3A87  D9		Y
	ld	a,(de)		; 3A88  1A		.
	jr	X3a2d		; 3A89  18 A2		."
;
X3a8b:	pop	hl		; 3A8B  E1		a
	pop	hl		; 3A8C  E1		a
	pop	hl		; 3A8D  E1		a
	pop	hl		; 3A8E  E1		a
	jr	X3a49		; 3A8F  18 B8		.8
;
	ld	hl,(X303e)	; 3A91  2A 3E 30	*>0
	push	af		; 3A94  F5		u
	rst	10h		; 3A95  D7		W
	call	X39af		; 3A96  CD AF 39	M/9
	dec	hl		; 3A99  2B		+
	call	X2b1b		; 3A9A  CD 1B 2B	M.+
	exx			; 3A9D  D9		Y
	ld	a,3		; 3A9E  3E 03		>.
	ld	(X40af),a	; 3AA0  32 AF 40	2/@
	ld	a,(hl)		; 3AA3  7E		~
	or	a		; 3AA4  B7		7
	exx			; 3AA5  D9		Y
	ex	(sp),hl		; 3AA6  E3		c
	jr	z,X3ab3		; 3AA7  28 0A		(.
	sub	e		; 3AA9  93		.
	jr	c,X3a49		; 3AAA  38 9D		8.
	jr	z,X3a49		; 3AAC  28 9B		(.
	push	hl		; 3AAE  E5		e
	exx			; 3AAF  D9		Y
	ld	b,0		; 3AB0  06 00		..
	ld	c,(hl)		; 3AB2  4E		N
X3ab3:	ld	de,X3efc	; 3AB3  11 FC 3E	.|>
	ld	(de),a		; 3AB6  12		.
	ex	af,af'		; 3AB7  08		.
	inc	hl		; 3AB8  23		#
	ld	a,(hl)		; 3AB9  7E		~
	inc	hl		; 3ABA  23		#
	ld	h,(hl)		; 3ABB  66		f
	ld	l,a		; 3ABC  6F		o
	inc	de		; 3ABD  13		.
	inc	de		; 3ABE  13		.
	inc	de		; 3ABF  13		.
	push	de		; 3AC0  D5		U
	ldir			; 3AC1  ED B0		m0
	pop	hl		; 3AC3  E1		a
	pop	af		; 3AC4  F1		q
	cp	17h		; 3AC5  FE 17		~.
	jp	z,X3a3b		; 3AC7  CA 3B 3A	J;:
	exx			; 3ACA  D9		Y
	ld	a,e		; 3ACB  7B		{
	exx			; 3ACC  D9		Y
	ld	c,a		; 3ACD  4F		O
	ld	b,0		; 3ACE  06 00		..
	ld	d,h		; 3AD0  54		T
	ld	e,l		; 3AD1  5D		]
	add	hl,bc		; 3AD2  09		.
	ex	af,af'		; 3AD3  08		.
	ld	c,a		; 3AD4  4F		O
	ldir			; 3AD5  ED B0		m0
	jp	X3a3b		; 3AD7  C3 3B 3A	C;:
;
X3ada:	call	X4436		; 3ADA  CD 36 44	M6D
	jr	z,X3ae3		; 3ADD  28 04		(.
	cp	6		; 3ADF  FE 06		~.
	jr	nz,X3b1b	; 3AE1  20 38		 8
X3ae3:	exx			; 3AE3  D9		Y
	ld	hl,X004f	; 3AE4  21 4F 00	!O.
	push	hl		; 3AE7  E5		e
	bit	0,(hl)		; 3AE8  CB 46		KF
	call	nz,X3b1b	; 3AEA  C4 1B 3B	D.;
	pop	hl		; 3AED  E1		a
	exx			; 3AEE  D9		Y
	or	a		; 3AEF  B7		7
	ret	z		; 3AF0  C8		H
	exx			; 3AF1  D9		Y
	xor	a		; 3AF2  AF		/
	ld	a,(X4309)	; 3AF3  3A 09 43	:.C
	rra			; 3AF6  1F		.
	ld	(X3b40),a	; 3AF7  32 40 3B	2@;
	ld	(hl),1		; 3AFA  36 01		6.
	push	hl		; 3AFC  E5		e
	ld	hl,X3b3a	; 3AFD  21 3A 3B	!:;
	ld	bc,X0190	; 3B00  01 90 01	...
	ld	d,h		; 3B03  54		T
	ld	e,l		; 3B04  5D		]
	call	X4442		; 3B05  CD 42 44	MBD
	call	X4436		; 3B08  CD 36 44	M6D
	pop	hl		; 3B0B  E1		a
	jr	nz,X3b2f	; 3B0C  20 21		 !
	exx			; 3B0E  D9		Y
	push	ix		; 3B0F  DD E5		]e
	push	de		; 3B11  D5		U
	pop	ix		; 3B12  DD E1		]a
	inc	(ix+0ah)	; 3B14  DD 34 0A	]4.
	pop	ix		; 3B17  DD E1		]a
	xor	a		; 3B19  AF		/
	ret			; 3B1A  C9		I
;
X3b1b:	ex	af,af'		; 3B1B  08		.
	ld	a,0c9h		; 3B1C  3E C9		>I
	ld	(X1b80),a	; 3B1E  32 80 1B	2..
	call	X1b4d		; 3B21  CD 4D 1B	MM.
	ld	a,0cdh		; 3B24  3E CD		>M
	ld	(X1b80),a	; 3B26  32 80 1B	2..
	xor	a		; 3B29  AF		/
	ld	(X004f),a	; 3B2A  32 4F 00	2O.
	ex	af,af'		; 3B2D  08		.
	ret			; 3B2E  C9		I
;
X3b2f:	ld	(hl),0		; 3B2F  36 00		6.
	pop	hl		; 3B31  E1		a
	exx			; 3B32  D9		Y
	call	X3b1b		; 3B33  CD 1B 3B	M.;
	ld	a,6		; 3B36  3E 06		>.
	or	a		; 3B38  B7		7
	ret			; 3B39  C9		I
;
X3b3a:	add	a,b		; 3B3A  80		.
	ld	b,b		; 3B3B  40		@
	nop			; 3B3C  00		.
	call	m,X003e		; 3B3D  FC 3E 00	|>.
X3b40:	nop			; 3B40  00		.
	ex	af,af'		; 3B41  08		.
	nop			; 3B42  00		.
	nop			; 3B43  00		.
	sub	b		; 3B44  90		.
	ld	bc,X0320	; 3B45  01 20 03	. .
	nop			; 3B48  00		.
	rra			; 3B49  1F		.
	ld	b,b		; 3B4A  40		@
	nop			; 3B4B  00		.
	jr	nz,X3b6d	; 3B4C  20 1F		 .
	jr	nz,X3b50	; 3B4E  20 00		 .
X3b50:	djnz	X3b71		; 3B50  10 1F		..
	ld	h,b		; 3B52  60		`
	nop			; 3B53  00		.
	jr	nc,X3b56	; 3B54  30 00		0.
X3b56:	nop			; 3B56  00		.
	nop			; 3B57  00		.
	nop			; 3B58  00		.
	nop			; 3B59  00		.
	nop			; 3B5A  00		.
	nop			; 3B5B  00		.
	nop			; 3B5C  00		.
	nop			; 3B5D  00		.
	nop			; 3B5E  00		.
	nop			; 3B5F  00		.
	nop			; 3B60  00		.
	nop			; 3B61  00		.
	nop			; 3B62  00		.
	nop			; 3B63  00		.
	nop			; 3B64  00		.
	pop	bc		; 3B65  C1		A
	ld	hl,X252f	; 3B66  21 2F 25	!/%
	sbc	hl,bc		; 3B69  ED 42		mB
	jp	nz,SNERR	; 3B6B  C2 97 19	B..
	xor	a		; 3B6E  AF		/
	ld	(X3b98),a	; 3B6F  32 98 3B	2.;
	inc	a		; 3B72  3C		<
	ld	(X3b82),a	; 3B73  32 82 3B	2.;
	ld	hl,(X303e)	; 3B76  2A 3E 30	*>0
	rst	10h		; 3B79  D7		W
	push	hl		; 3B7A  E5		e
X3b7b:	ld	de,X3b87	; 3B7B  11 87 3B	..;
	pop	hl		; 3B7E  E1		a
	push	hl		; 3B7F  E5		e
	push	de		; 3B80  D5		U
	ld	a,1		; 3B81  3E 01		>.
	push	af		; 3B83  F5		u
	jp	X5844		; 3B84  C3 44 58	CDX
;
X3b87:	ld	a,(X4121)	; 3B87  3A 21 41	:!A
	or	a		; 3B8A  B7		7
	jr	z,X3b97		; 3B8B  28 0A		(.
	inc	a		; 3B8D  3C		<
	ld	(X3b82),a	; 3B8E  32 82 3B	2.;
	ld	hl,X3b98	; 3B91  21 98 3B	!.;
	inc	(hl)		; 3B94  34		4
	jr	X3b7b		; 3B95  18 E4		.d
;
X3b97:	ld	a,0		; 3B97  3E 00		>.
	ld	(X4121),a	; 3B99  32 21 41	2!A
	ex	(sp),hl		; 3B9C  E3		c
	pop	hl		; 3B9D  E1		a
	ret			; 3B9E  C9		I
;
	ld	hl,(X303e)	; 3B9F  2A 3E 30	*>0
	inc	hl		; 3BA2  23		#
	ld	(X303e),hl	; 3BA3  22 3E 30	">0
	rst	8		; 3BA6  CF		O
	out	(28h),a		; 3BA7  D3 28		S(
	inc	e		; 3BA9  1C		.
	call	X2c05		; 3BAA  CD 05 2C	M.,
X3bad:	cpl			; 3BAD  2F		/
	add	a,fdcdatareg	; 3BAE  C6 D7		FW
X3bb0:	ld	(X3bb8),a	; 3BB0  32 B8 3B	28;
	exx			; 3BB3  D9		Y
	ld	hl,X303b	; 3BB4  21 3B 30	!;0
	res	2,(hl)		; 3BB7  CB 96		K.
	ld	a,(hl)		; 3BB9  7E		~
	bit	2,a		; 3BBA  CB 57		KW
	push	af		; 3BBC  F5		u
	call	nz,sycrsoff	; 3BBD  C4 8B F0	D.p
	pop	af		; 3BC0  F1		q
	call	z,sycrsoff		; 3BC1  CC 7E F0	L~p
	exx			; 3BC4  D9		Y
	ret			; 3BC5  C9		I
;
	ld	a,fdcdrvrcnt	; 3BC6  3E D6		>V
	jr	X3bb0		; 3BC8  18 E6		.f
;
X3bca:	xor	a		; 3BCA  AF		/
X3bcb:	sbc	hl,bc		; 3BCB  ED 42		mB
	inc	a		; 3BCD  3C		<
	jr	nc,X3bcb	; 3BCE  30 FB		0{
	dec	a		; 3BD0  3D		=
	add	hl,bc		; 3BD1  09		.
	ret			; 3BD2  C9		I
;
X3bd3:	ld	a,e		; 3BD3  7B		{
	ld	(X0183),a	; 3BD4  32 83 01	2..
	ld	a,b		; 3BD7  78		x
	ld	(X3c20),a	; 3BD8  32 20 3C	2 <
	ld	a,c		; 3BDB  79		y
	ld	(X3c28),a	; 3BDC  32 28 3C	2(<
	exx			; 3BDF  D9		Y
	nop			; 3BE0  00		.
	nop			; 3BE1  00		.
	nop			; 3BE2  00		.
	nop			; 3BE3  00		.
	nop			; 3BE4  00		.
	ex	af,af'		; 3BE5  08		.
	di			; 3BE6  F3		s
	ld	(X3c0e),sp	; 3BE7  ED 73 0E 3C	ms.<
	cp	0ddh		; 3BEB  FE DD		~]
	jp	z,X3d20		; 3BED  CA 20 3D	J =
	cp	9ch		; 3BF0  FE 9C		~.
	jr	z,X3c15		; 3BF2  28 21		(!
	cp	28h		; 3BF4  FE 28		~(
	jp	z,X3e18		; 3BF6  CA 18 3E	J.>
	call	X017d		; 3BF9  CD 7D 01	M}.
	ld	(X3d11),bc	; 3BFC  ED 43 11 3D	mC.=
	ld	(X3d0e),de	; 3C00  ED 53 0E 3D	mS.=
	ld	(X3c11),hl	; 3C04  22 11 3C	".<
	call	X3c1d		; 3C07  CD 1D 3C	M.<
X3c0a:	call	X4cee		; 3C0A  CD EE 4C	MnL
X3c0d:	ld	sp,Xdfbf	; 3C0D  31 BF DF	1?_
	ld	hl,X0000	; 3C10  21 00 00	!..
	ei			; 3C13  FB		{
	ret			; 3C14  C9		I
;
X3c15:	call	X3cf7		; 3C15  CD F7 3C	Mw<
X3c18:	call	X3d60		; 3C18  CD 60 3D	M`=
	jr	X3c0a		; 3C1B  18 ED		.m
;
X3c1d:	push	bc		; 3C1D  C5		E
	ex	de,hl		; 3C1E  EB		k
	ld	bc,X0002	; 3C1F  01 02 00	...
	call	X3bca		; 3C22  CD CA 3B	MJ;
	ld	h,a		; 3C25  67		g
	ex	de,hl		; 3C26  EB		k
	ld	c,3		; 3C27  0E 03		..
	pop	hl		; 3C29  E1		a
	call	X3bca		; 3C2A  CD CA 3B	MJ;
	ld	c,l		; 3C2D  4D		M
	ld	b,a		; 3C2E  47		G
	ld	l,d		; 3C2F  6A		j
	or	a		; 3C30  B7		7
	jr	z,X3c3b		; 3C31  28 08		(.
	push	de		; 3C33  D5		U
	ld	de,X0028	; 3C34  11 28 00	.(.
X3c37:	add	hl,de		; 3C37  19		.
	djnz	X3c37		; 3C38  10 FD		.}
	pop	de		; 3C3A  D1		Q
X3c3b:	ld	a,e		; 3C3B  7B		{
	bit	0,c		; 3C3C  CB 41		KA
	jr	z,X3c42		; 3C3E  28 02		(.
	add	a,4		; 3C40  C6 04		F.
X3c42:	ld	b,a		; 3C42  47		G
	xor	a		; 3C43  AF		/
	or	c		; 3C44  B1		1
	rra			; 3C45  1F		.
	ld	c,a		; 3C46  4F		O
	ex	de,hl		; 3C47  EB		k
	ld	hl,(X3232)	; 3C48  2A 32 32	*22
	add	hl,de		; 3C4B  19		.
	call	X3189		; 3C4C  CD 89 31	M.1
	ld	hl,gram2b	; 3C4F  21 42 30	!B0
X3c52:	in	a,(crt6545adst)	; 3C52  DB 8C		[.
	bit	7,a		; 3C54  CB 7F		K.
	jr	z,X3c52		; 3C56  28 FA		(z
	ex	(sp),hl		; 3C58  E3		c
	ex	(sp),hl		; 3C59  E3		c
	in	a,(crtram3port)	; 3C5A  DB 8E		[.
	ld	(X3c72),a	; 3C5C  32 72 3C	2r<
	in	a,(crtram2dat)	; 3C5F  DB 88		[.
	ld	(hl),a		; 3C61  77		w
	dec	hl		; 3C62  2B		+
	in	a,(crtram1dat)	; 3C63  DB 84		[.
	ld	(hl),a		; 3C65  77		w
	dec	hl		; 3C66  2B		+
	in	a,(crtram0dat)	; 3C67  DB 80		[.
	ld	(hl),a		; 3C69  77		w
	ld	a,(X3c28)	; 3C6A  3A 28 3C	:(<
	cp	3		; 3C6D  FE 03		~.
	jr	z,X3ca4		; 3C6F  28 33		(3
	ld	a,0		; 3C71  3E 00		>.
	bit	4,a		; 3C73  CB 67		Kg
	jr	z,X3c7f		; 3C75  28 08		(.
	push	hl		; 3C77  E5		e
	xor	a		; 3C78  AF		/
	ld	(hl),a		; 3C79  77		w
	inc	hl		; 3C7A  23		#
	ld	(hl),a		; 3C7B  77		w
	inc	hl		; 3C7C  23		#
	ld	(hl),a		; 3C7D  77		w
	pop	hl		; 3C7E  E1		a
X3c7f:	ld	a,(X3ccb)	; 3C7F  3A CB 3C	:K<
	add	a,ftrkbuf	; 3C82  C6 46		FF
	ld	(X3c8f),a	; 3C84  32 8F 3C	2.<
	ld	a,c		; 3C87  79		y
	add	a,l		; 3C88  85		.
	ld	l,a		; 3C89  6F		o
	ld	a,b		; 3C8A  78		x
	rla			; 3C8B  17		.
	rla			; 3C8C  17		.
	rla			; 3C8D  17		.
	or	0c6h		; 3C8E  F6 C6		vF
	ld	(X3c94),a	; 3C90  32 94 3C	2.<
	set	0,(hl)		; 3C93  CB C6		KF
	push	af		; 3C95  F5		u
	ld	a,(X3ccb)	; 3C96  3A CB 3C	:K<
	or	a		; 3C99  B7		7
	jr	z,X3c9f		; 3C9A  28 03		(.
	pop	af		; 3C9C  F1		q
	jr	X3cd8		; 3C9D  18 39		.9
;
X3c9f:	pop	af		; 3C9F  F1		q
	ld	a,0		; 3CA0  3E 00		>.
	jr	X3ce6		; 3CA2  18 42		.B
;
X3ca4:	bit	0,c		; 3CA4  CB 41		KA
	jr	z,X3cb2		; 3CA6  28 0A		(.
	ld	a,0a0h		; 3CA8  3E A0		>
	bit	0,b		; 3CAA  CB 40		K@
	jr	nz,X3cc3	; 3CAC  20 15		 .
	ld	a,90h		; 3CAE  3E 90		>.
	jr	X3cc3		; 3CB0  18 11		..
;
X3cb2:	bit	2,b		; 3CB2  CB 50		KP
	jr	z,X3cc0		; 3CB4  28 0A		(.
	ld	a,crtram1dat	; 3CB6  3E 84		>.
	bit	0,b		; 3CB8  CB 40		K@
	jr	z,X3cc3		; 3CBA  28 07		(.
	ld	a,crtram2dat	; 3CBC  3E 88		>.
	jr	X3cc3		; 3CBE  18 03		..
;
X3cc0:	ld	a,crtprntdat	; 3CC0  3E 81		>.
	add	a,b		; 3CC2  80		.
X3cc3:	push	af		; 3CC3  F5		u
	ld	a,crtram0dat	; 3CC4  3E 80		>.
	cp	(hl)		; 3CC6  BE		>
	jr	c,X3cca		; 3CC7  38 01		8.
	ld	(hl),a		; 3CC9  77		w
X3cca:	ld	a,0		; 3CCA  3E 00		>.
	or	a		; 3CCC  B7		7
	jr	z,X3ce2		; 3CCD  28 13		(.
	cp	blislowblok	; 3CCF  FE 40		~@
	jr	z,X3cdb		; 3CD1  28 08		(.
	pop	af		; 3CD3  F1		q
	or	(hl)		; 3CD4  B6		6
X3cd5:	and	0bfh		; 3CD5  E6 BF		f?
	ld	(hl),a		; 3CD7  77		w
X3cd8:	jp	sygrout		; 3CD8  C3 44 F0	CDp
;
X3cdb:	pop	af		; 3CDB  F1		q
	sub	crtram0dat	; 3CDC  D6 80		V.
	cpl			; 3CDE  2F		/
	and	(hl)		; 3CDF  A6		&
	jr	X3cd5		; 3CE0  18 F3		.s
;
X3ce2:	pop	af		; 3CE2  F1		q
	sub	crtram0dat	; 3CE3  D6 80		V.
	and	(hl)		; 3CE5  A6		&
X3ce6:	jr	nz,X3cf2	; 3CE6  20 0A		 .
	ld	hl,(X3232)	; 3CE8  2A 32 32	*22
	add	hl,de		; 3CEB  19		.
	call	sycrspos		; 3CEC  CD 60 F0	M`p
	xor	a		; 3CEF  AF		/
	jr	X3cf4		; 3CF0  18 02		..
;
X3cf2:	ld	a,0ffh		; 3CF2  3E FF		>.
X3cf4:	jp	X098d		; 3CF4  C3 8D 09	C..
;
X3cf7:	ld	a,(hl)		; 3CF7  7E		~
	cp	0ceh		; 3CF8  FE CE		~N
	jr	z,X3d07		; 3CFA  28 0B		(.
	call	X017d		; 3CFC  CD 7D 01	M}.
	ld	(X3d11),bc	; 3CFF  ED 43 11 3D	mC.=
	ld	(X3d0e),de	; 3D03  ED 53 0E 3D	mS.=
X3d07:	rst	8		; 3D07  CF		O
	adc	a,0cdh		; 3D08  CE CD		NM
	ld	a,l		; 3D0A  7D		}
	ld	bc,X11d9	; 3D0B  01 D9 11	.Y.
X3d0e:	nop			; 3D0E  00		.
	nop			; 3D0F  00		.
	ld	bc,X0000	; 3D10  01 00 00	...
	exx			; 3D13  D9		Y
	ld	(X3d11),bc	; 3D14  ED 43 11 3D	mC.=
	ld	(X3d0e),de	; 3D18  ED 53 0E 3D	mS.=
	ld	(X3c11),hl	; 3D1C  22 11 3C	".<
	ret			; 3D1F  C9		I
;
X3d20:	call	X3cf7		; 3D20  CD F7 3C	Mw<
	push	de		; 3D23  D5		U
	push	bc		; 3D24  C5		E
	exx			; 3D25  D9		Y
	push	de		; 3D26  D5		U
	push	bc		; 3D27  C5		E
	exx			; 3D28  D9		Y
	pop	bc		; 3D29  C1		A
	push	bc		; 3D2A  C5		E
	call	X3d60		; 3D2B  CD 60 3D	M`=
	pop	bc		; 3D2E  C1		A
	pop	af		; 3D2F  F1		q
	pop	hl		; 3D30  E1		a
	pop	de		; 3D31  D1		Q
	push	de		; 3D32  D5		U
	push	hl		; 3D33  E5		e
	push	af		; 3D34  F5		u
	push	bc		; 3D35  C5		E
	exx			; 3D36  D9		Y
	pop	af		; 3D37  F1		q
	pop	hl		; 3D38  E1		a
	pop	bc		; 3D39  C1		A
	pop	de		; 3D3A  D1		Q
	push	de		; 3D3B  D5		U
	push	bc		; 3D3C  C5		E
	push	hl		; 3D3D  E5		e
	push	af		; 3D3E  F5		u
	call	X3d60		; 3D3F  CD 60 3D	M`=
	pop	af		; 3D42  F1		q
	pop	hl		; 3D43  E1		a
	pop	bc		; 3D44  C1		A
	pop	de		; 3D45  D1		Q
	push	de		; 3D46  D5		U
	push	bc		; 3D47  C5		E
	push	hl		; 3D48  E5		e
	push	af		; 3D49  F5		u
	exx			; 3D4A  D9		Y
	pop	hl		; 3D4B  E1		a
	pop	de		; 3D4C  D1		Q
	pop	bc		; 3D4D  C1		A
	pop	af		; 3D4E  F1		q
	push	bc		; 3D4F  C5		E
	push	de		; 3D50  D5		U
	push	hl		; 3D51  E5		e
	call	X3d60		; 3D52  CD 60 3D	M`=
	pop	hl		; 3D55  E1		a
	pop	de		; 3D56  D1		Q
	pop	bc		; 3D57  C1		A
	push	de		; 3D58  D5		U
	push	hl		; 3D59  E5		e
	exx			; 3D5A  D9		Y
	pop	bc		; 3D5B  C1		A
	pop	de		; 3D5C  D1		Q
	jp	X3c18		; 3D5D  C3 18 3C	C.<
;
X3d60:	ld	a,2		; 3D60  3E 02		>.
	ld	(X3deb),a	; 3D62  32 EB 3D	2k=
	exx			; 3D65  D9		Y
	push	bc		; 3D66  C5		E
	push	de		; 3D67  D5		U
	exx			; 3D68  D9		Y
	pop	hl		; 3D69  E1		a
	push	bc		; 3D6A  C5		E
	call	X0bc7		; 3D6B  CD C7 0B	MG.
	pop	de		; 3D6E  D1		Q
	ex	(sp),hl		; 3D6F  E3		c
	call	X0bc7		; 3D70  CD C7 0B	MG.
	pop	de		; 3D73  D1		Q
	ex	de,hl		; 3D74  EB		k
	ld	a,h		; 3D75  7C		|
	and	0f0h		; 3D76  E6 F0		fp
	push	af		; 3D78  F5		u
	ex	af,af'		; 3D79  08		.
	pop	af		; 3D7A  F1		q
	ld	a,20h		; 3D7B  3E 20		>
	jr	nz,X3d81	; 3D7D  20 02		 .
	ld	a,28h		; 3D7F  3E 28		>(
X3d81:	ld	(X3dea),a	; 3D81  32 EA 3D	2j=
	ld	a,h		; 3D84  7C		|
	or	l		; 3D85  B5		5
	jr	nz,X3da2	; 3D86  20 1A		 .
	ld	a,d		; 3D88  7A		z
	or	e		; 3D89  B3		3
	jr	z,X3da1		; 3D8A  28 15		(.
	push	de		; 3D8C  D5		U
	ld	a,d		; 3D8D  7A		z
	ld	hl,X0318	; 3D8E  21 18 03	!..
	ld	(X3dea),hl	; 3D91  22 EA 3D	"j=
	ld	hl,X0001	; 3D94  21 01 00	!..
	ld	d,h		; 3D97  54		T
	ld	e,l		; 3D98  5D		]
	and	0f0h		; 3D99  E6 F0		fp
	jr	z,X3da3		; 3D9B  28 06		(.
	or	a		; 3D9D  B7		7
	ex	af,af'		; 3D9E  08		.
	jr	X3da3		; 3D9F  18 02		..
;
X3da1:	inc	hl		; 3DA1  23		#
X3da2:	push	hl		; 3DA2  E5		e
X3da3:	call	X2490		; 3DA3  CD 90 24	M.$
	ex	af,af'		; 3DA6  08		.
	call	nz,X0982	; 3DA7  C4 82 09	D..
	call	X0adb		; 3DAA  CD DB 0A	M[.
	call	X09bf		; 3DAD  CD BF 09	M?.
	ld	(X3e00),bc	; 3DB0  ED 43 00 3E	mC.>
	ld	(X3e03),de	; 3DB4  ED 53 03 3E	mS.>
	exx			; 3DB8  D9		Y
	push	bc		; 3DB9  C5		E
	push	de		; 3DBA  D5		U
	ld	h,b		; 3DBB  60		`
	ld	l,c		; 3DBC  69		i
	call	X0a9a		; 3DBD  CD 9A 0A	M..
	call	X0adb		; 3DC0  CD DB 0A	M[.
	call	X0708		; 3DC3  CD 08 07	M..
	call	X09bf		; 3DC6  CD BF 09	M?.
	exx			; 3DC9  D9		Y
	pop	de		; 3DCA  D1		Q
	pop	bc		; 3DCB  C1		A
	pop	hl		; 3DCC  E1		a
	ld	a,h		; 3DCD  7C		|
	and	0f0h		; 3DCE  E6 F0		fp
	jr	z,X3dd4		; 3DD0  28 02		(.
	dec	hl		; 3DD2  2B		+
	dec	hl		; 3DD3  2B		+
X3dd4:	inc	hl		; 3DD4  23		#
	push	hl		; 3DD5  E5		e
X3dd6:	push	de		; 3DD6  D5		U
	call	X3c1d		; 3DD7  CD 1D 3C	M.<
	pop	de		; 3DDA  D1		Q
	pop	hl		; 3DDB  E1		a
	jr	nz,X3de7	; 3DDC  20 09		 .
	ld	a,(X3ccb)	; 3DDE  3A CB 3C	:K<
	or	a		; 3DE1  B7		7
	pop	bc		; 3DE2  C1		A
	jp	z,X3c0a		; 3DE3  CA 0A 3C	J.<
	push	bc		; 3DE6  C5		E
X3de7:	ld	a,d		; 3DE7  7A		z
	and	0f0h		; 3DE8  E6 F0		fp
X3dea:	jr	z,X3dee		; 3DEA  28 02		(.
	dec	de		; 3DEC  1B		.
	dec	de		; 3DED  1B		.
X3dee:	inc	de		; 3DEE  13		.
	ld	a,h		; 3DEF  7C		|
	and	0f0h		; 3DF0  E6 F0		fp
	jr	z,X3df6		; 3DF2  28 02		(.
	inc	hl		; 3DF4  23		#
	inc	hl		; 3DF5  23		#
X3df6:	dec	hl		; 3DF6  2B		+
	ld	a,h		; 3DF7  7C		|
	or	l		; 3DF8  B5		5
	ret	z		; 3DF9  C8		H
	push	hl		; 3DFA  E5		e
	push	de		; 3DFB  D5		U
	call	X0aec		; 3DFC  CD EC 0A	Ml.
	ld	bc,X0000	; 3DFF  01 00 00	...
	ld	de,X0000	; 3E02  11 00 00	...
	call	X09b4		; 3E05  CD B4 09	M4.
	exx			; 3E08  D9		Y
	call	X0716		; 3E09  CD 16 07	M..
	call	X09bf		; 3E0C  CD BF 09	M?.
	exx			; 3E0F  D9		Y
	call	X0a7f		; 3E10  CD 7F 0A	M..
	pop	de		; 3E13  D1		Q
	ld	b,h		; 3E14  44		D
	ld	c,l		; 3E15  4D		M
	jr	X3dd6		; 3E16  18 BE		.>
;
X3e18:	call	X017f		; 3E18  CD 7F 01	M..
	rst	8		; 3E1B  CF		O
	adc	a,0e5h		; 3E1C  CE E5		Ne
	exx			; 3E1E  D9		Y
	pop	hl		; 3E1F  E1		a
	call	X2337		; 3E20  CD 37 23	M7#
	ld	(X3c11),hl	; 3E23  22 11 3C	".<
	call	X0a7f		; 3E26  CD 7F 0A	M..
	push	hl		; 3E29  E5		e
	call	X0adb		; 3E2A  CD DB 0A	M[.
	call	X09a4		; 3E2D  CD A4 09	M$.
	ld	bc,X8135	; 3E30  01 35 81	.5.
	ld	de,X0000	; 3E33  11 00 00	...
	call	X09b4		; 3E36  CD B4 09	M4.
	pop	bc		; 3E39  C1		A
	pop	de		; 3E3A  D1		Q
	call	X08a2		; 3E3B  CD A2 08	M".
	call	X0a7f		; 3E3E  CD 7F 0A	M..
X3e41:	push	hl		; 3E41  E5		e
	exx			; 3E42  D9		Y
	pop	hl		; 3E43  E1		a
	exx			; 3E44  D9		Y
	push	hl		; 3E45  E5		e
	call	X3ee5		; 3E46  CD E5 3E	Me>
	call	X09fc		; 3E49  CD FC 09	M|.
	pop	de		; 3E4C  D1		Q
	pop	hl		; 3E4D  E1		a
	push	hl		; 3E4E  E5		e
	push	de		; 3E4F  D5		U
	call	X3ee5		; 3E50  CD E5 3E	Me>
	call	X0c70		; 3E53  CD 70 0C	Mp.
	call	X13e7		; 3E56  CD E7 13	Mg.
	call	X0a7f		; 3E59  CD 7F 0A	M..
	push	hl		; 3E5C  E5		e
	call	X3e70		; 3E5D  CD 70 3E	Mp>
	exx			; 3E60  D9		Y
	ex	(sp),hl		; 3E61  E3		c
	exx			; 3E62  D9		Y
	pop	hl		; 3E63  E1		a
	call	X3e70		; 3E64  CD 70 3E	Mp>
	pop	hl		; 3E67  E1		a
	ld	a,h		; 3E68  7C		|
	or	l		; 3E69  B5		5
	jp	z,X3c0d		; 3E6A  CA 0D 3C	J.<
	dec	hl		; 3E6D  2B		+
	jr	X3e41		; 3E6E  18 D1		.Q
;
X3e70:	call	X0a9a		; 3E70  CD 9A 0A	M..
	call	X0adb		; 3E73  CD DB 0A	M[.
	call	X09fc		; 3E76  CD FC 09	M|.
	call	X068e		; 3E79  CD 8E 06	M..
	exx			; 3E7C  D9		Y
	push	bc		; 3E7D  C5		E
	exx			; 3E7E  D9		Y
	pop	de		; 3E7F  D1		Q
	push	hl		; 3E80  E5		e
	call	X0bd2		; 3E81  CD D2 0B	MR.
	push	hl		; 3E84  E5		e
	exx			; 3E85  D9		Y
	push	de		; 3E86  D5		U
	push	hl		; 3E87  E5		e
	exx			; 3E88  D9		Y
	pop	hl		; 3E89  E1		a
	pop	de		; 3E8A  D1		Q
	call	X0bc7		; 3E8B  CD C7 0B	MG.
	ex	de,hl		; 3E8E  EB		k
	pop	bc		; 3E8F  C1		A
	pop	hl		; 3E90  E1		a
	push	de		; 3E91  D5		U
	push	hl		; 3E92  E5		e
	push	bc		; 3E93  C5		E
	call	X3eb9		; 3E94  CD B9 3E	M9>
	exx			; 3E97  D9		Y
	push	de		; 3E98  D5		U
	push	hl		; 3E99  E5		e
	exx			; 3E9A  D9		Y
	pop	de		; 3E9B  D1		Q
	pop	hl		; 3E9C  E1		a
	call	X0bd2		; 3E9D  CD D2 0B	MR.
	pop	bc		; 3EA0  C1		A
	ex	de,hl		; 3EA1  EB		k
	push	de		; 3EA2  D5		U
	call	X3eb9		; 3EA3  CD B9 3E	M9>
	exx			; 3EA6  D9		Y
	push	bc		; 3EA7  C5		E
	exx			; 3EA8  D9		Y
	pop	de		; 3EA9  D1		Q
	pop	bc		; 3EAA  C1		A
	pop	hl		; 3EAB  E1		a
	push	bc		; 3EAC  C5		E
	call	X0bc7		; 3EAD  CD C7 0B	MG.
	pop	de		; 3EB0  D1		Q
	ld	b,h		; 3EB1  44		D
	ld	c,l		; 3EB2  4D		M
	push	bc		; 3EB3  C5		E
	call	X3eb9		; 3EB4  CD B9 3E	M9>
	pop	bc		; 3EB7  C1		A
	pop	de		; 3EB8  D1		Q
X3eb9:	ld	hl,X0000	; 3EB9  21 00 00	!..
	or	a		; 3EBC  B7		7
	sbc	hl,de		; 3EBD  ED 52		mR
	ret	nc		; 3EBF  D0		P
	or	a		; 3EC0  B7		7
	ld	hl,X0000	; 3EC1  21 00 00	!..
	sbc	hl,bc		; 3EC4  ED 42		mB
	ret	nc		; 3EC6  D0		P
	ld	hl,(X018e)	; 3EC7  2A 8E 01	*..
	dec	hl		; 3ECA  2B		+
	or	a		; 3ECB  B7		7
	sbc	hl,de		; 3ECC  ED 52		mR
	ret	c		; 3ECE  D8		X
	ld	hl,(X0183)	; 3ECF  2A 83 01	*..
	ld	h,0		; 3ED2  26 00		&.
	dec	hl		; 3ED4  2B		+
	or	a		; 3ED5  B7		7
	sbc	hl,bc		; 3ED6  ED 42		mB
	ret	c		; 3ED8  D8		X
	call	X3c1d		; 3ED9  CD 1D 3C	M.<
	ret	nz		; 3EDC  C0		@
	ld	a,(X3ccb)	; 3EDD  3A CB 3C	:K<
	or	a		; 3EE0  B7		7
	ret	nz		; 3EE1  C0		@
	jp	X3c0a		; 3EE2  C3 0A 3C	C.<
;
X3ee5:	ld	d,h		; 3EE5  54		T
	ld	e,l		; 3EE6  5D		]
	call	X0bf2		; 3EE7  CD F2 0B	Mr.
	jp	X0adb		; 3EEA  C3 DB 0A	C[.
;
	defb	0,0					; 3EED ..
;
	ORG	3efch
;
X3efc:	nop			; 3EFC  00		.
;
	ORG	3efeh
;
X3efe:	nop			; 3EFE  00		.
;
	ORG	3f00h
;
X3f00:	nop			; 3F00  00		.
X3f01:	nop			; 3F01  00		.
;
	ORG	3ff6h
;
X3ff6:	nop			; 3FF6  00		.
;
	ORG	4000h
;
X4000:	nop			; 4000  00		.
;
	ORG	4006h
;
X4006:	nop			; 4006  00		.
;
	ORG	4009h
;
X4009:	nop			; 4009  00		.
;
	ORG	400ch
;
X400c:	nop			; 400C  00		.
;
	ORG	400fh
;
X400f:	nop			; 400F  00		.
;
	ORG	4012h
;
X4012:	nop			; 4012  00		.
;
	ORG	4015h
;
X4015:	nop			; 4015  00		.
;
	ORG	401dh
;
X401d:	nop			; 401D  00		.
;
	ORG	4020h
;
X4020:	nop			; 4020  00		.
;
	ORG	4025h
;
X4025:	nop			; 4025  00		.
;
	ORG	4028h
;
X4028:	nop			; 4028  00		.
;
	ORG	402dh
;
X402d:	nop			; 402D  00		.
X402e:	nop			; 402E  00		.
;
	ORG	4030h
;
X4030:	nop			; 4030  00		.
X4031:	nop			; 4031  00		.
;
	ORG	4033h
;
X4033:	nop			; 4033  00		.
;
	ORG	4036h
;
X4036:	nop			; 4036  00		.
;
	ORG	403dh
;
X403d:	nop			; 403D  00		.
X403e:	nop			; 403E  00		.
;
	ORG	4046h
;
X4046:	nop			; 4046  00		.
;
	ORG	4049h
;
X4049:	nop			; 4049  00		.
;
	ORG	407dh
;
X407d:	nop			; 407D  00		.
;
	ORG	4080h
;
X4080:	nop			; 4080  00		.
X4081:	nop			; 4081  00		.
;
	ORG	4085h
;
X4085:	nop			; 4085  00		.
;
	ORG	4089h
;
X4089:	nop			; 4089  00		.
;
	ORG	408ch
;
X408c:	nop			; 408C  00		.
;
	ORG	408eh
;
X408e:	nop			; 408E  00		.
;
	ORG	4090h
;
X4090:	nop			; 4090  00		.
;
	ORG	4093h
;
X4093:	nop			; 4093  00		.
X4094:	nop			; 4094  00		.
;
	ORG	4096h
;
X4096:	nop			; 4096  00		.
X4097:	nop			; 4097  00		.
;
	ORG	4099h
;
X4099:	nop			; 4099  00		.
X409a:	nop			; 409A  00		.
X409b:	nop			; 409B  00		.
X409c:	nop			; 409C  00		.
X409d:	nop			; 409D  00		.
X409e:	nop			; 409E  00		.
X409f:	nop			; 409F  00		.
X40a0:	nop			; 40A0  00		.
;
	ORG	40a2h
;
LINEAT:	nop			; 40A2  00		.
;
	ORG	40a4h
;
X40a4:	nop			; 40A4  00		.
;
	ORG	40a6h
;
X40a6:	nop			; 40A6  00		.
X40a7:	nop			; 40A7  00		.
;
	ORG	40a9h
;
X40a9:	nop			; 40A9  00		.
X40aa:	nop			; 40AA  00		.
X40ab:	nop			; 40AB  00		.
X40ac:	nop			; 40AC  00		.
;
	ORG	40aeh
;
X40ae:	nop			; 40AE  00		.
X40af:	nop			; 40AF  00		.
X40b0:	nop			; 40B0  00		.
X40b1:	nop			; 40B1  00		.
;
	ORG	40b3h
;
X40b3:	nop			; 40B3  00		.
;
	ORG	40b5h
;
X40b5:	nop			; 40B5  00		.
;
	ORG	40d3h
;
X40d3:	nop			; 40D3  00		.
X40d4:	nop			; 40D4  00		.
;
	ORG	40d6h
;
X40d6:	nop			; 40D6  00		.
;
	ORG	40d8h
;
X40d8:	nop			; 40D8  00		.
;
	ORG	40dah
;
X40da:	nop			; 40DA  00		.
;
	ORG	40dch
;
X40dc:	nop			; 40DC  00		.
X40dd:	nop			; 40DD  00		.
X40de:	nop			; 40DE  00		.
X40df:	nop			; 40DF  00		.
;
	ORG	40e1h
;
X40e1:	nop			; 40E1  00		.
X40e2:	nop			; 40E2  00		.
;
	ORG	40e4h
;
X40e4:	nop			; 40E4  00		.
;
	ORG	40e6h
;
BRKLIN:	nop			; 40E6  00		.
;
	ORG	40e8h
;
X40e8:	nop			; 40E8  00		.
;
	ORG	40eah
;
X40ea:	nop			; 40EA  00		.
;
	ORG	40ech
;
X40ec:	nop			; 40EC  00		.
;
	ORG	40eeh
;
X40ee:	nop			; 40EE  00		.
;
	ORG	40f0h
;
X40f0:	nop			; 40F0  00		.
;
	ORG	40f2h
;
X40f2:	nop			; 40F2  00		.
X40f3:	nop			; 40F3  00		.
;
	ORG	40f5h
;
X40f5:	nop			; 40F5  00		.
;
	ORG	40f7h
;
X40f7:	nop			; 40F7  00		.
;
	ORG	40f9h
;
X40f9:	nop			; 40F9  00		.
;
	ORG	40fbh
;
X40fb:	nop			; 40FB  00		.
;
	ORG	40fdh
;
X40fd:	nop			; 40FD  00		.
;
	ORG	40ffh
;
X40ff:	nop			; 40FF  00		.
;
	ORG	4101h
;
X4101:	nop			; 4101  00		.
;
	ORG	411bh
;
X411b:	nop			; 411B  00		.
X411c:	nop			; 411C  00		.
X411d:	nop			; 411D  00		.
;
	ORG	411fh
;
X411f:	nop			; 411F  00		.
X4120:	nop			; 4120  00		.
X4121:	nop			; 4121  00		.
;
	ORG	4123h
;
X4123:	nop			; 4123  00		.
X4124:	nop			; 4124  00		.
X4125:	nop			; 4125  00		.
X4126:	nop			; 4126  00		.
X4127:	nop			; 4127  00		.
;
	ORG	412dh
;
X412d:	nop			; 412D  00		.
X412e:	nop			; 412E  00		.
X412f:	nop			; 412F  00		.
X4130:	nop			; 4130  00		.
;
	ORG	414ah
;
X414a:	nop			; 414A  00		.
;
	ORG	414fh
;
X414f:	nop			; 414F  00		.
X4150:	nop			; 4150  00		.
X4151:	nop			; 4151  00		.
X4152:	nop			; 4152  00		.
;
	ORG	4155h
;
X4155:	nop			; 4155  00		.
;
	ORG	4176h
;
X4176:	nop			; 4176  00		.
;
	ORG	418eh
;
X418e:	nop			; 418E  00		.
;
	ORG	4194h
;
X4194:	nop			; 4194  00		.
;
	ORG	419dh
;
X419d:	nop			; 419D  00		.
;
	ORG	41a6h
;
X41a6:	nop			; 41A6  00		.
;
	ORG	41a9h
;
X41a9:	nop			; 41A9  00		.
;
	ORG	41ach
;
X41ac:	nop			; 41AC  00		.
;
	ORG	41afh
;
X41af:	nop			; 41AF  00		.
;
	ORG	41b2h
;
X41b2:	nop			; 41B2  00		.
;
	ORG	41b5h
;
X41b5:	nop			; 41B5  00		.
;
	ORG	41b8h
;
X41b8:	nop			; 41B8  00		.
;
	ORG	41bbh
;
X41bb:	nop			; 41BB  00		.
;
	ORG	41beh
;
X41be:	nop			; 41BE  00		.
;
	ORG	41c1h
;
X41c1:	nop			; 41C1  00		.
;
	ORG	41c4h
;
X41c4:	nop			; 41C4  00		.
;
	ORG	41c7h
;
X41c7:	nop			; 41C7  00		.
;
	ORG	41cah
;
X41ca:	nop			; 41CA  00		.
;
	ORG	41cdh
;
X41cd:	nop			; 41CD  00		.
;
	ORG	41d0h
;
X41d0:	nop			; 41D0  00		.
;
	ORG	41d3h
;
X41d3:	nop			; 41D3  00		.
;
	ORG	41d6h
;
X41d6:	nop			; 41D6  00		.
;
	ORG	41d9h
;
X41d9:	nop			; 41D9  00		.
;
	ORG	41dch
;
X41dc:	nop			; 41DC  00		.
;
	ORG	41dfh
;
X41df:	nop			; 41DF  00		.
;
	ORG	41fch
;
X41fc:	nop			; 41FC  00		.
;
	ORG	4200h
;
X4200:	nop			; 4200  00		.
;
	ORG	429eh
;
X429e:	nop			; 429E  00		.
;
	ORG	42aah
;
X42aa:	nop			; 42AA  00		.
;
	ORG	4309h
;
X4309:	nop			; 4309  00		.
;
	ORG	430eh
;
X430e:	nop			; 430E  00		.
X430f:	nop			; 430F  00		.
;
	ORG	4313h
;
X4313:	nop			; 4313  00		.
;
	ORG	4315h
;
X4315:	nop			; 4315  00		.
;
	ORG	4318h
;
X4318:	nop			; 4318  00		.
;
	ORG	434ch
;
X434c:	nop			; 434C  00		.
;
	ORG	4358h
;
X4358:	nop			; 4358  00		.
;
	ORG	435ah
;
X435a:	nop			; 435A  00		.
;
	ORG	435dh
;
X435d:	nop			; 435D  00		.
;
	ORG	43c0h
;
X43c0:	nop			; 43C0  00		.
;
	ORG	43dah
;
X43da:	nop			; 43DA  00		.
;
	ORG	4400h
;
X4400:	nop			; 4400  00		.
;
	ORG	4405h
;
X4405:	nop			; 4405  00		.
;
	ORG	4409h
;
X4409:	nop			; 4409  00		.
X440a:	nop			; 440A  00		.
;
	ORG	440dh
;
X440d:	nop			; 440D  00		.
;
	ORG	4414h
;
X4414:	nop			; 4414  00		.
;
	ORG	441ch
;
X441c:	nop			; 441C  00		.
;
	ORG	4420h
;
X4420:	nop			; 4420  00		.
;
	ORG	4424h
;
X4424:	nop			; 4424  00		.
;
	ORG	4428h
;
X4428:	nop			; 4428  00		.
;
	ORG	442ch
;
X442c:	nop			; 442C  00		.
;
	ORG	4436h
;
X4436:	nop			; 4436  00		.
;
	ORG	4439h
;
X4439:	nop			; 4439  00		.
;
	ORG	443ch
;
X443c:	nop			; 443C  00		.
;
	ORG	443fh
;
X443f:	nop			; 443F  00		.
;
	ORG	4442h
;
X4442:	nop			; 4442  00		.
;
	ORG	4445h
;
X4445:	nop			; 4445  00		.
;
	ORG	4448h
;
X4448:	nop			; 4448  00		.
;
	ORG	4467h
;
X4467:	nop			; 4467  00		.
;
	ORG	44efh
;
X44ef:	nop			; 44EF  00		.
;
	ORG	4669h
;
X4669:	nop			; 4669  00		.
;
	ORG	46a7h
;
X46a7:	nop			; 46A7  00		.
;
	ORG	46a9h
;
X46a9:	nop			; 46A9  00		.
;
	ORG	490fh
;
X490f:	nop			; 490F  00		.
;
	ORG	4cbbh
;
X4cbb:	nop			; 4CBB  00		.
;
	ORG	4ceeh
;
X4cee:	nop			; 4CEE  00		.
;
	ORG	4d00h
;
X4d00:	jp	X5e46		; 4D00  C3 46 5E	CF^
;
	jp	X558e		; 4D03  C3 8E 55	C.U
;
	jp	X5e49		; 4D06  C3 49 5E	CI^
;
	jp	X5655		; 4D09  C3 55 56	CUV
;
	jp	X5e4c		; 4D0C  C3 4C 5E	CL^
;
	jp	X61eb		; 4D0F  C3 EB 61	Cka
;
	jp	X6231		; 4D12  C3 31 62	C1b
;
	jp	X6242		; 4D15  C3 42 62	CBb
;
	jp	X5e2d		; 4D18  C3 2D 5E	C-^
;
	jp	X5e30		; 4D1B  C3 30 5E	C0^
;
	jp	X5e33		; 4D1E  C3 33 5E	C3^
;
	jp	X56c4		; 4D21  C3 C4 56	CDV
;
	jp	X5714		; 4D24  C3 14 57	C.W
;
	jp	X6349		; 4D27  C3 49 63	CIc
;
	jp	X60ab		; 4D2A  C3 AB 60	C+`
;
	jp	X627c		; 4D2D  C3 7C 62	C|b
;
	jp	X627b		; 4D30  C3 7B 62	C{b
;
	jp	X606f		; 4D33  C3 6F 60	Co`
;
	jp	X5f7b		; 4D36  C3 7B 5F	C{_
;
	jp	X600b		; 4D39  C3 0B 60	C.`
;
	jp	X068e		; 4D3C  C3 8E 06	C..
;
	jp	X63c0		; 4D3F  C3 C0 63	C@c
;
	jp	X58b7		; 4D42  C3 B7 58	C7X
;
	jp	X60e6		; 4D45  C3 E6 60	Cf`
;
	jp	X60e5		; 4D48  C3 E5 60	Ce`
;
	jp	X582f		; 4D4B  C3 2F 58	C/X
;
	jp	X6044		; 4D4E  C3 44 60	CD`
;
	jp	X5756		; 4D51  C3 56 57	CVW
;
	ld	a,crtbeepport	; 4D54  3E 8F		>.
	rst	28h		; 4D56  EF		o
	jp	X5679		; 4D57  C3 79 56	CyV
;
	jp	X5ffc		; 4D5A  C3 FC 5F	C|_
;
	jp	X598e		; 4D5D  C3 8E 59	C.Y
;
	jp	X6033		; 4D60  C3 33 60	C3`
;
	jp	X5b7d		; 4D63  C3 7D 5B	C}[
;
	jp	X5b8c		; 4D66  C3 8C 5B	C.[
;
	jp	X60a1		; 4D69  C3 A1 60	C!`
;
	jp	X577c		; 4D6C  C3 7C 57	C|W
;
	jp	X59be		; 4D6F  C3 BE 59	C>Y
;
	jp	X59cd		; 4D72  C3 CD 59	CMY
;
	jp	X5f78		; 4D75  C3 78 5F	Cx_
;
	jp	X5a15		; 4D78  C3 15 5A	C.Z
;
	jp	X5b9a		; 4D7B  C3 9A 5B	C.[
;
	jp	X5b99		; 4D7E  C3 99 5B	C.[
;
	jp	X5b65		; 4D81  C3 65 5B	Ce[
;
	jp	X5784		; 4D84  C3 84 57	C.W
;
	jp	X590d		; 4D87  C3 0D 59	C.Y
;
	jp	X5e63		; 4D8A  C3 63 5E	Cc^
;
	jp	X579c		; 4D8D  C3 9C 57	C.W
;
	jp	X5b51		; 4D90  C3 51 5B	CQ[
;
X4D93:	defb	'NUOVA ELETTRONICA BASIC VERSION '	; 4D93
	defb	'G. 1.0'				; 4DB3
	defb	0dh					; 4DB9 .
	defb	'S BASIC ORIGINALLY AUTHORED AND '	; 4DBA
	defb	'COPYRIGHTED BY'			; 4DDA
	defb	0dh					; 4DE8 .
;
	ORG	4e99h
;
X4e99:	nop			; 4E99  00		.
;
	ORG	4ecfh
;
X4ecf:	nop			; 4ECF  00		.
;
	ORG	4ff9h
;
X4ff9:	nop			; 4FF9  00		.
;
	ORG	5000h
;
X5000:	nop			; 5000  00		.
;
	ORG	507ch
;
X507c:	nop			; 507C  00		.
;
	ORG	507eh
;
X507e:	nop			; 507E  00		.
;
	ORG	5125h
;
X5125:	nop			; 5125  00		.
;
	ORG	5140h
;
X5140:	nop			; 5140  00		.
;
	ORG	5200h
;
X5200:	push	af		; 5200  F5		u
	push	hl		; 5201  E5		e
X5202:	rst	10h		; 5202  D7		W
	cp	blifastblok	; 5203  FE 60		~`
	jr	c,X520e		; 5205  38 07		8.
	cp	7bh		; 5207  FE 7B		~{
	jr	nc,X520e	; 5209  30 03		0.
	sub	20h		; 520B  D6 20		V
	ld	(hl),a		; 520D  77		w
X520e:	or	a		; 520E  B7		7
	jr	nz,X5202	; 520F  20 F1		 q
	pop	hl		; 5211  E1		a
	pop	af		; 5212  F1		q
	jp	X6033		; 5213  C3 33 60	C3`
;
X5216:	ret	z		; 5216  C8		H
	ld	d,4		; 5217  16 04		..
	cp	fdrvbuf		; 5219  FE 45		~E
	jp	nz,X63e3	; 521B  C2 E3 63	Bcc
	ret			; 521E  C9		I
;
X521f:	pop	hl		; 521F  E1		a
	pop	af		; 5220  F1		q
	cp	4		; 5221  FE 04		~.
	jr	nz,X5234	; 5223  20 0F		 .
	push	af		; 5225  F5		u
	call	X4448		; 5226  CD 48 44	MHD
	jp	z,X63fd		; 5229  CA FD 63	J}c
	cp	1ch		; 522C  FE 1C		~.
	jp	nz,X63fd	; 522E  C2 FD 63	B}c
	pop	af		; 5231  F1		q
	ld	a,2		; 5232  3E 02		>.
X5234:	ld	(hl),a		; 5234  77		w
	jp	X63b9		; 5235  C3 B9 63	C9c
;
X5238:	or	l		; 5238  B5		5
	pop	hl		; 5239  E1		a
	jp	nz,X5996	; 523A  C2 96 59	B.Y
	pop	hl		; 523D  E1		a
	pop	hl		; 523E  E1		a
	push	hl		; 523F  E5		e
	ld	de,X1a7e	; 5240  11 7E 1A	.~.
	rst	18h		; 5243  DF		_
	jp	nz,X036b	; 5244  C2 6B 03	Bk.
X5247:	ld	a,0eh		; 5247  3E 0E		>.
	call	X0033		; 5249  CD 33 00	M3.
	call	X32bf		; 524C  CD BF 32	M?2
	cp	0ah		; 524F  FE 0A		~.
	jr	z,X527c		; 5251  28 29		()
	cp	18h		; 5253  FE 18		~.
	jr	z,X527c		; 5255  28 25		(%
	cp	2eh		; 5257  FE 2E		~.
	jr	z,X527c		; 5259  28 21		(!
	cp	2ch		; 525B  FE 2C		~,
	jr	z,X527c		; 525D  28 1D		(.
	ld	hl,(X40a4)	; 525F  2A A4 40	*$@
	cp	esc		; 5262  FE 1B		~.
	jr	z,X52b9		; 5264  28 53		(S
	ld	de,Xffff	; 5266  11 FF FF	...
	cp	1ah		; 5269  FE 1A		~.
	jr	z,X5280		; 526B  28 13		(.
	push	bc		; 526D  C5		E
	ld	hl,X5303	; 526E  21 03 53	!.S
	push	hl		; 5271  E5		e
	ld	hl,(X40a7)	; 5272  2A A7 40	*'@
	push	hl		; 5275  E5		e
	ld	b,0f0h		; 5276  06 F0		.p
	ld	c,b		; 5278  48		H
	jp	X05e3		; 5279  C3 E3 05	Cc.
;
X527c:	ld	de,(X40ec)	; 527C  ED 5B EC 40	m[l@
X5280:	push	af		; 5280  F5		u
	call	X1b2c		; 5281  CD 2C 1B	M,.
	pop	de		; 5284  D1		Q
	push	de		; 5285  D5		U
	ld	a,d		; 5286  7A		z
	jr	nc,X529d	; 5287  30 14		0.
	cp	2eh		; 5289  FE 2E		~.
	jr	z,X52b7		; 528B  28 2A		(*
	cp	2ch		; 528D  FE 2C		~,
	jr	z,X52b7		; 528F  28 26		(&
	cp	0ah		; 5291  FE 0A		~.
	jr	nz,X529f	; 5293  20 0A		 .
	ld	a,(hl)		; 5295  7E		~
	inc	hl		; 5296  23		#
	or	(hl)		; 5297  B6		6
	dec	hl		; 5298  2B		+
	jr	nz,X52b9	; 5299  20 1E		 .
	jr	X52b7		; 529B  18 1A		..
;
X529d:	jr	z,X52a3		; 529D  28 04		(.
X529f:	cp	18h		; 529F  FE 18		~.
	jr	nz,X52b7	; 52A1  20 14		 .
X52a3:	ld	hl,(X40a4)	; 52A3  2A A4 40	*$@
	or	a		; 52A6  B7		7
	sbc	hl,bc		; 52A7  ED 42		mB
	jr	z,X52b7		; 52A9  28 0C		(.
	add	hl,bc		; 52AB  09		.
	ld	d,b		; 52AC  50		P
	ld	e,c		; 52AD  59		Y
X52ae:	ld	b,h		; 52AE  44		D
	ld	c,l		; 52AF  4D		M
	ld	a,(hl)		; 52B0  7E		~
	inc	hl		; 52B1  23		#
	ld	h,(hl)		; 52B2  66		f
	ld	l,a		; 52B3  6F		o
	rst	18h		; 52B4  DF		_
	jr	nz,X52ae	; 52B5  20 F7		 w
X52b7:	ld	h,b		; 52B7  60		`
	ld	l,c		; 52B8  69		i
X52b9:	pop	af		; 52B9  F1		q
	pop	bc		; 52BA  C1		A
	ld	b,h		; 52BB  44		D
	ld	c,l		; 52BC  4D		M
	inc	hl		; 52BD  23		#
	inc	hl		; 52BE  23		#
	ld	e,(hl)		; 52BF  5E		^
	inc	hl		; 52C0  23		#
	ld	d,(hl)		; 52C1  56		V
	cp	2ch		; 52C2  FE 2C		~,
	jp	z,X2e65		; 52C4  CA 65 2E	Je.
	push	de		; 52C7  D5		U
	push	bc		; 52C8  C5		E
	ld	a,0fh		; 52C9  3E 0F		>.
	call	X0033		; 52CB  CD 33 00	M3.
	ld	a,1dh		; 52CE  3E 1D		>.
	call	X0033		; 52D0  CD 33 00	M3.
	ld	a,esc		; 52D3  3E 1B		>.
	call	X0033		; 52D5  CD 33 00	M3.
X52d8:	ld	a,1eh		; 52D8  3E 1E		>.
	call	X0033		; 52DA  CD 33 00	M3.
	jp	X2b33		; 52DD  C3 33 2B	C3+
;
X52e0:	ld	a,(hl)		; 52E0  7E		~
	inc	hl		; 52E1  23		#
	dec	b		; 52E2  05		.
	cp	22h		; 52E3  FE 22		~"
	jr	z,X52eb		; 52E5  28 04		(.
	ld	a,b		; 52E7  78		x
	or	a		; 52E8  B7		7
	jr	nz,X52e0	; 52E9  20 F5		 u
X52eb:	inc	b		; 52EB  04		.
	ret			; 52EC  C9		I
;
	ORG	52f9h
;
	defb	'READY     '				; 52F9
;
X5303:	push	af		; 5303  F5		u
	jr	c,X5360		; 5304  38 5A		8Z
	push	hl		; 5306  E5		e
	call	X5d80		; 5307  CD 80 5D	M.]
	jr	z,X5363		; 530A  28 57		(W
	ld	hl,X5d58	; 530C  21 58 5D	!X]
	cp	miobyte		; 530F  FE 4C		~L
	jr	z,X5321		; 5311  28 0E		(.
	ld	hl,X5d5e	; 5313  21 5E 5D	!^]
	cp	fdrvbuf		; 5316  FE 45		~E
	jr	z,X5321		; 5318  28 07		(.
	ld	hl,X5d63	; 531A  21 63 5D	!c]
	cp	44h		; 531D  FE 44		~D
	jr	nz,X535f	; 531F  20 3E		 >
X5321:	ld	a,(hl)		; 5321  7E		~
	ld	(X535a),a	; 5322  32 5A 53	2ZS
	dec	a		; 5325  3D		=
	ld	(X533d),a	; 5326  32 3D 53	2=S
	inc	hl		; 5329  23		#
	ld	(X5357),hl	; 532A  22 57 53	"WS
	pop	hl		; 532D  E1		a
	push	hl		; 532E  E5		e
	rst	10h		; 532F  D7		W
	jr	c,X5336		; 5330  38 04		8.
	cp	2eh		; 5332  FE 2E		~.
	jr	nz,X535f	; 5334  20 29		 )
X5336:	call	X5397		; 5336  CD 97 53	M.S
	jr	z,X535f		; 5339  28 24		($
	ld	a,b		; 533B  78		x
	add	a,0		; 533C  C6 00		F.
	cp	c		; 533E  B9		9
	jp	nc,SNERR	; 533F  D2 97 19	R..
	pop	hl		; 5342  E1		a
	push	hl		; 5343  E5		e
	push	de		; 5344  D5		U
	ld	e,b		; 5345  58		X
	ld	b,a		; 5346  47		G
	sub	e		; 5347  93		.
	push	bc		; 5348  C5		E
	ld	b,0		; 5349  06 00		..
	ld	c,e		; 534B  4B		K
	add	hl,bc		; 534C  09		.
	add	a,l		; 534D  85		.
	ld	e,a		; 534E  5F		_
	ld	a,h		; 534F  7C		|
	adc	a,0		; 5350  CE 00		N.
	ld	d,a		; 5352  57		W
	lddr			; 5353  ED B8		m8
	ex	de,hl		; 5355  EB		k
	ld	hl,X0000	; 5356  21 00 00	!..
	ld	c,0		; 5359  0E 00		..
	ldir			; 535B  ED B0		m0
	pop	bc		; 535D  C1		A
	pop	de		; 535E  D1		Q
X535f:	pop	hl		; 535F  E1		a
X5360:	jp	X0375		; 5360  C3 75 03	Cu.
;
X5363:	rst	10h		; 5363  D7		W
	cp	fdrvbuf		; 5364  FE 45		~E
	jr	nz,X535f	; 5366  20 F7		 w
	rst	10h		; 5368  D7		W
	cp	ftrkbuf		; 5369  FE 46		~F
	jr	nz,X5385	; 536B  20 18		 .
	ld	a,crtram3port	; 536D  3E 8E		>.
X536f:	pop	de		; 536F  D1		Q
	pop	de		; 5370  D1		Q
	pop	de		; 5371  D1		Q
	pop	de		; 5372  D1		Q
	push	af		; 5373  F5		u
	push	hl		; 5374  E5		e
	call	X5397		; 5375  CD 97 53	M.S
	jp	z,SNERR		; 5378  CA 97 19	J..
	pop	hl		; 537B  E1		a
	rst	10h		; 537C  D7		W
	pop	af		; 537D  F1		q
	call	X5384		; 537E  CD 84 53	M.S
	jp	X1a25		; 5381  C3 25 1A	C%.
;
X5384:	rst	28h		; 5384  EF		o
X5385:	cp	dselbf		; 5385  FE 4E		~N
	jr	nz,X535f	; 5387  20 D6		 V
	rst	10h		; 5389  D7		W
	cp	55h		; 538A  FE 55		~U
	jr	nz,X535f	; 538C  20 D1		 Q
	rst	10h		; 538E  D7		W
	cp	kbdbyte		; 538F  FE 4D		~M
	jr	nz,X535f	; 5391  20 CC		 L
	ld	a,crt6545data	; 5393  3E 8D		>.
	jr	X536f		; 5395  18 D8		.X
;
X5397:	rst	10h		; 5397  D7		W
	cp	ram2buf		; 5398  FE 3D		~=
	ret	z		; 539A  C8		H
	cp	28h		; 539B  FE 28		~(
	ret	z		; 539D  C8		H
	cp	0dh		; 539E  FE 0D		~.
	jr	nz,X5397	; 53A0  20 F5		 u
	or	a		; 53A2  B7		7
	ret			; 53A3  C9		I
;
X53a4:	ld	hl,(X53d5)	; 53A4  2A D5 53	*US
	ld	b,blislowblok	; 53A7  06 40		.@
X53a9:	ld	(hl),0a5h	; 53A9  36 A5		6%
	inc	hl		; 53AB  23		#
	djnz	X53a9		; 53AC  10 FB		.{
X53ae:	ld	de,(X54d6)	; 53AE  ED 5B D6 54	m[VT
	ld	bc,(X53d5)	; 53B2  ED 4B D5 53	mKUS
	call	X53d4		; 53B6  CD D4 53	MTS
	ex	de,hl		; 53B9  EB		k
	ld	bc,X0040	; 53BA  01 40 00	.@.
	add	hl,bc		; 53BD  09		.
	ex	de,hl		; 53BE  EB		k
	ld	bc,(X40b1)	; 53BF  ED 4B B1 40	mK1@
	inc	bc		; 53C3  03		.
	call	X53e3		; 53C4  CD E3 53	McS
	ld	hl,(X53d5)	; 53C7  2A D5 53	*US
	ld	b,blislowblok	; 53CA  06 40		.@
X53cc:	ld	a,(hl)		; 53CC  7E		~
	xor	0a5h		; 53CD  EE A5		n%
	ret	nz		; 53CF  C0		@
	inc	hl		; 53D0  23		#
	djnz	X53cc		; 53D1  10 F9		.y
	ret			; 53D3  C9		I
;
X53d4:	ld	hl,X0000	; 53D4  21 00 00	!..
	ld	a,blislowblok	; 53D7  3E 40		>@
X53d9:	ex	af,af'		; 53D9  08		.
	ld	a,(de)		; 53DA  1A		.
	xor	(hl)		; 53DB  AE		.
	ld	(hl),a		; 53DC  77		w
	inc	de		; 53DD  13		.
	inc	hl		; 53DE  23		#
	ld	a,d		; 53DF  7A		z
	cp	b		; 53E0  B8		8
	jr	z,X53e9		; 53E1  28 06		(.
X53e3:	ex	af,af'		; 53E3  08		.
	dec	a		; 53E4  3D		=
	jr	nz,X53d9	; 53E5  20 F2		 r
	jr	X53d4		; 53E7  18 EB		.k
;
X53e9:	ld	a,e		; 53E9  7B		{
	cp	c		; 53EA  B9		9
	jr	nz,X53e3	; 53EB  20 F6		 v
	ret			; 53ED  C9		I
;
X53ee:	jp	z,X1e4a		; 53EE  CA 4A 1E	JJ.
	cp	2		; 53F1  FE 02		~.
	ret	c		; 53F3  D8		X
X53f4:	cp	blislowblok	; 53F4  FE 40		~@
	jp	nc,X1e4a	; 53F6  D2 4A 1E	RJ.
	inc	hl		; 53F9  23		#
	ld	e,(hl)		; 53FA  5E		^
	inc	hl		; 53FB  23		#
	ld	d,(hl)		; 53FC  56		V
	ex	de,hl		; 53FD  EB		k
	ld	de,X4318	; 53FE  11 18 43	..C
	push	de		; 5401  D5		U
	ld	c,a		; 5402  4F		O
	ld	b,a		; 5403  47		G
	call	X5d9c		; 5404  CD 9C 5D	M.]
	pop	hl		; 5407  E1		a
	ld	a,0dh		; 5408  3E 0D		>.
	ld	(de),a		; 540A  12		.
X540b:	dec	de		; 540B  1B		.
	ld	a,(de)		; 540C  1A		.
	cp	20h		; 540D  FE 20		~
	jr	z,X540b		; 540F  28 FA		(z
	cp	24h		; 5411  FE 24		~$
	jr	nz,X5428	; 5413  20 13		 .
	call	X2611		; 5415  CD 11 26	M.&
	ld	a,(X40af)	; 5418  3A AF 40	:/@
	cp	3		; 541B  FE 03		~.
	jp	nz,X1e4a	; 541D  C2 4A 1E	BJ.
	ex	de,hl		; 5420  EB		k
	ld	a,(hl)		; 5421  7E		~
	or	a		; 5422  B7		7
	jp	z,X1e4a		; 5423  CA 4A 1E	JJ.
	jr	X53f4		; 5426  18 CC		.L
;
X5428:	pop	af		; 5428  F1		q
	ld	hl,(X402e)	; 5429  2A 2E 40	*.@
	ld	(X54f8),hl	; 542C  22 F8 54	"xT
	ld	a,(X4030)	; 542F  3A 30 40	:0@
	ld	(X5504),a	; 5432  32 04 55	2.U
	ld	hl,(X4031)	; 5435  2A 31 40	*1@
	ld	(X54fe),hl	; 5438  22 FE 54	"~T
	ld	hl,(X440a)	; 543B  2A 0A 44	*.D
	ld	(X5509),hl	; 543E  22 09 55	".U
	ld	(X435a),hl	; 5441  22 5A 43	"ZC
	ld	hl,X4358	; 5444  21 58 43	!XC
	ld	(X440a),hl	; 5447  22 0A 44	".D
	ld	hl,(X5ba8)	; 544A  2A A8 5B	*([
	ld	(X4313),hl	; 544D  22 13 43	".C
	ld	hl,X0000	; 5450  21 00 00	!..
	add	hl,sp		; 5453  39		9
	ld	(X54ea),hl	; 5454  22 EA 54	"jT
	ld	de,X00c0	; 5457  11 C0 00	.@.
	or	a		; 545A  B7		7
	sbc	hl,de		; 545B  ED 52		mR
	ld	(X53d5),hl	; 545D  22 D5 53	"US
	ld	de,(X54b3)	; 5460  ED 5B B3 54	m[3T
	or	a		; 5464  B7		7
	sbc	hl,de		; 5465  ED 52		mR
	ld	bc,(X54d9)	; 5467  ED 4B D9 54	mKYT
	or	a		; 546B  B7		7
	sbc	hl,bc		; 546C  ED 42		mB
	ld	(X54d3),hl	; 546E  22 D3 54	"ST
	push	hl		; 5471  E5		e
	ld	de,(X40fd)	; 5472  ED 5B FD 40	m[}@
	or	a		; 5476  B7		7
	sbc	hl,de		; 5477  ED 52		mR
	jp	c,X553d		; 5479  DA 3D 55	Z=U
	pop	de		; 547C  D1		Q
	ld	hl,(X54d6)	; 547D  2A D6 54	*VT
	push	hl		; 5480  E5		e
	add	hl,bc		; 5481  09		.
	dec	hl		; 5482  2B		+
	or	a		; 5483  B7		7
	sbc	hl,de		; 5484  ED 52		mR
	jp	nc,X553d	; 5486  D2 3D 55	R=U
	pop	hl		; 5489  E1		a
	push	hl		; 548A  E5		e
	push	de		; 548B  D5		U
	ex	de,hl		; 548C  EB		k
X548d:	or	a		; 548D  B7		7
	sbc	hl,de		; 548E  ED 52		mR
	ex	de,hl		; 5490  EB		k
	ld	hl,X54cc	; 5491  21 CC 54	!LT
	add	hl,de		; 5494  19		.
	ld	(X402e),hl	; 5495  22 2E 40	".@
	ld	hl,X54c8	; 5498  21 C8 54	!HT
	add	hl,de		; 549B  19		.
	ld	(X4031),hl	; 549C  22 31 40	"1@
	ld	a,0c3h		; 549F  3E C3		>C
	ld	(X4030),a	; 54A1  32 30 40	20@
	ld	hl,X54c3	; 54A4  21 C3 54	!CT
	add	hl,de		; 54A7  19		.
	ld	(X435d),hl	; 54A8  22 5D 43	"]C
	pop	de		; 54AB  D1		Q
	pop	hl		; 54AC  E1		a
	ldir			; 54AD  ED B0		m0
	ld	hl,X407d	; 54AF  21 7D 40	!}@
	ld	bc,X0183	; 54B2  01 83 01	...
	ldir			; 54B5  ED B0		m0
	ld	sp,X41fc	; 54B7  31 FC 41	1|A
	call	X53a4		; 54BA  CD A4 53	M$S
	ld	hl,X4318	; 54BD  21 18 43	!.C
	jp	X4405		; 54C0  C3 05 44	C.D
;
X54c3:	ld	c,a		; 54C3  4F		O
	ld	b,2		; 54C4  06 02		..
	jr	X54ce		; 54C6  18 06		..
;
X54c8:	ld	b,0		; 54C8  06 00		..
	jr	X54ce		; 54CA  18 02		..
;
X54cc:	ld	b,1		; 54CC  06 01		..
X54ce:	ld	sp,X41fc	; 54CE  31 FC 41	1|A
	push	bc		; 54D1  C5		E
	ld	hl,X0000	; 54D2  21 00 00	!..
	ld	de,X5200	; 54D5  11 00 52	..R
	ld	bc,X1e00	; 54D8  01 00 1E	...
	ldir			; 54DB  ED B0		m0
	jp	X54e0		; 54DD  C3 E0 54	C`T
;
X54e0:	push	hl		; 54E0  E5		e
	call	X53ae		; 54E1  CD AE 53	M.S
	jp	nz,X0000	; 54E4  C2 00 00	B..
	pop	hl		; 54E7  E1		a
	pop	bc		; 54E8  C1		A
	ld	sp,X0000	; 54E9  31 00 00	1..
	push	bc		; 54EC  C5		E
	ld	de,(X54b0)	; 54ED  ED 5B B0 54	m[0T
	ld	bc,(X54b3)	; 54F1  ED 4B B3 54	mK3T
	ldir			; 54F5  ED B0		m0
X54f7:	ld	hl,X0000	; 54F7  21 00 00	!..
	ld	(X402e),hl	; 54FA  22 2E 40	".@
	ld	hl,X0000	; 54FD  21 00 00	!..
	ld	(X4031),hl	; 5500  22 31 40	"1@
	ld	a,0		; 5503  3E 00		>.
	ld	(X4030),a	; 5505  32 30 40	20@
	ld	hl,X0000	; 5508  21 00 00	!..
	ld	(X440a),hl	; 550B  22 0A 44	".D
	ld	hl,X5ba4	; 550E  21 A4 5B	!$[
	ld	(X4313),hl	; 5511  22 13 43	".C
	ld	hl,X430f	; 5514  21 0F 43	!.C
	res	4,(hl)		; 5517  CB A6		K&
	pop	bc		; 5519  C1		A
	djnz	X551e		; 551A  10 02		..
	pop	hl		; 551C  E1		a
	ret			; 551D  C9		I
;
X551e:	djnz	X5526		; 551E  10 06		..
	ld	a,c		; 5520  79		y
	and	fsekbuf		; 5521  E6 3F		f?
	jp	X63fd		; 5523  C3 FD 63	C}c
;
X5526:	ld	e,26h		; 5526  1E 26		.&
	jp	X19a2		; 5528  C3 A2 19	C".
;
X552b:	ld	de,(X40a4)	; 552B  ED 5B A4 40	m[$@
	sbc	hl,de		; 552F  ED 52		mR
	ld	a,(ix+0dh)	; 5531  DD 7E 0D	]~.
	ld	b,(ix+0ch)	; 5534  DD 46 0C	]F.
	ld	c,(ix+8)	; 5537  DD 4E 08	]N.
	jp	X57b2		; 553A  C3 B2 57	C2W
;
X553d:	ld	hl,X197a	; 553D  21 7A 19	!z.
	push	hl		; 5540  E5		e
	ld	bc,X0100	; 5541  01 00 01	...
	push	bc		; 5544  C5		E
	push	bc		; 5545  C5		E
	jp	X54f7		; 5546  C3 F7 54	CwT
;
	ld	d,a		; 5549  57		W
	jp	X5909		; 554A  C3 09 59	C.Y
;
	jp	X5e63		; 554D  C3 63 5E	Cc^
;
	jp	X579c		; 5550  C3 9C 57	C.W
;
	jp	X5b51		; 5553  C3 51 5B	CQ[
;
X5556:	ld	a,(X40af)	; 5556  3A AF 40	:/@
	dec	a		; 5559  3D		=
	dec	a		; 555A  3D		=
	dec	a		; 555B  3D		=
	or	a		; 555C  B7		7
	scf			; 555D  37		7
	jp	z,X55c2		; 555E  CA C2 55	JBU
	ld	c,(hl)		; 5561  4E		N
	inc	hl		; 5562  23		#
	ld	b,(hl)		; 5563  46		F
	push	bc		; 5564  C5		E
	jp	m,X557f		; 5565  FA 7F 55	z.U
	inc	hl		; 5568  23		#
	ld	c,(hl)		; 5569  4E		N
	inc	hl		; 556A  23		#
	ld	b,(hl)		; 556B  46		F
	push	bc		; 556C  C5		E
	jp	po,X557f	; 556D  E2 7F 55	b.U
	inc	hl		; 5570  23		#
	jr	c,X5576		; 5571  38 03		8.
	ld	hl,X411d	; 5573  21 1D 41	!.A
X5576:	ld	c,(hl)		; 5576  4E		N
	inc	hl		; 5577  23		#
	ld	b,(hl)		; 5578  46		F
	inc	hl		; 5579  23		#
	push	bc		; 557A  C5		E
	ld	c,(hl)		; 557B  4E		N
	inc	hl		; 557C  23		#
	ld	b,(hl)		; 557D  46		F
	push	bc		; 557E  C5		E
X557f:	jp	c,X55cc		; 557F  DA CC 55	ZLU
X5582:	rst	8		; 5582  CF		O
	cp	(hl)		; 5583  BE		>
	ld	a,crtram0dat	; 5584  3E 80		>.
	ld	(X40dc),a	; 5586  32 DC 40	2\@
	or	(hl)		; 5589  B6		6
	ld	b,a		; 558A  47		G
	jp	X2612		; 558B  C3 12 26	C.&
;
X558e:	call	X5582		; 558E  CD 82 55	M.U
	ld	a,(X40af)	; 5591  3A AF 40	:/@
	or	a		; 5594  B7		7
	push	af		; 5595  F5		u
	ld	(X40f3),hl	; 5596  22 F3 40	"s@
	ex	de,hl		; 5599  EB		k
	ld	a,(hl)		; 559A  7E		~
	inc	hl		; 559B  23		#
	ld	h,(hl)		; 559C  66		f
	ld	l,a		; 559D  6F		o
	or	h		; 559E  B4		4
	jp	z,X56ba		; 559F  CA BA 56	J:V
	ld	a,(hl)		; 55A2  7E		~
	cp	28h		; 55A3  FE 28		~(
	jp	nz,X55f5	; 55A5  C2 F5 55	BuU
	rst	10h		; 55A8  D7		W
	ld	(X40d8),hl	; 55A9  22 D8 40	"X@
	jr	X55b0		; 55AC  18 02		..
;
X55ae:	rst	8		; 55AE  CF		O
	inc	l		; 55AF  2C		,
X55b0:	ld	c,4		; 55B0  0E 04		..
	call	X1963		; 55B2  CD 63 19	Mc.
	ld	a,crtram0dat	; 55B5  3E 80		>.
	ld	(X40dc),a	; 55B7  32 DC 40	2\@
	call	X260d		; 55BA  CD 0D 26	M.&
	ex	de,hl		; 55BD  EB		k
	scf			; 55BE  37		7
X55bf:	jp	X5556		; 55BF  C3 56 55	CVU
;
X55c2:	jp	nc,X2423	; 55C2  D2 23 24	R#$
	push	de		; 55C5  D5		U
	ex	de,hl		; 55C6  EB		k
	call	X2888		; 55C7  CD 88 28	M.(
	pop	de		; 55CA  D1		Q
	xor	a		; 55CB  AF		/
X55cc:	push	hl		; 55CC  E5		e
	push	af		; 55CD  F5		u
	ex	de,hl		; 55CE  EB		k
	ld	a,(hl)		; 55CF  7E		~
	cp	29h		; 55D0  FE 29		~)
	jr	nz,X55ae	; 55D2  20 DA		 Z
	ld	hl,(X40f3)	; 55D4  2A F3 40	*s@
	rst	8		; 55D7  CF		O
	jr	z,X55bf		; 55D8  28 E5		(e
	ld	hl,(X40d8)	; 55DA  2A D8 40	*X@
X55dd:	call	X260d		; 55DD  CD 0D 26	M.&
	ex	(sp),hl		; 55E0  E3		c
	call	X1f2b		; 55E1  CD 2B 1F	M+.
	ld	a,(hl)		; 55E4  7E		~
	cp	29h		; 55E5  FE 29		~)
	jr	z,X55f0		; 55E7  28 07		(.
	rst	8		; 55E9  CF		O
	inc	l		; 55EA  2C		,
	ex	(sp),hl		; 55EB  E3		c
	rst	8		; 55EC  CF		O
	inc	l		; 55ED  2C		,
	jr	X55dd		; 55EE  18 ED		.m
;
X55f0:	rst	10h		; 55F0  D7		W
	ex	(sp),hl		; 55F1  E3		c
	rst	8		; 55F2  CF		O
	add	hl,hl		; 55F3  29		)
	ld	a,0d5h		; 55F4  3E D5		>U
	rst	8		; 55F6  CF		O
	push	de		; 55F7  D5		U
	call	X2337		; 55F8  CD 37 23	M7#
	dec	hl		; 55FB  2B		+
	rst	10h		; 55FC  D7		W
	jp	nz,SNERR	; 55FD  C2 97 19	B..
	rst	20h		; 5600  E7		g
	jr	z,X5632		; 5601  28 2F		(/
X5603:	pop	de		; 5603  D1		Q
X5604:	pop	af		; 5604  F1		q
	jr	z,X5646		; 5605  28 3F		(?
	jr	nc,X5625	; 5607  30 1C		0.
	pop	hl		; 5609  E1		a
	pop	bc		; 560A  C1		A
	ld	(hl),b		; 560B  70		p
	dec	hl		; 560C  2B		+
	ld	(hl),c		; 560D  71		q
	jp	m,X5604		; 560E  FA 04 56	z.V
	dec	hl		; 5611  2B		+
	pop	bc		; 5612  C1		A
	ld	(hl),b		; 5613  70		p
	dec	hl		; 5614  2B		+
	ld	(hl),c		; 5615  71		q
	jp	po,X5604	; 5616  E2 04 56	b.V
	dec	hl		; 5619  2B		+
	pop	bc		; 561A  C1		A
	ld	(hl),b		; 561B  70		p
	dec	hl		; 561C  2B		+
	ld	(hl),c		; 561D  71		q
	dec	hl		; 561E  2B		+
	pop	bc		; 561F  C1		A
	ld	(hl),b		; 5620  70		p
	dec	hl		; 5621  2B		+
	ld	(hl),c		; 5622  71		q
	jr	X5604		; 5623  18 DF		._
;
X5625:	push	de		; 5625  D5		U
	push	af		; 5626  F5		u
	rst	20h		; 5627  E7		g
	ld	de,X40d3	; 5628  11 D3 40	.S@
	call	z,X2888		; 562B  CC 88 28	L.(
	pop	af		; 562E  F1		q
	jp	X281a		; 562F  C3 1A 28	C.(
;
X5632:	ld	hl,(X40b3)	; 5632  2A B3 40	*3@
	ex	de,hl		; 5635  EB		k
	ld	hl,(X4121)	; 5636  2A 21 41	*!A
	rst	18h		; 5639  DF		_
	jr	c,X5641		; 563A  38 05		8.
	call	X2843		; 563C  CD 43 28	MC(
	jr	X5603		; 563F  18 C2		.B
;
X5641:	pop	de		; 5641  D1		Q
	ld	hl,X40d3	; 5642  21 D3 40	!S@
	push	hl		; 5645  E5		e
X5646:	call	X29f5		; 5646  CD F5 29	Mu)
	ld	a,(hl)		; 5649  7E		~
	ld	(X40b3),hl	; 564A  22 B3 40	"3@
	pop	hl		; 564D  E1		a
	ld	(hl),a		; 564E  77		w
	inc	hl		; 564F  23		#
	ld	(hl),c		; 5650  71		q
	inc	hl		; 5651  23		#
	ld	(hl),b		; 5652  70		p
	jr	X5604		; 5653  18 AF		./
;
X5655:	cp	0c1h		; 5655  FE C1		~A
	jr	z,X56ab		; 5657  28 52		(R
	call	X5582		; 5659  CD 82 55	M.U
	call	X2828		; 565C  CD 28 28	M((
	ex	de,hl		; 565F  EB		k
	ld	(hl),e		; 5660  73		s
	inc	hl		; 5661  23		#
	ld	(hl),d		; 5662  72		r
	ex	de,hl		; 5663  EB		k
	ld	a,(hl)		; 5664  7E		~
	cp	28h		; 5665  FE 28		~(
	jp	nz,X1f05	; 5667  C2 05 1F	B..
	rst	10h		; 566A  D7		W
X566b:	call	X260d		; 566B  CD 0D 26	M.&
	ld	a,(hl)		; 566E  7E		~
	cp	29h		; 566F  FE 29		~)
	jp	z,X1f05		; 5671  CA 05 1F	J..
	rst	8		; 5674  CF		O
	inc	l		; 5675  2C		,
	jp	X566b		; 5676  C3 6B 56	CkV
;
X5679:	pop	af		; 5679  F1		q
	call	X5699		; 567A  CD 99 56	M.V
	push	de		; 567D  D5		U
	call	X252c		; 567E  CD 2C 25	M,%
	ex	(sp),hl		; 5681  E3		c
	ld	c,(hl)		; 5682  4E		N
	inc	hl		; 5683  23		#
	ld	b,(hl)		; 5684  46		F
	ld	hl,X26e7	; 5685  21 E7 26	!g&
	push	hl		; 5688  E5		e
	push	bc		; 5689  C5		E
	ld	a,(X40af)	; 568A  3A AF 40	:/@
	push	af		; 568D  F5		u
	cp	3		; 568E  FE 03		~.
	call	z,X29da		; 5690  CC DA 29	LZ)
	pop	af		; 5693  F1		q
	ex	de,hl		; 5694  EB		k
	ld	hl,X4121	; 5695  21 21 41	!!A
	ret			; 5698  C9		I
;
X5699:	rst	10h		; 5699  D7		W
	ld	bc,X0000	; 569A  01 00 00	...
	jr	nc,X56a4	; 569D  30 05		0.
	sub	30h		; 569F  D6 30		V0
	rla			; 56A1  17		.
	ld	c,a		; 56A2  4F		O
	rst	10h		; 56A3  D7		W
X56a4:	ex	de,hl		; 56A4  EB		k
	ld	hl,X5b14	; 56A5  21 14 5B	!.[
	add	hl,bc		; 56A8  09		.
	ex	de,hl		; 56A9  EB		k
	ret			; 56AA  C9		I
;
X56ab:	call	X5699		; 56AB  CD 99 56	M.V
	push	de		; 56AE  D5		U
	rst	8		; 56AF  CF		O
	push	de		; 56B0  D5		U
	call	X2b02		; 56B1  CD 02 2B	M.+
	ex	(sp),hl		; 56B4  E3		c
	ld	(hl),e		; 56B5  73		s
	inc	hl		; 56B6  23		#
	ld	(hl),d		; 56B7  72		r
	pop	hl		; 56B8  E1		a
	ret			; 56B9  C9		I
;
X56ba:	ld	e,2eh		; 56BA  1E 2E		..
	jp	X19a2		; 56BC  C3 A2 19	C".
;
	ld	c,2		; 56BF  0E 02		..
	jp	X5dea		; 56C1  C3 EA 5D	Cj]
;
X56c4:	call	X2337		; 56C4  CD 37 23	M7#
	push	hl		; 56C7  E5		e
	call	X29d7		; 56C8  CD D7 29	MW)
	ld	a,(hl)		; 56CB  7E		~
	or	a		; 56CC  B7		7
	call	X53ee		; 56CD  CD EE 53	MnS
	inc	hl		; 56D0  23		#
	ld	e,(hl)		; 56D1  5E		^
	inc	hl		; 56D2  23		#
	ld	d,(hl)		; 56D3  56		V
	call	X5da6		; 56D4  CD A6 5D	M&]
	jp	z,X5705		; 56D7  CA 05 57	J.W
	cp	fdrvbuf		; 56DA  FE 45		~E
	jp	z,X570a		; 56DC  CA 0A 57	J.W
	cp	54h		; 56DF  FE 54		~T
	jr	z,X56fd		; 56E1  28 1A		(.
	cp	52h		; 56E3  FE 52		~R
	jr	z,X56fa		; 56E5  28 13		(.
	cp	53h		; 56E7  FE 53		~S
	jp	z,X5b52		; 56E9  CA 52 5B	JR[
	cp	frdpbuf		; 56EC  FE 41		~A
	scf			; 56EE  37		7
	jp	z,X5b52		; 56EF  CA 52 5B	JR[
	cp	58h		; 56F2  FE 58		~X
	jp	z,X1e4a		; 56F4  CA 4A 1E	JJ.
	jp	X1e4a		; 56F7  C3 4A 1E	CJ.
;
X56fa:	ld	a,0c3h		; 56FA  3E C3		>C
	ld	bc,Xc93e	; 56FC  01 3E C9	.>I
	ld	(X4012),a	; 56FF  32 12 40	2.@
	pop	hl		; 5702  E1		a
	ei			; 5703  FB		{
	ret			; 5704  C9		I
;
X5705:	call	X440d		; 5705  CD 0D 44	M.D
	pop	hl		; 5708  E1		a
	ret			; 5709  C9		I
;
X570a:	ld	a,(X5b29)	; 570A  3A 29 5B	:)[
	or	0c0h		; 570D  F6 C0		v@
	call	X4409		; 570F  CD 09 44	M.D
	pop	hl		; 5712  E1		a
	ret			; 5713  C9		I
;
X5714:	rst	10h		; 5714  D7		W
	push	hl		; 5715  E5		e
	ld	a,xonc		; 5716  3E 11		>.
	call	X2857		; 5718  CD 57 28	MW(
	ld	hl,(X40d4)	; 571B  2A D4 40	*T@
	ld	de,X4046	; 571E  11 46 40	.F@
	call	X5745		; 5721  CD 45 57	MEW
	ld	(hl),2fh	; 5724  36 2F		6/
	inc	hl		; 5726  23		#
	call	X5745		; 5727  CD 45 57	MEW
	ld	(hl),2fh	; 572A  36 2F		6/
	inc	hl		; 572C  23		#
	call	X5745		; 572D  CD 45 57	MEW
	ld	(hl),20h	; 5730  36 20		6
	inc	hl		; 5732  23		#
	call	X5745		; 5733  CD 45 57	MEW
	ld	(hl),rst7sp3	; 5736  36 3A		6:
	inc	hl		; 5738  23		#
	call	X5745		; 5739  CD 45 57	MEW
	ld	(hl),rst7sp3	; 573C  36 3A		6:
	inc	hl		; 573E  23		#
	call	X5745		; 573F  CD 45 57	MEW
	jp	X2884		; 5742  C3 84 28	C.(
;
X5745:	ld	a,(de)		; 5745  1A		.
	dec	de		; 5746  1B		.
	ld	b,2fh		; 5747  06 2F		./
X5749:	sub	0ah		; 5749  D6 0A		V.
	inc	b		; 574B  04		.
	jp	nc,X5749	; 574C  D2 49 57	RIW
	add	a,rst7sp3	; 574F  C6 3A		F:
	ld	(hl),b		; 5751  70		p
	inc	hl		; 5752  23		#
	ld	(hl),a		; 5753  77		w
	inc	hl		; 5754  23		#
	ret			; 5755  C9		I
;
X5756:	rst	8		; 5756  CF		O
	adc	a,c		; 5757  89		.
	cp	23h		; 5758  FE 23		~#
	jp	z,X5e7a		; 575A  CA 7A 5E	Jz^
	call	X21cd		; 575D  CD CD 21	MM!
	call	X260d		; 5760  CD 0D 26	M.&
	call	X0af4		; 5763  CD F4 0A	Mt.
	push	de		; 5766  D5		U
	push	hl		; 5767  E5		e
	call	X0361		; 5768  CD 61 03	Ma.
	pop	de		; 576B  D1		Q
	pop	bc		; 576C  C1		A
	jp	c,X1dbe		; 576D  DA BE 1D	Z>.
	push	bc		; 5770  C5		E
	push	de		; 5771  D5		U
	ld	b,0		; 5772  06 00		..
	call	X2868		; 5774  CD 68 28	Mh(
	pop	hl		; 5777  E1		a
	xor	a		; 5778  AF		/
	jp	X1f32		; 5779  C3 32 1F	C2.
;
X577c:	push	hl		; 577C  E5		e
	ld	l,a		; 577D  6F		o
	ld	h,a		; 577E  67		g
	ld	(X5b2a),hl	; 577F  22 2A 5B	"*[
	pop	hl		; 5782  E1		a
	ret			; 5783  C9		I
;
X5784:	push	hl		; 5784  E5		e
	cp	23h		; 5785  FE 23		~#
	jp	nz,X26e7	; 5787  C2 E7 26	Bg&
	nop			; 578A  00		.
	nop			; 578B  00		.
	nop			; 578C  00		.
	pop	hl		; 578D  E1		a
	ld	a,(hl)		; 578E  7E		~
	nop			; 578F  00		.
	pop	bc		; 5790  C1		A
	call	X5de8		; 5791  CD E8 5D	Mh]
	push	hl		; 5794  E5		e
	ld	hl,(X40a7)	; 5795  2A A7 40	*'@
	dec	hl		; 5798  2B		+
	jp	X21eb		; 5799  C3 EB 21	Ck!
;
X579c:	push	hl		; 579C  E5		e
	ld	hl,(X5b2a)	; 579D  2A 2A 5B	**[
	ld	a,h		; 57A0  7C		|
	or	l		; 57A1  B5		5
	pop	hl		; 57A2  E1		a
	ret	z		; 57A3  C8		H
	ex	(sp),hl		; 57A4  E3		c
	push	de		; 57A5  D5		U
	ld	de,X2b2e	; 57A6  11 2E 2B	..+
	rst	18h		; 57A9  DF		_
	pop	de		; 57AA  D1		Q
	pop	hl		; 57AB  E1		a
	jp	nc,X2b4a	; 57AC  D2 4A 2B	RJ+
	jp	X2282		; 57AF  C3 82 22	C."
;
X57b2:	or	a		; 57B2  B7		7
	jp	nz,X6005	; 57B3  C2 05 60	B.`
	sbc	hl,bc		; 57B6  ED 42		mB
	jp	c,X6005		; 57B8  DA 05 60	Z.`
	ex	de,hl		; 57BB  EB		k
	ld	a,c		; 57BC  79		y
	ld	(X57c7),a	; 57BD  32 C7 57	2GW
	call	X57de		; 57C0  CD DE 57	M^W
	jr	X57ce		; 57C3  18 09		..
;
X57c5:	ld	a,c		; 57C5  79		y
	cp	0		; 57C6  FE 00		~.
	call	z,X57d5		; 57C8  CC D5 57	LUW
	ld	a,(de)		; 57CB  1A		.
	ld	(hl),a		; 57CC  77		w
	inc	hl		; 57CD  23		#
X57ce:	inc	de		; 57CE  13		.
	dec	bc		; 57CF  0B		.
	ld	a,b		; 57D0  78		x
	or	c		; 57D1  B1		1
	jr	nz,X57c5	; 57D2  20 F1		 q
	ret			; 57D4  C9		I
;
X57d5:	push	ix		; 57D5  DD E5		]e
	pop	de		; 57D7  D1		Q
	call	X3ada		; 57D8  CD DA 3A	MZ:
X57db:	jp	nz,X63fd	; 57DB  C2 FD 63	B}c
X57de:	ld	e,(ix+3)	; 57DE  DD 5E 03	]^.
	ld	d,(ix+4)	; 57E1  DD 56 04	]V.
	ret			; 57E4  C9		I
;
X57e5:	ld	(X57fa),a	; 57E5  32 FA 57	2zW
	call	X57de		; 57E8  CD DE 57	M^W
	ld	a,0ffh		; 57EB  3E FF		>.
	jr	X5800		; 57ED  18 11		..
;
X57ef:	push	ix		; 57EF  DD E5		]e
	pop	de		; 57F1  D1		Q
	call	X4439		; 57F2  CD 39 44	M9D
	jp	X57db		; 57F5  C3 DB 57	C[W
;
X57f8:	ld	a,c		; 57F8  79		y
	cp	0		; 57F9  FE 00		~.
	call	z,X57ef		; 57FB  CC EF 57	LoW
	ld	a,(hl)		; 57FE  7E		~
	inc	hl		; 57FF  23		#
X5800:	ld	(de),a		; 5800  12		.
	inc	de		; 5801  13		.
	dec	bc		; 5802  0B		.
	ld	a,b		; 5803  78		x
	or	c		; 5804  B1		1
	jr	nz,X57f8	; 5805  20 F1		 q
	ld	a,e		; 5807  7B		{
	sub	(ix+3)		; 5808  DD 96 03	]..
	ld	(ix+5),a	; 580B  DD 77 05	]w.
	call	X57ef		; 580E  CD EF 57	MoW
	push	ix		; 5811  DD E5		]e
	pop	de		; 5813  D1		Q
	call	X443f		; 5814  CD 3F 44	M?D
X5817:	jp	nz,X63fd	; 5817  C2 FD 63	B}c
X581a:	call	X4436		; 581A  CD 36 44	M6D
	jr	z,X581a		; 581D  28 FB		({
	cp	1ch		; 581F  FE 1C		~.
	jr	z,X5827		; 5821  28 04		(.
	cp	1dh		; 5823  FE 1D		~.
	jr	nz,X5817	; 5825  20 F0		 p
X5827:	jp	X5ffc		; 5827  C3 FC 5F	C|_
;
	add	hl,sp		; 582A  39		9
	scf			; 582B  37		7
	jr	c,X583b		; 582C  38 0D		8.
	nop			; 582E  00		.
X582f:	rst	10h		; 582F  D7		W
	call	X2335		; 5830  CD 35 23	M5#
	rst	20h		; 5833  E7		g
	ld	a,1		; 5834  3E 01		>.
	push	af		; 5836  F5		u
	jr	z,X584a		; 5837  28 11		(.
	pop	af		; 5839  F1		q
	call	X2b1f		; 583A  CD 1F 2B	M.+
	or	a		; 583D  B7		7
	jp	z,X1e4a		; 583E  CA 4A 1E	JJ.
	push	af		; 5841  F5		u
	rst	8		; 5842  CF		O
	inc	l		; 5843  2C		,
X5844:	call	X2337		; 5844  CD 37 23	M7#
	call	X0af4		; 5847  CD F4 0A	Mt.
X584a:	rst	8		; 584A  CF		O
	inc	l		; 584B  2C		,
	push	hl		; 584C  E5		e
	ld	hl,(X4121)	; 584D  2A 21 41	*!A
	ex	(sp),hl		; 5850  E3		c
	call	X2337		; 5851  CD 37 23	M7#
	rst	8		; 5854  CF		O
	add	hl,hl		; 5855  29		)
	push	hl		; 5856  E5		e
	call	X29d7		; 5857  CD D7 29	MW)
	ex	de,hl		; 585A  EB		k
	pop	bc		; 585B  C1		A
	pop	hl		; 585C  E1		a
	pop	af		; 585D  F1		q
	push	bc		; 585E  C5		E
	ld	bc,X26e7	; 585F  01 E7 26	.g&
	push	bc		; 5862  C5		E
	ld	bc,X27f8	; 5863  01 F8 27	.x'
	push	bc		; 5866  C5		E
	push	af		; 5867  F5		u
	push	de		; 5868  D5		U
	call	X29dd		; 5869  CD DD 29	M])
	pop	de		; 586C  D1		Q
	pop	af		; 586D  F1		q
	ld	b,a		; 586E  47		G
	dec	a		; 586F  3D		=
	ld	c,a		; 5870  4F		O
	cp	(hl)		; 5871  BE		>
	ld	a,0		; 5872  3E 00		>.
	ret	nc		; 5874  D0		P
	ld	a,(hl)		; 5875  7E		~
	or	a		; 5876  B7		7
	ret	z		; 5877  C8		H
	ld	a,(de)		; 5878  1A		.
	or	a		; 5879  B7		7
	ld	a,b		; 587A  78		x
	ret	z		; 587B  C8		H
	ld	a,(hl)		; 587C  7E		~
	inc	hl		; 587D  23		#
	ld	b,(hl)		; 587E  46		F
	inc	hl		; 587F  23		#
	ld	h,(hl)		; 5880  66		f
	ld	l,b		; 5881  68		h
	ld	b,0		; 5882  06 00		..
	add	hl,bc		; 5884  09		.
	sub	c		; 5885  91		.
	ld	b,a		; 5886  47		G
	push	bc		; 5887  C5		E
	push	de		; 5888  D5		U
	ex	(sp),hl		; 5889  E3		c
	ld	c,(hl)		; 588A  4E		N
	inc	hl		; 588B  23		#
	ld	e,(hl)		; 588C  5E		^
	inc	hl		; 588D  23		#
	ld	d,(hl)		; 588E  56		V
	pop	hl		; 588F  E1		a
X5890:	push	hl		; 5890  E5		e
	push	de		; 5891  D5		U
	push	bc		; 5892  C5		E
X5893:	ld	a,(de)		; 5893  1A		.
	cp	(hl)		; 5894  BE		>
	jr	nz,X58ae	; 5895  20 17		 .
	inc	de		; 5897  13		.
	dec	c		; 5898  0D		.
	jr	z,X58a5		; 5899  28 0A		(.
	inc	hl		; 589B  23		#
	dec	b		; 589C  05		.
	jr	nz,X5893	; 589D  20 F4		 t
	pop	de		; 589F  D1		Q
	pop	de		; 58A0  D1		Q
	pop	bc		; 58A1  C1		A
X58a2:	pop	de		; 58A2  D1		Q
	xor	a		; 58A3  AF		/
	ret			; 58A4  C9		I
;
X58a5:	pop	hl		; 58A5  E1		a
	pop	de		; 58A6  D1		Q
	pop	de		; 58A7  D1		Q
	pop	bc		; 58A8  C1		A
	ld	a,b		; 58A9  78		x
	sub	h		; 58AA  94		.
	add	a,c		; 58AB  81		.
	inc	a		; 58AC  3C		<
	ret			; 58AD  C9		I
;
X58ae:	pop	bc		; 58AE  C1		A
	pop	de		; 58AF  D1		Q
	pop	hl		; 58B0  E1		a
	inc	hl		; 58B1  23		#
	dec	b		; 58B2  05		.
	jr	z,X58a2		; 58B3  28 ED		(m
	jr	X5890		; 58B5  18 D9		.Y
;
X58b7:	rst	10h		; 58B7  D7		W
	cp	colbuf		; 58B8  FE 4F		~O
	jr	z,X58ed		; 58BA  28 31		(1
	cp	curpbuf		; 58BC  FE 48		~H
	jp	z,X023a		; 58BE  CA 3A 02	J:.
	dec	hl		; 58C1  2B		+
	push	hl		; 58C2  E5		e
	ld	a,4		; 58C3  3E 04		>.
	call	X2857		; 58C5  CD 57 28	MW(
	pop	hl		; 58C8  E1		a
	push	hl		; 58C9  E5		e
	push	de		; 58CA  D5		U
	call	X01d9		; 58CB  CD D9 01	MY.
	pop	hl		; 58CE  E1		a
	ex	de,hl		; 58CF  EB		k
	push	hl		; 58D0  E5		e
	ld	l,h		; 58D1  6C		l
	call	X0215		; 58D2  CD 15 02	M..
	pop	hl		; 58D5  E1		a
	call	X0215		; 58D6  CD 15 02	M..
	ld	hl,(X40f3)	; 58D9  2A F3 40	*s@
	pop	bc		; 58DC  C1		A
	ld	a,b		; 58DD  78		x
X58de:	and	20h		; 58DE  E6 20		f
	jr	z,X58e9		; 58E0  28 07		(.
	ld	de,X5baa	; 58E2  11 AA 5B	.*[
	or	a		; 58E5  B7		7
	sbc	hl,de		; 58E6  ED 52		mR
	add	hl,bc		; 58E8  09		.
X58e9:	push	hl		; 58E9  E5		e
	jp	X2884		; 58EA  C3 84 28	C.(
;
X58ed:	call	X3308		; 58ED  CD 08 33	M.3
	ld	bc,X07b2	; 58F0  01 B2 07	.2.
	push	bc		; 58F3  C5		E
X58f4:	rst	10h		; 58F4  D7		W
	ex	de,hl		; 58F5  EB		k
	jp	nc,X0231	; 58F6  D2 31 02	R1.
	cp	rst7sp1		; 58F9  FE 38		~8
	ret	nc		; 58FB  D0		P
	add	hl,hl		; 58FC  29		)
	ret	c		; 58FD  D8		X
	add	hl,hl		; 58FE  29		)
	ret	c		; 58FF  D8		X
	add	hl,hl		; 5900  29		)
	ret	c		; 5901  D8		X
	ld	b,0		; 5902  06 00		..
	sub	30h		; 5904  D6 30		V0
	ld	c,a		; 5906  4F		O
	add	hl,bc		; 5907  09		.
	ex	de,hl		; 5908  EB		k
X5909:	jr	X58f4		; 5909  18 E9		.i
;
	ORG	590dh
;
X590d:	inc	hl		; 590D  23		#
	rst	8		; 590E  CF		O
	jr	z,X58de		; 590F  28 CD		(M
	dec	c		; 5911  0D		.
	ld	h,0cdh		; 5912  26 CD		&M
	call	p,Xe50a		; 5914  F4 0A E5	t.e
	push	de		; 5917  D5		U
	ex	de,hl		; 5918  EB		k
	inc	hl		; 5919  23		#
	ld	e,(hl)		; 591A  5E		^
	inc	hl		; 591B  23		#
	ld	d,(hl)		; 591C  56		V
	ld	hl,(X40a0)	; 591D  2A A0 40	* @
	rst	18h		; 5920  DF		_
	jr	c,X592d		; 5921  38 0A		8.
	pop	hl		; 5923  E1		a
	push	hl		; 5924  E5		e
	call	X2843		; 5925  CD 43 28	MC(
	pop	hl		; 5928  E1		a
	push	hl		; 5929  E5		e
	call	X09d3		; 592A  CD D3 09	MS.
X592d:	pop	hl		; 592D  E1		a
	ex	(sp),hl		; 592E  E3		c
	rst	8		; 592F  CF		O
	inc	l		; 5930  2C		,
	call	X2b1c		; 5931  CD 1C 2B	M.+
	or	a		; 5934  B7		7
	jp	z,X1e4a		; 5935  CA 4A 1E	JJ.
	push	af		; 5938  F5		u
	ld	a,(hl)		; 5939  7E		~
	call	X5980		; 593A  CD 80 59	M.Y
	push	de		; 593D  D5		U
	rst	8		; 593E  CF		O
	push	de		; 593F  D5		U
	call	X2337		; 5940  CD 37 23	M7#
	push	hl		; 5943  E5		e
	call	X29d7		; 5944  CD D7 29	MW)
	ex	de,hl		; 5947  EB		k
	pop	hl		; 5948  E1		a
	pop	bc		; 5949  C1		A
	pop	af		; 594A  F1		q
	ld	b,a		; 594B  47		G
	ex	(sp),hl		; 594C  E3		c
	push	hl		; 594D  E5		e
	ld	hl,X26e7	; 594E  21 E7 26	!g&
	ex	(sp),hl		; 5951  E3		c
	ld	a,c		; 5952  79		y
	or	a		; 5953  B7		7
	ret	z		; 5954  C8		H
	ld	a,(hl)		; 5955  7E		~
	sub	b		; 5956  90		.
	jp	c,X1e4a		; 5957  DA 4A 1E	ZJ.
	inc	a		; 595A  3C		<
	cp	c		; 595B  B9		9
	jr	c,X595f		; 595C  38 01		8.
	ld	a,c		; 595E  79		y
X595f:	ld	c,b		; 595F  48		H
	dec	c		; 5960  0D		.
	ld	b,0		; 5961  06 00		..
	push	de		; 5963  D5		U
	inc	hl		; 5964  23		#
	ld	e,(hl)		; 5965  5E		^
	inc	hl		; 5966  23		#
	ld	h,(hl)		; 5967  66		f
	ld	l,e		; 5968  6B		k
	add	hl,bc		; 5969  09		.
	ld	b,a		; 596A  47		G
	pop	de		; 596B  D1		Q
	ex	de,hl		; 596C  EB		k
	ld	c,(hl)		; 596D  4E		N
	inc	hl		; 596E  23		#
	ld	a,(hl)		; 596F  7E		~
	inc	hl		; 5970  23		#
	ld	h,(hl)		; 5971  66		f
	ld	l,a		; 5972  6F		o
	ex	de,hl		; 5973  EB		k
	ld	a,c		; 5974  79		y
	or	a		; 5975  B7		7
	ret	z		; 5976  C8		H
X5977:	ld	a,(de)		; 5977  1A		.
	ld	(hl),a		; 5978  77		w
	inc	de		; 5979  13		.
	inc	hl		; 597A  23		#
	dec	c		; 597B  0D		.
	ret	z		; 597C  C8		H
	djnz	X5977		; 597D  10 F8		.x
	ret			; 597F  C9		I
;
X5980:	ld	e,0ffh		; 5980  1E FF		..
	cp	29h		; 5982  FE 29		~)
	jr	z,X598b		; 5984  28 05		(.
	rst	8		; 5986  CF		O
	inc	l		; 5987  2C		,
	call	X2b1c		; 5988  CD 1C 2B	M.+
X598b:	rst	8		; 598B  CF		O
	add	hl,hl		; 598C  29		)
	ret			; 598D  C9		I
;
X598e:	push	hl		; 598E  E5		e
	ld	hl,(X5b2a)	; 598F  2A 2A 5B	**[
	ld	a,h		; 5992  7C		|
	jp	X5238		; 5993  C3 38 52	C8R
;
X5996:	pop	af		; 5996  F1		q
	push	bc		; 5997  C5		E
	ld	b,0f0h		; 5998  06 F0		.p
	ld	hl,(X40a7)	; 599A  2A A7 40	*'@
X599d:	call	X0384		; 599D  CD 84 03	M..
	ld	(hl),a		; 59A0  77		w
	cp	0dh		; 59A1  FE 0D		~.
	jp	z,X59b6		; 59A3  CA B6 59	J6Y
	cp	0ah		; 59A6  FE 0A		~.
	jp	nz,X59b1	; 59A8  C2 B1 59	B1Y
	ld	a,b		; 59AB  78		x
	cp	0f0h		; 59AC  FE F0		~p
	jp	z,X599d		; 59AE  CA 9D 59	J.Y
X59b1:	inc	hl		; 59B1  23		#
	dec	b		; 59B2  05		.
	jp	nz,X599d	; 59B3  C2 9D 59	B.Y
X59b6:	xor	a		; 59B6  AF		/
	ld	(hl),a		; 59B7  77		w
	pop	bc		; 59B8  C1		A
	ld	hl,(X40a7)	; 59B9  2A A7 40	*'@
	dec	hl		; 59BC  2B		+
	ret			; 59BD  C9		I
;
X59be:	push	hl		; 59BE  E5		e
	ld	hl,(X5b2a)	; 59BF  2A 2A 5B	**[
	ld	a,h		; 59C2  7C		|
	or	l		; 59C3  B5		5
	pop	hl		; 59C4  E1		a
	ld	a,c		; 59C5  79		y
	ret	z		; 59C6  C8		H
	pop	af		; 59C7  F1		q
	ld	a,c		; 59C8  79		y
	pop	bc		; 59C9  C1		A
	jp	X624f		; 59CA  C3 4F 62	COb
;
X59cd:	inc	sp		; 59CD  33		3
	inc	sp		; 59CE  33		3
	ex	(sp),hl		; 59CF  E3		c
	push	de		; 59D0  D5		U
	ld	de,X0387	; 59D1  11 87 03	...
	rst	18h		; 59D4  DF		_
	pop	de		; 59D5  D1		Q
	ex	(sp),hl		; 59D6  E3		c
	jp	nz,X5a0e	; 59D7  C2 0E 5A	B.Z
	push	hl		; 59DA  E5		e
	ld	hl,(X5b2a)	; 59DB  2A 2A 5B	**[
	ld	a,h		; 59DE  7C		|
	or	l		; 59DF  B5		5
	pop	hl		; 59E0  E1		a
	jp	z,X035b		; 59E1  CA 5B 03	J[.
	push	hl		; 59E4  E5		e
	call	X62e5		; 59E5  CD E5 62	Meb
	jp	nc,X26e7	; 59E8  D2 E7 26	Rg&
	push	bc		; 59EB  C5		E
	push	de		; 59EC  D5		U
	push	hl		; 59ED  E5		e
	call	X5ffc		; 59EE  CD FC 5F	M|_
	pop	hl		; 59F1  E1		a
	pop	de		; 59F2  D1		Q
	pop	bc		; 59F3  C1		A
	ld	a,(X5b4e)	; 59F4  3A 4E 5B	:N[
	or	a		; 59F7  B7		7
	ld	hl,RUNCNT	; 59F8  21 1E 1D	!..
	ex	(sp),hl		; 59FB  E3		c
	jp	nz,X1b5d	; 59FC  C2 5D 1B	B].
	ex	(sp),hl		; 59FF  E3		c
	push	bc		; 5A00  C5		E
	push	de		; 5A01  D5		U
	ld	hl,X1929	; 5A02  21 29 19	!).
	call	X28a7		; 5A05  CD A7 28	M'(
	pop	de		; 5A08  D1		Q
	pop	bc		; 5A09  C1		A
	ld	a,0dh		; 5A0A  3E 0D		>.
	pop	hl		; 5A0C  E1		a
	ret			; 5A0D  C9		I
;
X5a0e:	ld	(X40a9),a	; 5A0E  32 A9 40	2)@
	jp	X035b		; 5A11  C3 5B 03	C[.
;
X5a14:	nop			; 5A14  00		.
X5a15:	push	hl		; 5A15  E5		e
	rst	10h		; 5A16  D7		W
	cp	0ceh		; 5A17  FE CE		~N
	pop	hl		; 5A19  E1		a
	ld	a,(hl)		; 5A1A  7E		~
	ret	z		; 5A1B  C8		H
	ld	c,2		; 5A1C  0E 02		..
	jp	X5dea		; 5A1E  C3 EA 5D	Cj]
;
	ORG	5a62h
;
	ld	c,2		; 5A62  0E 02		..
	jp	X5dea		; 5A64  C3 EA 5D	Cj]
;
	ORG	5b14h
;
X5b14:	defw	1e4ah		; 5B14   4A 1E      J.
	defw	1e4ah		; 5B16   4A 1E      J.
	defw	1e4ah		; 5B18   4A 1E      J.
	defw	1e4ah		; 5B1A   4A 1E      J.
	defw	1e4ah		; 5B1C   4A 1E      J.
	defw	1e4ah		; 5B1E   4A 1E      J.
	defw	1e4ah		; 5B20   4A 1E      J.
	defw	1e4ah		; 5B22   4A 1E      J.
	defw	1e4ah		; 5B24   4A 1E      J.
	defw	1e4ah		; 5B26   4A 1E      J.
;
X5b28:	defw	0		; 5B28   00 00      ..
;
X5b2a:	nop			; 5B2A  00		.
;
	ORG	5b2ch
;
X5b2c:	nop			; 5B2C  00		.
;
	ORG	5b4ch
;
X5b4c:	nop			; 5B4C  00		.
;
	ORG	5b4eh
;
X5b4e:	nop			; 5B4E  00		.
X5b4f:	nop			; 5B4F  00		.
X5b50:	nop			; 5B50  00		.
X5b51:	ret			; 5B51  C9		I
;
X5b52:	push	af		; 5B52  F5		u
	ld	hl,(X5ba8)	; 5B53  2A A8 5B	*([
	ld	(X4313),hl	; 5B56  22 13 43	".C
	ld	a,0c3h		; 5B59  3E C3		>C
	ld	(X4315),a	; 5B5B  32 15 43	2.C
	pop	af		; 5B5E  F1		q
	jp	c,X4030		; 5B5F  DA 30 40	Z0@
	jp	X402d		; 5B62  C3 2D 40	C-@
;
X5b65:	ld	hl,(X5b2a)	; 5B65  2A 2A 5B	**[
	ld	a,h		; 5B68  7C		|
	or	l		; 5B69  B5		5
	ret	z		; 5B6A  C8		H
	inc	hl		; 5B6B  23		#
	ld	a,(hl)		; 5B6C  7E		~
	pop	hl		; 5B6D  E1		a
	push	de		; 5B6E  D5		U
	push	af		; 5B6F  F5		u
	ld	de,X2130	; 5B70  11 30 21	.0!
	rst	18h		; 5B73  DF		_
	pop	de		; 5B74  D1		Q
	ld	a,d		; 5B75  7A		z
	pop	de		; 5B76  D1		Q
	jp	c,X2130		; 5B77  DA 30 21	Z0!
	jp	X2156		; 5B7A  C3 56 21	CV!
;
X5b7d:	ld	hl,(X5b2a)	; 5B7D  2A 2A 5B	**[
	ld	(X40f3),hl	; 5B80  22 F3 40	"s@
	ld	hl,X5a14	; 5B83  21 14 5A	!.Z
	ld	(hl),0		; 5B86  36 00		6.
	ld	(X5b2c),hl	; 5B88  22 2C 5B	",[
	ret			; 5B8B  C9		I
;
X5b8c:	ld	hl,(X40f3)	; 5B8C  2A F3 40	*s@
	ld	(X5b2a),hl	; 5B8F  22 2A 5B	"*[
	ld	hl,(X5b4c)	; 5B92  2A 4C 5B	*L[
	ld	(X5b2c),hl	; 5B95  22 2C 5B	",[
	ret			; 5B98  C9		I
;
X5b99:	ret			; 5B99  C9		I
;
X5b9a:	ld	hl,(X5b2a)	; 5B9A  2A 2A 5B	**[
	ld	a,h		; 5B9D  7C		|
	or	l		; 5B9E  B5		5
	ret	z		; 5B9F  C8		H
	pop	hl		; 5BA0  E1		a
	jp	X20e9		; 5BA1  C3 E9 20	Ci
;
X5ba4:	cp	1		; 5BA4  FE 01		~.
	ret	z		; 5BA6  C8		H
	jp	X0000		; 5BA7  C3 00 00	C..
;
X5baa:	ld	a,(X2c00)	; 5BAA  3A 00 2C	:.,
X5bad:	xor	a		; 5BAD  AF		/
	ld	(X430e),a	; 5BAE  32 0E 43	2.C
	dec	hl		; 5BB1  2B		+
	rst	10h		; 5BB2  D7		W
	jp	c,X5bfe		; 5BB3  DA FE 5B	Z~[
	cp	2ah		; 5BB6  FE 2A		~*
	jr	nz,X5c23	; 5BB8  20 69		 i
	push	hl		; 5BBA  E5		e
	ld	hl,(X40b1)	; 5BBB  2A B1 40	*1@
	ld	(X5c87),hl	; 5BBE  22 87 5C	".\
	ld	hl,(X40a4)	; 5BC1  2A A4 40	*$@
	push	hl		; 5BC4  E5		e
	ld	e,(hl)		; 5BC5  5E		^
	inc	hl		; 5BC6  23		#
	ld	d,(hl)		; 5BC7  56		V
	ld	(X5cd7),de	; 5BC8  ED 53 D7 5C	mSW\
	or	a		; 5BCC  B7		7
	sbc	hl,de		; 5BCD  ED 52		mR
	jr	nc,X5bf8	; 5BCF  30 27		0'
	ld	hl,(X40f9)	; 5BD1  2A F9 40	*y@
	ld	(X5ce0),hl	; 5BD4  22 E0 5C	"`\
	dec	hl		; 5BD7  2B		+
	ld	a,(hl)		; 5BD8  7E		~
	dec	hl		; 5BD9  2B		+
	or	(hl)		; 5BDA  B6		6
	jr	nz,X5bf8	; 5BDB  20 1B		 .
	sbc	hl,de		; 5BDD  ED 52		mR
	jr	c,X5bf8		; 5BDF  38 17		8.
	pop	hl		; 5BE1  E1		a
	dec	hl		; 5BE2  2B		+
	ld	de,X66f7	; 5BE3  11 F7 66	.wf
	or	0ffh		; 5BE6  F6 FF		v.
	sbc	hl,de		; 5BE8  ED 52		mR
	ld	de,X0122	; 5BEA  11 22 01	.".
X5bed:	inc	a		; 5BED  3C		<
	or	a		; 5BEE  B7		7
	sbc	hl,de		; 5BEF  ED 52		mR
	jp	z,X5c1f		; 5BF1  CA 1F 5C	J.\
	cp	0fh		; 5BF4  FE 0F		~.
	jr	c,X5bed		; 5BF6  38 F5		8u
X5bf8:	jp	X402d		; 5BF8  C3 2D 40	C-@
;
X5bfb:	rst	10h		; 5BFB  D7		W
	jr	nc,X5c23	; 5BFC  30 25		0%
X5bfe:	call	X1e5a		; 5BFE  CD 5A 1E	MZ.
	ld	a,d		; 5C01  7A		z
	or	a		; 5C02  B7		7
	jr	nz,X5c18	; 5C03  20 13		 .
	ld	a,e		; 5C05  7B		{
	cp	10h		; 5C06  FE 10		~.
	jr	nc,X5bf8	; 5C08  30 EE		0n
	ld	(X5c5c),a	; 5C0A  32 5C 5C	2\\
X5c0d:	ld	a,(hl)		; 5C0D  7E		~
	cp	2ch		; 5C0E  FE 2C		~,
	jr	z,X5bfb		; 5C10  28 E9		(i
	cp	0dh		; 5C12  FE 0D		~.
	jr	nz,X5bf8	; 5C14  20 E2		 b
	jr	X5c23		; 5C16  18 0B		..
;
X5c18:	dec	de		; 5C18  1B		.
	ld	(X5c87),de	; 5C19  ED 53 87 5C	mS.\
	jr	X5c0d		; 5C1D  18 EE		.n
;
X5c1f:	ld	(X5c5c),a	; 5C1F  32 5C 5C	2\\
	pop	hl		; 5C22  E1		a
X5c23:	ld	(X5ccf),hl	; 5C23  22 CF 5C	"O\
	ld	hl,(X4313)	; 5C26  2A 13 43	*.C
	ld	(X5ba8),hl	; 5C29  22 A8 5B	"([
	ld	hl,X5ba4	; 5C2C  21 A4 5B	!$[
	ld	(X4313),hl	; 5C2F  22 13 43	".C
	xor	a		; 5C32  AF		/
	ld	(X4315),a	; 5C33  32 15 43	2.C
	ld	de,X4080	; 5C36  11 80 40	..@
	ld	hl,X18f7	; 5C39  21 F7 18	!w.
	ld	bc,X0027	; 5C3C  01 27 00	.'.
	ldir			; 5C3F  ED B0		m0
X5c41:	ld	sp,X5c41	; 5C41  31 41 5C	1A\
	ld	hl,X4d00	; 5C44  21 00 4D	!.M
	ld	de,X4152	; 5C47  11 52 41	.RA
	ld	bc,X0093	; 5C4A  01 93 00	...
	ldir			; 5C4D  ED B0		m0
	ld	hl,Xfffe	; 5C4F  21 FE FF	!~.
	ld	(LINEAT),hl	; 5C52  22 A2 40	""@
	ld	hl,X5bad	; 5C55  21 AD 5B	!-[
	ld	(X40a7),hl	; 5C58  22 A7 40	"'@
	ld	a,3		; 5C5B  3E 03		>.
	ld	(X5b50),a	; 5C5D  32 50 5B	2P[
	inc	a		; 5C60  3C		<
	ld	hl,X66f7	; 5C61  21 F7 66	!wf
	ld	de,X5b2c	; 5C64  11 2C 5B	.,[
	ld	(X5b4c),hl	; 5C67  22 4C 5B	"L[
X5c6a:	ex	de,hl		; 5C6A  EB		k
	ld	(hl),e		; 5C6B  73		s
	inc	hl		; 5C6C  23		#
	ld	(hl),d		; 5C6D  72		r
	inc	hl		; 5C6E  23		#
	ex	de,hl		; 5C6F  EB		k
	ld	bc,X0122	; 5C70  01 22 01	.".
	ex	af,af'		; 5C73  08		.
X5c74:	ld	(hl),0		; 5C74  36 00		6.
	inc	hl		; 5C76  23		#
	dec	bc		; 5C77  0B		.
	ld	a,b		; 5C78  78		x
	or	c		; 5C79  B1		1
	jr	nz,X5c74	; 5C7A  20 F8		 x
	ex	af,af'		; 5C7C  08		.
	dec	a		; 5C7D  3D		=
	jr	nz,X5c6a	; 5C7E  20 EA		 j
	ld	(hl),0		; 5C80  36 00		6.
	inc	hl		; 5C82  23		#
	ld	(X40a4),hl	; 5C83  22 A4 40	"$@
	ld	hl,X0000	; 5C86  21 00 00	!..
	ld	a,h		; 5C89  7C		|
	or	l		; 5C8A  B5		5
	jr	nz,X5ca0	; 5C8B  20 13		 .
	ld	hl,(X4049)	; 5C8D  2A 49 40	*I@
X5c90:	jr	X5ca0		; 5C90  18 0E		..
;
	or	l		; 5C92  B5		5
	jr	z,X5c9d		; 5C93  28 08		(.
	ld	a,(hl)		; 5C95  7E		~
	ld	b,a		; 5C96  47		G
	cpl			; 5C97  2F		/
	ld	(hl),a		; 5C98  77		w
	cp	(hl)		; 5C99  BE		>
	ld	(hl),b		; 5C9A  70		p
	jr	z,X5c90		; 5C9B  28 F3		(s
X5c9d:	dec	hl		; 5C9D  2B		+
	jr	X5ca8		; 5C9E  18 08		..
;
X5ca0:	ld	a,0d9h		; 5CA0  3E D9		>Y
	ld	b,(hl)		; 5CA2  46		F
	ld	(hl),a		; 5CA3  77		w
	cp	(hl)		; 5CA4  BE		>
	ld	(hl),b		; 5CA5  70		p
	jr	nz,X5ced	; 5CA6  20 45		 E
X5ca8:	ex	de,hl		; 5CA8  EB		k
	ld	hl,(X40a4)	; 5CA9  2A A4 40	*$@
X5cac:	ld	bc,X012c	; 5CAC  01 2C 01	.,.
	add	hl,bc		; 5CAF  09		.
	ex	de,hl		; 5CB0  EB		k
	rst	18h		; 5CB1  DF		_
	jp	c,X197a		; 5CB2  DA 7A 19	Zz.
	ld	de,Xffce	; 5CB5  11 CE FF	.N.
	ld	(X40b1),hl	; 5CB8  22 B1 40	"1@
	add	hl,de		; 5CBB  19		.
	ld	(X40a0),hl	; 5CBC  22 A0 40	" @
	ld	hl,X4d93	; 5CBF  21 93 4D	!.M
	call	X4467		; 5CC2  CD 67 44	MgD
	nop			; 5CC5  00		.
	nop			; 5CC6  00		.
	nop			; 5CC7  00		.
	nop			; 5CC8  00		.
	nop			; 5CC9  00		.
	nop			; 5CCA  00		.
	call	X1b4d		; 5CCB  CD 4D 1B	MM.
	ld	hl,X0000	; 5CCE  21 00 00	!..
	ld	a,(hl)		; 5CD1  7E		~
	cp	2ah		; 5CD2  FE 2A		~*
	jr	nz,X5cf1	; 5CD4  20 1B		 .
	ld	bc,X0000	; 5CD6  01 00 00	...
	ld	hl,(X40a4)	; 5CD9  2A A4 40	*$@
	ld	(hl),c		; 5CDC  71		q
	inc	hl		; 5CDD  23		#
	ld	(hl),b		; 5CDE  70		p
	ld	hl,X0000	; 5CDF  21 00 00	!..
	call	X1b5a		; 5CE2  CD 5A 1B	MZ.
	ld	hl,X5d59	; 5CE5  21 59 5D	!Y]
	ld	(X5ccf),hl	; 5CE8  22 CF 5C	"O\
	jr	X5cf5		; 5CEB  18 08		..
;
X5ced:	xor	a		; 5CED  AF		/
	jp	X5b52		; 5CEE  C3 52 5B	CR[
;
X5cf1:	cp	0dh		; 5CF1  FE 0D		~.
	jr	z,X5cfb		; 5CF3  28 06		(.
X5cf5:	ld	hl,X5d02	; 5CF5  21 02 5D	!.]
	ld	(X524a),hl	; 5CF8  22 4A 52	"JR
X5cfb:	xor	a		; 5CFB  AF		/
	ld	(X5cac),a	; 5CFC  32 AC 5C	2,\
	jp	X1a19		; 5CFF  C3 19 1A	C..
;
X5d02:	pop	hl		; 5D02  E1		a
	push	bc		; 5D03  C5		E
	ld	hl,X0033	; 5D04  21 33 00	!3.
	ld	(X524a),hl	; 5D07  22 4A 52	"JR
	ld	hl,X5d54	; 5D0A  21 54 5D	!T]
	call	X4467		; 5D0D  CD 67 44	MgD
	ld	de,(X5ccf)	; 5D10  ED 5B CF 5C	m[O\
	ld	hl,(X40a7)	; 5D14  2A A7 40	*'@
X5d17:	ld	a,(de)		; 5D17  1A		.
	ld	(hl),a		; 5D18  77		w
	inc	de		; 5D19  13		.
	inc	hl		; 5D1A  23		#
	cp	0dh		; 5D1B  FE 0D		~.
	jr	nz,X5d17	; 5D1D  20 F8		 x
	dec	hl		; 5D1F  2B		+
	xor	a		; 5D20  AF		/
	push	af		; 5D21  F5		u
	jp	X0379		; 5D22  C3 79 03	Cy.
;
	defb	0dh,0dh					; 5D25 ..
	defb	'BURKHARDT MUELLER *'			; 5D27
	defb	0ah					; 5D3A .
	defb	'*  MODENA ,  ITALIA  *.'		; 5D3B
	defb	0ah,0dh					; 5D52 ..
X5d54:	defb	1dh,esc,1fh,3				; 5D54 ....
X5d58:	defb	4					; 5D58 .
X5D59:	defb	'LIST'					; 5D59
	defb	0dh					; 5D5D .
X5d5e:	defb	4					; 5D5E .
	defb	'EDIT'					; 5D5F
X5d63:	defb	5					; 5D63 .
	defb	'DELET'					; 5D64
	defb	0					; 5D69 .
;
X5d6a:	ret	z		; 5D6A  C8		H
X5d6b:	jp	X63f8		; 5D6B  C3 F8 63	Cxc
;
X5d6e:	jp	nc,X60b9	; 5D6E  D2 B9 60	R9`
	ld	a,(hl)		; 5D71  7E		~
	cp	2ch		; 5D72  FE 2C		~,
	ret	nz		; 5D74  C0		@
	jr	X5d6b		; 5D75  18 F4		.t
;
X5d77:	cp	61h		; 5D77  FE 61		~a
	ret	c		; 5D79  D8		X
	cp	7bh		; 5D7A  FE 7B		~{
	ret	nc		; 5D7C  D0		P
	sub	20h		; 5D7D  D6 20		V
	ret			; 5D7F  C9		I
;
X5d80:	push	bc		; 5D80  C5		E
	push	hl		; 5D81  E5		e
X5d82:	ld	a,(hl)		; 5D82  7E		~
	call	X5d77		; 5D83  CD 77 5D	Mw]
	ld	(hl),a		; 5D86  77		w
	inc	hl		; 5D87  23		#
	cp	22h		; 5D88  FE 22		~"
	call	z,X52e0		; 5D8A  CC E0 52	L`R
	dec	b		; 5D8D  05		.
	ld	a,b		; 5D8E  78		x
	or	a		; 5D8F  B7		7
	jr	nz,X5d82	; 5D90  20 F0		 p
	pop	hl		; 5D92  E1		a
	pop	bc		; 5D93  C1		A
	ld	a,(hl)		; 5D94  7E		~
	cp	52h		; 5D95  FE 52		~R
	ret			; 5D97  C9		I
;
	ORG	5d9ch
;
X5d9c:	ld	a,(hl)		; 5D9C  7E		~
	inc	hl		; 5D9D  23		#
	call	X5d77		; 5D9E  CD 77 5D	Mw]
	ld	(de),a		; 5DA1  12		.
	inc	de		; 5DA2  13		.
	djnz	X5d9c		; 5DA3  10 F7		.w
	ret			; 5DA5  C9		I
;
X5da6:	ld	a,(de)		; 5DA6  1A		.
	res	5,a		; 5DA7  CB AF		K/
	cp	44h		; 5DA9  FE 44		~D
	ret			; 5DAB  C9		I
;
	cp	20h		; 5DAC  FE 20		~
	jr	nc,X5db2	; 5DAE  30 02		0.
	or	blislowblok	; 5DB0  F6 40		v@
X5db2:	ex	de,hl		; 5DB2  EB		k
	cp	(hl)		; 5DB3  BE		>
	ex	de,hl		; 5DB4  EB		k
	ret	z		; 5DB5  C8		H
	pop	af		; 5DB6  F1		q
	jp	X52d8		; 5DB7  C3 D8 52	CXR
;
	defb	' VERSION 1.4'				; 5DBA
	defb	0dh,0					; 5DC6 ..
;
X5dc8:	nop			; 5DC8  00		.
;
	ORG	5de8h
;
X5de8:	ld	c,1		; 5DE8  0E 01		..
X5dea:	cp	23h		; 5DEA  FE 23		~#
	ret	nz		; 5DEC  C0		@
	push	bc		; 5DED  C5		E
	call	X5e00		; 5DEE  CD 00 5E	M.^
	pop	de		; 5DF1  D1		Q
	cp	e		; 5DF2  BB		;
	jp	nz,X63e3	; 5DF3  C2 E3 63	Bcc
	rst	8		; 5DF6  CF		O
	inc	l		; 5DF7  2C		,
X5df8:	ex	de,hl		; 5DF8  EB		k
	ld	h,b		; 5DF9  60		`
	ld	l,c		; 5DFA  69		i
	ld	(X5b2a),hl	; 5DFB  22 2A 5B	"*[
	ex	de,hl		; 5DFE  EB		k
	ret			; 5DFF  C9		I
;
X5e00:	dec	hl		; 5E00  2B		+
	rst	10h		; 5E01  D7		W
	cp	23h		; 5E02  FE 23		~#
	call	z,GETCHR		; 5E04  CC 78 1D	Lx.
	call	X2337		; 5E07  CD 37 23	M7#
X5e0a:	call	X2b1f		; 5E0A  CD 1F 2B	M.+
X5e0d:	ld	e,a		; 5E0D  5F		_
X5e0e:	ld	a,(X5b50)	; 5E0E  3A 50 5B	:P[
	cp	e		; 5E11  BB		;
	jp	c,X63e6		; 5E12  DA E6 63	Zfc
	ld	d,0		; 5E15  16 00		..
	push	hl		; 5E17  E5		e
	ld	hl,X5b2c	; 5E18  21 2C 5B	!,[
	add	hl,de		; 5E1B  19		.
	add	hl,de		; 5E1C  19		.
	ld	c,(hl)		; 5E1D  4E		N
	inc	hl		; 5E1E  23		#
	ld	b,(hl)		; 5E1F  46		F
	ld	a,(bc)		; 5E20  0A		.
	or	a		; 5E21  B7		7
	pop	hl		; 5E22  E1		a
	ret			; 5E23  C9		I
;
	call	X5e0e		; 5E24  CD 0E 5E	M.^
	ld	hl,X0022	; 5E27  21 22 00	!".
	add	hl,bc		; 5E2A  09		.
	ex	de,hl		; 5E2B  EB		k
	ret			; 5E2C  C9		I
;
X5e2d:	ld	a,2		; 5E2D  3E 02		>.
	ld	bc,X043e	; 5E2F  01 3E 04	.>.
	ld	bc,X083e	; 5E32  01 3E 08	.>.
	push	af		; 5E35  F5		u
	call	X2819		; 5E36  CD 19 28	M.(
	pop	af		; 5E39  F1		q
	call	X2857		; 5E3A  CD 57 28	MW(
	ld	hl,(X40d4)	; 5E3D  2A D4 40	*T@
	call	X09ff		; 5E40  CD FF 09	M..
	jp	X2a2b		; 5E43  C3 2B 2A	C+*
;
X5e46:	ld	a,1		; 5E46  3E 01		>.
	ld	bc,X033e	; 5E48  01 3E 03	.>.
	ld	bc,X073e	; 5E4B  01 3E 07	.>.
	push	af		; 5E4E  F5		u
	call	X29d7		; 5E4F  CD D7 29	MW)
	pop	af		; 5E52  F1		q
	cp	(hl)		; 5E53  BE		>
	jp	nc,X1e4a	; 5E54  D2 4A 1E	RJ.
	inc	a		; 5E57  3C		<
	inc	hl		; 5E58  23		#
	ld	c,(hl)		; 5E59  4E		N
	inc	hl		; 5E5A  23		#
	ld	h,(hl)		; 5E5B  66		f
	ld	l,c		; 5E5C  69		i
	ld	(X40af),a	; 5E5D  32 AF 40	2/@
	jp	X09f7		; 5E60  C3 F7 09	Cw.
;
X5e63:	ex	de,hl		; 5E63  EB		k
	ld	hl,(X5b2a)	; 5E64  2A 2A 5B	**[
	ld	a,h		; 5E67  7C		|
	or	l		; 5E68  B5		5
	ex	de,hl		; 5E69  EB		k
	ret	z		; 5E6A  C8		H
	pop	af		; 5E6B  F1		q
	rst	20h		; 5E6C  E7		g
	ld	bc,X2243	; 5E6D  01 43 22	.C"
	ld	de,X2c20	; 5E70  11 20 2C	. ,
	jp	nz,X5e8e	; 5E73  C2 8E 5E	B.^
	ld	e,d		; 5E76  5A		Z
	jp	X5e8e		; 5E77  C3 8E 5E	C.^
;
X5e7a:	call	X5de8		; 5E7A  CD E8 5D	Mh]
	call	X260d		; 5E7D  CD 0D 26	M.&
	call	X0af4		; 5E80  CD F4 0A	Mt.
	ld	bc,X2169	; 5E83  01 69 21	.i!
	push	bc		; 5E86  C5		E
	push	de		; 5E87  D5		U
	ld	bc,X1f31	; 5E88  01 31 1F	.1.
	xor	a		; 5E8B  AF		/
	ld	d,a		; 5E8C  57		W
	ld	e,a		; 5E8D  5F		_
X5e8e:	push	af		; 5E8E  F5		u
	push	bc		; 5E8F  C5		E
	push	hl		; 5E90  E5		e
X5e91:	call	X62e5		; 5E91  CD E5 62	Meb
	jp	c,X63ec		; 5E94  DA EC 63	Zlc
	cp	20h		; 5E97  FE 20		~
	jp	nz,X5ea1	; 5E99  C2 A1 5E	B!^
	inc	d		; 5E9C  14		.
	dec	d		; 5E9D  15		.
	jp	nz,X5e91	; 5E9E  C2 91 5E	B.^
X5ea1:	cp	22h		; 5EA1  FE 22		~"
	jp	nz,X5eb6	; 5EA3  C2 B6 5E	B6^
	ld	b,a		; 5EA6  47		G
	ld	a,e		; 5EA7  7B		{
	cp	2ch		; 5EA8  FE 2C		~,
	ld	a,b		; 5EAA  78		x
	jp	nz,X5eb6	; 5EAB  C2 B6 5E	B6^
	ld	d,b		; 5EAE  50		P
	ld	e,b		; 5EAF  58		X
	call	X62e5		; 5EB0  CD E5 62	Meb
	jp	c,X5f04		; 5EB3  DA 04 5F	Z._
X5eb6:	ld	hl,(X40a7)	; 5EB6  2A A7 40	*'@
	ld	b,0ffh		; 5EB9  06 FF		..
X5ebb:	ld	c,a		; 5EBB  4F		O
	ld	a,d		; 5EBC  7A		z
	cp	22h		; 5EBD  FE 22		~"
	ld	a,c		; 5EBF  79		y
	jp	z,X5eef		; 5EC0  CA EF 5E	Jo^
	cp	0dh		; 5EC3  FE 0D		~.
	push	hl		; 5EC5  E5		e
	jp	z,X5f24		; 5EC6  CA 24 5F	J$_
	pop	hl		; 5EC9  E1		a
	cp	0ah		; 5ECA  FE 0A		~.
	jp	nz,X5eef	; 5ECC  C2 EF 5E	Bo^
	ld	c,a		; 5ECF  4F		O
	ld	a,e		; 5ED0  7B		{
	cp	2ch		; 5ED1  FE 2C		~,
	ld	a,c		; 5ED3  79		y
	call	nz,X5f68	; 5ED4  C4 68 5F	Dh_
	call	X62e5		; 5ED7  CD E5 62	Meb
	jp	c,X5f04		; 5EDA  DA 04 5F	Z._
	cp	0dh		; 5EDD  FE 0D		~.
	jp	nz,X5eef	; 5EDF  C2 EF 5E	Bo^
	ld	a,e		; 5EE2  7B		{
	cp	20h		; 5EE3  FE 20		~
	jp	z,X5efe		; 5EE5  CA FE 5E	J~^
	cp	2ch		; 5EE8  FE 2C		~,
	ld	a,0dh		; 5EEA  3E 0D		>.
	jp	z,X5efe		; 5EEC  CA FE 5E	J~^
X5eef:	or	a		; 5EEF  B7		7
	jp	z,X5efe		; 5EF0  CA FE 5E	J~^
	cp	d		; 5EF3  BA		:
	jp	z,X5f04		; 5EF4  CA 04 5F	J._
	cp	e		; 5EF7  BB		;
	jp	z,X5f04		; 5EF8  CA 04 5F	J._
	call	X5f68		; 5EFB  CD 68 5F	Mh_
X5efe:	call	X62e5		; 5EFE  CD E5 62	Meb
	jp	nc,X5ebb	; 5F01  D2 BB 5E	R;^
X5f04:	push	hl		; 5F04  E5		e
	cp	22h		; 5F05  FE 22		~"
	jp	z,X5f0f		; 5F07  CA 0F 5F	J._
	cp	20h		; 5F0A  FE 20		~
	jp	nz,X5f4e	; 5F0C  C2 4E 5F	BN_
X5f0f:	call	X62e5		; 5F0F  CD E5 62	Meb
	jp	c,X5f4e		; 5F12  DA 4E 5F	ZN_
	cp	20h		; 5F15  FE 20		~
	jp	z,X5f0f		; 5F17  CA 0F 5F	J._
	cp	2ch		; 5F1A  FE 2C		~,
	jp	z,X5f4e		; 5F1C  CA 4E 5F	JN_
	cp	0dh		; 5F1F  FE 0D		~.
	jp	nz,X5f2f	; 5F21  C2 2F 5F	B/_
X5f24:	call	X62e5		; 5F24  CD E5 62	Meb
	jp	c,X5f4e		; 5F27  DA 4E 5F	ZN_
	cp	0ah		; 5F2A  FE 0A		~.
	jp	z,X5f4e		; 5F2C  CA 4E 5F	JN_
X5f2f:	ld	hl,(X5b2a)	; 5F2F  2A 2A 5B	**[
	ld	bc,X0007	; 5F32  01 07 00	...
	add	hl,bc		; 5F35  09		.
	dec	(hl)		; 5F36  35		5
	ld	a,(hl)		; 5F37  7E		~
	cp	0ffh		; 5F38  FE FF		~.
	jp	nz,X5f4e	; 5F3A  C2 4E 5F	BN_
	push	hl		; 5F3D  E5		e
	push	de		; 5F3E  D5		U
	ld	bc,Xfffb	; 5F3F  01 FB FF	.{.
	add	hl,bc		; 5F42  09		.
	ex	de,hl		; 5F43  EB		k
	call	X4445		; 5F44  CD 45 44	MED
	jp	nz,X63fd	; 5F47  C2 FD 63	B}c
	pop	de		; 5F4A  D1		Q
	pop	hl		; 5F4B  E1		a
	ld	(hl),0ffh	; 5F4C  36 FF		6.
X5f4e:	pop	hl		; 5F4E  E1		a
X5f4f:	ld	(hl),0		; 5F4F  36 00		6.
	ld	hl,(X40a7)	; 5F51  2A A7 40	*'@
	dec	hl		; 5F54  2B		+
	ld	a,e		; 5F55  7B		{
	sub	20h		; 5F56  D6 20		V
	jp	z,X5f62		; 5F58  CA 62 5F	Jb_
	ld	b,0		; 5F5B  06 00		..
	call	X2868		; 5F5D  CD 68 28	Mh(
	pop	hl		; 5F60  E1		a
	ret			; 5F61  C9		I
;
X5f62:	rst	10h		; 5F62  D7		W
	call	X0e6c		; 5F63  CD 6C 0E	Ml.
	pop	hl		; 5F66  E1		a
	ret			; 5F67  C9		I
;
X5f68:	or	a		; 5F68  B7		7
	ret	z		; 5F69  C8		H
	ld	(hl),a		; 5F6A  77		w
	inc	hl		; 5F6B  23		#
	dec	b		; 5F6C  05		.
	ret	nz		; 5F6D  C0		@
	pop	bc		; 5F6E  C1		A
	jp	X5f4f		; 5F6F  C3 4F 5F	CO_
;
X5f72:	ld	d,1		; 5F72  16 01		..
X5f74:	xor	a		; 5F74  AF		/
	jp	X6389		; 5F75  C3 89 63	C.c
;
X5f78:	ret	c		; 5F78  D8		X
	pop	af		; 5F79  F1		q
	or	0afh		; 5F7A  F6 AF		v/
	push	af		; 5F7C  F5		u
	call	X5f72		; 5F7D  CD 72 5F	Mr_
	ld	a,(X5b50)	; 5F80  3A 50 5B	:P[
	ld	(X5b4f),a	; 5F83  32 4F 5B	2O[
	dec	hl		; 5F86  2B		+
	rst	10h		; 5F87  D7		W
	jp	z,X5f98		; 5F88  CA 98 5F	J._
	rst	8		; 5F8B  CF		O
	inc	l		; 5F8C  2C		,
	rst	8		; 5F8D  CF		O
	ld	d,d		; 5F8E  52		R
	jp	nz,SNERR	; 5F8F  C2 97 19	B..
	pop	af		; 5F92  F1		q
	xor	a		; 5F93  AF		/
	ld	(X5b50),a	; 5F94  32 50 5B	2P[
	or	0f1h		; 5F97  F6 F1		vq
	ld	(X5b4e),a	; 5F99  32 4E 5B	2N[
	ld	hl,X5a14	; 5F9C  21 14 5A	!.Z
	ld	(hl),0		; 5F9F  36 00		6.
	ld	(X5b2c),hl	; 5FA1  22 2C 5B	",[
	call	X1b4d		; 5FA4  CD 4D 1B	MM.
	ld	a,(X5b4f)	; 5FA7  3A 4F 5B	:O[
	ld	(X5b50),a	; 5FAA  32 50 5B	2P[
	ld	hl,(X5b4c)	; 5FAD  2A 4C 5B	*L[
	ld	(X5b2c),hl	; 5FB0  22 2C 5B	",[
	ld	(X5b2a),hl	; 5FB3  22 2A 5B	"*[
	inc	hl		; 5FB6  23		#
	inc	hl		; 5FB7  23		#
	push	hl		; 5FB8  E5		e
	pop	ix		; 5FB9  DD E1		]a
	call	X57d5		; 5FBB  CD D5 57	MUW
	ld	a,(de)		; 5FBE  1A		.
	inc	a		; 5FBF  3C		<
	jr	z,X5fce		; 5FC0  28 0C		(.
	push	ix		; 5FC2  DD E5		]e
	pop	de		; 5FC4  D1		Q
	call	X443f		; 5FC5  CD 3F 44	M?D
	jp	nz,X63fd	; 5FC8  C2 FD 63	B}c
	jp	X6030		; 5FCB  C3 30 60	C0`
;
X5fce:	ld	hl,(X40a0)	; 5FCE  2A A0 40	* @
	ld	de,Xffaa	; 5FD1  11 AA FF	.*.
	add	hl,de		; 5FD4  19		.
	call	X552b		; 5FD5  CD 2B 55	M+U
	call	X1af8		; 5FD8  CD F8 1A	Mx.
	inc	hl		; 5FDB  23		#
	nop			; 5FDC  00		.
	ld	(X40f9),hl	; 5FDD  22 F9 40	"y@
	ld	hl,X5b50	; 5FE0  21 50 5B	!P[
	ld	a,(hl)		; 5FE3  7E		~
	ld	(X5b4f),a	; 5FE4  32 4F 5B	2O[
	ld	(hl),0		; 5FE7  36 00		6.
	call	X1b5d		; 5FE9  CD 5D 1B	M].
	ld	a,(X5b4f)	; 5FEC  3A 4F 5B	:O[
	ld	(X5b50),a	; 5FEF  32 50 5B	2P[
	ld	a,(X5b4e)	; 5FF2  3A 4E 5B	:N[
	or	a		; 5FF5  B7		7
	jp	z,X1a19		; 5FF6  CA 19 1A	J..
	jp	RUNCNT		; 5FF9  C3 1E 1D	C..
;
X5ffc:	call	X2169		; 5FFC  CD 69 21	Mi!
	call	X6210		; 5FFF  CD 10 62	M.b
	jp	X1baf		; 6002  C3 AF 1B	C/.
;
X6005:	call	X1b4d		; 6005  CD 4D 1B	MM.
	jp	X197a		; 6008  C3 7A 19	Cz.
;
X600b:	pop	bc		; 600B  C1		A
	call	X5f72		; 600C  CD 72 5F	Mr_
	dec	hl		; 600F  2B		+
	rst	10h		; 6010  D7		W
	jp	z,X601a		; 6011  CA 1A 60	J.`
	call	X5ffc		; 6014  CD FC 5F	M|_
	jp	SNERR		; 6017  C3 97 19	C..
;
X601a:	xor	a		; 601A  AF		/
	ld	(X5b4e),a	; 601B  32 4E 5B	2N[
	call	X62e5		; 601E  CD E5 62	Meb
	jp	c,X1a33		; 6021  DA 33 1A	Z3.
	inc	a		; 6024  3C		<
	jp	z,X63e3		; 6025  CA E3 63	Jcc
	ld	hl,(X5b2a)	; 6028  2A 2A 5B	**[
	ld	bc,X0007	; 602B  01 07 00	...
	add	hl,bc		; 602E  09		.
	dec	(hl)		; 602F  35		5
X6030:	jp	X1a33		; 6030  C3 33 1A	C3.
;
X6033:	ret	c		; 6033  D8		X
	pop	af		; 6034  F1		q
	push	hl		; 6035  E5		e
	ld	hl,(X5b2a)	; 6036  2A 2A 5B	**[
	ld	a,h		; 6039  7C		|
	or	l		; 603A  B5		5
	ld	e,crtram1dat	; 603B  1E 84		..
	jp	nz,X19a2	; 603D  C2 A2 19	B".
	pop	hl		; 6040  E1		a
	jp	EXCUTE		; 6041  C3 5A 1D	CZ.
;
X6044:	ld	d,2		; 6044  16 02		..
	call	X5f74		; 6046  CD 74 5F	Mt_
	dec	hl		; 6049  2B		+
	rst	10h		; 604A  D7		W
	jp	z,X6055		; 604B  CA 55 60	JU`
	rst	8		; 604E  CF		O
	inc	l		; 604F  2C		,
	rst	8		; 6050  CF		O
	ld	b,c		; 6051  41		A
	jp	X2b2e		; 6052  C3 2E 2B	C.+
;
X6055:	ld	ix,(X5b2c)	; 6055  DD 2A 2C 5B	]*,[
	inc	ix		; 6059  DD 23		]#
	inc	ix		; 605B  DD 23		]#
	ld	hl,(X40f9)	; 605D  2A F9 40	*y@
	ld	de,(X40a4)	; 6060  ED 5B A4 40	m[$@
	or	a		; 6064  B7		7
	sbc	hl,de		; 6065  ED 52		mR
	inc	hl		; 6067  23		#
	ld	b,h		; 6068  44		D
	ld	c,l		; 6069  4D		M
	ex	de,hl		; 606A  EB		k
	ld	a,c		; 606B  79		y
	jp	X57e5		; 606C  C3 E5 57	CeW
;
X606f:	ld	bc,X6210	; 606F  01 10 62	..b
	ld	a,(X5b50)	; 6072  3A 50 5B	:P[
	jp	nz,X6090	; 6075  C2 90 60	B.`
	push	hl		; 6078  E5		e
X6079:	push	bc		; 6079  C5		E
	push	af		; 607A  F5		u
	ld	de,X6081	; 607B  11 81 60	..`
	push	de		; 607E  D5		U
	push	bc		; 607F  C5		E
	ret			; 6080  C9		I
;
X6081:	pop	af		; 6081  F1		q
	pop	bc		; 6082  C1		A
	dec	a		; 6083  3D		=
	jp	p,X6079		; 6084  F2 79 60	ry`
	pop	hl		; 6087  E1		a
	ret			; 6088  C9		I
;
X6089:	pop	bc		; 6089  C1		A
	pop	hl		; 608A  E1		a
	ld	a,(hl)		; 608B  7E		~
	cp	2ch		; 608C  FE 2C		~,
	ret	nz		; 608E  C0		@
	rst	10h		; 608F  D7		W
X6090:	push	bc		; 6090  C5		E
	ld	a,(hl)		; 6091  7E		~
	cp	23h		; 6092  FE 23		~#
	call	z,GETCHR		; 6094  CC 78 1D	Lx.
	call	X2b1c		; 6097  CD 1C 2B	M.+
	ex	(sp),hl		; 609A  E3		c
	push	hl		; 609B  E5		e
	ld	de,X6089	; 609C  11 89 60	..`
	push	de		; 609F  D5		U
	jp	(hl)		; 60A0  E9		i
;
X60a1:	push	de		; 60A1  D5		U
	push	bc		; 60A2  C5		E
	xor	a		; 60A3  AF		/
	call	X606f		; 60A4  CD 6F 60	Mo`
	pop	bc		; 60A7  C1		A
	pop	de		; 60A8  D1		Q
	xor	a		; 60A9  AF		/
	ret			; 60AA  C9		I
;
X60ab:	call	X5e00		; 60AB  CD 00 5E	M.^
	jp	z,X63e6		; 60AE  CA E6 63	Jfc
	sub	3		; 60B1  D6 03		V.
	jp	nz,X63e3	; 60B3  C2 E3 63	Bcc
	ld	de,X0022	; 60B6  11 22 00	.".
X60b9:	ex	de,hl		; 60B9  EB		k
	add	hl,bc		; 60BA  09		.
	ld	b,a		; 60BB  47		G
	ex	de,hl		; 60BC  EB		k
	ld	a,(hl)		; 60BD  7E		~
	cp	2ch		; 60BE  FE 2C		~,
	ret	nz		; 60C0  C0		@
	push	de		; 60C1  D5		U
	push	bc		; 60C2  C5		E
	call	X2b1b		; 60C3  CD 1B 2B	M.+
	push	af		; 60C6  F5		u
	rst	8		; 60C7  CF		O
	ld	b,c		; 60C8  41		A
	rst	8		; 60C9  CF		O
	ld	d,e		; 60CA  53		S
	call	X260d		; 60CB  CD 0D 26	M.&
	call	X0af4		; 60CE  CD F4 0A	Mt.
	pop	af		; 60D1  F1		q
	pop	bc		; 60D2  C1		A
	ex	(sp),hl		; 60D3  E3		c
	ld	c,a		; 60D4  4F		O
	add	a,b		; 60D5  80		.
	call	c,X5d6a		; 60D6  DC 6A 5D	\j]
	ex	de,hl		; 60D9  EB		k
	ld	(hl),c		; 60DA  71		q
	inc	hl		; 60DB  23		#
	ld	(hl),e		; 60DC  73		s
	inc	hl		; 60DD  23		#
	ld	(hl),d		; 60DE  72		r
	ld	b,0		; 60DF  06 00		..
	pop	hl		; 60E1  E1		a
	jp	X5d6e		; 60E2  C3 6E 5D	Cn]
;
X60e5:	or	37h		; 60E5  F6 37		v7
	push	af		; 60E7  F5		u
	call	X260d		; 60E8  CD 0D 26	M.&
	call	X0af4		; 60EB  CD F4 0A	Mt.
	push	de		; 60EE  D5		U
	rst	8		; 60EF  CF		O
	push	de		; 60F0  D5		U
	call	X2337		; 60F1  CD 37 23	M7#
	pop	bc		; 60F4  C1		A
	ex	(sp),hl		; 60F5  E3		c
	push	hl		; 60F6  E5		e
	push	bc		; 60F7  C5		E
	call	X29d7		; 60F8  CD D7 29	MW)
	ld	b,(hl)		; 60FB  46		F
	ex	(sp),hl		; 60FC  E3		c
	ld	a,(hl)		; 60FD  7E		~
	ld	c,a		; 60FE  4F		O
	push	bc		; 60FF  C5		E
	push	hl		; 6100  E5		e
	push	af		; 6101  F5		u
	inc	hl		; 6102  23		#
	ld	e,(hl)		; 6103  5E		^
	inc	hl		; 6104  23		#
	ld	d,(hl)		; 6105  56		V
	or	a		; 6106  B7		7
	jp	z,X616a		; 6107  CA 6A 61	Jja
	ld	hl,(X40a4)	; 610A  2A A4 40	*$@
	rst	18h		; 610D  DF		_
	jp	nc,X6140	; 610E  D2 40 61	R@a
	ld	hl,(X40f9)	; 6111  2A F9 40	*y@
	rst	18h		; 6114  DF		_
	jp	c,X6140		; 6115  DA 40 61	Z@a
	ld	e,c		; 6118  59		Y
	ld	d,0		; 6119  16 00		..
	ld	hl,(X40a0)	; 611B  2A A0 40	* @
	add	hl,de		; 611E  19		.
	ex	de,hl		; 611F  EB		k
	ld	hl,(X40d6)	; 6120  2A D6 40	*V@
	call	X1c90		; 6123  CD 90 1C	M..
	jp	c,X617e		; 6126  DA 7E 61	Z~a
X6129:	pop	af		; 6129  F1		q
	ld	a,c		; 612A  79		y
	call	X28bf		; 612B  CD BF 28	M?(
	pop	hl		; 612E  E1		a
	pop	bc		; 612F  C1		A
	ex	(sp),hl		; 6130  E3		c
	push	de		; 6131  D5		U
	push	bc		; 6132  C5		E
	call	X29d7		; 6133  CD D7 29	MW)
	pop	bc		; 6136  C1		A
	pop	de		; 6137  D1		Q
	ex	(sp),hl		; 6138  E3		c
	push	bc		; 6139  C5		E
	push	hl		; 613A  E5		e
	inc	hl		; 613B  23		#
	ld	(hl),e		; 613C  73		s
	inc	hl		; 613D  23		#
	ld	(hl),d		; 613E  72		r
	push	af		; 613F  F5		u
X6140:	pop	af		; 6140  F1		q
	pop	hl		; 6141  E1		a
	inc	hl		; 6142  23		#
	ld	e,(hl)		; 6143  5E		^
	inc	hl		; 6144  23		#
	ld	d,(hl)		; 6145  56		V
	pop	bc		; 6146  C1		A
	pop	hl		; 6147  E1		a
	push	de		; 6148  D5		U
	inc	hl		; 6149  23		#
	ld	e,(hl)		; 614A  5E		^
	inc	hl		; 614B  23		#
	ld	d,(hl)		; 614C  56		V
	ex	de,hl		; 614D  EB		k
	pop	de		; 614E  D1		Q
	ld	a,c		; 614F  79		y
	sub	b		; 6150  90		.
	ld	a,b		; 6151  78		x
	jp	nc,X6156	; 6152  D2 56 61	RVa
	ld	a,c		; 6155  79		y
X6156:	ld	b,a		; 6156  47		G
	ld	a,c		; 6157  79		y
	sub	b		; 6158  90		.
	ld	c,a		; 6159  4F		O
	pop	af		; 615A  F1		q
	call	nc,X6174	; 615B  D4 74 61	Tta
	inc	b		; 615E  04		.
X615f:	dec	b		; 615F  05		.
	jp	z,X616f		; 6160  CA 6F 61	Joa
	ld	a,(hl)		; 6163  7E		~
	ld	(de),a		; 6164  12		.
	inc	hl		; 6165  23		#
	inc	de		; 6166  13		.
	jp	X615f		; 6167  C3 5F 61	C_a
;
X616a:	pop	bc		; 616A  C1		A
	pop	bc		; 616B  C1		A
	pop	bc		; 616C  C1		A
	pop	bc		; 616D  C1		A
	pop	bc		; 616E  C1		A
X616f:	call	c,X6174		; 616F  DC 74 61	\ta
	pop	hl		; 6172  E1		a
	ret			; 6173  C9		I
;
X6174:	ld	a,20h		; 6174  3E 20		>
	inc	c		; 6176  0C		.
X6177:	dec	c		; 6177  0D		.
	ret	z		; 6178  C8		H
	ld	(de),a		; 6179  12		.
	inc	de		; 617A  13		.
	jp	X6177		; 617B  C3 77 61	Cwa
;
X617e:	pop	af		; 617E  F1		q
	pop	hl		; 617F  E1		a
	pop	bc		; 6180  C1		A
	ex	(sp),hl		; 6181  E3		c
	ex	de,hl		; 6182  EB		k
	jp	nz,X618f	; 6183  C2 8F 61	B.a
	push	bc		; 6186  C5		E
	ld	a,b		; 6187  78		x
	call	X2857		; 6188  CD 57 28	MW(
	call	X2884		; 618B  CD 84 28	M.(
	pop	bc		; 618E  C1		A
X618f:	ex	(sp),hl		; 618F  E3		c
	push	bc		; 6190  C5		E
	push	hl		; 6191  E5		e
	push	af		; 6192  F5		u
	jp	X6129		; 6193  C3 29 61	C)a
;
	rst	10h		; 6196  D7		W
	rst	8		; 6197  CF		O
	inc	h		; 6198  24		$
	rst	8		; 6199  CF		O
	jr	z,X6169		; 619A  28 CD		(M
	inc	e		; 619C  1C		.
	dec	hl		; 619D  2B		+
	push	de		; 619E  D5		U
	ld	a,(hl)		; 619F  7E		~
	cp	2ch		; 61A0  FE 2C		~,
	jp	nz,X61b2	; 61A2  C2 B2 61	B2a
	rst	10h		; 61A5  D7		W
	call	X5e00		; 61A6  CD 00 5E	M.^
	cp	1		; 61A9  FE 01		~.
	jp	nz,X63e3	; 61AB  C2 E3 63	Bcc
	call	X5df8		; 61AE  CD F8 5D	Mx]
	xor	a		; 61B1  AF		/
X61b2:	push	af		; 61B2  F5		u
	rst	8		; 61B3  CF		O
	add	hl,hl		; 61B4  29		)
	pop	af		; 61B5  F1		q
	ex	(sp),hl		; 61B6  E3		c
	push	af		; 61B7  F5		u
	ld	a,l		; 61B8  7D		}
	or	a		; 61B9  B7		7
	jp	z,X1e4a		; 61BA  CA 4A 1E	JJ.
	push	hl		; 61BD  E5		e
	call	X2857		; 61BE  CD 57 28	MW(
	ex	de,hl		; 61C1  EB		k
	pop	bc		; 61C2  C1		A
X61c3:	pop	af		; 61C3  F1		q
	push	af		; 61C4  F5		u
	jp	z,X61e2		; 61C5  CA E2 61	Jba
	call	X0384		; 61C8  CD 84 03	M..
	cp	1		; 61CB  FE 01		~.
	jp	z,X61dd		; 61CD  CA DD 61	J]a
X61d0:	ld	(hl),a		; 61D0  77		w
	inc	hl		; 61D1  23		#
	dec	c		; 61D2  0D		.
	jp	nz,X61c3	; 61D3  C2 C3 61	BCa
	pop	af		; 61D6  F1		q
	call	X2169		; 61D7  CD 69 21	Mi!
	jp	X2884		; 61DA  C3 84 28	C.(
;
X61dd:	pop	af		; 61DD  F1		q
	pop	hl		; 61DE  E1		a
	jp	X1daa		; 61DF  C3 AA 1D	C*.
;
X61e2:	call	X62e5		; 61E2  CD E5 62	Meb
	jp	c,X63ec		; 61E5  DA EC 63	Zlc
	jp	X61d0		; 61E8  C3 D0 61	CPa
;
X61eb:	call	X5e0a		; 61EB  CD 0A 5E	M.^
	cp	2		; 61EE  FE 02		~.
	jp	z,X63e3		; 61F0  CA E3 63	Jcc
	ld	hl,X000f	; 61F3  21 0F 00	!..
	add	hl,bc		; 61F6  09		.
	ld	a,(hl)		; 61F7  7E		~
	dec	hl		; 61F8  2B		+
	ld	e,(hl)		; 61F9  5E		^
	dec	hl		; 61FA  2B		+
	sub	(hl)		; 61FB  96		.
	jr	nz,X620a	; 61FC  20 0C		 .
	dec	hl		; 61FE  2B		+
	ld	a,e		; 61FF  7B		{
	sub	(hl)		; 6200  96		.
	jr	nz,X620a	; 6201  20 07		 .
	dec	hl		; 6203  2B		+
	dec	hl		; 6204  2B		+
	ld	a,(hl)		; 6205  7E		~
	dec	hl		; 6206  2B		+
	dec	hl		; 6207  2B		+
	dec	hl		; 6208  2B		+
	sub	(hl)		; 6209  96		.
X620a:	sub	1		; 620A  D6 01		V.
	sbc	a,a		; 620C  9F		.
	jp	X098d		; 620D  C3 8D 09	C..
;
X6210:	call	X5e0d		; 6210  CD 0D 5E	M.^
	ret	z		; 6213  C8		H
	cp	1		; 6214  FE 01		~.
	jp	z,X6227		; 6216  CA 27 62	J'b
	push	bc		; 6219  C5		E
	xor	a		; 621A  AF		/
	ld	(bc),a		; 621B  02		.
	inc	bc		; 621C  03		.
	inc	bc		; 621D  03		.
	ld	d,b		; 621E  50		P
	ld	e,c		; 621F  59		Y
	call	X4428		; 6220  CD 28 44	M(D
	jp	nz,X63fd	; 6223  C2 FD 63	B}c
	pop	bc		; 6226  C1		A
X6227:	ld	d,22h		; 6227  16 22		."
	xor	a		; 6229  AF		/
X622a:	ld	(bc),a		; 622A  02		.
	inc	bc		; 622B  03		.
	dec	d		; 622C  15		.
	jp	nz,X622a	; 622D  C2 2A 62	B*b
	ret			; 6230  C9		I
;
X6231:	call	X5e0a		; 6231  CD 0A 5E	M.^
	jp	z,X63e6		; 6234  CA E6 63	Jfc
	ld	hl,X000c	; 6237  21 0C 00	!..
X623a:	add	hl,bc		; 623A  09		.
	ld	e,(hl)		; 623B  5E		^
	inc	hl		; 623C  23		#
	ld	d,(hl)		; 623D  56		V
	ex	de,hl		; 623E  EB		k
	jp	X0a9a		; 623F  C3 9A 0A	C..
;
X6242:	call	X5e0a		; 6242  CD 0A 5E	M.^
	jp	z,X63e6		; 6245  CA E6 63	Jfc
	ld	hl,X000e	; 6248  21 0E 00	!..
	jp	X623a		; 624B  C3 3A 62	C:b
;
	pop	hl		; 624E  E1		a
X624f:	push	hl		; 624F  E5		e
	push	af		; 6250  F5		u
	ld	hl,(X5b2a)	; 6251  2A 2A 5B	**[
	ld	a,(hl)		; 6254  7E		~
	cp	1		; 6255  FE 01		~.
	jp	z,X1dfd		; 6257  CA FD 1D	J}.
	pop	af		; 625A  F1		q
	push	de		; 625B  D5		U
	push	bc		; 625C  C5		E
	inc	hl		; 625D  23		#
	ld	b,0		; 625E  06 00		..
	push	af		; 6260  F5		u
	ld	d,(hl)		; 6261  56		V
	cp	0dh		; 6262  FE 0D		~.
	ld	(hl),b		; 6264  70		p
	jr	z,X626c		; 6265  28 05		(.
	add	a,0e0h		; 6267  C6 E0		F`
	ld	a,d		; 6269  7A		z
	adc	a,b		; 626A  88		.
	ld	(hl),a		; 626B  77		w
X626c:	inc	hl		; 626C  23		#
	ex	de,hl		; 626D  EB		k
	pop	af		; 626E  F1		q
	push	af		; 626F  F5		u
	call	X001b		; 6270  CD 1B 00	M..
	jp	nz,X63fd	; 6273  C2 FD 63	B}c
	pop	af		; 6276  F1		q
	pop	bc		; 6277  C1		A
	pop	de		; 6278  D1		Q
	pop	hl		; 6279  E1		a
	ret			; 627A  C9		I
;
X627b:	or	0afh		; 627B  F6 AF		v/
	ld	(X5b28),a	; 627D  32 28 5B	2([
	call	X5e00		; 6280  CD 00 5E	M.^
	cp	3		; 6283  FE 03		~.
	jp	nz,X63e3	; 6285  C2 E3 63	Bcc
	push	bc		; 6288  C5		E
	push	hl		; 6289  E5		e
	ld	hl,X000c	; 628A  21 0C 00	!..
	add	hl,bc		; 628D  09		.
	ld	e,(hl)		; 628E  5E		^
	inc	hl		; 628F  23		#
	ld	d,(hl)		; 6290  56		V
	inc	de		; 6291  13		.
	pop	hl		; 6292  E1		a
	ld	a,(hl)		; 6293  7E		~
	cp	2ch		; 6294  FE 2C		~,
	call	z,X1e45		; 6296  CC 45 1E	LE.
	dec	hl		; 6299  2B		+
	rst	10h		; 629A  D7		W
	jp	nz,SNERR	; 629B  C2 97 19	B..
	ex	(sp),hl		; 629E  E3		c
	push	hl		; 629F  E5		e
	ld	a,e		; 62A0  7B		{
	or	d		; 62A1  B2		2
	jp	z,X63f5		; 62A2  CA F5 63	Juc
	dec	de		; 62A5  1B		.
	ld	b,d		; 62A6  42		B
	ld	c,e		; 62A7  4B		K
	ex	de,hl		; 62A8  EB		k
	inc	de		; 62A9  13		.
	inc	de		; 62AA  13		.
	call	X4442		; 62AB  CD 42 44	MBD
	jr	z,X62c8		; 62AE  28 18		(.
	cp	1ch		; 62B0  FE 1C		~.
	jr	z,X62b9		; 62B2  28 05		(.
	cp	1dh		; 62B4  FE 1D		~.
	jp	nz,X63fd	; 62B6  C2 FD 63	B}c
X62b9:	ld	a,(X5b28)	; 62B9  3A 28 5B	:([
	or	a		; 62BC  B7		7
	jr	z,X62d7		; 62BD  28 18		(.
X62bf:	call	X443c		; 62BF  CD 3C 44	M<D
	jp	nz,X63fd	; 62C2  C2 FD 63	B}c
	pop	af		; 62C5  F1		q
	pop	hl		; 62C6  E1		a
	ret			; 62C7  C9		I
;
X62c8:	ld	a,(X5b28)	; 62C8  3A 28 5B	:([
	or	a		; 62CB  B7		7
	jr	nz,X62bf	; 62CC  20 F1		 q
	call	X4436		; 62CE  CD 36 44	M6D
	jp	nz,X63fd	; 62D1  C2 FD 63	B}c
	pop	bc		; 62D4  C1		A
	pop	hl		; 62D5  E1		a
	ret			; 62D6  C9		I
;
X62d7:	pop	hl		; 62D7  E1		a
	ld	de,X0022	; 62D8  11 22 00	.".
	add	hl,de		; 62DB  19		.
	ld	b,0		; 62DC  06 00		..
	xor	a		; 62DE  AF		/
X62df:	ld	(hl),a		; 62DF  77		w
	inc	hl		; 62E0  23		#
	djnz	X62df		; 62E1  10 FC		.|
	pop	hl		; 62E3  E1		a
	ret			; 62E4  C9		I
;
X62e5:	push	bc		; 62E5  C5		E
	push	hl		; 62E6  E5		e
	ld	hl,(X5b2a)	; 62E7  2A 2A 5B	**[
	push	de		; 62EA  D5		U
	ex	de,hl		; 62EB  EB		k
	inc	de		; 62EC  13		.
	inc	de		; 62ED  13		.
	call	X0013		; 62EE  CD 13 00	M..
	jr	z,X62fa		; 62F1  28 07		(.
	cp	1ch		; 62F3  FE 1C		~.
	jp	nz,X63fd	; 62F5  C2 FD 63	B}c
	scf			; 62F8  37		7
	ld	b,0b7h		; 62F9  06 B7		.7
	pop	de		; 62FB  D1		Q
	pop	hl		; 62FC  E1		a
	pop	bc		; 62FD  C1		A
	ret			; 62FE  C9		I
;
X62ff:	push	bc		; 62FF  C5		E
	call	X2337		; 6300  CD 37 23	M7#
	push	hl		; 6303  E5		e
	call	X29d7		; 6304  CD D7 29	MW)
	ld	a,(hl)		; 6307  7E		~
	or	a		; 6308  B7		7
	jp	z,X63f2		; 6309  CA F2 63	Jrc
	cp	18h		; 630C  FE 18		~.
	jp	nc,X63f2	; 630E  D2 F2 63	Rrc
	inc	hl		; 6311  23		#
	ld	c,(hl)		; 6312  4E		N
	inc	hl		; 6313  23		#
	ld	b,(hl)		; 6314  46		F
	ld	hl,X5dc8	; 6315  21 C8 5D	!H]
	ld	e,a		; 6318  5F		_
X6319:	ld	a,(bc)		; 6319  0A		.
	cp	61h		; 631A  FE 61		~a
	jp	c,X6326		; 631C  DA 26 63	Z&c
	cp	7bh		; 631F  FE 7B		~{
	jp	nc,X6326	; 6321  D2 26 63	R&c
	xor	20h		; 6324  EE 20		n
X6326:	ld	(hl),a		; 6326  77		w
	inc	hl		; 6327  23		#
	inc	bc		; 6328  03		.
	dec	e		; 6329  1D		.
	jp	nz,X6319	; 632A  C2 19 63	B.c
	ld	(hl),e		; 632D  73		s
	pop	hl		; 632E  E1		a
	pop	de		; 632F  D1		Q
	ld	b,d		; 6330  42		B
	ld	c,e		; 6331  4B		K
	push	bc		; 6332  C5		E
	push	hl		; 6333  E5		e
	ld	hl,X5dc8	; 6334  21 C8 5D	!H]
	inc	de		; 6337  13		.
	inc	de		; 6338  13		.
	call	X441c		; 6339  CD 1C 44	M.D
	jp	nz,X63f2	; 633C  C2 F2 63	Brc
	or	a		; 633F  B7		7
	jp	nz,X63f2	; 6340  C2 F2 63	Brc
	pop	hl		; 6343  E1		a
	pop	bc		; 6344  C1		A
	ret			; 6345  C9		I
;
	jp	X1e4a		; 6346  C3 4A 1E	CJ.
;
X6349:	ld	bc,X2169	; 6349  01 69 21	.i!
	push	bc		; 634C  C5		E
	call	X2337		; 634D  CD 37 23	M7#
	push	hl		; 6350  E5		e
	call	X29d7		; 6351  CD D7 29	MW)
	ld	a,(hl)		; 6354  7E		~
	or	a		; 6355  B7		7
	jp	z,X63e3		; 6356  CA E3 63	Jcc
	inc	hl		; 6359  23		#
	ld	c,(hl)		; 635A  4E		N
	inc	hl		; 635B  23		#
	ld	b,(hl)		; 635C  46		F
	ld	a,(bc)		; 635D  0A		.
	and	0dfh		; 635E  E6 DF		f_
	ld	d,2		; 6360  16 02		..
	cp	colbuf		; 6362  FE 4F		~O
	jp	z,X6375		; 6364  CA 75 63	Juc
	ld	d,1		; 6367  16 01		..
	cp	49h		; 6369  FE 49		~I
	jp	z,X6375		; 636B  CA 75 63	Juc
	ld	d,3		; 636E  16 03		..
	cp	52h		; 6370  FE 52		~R
	call	X5216		; 6372  CD 16 52	M.R
X6375:	pop	hl		; 6375  E1		a
	rst	8		; 6376  CF		O
	inc	l		; 6377  2C		,
	push	de		; 6378  D5		U
	cp	23h		; 6379  FE 23		~#
	call	z,GETCHR		; 637B  CC 78 1D	Lx.
	call	X2b1c		; 637E  CD 1C 2B	M.+
	rst	8		; 6381  CF		O
	inc	l		; 6382  2C		,
	ld	a,e		; 6383  7B		{
	or	a		; 6384  B7		7
	jp	z,X63e6		; 6385  CA E6 63	Jfc
	cp	0d5h		; 6388  FE D5		~U
	call	X5e0d		; 638A  CD 0D 5E	M.^
	jp	nz,X63ef	; 638D  C2 EF 63	Boc
	push	bc		; 6390  C5		E
	call	X62ff		; 6391  CD FF 62	M.b
	ld	(X40df),hl	; 6394  22 DF 40	"_@
	pop	hl		; 6397  E1		a
	pop	af		; 6398  F1		q
	push	af		; 6399  F5		u
	push	hl		; 639A  E5		e
	ld	(X5b2a),hl	; 639B  22 2A 5B	"*[
	ld	b,0		; 639E  06 00		..
	ex	de,hl		; 63A0  EB		k
	inc	de		; 63A1  13		.
	inc	de		; 63A2  13		.
	ld	hl,X0020	; 63A3  21 20 00	! .
	add	hl,de		; 63A6  19		.
	cp	1		; 63A7  FE 01		~.
	jr	z,X63b0		; 63A9  28 05		(.
	call	X4420		; 63AB  CD 20 44	M D
	jr	X63b3		; 63AE  18 03		..
;
X63b0:	call	X4424		; 63B0  CD 24 44	M$D
X63b3:	jp	nz,X63fd	; 63B3  C2 FD 63	B}c
	jp	X521f		; 63B6  C3 1F 52	C.R
;
X63b9:	inc	hl		; 63B9  23		#
	ld	(hl),0		; 63BA  36 00		6.
	ld	hl,(X40df)	; 63BC  2A DF 40	*_@
	ret			; 63BF  C9		I
;
X63c0:	xor	a		; 63C0  AF		/
	call	X5e0d		; 63C1  CD 0D 5E	M.^
	call	X62ff		; 63C4  CD FF 62	M.b
	push	hl		; 63C7  E5		e
	ld	hl,(X5b2c)	; 63C8  2A 2C 5B	*,[
	ex	de,hl		; 63CB  EB		k
	inc	de		; 63CC  13		.
	inc	de		; 63CD  13		.
	ld	b,0		; 63CE  06 00		..
	call	X4424		; 63D0  CD 24 44	M$D
	jp	nz,X63fd	; 63D3  C2 FD 63	B}c
	call	X442c		; 63D6  CD 2C 44	M,D
	jp	nz,X63fd	; 63D9  C2 FD 63	B}c
	ld	hl,(X5b2c)	; 63DC  2A 2C 5B	*,[
	ld	(hl),0		; 63DF  36 00		6.
	pop	hl		; 63E1  E1		a
	ret			; 63E2  C9		I
;
X63e3:	ld	e,6ch		; 63E3  1E 6C		.l
	ld	bc,X681e	; 63E5  01 1E 68	..h
	ld	bc,X661e	; 63E8  01 1E 66	..f
	ld	bc,X7c1e	; 63EB  01 1E 7C	..|
	ld	bc,X6e1e	; 63EE  01 1E 6E	..n
	ld	bc,X801e	; 63F1  01 1E 80	...
	ld	bc,X7e1e	; 63F4  01 1E 7E	..~
	ld	bc,X641e	; 63F7  01 1E 64	..d
	jp	X19a2		; 63FA  C3 A2 19	C".
;
X63fd:	ld	b,0		; 63FD  06 00		..
	ld	hl,X640a	; 63FF  21 0A 64	!.d
	ld	c,a		; 6402  4F		O
	add	hl,bc		; 6403  09		.
X6404:	ld	e,(hl)		; 6404  5E		^
	ld	(X5b29),a	; 6405  32 29 5B	2)[
	jp	X19a2		; 6408  C3 A2 19	C".
;
	ld	(hl),d		; 640B  72		r
	ld	(hl),d		; 640C  72		r
	ld	(hl),d		; 640D  72		r
	ld	(hl),d		; 640E  72		r
	ld	(hl),d		; 640F  72		r
	ld	(hl),d		; 6410  72		r
	ld	(hl),d		; 6411  72		r
	add	a,b		; 6412  80		.
	ld	(hl),d		; 6413  72		r
	ld	(hl),d		; 6414  72		r
	ld	(hl),d		; 6415  72		r
	ld	(hl),d		; 6416  72		r
	ld	(hl),d		; 6417  72		r
	ld	(hl),d		; 6418  72		r
	adc	a,b		; 6419  88		.
	ld	h,(hl)		; 641A  66		f
	ld	(hl),d		; 641B  72		r
	ld	(hl),d		; 641C  72		r
	add	a,b		; 641D  80		.
X641e:	ld	(hl),d		; 641E  72		r
	ld	(hl),d		; 641F  72		r
	ld	(hl),d		; 6420  72		r
	ld	(hl),d		; 6421  72		r
	ld	l,d		; 6422  6A		j
	adc	a,d		; 6423  8A		.
	add	a,(hl)		; 6424  86		.
	ld	a,d		; 6425  7A		z
	ld	h,(hl)		; 6426  66		f
	ld	h,(hl)		; 6427  66		f
	ld	a,d		; 6428  7A		z
	ld	h,(hl)		; 6429  66		f
	add	a,b		; 642A  80		.
	ld	h,(hl)		; 642B  66		f
	ld	h,(hl)		; 642C  66		f
	ld	h,(hl)		; 642D  66		f
	ld	h,(hl)		; 642E  66		f
	adc	a,d		; 642F  8A		.
	ld	h,(hl)		; 6430  66		f
X6431:	jr	c,X6435		; 6431  38 02		8.
	sub	6		; 6433  D6 06		V.
X6435:	sub	blislowblok	; 6435  D6 40		V@
	ld	d,a		; 6437  57		W
	ex	af,af'		; 6438  08		.
	sub	12h		; 6439  D6 12		V.
	ld	e,a		; 643B  5F		_
	ld	a,d		; 643C  7A		z
	jr	nz,X644c	; 643D  20 0D		 .
	cp	22h		; 643F  FE 22		~"
	jr	nc,X6448	; 6441  30 05		0.
	ld	(hl),1		; 6443  36 01		6.
	inc	hl		; 6445  23		#
	jr	X645a		; 6446  18 12		..
;
X6448:	add	a,0c6h		; 6448  C6 C6		FF
	jr	X645a		; 644A  18 0E		..
;
X644c:	add	a,7fh		; 644C  C6 7F		F.
	ld	d,a		; 644E  57		W
X644f:	ld	a,e		; 644F  7B		{
	dec	a		; 6450  3D		=
	ld	e,a		; 6451  5F		_
	ld	a,d		; 6452  7A		z
	jr	z,X645a		; 6453  28 05		(.
	add	a,34h		; 6455  C6 34		F4
	ld	d,a		; 6457  57		W
	jr	X644f		; 6458  18 F5		.u
;
X645a:	ld	(hl),a		; 645A  77		w
	inc	hl		; 645B  23		#
	ld	(hl),0		; 645C  36 00		6.
	pop	de		; 645E  D1		Q
	ld	hl,(X40a7)	; 645F  2A A7 40	*'@
	push	hl		; 6462  E5		e
	ld	hl,X3f00	; 6463  21 00 3F	!.?
	push	hl		; 6466  E5		e
	cp	95h		; 6467  FE 95		~.
	jr	nz,X646c	; 6469  20 01		 .
	inc	hl		; 646B  23		#
X646c:	ld	(X40a7),hl	; 646C  22 A7 40	"'@
	ex	de,hl		; 646F  EB		k
	call	X2b7e		; 6470  CD 7E 2B	M~+
	pop	de		; 6473  D1		Q
	pop	hl		; 6474  E1		a
	ld	(X40a7),hl	; 6475  22 A7 40	"'@
	pop	hl		; 6478  E1		a
	ex	(sp),hl		; 6479  E3		c
	ld	a,h		; 647A  7C		|
	ex	(sp),hl		; 647B  E3		c
	cp	2fh		; 647C  FE 2F		~/
	jr	z,X6497		; 647E  28 17		(.
	push	hl		; 6480  E5		e
	ex	de,hl		; 6481  EB		k
	call	X28a7		; 6482  CD A7 28	M'(
	pop	hl		; 6485  E1		a
	ld	d,b		; 6486  50		P
	ld	b,0		; 6487  06 00		..
	ld	e,b		; 6489  58		X
	ex	de,hl		; 648A  EB		k
	ldir			; 648B  ED B0		m0
	push	de		; 648D  D5		U
	ld	a,l		; 648E  7D		}
	exx			; 648F  D9		Y
	pop	hl		; 6490  E1		a
	neg			; 6491  ED 44		mD
	add	a,b		; 6493  80		.
	ld	b,a		; 6494  47		G
	xor	a		; 6495  AF		/
	ret			; 6496  C9		I
;
X6497:	push	hl		; 6497  E5		e
X6498:	ld	a,(de)		; 6498  1A		.
	inc	de		; 6499  13		.
	exx			; 649A  D9		Y
	pop	hl		; 649B  E1		a
	or	a		; 649C  B7		7
	ret	z		; 649D  C8		H
	push	af		; 649E  F5		u
	ld	a,c		; 649F  79		y
	sub	b		; 64A0  90		.
	inc	b		; 64A1  04		.
	inc	c		; 64A2  0C		.
	push	bc		; 64A3  C5		E
	ex	de,hl		; 64A4  EB		k
	ld	l,a		; 64A5  6F		o
	ld	h,0		; 64A6  26 00		&.
	add	hl,de		; 64A8  19		.
	ld	b,h		; 64A9  44		D
	ld	c,l		; 64AA  4D		M
	inc	hl		; 64AB  23		#
	call	X1958		; 64AC  CD 58 19	MX.
	pop	bc		; 64AF  C1		A
	pop	af		; 64B0  F1		q
	ld	(hl),a		; 64B1  77		w
	call	X032a		; 64B2  CD 2A 03	M*.
	inc	hl		; 64B5  23		#
	push	hl		; 64B6  E5		e
	exx			; 64B7  D9		Y
	jr	X6498		; 64B8  18 DE		.^
;
X64ba:	xor	a		; 64BA  AF		/
	ld	(X409c),a	; 64BB  32 9C 40	2.@
	ex	af,af'		; 64BE  08		.
	ld	hl,X6591	; 64BF  21 91 65	!.e
	call	X28a7		; 64C2  CD A7 28	M'(
	call	X32bf		; 64C5  CD BF 32	M?2
	call	X0033		; 64C8  CD 33 00	M3.
	and	5fh		; 64CB  E6 5F		f_
	cp	59h		; 64CD  FE 59		~Y
	jr	nz,X64d4	; 64CF  20 03		 .
	ld	a,1		; 64D1  3E 01		>.
	ex	af,af'		; 64D3  08		.
X64d4:	ld	a,0dh		; 64D4  3E 0D		>.
	call	X0033		; 64D6  CD 33 00	M3.
	ld	a,0eh		; 64D9  3E 0E		>.
	call	X0033		; 64DB  CD 33 00	M3.
	ld	hl,X65ab	; 64DE  21 AB 65	!+e
	call	X28a7		; 64E1  CD A7 28	M'(
	ex	af,af'		; 64E4  08		.
	ld	(X409c),a	; 64E5  32 9C 40	2.@
	ld	hl,X3f01	; 64E8  21 01 3F	!.?
	ld	b,0f0h		; 64EB  06 F0		.p
	call	X05d9		; 64ED  CD D9 05	MY.
	ld	c,b		; 64F0  48		H
	ld	b,0		; 64F1  06 00		..
	add	hl,bc		; 64F3  09		.
	ld	(hl),0		; 64F4  36 00		6.
	ld	a,0dh		; 64F6  3E 0D		>.
	call	X0033		; 64F8  CD 33 00	M3.
	ld	a,0fh		; 64FB  3E 0F		>.
	call	X0033		; 64FD  CD 33 00	M3.
	ld	hl,(X40a4)	; 6500  2A A4 40	*$@
X6503:	ld	(X3efc),hl	; 6503  22 FC 3E	"|>
	ld	a,(hl)		; 6506  7E		~
	inc	hl		; 6507  23		#
	push	hl		; 6508  E5		e
	ld	h,(hl)		; 6509  66		f
	ld	l,a		; 650A  6F		o
	ld	(X3efe),hl	; 650B  22 FE 3E	"~>
	or	h		; 650E  B4		4
	jr	z,X6578		; 650F  28 67		(g
	pop	hl		; 6511  E1		a
	inc	hl		; 6512  23		#
	inc	hl		; 6513  23		#
	inc	hl		; 6514  23		#
	call	X2b7e		; 6515  CD 7E 2B	M~+
	ld	hl,(X40a7)	; 6518  2A A7 40	*'@
X651b:	ld	de,X3f01	; 651B  11 01 3F	..?
	xor	a		; 651E  AF		/
	ld	(X3f00),a	; 651F  32 00 3F	2.?
X6522:	ld	a,(de)		; 6522  1A		.
	ld	b,a		; 6523  47		G
	or	a		; 6524  B7		7
	jr	z,X6544		; 6525  28 1D		(.
X6527:	ld	a,(hl)		; 6527  7E		~
	or	a		; 6528  B7		7
	jr	z,X653f		; 6529  28 14		(.
	inc	hl		; 652B  23		#
	cp	b		; 652C  B8		8
	jr	z,X6537		; 652D  28 08		(.
	ld	a,(X3f00)	; 652F  3A 00 3F	:.?
	or	a		; 6532  B7		7
	jr	z,X6527		; 6533  28 F2		(r
	jr	X651b		; 6535  18 E4		.d
;
X6537:	ld	a,1		; 6537  3E 01		>.
	ld	(X3f00),a	; 6539  32 00 3F	2.?
	inc	de		; 653C  13		.
	jr	X6522		; 653D  18 E3		.c
;
X653f:	ld	hl,(X3efe)	; 653F  2A FE 3E	*~>
	jr	X6503		; 6542  18 BF		.?
;
X6544:	ld	a,20h		; 6544  3E 20		>
	call	X032a		; 6546  CD 2A 03	M*.
	ld	hl,(X3efc)	; 6549  2A FC 3E	*|>
	inc	hl		; 654C  23		#
	inc	hl		; 654D  23		#
	ld	a,(hl)		; 654E  7E		~
	inc	hl		; 654F  23		#
	ld	h,(hl)		; 6550  66		f
	ld	l,a		; 6551  6F		o
	call	X0faf		; 6552  CD AF 0F	M/.
	ld	a,20h		; 6555  3E 20		>
	call	X032a		; 6557  CD 2A 03	M*.
	ld	hl,(X40a7)	; 655A  2A A7 40	*'@
	call	X2b75		; 655D  CD 75 2B	Mu+
	ld	a,0dh		; 6560  3E 0D		>.
	call	X032a		; 6562  CD 2A 03	M*.
X6565:	call	X32bf		; 6565  CD BF 32	M?2
	cp	20h		; 6568  FE 20		~
	jr	z,X653f		; 656A  28 D3		(S
	cp	0dh		; 656C  FE 0D		~.
	jp	z,X64ba		; 656E  CA BA 64	J:d
	cp	esc		; 6571  FE 1B		~.
	jp	z,X1a19		; 6573  CA 19 1A	J..
	jr	X6565		; 6576  18 ED		.m
;
X6578:	ld	hl,X65bb	; 6578  21 BB 65	!;e
	xor	a		; 657B  AF		/
	ld	(X409c),a	; 657C  32 9C 40	2.@
	call	X28a7		; 657F  CD A7 28	M'(
X6582:	call	X32bf		; 6582  CD BF 32	M?2
	cp	0dh		; 6585  FE 0D		~.
	jp	z,X64ba		; 6587  CA BA 64	J:d
	cp	esc		; 658A  FE 1B		~.
	jp	z,X1a19		; 658C  CA 19 1A	J..
	jr	X6582		; 658F  18 F1		.q
;
X6591:	defb	'Output to printer (Y/N)? '		; 6591
	defb	0					; 65AA .
X65AB:	defb	'Enter string : '			; 65AB
	defb	0					; 65BA .
X65BB:	defb	'String not found'			; 65BB
	defb	0dh,0					; 65CB ..
;
X65cd:	pop	hl		; 65CD  E1		a
	exx			; 65CE  D9		Y
	pop	hl		; 65CF  E1		a
	push	hl		; 65D0  E5		e
	ld	de,X252f	; 65D1  11 2F 25	./%
	rst	18h		; 65D4  DF		_
	jp	nz,SNERR	; 65D5  C2 97 19	B..
	exx			; 65D8  D9		Y
	push	hl		; 65D9  E5		e
	ld	hl,(X303e)	; 65DA  2A 3E 30	*>0
	ret			; 65DD  C9		I
;
X65de:	jp	z,X0422		; 65DE  CA 22 04	J".
	cp	27h		; 65E1  FE 27		~'
	jp	nz,X2f04	; 65E3  C2 04 2F	B./
	exx			; 65E6  D9		Y
	ld	de,(X40ea)	; 65E7  ED 5B EA 40	m[j@
	ld	hl,(X40ec)	; 65EB  2A EC 40	*l@
	rst	18h		; 65EE  DF		_
	jr	nz,X65f5	; 65EF  20 04		 .
	ld	hl,(X40f5)	; 65F1  2A F5 40	*u@
	rst	18h		; 65F4  DF		_
X65f5:	exx			; 65F5  D9		Y
	ret	nz		; 65F6  C0		@
	push	hl		; 65F7  E5		e
	push	bc		; 65F8  C5		E
	exx			; 65F9  D9		Y
	push	hl		; 65FA  E5		e
	call	X2c6b		; 65FB  CD 6B 2C	Mk,
	call	X01c9		; 65FE  CD C9 01	MI.
	call	X0faf		; 6601  CD AF 0F	M/.
	ld	a,0fh		; 6604  3E 0F		>.
	call	X0033		; 6606  CD 33 00	M3.
	ld	a,20h		; 6609  3E 20		>
	call	X0033		; 660B  CD 33 00	M3.
	pop	de		; 660E  D1		Q
	pop	bc		; 660F  C1		A
	exx			; 6610  D9		Y
	ld	hl,(X4020)	; 6611  2A 20 40	* @
	ex	(sp),hl		; 6614  E3		c
	call	X2b75		; 6615  CD 75 2B	Mu+
	ld	hl,(X40ee)	; 6618  2A EE 40	*n@
	call	X2b7e		; 661B  CD 7E 2B	M~+
X661e:	ld	hl,(X40a7)	; 661E  2A A7 40	*'@
	push	hl		; 6621  E5		e
	ld	bc,X3efc	; 6622  01 FC 3E	.|>
	push	bc		; 6625  C5		E
X6626:	inc	hl		; 6626  23		#
	ld	a,(hl)		; 6627  7E		~
	ld	(bc),a		; 6628  02		.
	inc	bc		; 6629  03		.
	or	a		; 662A  B7		7
	jr	nz,X6626	; 662B  20 F9		 y
	pop	bc		; 662D  C1		A
	pop	hl		; 662E  E1		a
	exx			; 662F  D9		Y
	pop	hl		; 6630  E1		a
	ld	(X4020),hl	; 6631  22 20 40	" @
	push	bc		; 6634  C5		E
	call	X1b2c		; 6635  CD 2C 1B	M,.
	ld	hl,X0004	; 6638  21 04 00	!..
	add	hl,bc		; 663B  09		.
	call	X2b7e		; 663C  CD 7E 2B	M~+
	exx			; 663F  D9		Y
	push	hl		; 6640  E5		e
	ld	d,0		; 6641  16 00		..
X6643:	ld	a,(bc)		; 6643  0A		.
	cp	(hl)		; 6644  BE		>
	jr	z,X664b		; 6645  28 04		(.
X6647:	inc	hl		; 6647  23		#
	inc	d		; 6648  14		.
	jr	X6643		; 6649  18 F8		.x
;
X664b:	push	bc		; 664B  C5		E
	push	hl		; 664C  E5		e
X664d:	inc	bc		; 664D  03		.
	inc	hl		; 664E  23		#
	ld	a,(bc)		; 664F  0A		.
	cp	(hl)		; 6650  BE		>
	jr	z,X664d		; 6651  28 FA		(z
	dec	hl		; 6653  2B		+
	ld	a,(hl)		; 6654  7E		~
	pop	hl		; 6655  E1		a
	pop	bc		; 6656  C1		A
	or	a		; 6657  B7		7
	jr	nz,X6647	; 6658  20 ED		 m
	pop	hl		; 665A  E1		a
	pop	bc		; 665B  C1		A
	push	de		; 665C  D5		U
	ld	a,0eh		; 665D  3E 0E		>.
	call	X0033		; 665F  CD 33 00	M3.
	pop	de		; 6662  D1		Q
	ld	a,d		; 6663  7A		z
	cp	2		; 6664  FE 02		~.
	ret	c		; 6666  D8		X
	jp	X2f0f		; 6667  C3 0F 2F	C./
;
	ld	hl,(X303e)	; 666A  2A 3E 30	*>0
	push	af		; 666D  F5		u
	rst	10h		; 666E  D7		W
	push	hl		; 666F  E5		e
	call	X39af		; 6670  CD AF 39	M/9
	dec	hl		; 6673  2B		+
	call	X2b1b		; 6674  CD 1B 2B	M.+
	push	af		; 6677  F5		u
	rst	8		; 6678  CF		O
	inc	l		; 6679  2C		,
	call	X2337		; 667A  CD 37 23	M7#
	call	X39b4		; 667D  CD B4 39	M49
	exx			; 6680  D9		Y
	ld	c,(hl)		; 6681  4E		N
	pop	af		; 6682  F1		q
	ld	b,a		; 6683  47		G
	inc	hl		; 6684  23		#
	ld	a,(hl)		; 6685  7E		~
	inc	hl		; 6686  23		#
	ld	h,(hl)		; 6687  66		f
	ld	l,a		; 6688  6F		o
	pop	de		; 6689  D1		Q
	pop	af		; 668A  F1		q
	exx			; 668B  D9		Y
	push	hl		; 668C  E5		e
	exx			; 668D  D9		Y
	push	af		; 668E  F5		u
	push	bc		; 668F  C5		E
	push	hl		; 6690  E5		e
	push	de		; 6691  D5		U
	exx			; 6692  D9		Y
	pop	hl		; 6693  E1		a
	call	X39af		; 6694  CD AF 39	M/9
	exx			; 6697  D9		Y
	ld	c,(hl)		; 6698  4E		N
	ld	b,0		; 6699  06 00		..
	inc	hl		; 669B  23		#
	ld	a,(hl)		; 669C  7E		~
	inc	hl		; 669D  23		#
	ld	h,(hl)		; 669E  66		f
	ld	l,a		; 669F  6F		o
	exx			; 66A0  D9		Y
	pop	de		; 66A1  D1		Q
	pop	bc		; 66A2  C1		A
	pop	af		; 66A3  F1		q
	push	af		; 66A4  F5		u
	ld	hl,X3efc	; 66A5  21 FC 3E	!|>
	ld	(hl),0		; 66A8  36 00		6.
	inc	hl		; 66AA  23		#
	inc	hl		; 66AB  23		#
	inc	hl		; 66AC  23		#
	ex	de,hl		; 66AD  EB		k
	push	de		; 66AE  D5		U
	exx			; 66AF  D9		Y
	pop	de		; 66B0  D1		Q
	cp	18h		; 66B1  FE 18		~.
	call	z,X66e5		; 66B3  CC E5 66	Lef
	push	de		; 66B6  D5		U
	exx			; 66B7  D9		Y
	pop	de		; 66B8  D1		Q
	ld	a,c		; 66B9  79		y
	or	a		; 66BA  B7		7
	jr	z,X66d9		; 66BB  28 1C		(.
	ld	a,b		; 66BD  78		x
	or	a		; 66BE  B7		7
	jr	z,X66d9		; 66BF  28 18		(.
	push	bc		; 66C1  C5		E
	ld	a,(X3efc)	; 66C2  3A FC 3E	:|>
X66c5:	adc	a,c		; 66C5  89		.
	jp	c,X1e4a		; 66C6  DA 4A 1E	ZJ.
	djnz	X66c5		; 66C9  10 FA		.z
	pop	bc		; 66CB  C1		A
	ld	(X3efc),a	; 66CC  32 FC 3E	2|>
X66cf:	push	bc		; 66CF  C5		E
	ld	b,0		; 66D0  06 00		..
	push	hl		; 66D2  E5		e
	ldir			; 66D3  ED B0		m0
	pop	hl		; 66D5  E1		a
	pop	bc		; 66D6  C1		A
	djnz	X66cf		; 66D7  10 F6		.v
X66d9:	pop	af		; 66D9  F1		q
	push	de		; 66DA  D5		U
	exx			; 66DB  D9		Y
	pop	de		; 66DC  D1		Q
	cp	18h		; 66DD  FE 18		~.
	call	nz,X66e5	; 66DF  C4 E5 66	Def
	jp	X3a3b		; 66E2  C3 3B 3A	C;:
;
X66e5:	ld	a,c		; 66E5  79		y
	or	a		; 66E6  B7		7
	ret	z		; 66E7  C8		H
	push	hl		; 66E8  E5		e
	ld	hl,X3efc	; 66E9  21 FC 3E	!|>
	adc	a,(hl)		; 66EC  8E		.
	jp	c,X1e4a		; 66ED  DA 4A 1E	ZJ.
	ld	(hl),a		; 66F0  77		w
	pop	hl		; 66F1  E1		a
	ldir			; 66F2  ED B0		m0
	ret			; 66F4  C9		I
;
	nop			; 66F5  00		.
	sbc	a,0ffh		; 66F6  DE FF		^.
	nop			; 66F8  00		.

;	Imported from sys BIOS
;
; *** LX529 VIDEO BOARD:
crtbase		equ	$80
; ram0 for ascii chars & semi6. combined with ram1 and ram2 for graphics
crtram0dat	equ	crtbase		; ram0 access: pio0 port a data register
crtram0cnt	equ	crtbase+2	; ram0 access: pio0 port a control register
; printer port
crtprntdat	equ	crtbase+1	; printer (output): pio0 port b data register
crtprntcnt	equ	crtbase+3	; printer (output): pio0 port b control register
; strobe is generated by hardware
; ram1 for graphics. (pixel index by ram0+ram1+ram2)
crtram1dat	equ	crtbase+4	; ram1 access: pio1 port a data register
crtram1cnt	equ	crtbase+6	; ram1 access: pio1 port a control register
; keyboard port (negated). bit 7 is for strobe
crtkeybdat	equ	crtbase+5	; keyboard (input): pio1 port b data register
crtkeybcnt	equ	crtbase+7	; keyboard (input): pio1 port b control register
keybstrbbit	equ	7		; strobe bit
; ram2 for graphics. (pixel index by ram0+ram1+ram2)
crtram2dat	equ	crtbase+8	; ram2 access: pio2 port a data register
crtram2cnt	equ	crtbase+10	; ram2 access: pio2 port a control register
; service/user port
crtservdat	equ	crtbase+9	; service (i/o): pio2 port b data register
crtservcnt	equ	crtbase+11	; service (i/o): pio2 port b control register
prntbusybit	equ	0		; printer busy bit
crtwidthbit	equ	1		; set 40/80 chars per line
; other bits available to user
; ram3 control chars/graphics attributes
crtram3port	equ	crtbase+14	; ram3 port
crtblinkbit	equ	0		; blink
crtrevrsbit	equ	1		; reverse
crtunderbit	equ	2		; underline
crthilitbit	equ	3		; highlight
crtmodebit	equ	4		; ascii/graphic mode
; beeper port
crtbeepport	equ	crtbase+15	; beeper port
; 6545 crt controller ports
crt6545adst	equ	crtbase+12	; address & status register
crt6545data	equ	crtbase+13	; data register

sycrspos:
	ld     a,$0e           ; 00F060
	out    (CRT6545ADST),a
	ld     a,h
	out    (CRT6545DATA),a
	ld     a,$0f
	out    (CRT6545ADST),a
	ld     a,l
	out    (CRT6545DATA),a
syupdreg:
	ld     a,$12           ; 00F06E
	out    (CRT6545ADST),a
	ld     a,h
	out    (CRT6545DATA),a
	ld     a,$13
	out    (CRT6545ADST),a
	ld     a,l
	out    (CRT6545DATA),a
syprgend:
	ld     a,$1f
	out    (CRT6545ADST),a
	ret
sycrsoff:
	ld     a,$0a           ; 00f07e 3e 0a
	out    (crt6545adst),a
	ld     a,$20
	out    (crt6545data),a
	jr	syprgend
sycrson:
	ld     a,$0a           ; 00f08b 3e 0a
	out    (crt6545adst),a
	xor    a
	out    (crt6545data),a
	jr     syprgend
sygrout:
	in     a,(crt6545adst)         ; 00f044 db 8c
	bit    7,a
	jr     z,dispgr
	ld     hl,gram0buf
	ld     a,(hl)
	out    (crtram0dat),a
	inc    hl
	ld     a,(hl)
	out    (crtram1dat),a
	inc    hl
	ld     a,(hl)
	out    (crtram2dat),a
	inc    hl
	ld     a,(hl)
outr3port:
	out    (crtram3port),a
	xor    a
	out    (crt6545data),a
	ret
;; crttab - 6545 register setup values
crttab:                        ; 00f2f5
	db    $0b,$00,$0b,$48
	db    $18,$18,$00,$1a
	db    $28,$57,$50,$6f

;
;	Symbol equates
;
;  These are symbols from the control
;  file that are referenced in the code
;
; colbuf	EQU	4fh
; curpbuf	EQU	48h
; dselbf	EQU	4eh
esc	EQU	1bh
fdccmdstatr	EQU	0d0h
fdcdatareg	EQU	0d7h
fdcdrvrcnt	EQU	0d6h
fdcsectreg	EQU	0d2h
fdcseekc	EQU	16h
fdctrakreg	EQU	0d1h
fdrvbuf	EQU	45h
frdpbuf	EQU	41h
fsecbuf	EQU	43h
fsekbuf	EQU	3fh
ftrkbuf	EQU	46h
; kbdbyte	EQU	4dh
; miobyte	EQU	4ch
rst7sp1	EQU	38h
rst7sp2	EQU	39h
rst7sp3	EQU	3ah
; xofc	EQU	13h
; xonc	EQU	11h
;
;	Miscellaneous equates
;
;  These are addresses referenced in the code but
;  which are in the middle of a multibyte instruction
;  or are addresses outside the initialized space
;
X0004	EQU	4
X0007	EQU	7
X000a	EQU	0ah
X000e	EQU	0eh
X000f	EQU	0fh
X0022	EQU	22h
X0027	EQU	27h
X0093	EQU	93h
X00b5	EQU	0b5h
X0122	EQU	122h
X017f	EQU	17fh
X0183	EQU	183h
X018e	EQU	18eh
X01ff	EQU	1ffh
X021e	EQU	21eh
X0264	EQU	264h
X02b0	EQU	2b0h
X02f1	EQU	2f1h
X02f5	EQU	2f5h
X0320	EQU	320h
X0370	EQU	370h
X043e	EQU	43eh
X04ab	EQU	4abh
X04e0	EQU	4e0h
X04f3	EQU	4f3h
X04f6	EQU	4f6h
X0500	EQU	500h
X0578	EQU	578h
X0603	EQU	603h
X069f	EQU	69fh
X0700	EQU	700h
X073e	EQU	73eh
X090a	EQU	90ah
X095e	EQU	95eh
X0aef	EQU	0aefh
X0c26	EQU	0c26h
X0ccd	EQU	0ccdh
X0e12	EQU	0e12h
X0e6c	EQU	0e6ch
X0fa2	EQU	0fa2h
X0fdb	EQU	0fdbh
X10f9	EQU	10f9h
X11b0	EQU	11b0h
X138b	EQU	138bh
X13e2	EQU	13e2h
X14b2	EQU	14b2h
X196c	EQU	196ch
X1998	EQU	1998h
X199a	EQU	199ah
X199d	EQU	199dh
X19a0	EQU	19a0h
X1a18	EQU	1a18h
X1b1f	EQU	1b1fh
X1dbe	EQU	1dbeh
X1df8	EQU	1df8h
X1e63	EQU	1e63h
X1f04	EQU	1f04h
X1f07	EQU	1f07h
X1f5a	EQU	1f5ah
X207b	EQU	207bh
X21f4	EQU	21f4h
X223c	EQU	223ch
X223e	EQU	223eh
X22fe	EQU	22feh
X2337	EQU	2337h
X2363	EQU	2363h
X23c4	EQU	23c4h
X241e	EQU	241eh
X2423	EQU	2423h
X24f1	EQU	24f1h
X260d	EQU	260dh
X2686	EQU	2686h
X270f	EQU	270fh
X2727	EQU	2727h
X279a	EQU	279ah
X2888	EQU	2888h
X28c1	EQU	28c1h
X2a00	EQU	2a00h
X2a68	EQU	2a68h
X2d45	EQU	2d45h
X2d97	EQU	2d97h
X2e17	EQU	2e17h
X3116	EQU	3116h
X318c	EQU	318ch
X31b1	EQU	31b1h
X326a	EQU	326ah
X3712	EQU	3712h
X3839	EQU	3839h
X3b6d	EQU	3b6dh
X3b71	EQU	3b71h
X3b82	EQU	3b82h
X3b98	EQU	3b98h
X3b9a	EQU	3b9ah
X3c0e	EQU	3c0eh
X3c11	EQU	3c11h
X3c20	EQU	3c20h
X3c28	EQU	3c28h
X3c35	EQU	3c35h
X3c72	EQU	3c72h
X3c8f	EQU	3c8fh
X3ccb	EQU	3ccbh
X3d11	EQU	3d11h
X3deb	EQU	3debh
X3e00	EQU	3e00h
X3e03	EQU	3e03h
X524a	EQU	524ah
X533d	EQU	533dh
X5357	EQU	5357h
X535a	EQU	535ah
X53d5	EQU	53d5h
X54b0	EQU	54b0h
X54b3	EQU	54b3h
X54d3	EQU	54d3h
X54d6	EQU	54d6h
X54d9	EQU	54d9h
X54ea	EQU	54eah
X54f8	EQU	54f8h
X54fe	EQU	54feh
X5504	EQU	5504h
X5509	EQU	5509h
X55f5	EQU	55f5h
X56fd	EQU	56fdh
X57c7	EQU	57c7h
X57fa	EQU	57fah
X583b	EQU	583bh
X5ba8	EQU	5ba8h
X5c5c	EQU	5c5ch
X5c87	EQU	5c87h
X5ccf	EQU	5ccfh
X5cd7	EQU	5cd7h
X5ce0	EQU	5ce0h
X5e30	EQU	5e30h
X5e33	EQU	5e33h
X5e49	EQU	5e49h
X5e4c	EQU	5e4ch
X5f7b	EQU	5f7bh
X5f98	EQU	5f98h
X5fa9	EQU	5fa9h
X60e6	EQU	60e6h
X6169	EQU	6169h
X627c	EQU	627ch
X62fa	EQU	62fah
X6389	EQU	6389h
X63e6	EQU	63e6h
X63ec	EQU	63ech
X63ef	EQU	63efh
X63f2	EQU	63f2h
X63f5	EQU	63f5h
X63f8	EQU	63f8h
X640a	EQU	640ah
X66f7	EQU	66f7h
X681e	EQU	681eh
X6e1e	EQU	6e1eh
X7218	EQU	7218h
X772b	EQU	772bh
X7c1e	EQU	7c1eh
X7d9a	EQU	7d9ah
X7e1e	EQU	7e1eh
X8000	EQU	8000h
X801e	EQU	801eh
X802a	EQU	802ah
X8031	EQU	8031h
X8035	EQU	8035h
X803e	EQU	803eh
X8076	EQU	8076h
X8080	EQU	8080h
X8100	EQU	8100h
X8135	EQU	8135h
X8138	EQU	8138h
X8349	EQU	8349h
X9080	EQU	9080h
X9143	EQU	9143h
X9474	EQU	9474h
Xaa3b	EQU	0aa3bh
Xb065	EQU	0b065h
Xb244	EQU	0b244h
Xb60e	EQU	0b60eh
Xc4ff	EQU	0c4ffh
Xc93e	EQU	0c93eh
Xcd40	EQU	0cd40h
Xd1eb	EQU	0d1ebh
Xd30a	EQU	0d30ah
Xd7db	EQU	0d7dbh
Xdfbf	EQU	0dfbfh
Xe1c1	EQU	0e1c1h
Xe31f	EQU	0e31fh
Xe50a	EQU	0e50ah
Xebf9	EQU	0ebf9h
Xec00	EQU	0ec00h
Xec01	EQU	0ec01h
Xefce	EQU	0efceh
Xffaa	EQU	0ffaah
Xffb0	EQU	0ffb0h
Xffce	EQU	0ffceh
Xfffb	EQU	0fffbh
Xfffe	EQU	0fffeh
Xffff	EQU	0ffffh
;
	end
;

