;
;  MDZ80 V0.9.0 Z80 Disassembly of sys7_offset_0000.bin
;  2017/11/03 12:27
;
	ORG	0
;
X0000:	di			; 0000  F3		s
X0001:	xor	a		; 0001  AF		/
	jp	X0676		; 0002  C3 76 06	Cv.
;
X0005:	jp	X4000		; 0005  C3 00 40	C.@
;
	jp	X4000		; 0008  C3 00 40	C.@
;
X000b:	pop	hl		; 000B  E1		a
	jp	(hl)		; 000C  E9		i
;
	jp	X069f		; 000D  C3 9F 06	C..
;
	jp	X3881		; 0010  C3 81 38	C.8
;
X0013:	push	bc		; 0013  C5		E
	ld	b,1		; 0014  06 01		..
	jr	X0045		; 0016  18 2D		.-
;
	jp	X4006		; 0018  C3 06 40	C.@
;
X001b:	push	bc		; 001B  C5		E
	ld	b,2		; 001C  06 02		..
X001e:	jr	X0045		; 001E  18 25		.%
;
	jp	X4009		; 0020  C3 09 40	C.@
;
	push	bc		; 0023  C5		E
	ld	b,4		; 0024  06 04		..
	jr	X0045		; 0026  18 1D		..
;
X0028:	jp	X400c		; 0028  C3 0C 40	C.@
;
X002b:	ld	de,X4015	; 002B  11 15 40	..@
	jr	X0013		; 002E  18 E3		.c
;
	jp	X400f		; 0030  C3 0F 40	C.@
;
X0033:	ld	de,X401d	; 0033  11 1D 40	..@
X0036:	jr	X001b		; 0036  18 E3		.c
;
	jp	X4012		; 0038  C3 12 40	C.@
;
X003b:	ld	de,X4025	; 003B  11 25 40	.%@
	jr	X001b		; 003E  18 DB		.[
;
	jp	X05d9		; 0040  C3 D9 05	CY.
;
	ret			; 0043  C9		I
;
	nop			; 0044  00		.
X0045:	jp	X03c2		; 0045  C3 C2 03	CB.
;
X0048:	ei			; 0048  FB		{
	push	af		; 0049  F5		u
	ld	a,1		; 004A  3E 01		>.
	jp	X353e		; 004C  C3 3E 35	C>5
;
X004f:	nop			; 004F  00		.
X0050:	exx			; 0050  D9		Y
	pop	hl		; 0051  E1		a
	exx			; 0052  D9		Y
	ld	a,(X004f)	; 0053  3A 4F 00	:O.
	or	a		; 0056  B7		7
	ret	nz		; 0057  C0		@
	ld	a,(hl)		; 0058  7E		~
	or	a		; 0059  B7		7
	ret	z		; 005A  C8		H
	exx			; 005B  D9		Y
	push	hl		; 005C  E5		e
	exx			; 005D  D9		Y
	ret			; 005E  C9		I
;
	nop			; 005F  00		.
X0060:	dec	bc		; 0060  0B		.
	ld	a,b		; 0061  78		x
	or	c		; 0062  B1		1
	jr	nz,X0060	; 0063  20 FB		 {
	ret			; 0065  C9		I
;
	jp	X0048		; 0066  C3 48 00	CH.
;
	ld	sp,X0600	; 0069  31 00 06	1..
	jp	X06cc		; 006C  C3 CC 06	CL.
;
	jp	X03c2		; 006F  C3 C2 03	CB.
;
X0072:	ld	a,fdccmdstatr	; 0072  3E D0		>P
	out	(fdccmdstatr),a	; 0074  D3 D0		SP
	ex	(sp),hl		; 0076  E3		c
	ex	(sp),hl		; 0077  E3		c
	ld	sp,X407d	; 0078  31 7D 40	1}@
	ld	a,1		; 007B  3E 01		>.
	out	(fdcdrvrcnt),a	; 007D  D3 D6		SV
	ld	a,3		; 007F  3E 03		>.
	out	(fdccmdstatr),a	; 0081  D3 D0		SP
	ld	bc,X0500	; 0083  01 00 05	...
	call	X0060		; 0086  CD 60 00	M`.
X0089:	in	a,(fdccmdstatr)	; 0089  DB D0		[P
	bit	0,a		; 008B  CB 47		KG
	jr	nz,X0089	; 008D  20 FA		 z
	xor	a		; 008F  AF		/
X0090:	out	(fdcsectreg),a	; 0090  D3 D2		SR
	out	(fdcdatareg),a	; 0092  D3 D7		SW
	ld	bc,X4200	; 0094  01 00 42	..B
	ld	a,crt6545adst	; 0097  3E 8C		>.
	out	(fdccmdstatr),a	; 0099  D3 D0		SP
X009b:	in	a,(fdccmdstatr)	; 009B  DB D0		[P
	bit	1,a		; 009D  CB 4F		KO
	jr	z,X009b		; 009F  28 FA		(z
	in	a,(fdcdatareg)	; 00A1  DB D7		[W
	ld	(bc),a		; 00A3  02		.
	inc	c		; 00A4  0C		.
	jr	nz,X009b	; 00A5  20 F4		 t
	ld	hl,X418e	; 00A7  21 8E 41	!.A
	ld	(hl),0c3h	; 00AA  36 C3		6C
	inc	hl		; 00AC  23		#
	ld	(hl),crtram3port; 00AD  36 8E		6.
	inc	hl		; 00AF  23		#
	ld	(hl),6		; 00B0  36 06		6.
	xor	a		; 00B2  AF		/
	ld	(X409f),a	; 00B3  32 9F 40	2.@
	jp	X4200		; 00B6  C3 00 42	C.B
;
	ORG	0bbh
;
	in	a,(fdccmdstatr)	; 00BB  DB D0		[P
	bit	1,a		; 00BD  CB 4F		KO
	ret			; 00BF  C9		I
;
	nop			; 00C0  00		.
	or	a		; 00C1  B7		7
	jr	nz,X00d6	; 00C2  20 12		 .
	ld	hl,X434c	; 00C4  21 4C 43	!LC
X00c7:	inc	hl		; 00C7  23		#
	ld	a,h		; 00C8  7C		|
	or	l		; 00C9  B5		5
	jr	z,X00e7		; 00CA  28 1B		(.
	ld	a,(hl)		; 00CC  7E		~
	ld	b,a		; 00CD  47		G
	cpl			; 00CE  2F		/
	ld	(hl),a		; 00CF  77		w
	cp	(hl)		; 00D0  BE		>
	ld	(hl),b		; 00D1  70		p
	jr	z,X00c7		; 00D2  28 F3		(s
	jr	X00e7		; 00D4  18 11		..
;
X00d6:	call	X1e5a		; 00D6  CD 5A 1E	MZ.
	or	a		; 00D9  B7		7
	jp	nz,X1997	; 00DA  C2 97 19	B..
	ex	de,hl		; 00DD  EB		k
	dec	hl		; 00DE  2B		+
	ld	a,crtbeepport	; 00DF  3E 8F		>.
	ld	b,(hl)		; 00E1  46		F
	ld	(hl),a		; 00E2  77		w
	cp	(hl)		; 00E3  BE		>
	ld	(hl),b		; 00E4  70		p
; 	jr	nz,X00b5	; 00E5  20 CE		 N
	defb	$20,$ce
X00e7:	dec	hl		; 00E7  2B		+
X00e8:	ld	de,X4414	; 00E8  11 14 44	..D
	rst	18h		; 00EB  DF		_
	jp	c,X197a		; 00EC  DA 7A 19	Zz.
	ld	de,Xefce	; 00EF  11 CE EF	.No
	ld	(X40b1),hl	; 00F2  22 B1 40	"1@
	add	hl,de		; 00F5  19		.
	ld	(X40a0),hl	; 00F6  22 A0 40	" @
	call	X1b4d		; 00F9  CD 4D 1B	MM.
	jp	X1a19		; 00FC  C3 19 1A	C..
;
X00ff:	push	bc		; 00FF  C5		E
	ld	a,(X409d)	; 0100  3A 9D 40	:.@
	ld	c,a		; 0103  4F		O
	ld	b,0		; 0104  06 00		..
	call	X3bca		; 0106  CD CA 3B	MJ;
	pop	bc		; 0109  C1		A
	ld	a,l		; 010A  7D		}
	pop	hl		; 010B  E1		a
	ret			; 010C  C9		I
;
X010d:	push	hl		; 010D  E5		e
	ld	hl,(X4020)	; 010E  2A 20 40	* @
	ld	d,0		; 0111  16 00		..
	add	hl,de		; 0113  19		.
	jr	X00ff		; 0114  18 E9		.i
;
X0116:	call	X010d		; 0116  CD 0D 01	M..
	ld	e,a		; 0119  5F		_
	ret			; 011A  C9		I
;
X011b:	inc	hl		; 011B  23		#
	call	X0050		; 011C  CD 50 00	MP.
	dec	hl		; 011F  2B		+
	jp	X1b2c		; 0120  C3 2C 1B	C,.
;
	call	X0050		; 0123  CD 50 00	MP.
	jp	X6044		; 0126  C3 44 60	CD`
;
	ORG	12bh
;
	dec	c		; 012B  0D		.
	nop			; 012C  00		.
	ld	e,2ch		; 012D  1E 2C		.,
	jp	X19a2		; 012F  C3 A2 19	C".
;
X0132:	rst	10h		; 0132  D7		W
	xor	a		; 0133  AF		/
	ld	bc,X803e	; 0134  01 3E 80	.>.
	ld	bc,X403e	; 0137  01 3E 40	.>@
	ld	(X3ccb),a	; 013A  32 CB 3C	2K<
	xor	a		; 013D  AF		/
	ex	af,af'		; 013E  08		.
	ld	a,(hl)		; 013F  7E		~
	cp	1		; 0140  FE 01		~.
	jr	nz,X0149	; 0142  20 05		 .
	inc	hl		; 0144  23		#
	rst	8		; 0145  CF		O
	ld	b,18h		; 0146  06 18		..
	ex	af,af'		; 0148  08		.
X0149:	cp	9ch		; 0149  FE 9C		~.
	jr	z,X0151		; 014B  28 04		(.
X014d:	cp	0ddh		; 014D  FE DD		~]
	jr	nz,X0153	; 014F  20 02		 .
X0151:	ex	af,af'		; 0151  08		.
	rst	10h		; 0152  D7		W
X0153:	exx			; 0153  D9		Y
	ld	hl,X0028	; 0154  21 28 00	!(.
	ld	de,X0048	; 0157  11 48 00	.H.
	ld	bc,X0203	; 015A  01 03 02	...
	ld	a,(X303b)	; 015D  3A 3B 30	:;0
	bit	1,a		; 0160  CB 4F		KO
	jr	nz,X0165	; 0162  20 01		 .
	add	hl,hl		; 0164  29		)
X0165:	ld	a,(X3043)	; 0165  3A 43 30	:C0
	ld	(X3c35),hl	; 0168  22 35 3C	"5<
	bit	4,a		; 016B  CB 67		Kg
	jr	nz,X0176	; 016D  20 07		 .
	add	hl,hl		; 016F  29		)
	ld	de,X0090	; 0170  11 90 00	...
	ld	bc,X0406	; 0173  01 06 04	...
X0176:	add	hl,hl		; 0176  29		)
	ld	(X018e),hl	; 0177  22 8E 01	"..
	jp	X3bd3		; 017A  C3 D3 3B	CS;
;
	rst	8		; 017D  CF		O
	jr	z,X014d		; 017E  28 CD		(M
	inc	e		; 0180  1C		.
	dec	hl		; 0181  2B		+
	cp	curpbuf		; 0182  FE 48		~H
	jp	nc,X1e4a	; 0184  D2 4A 1E	RJ.
	push	de		; 0187  D5		U
	rst	8		; 0188  CF		O
	inc	l		; 0189  2C		,
	call	X1e46		; 018A  CD 46 1E	MF.
	ld	bc,X0050	; 018D  01 50 00	.P.
	ex	de,hl		; 0190  EB		k
	push	hl		; 0191  E5		e
	sbc	hl,bc		; 0192  ED 42		mB
	pop	hl		; 0194  E1		a
	ex	de,hl		; 0195  EB		k
	jp	nc,X1e4a	; 0196  D2 4A 1E	RJ.
	rst	8		; 0199  CF		O
	add	hl,hl		; 019A  29		)
	pop	bc		; 019B  C1		A
	ret			; 019C  C9		I
;
X019d:	rst	10h		; 019D  D7		W
	push	hl		; 019E  E5		e
	ld	a,(X4099)	; 019F  3A 99 40	:.@
	or	a		; 01A2  B7		7
	jr	nz,X01ab	; 01A3  20 06		 .
	call	X0358		; 01A5  CD 58 03	MX.
	or	a		; 01A8  B7		7
	jr	z,X01bc		; 01A9  28 11		(.
X01ab:	push	af		; 01AB  F5		u
	xor	a		; 01AC  AF		/
	ld	(X4099),a	; 01AD  32 99 40	2.@
	inc	a		; 01B0  3C		<
	call	X2857		; 01B1  CD 57 28	MW(
	pop	af		; 01B4  F1		q
	ld	hl,(X40d4)	; 01B5  2A D4 40	*T@
	ld	(hl),a		; 01B8  77		w
	jp	X2884		; 01B9  C3 84 28	C.(
;
X01bc:	ld	hl,X1928	; 01BC  21 28 19	!(.
	ld	(X4121),hl	; 01BF  22 21 41	"!A
	ld	a,3		; 01C2  3E 03		>.
	ld	(X40af),a	; 01C4  32 AF 40	2/@
	pop	hl		; 01C7  E1		a
	ret			; 01C8  C9		I
;
X01c9:	ld	a,1ch		; 01C9  3E 1C		>.
	call	X033a		; 01CB  CD 3A 03	M:.
	ld	a,1fh		; 01CE  3E 1F		>.
	jp	X033a		; 01D0  C3 3A 03	C:.
;
	ld	a,r		; 01D3  ED 5F		m_
	ld	(X40ab),a	; 01D5  32 AB 40	2+@
	ret			; 01D8  C9		I
;
X01d9:	rst	10h		; 01D9  D7		W
	call	X1bc0		; 01DA  CD C0 1B	M@.
	rst	10h		; 01DD  D7		W
	call	X2337		; 01DE  CD 37 23	M7#
	rst	20h		; 01E1  E7		g
	jp	z,X1997		; 01E2  CA 97 19	J..
	call	X0204		; 01E5  CD 04 02	M..
	ld	a,99h		; 01E8  3E 99		>.
	ld	(X1e63),a	; 01EA  32 63 1E	2c.
	call	X1e5b		; 01ED  CD 5B 1E	M[.
	ld	a,98h		; 01F0  3E 98		>.
	ld	(X1e63),a	; 01F2  32 63 1E	2c.
	ld	hl,X412f	; 01F5  21 2F 41	!/A
X01f8:	rst	10h		; 01F8  D7		W
	cp	2dh		; 01F9  FE 2D		~-
	jr	nz,X0203	; 01FB  20 06		 .
	ld	hl,X0000	; 01FD  21 00 00	!..
	sbc	hl,de		; 0200  ED 52		mR
	ex	de,hl		; 0202  EB		k
X0203:	ret			; 0203  C9		I
;
X0204:	ld	(X0213),hl	; 0204  22 13 02	"..
	call	X0fbd		; 0207  CD BD 0F	M=.
	push	hl		; 020A  E5		e
	ld	hl,(X0213)	; 020B  2A 13 02	*..
	ld	(X40f3),hl	; 020E  22 F3 40	"s@
	pop	hl		; 0211  E1		a
	ret			; 0212  C9		I
;
X0213:	nop			; 0213  00		.
;
	ORG	215h
;
	ld	h,0		; 0215  26 00		&.
;
	defb	'))))|'					; 0217
;
	call	X0224		; 021C  CD 24 02	M$.
	ld	a,l		; 021F  7D		}
	rra			; 0220  1F		.
	rra			; 0221  1F		.
	rra			; 0222  1F		.
	rra			; 0223  1F		.
X0224:	cp	0ah		; 0224  FE 0A		~.
	jr	c,X022a		; 0226  38 02		8.
	add	a,7		; 0228  C6 07		F.
X022a:	add	a,30h		; 022A  C6 30		F0
	ex	de,hl		; 022C  EB		k
	ld	(hl),a		; 022D  77		w
	inc	hl		; 022E  23		#
	ex	de,hl		; 022F  EB		k
	ret			; 0230  C9		I
;
	pop	bc		; 0231  C1		A
	call	X0a9a		; 0232  CD 9A 0A	M..
	ex	de,hl		; 0235  EB		k
	ld	hl,(X40f3)	; 0236  2A F3 40	*s@
	ret			; 0239  C9		I
;
	rst	10h		; 023A  D7		W
	cp	28h		; 023B  FE 28		~(
	jr	z,X027e		; 023D  28 3F		(?
	ld	a,0fh		; 023F  3E 0F		>.
	ex	af,af'		; 0241  08		.
X0242:	ld	b,5		; 0242  06 05		..
	ld	de,X0000	; 0244  11 00 00	...
	dec	hl		; 0247  2B		+
X0248:	rst	10h		; 0248  D7		W
	cp	22h		; 0249  FE 22		~"
	jr	z,X0248		; 024B  28 FB		({
	cp	67h		; 024D  FE 67		~g
	jr	nc,X0257	; 024F  30 06		0.
	cp	61h		; 0251  FE 61		~a
	jr	c,X0257		; 0253  38 02		8.
	sub	20h		; 0255  D6 20		V
X0257:	call	X1e3e		; 0257  CD 3E 1E	M>.
	ex	de,hl		; 025A  EB		k
	jr	nc,X0267	; 025B  30 0A		0.
	cp	rst7sp3		; 025D  FE 3A		~:
	jr	nc,X029f	; 025F  30 3E		0>
	sub	30h		; 0261  D6 30		V0
	jr	c,X029f		; 0263  38 3A		8:
	jr	X026d		; 0265  18 06		..
;
X0267:	cp	47h		; 0267  FE 47		~G
	jr	nc,X029f	; 0269  30 34		04
	sub	37h		; 026B  D6 37		V7
X026d:	add	hl,hl		; 026D  29		)
	add	hl,hl		; 026E  29		)
	add	hl,hl		; 026F  29		)
	add	hl,hl		; 0270  29		)
	or	l		; 0271  B5		5
	ld	l,a		; 0272  6F		o
	dec	b		; 0273  05		.
	jr	z,X0287		; 0274  28 11		(.
	ex	af,af'		; 0276  08		.
	dec	a		; 0277  3D		=
	jr	z,X029f		; 0278  28 25		(%
	ex	af,af'		; 027A  08		.
	ex	de,hl		; 027B  EB		k
	jr	X0248		; 027C  18 CA		.J
;
X027e:	call	X2338		; 027E  CD 38 23	M8#
	rst	8		; 0281  CF		O
	add	hl,hl		; 0282  29		)
	call	X388b		; 0283  CD 8B 38	M.8
	xor	d		; 0286  AA		*
X0287:	jp	z,X1997		; 0287  CA 97 19	J..
	call	X09c4		; 028A  CD C4 09	MD.
	ld	hl,X0000	; 028D  21 00 00	!..
	ld	a,d		; 0290  7A		z
	or	a		; 0291  B7		7
	jr	z,X029f		; 0292  28 0B		(.
	ld	h,b		; 0294  60		`
	ld	l,c		; 0295  69		i
	cp	5		; 0296  FE 05		~.
	jr	c,X029c		; 0298  38 02		8.
	ld	a,4		; 029A  3E 04		>.
X029c:	ex	af,af'		; 029C  08		.
	jr	X0242		; 029D  18 A3		.#
;
X029f:	call	X0a9a		; 029F  CD 9A 0A	M..
	ex	de,hl		; 02A2  EB		k
	ret			; 02A3  C9		I
;
	ORG	2ach
;
	call	X65cd		; 02AC  CD CD 65	MMe
	call	X2338		; 02AF  CD 38 23	M8#
	rst	8		; 02B2  CF		O
	inc	l		; 02B3  2C		,
	push	hl		; 02B4  E5		e
	call	X29da		; 02B5  CD DA 29	MZ)
	xor	a		; 02B8  AF		/
	or	h		; 02B9  B4		4
	jp	z,X1997		; 02BA  CA 97 19	J..
	call	X09c4		; 02BD  CD C4 09	MD.
	xor	a		; 02C0  AF		/
	or	d		; 02C1  B2		2
	jp	z,X1e4a		; 02C2  CA 4A 1E	JJ.
	ld	a,(bc)		; 02C5  0A		.
	ld	(X02f1),a	; 02C6  32 F1 02	2q.
	pop	hl		; 02C9  E1		a
	dec	hl		; 02CA  2B		+
	call	X2338		; 02CB  CD 38 23	M8#
	push	hl		; 02CE  E5		e
	call	X29da		; 02CF  CD DA 29	MZ)
	xor	a		; 02D2  AF		/
	or	h		; 02D3  B4		4
	jp	z,X1997		; 02D4  CA 97 19	J..
	call	X09c4		; 02D7  CD C4 09	MD.
	xor	a		; 02DA  AF		/
	or	d		; 02DB  B2		2
	jp	z,X1e4a		; 02DC  CA 4A 1E	JJ.
	ld	a,(bc)		; 02DF  0A		.
	ld	hl,X02f1	; 02E0  21 F1 02	!q.
	cp	(hl)		; 02E3  BE		>
	jr	nc,X02e9	; 02E4  30 03		0.
	ld	b,a		; 02E6  47		G
	ld	a,(hl)		; 02E7  7E		~
	ld	(hl),b		; 02E8  70		p
X02e9:	inc	a		; 02E9  3C		<
	ld	(X02f5),a	; 02EA  32 F5 02	2u.
X02ed:	call	X37c6		; 02ED  CD C6 37	MF7
	cp	0		; 02F0  FE 00		~.
	jr	c,X02ed		; 02F2  38 F9		8y
	cp	0		; 02F4  FE 00		~.
	jr	nc,X02ed	; 02F6  30 F5		0u
	pop	hl		; 02F8  E1		a
	ex	(sp),hl		; 02F9  E3		c
	jp	X01ab		; 02FA  C3 AB 01	C+.
;
	call	X65cd		; 02FD  CD CD 65	MMe
X0300:	rst	10h		; 0300  D7		W
	ex	(sp),hl		; 0301  E3		c
	nop			; 0302  00		.
	call	X37c6		; 0303  CD C6 37	MF7
	jp	X01ab		; 0306  C3 AB 01	C+.
;
	ORG	30bh
;
X030b:	call	X20fe		; 030B  CD FE 20	M~
	ld	a,2ah		; 030E  3E 2A		>*
	call	X032a		; 0310  CD 2A 03	M*.
	ld	a,fsekbuf	; 0313  3E 3F		>?
	call	X032a		; 0315  CD 2A 03	M*.
	xor	a		; 0318  AF		/
	ld	(X4099),a	; 0319  32 99 40	2.@
	ld	(X40a6),a	; 031C  32 A6 40	2&@
	call	X5247		; 031F  CD 47 52	MGR
	jp	c,X06cc		; 0322  DA CC 06	ZL.
	call	X01d9		; 0325  CD D9 01	MY.
	push	de		; 0328  D5		U
	ret			; 0329  C9		I
;
X032a:	push	bc		; 032A  C5		E
	ld	c,a		; 032B  4F		O
	call	X41c1		; 032C  CD C1 41	MAA
	ld	a,(X409c)	; 032F  3A 9C 40	:.@
	or	a		; 0332  B7		7
	ld	a,c		; 0333  79		y
	pop	bc		; 0334  C1		A
	jp	m,X0264		; 0335  FA 64 02	zd.
	jr	nz,X039c	; 0338  20 62		 b
X033a:	push	de		; 033A  D5		U
	call	X0033		; 033B  CD 33 00	M3.
	push	af		; 033E  F5		u
	call	X0348		; 033F  CD 48 03	MH.
	ld	(X40a6),a	; 0342  32 A6 40	2&@
	pop	af		; 0345  F1		q
	pop	de		; 0346  D1		Q
	ret			; 0347  C9		I
;
X0348:	ld	a,(X403d)	; 0348  3A 3D 40	:=@
	and	8		; 034B  E6 08		f.
	push	hl		; 034D  E5		e
	ld	hl,(X4020)	; 034E  2A 20 40	* @
	jr	z,X0354		; 0351  28 01		(.
	add	hl,hl		; 0353  29		)
X0354:	jp	X00ff		; 0354  C3 FF 00	C..
;
	nop			; 0357  00		.
X0358:	call	X41c4		; 0358  CD C4 41	MDA
	push	de		; 035B  D5		U
	call	X002b		; 035C  CD 2B 00	M+.
	pop	de		; 035F  D1		Q
	ret			; 0360  C9		I
;
X0361:	xor	a		; 0361  AF		/
	ld	(X4099),a	; 0362  32 99 40	2.@
	ld	(X40a6),a	; 0365  32 A6 40	2&@
	call	X41af		; 0368  CD AF 41	M/A
	push	bc		; 036B  C5		E
	ld	hl,(X40a7)	; 036C  2A A7 40	*'@
	ld	b,0f0h		; 036F  06 F0		.p
	call	X05d9		; 0371  CD D9 05	MY.
	push	af		; 0374  F5		u
	ld	c,b		; 0375  48		H
	ld	b,0		; 0376  06 00		..
	add	hl,bc		; 0378  09		.
	ld	(hl),0		; 0379  36 00		6.
	ld	hl,(X40a7)	; 037B  2A A7 40	*'@
	pop	af		; 037E  F1		q
	pop	bc		; 037F  C1		A
	dec	hl		; 0380  2B		+
	ret	c		; 0381  D8		X
	xor	a		; 0382  AF		/
	ret			; 0383  C9		I
;
X0384:	call	X0358		; 0384  CD 58 03	MX.
	or	a		; 0387  B7		7
	ret	nz		; 0388  C0		@
	jr	X0384		; 0389  18 F9		.y
;
X038b:	xor	a		; 038B  AF		/
	ld	(X409c),a	; 038C  32 9C 40	2.@
	ld	a,(X409b)	; 038F  3A 9B 40	:.@
	or	a		; 0392  B7		7
	ret	z		; 0393  C8		H
	ld	a,0dh		; 0394  3E 0D		>.
	push	de		; 0396  D5		U
	call	X039c		; 0397  CD 9C 03	M..
	pop	de		; 039A  D1		Q
	ret			; 039B  C9		I
;
X039c:	push	af		; 039C  F5		u
	push	de		; 039D  D5		U
	push	bc		; 039E  C5		E
	ld	c,a		; 039F  4F		O
	ld	e,0		; 03A0  1E 00		..
	cp	0ch		; 03A2  FE 0C		~.
	jr	z,X03b6		; 03A4  28 10		(.
	nop			; 03A6  00		.
	nop			; 03A7  00		.
	nop			; 03A8  00		.
	nop			; 03A9  00		.
	nop			; 03AA  00		.
	nop			; 03AB  00		.
	nop			; 03AC  00		.
	cp	0dh		; 03AD  FE 0D		~.
	jr	z,X03b6		; 03AF  28 05		(.
	ld	a,(X409b)	; 03B1  3A 9B 40	:.@
	inc	a		; 03B4  3C		<
	ld	e,a		; 03B5  5F		_
X03b6:	ld	a,e		; 03B6  7B		{
	ld	(X409b),a	; 03B7  32 9B 40	2.@
	ld	a,c		; 03BA  79		y
	call	X003b		; 03BB  CD 3B 00	M;.
	pop	bc		; 03BE  C1		A
	pop	de		; 03BF  D1		Q
X03c0:	pop	af		; 03C0  F1		q
	ret			; 03C1  C9		I
;
X03c2:	push	hl		; 03C2  E5		e
	push	ix		; 03C3  DD E5		]e
	push	de		; 03C5  D5		U
	pop	ix		; 03C6  DD E1		]a
	push	de		; 03C8  D5		U
	ld	hl,X03dd	; 03C9  21 DD 03	!].
	push	hl		; 03CC  E5		e
	ld	c,a		; 03CD  4F		O
	ld	a,(de)		; 03CE  1A		.
	and	b		; 03CF  A0
	cp	b		; 03D0  B8		8
	jp	nz,X4033	; 03D1  C2 33 40	B3@
	cp	2		; 03D4  FE 02		~.
	ld	l,(ix+1)	; 03D6  DD 6E 01	]n.
	ld	h,(ix+2)	; 03D9  DD 66 02	]f.
	jp	(hl)		; 03DC  E9		i
;
X03dd:	pop	de		; 03DD  D1		Q
	pop	ix		; 03DE  DD E1		]a
	pop	hl		; 03E0  E1		a
	pop	bc		; 03E1  C1		A
	ret			; 03E2  C9		I
;
X03e3:	ld	a,(X3039)	; 03E3  3A 39 30	:90
	push	af		; 03E6  F5		u
	xor	a		; 03E7  AF		/
	ld	(X3039),a	; 03E8  32 39 30	290
	pop	af		; 03EB  F1		q
	or	a		; 03EC  B7		7
	ret	nz		; 03ED  C0		@
	jp	X386d		; 03EE  C3 6D 38	Cm8
;
	cp	7fh		; 03F1  FE 7F		~.
	ret	nz		; 03F3  C0		@
	ld	a,1fh		; 03F4  3E 1F		>.
	ret			; 03F6  C9		I
;
	call	X340b		; 03F7  CD 0B 34	M.4
	ld	hl,(X303e)	; 03FA  2A 3E 30	*>0
	rst	10h		; 03FD  D7		W
	ret			; 03FE  C9		I
;
	ld	a,0dh		; 03FF  3E 0D		>.
	call	X003b		; 0401  CD 3B 00	M;.
	ld	a,0ah		; 0404  3E 0A		>.
X0406:	call	X003b		; 0406  CD 3B 00	M;.
	exx			; 0409  D9		Y
	xor	a		; 040A  AF		/
	ret			; 040B  C9		I
;
	ORG	412h
;
X0412:	nop			; 0412  00		.
	xor	a		; 0413  AF		/
	ret			; 0414  C9		I
;
	out	(crtprntdat),a	; 0415  D3 81		S.
	ret			; 0417  C9		I
;
X0418:	call	X2b75		; 0418  CD 75 2B	Mu+
	call	X20fe		; 041B  CD FE 20	M~
X041e:	pop	bc		; 041E  C1		A
	jp	X2e7c		; 041F  C3 7C 2E	C|.
;
	exx			; 0422  D9		Y
	ld	a,rst7sp3	; 0423  3E 3A		>:
	call	X0033		; 0425  CD 33 00	M3.
	ld	hl,X326a	; 0428  21 6A 32	!j2
	ld	b,5		; 042B  06 05		..
	call	X05d9		; 042D  CD D9 05	MY.
	call	X1e4f		; 0430  CD 4F 1E	MO.
	pop	bc		; 0433  C1		A
	pop	hl		; 0434  E1		a
	push	de		; 0435  D5		U
	exx			; 0436  D9		Y
	call	X20fe		; 0437  CD FE 20	M~
	jp	X2e7c		; 043A  C3 7C 2E	C|.
;
X043d:	ld	hl,(X40a4)	; 043D  2A A4 40	*$@
	ret	z		; 0440  C8		H
	ex	de,hl		; 0441  EB		k
	call	X2337		; 0442  CD 37 23	M7#
	push	hl		; 0445  E5		e
	call	X0fbd		; 0446  CD BD 0F	M=.
	call	X1e4f		; 0449  CD 4F 1E	MO.
	call	X1b2c		; 044C  CD 2C 1B	M,.
	pop	de		; 044F  D1		Q
	ld	h,b		; 0450  60		`
	ld	l,c		; 0451  69		i
	ret			; 0452  C9		I
;
	nop			; 0453  00		.
	ld	bc,X0001	; 0454  01 01 00	...
	ret			; 0457  C9		I
;
	ld	l,(ix+3)	; 0458  DD 6E 03	]n.
	ld	h,(ix+4)	; 045B  DD 66 04	]f.
	ld	a,(ix+5)	; 045E  DD 7E 05	]~.
	jr	c,X0488		; 0461  38 25		8%
	or	a		; 0463  B7		7
	call	nz,X36e8	; 0464  C4 E8 36	Dh6
	ld	a,c		; 0467  79		y
	cp	20h		; 0468  FE 20		~
	jp	c,X0508		; 046A  DA 08 05	Z..
	call	X0546		; 046D  CD 46 05	MF.
X0470:	call	X048a		; 0470  CD 8A 04	M..
	ld	d,a		; 0473  57		W
	ld	a,(ix+5)	; 0474  DD 7E 05	]~.
	or	a		; 0477  B7		7
	jr	z,X0480		; 0478  28 06		(.
	call	X311f		; 047A  CD 1F 31	M.1
	ld	(ix+5),d	; 047D  DD 72 05	]r.
X0480:	ld	(ix+3),l	; 0480  DD 75 03	]u.
	ld	(ix+4),h	; 0483  DD 74 04	]t.
	ld	a,c		; 0486  79		y
	ret			; 0487  C9		I
;
X0488:	or	a		; 0488  B7		7
	ret	nz		; 0489  C0		@
X048a:	di			; 048A  F3		s
	push	hl		; 048B  E5		e
	call	X317a		; 048C  CD 7A 31	Mz1
	pop	hl		; 048F  E1		a
X0490:	in	a,(crt6545adst)	; 0490  DB 8C		[.
	bit	7,a		; 0492  CB 7F		K.
	jr	z,X0490		; 0494  28 FA		(z
	ex	(sp),hl		; 0496  E3		c
	ex	(sp),hl		; 0497  E3		c
	in	a,(crtram3port)	; 0498  DB 8E		[.
	bit	4,a		; 049A  CB 67		Kg
	in	a,(crtram0dat)	; 049C  DB 80		[.
	jr	nz,X04a2	; 049E  20 02		 .
	ld	a,20h		; 04A0  3E 20		>
X04a2:	push	af		; 04A2  F5		u
	xor	a		; 04A3  AF		/
	out	(crt6545data),a	; 04A4  D3 8D		S.
	pop	af		; 04A6  F1		q
	ei			; 04A7  FB		{
	ret			; 04A8  C9		I
;
X04a9:	push	bc		; 04A9  C5		E
	ld	bc,X0050	; 04AA  01 50 00	.P.
	call	X3bca		; 04AD  CD CA 3B	MJ;
	ld	l,0		; 04B0  2E 00		..
	ld	d,b		; 04B2  50		P
	ld	e,c		; 04B3  59		Y
	pop	bc		; 04B4  C1		A
X04b5:	ret	z		; 04B5  C8		H
	add	hl,de		; 04B6  19		.
	dec	a		; 04B7  3D		=
	jr	X04b5		; 04B8  18 FB		.{
;
X04ba:	ld	hl,X0000	; 04BA  21 00 00	!..
	ld	a,(X403d)	; 04BD  3A 3D 40	:=@
	and	0f7h		; 04C0  E6 F7		fw
	ld	(X403d),a	; 04C2  32 3D 40	2=@
	ret			; 04C5  C9		I
;
X04c6:	dec	hl		; 04C6  2B		+
	ld	a,(X403d)	; 04C7  3A 3D 40	:=@
	and	8		; 04CA  E6 08		f.
	jr	z,X04cf		; 04CC  28 01		(.
	dec	hl		; 04CE  2B		+
X04cf:	jp	X36e6		; 04CF  C3 E6 36	Cf6
;
X04d2:	ld	a,(X403d)	; 04D2  3A 3D 40	:=@
	and	8		; 04D5  E6 08		f.
	call	nz,X04da	; 04D7  C4 DA 04	DZ.
X04da:	call	X32f1		; 04DA  CD F1 32	Mq2
	dec	hl		; 04DD  2B		+
	ret	nz		; 04DE  C0		@
X04df:	ld	de,X0050	; 04DF  11 50 00	.P.
	add	hl,de		; 04E2  19		.
	ret			; 04E3  C9		I
;
X04e4:	call	X04df		; 04E4  CD DF 04	M_.
	push	de		; 04E7  D5		U
	call	X3710		; 04E8  CD 10 37	M.7
	pop	de		; 04EB  D1		Q
	ret	c		; 04EC  D8		X
	sbc	hl,de		; 04ED  ED 52		mR
	ret			; 04EF  C9		I
;
X04f0:	inc	hl		; 04F0  23		#
	call	X32f1		; 04F1  CD F1 32	Mq2
	ret	nz		; 04F4  C0		@
X04f5:	ld	de,Xffb0	; 04F5  11 B0 FF	.0.
	add	hl,de		; 04F8  19		.
	ret			; 04F9  C9		I
;
X04fa:	ld	a,(X403d)	; 04FA  3A 3D 40	:=@
	or	8		; 04FD  F6 08		v.
	ld	(X403d),a	; 04FF  32 3D 40	2=@
	inc	hl		; 0502  23		#
	ld	a,l		; 0503  7D		}
	and	0feh		; 0504  E6 FE		f~
	ld	l,a		; 0506  6F		o
	ret			; 0507  C9		I
;
X0508:	ld	de,X0470	; 0508  11 70 04	.p.
	push	de		; 050B  D5		U
	cp	8		; 050C  FE 08		~.
	jr	z,X04c6		; 050E  28 B6		(6
	cp	0ah		; 0510  FE 0A		~.
	ret	c		; 0512  D8		X
	cp	0eh		; 0513  FE 0E		~.
	jr	c,X055c		; 0515  38 45		8E
	jp	z,X311f		; 0517  CA 1F 31	J.1
	cp	0fh		; 051A  FE 0F		~.
	jp	z,X3130		; 051C  CA 30 31	J01
	cp	17h		; 051F  FE 17		~.
	jr	z,X04fa		; 0521  28 D7		(W
	cp	18h		; 0523  FE 18		~.
	jr	z,X04d2		; 0525  28 AB		(+
	cp	19h		; 0527  FE 19		~.
	jr	z,X04f0		; 0529  28 C5		(E
	cp	1ah		; 052B  FE 1A		~.
	jr	z,X04e4		; 052D  28 B5		(5
	cp	esc		; 052F  FE 1B		~.
	jp	z,X32f9		; 0531  CA F9 32	Jy2
	cp	1ch		; 0534  FE 1C		~.
	jr	z,X04ba		; 0536  28 82		(.
	cp	1dh		; 0538  FE 1D		~.
	jp	z,X04a9		; 053A  CA A9 04	J).
	cp	1eh		; 053D  FE 1E		~.
	jr	z,X056c		; 053F  28 2B		(+
	cp	1fh		; 0541  FE 1F		~.
	jr	z,X0576		; 0543  28 31		(1
	ret			; 0545  C9		I
;
X0546:	call	X36e8		; 0546  CD E8 36	Mh6
	inc	hl		; 0549  23		#
	ld	a,(X403d)	; 054A  3A 3D 40	:=@
	and	8		; 054D  E6 08		f.
	jr	z,X0552		; 054F  28 01		(.
	inc	hl		; 0551  23		#
X0552:	call	X3710		; 0552  CD 10 37	M.7
	ret	c		; 0555  D8		X
	call	X04f5		; 0556  CD F5 04	Mu.
	jp	X30f3		; 0559  C3 F3 30	Cs0
;
X055c:	call	X04a9		; 055C  CD A9 04	M).
	push	hl		; 055F  E5		e
	call	X04df		; 0560  CD DF 04	M_.
	call	X3710		; 0563  CD 10 37	M.7
	pop	de		; 0566  D1		Q
	ex	de,hl		; 0567  EB		k
	jp	nc,X30f3	; 0568  D2 F3 30	Rs0
	ex	de,hl		; 056B  EB		k
X056c:	push	hl		; 056C  E5		e
	call	X04a9		; 056D  CD A9 04	M).
	add	hl,de		; 0570  19		.
	ex	de,hl		; 0571  EB		k
	pop	hl		; 0572  E1		a
	push	hl		; 0573  E5		e
	jr	X057a		; 0574  18 04		..
;
X0576:	push	hl		; 0576  E5		e
	ld	de,X07d0	; 0577  11 D0 07	.P.
X057a:	di			; 057A  F3		s
	ex	de,hl		; 057B  EB		k
	sbc	hl,de		; 057C  ED 52		mR
	ex	de,hl		; 057E  EB		k
X057f:	push	de		; 057F  D5		U
	call	X317a		; 0580  CD 7A 31	Mz1
	pop	de		; 0583  D1		Q
X0584:	ld	a,d		; 0584  7A		z
	or	e		; 0585  B3		3
	jr	z,X0590		; 0586  28 08		(.
	ld	a,20h		; 0588  3E 20		>
	call	X36f7		; 058A  CD F7 36	Mw6
	dec	de		; 058D  1B		.
	jr	X0584		; 058E  18 F4		.t
;
X0590:	pop	hl		; 0590  E1		a
	ei			; 0591  FB		{
	ret			; 0592  C9		I
;
	ld	a,c		; 0593  79		y
	or	a		; 0594  B7		7
	ret	z		; 0595  C8		H
	cp	0bh		; 0596  FE 0B		~.
	jr	z,X05a4		; 0598  28 0A		(.
	cp	0ch		; 059A  FE 0C		~.
	jr	nz,X05b9	; 059C  20 1B		 .
	xor	a		; 059E  AF		/
	or	(ix+3)		; 059F  DD B6 03	]6.
	jr	z,X05b9		; 05A2  28 15		(.
X05a4:	ld	a,(ix+3)	; 05A4  DD 7E 03	]~.
	sub	(ix+4)		; 05A7  DD 96 04	]..
	ld	b,a		; 05AA  47		G
X05ab:	in	a,(crtservdat)	; 05AB  DB 89		[.
	bit	0,a		; 05AD  CB 47		KG
	jr	nz,X05ab	; 05AF  20 FA		 z
	ld	a,0ah		; 05B1  3E 0A		>.
	out	(crtprntdat),a	; 05B3  D3 81		S.
	djnz	X05ab		; 05B5  10 F4		.t
	jr	X05d4		; 05B7  18 1B		..
;
X05b9:	in	a,(crtservdat)	; 05B9  DB 89		[.
	bit	0,a		; 05BB  CB 47		KG
	jr	nz,X05b9	; 05BD  20 FA		 z
	ld	a,c		; 05BF  79		y
	out	(crtprntdat),a	; 05C0  D3 81		S.
	cp	0dh		; 05C2  FE 0D		~.
	jr	z,X05c9		; 05C4  28 03		(.
	cp	0ah		; 05C6  FE 0A		~.
	ret	nz		; 05C8  C0		@
X05c9:	inc	(ix+4)		; 05C9  DD 34 04	]4.
	ld	a,(ix+4)	; 05CC  DD 7E 04	]~.
	cp	(ix+3)		; 05CF  DD BE 03	]>.
	ld	a,c		; 05D2  79		y
	ret	nz		; 05D3  C0		@
X05d4:	ld	(ix+4),0	; 05D4  DD 36 04 00	]6..
	ret			; 05D8  C9		I
;
X05d9:	push	hl		; 05D9  E5		e
	ld	a,0eh		; 05DA  3E 0E		>.
	call	X0033		; 05DC  CD 33 00	M3.
	ld	c,b		; 05DF  48		H
X05e0:	call	X32bf		; 05E0  CD BF 32	M?2
	cp	20h		; 05E3  FE 20		~
	jr	nc,X060c	; 05E5  30 25		0%
	cp	0dh		; 05E7  FE 0D		~.
	jp	z,X0662		; 05E9  CA 62 06	Jb.
	cp	1fh		; 05EC  FE 1F		~.
	jr	z,X0619		; 05EE  28 29		()
	cp	1		; 05F0  FE 01		~.
	jr	z,X0661		; 05F2  28 6D		(m
	ld	de,X05e0	; 05F4  11 E0 05	.`.
	push	de		; 05F7  D5		U
	cp	8		; 05F8  FE 08		~.
	jr	z,X0630		; 05FA  28 34		(4
	cp	6		; 05FC  FE 06		~.
	jr	z,X062b		; 05FE  28 2B		(+
X0600:	cp	9		; 0600  FE 09		~.
	jr	z,X0646		; 0602  28 42		(B
	cp	0ah		; 0604  FE 0A		~.
	jr	z,X060b		; 0606  28 03		(.
	jp	X3320		; 0608  C3 20 33	C 3
;
X060b:	pop	de		; 060B  D1		Q
X060c:	ld	(hl),a		; 060C  77		w
	ld	a,b		; 060D  78		x
	or	a		; 060E  B7		7
	jr	z,X05e0		; 060F  28 CF		(O
	ld	a,(hl)		; 0611  7E		~
	inc	hl		; 0612  23		#
	call	X0033		; 0613  CD 33 00	M3.
	dec	b		; 0616  05		.
	jr	X05e0		; 0617  18 C7		.G
;
X0619:	call	X01c9		; 0619  CD C9 01	MI.
	ld	b,c		; 061C  41		A
	pop	hl		; 061D  E1		a
X061e:	push	hl		; 061E  E5		e
	jp	X05e0		; 061F  C3 E0 05	C`.
;
X0622:	call	X0630		; 0622  CD 30 06	M0.
	dec	hl		; 0625  2B		+
	ld	a,(hl)		; 0626  7E		~
	inc	hl		; 0627  23		#
	cp	0ah		; 0628  FE 0A		~.
	ret	z		; 062A  C8		H
X062b:	ld	a,b		; 062B  78		x
	cp	c		; 062C  B9		9
	jr	nz,X0622	; 062D  20 F3		 s
	ret			; 062F  C9		I
;
X0630:	ld	a,b		; 0630  78		x
	cp	c		; 0631  B9		9
	ret	z		; 0632  C8		H
	dec	hl		; 0633  2B		+
	ld	a,(hl)		; 0634  7E		~
	cp	0ah		; 0635  FE 0A		~.
	inc	hl		; 0637  23		#
	ret	z		; 0638  C8		H
	dec	hl		; 0639  2B		+
	ld	a,8		; 063A  3E 08		>.
	call	X0033		; 063C  CD 33 00	M3.
	inc	b		; 063F  04		.
	ret			; 0640  C9		I
;
	ld	a,17h		; 0641  3E 17		>.
	jp	X0033		; 0643  C3 33 00	C3.
;
X0646:	call	X0348		; 0646  CD 48 03	MH.
	and	7		; 0649  E6 07		f.
	cpl			; 064B  2F		/
	inc	a		; 064C  3C		<
	add	a,8		; 064D  C6 08		F.
	ld	e,a		; 064F  5F		_
X0650:	ld	a,b		; 0650  78		x
	or	a		; 0651  B7		7
	ret	z		; 0652  C8		H
	ld	a,20h		; 0653  3E 20		>
	ld	(hl),a		; 0655  77		w
	inc	hl		; 0656  23		#
	push	de		; 0657  D5		U
	call	X0033		; 0658  CD 33 00	M3.
	pop	de		; 065B  D1		Q
	dec	b		; 065C  05		.
	dec	e		; 065D  1D		.
	ret	z		; 065E  C8		H
	jr	X0650		; 065F  18 EF		.o
;
X0661:	scf			; 0661  37		7
X0662:	push	af		; 0662  F5		u
	ld	a,0dh		; 0663  3E 0D		>.
	ld	(hl),a		; 0665  77		w
	call	X0033		; 0666  CD 33 00	M3.
	ld	a,0fh		; 0669  3E 0F		>.
	call	X0033		; 066B  CD 33 00	M3.
	ld	a,c		; 066E  79		y
	sub	b		; 066F  90		.
	ld	b,a		; 0670  47		G
	pop	af		; 0671  F1		q
	pop	hl		; 0672  E1		a
	jp	X3846		; 0673  C3 46 38	CF8
;
X0676:	ld	hl,X06d2	; 0676  21 D2 06	!R.
	ld	de,X4000	; 0679  11 00 40	..@
	ld	bc,X0036	; 067C  01 36 00	.6.
	ldir			; 067F  ED B0		m0
	nop			; 0681  00		.
	nop			; 0682  00		.
	nop			; 0683  00		.
	xor	a		; 0684  AF		/
	ld	b,27h		; 0685  06 27		.'
X0687:	ld	(de),a		; 0687  12		.
	inc	de		; 0688  13		.
	djnz	X0687		; 0689  10 FC		.|
	jp	X0072		; 068B  C3 72 00	Cr.
;
	ld	bc,X802a	; 068E  01 2A 80	.*.
	ld	de,X0000	; 0691  11 00 00	...
	call	X09b4		; 0694  CD B4 09	M4.
;
	defb	':;0'					; 0697
;
	bit	1,a		; 069A  CB 4F		KO
	jr	z,X06a4		; 069C  28 06		(.
	call	X09bf		; 069E  CD BF 09	M?.
	call	X0716		; 06A1  CD 16 07	M..
X06a4:	call	X0da1		; 06A4  CD A1 0D	M!.
	jp	X0a7f		; 06A7  C3 7F 0A	C..
;
	ORG	6ach
;
	push	hl		; 06AC  E5		e
	ld	hl,X409f	; 06AD  21 9F 40	!.@
	add	a,(hl)		; 06B0  86		.
	pop	hl		; 06B1  E1		a
;
	defb	'w#:=@'					; 06B2
;
	ret			; 06B7  C9		I
;
	defb	0					; 06B8 .
;
	ORG	6beh
;
	jp	nc,X1e4a	; 06BE  D2 4A 1E	RJ.
	add	a,25h		; 06C1  C6 25		F%
	cp	25h		; 06C3  FE 25		~%
	jr	z,X06c9		; 06C5  28 02		(.
	sub	xonc		; 06C7  D6 11		V.
X06c9:	ret			; 06C9  C9		I
;
	ORG	6cch
;
X06cc:	ld	bc,X1a18	; 06CC  01 18 1A	...
	jp	X19ae		; 06CF  C3 AE 19	C..
;
X06d2:	jp	X1c96		; 06D2  C3 96 1C	C..
;
	jp	X1d78		; 06D5  C3 78 1D	Cx.
;
	jp	X1c90		; 06D8  C3 90 1C	C..
;
	jp	X25d9		; 06DB  C3 D9 25	CY%
;
	ret			; 06DE  C9		I
;
	ORG	6e1h
;
	ret			; 06E1  C9		I
;
	ORG	6e4h
;
	ei			; 06E4  FB		{
	ret			; 06E5  C9		I
;
	nop			; 06E6  00		.
	ld	bc,X03e3	; 06E7  01 E3 03	.c.
	nop			; 06EA  00		.
	nop			; 06EB  00		.
	nop			; 06EC  00		.
	ld	c,e		; 06ED  4B		K
	ld	c,c		; 06EE  49		I
	rlca			; 06EF  07		.
	ld	e,b		; 06F0  58		X
	inc	b		; 06F1  04		.
	nop			; 06F2  00		.
	call	pe,X4400	; 06F3  EC 00 44	l.D
	ld	c,a		; 06F6  4F		O
	ld	b,93h		; 06F7  06 93		..
	dec	b		; 06F9  05		.
	ld	b,e		; 06FA  43		C
	nop			; 06FB  00		.
	nop			; 06FC  00		.
	ld	d,b		; 06FD  50		P
	ld	d,d		; 06FE  52		R
	jp	X5000		; 06FF  C3 00 50	C.P
;
	rst	0		; 0702  C7		G
	nop			; 0703  00		.
	nop			; 0704  00		.
	ld	a,0		; 0705  3E 00		>.
	ret			; 0707  C9		I
;
X0708:	ld	hl,X1380	; 0708  21 80 13	!..
X070b:	call	X09c2		; 070B  CD C2 09	MB.
	jr	X0716		; 070E  18 06		..
;
X0710:	call	X09c2		; 0710  CD C2 09	MB.
X0713:	call	X0982		; 0713  CD 82 09	M..
X0716:	ld	a,b		; 0716  78		x
	or	a		; 0717  B7		7
	ret	z		; 0718  C8		H
	ld	a,(X4124)	; 0719  3A 24 41	:$A
	or	a		; 071C  B7		7
	jp	z,X09b4		; 071D  CA B4 09	J4.
	sub	b		; 0720  90		.
	jr	nc,X072f	; 0721  30 0C		0.
	cpl			; 0723  2F		/
	inc	a		; 0724  3C		<
	ex	de,hl		; 0725  EB		k
	call	X09a4		; 0726  CD A4 09	M$.
	ex	de,hl		; 0729  EB		k
	call	X09b4		; 072A  CD B4 09	M4.
	pop	bc		; 072D  C1		A
	pop	de		; 072E  D1		Q
X072f:	cp	19h		; 072F  FE 19		~.
	ret	nc		; 0731  D0		P
	push	af		; 0732  F5		u
	call	X09df		; 0733  CD DF 09	M_.
	ld	h,a		; 0736  67		g
	pop	af		; 0737  F1		q
	call	X07d7		; 0738  CD D7 07	MW.
	or	h		; 073B  B4		4
	ld	hl,X4121	; 073C  21 21 41	!!A
	jp	p,X0754		; 073F  F2 54 07	rT.
	call	X07b7		; 0742  CD B7 07	M7.
	jp	nc,X0796	; 0745  D2 96 07	R..
	inc	hl		; 0748  23		#
	inc	(hl)		; 0749  34		4
	jp	z,X07b2		; 074A  CA B2 07	J2.
	ld	l,1		; 074D  2E 01		..
	call	X07eb		; 074F  CD EB 07	Mk.
	jr	X0796		; 0752  18 42		.B
;
X0754:	xor	a		; 0754  AF		/
	sub	b		; 0755  90		.
	ld	b,a		; 0756  47		G
	ld	a,(hl)		; 0757  7E		~
	sbc	a,e		; 0758  9B		.
	ld	e,a		; 0759  5F		_
	inc	hl		; 075A  23		#
	ld	a,(hl)		; 075B  7E		~
	sbc	a,d		; 075C  9A		.
	ld	d,a		; 075D  57		W
	inc	hl		; 075E  23		#
	ld	a,(hl)		; 075F  7E		~
	sbc	a,c		; 0760  99		.
	ld	c,a		; 0761  4F		O
X0762:	call	c,X07c3		; 0762  DC C3 07	\C.
X0765:	ld	l,b		; 0765  68		h
	ld	h,e		; 0766  63		c
	xor	a		; 0767  AF		/
X0768:	ld	b,a		; 0768  47		G
	ld	a,c		; 0769  79		y
	or	a		; 076A  B7		7
	jr	nz,X0785	; 076B  20 18		 .
	ld	c,d		; 076D  4A		J
	ld	d,h		; 076E  54		T
	ld	h,l		; 076F  65		e
	ld	l,a		; 0770  6F		o
	ld	a,b		; 0771  78		x
	sub	8		; 0772  D6 08		V.
	cp	0e0h		; 0774  FE E0		~`
	jr	nz,X0768	; 0776  20 F0		 p
X0778:	xor	a		; 0778  AF		/
X0779:	ld	(X4124),a	; 0779  32 24 41	2$A
	ret			; 077C  C9		I
;
X077d:	dec	b		; 077D  05		.
	add	hl,hl		; 077E  29		)
X077f:	ld	a,d		; 077F  7A		z
X0780:	rla			; 0780  17		.
	ld	d,a		; 0781  57		W
	ld	a,c		; 0782  79		y
	adc	a,a		; 0783  8F		.
	ld	c,a		; 0784  4F		O
X0785:	jp	p,X077d		; 0785  F2 7D 07	r}.
	ld	a,b		; 0788  78		x
	ld	e,h		; 0789  5C		\
	ld	b,l		; 078A  45		E
X078b:	or	a		; 078B  B7		7
	jr	z,X0796		; 078C  28 08		(.
	ld	hl,X4124	; 078E  21 24 41	!$A
	add	a,(hl)		; 0791  86		.
	ld	(hl),a		; 0792  77		w
	jr	nc,X0778	; 0793  30 E3		0c
	ret	z		; 0795  C8		H
X0796:	ld	a,b		; 0796  78		x
X0797:	ld	hl,X4124	; 0797  21 24 41	!$A
	or	a		; 079A  B7		7
	call	m,X07a8		; 079B  FC A8 07	|(.
	ld	b,(hl)		; 079E  46		F
	inc	hl		; 079F  23		#
	ld	a,(hl)		; 07A0  7E		~
	and	crtram0dat	; 07A1  E6 80		f.
	xor	c		; 07A3  A9		)
	ld	c,a		; 07A4  4F		O
	jp	X09b4		; 07A5  C3 B4 09	C4.
;
X07a8:	inc	e		; 07A8  1C		.
	ret	nz		; 07A9  C0		@
	inc	d		; 07AA  14		.
	ret	nz		; 07AB  C0		@
	inc	c		; 07AC  0C		.
	ret	nz		; 07AD  C0		@
	ld	c,crtram0dat	; 07AE  0E 80		..
	inc	(hl)		; 07B0  34		4
	ret	nz		; 07B1  C0		@
X07b2:	ld	e,0ah		; 07B2  1E 0A		..
	jp	X19a2		; 07B4  C3 A2 19	C".
;
X07b7:	ld	a,(hl)		; 07B7  7E		~
	add	a,e		; 07B8  83		.
	ld	e,a		; 07B9  5F		_
	inc	hl		; 07BA  23		#
	ld	a,(hl)		; 07BB  7E		~
	adc	a,d		; 07BC  8A		.
	ld	d,a		; 07BD  57		W
	inc	hl		; 07BE  23		#
	ld	a,(hl)		; 07BF  7E		~
	adc	a,c		; 07C0  89		.
	ld	c,a		; 07C1  4F		O
	ret			; 07C2  C9		I
;
X07c3:	ld	hl,X4125	; 07C3  21 25 41	!%A
	ld	a,(hl)		; 07C6  7E		~
	cpl			; 07C7  2F		/
	ld	(hl),a		; 07C8  77		w
	xor	a		; 07C9  AF		/
	ld	l,a		; 07CA  6F		o
	sub	b		; 07CB  90		.
	ld	b,a		; 07CC  47		G
	ld	a,l		; 07CD  7D		}
	sbc	a,e		; 07CE  9B		.
	ld	e,a		; 07CF  5F		_
X07d0:	ld	a,l		; 07D0  7D		}
	sbc	a,d		; 07D1  9A		.
	ld	d,a		; 07D2  57		W
	ld	a,l		; 07D3  7D		}
	sbc	a,c		; 07D4  99		.
	ld	c,a		; 07D5  4F		O
	ret			; 07D6  C9		I
;
X07d7:	ld	b,0		; 07D7  06 00		..
X07d9:	sub	8		; 07D9  D6 08		V.
	jr	c,X07e4		; 07DB  38 07		8.
	ld	b,e		; 07DD  43		C
	ld	e,d		; 07DE  5A		Z
	ld	d,c		; 07DF  51		Q
	ld	c,0		; 07E0  0E 00		..
	jr	X07d9		; 07E2  18 F5		.u
;
X07e4:	add	a,9		; 07E4  C6 09		F.
	ld	l,a		; 07E6  6F		o
X07e7:	xor	a		; 07E7  AF		/
	dec	l		; 07E8  2D		-
	ret	z		; 07E9  C8		H
	ld	a,c		; 07EA  79		y
X07eb:	rra			; 07EB  1F		.
	ld	c,a		; 07EC  4F		O
	ld	a,d		; 07ED  7A		z
	rra			; 07EE  1F		.
	ld	d,a		; 07EF  57		W
	ld	a,e		; 07F0  7B		{
	rra			; 07F1  1F		.
	ld	e,a		; 07F2  5F		_
	ld	a,b		; 07F3  78		x
	rra			; 07F4  1F		.
	ld	b,a		; 07F5  47		G
	jr	X07e7		; 07F6  18 EF		.o
;
X07f8:	nop			; 07F8  00		.
;
	ORG	7fbh
;
	add	a,c		; 07FB  81		.
X07fc:	inc	bc		; 07FC  03		.
	xor	d		; 07FD  AA		*
	ld	d,(hl)		; 07FE  56		V
	add	hl,de		; 07FF  19		.
X0800:	add	a,b		; 0800  80		.
	pop	af		; 0801  F1		q
	ld	(X8076),hl	; 0802  22 76 80	"v.
	ld	b,l		; 0805  45		E
	xor	d		; 0806  AA		*
	jr	c,X078b		; 0807  38 82		8.
X0809:	call	X0955		; 0809  CD 55 09	MU.
	or	a		; 080C  B7		7
	jp	pe,X1e4a	; 080D  EA 4A 1E	jJ.
	ld	hl,X4124	; 0810  21 24 41	!$A
	ld	a,(hl)		; 0813  7E		~
	ld	bc,X8035	; 0814  01 35 80	.5.
	ld	de,X04f3	; 0817  11 F3 04	.s.
	sub	b		; 081A  90		.
	push	af		; 081B  F5		u
	ld	(hl),b		; 081C  70		p
	push	de		; 081D  D5		U
X081e:	push	bc		; 081E  C5		E
	call	X0716		; 081F  CD 16 07	M..
	pop	bc		; 0822  C1		A
	pop	de		; 0823  D1		Q
	inc	b		; 0824  04		.
	call	X08a2		; 0825  CD A2 08	M".
	ld	hl,X07f8	; 0828  21 F8 07	!x.
	call	X0710		; 082B  CD 10 07	M..
	ld	hl,X07fc	; 082E  21 FC 07	!|.
	call	X149a		; 0831  CD 9A 14	M..
	ld	bc,X8080	; 0834  01 80 80	...
	ld	de,X0000	; 0837  11 00 00	...
	call	X0716		; 083A  CD 16 07	M..
	pop	af		; 083D  F1		q
	call	X0f89		; 083E  CD 89 0F	M..
X0841:	ld	bc,X8031	; 0841  01 31 80	.1.
	ld	de,X7218	; 0844  11 18 72	..r
X0847:	call	X0955		; 0847  CD 55 09	MU.
	ret	z		; 084A  C8		H
	ld	l,0		; 084B  2E 00		..
	call	X0914		; 084D  CD 14 09	M..
	ld	a,c		; 0850  79		y
	ld	(X414f),a	; 0851  32 4F 41	2OA
	ex	de,hl		; 0854  EB		k
	ld	(X4150),hl	; 0855  22 50 41	"PA
	ld	bc,X0000	; 0858  01 00 00	...
	ld	d,b		; 085B  50		P
	ld	e,b		; 085C  58		X
	ld	hl,X0765	; 085D  21 65 07	!e.
	push	hl		; 0860  E5		e
	ld	hl,X0869	; 0861  21 69 08	!i.
	push	hl		; 0864  E5		e
	push	hl		; 0865  E5		e
	ld	hl,X4121	; 0866  21 21 41	!!A
X0869:	ld	a,(hl)		; 0869  7E		~
	inc	hl		; 086A  23		#
	or	a		; 086B  B7		7
	jr	z,X0892		; 086C  28 24		($
	push	hl		; 086E  E5		e
	ld	l,8		; 086F  2E 08		..
X0871:	rra			; 0871  1F		.
	ld	h,a		; 0872  67		g
	ld	a,c		; 0873  79		y
	jr	nc,X0881	; 0874  30 0B		0.
	push	hl		; 0876  E5		e
	ld	hl,(X4150)	; 0877  2A 50 41	*PA
	add	hl,de		; 087A  19		.
	ex	de,hl		; 087B  EB		k
	pop	hl		; 087C  E1		a
	ld	a,(X414f)	; 087D  3A 4F 41	:OA
	adc	a,c		; 0880  89		.
X0881:	rra			; 0881  1F		.
	ld	c,a		; 0882  4F		O
	ld	a,d		; 0883  7A		z
	rra			; 0884  1F		.
	ld	d,a		; 0885  57		W
	ld	a,e		; 0886  7B		{
	rra			; 0887  1F		.
	ld	e,a		; 0888  5F		_
	ld	a,b		; 0889  78		x
	rra			; 088A  1F		.
	ld	b,a		; 088B  47		G
	dec	l		; 088C  2D		-
	ld	a,h		; 088D  7C		|
	jr	nz,X0871	; 088E  20 E1		 a
X0890:	pop	hl		; 0890  E1		a
	ret			; 0891  C9		I
;
X0892:	ld	b,e		; 0892  43		C
	ld	e,d		; 0893  5A		Z
	ld	d,c		; 0894  51		Q
	ld	c,a		; 0895  4F		O
	ret			; 0896  C9		I
;
X0897:	call	X09a4		; 0897  CD A4 09	M$.
	ld	hl,X0dd8	; 089A  21 D8 0D	!X.
	call	X09b1		; 089D  CD B1 09	M1.
X08a0:	pop	bc		; 08A0  C1		A
	pop	de		; 08A1  D1		Q
X08a2:	call	X0955		; 08A2  CD 55 09	MU.
	jp	z,X199a		; 08A5  CA 9A 19	J..
	ld	l,0ffh		; 08A8  2E FF		..
	call	X0914		; 08AA  CD 14 09	M..
	inc	(hl)		; 08AD  34		4
	inc	(hl)		; 08AE  34		4
	dec	hl		; 08AF  2B		+
	ld	a,(hl)		; 08B0  7E		~
	ld	(X4089),a	; 08B1  32 89 40	2.@
	dec	hl		; 08B4  2B		+
	ld	a,(hl)		; 08B5  7E		~
	ld	(X4085),a	; 08B6  32 85 40	2.@
	dec	hl		; 08B9  2B		+
	ld	a,(hl)		; 08BA  7E		~
	ld	(X4081),a	; 08BB  32 81 40	2.@
	ld	b,c		; 08BE  41		A
	ex	de,hl		; 08BF  EB		k
	xor	a		; 08C0  AF		/
	ld	c,a		; 08C1  4F		O
	ld	d,a		; 08C2  57		W
	ld	e,a		; 08C3  5F		_
	ld	(X408c),a	; 08C4  32 8C 40	2.@
X08c7:	push	hl		; 08C7  E5		e
	push	bc		; 08C8  C5		E
	ld	a,l		; 08C9  7D		}
	call	X4080		; 08CA  CD 80 40	M.@
	sbc	a,0		; 08CD  DE 00		^.
	ccf			; 08CF  3F		?
; 	jr	nc,X08d9	; 08D0  30 07		0.
	defb	$30,$07
	ld	(X408c),a	; 08D2  32 8C 40	2.@
	pop	af		; 08D5  F1		q
	pop	af		; 08D6  F1		q
	scf			; 08D7  37		7
; 	jp	nc,Xe1c1	; 08D8  D2 C1 E1	RAa
	defb	$2,$c1,$e1
	ld	a,c		; 08DB  79		y
	inc	a		; 08DC  3C		<
	dec	a		; 08DD  3D		=
	rra			; 08DE  1F		.
	jp	m,X0797		; 08DF  FA 97 07	z..
	rla			; 08E2  17		.
	ld	a,e		; 08E3  7B		{
	rla			; 08E4  17		.
	ld	e,a		; 08E5  5F		_
	ld	a,d		; 08E6  7A		z
	rla			; 08E7  17		.
	ld	d,a		; 08E8  57		W
	ld	a,c		; 08E9  79		y
	rla			; 08EA  17		.
	ld	c,a		; 08EB  4F		O
	add	hl,hl		; 08EC  29		)
	ld	a,b		; 08ED  78		x
	rla			; 08EE  17		.
	ld	b,a		; 08EF  47		G
	ld	a,(X408c)	; 08F0  3A 8C 40	:.@
	rla			; 08F3  17		.
	ld	(X408c),a	; 08F4  32 8C 40	2.@
	ld	a,c		; 08F7  79		y
	or	d		; 08F8  B2		2
	or	e		; 08F9  B3		3
	jr	nz,X08c7	; 08FA  20 CB		 K
	push	hl		; 08FC  E5		e
	ld	hl,X4124	; 08FD  21 24 41	!$A
	dec	(hl)		; 0900  35		5
	pop	hl		; 0901  E1		a
	jr	nz,X08c7	; 0902  20 C3		 C
	jp	X07b2		; 0904  C3 B2 07	C2.
;
X0907:	ld	a,0ffh		; 0907  3E FF		>.
	ld	l,0afh		; 0909  2E AF		./
	ld	hl,X412d	; 090B  21 2D 41	!-A
	ld	c,(hl)		; 090E  4E		N
	inc	hl		; 090F  23		#
	xor	(hl)		; 0910  AE		.
	ld	b,a		; 0911  47		G
	ld	l,0		; 0912  2E 00		..
X0914:	ld	a,b		; 0914  78		x
	or	a		; 0915  B7		7
	jr	z,X0937		; 0916  28 1F		(.
	ld	a,l		; 0918  7D		}
	ld	hl,X4124	; 0919  21 24 41	!$A
	xor	(hl)		; 091C  AE		.
	add	a,b		; 091D  80		.
	ld	b,a		; 091E  47		G
	rra			; 091F  1F		.
	xor	b		; 0920  A8		(
	ld	a,b		; 0921  78		x
	jp	p,X0936		; 0922  F2 36 09	r6.
	add	a,crtram0dat	; 0925  C6 80		F.
	ld	(hl),a		; 0927  77		w
	jp	z,X0890		; 0928  CA 90 08	J..
	call	X09df		; 092B  CD DF 09	M_.
	ld	(hl),a		; 092E  77		w
X092f:	dec	hl		; 092F  2B		+
	ret			; 0930  C9		I
;
X0931:	call	X0955		; 0931  CD 55 09	MU.
	cpl			; 0934  2F		/
	pop	hl		; 0935  E1		a
X0936:	or	a		; 0936  B7		7
X0937:	pop	hl		; 0937  E1		a
	jp	p,X0778		; 0938  F2 78 07	rx.
	jp	X07b2		; 093B  C3 B2 07	C2.
;
X093e:	call	X09bf		; 093E  CD BF 09	M?.
	ld	a,b		; 0941  78		x
	or	a		; 0942  B7		7
	ret	z		; 0943  C8		H
	add	a,2		; 0944  C6 02		F.
	jp	c,X07b2		; 0946  DA B2 07	Z2.
	ld	b,a		; 0949  47		G
	call	X0716		; 094A  CD 16 07	M..
	ld	hl,X4124	; 094D  21 24 41	!$A
	inc	(hl)		; 0950  34		4
	ret	nz		; 0951  C0		@
	jp	X07b2		; 0952  C3 B2 07	C2.
;
X0955:	ld	a,(X4124)	; 0955  3A 24 41	:$A
	or	a		; 0958  B7		7
	ret	z		; 0959  C8		H
	ld	a,(X4123)	; 095A  3A 23 41	:#A
	cp	2fh		; 095D  FE 2F		~/
X095f:	rla			; 095F  17		.
X0960:	sbc	a,a		; 0960  9F		.
	ret	nz		; 0961  C0		@
	inc	a		; 0962  3C		<
	ret			; 0963  C9		I
;
X0964:	ld	b,crtram2dat	; 0964  06 88		..
	ld	de,X0000	; 0966  11 00 00	...
X0969:	ld	hl,X4124	; 0969  21 24 41	!$A
	ld	c,a		; 096C  4F		O
	ld	(hl),b		; 096D  70		p
	ld	b,0		; 096E  06 00		..
	inc	hl		; 0970  23		#
	ld	(hl),crtram0dat	; 0971  36 80		6.
	rla			; 0973  17		.
	jp	X0762		; 0974  C3 62 07	Cb.
;
	call	X0994		; 0977  CD 94 09	M..
	ret	p		; 097A  F0		p
X097b:	rst	20h		; 097B  E7		g
	jp	m,X0c5b		; 097C  FA 5B 0C	z[.
	jp	z,X0af6		; 097F  CA F6 0A	Jv.
X0982:	ld	hl,X4123	; 0982  21 23 41	!#A
	ld	a,(hl)		; 0985  7E		~
	xor	crtram0dat	; 0986  EE 80		n.
	ld	(hl),a		; 0988  77		w
	ret			; 0989  C9		I
;
	call	X0994		; 098A  CD 94 09	M..
X098d:	ld	l,a		; 098D  6F		o
	rla			; 098E  17		.
	sbc	a,a		; 098F  9F		.
	ld	h,a		; 0990  67		g
	jp	X0a9a		; 0991  C3 9A 0A	C..
;
X0994:	rst	20h		; 0994  E7		g
	jp	z,X0af6		; 0995  CA F6 0A	Jv.
	jp	p,X0955		; 0998  F2 55 09	rU.
	ld	hl,(X4121)	; 099B  2A 21 41	*!A
X099e:	ld	a,h		; 099E  7C		|
	or	l		; 099F  B5		5
	ret	z		; 09A0  C8		H
	ld	a,h		; 09A1  7C		|
	jr	X095f		; 09A2  18 BB		.;
;
X09a4:	ex	de,hl		; 09A4  EB		k
	ld	hl,(X4121)	; 09A5  2A 21 41	*!A
	ex	(sp),hl		; 09A8  E3		c
	push	hl		; 09A9  E5		e
	ld	hl,(X4123)	; 09AA  2A 23 41	*#A
	ex	(sp),hl		; 09AD  E3		c
	push	hl		; 09AE  E5		e
	ex	de,hl		; 09AF  EB		k
	ret			; 09B0  C9		I
;
X09b1:	call	X09c2		; 09B1  CD C2 09	MB.
X09b4:	ex	de,hl		; 09B4  EB		k
	ld	(X4121),hl	; 09B5  22 21 41	"!A
	ld	h,b		; 09B8  60		`
	ld	l,c		; 09B9  69		i
	ld	(X4123),hl	; 09BA  22 23 41	"#A
	ex	de,hl		; 09BD  EB		k
	ret			; 09BE  C9		I
;
X09bf:	ld	hl,X4121	; 09BF  21 21 41	!!A
X09c2:	ld	e,(hl)		; 09C2  5E		^
	inc	hl		; 09C3  23		#
X09c4:	ld	d,(hl)		; 09C4  56		V
	inc	hl		; 09C5  23		#
	ld	c,(hl)		; 09C6  4E		N
	inc	hl		; 09C7  23		#
	ld	b,(hl)		; 09C8  46		F
X09c9:	inc	hl		; 09C9  23		#
	ret			; 09CA  C9		I
;
X09cb:	ld	de,X4121	; 09CB  11 21 41	.!A
	ld	b,4		; 09CE  06 04		..
	jr	X09d7		; 09D0  18 05		..
;
X09d2:	ex	de,hl		; 09D2  EB		k
X09d3:	ld	a,(X40af)	; 09D3  3A AF 40	:/@
	ld	b,a		; 09D6  47		G
X09d7:	ld	a,(de)		; 09D7  1A		.
	ld	(hl),a		; 09D8  77		w
	inc	de		; 09D9  13		.
	inc	hl		; 09DA  23		#
	dec	b		; 09DB  05		.
	jr	nz,X09d7	; 09DC  20 F9		 y
	ret			; 09DE  C9		I
;
X09df:	ld	hl,X4123	; 09DF  21 23 41	!#A
	ld	a,(hl)		; 09E2  7E		~
	rlca			; 09E3  07		.
	scf			; 09E4  37		7
	rra			; 09E5  1F		.
	ld	(hl),a		; 09E6  77		w
	ccf			; 09E7  3F		?
	rra			; 09E8  1F		.
	inc	hl		; 09E9  23		#
	inc	hl		; 09EA  23		#
	ld	(hl),a		; 09EB  77		w
	ld	a,c		; 09EC  79		y
	rlca			; 09ED  07		.
	scf			; 09EE  37		7
	rra			; 09EF  1F		.
	ld	c,a		; 09F0  4F		O
	rra			; 09F1  1F		.
	xor	(hl)		; 09F2  AE		.
	ret			; 09F3  C9		I
;
X09f4:	ld	hl,X4127	; 09F4  21 27 41	!'A
X09f7:	ld	de,X09d2	; 09F7  11 D2 09	.R.
	jr	X0a02		; 09FA  18 06		..
;
X09fc:	ld	hl,X4127	; 09FC  21 27 41	!'A
	ld	de,X09d3	; 09FF  11 D3 09	.S.
X0a02:	push	de		; 0A02  D5		U
X0a03:	ld	de,X4121	; 0A03  11 21 41	.!A
	rst	20h		; 0A06  E7		g
	ret	c		; 0A07  D8		X
	ld	de,X411d	; 0A08  11 1D 41	..A
	ret			; 0A0B  C9		I
;
X0a0c:	ld	a,b		; 0A0C  78		x
	or	a		; 0A0D  B7		7
	jp	z,X0955		; 0A0E  CA 55 09	JU.
	ld	hl,X095e	; 0A11  21 5E 09	!^.
	push	hl		; 0A14  E5		e
	call	X0955		; 0A15  CD 55 09	MU.
	ld	a,c		; 0A18  79		y
	ret	z		; 0A19  C8		H
	ld	hl,X4123	; 0A1A  21 23 41	!#A
	xor	(hl)		; 0A1D  AE		.
	ld	a,c		; 0A1E  79		y
	ret	m		; 0A1F  F8		x
	call	X0a26		; 0A20  CD 26 0A	M&.
X0a23:	rra			; 0A23  1F		.
	xor	c		; 0A24  A9		)
	ret			; 0A25  C9		I
;
X0a26:	inc	hl		; 0A26  23		#
	ld	a,b		; 0A27  78		x
	cp	(hl)		; 0A28  BE		>
	ret	nz		; 0A29  C0		@
	dec	hl		; 0A2A  2B		+
	ld	a,c		; 0A2B  79		y
	cp	(hl)		; 0A2C  BE		>
	ret	nz		; 0A2D  C0		@
	dec	hl		; 0A2E  2B		+
	ld	a,d		; 0A2F  7A		z
	cp	(hl)		; 0A30  BE		>
	ret	nz		; 0A31  C0		@
	dec	hl		; 0A32  2B		+
	ld	a,e		; 0A33  7B		{
	sub	(hl)		; 0A34  96		.
	ret	nz		; 0A35  C0		@
	pop	hl		; 0A36  E1		a
	pop	hl		; 0A37  E1		a
	ret			; 0A38  C9		I
;
X0a39:	ld	a,d		; 0A39  7A		z
	xor	h		; 0A3A  AC		,
	ld	a,h		; 0A3B  7C		|
	jp	m,X095f		; 0A3C  FA 5F 09	z_.
	cp	d		; 0A3F  BA		:
	jp	nz,X0960	; 0A40  C2 60 09	B`.
	ld	a,l		; 0A43  7D		}
	sub	e		; 0A44  93		.
	jp	nz,X0960	; 0A45  C2 60 09	B`.
	ret			; 0A48  C9		I
;
X0a49:	ld	hl,X4127	; 0A49  21 27 41	!'A
	call	X09d3		; 0A4C  CD D3 09	MS.
X0a4f:	ld	de,X412e	; 0A4F  11 2E 41	..A
	ld	a,(de)		; 0A52  1A		.
	or	a		; 0A53  B7		7
	jp	z,X0955		; 0A54  CA 55 09	JU.
	ld	hl,X095e	; 0A57  21 5E 09	!^.
	push	hl		; 0A5A  E5		e
	call	X0955		; 0A5B  CD 55 09	MU.
	dec	de		; 0A5E  1B		.
	ld	a,(de)		; 0A5F  1A		.
	ld	c,a		; 0A60  4F		O
	ret	z		; 0A61  C8		H
	ld	hl,X4123	; 0A62  21 23 41	!#A
	xor	(hl)		; 0A65  AE		.
	ld	a,c		; 0A66  79		y
	ret	m		; 0A67  F8		x
	inc	de		; 0A68  13		.
	inc	hl		; 0A69  23		#
	ld	b,8		; 0A6A  06 08		..
X0a6c:	ld	a,(de)		; 0A6C  1A		.
	sub	(hl)		; 0A6D  96		.
	jp	nz,X0a23	; 0A6E  C2 23 0A	B#.
	dec	de		; 0A71  1B		.
	dec	hl		; 0A72  2B		+
	dec	b		; 0A73  05		.
	jr	nz,X0a6c	; 0A74  20 F6		 v
	pop	bc		; 0A76  C1		A
	ret			; 0A77  C9		I
;
	call	X0a4f		; 0A78  CD 4F 0A	MO.
	jp	nz,X095e	; 0A7B  C2 5E 09	B^.
	ret			; 0A7E  C9		I
;
X0a7f:	rst	20h		; 0A7F  E7		g
	ld	hl,(X4121)	; 0A80  2A 21 41	*!A
	ret	m		; 0A83  F8		x
	jp	z,X0af6		; 0A84  CA F6 0A	Jv.
	call	nc,X0ab9	; 0A87  D4 B9 0A	T9.
	ld	hl,X07b2	; 0A8A  21 B2 07	!2.
	push	hl		; 0A8D  E5		e
X0a8e:	ld	a,(X4124)	; 0A8E  3A 24 41	:$A
	cp	90h		; 0A91  FE 90		~.
	jr	nc,X0aa3	; 0A93  30 0E		0.
	call	X0afb		; 0A95  CD FB 0A	M{.
	ex	de,hl		; 0A98  EB		k
X0a99:	pop	de		; 0A99  D1		Q
X0a9a:	ld	(X4121),hl	; 0A9A  22 21 41	"!A
	ld	a,2		; 0A9D  3E 02		>.
X0a9f:	ld	(X40af),a	; 0A9F  32 AF 40	2/@
	ret			; 0AA2  C9		I
;
X0aa3:	ld	bc,X9080	; 0AA3  01 80 90	...
	ld	de,X0000	; 0AA6  11 00 00	...
	call	X0a0c		; 0AA9  CD 0C 0A	M..
	ret	nz		; 0AAC  C0		@
	ld	h,c		; 0AAD  61		a
	ld	l,d		; 0AAE  6A		j
	jr	X0a99		; 0AAF  18 E8		.h
;
X0ab1:	rst	20h		; 0AB1  E7		g
	ret	po		; 0AB2  E0		`
	jp	m,X0acc		; 0AB3  FA CC 0A	zL.
	jp	z,X0af6		; 0AB6  CA F6 0A	Jv.
X0ab9:	call	X09bf		; 0AB9  CD BF 09	M?.
	call	X0aef		; 0ABC  CD EF 0A	Mo.
	ld	a,b		; 0ABF  78		x
	or	a		; 0AC0  B7		7
	ret	z		; 0AC1  C8		H
	call	X09df		; 0AC2  CD DF 09	M_.
	ld	hl,X4120	; 0AC5  21 20 41	! A
	ld	b,(hl)		; 0AC8  46		F
	jp	X0796		; 0AC9  C3 96 07	C..
;
X0acc:	ld	hl,(X4121)	; 0ACC  2A 21 41	*!A
X0acf:	call	X0aef		; 0ACF  CD EF 0A	Mo.
	ld	a,h		; 0AD2  7C		|
	ld	d,l		; 0AD3  55		U
	ld	e,0		; 0AD4  1E 00		..
	ld	b,90h		; 0AD6  06 90		..
	jp	X0969		; 0AD8  C3 69 09	Ci.
;
X0adb:	rst	20h		; 0ADB  E7		g
	ret	nc		; 0ADC  D0		P
	jp	z,X0af6		; 0ADD  CA F6 0A	Jv.
	call	m,X0acc		; 0AE0  FC CC 0A	|L.
X0ae3:	ld	hl,X0000	; 0AE3  21 00 00	!..
	ld	(X411d),hl	; 0AE6  22 1D 41	".A
	ld	(X411f),hl	; 0AE9  22 1F 41	".A
X0aec:	ld	a,8		; 0AEC  3E 08		>.
	ld	bc,X043e	; 0AEE  01 3E 04	.>.
	jp	X0a9f		; 0AF1  C3 9F 0A	C..
;
X0af4:	rst	20h		; 0AF4  E7		g
	ret	z		; 0AF5  C8		H
X0af6:	ld	e,18h		; 0AF6  1E 18		..
	jp	X19a2		; 0AF8  C3 A2 19	C".
;
X0afb:	ld	b,a		; 0AFB  47		G
	ld	c,a		; 0AFC  4F		O
	ld	d,a		; 0AFD  57		W
	ld	e,a		; 0AFE  5F		_
	or	a		; 0AFF  B7		7
	ret	z		; 0B00  C8		H
	push	hl		; 0B01  E5		e
	call	X09bf		; 0B02  CD BF 09	M?.
	call	X09df		; 0B05  CD DF 09	M_.
	xor	(hl)		; 0B08  AE		.
	ld	h,a		; 0B09  67		g
	call	m,X0b1f		; 0B0A  FC 1F 0B	|..
	ld	a,98h		; 0B0D  3E 98		>.
	sub	b		; 0B0F  90		.
	call	X07d7		; 0B10  CD D7 07	MW.
	ld	a,h		; 0B13  7C		|
	rla			; 0B14  17		.
	call	c,X07a8		; 0B15  DC A8 07	\(.
	ld	b,0		; 0B18  06 00		..
	call	c,X07c3		; 0B1A  DC C3 07	\C.
	pop	hl		; 0B1D  E1		a
	ret			; 0B1E  C9		I
;
X0b1f:	dec	de		; 0B1F  1B		.
	ld	a,d		; 0B20  7A		z
	and	e		; 0B21  A3		#
	inc	a		; 0B22  3C		<
	ret	nz		; 0B23  C0		@
X0b24:	dec	bc		; 0B24  0B		.
	ret			; 0B25  C9		I
;
	rst	20h		; 0B26  E7		g
	ret	m		; 0B27  F8		x
	call	X0955		; 0B28  CD 55 09	MU.
	jp	p,X0b37		; 0B2B  F2 37 0B	r7.
	call	X0982		; 0B2E  CD 82 09	M..
	call	X0b37		; 0B31  CD 37 0B	M7.
	jp	X097b		; 0B34  C3 7B 09	C{.
;
X0b37:	rst	20h		; 0B37  E7		g
	ret	m		; 0B38  F8		x
	jr	nc,X0b59	; 0B39  30 1E		0.
	jr	z,X0af6		; 0B3B  28 B9		(9
	call	X0a8e		; 0B3D  CD 8E 0A	M..
X0b40:	ld	hl,X4124	; 0B40  21 24 41	!$A
	ld	a,(hl)		; 0B43  7E		~
	cp	98h		; 0B44  FE 98		~.
	ld	a,(X4121)	; 0B46  3A 21 41	:!A
	ret	nc		; 0B49  D0		P
	ld	a,(hl)		; 0B4A  7E		~
	call	X0afb		; 0B4B  CD FB 0A	M{.
	ld	(hl),98h	; 0B4E  36 98		6.
	ld	a,e		; 0B50  7B		{
	push	af		; 0B51  F5		u
	ld	a,c		; 0B52  79		y
	rla			; 0B53  17		.
	call	X0762		; 0B54  CD 62 07	Mb.
	pop	af		; 0B57  F1		q
	ret			; 0B58  C9		I
;
X0b59:	ld	hl,X4124	; 0B59  21 24 41	!$A
	ld	a,(hl)		; 0B5C  7E		~
	cp	90h		; 0B5D  FE 90		~.
	jp	c,X0a7f		; 0B5F  DA 7F 0A	Z..
	jr	nz,X0b78	; 0B62  20 14		 .
	ld	c,a		; 0B64  4F		O
	dec	hl		; 0B65  2B		+
	ld	a,(hl)		; 0B66  7E		~
	xor	crtram0dat	; 0B67  EE 80		n.
	ld	b,6		; 0B69  06 06		..
X0b6b:	dec	hl		; 0B6B  2B		+
	or	(hl)		; 0B6C  B6		6
	dec	b		; 0B6D  05		.
	jr	nz,X0b6b	; 0B6E  20 FB		 {
	or	a		; 0B70  B7		7
	ld	hl,X8000	; 0B71  21 00 80	!..
	jp	z,X0a9a		; 0B74  CA 9A 0A	J..
	ld	a,c		; 0B77  79		y
X0b78:	cp	0b8h		; 0B78  FE B8		~8
	ret	nc		; 0B7A  D0		P
X0b7b:	push	af		; 0B7B  F5		u
	call	X09bf		; 0B7C  CD BF 09	M?.
	call	X09df		; 0B7F  CD DF 09	M_.
	xor	(hl)		; 0B82  AE		.
	dec	hl		; 0B83  2B		+
	ld	(hl),0b8h	; 0B84  36 B8		68
	push	af		; 0B86  F5		u
	call	m,X0ba0		; 0B87  FC A0 0B	| .
	ld	hl,X4123	; 0B8A  21 23 41	!#A
	ld	a,0b8h		; 0B8D  3E B8		>8
	sub	b		; 0B8F  90		.
	call	X0d69		; 0B90  CD 69 0D	Mi.
	pop	af		; 0B93  F1		q
	call	m,X0d20		; 0B94  FC 20 0D	| .
	xor	a		; 0B97  AF		/
	ld	(X411c),a	; 0B98  32 1C 41	2.A
	pop	af		; 0B9B  F1		q
	ret	nc		; 0B9C  D0		P
	jp	X0cd8		; 0B9D  C3 D8 0C	CX.
;
X0ba0:	ld	hl,X411d	; 0BA0  21 1D 41	!.A
X0ba3:	ld	a,(hl)		; 0BA3  7E		~
	dec	(hl)		; 0BA4  35		5
	or	a		; 0BA5  B7		7
	inc	hl		; 0BA6  23		#
	jr	z,X0ba3		; 0BA7  28 FA		(z
	ret			; 0BA9  C9		I
;
X0baa:	push	hl		; 0BAA  E5		e
	ld	hl,X0000	; 0BAB  21 00 00	!..
	ld	a,b		; 0BAE  78		x
	or	c		; 0BAF  B1		1
	jr	z,X0bc4		; 0BB0  28 12		(.
	ld	a,10h		; 0BB2  3E 10		>.
X0bb4:	add	hl,hl		; 0BB4  29		)
	jp	c,X273d		; 0BB5  DA 3D 27	Z='
	ex	de,hl		; 0BB8  EB		k
	add	hl,hl		; 0BB9  29		)
	ex	de,hl		; 0BBA  EB		k
	jr	nc,X0bc1	; 0BBB  30 04		0.
	add	hl,bc		; 0BBD  09		.
	jp	c,X273d		; 0BBE  DA 3D 27	Z='
X0bc1:	dec	a		; 0BC1  3D		=
	jr	nz,X0bb4	; 0BC2  20 F0		 p
X0bc4:	ex	de,hl		; 0BC4  EB		k
	pop	hl		; 0BC5  E1		a
	ret			; 0BC6  C9		I
;
	ld	a,h		; 0BC7  7C		|
	rla			; 0BC8  17		.
	sbc	a,a		; 0BC9  9F		.
	ld	b,a		; 0BCA  47		G
	call	X0c51		; 0BCB  CD 51 0C	MQ.
	ld	a,c		; 0BCE  79		y
	sbc	a,b		; 0BCF  98		.
	jr	X0bd5		; 0BD0  18 03		..
;
X0bd2:	ld	a,h		; 0BD2  7C		|
	rla			; 0BD3  17		.
	sbc	a,a		; 0BD4  9F		.
X0bd5:	ld	b,a		; 0BD5  47		G
	push	hl		; 0BD6  E5		e
	ld	a,d		; 0BD7  7A		z
	rla			; 0BD8  17		.
	sbc	a,a		; 0BD9  9F		.
	add	hl,de		; 0BDA  19		.
	adc	a,b		; 0BDB  88		.
	rrca			; 0BDC  0F		.
	xor	h		; 0BDD  AC		,
	jp	p,X0a99		; 0BDE  F2 99 0A	r..
	push	bc		; 0BE1  C5		E
	ex	de,hl		; 0BE2  EB		k
	call	X0acf		; 0BE3  CD CF 0A	MO.
	pop	af		; 0BE6  F1		q
	pop	hl		; 0BE7  E1		a
	call	X09a4		; 0BE8  CD A4 09	M$.
	ex	de,hl		; 0BEB  EB		k
	call	X0c6b		; 0BEC  CD 6B 0C	Mk.
	jp	X0f8f		; 0BEF  C3 8F 0F	C..
;
	ld	a,h		; 0BF2  7C		|
	or	l		; 0BF3  B5		5
	jp	z,X0a9a		; 0BF4  CA 9A 0A	J..
	push	hl		; 0BF7  E5		e
	push	de		; 0BF8  D5		U
	call	X0c45		; 0BF9  CD 45 0C	ME.
	push	bc		; 0BFC  C5		E
	ld	b,h		; 0BFD  44		D
	ld	c,l		; 0BFE  4D		M
	ld	hl,X0000	; 0BFF  21 00 00	!..
	ld	a,10h		; 0C02  3E 10		>.
X0c04:	add	hl,hl		; 0C04  29		)
; 	jr	c,1432		; 0C05  38 1F		8.
	defb	$38,$1f
	ex	de,hl		; 0C07  EB		k
	add	hl,hl		; 0C08  29		)
	ex	de,hl		; 0C09  EB		k
	jr	nc,X0c10	; 0C0A  30 04		0.
	add	hl,bc		; 0C0C  09		.
	jp	c,X0c26		; 0C0D  DA 26 0C	Z&.
X0c10:	dec	a		; 0C10  3D		=
	jr	nz,X0c04	; 0C11  20 F1		 q
	pop	bc		; 0C13  C1		A
	pop	de		; 0C14  D1		Q
	ld	a,h		; 0C15  7C		|
	or	a		; 0C16  B7		7
	jp	m,X0c1f		; 0C17  FA 1F 0C	z..
	pop	de		; 0C1A  D1		Q
	ld	a,b		; 0C1B  78		x
	jp	X0c4d		; 0C1C  C3 4D 0C	CM.
;
X0c1f:	xor	crtram0dat	; 0C1F  EE 80		n.
	or	l		; 0C21  B5		5
	jr	z,X0c37		; 0C22  28 13		(.
	ex	de,hl		; 0C24  EB		k
	ld	bc,Xe1c1	; 0C25  01 C1 E1	.Aa
	call	X0acf		; 0C28  CD CF 0A	MO.
	pop	hl		; 0C2B  E1		a
	call	X09a4		; 0C2C  CD A4 09	M$.
	call	X0acf		; 0C2F  CD CF 0A	MO.
X0c32:	pop	bc		; 0C32  C1		A
	pop	de		; 0C33  D1		Q
	jp	X0847		; 0C34  C3 47 08	CG.
;
X0c37:	ld	a,b		; 0C37  78		x
	or	a		; 0C38  B7		7
	pop	bc		; 0C39  C1		A
	jp	m,X0a9a		; 0C3A  FA 9A 0A	z..
	push	de		; 0C3D  D5		U
	call	X0acf		; 0C3E  CD CF 0A	MO.
	pop	de		; 0C41  D1		Q
	jp	X0982		; 0C42  C3 82 09	C..
;
X0c45:	ld	a,h		; 0C45  7C		|
	xor	d		; 0C46  AA		*
	ld	b,a		; 0C47  47		G
	call	X0c4c		; 0C48  CD 4C 0C	ML.
	ex	de,hl		; 0C4B  EB		k
X0c4c:	ld	a,h		; 0C4C  7C		|
X0c4d:	or	a		; 0C4D  B7		7
	jp	p,X0a9a		; 0C4E  F2 9A 0A	r..
X0c51:	xor	a		; 0C51  AF		/
	ld	c,a		; 0C52  4F		O
	sub	l		; 0C53  95		.
	ld	l,a		; 0C54  6F		o
	ld	a,c		; 0C55  79		y
	sbc	a,h		; 0C56  9C		.
	ld	h,a		; 0C57  67		g
	jp	X0a9a		; 0C58  C3 9A 0A	C..
;
X0c5b:	ld	hl,(X4121)	; 0C5B  2A 21 41	*!A
	call	X0c51		; 0C5E  CD 51 0C	MQ.
	ld	a,h		; 0C61  7C		|
	xor	crtram0dat	; 0C62  EE 80		n.
	or	l		; 0C64  B5		5
	ret	nz		; 0C65  C0		@
X0c66:	ex	de,hl		; 0C66  EB		k
	call	X0aef		; 0C67  CD EF 0A	Mo.
	xor	a		; 0C6A  AF		/
X0c6b:	ld	b,98h		; 0C6B  06 98		..
	jp	X0969		; 0C6D  C3 69 09	Ci.
;
	defb	'!-A~'					; 0C70
;
	xor	crtram0dat	; 0C74  EE 80		n.
	ld	(hl),a		; 0C76  77		w
X0c77:	ld	hl,X412e	; 0C77  21 2E 41	!.A
	ld	a,(hl)		; 0C7A  7E		~
	or	a		; 0C7B  B7		7
	ret	z		; 0C7C  C8		H
	ld	b,a		; 0C7D  47		G
	dec	hl		; 0C7E  2B		+
	ld	c,(hl)		; 0C7F  4E		N
	ld	de,X4124	; 0C80  11 24 41	.$A
	ld	a,(de)		; 0C83  1A		.
	or	a		; 0C84  B7		7
	jp	z,X09f4		; 0C85  CA F4 09	Jt.
	sub	b		; 0C88  90		.
	jr	nc,X0ca1	; 0C89  30 16		0.
	cpl			; 0C8B  2F		/
	inc	a		; 0C8C  3C		<
	push	af		; 0C8D  F5		u
	ld	c,8		; 0C8E  0E 08		..
	inc	hl		; 0C90  23		#
	push	hl		; 0C91  E5		e
X0c92:	ld	a,(de)		; 0C92  1A		.
	ld	b,(hl)		; 0C93  46		F
	ld	(hl),a		; 0C94  77		w
	ld	a,b		; 0C95  78		x
	ld	(de),a		; 0C96  12		.
	dec	de		; 0C97  1B		.
	dec	hl		; 0C98  2B		+
	dec	c		; 0C99  0D		.
	jr	nz,X0c92	; 0C9A  20 F6		 v
	pop	hl		; 0C9C  E1		a
	ld	b,(hl)		; 0C9D  46		F
	dec	hl		; 0C9E  2B		+
	ld	c,(hl)		; 0C9F  4E		N
	pop	af		; 0CA0  F1		q
X0ca1:	cp	rst7sp2		; 0CA1  FE 39		~9
	ret	nc		; 0CA3  D0		P
	push	af		; 0CA4  F5		u
	call	X09df		; 0CA5  CD DF 09	M_.
	inc	hl		; 0CA8  23		#
	ld	(hl),0		; 0CA9  36 00		6.
	ld	b,a		; 0CAB  47		G
	pop	af		; 0CAC  F1		q
	ld	hl,X412d	; 0CAD  21 2D 41	!-A
	call	X0d69		; 0CB0  CD 69 0D	Mi.
	ld	a,(X4126)	; 0CB3  3A 26 41	:&A
	ld	(X411c),a	; 0CB6  32 1C 41	2.A
	ld	a,b		; 0CB9  78		x
	or	a		; 0CBA  B7		7
	jp	p,X0ccf		; 0CBB  F2 CF 0C	rO.
	call	X0d33		; 0CBE  CD 33 0D	M3.
	jp	nc,X0d0e	; 0CC1  D2 0E 0D	R..
	ex	de,hl		; 0CC4  EB		k
	inc	(hl)		; 0CC5  34		4
	jp	z,X07b2		; 0CC6  CA B2 07	J2.
	call	X0d90		; 0CC9  CD 90 0D	M..
	jp	X0d0e		; 0CCC  C3 0E 0D	C..
;
X0ccf:	call	X0d45		; 0CCF  CD 45 0D	ME.
	ld	hl,X4125	; 0CD2  21 25 41	!%A
	call	c,X0d57		; 0CD5  DC 57 0D	\W.
X0cd8:	xor	a		; 0CD8  AF		/
X0cd9:	ld	b,a		; 0CD9  47		G
	ld	a,(X4123)	; 0CDA  3A 23 41	:#A
	or	a		; 0CDD  B7		7
	jr	nz,X0cfe	; 0CDE  20 1E		 .
	ld	hl,X411c	; 0CE0  21 1C 41	!.A
	ld	c,8		; 0CE3  0E 08		..
X0ce5:	ld	d,(hl)		; 0CE5  56		V
	ld	(hl),a		; 0CE6  77		w
	ld	a,d		; 0CE7  7A		z
	inc	hl		; 0CE8  23		#
	dec	c		; 0CE9  0D		.
	jr	nz,X0ce5	; 0CEA  20 F9		 y
	ld	a,b		; 0CEC  78		x
	sub	8		; 0CED  D6 08		V.
	cp	0c0h		; 0CEF  FE C0		~@
	jr	nz,X0cd9	; 0CF1  20 E6		 f
	jp	X0778		; 0CF3  C3 78 07	Cx.
;
X0cf6:	dec	b		; 0CF6  05		.
	ld	hl,X411c	; 0CF7  21 1C 41	!.A
	call	X0d97		; 0CFA  CD 97 0D	M..
	or	a		; 0CFD  B7		7
X0cfe:	jp	p,X0cf6		; 0CFE  F2 F6 0C	rv.
	ld	a,b		; 0D01  78		x
	or	a		; 0D02  B7		7
	jr	z,X0d0e		; 0D03  28 09		(.
	ld	hl,X4124	; 0D05  21 24 41	!$A
	add	a,(hl)		; 0D08  86		.
	ld	(hl),a		; 0D09  77		w
	jp	nc,X0778	; 0D0A  D2 78 07	Rx.
	ret	z		; 0D0D  C8		H
X0d0e:	ld	a,(X411c)	; 0D0E  3A 1C 41	:.A
X0d11:	or	a		; 0D11  B7		7
	call	m,X0d20		; 0D12  FC 20 0D	| .
	ld	hl,X4125	; 0D15  21 25 41	!%A
	ld	a,(hl)		; 0D18  7E		~
	and	crtram0dat	; 0D19  E6 80		f.
	dec	hl		; 0D1B  2B		+
	dec	hl		; 0D1C  2B		+
	xor	(hl)		; 0D1D  AE		.
	ld	(hl),a		; 0D1E  77		w
	ret			; 0D1F  C9		I
;
X0d20:	ld	hl,X411d	; 0D20  21 1D 41	!.A
	ld	b,7		; 0D23  06 07		..
X0d25:	inc	(hl)		; 0D25  34		4
	ret	nz		; 0D26  C0		@
	inc	hl		; 0D27  23		#
	dec	b		; 0D28  05		.
	jr	nz,X0d25	; 0D29  20 FA		 z
	inc	(hl)		; 0D2B  34		4
	jp	z,X07b2		; 0D2C  CA B2 07	J2.
	dec	hl		; 0D2F  2B		+
	ld	(hl),crtram0dat	; 0D30  36 80		6.
	ret			; 0D32  C9		I
;
X0d33:	ld	hl,X4127	; 0D33  21 27 41	!'A
X0d36:	ld	de,X411d	; 0D36  11 1D 41	..A
X0d39:	ld	c,7		; 0D39  0E 07		..
	xor	a		; 0D3B  AF		/
X0d3c:	ld	a,(de)		; 0D3C  1A		.
	adc	a,(hl)		; 0D3D  8E		.
	ld	(de),a		; 0D3E  12		.
	inc	de		; 0D3F  13		.
	inc	hl		; 0D40  23		#
	dec	c		; 0D41  0D		.
	jr	nz,X0d3c	; 0D42  20 F8		 x
	ret			; 0D44  C9		I
;
X0d45:	ld	hl,X4127	; 0D45  21 27 41	!'A
X0d48:	ld	de,X411d	; 0D48  11 1D 41	..A
X0d4b:	ld	c,7		; 0D4B  0E 07		..
	xor	a		; 0D4D  AF		/
X0d4e:	ld	a,(de)		; 0D4E  1A		.
	sbc	a,(hl)		; 0D4F  9E		.
	ld	(de),a		; 0D50  12		.
	inc	de		; 0D51  13		.
	inc	hl		; 0D52  23		#
	dec	c		; 0D53  0D		.
	jr	nz,X0d4e	; 0D54  20 F8		 x
	ret			; 0D56  C9		I
;
X0d57:	ld	a,(hl)		; 0D57  7E		~
	cpl			; 0D58  2F		/
	ld	(hl),a		; 0D59  77		w
	ld	hl,X411c	; 0D5A  21 1C 41	!.A
	ld	b,8		; 0D5D  06 08		..
	xor	a		; 0D5F  AF		/
X0d60:	ld	c,a		; 0D60  4F		O
X0d61:	ld	a,c		; 0D61  79		y
	sbc	a,(hl)		; 0D62  9E		.
	ld	(hl),a		; 0D63  77		w
	inc	hl		; 0D64  23		#
	dec	b		; 0D65  05		.
	jr	nz,X0d61	; 0D66  20 F9		 y
	ret			; 0D68  C9		I
;
X0d69:	ld	(hl),c		; 0D69  71		q
	push	hl		; 0D6A  E5		e
X0d6b:	sub	8		; 0D6B  D6 08		V.
	jr	c,X0d7d		; 0D6D  38 0E		8.
	pop	hl		; 0D6F  E1		a
X0d70:	push	hl		; 0D70  E5		e
	ld	de,X0800	; 0D71  11 00 08	...
X0d74:	ld	c,(hl)		; 0D74  4E		N
	ld	(hl),e		; 0D75  73		s
	ld	e,c		; 0D76  59		Y
	dec	hl		; 0D77  2B		+
	dec	d		; 0D78  15		.
	jr	nz,X0d74	; 0D79  20 F9		 y
	jr	X0d6b		; 0D7B  18 EE		.n
;
X0d7d:	add	a,9		; 0D7D  C6 09		F.
	ld	d,a		; 0D7F  57		W
X0d80:	xor	a		; 0D80  AF		/
	pop	hl		; 0D81  E1		a
	dec	d		; 0D82  15		.
	ret	z		; 0D83  C8		H
X0d84:	push	hl		; 0D84  E5		e
	ld	e,8		; 0D85  1E 08		..
X0d87:	ld	a,(hl)		; 0D87  7E		~
	rra			; 0D88  1F		.
	ld	(hl),a		; 0D89  77		w
	dec	hl		; 0D8A  2B		+
	dec	e		; 0D8B  1D		.
	jr	nz,X0d87	; 0D8C  20 F9		 y
	jr	X0d80		; 0D8E  18 F0		.p
;
X0d90:	ld	hl,X4123	; 0D90  21 23 41	!#A
	ld	d,1		; 0D93  16 01		..
	jr	X0d84		; 0D95  18 ED		.m
;
X0d97:	ld	c,8		; 0D97  0E 08		..
X0d99:	ld	a,(hl)		; 0D99  7E		~
	rla			; 0D9A  17		.
	ld	(hl),a		; 0D9B  77		w
	inc	hl		; 0D9C  23		#
	dec	c		; 0D9D  0D		.
	jr	nz,X0d99	; 0D9E  20 F9		 y
	ret			; 0DA0  C9		I
;
X0da1:	call	X0955		; 0DA1  CD 55 09	MU.
	ret	z		; 0DA4  C8		H
	call	X090a		; 0DA5  CD 0A 09	M..
	call	X0e39		; 0DA8  CD 39 0E	M9.
	ld	(hl),c		; 0DAB  71		q
	inc	de		; 0DAC  13		.
	ld	b,7		; 0DAD  06 07		..
X0daf:	ld	a,(de)		; 0DAF  1A		.
	inc	de		; 0DB0  13		.
	or	a		; 0DB1  B7		7
	push	de		; 0DB2  D5		U
	jr	z,X0dcc		; 0DB3  28 17		(.
	ld	c,8		; 0DB5  0E 08		..
X0db7:	push	bc		; 0DB7  C5		E
	rra			; 0DB8  1F		.
	ld	b,a		; 0DB9  47		G
	call	c,X0d33		; 0DBA  DC 33 0D	\3.
	call	X0d90		; 0DBD  CD 90 0D	M..
	ld	a,b		; 0DC0  78		x
	pop	bc		; 0DC1  C1		A
	dec	c		; 0DC2  0D		.
	jr	nz,X0db7	; 0DC3  20 F2		 r
X0dc5:	pop	de		; 0DC5  D1		Q
	dec	b		; 0DC6  05		.
	jr	nz,X0daf	; 0DC7  20 E6		 f
	jp	X0cd8		; 0DC9  C3 D8 0C	CX.
;
X0dcc:	ld	hl,X4123	; 0DCC  21 23 41	!#A
	call	X0d70		; 0DCF  CD 70 0D	Mp.
	jr	X0dc5		; 0DD2  18 F1		.q
;
X0dd4:	nop			; 0DD4  00		.
;
	ORG	0dd8h
;
X0dd8:	nop			; 0DD8  00		.
;
	ORG	0ddah
;
	jr	nz,X0d60	; 0DDA  20 84		 .
X0ddc:	ld	de,X0dd4	; 0DDC  11 D4 0D	.T.
	ld	hl,X4127	; 0DDF  21 27 41	!'A
	call	X09d3		; 0DE2  CD D3 09	MS.
	ld	a,(X412e)	; 0DE5  3A 2E 41	:.A
	or	a		; 0DE8  B7		7
	jp	z,X199a		; 0DE9  CA 9A 19	J..
	call	X0907		; 0DEC  CD 07 09	M..
	inc	(hl)		; 0DEF  34		4
	inc	(hl)		; 0DF0  34		4
	call	X0e39		; 0DF1  CD 39 0E	M9.
	ld	hl,X4151	; 0DF4  21 51 41	!QA
	ld	(hl),c		; 0DF7  71		q
	ld	b,c		; 0DF8  41		A
X0df9:	ld	de,X414a	; 0DF9  11 4A 41	.JA
	ld	hl,X4127	; 0DFC  21 27 41	!'A
	call	X0d4b		; 0DFF  CD 4B 0D	MK.
	ld	a,(de)		; 0E02  1A		.
	sbc	a,c		; 0E03  99		.
	ccf			; 0E04  3F		?
; 	jr	c,X0e12		; 0E05  38 0B		8.
	defb	$38,$0b
	ld	de,X414a	; 0E07  11 4A 41	.JA
	ld	hl,X4127	; 0E0A  21 27 41	!'A
	call	X0d39		; 0E0D  CD 39 0D	M9.
	xor	a		; 0E10  AF		/
	jp	c,X0412		; 0E11  DA 12 04	Z..
	ld	a,(X4123)	; 0E14  3A 23 41	:#A
	inc	a		; 0E17  3C		<
	dec	a		; 0E18  3D		=
	rra			; 0E19  1F		.
	jp	m,X0d11		; 0E1A  FA 11 0D	z..
	rla			; 0E1D  17		.
	ld	hl,X411d	; 0E1E  21 1D 41	!.A
	ld	c,7		; 0E21  0E 07		..
	call	X0d99		; 0E23  CD 99 0D	M..
	ld	hl,X414a	; 0E26  21 4A 41	!JA
	call	X0d97		; 0E29  CD 97 0D	M..
	ld	a,b		; 0E2C  78		x
	or	a		; 0E2D  B7		7
	jr	nz,X0df9	; 0E2E  20 C9		 I
	ld	hl,X4124	; 0E30  21 24 41	!$A
	dec	(hl)		; 0E33  35		5
	jr	nz,X0df9	; 0E34  20 C3		 C
	jp	X07b2		; 0E36  C3 B2 07	C2.
;
X0e39:	ld	a,c		; 0E39  79		y
X0e3a:	ld	(X412d),a	; 0E3A  32 2D 41	2-A
	dec	hl		; 0E3D  2B		+
	ld	de,X4150	; 0E3E  11 50 41	.PA
	ld	bc,X0700	; 0E41  01 00 07	...
X0e44:	ld	a,(hl)		; 0E44  7E		~
	ld	(de),a		; 0E45  12		.
	ld	(hl),c		; 0E46  71		q
	dec	de		; 0E47  1B		.
	dec	hl		; 0E48  2B		+
	dec	b		; 0E49  05		.
	jr	nz,X0e44	; 0E4A  20 F8		 x
	ret			; 0E4C  C9		I
;
X0e4d:	call	X09fc		; 0E4D  CD FC 09	M|.
	ex	de,hl		; 0E50  EB		k
	dec	hl		; 0E51  2B		+
	ld	a,(hl)		; 0E52  7E		~
	or	a		; 0E53  B7		7
	ret	z		; 0E54  C8		H
	add	a,2		; 0E55  C6 02		F.
	jp	c,X07b2		; 0E57  DA B2 07	Z2.
	ld	(hl),a		; 0E5A  77		w
	push	hl		; 0E5B  E5		e
	call	X0c77		; 0E5C  CD 77 0C	Mw.
	pop	hl		; 0E5F  E1		a
	inc	(hl)		; 0E60  34		4
	ret	nz		; 0E61  C0		@
	jp	X07b2		; 0E62  C3 B2 07	C2.
;
X0e65:	call	X0778		; 0E65  CD 78 07	Mx.
	call	X0aec		; 0E68  CD EC 0A	Ml.
	or	0afh		; 0E6B  F6 AF		v/
	ex	de,hl		; 0E6D  EB		k
	ld	bc,X00ff	; 0E6E  01 FF 00	...
	ld	h,b		; 0E71  60		`
	ld	l,b		; 0E72  68		h
	call	z,X0a9a		; 0E73  CC 9A 0A	L..
	ex	de,hl		; 0E76  EB		k
	ld	a,(hl)		; 0E77  7E		~
	cp	2dh		; 0E78  FE 2D		~-
	push	af		; 0E7A  F5		u
	jp	z,X0e83		; 0E7B  CA 83 0E	J..
	cp	2bh		; 0E7E  FE 2B		~+
	jr	z,X0e83		; 0E80  28 01		(.
	dec	hl		; 0E82  2B		+
X0e83:	rst	10h		; 0E83  D7		W
	jp	c,X0f29		; 0E84  DA 29 0F	Z).
	cp	2eh		; 0E87  FE 2E		~.
	jp	z,X0ee4		; 0E89  CA E4 0E	Jd.
	cp	fdrvbuf		; 0E8C  FE 45		~E
	jr	z,X0ea4		; 0E8E  28 14		(.
	cp	25h		; 0E90  FE 25		~%
	jp	z,X0eee		; 0E92  CA EE 0E	Jn.
	cp	23h		; 0E95  FE 23		~#
	jp	z,X0ef5		; 0E97  CA F5 0E	Ju.
	cp	21h		; 0E9A  FE 21		~!
	jp	z,X0ef6		; 0E9C  CA F6 0E	Jv.
	cp	44h		; 0E9F  FE 44		~D
	jr	nz,X0ec7	; 0EA1  20 24		 $
	or	a		; 0EA3  B7		7
X0ea4:	call	X0efb		; 0EA4  CD FB 0E	M{.
	push	hl		; 0EA7  E5		e
	ld	hl,X0ebd	; 0EA8  21 BD 0E	!=.
	ex	(sp),hl		; 0EAB  E3		c
	rst	10h		; 0EAC  D7		W
	dec	d		; 0EAD  15		.
	cp	0ceh		; 0EAE  FE CE		~N
	ret	z		; 0EB0  C8		H
	cp	2dh		; 0EB1  FE 2D		~-
	ret	z		; 0EB3  C8		H
	inc	d		; 0EB4  14		.
	cp	0cdh		; 0EB5  FE CD		~M
	ret	z		; 0EB7  C8		H
	cp	2bh		; 0EB8  FE 2B		~+
	ret	z		; 0EBA  C8		H
	dec	hl		; 0EBB  2B		+
	pop	af		; 0EBC  F1		q
X0ebd:	rst	10h		; 0EBD  D7		W
	jp	c,X0f94		; 0EBE  DA 94 0F	Z..
	inc	d		; 0EC1  14		.
	jr	nz,X0ec7	; 0EC2  20 03		 .
	xor	a		; 0EC4  AF		/
	sub	e		; 0EC5  93		.
	ld	e,a		; 0EC6  5F		_
X0ec7:	push	hl		; 0EC7  E5		e
	ld	a,e		; 0EC8  7B		{
	sub	b		; 0EC9  90		.
X0eca:	call	p,X0f0a		; 0ECA  F4 0A 0F	t..
	call	m,X0f18		; 0ECD  FC 18 0F	|..
	jr	nz,X0eca	; 0ED0  20 F8		 x
	pop	hl		; 0ED2  E1		a
	pop	af		; 0ED3  F1		q
	push	hl		; 0ED4  E5		e
	call	z,X097b		; 0ED5  CC 7B 09	L{.
	pop	hl		; 0ED8  E1		a
	rst	20h		; 0ED9  E7		g
	ret	pe		; 0EDA  E8		h
	push	hl		; 0EDB  E5		e
	ld	hl,X0890	; 0EDC  21 90 08	!..
	push	hl		; 0EDF  E5		e
	call	X0aa3		; 0EE0  CD A3 0A	M#.
	ret			; 0EE3  C9		I
;
X0ee4:	rst	20h		; 0EE4  E7		g
	inc	c		; 0EE5  0C		.
	jr	nz,X0ec7	; 0EE6  20 DF		 _
	call	c,X0efb		; 0EE8  DC FB 0E	\{.
	jp	X0e83		; 0EEB  C3 83 0E	C..
;
X0eee:	rst	20h		; 0EEE  E7		g
	jp	p,X1997		; 0EEF  F2 97 19	r..
X0ef2:	inc	hl		; 0EF2  23		#
	jr	X0ec7		; 0EF3  18 D2		.R
;
X0ef5:	or	a		; 0EF5  B7		7
X0ef6:	call	X0efb		; 0EF6  CD FB 0E	M{.
	jr	X0ef2		; 0EF9  18 F7		.w
;
X0efb:	push	hl		; 0EFB  E5		e
	push	de		; 0EFC  D5		U
	push	bc		; 0EFD  C5		E
	push	af		; 0EFE  F5		u
	call	z,X0ab1		; 0EFF  CC B1 0A	L1.
	pop	af		; 0F02  F1		q
	call	nz,X0adb	; 0F03  C4 DB 0A	D[.
	pop	bc		; 0F06  C1		A
	pop	de		; 0F07  D1		Q
	pop	hl		; 0F08  E1		a
	ret			; 0F09  C9		I
;
X0f0a:	ret	z		; 0F0A  C8		H
X0f0b:	push	af		; 0F0B  F5		u
	rst	20h		; 0F0C  E7		g
	push	af		; 0F0D  F5		u
	call	po,X093e	; 0F0E  E4 3E 09	d>.
	pop	af		; 0F11  F1		q
	call	pe,X0e4d	; 0F12  EC 4D 0E	lM.
	pop	af		; 0F15  F1		q
X0f16:	dec	a		; 0F16  3D		=
	ret			; 0F17  C9		I
;
X0f18:	push	de		; 0F18  D5		U
	push	hl		; 0F19  E5		e
	push	af		; 0F1A  F5		u
	rst	20h		; 0F1B  E7		g
	push	af		; 0F1C  F5		u
	call	po,X0897	; 0F1D  E4 97 08	d..
	pop	af		; 0F20  F1		q
	call	pe,X0ddc	; 0F21  EC DC 0D	l\.
	pop	af		; 0F24  F1		q
	pop	hl		; 0F25  E1		a
	pop	de		; 0F26  D1		Q
	inc	a		; 0F27  3C		<
	ret			; 0F28  C9		I
;
X0f29:	push	de		; 0F29  D5		U
	ld	a,b		; 0F2A  78		x
	adc	a,c		; 0F2B  89		.
	ld	b,a		; 0F2C  47		G
	push	bc		; 0F2D  C5		E
	push	hl		; 0F2E  E5		e
	ld	a,(hl)		; 0F2F  7E		~
	sub	30h		; 0F30  D6 30		V0
	push	af		; 0F32  F5		u
	rst	20h		; 0F33  E7		g
	jp	p,X0f5d		; 0F34  F2 5D 0F	r].
	ld	hl,(X4121)	; 0F37  2A 21 41	*!A
	ld	de,X0ccd	; 0F3A  11 CD 0C	.M.
	rst	18h		; 0F3D  DF		_
	jr	nc,X0f59	; 0F3E  30 19		0.
	ld	d,h		; 0F40  54		T
	ld	e,l		; 0F41  5D		]
	add	hl,hl		; 0F42  29		)
	add	hl,hl		; 0F43  29		)
	add	hl,de		; 0F44  19		.
	add	hl,hl		; 0F45  29		)
	pop	af		; 0F46  F1		q
	ld	c,a		; 0F47  4F		O
	add	hl,bc		; 0F48  09		.
	ld	a,h		; 0F49  7C		|
	or	a		; 0F4A  B7		7
	jp	m,X0f57		; 0F4B  FA 57 0F	zW.
	ld	(X4121),hl	; 0F4E  22 21 41	"!A
X0f51:	pop	hl		; 0F51  E1		a
	pop	bc		; 0F52  C1		A
	pop	de		; 0F53  D1		Q
	jp	X0e83		; 0F54  C3 83 0E	C..
;
X0f57:	ld	a,c		; 0F57  79		y
	push	af		; 0F58  F5		u
X0f59:	call	X0acc		; 0F59  CD CC 0A	ML.
	scf			; 0F5C  37		7
X0f5d:	jr	nc,X0f77	; 0F5D  30 18		0.
	ld	bc,X9474	; 0F5F  01 74 94	.t.
	ld	de,X2400	; 0F62  11 00 24	..$
	call	X0a0c		; 0F65  CD 0C 0A	M..
	jp	p,X0f74		; 0F68  F2 74 0F	rt.
	call	X093e		; 0F6B  CD 3E 09	M>.
	pop	af		; 0F6E  F1		q
	call	X0f89		; 0F6F  CD 89 0F	M..
	jr	X0f51		; 0F72  18 DD		.]
;
X0f74:	call	X0ae3		; 0F74  CD E3 0A	Mc.
X0f77:	call	X0e4d		; 0F77  CD 4D 0E	MM.
	call	X09fc		; 0F7A  CD FC 09	M|.
	pop	af		; 0F7D  F1		q
	call	X0964		; 0F7E  CD 64 09	Md.
	call	X0ae3		; 0F81  CD E3 0A	Mc.
	call	X0c77		; 0F84  CD 77 0C	Mw.
	jr	X0f51		; 0F87  18 C8		.H
;
X0f89:	call	X09a4		; 0F89  CD A4 09	M$.
	call	X0964		; 0F8C  CD 64 09	Md.
X0f8f:	pop	bc		; 0F8F  C1		A
	pop	de		; 0F90  D1		Q
	jp	X0716		; 0F91  C3 16 07	C..
;
X0f94:	ld	a,e		; 0F94  7B		{
	cp	0ah		; 0F95  FE 0A		~.
; 	jr	nc,X0fa2	; 0F97  30 09		0.
	defb	$30,$09
	rlca			; 0F99  07		.
	rlca			; 0F9A  07		.
	add	a,e		; 0F9B  83		.
	rlca			; 0F9C  07		.
	add	a,(hl)		; 0F9D  86		.
	sub	30h		; 0F9E  D6 30		V0
	ld	e,a		; 0FA0  5F		_
	jp	m,X321e		; 0FA1  FA 1E 32	z.2
	jp	X0ebd		; 0FA4  C3 BD 0E	C=.
;
X0fa7:	push	hl		; 0FA7  E5		e
	ld	hl,X1924	; 0FA8  21 24 19	!$.
	call	X28a7		; 0FAB  CD A7 28	M'(
	pop	hl		; 0FAE  E1		a
X0faf:	call	X0a9a		; 0FAF  CD 9A 0A	M..
	xor	a		; 0FB2  AF		/
	call	X1034		; 0FB3  CD 34 10	M4.
	or	(hl)		; 0FB6  B6		6
	call	X0fd9		; 0FB7  CD D9 0F	MY.
	jp	X28a6		; 0FBA  C3 A6 28	C&(
;
X0fbd:	xor	a		; 0FBD  AF		/
X0fbe:	call	X1034		; 0FBE  CD 34 10	M4.
	and	8		; 0FC1  E6 08		f.
	jr	z,X0fc7		; 0FC3  28 02		(.
	ld	(hl),2bh	; 0FC5  36 2B		6+
X0fc7:	ex	de,hl		; 0FC7  EB		k
	call	X0994		; 0FC8  CD 94 09	M..
	ex	de,hl		; 0FCB  EB		k
	jp	p,X0fd9		; 0FCC  F2 D9 0F	rY.
	ld	(hl),2dh	; 0FCF  36 2D		6-
	push	bc		; 0FD1  C5		E
	push	hl		; 0FD2  E5		e
	call	X097b		; 0FD3  CD 7B 09	M{.
	pop	hl		; 0FD6  E1		a
	pop	bc		; 0FD7  C1		A
	or	h		; 0FD8  B4		4
X0fd9:	inc	hl		; 0FD9  23		#
	ld	(hl),30h	; 0FDA  36 30		60
	ld	a,(X40d8)	; 0FDC  3A D8 40	:X@
	ld	d,a		; 0FDF  57		W
	rla			; 0FE0  17		.
	ld	a,(X40af)	; 0FE1  3A AF 40	:/@
	jp	c,X109a		; 0FE4  DA 9A 10	Z..
	jp	z,X1092		; 0FE7  CA 92 10	J..
	cp	4		; 0FEA  FE 04		~.
	jp	nc,X103d	; 0FEC  D2 3D 10	R=.
	ld	bc,X0000	; 0FEF  01 00 00	...
	call	X132f		; 0FF2  CD 2F 13	M/.
X0ff5:	ld	hl,X4130	; 0FF5  21 30 41	!0A
	ld	b,(hl)		; 0FF8  46		F
	ld	c,20h		; 0FF9  0E 20		.
	ld	a,(X40d8)	; 0FFB  3A D8 40	:X@
	ld	e,a		; 0FFE  5F		_
	and	20h		; 0FFF  E6 20		f
	jr	z,X100a		; 1001  28 07		(.
	ld	a,b		; 1003  78		x
	cp	c		; 1004  B9		9
	ld	c,2ah		; 1005  0E 2A		.*
	jr	nz,X100a	; 1007  20 01		 .
	ld	b,c		; 1009  41		A
X100a:	ld	(hl),c		; 100A  71		q
	rst	10h		; 100B  D7		W
	jr	z,X1022		; 100C  28 14		(.
	cp	fdrvbuf		; 100E  FE 45		~E
	jr	z,X1022		; 1010  28 10		(.
	cp	44h		; 1012  FE 44		~D
	jr	z,X1022		; 1014  28 0C		(.
	cp	30h		; 1016  FE 30		~0
	jr	z,X100a		; 1018  28 F0		(p
	cp	2ch		; 101A  FE 2C		~,
	jr	z,X100a		; 101C  28 EC		(l
	cp	2eh		; 101E  FE 2E		~.
	jr	nz,X1025	; 1020  20 03		 .
X1022:	dec	hl		; 1022  2B		+
	ld	(hl),30h	; 1023  36 30		60
X1025:	ld	a,e		; 1025  7B		{
	and	10h		; 1026  E6 10		f.
	jr	z,X102d		; 1028  28 03		(.
	dec	hl		; 102A  2B		+
	ld	(hl),24h	; 102B  36 24		6$
X102d:	ld	a,e		; 102D  7B		{
	and	4		; 102E  E6 04		f.
	ret	nz		; 1030  C0		@
	dec	hl		; 1031  2B		+
	ld	(hl),b		; 1032  70		p
	ret			; 1033  C9		I
;
X1034:	ld	(X40d8),a	; 1034  32 D8 40	2X@
	ld	hl,X4130	; 1037  21 30 41	!0A
	ld	(hl),20h	; 103A  36 20		6
	ret			; 103C  C9		I
;
X103d:	cp	5		; 103D  FE 05		~.
	push	hl		; 103F  E5		e
	sbc	a,0		; 1040  DE 00		^.
	rla			; 1042  17		.
	ld	d,a		; 1043  57		W
	inc	d		; 1044  14		.
	call	X1201		; 1045  CD 01 12	M..
	ld	bc,X0300	; 1048  01 00 03	...
	add	a,d		; 104B  82		.
	jp	m,X1057		; 104C  FA 57 10	zW.
	inc	d		; 104F  14		.
	cp	d		; 1050  BA		:
	jr	nc,X1057	; 1051  30 04		0.
	inc	a		; 1053  3C		<
	ld	b,a		; 1054  47		G
	ld	a,2		; 1055  3E 02		>.
X1057:	sub	2		; 1057  D6 02		V.
	pop	hl		; 1059  E1		a
	push	af		; 105A  F5		u
	call	X1291		; 105B  CD 91 12	M..
	ld	(hl),30h	; 105E  36 30		60
	call	z,X09c9		; 1060  CC C9 09	LI.
	call	X12a4		; 1063  CD A4 12	M$.
X1066:	dec	hl		; 1066  2B		+
	ld	a,(hl)		; 1067  7E		~
	cp	30h		; 1068  FE 30		~0
	jr	z,X1066		; 106A  28 FA		(z
	cp	2eh		; 106C  FE 2E		~.
	call	nz,X09c9	; 106E  C4 C9 09	DI.
	pop	af		; 1071  F1		q
	jr	z,X1093		; 1072  28 1F		(.
X1074:	push	af		; 1074  F5		u
	rst	20h		; 1075  E7		g
	ld	a,22h		; 1076  3E 22		>"
	adc	a,a		; 1078  8F		.
	ld	(hl),a		; 1079  77		w
	inc	hl		; 107A  23		#
	pop	af		; 107B  F1		q
	ld	(hl),2bh	; 107C  36 2B		6+
	jp	p,X1085		; 107E  F2 85 10	r..
	ld	(hl),2dh	; 1081  36 2D		6-
	cpl			; 1083  2F		/
	inc	a		; 1084  3C		<
X1085:	ld	b,2fh		; 1085  06 2F		./
X1087:	inc	b		; 1087  04		.
	sub	0ah		; 1088  D6 0A		V.
	jr	nc,X1087	; 108A  30 FB		0{
	add	a,rst7sp3	; 108C  C6 3A		F:
	inc	hl		; 108E  23		#
	ld	(hl),b		; 108F  70		p
	inc	hl		; 1090  23		#
	ld	(hl),a		; 1091  77		w
X1092:	inc	hl		; 1092  23		#
X1093:	ld	(hl),0		; 1093  36 00		6.
	ex	de,hl		; 1095  EB		k
	ld	hl,X4130	; 1096  21 30 41	!0A
	ret			; 1099  C9		I
;
X109a:	inc	hl		; 109A  23		#
	push	bc		; 109B  C5		E
	cp	4		; 109C  FE 04		~.
	ld	a,d		; 109E  7A		z
	jp	nc,X1109	; 109F  D2 09 11	R..
	rra			; 10A2  1F		.
	jp	c,X11a3		; 10A3  DA A3 11	Z#.
	ld	bc,X0603	; 10A6  01 03 06	...
	call	X1289		; 10A9  CD 89 12	M..
	pop	de		; 10AC  D1		Q
	ld	a,d		; 10AD  7A		z
	sub	5		; 10AE  D6 05		V.
	call	p,X1269		; 10B0  F4 69 12	ti.
	call	X132f		; 10B3  CD 2F 13	M/.
X10b6:	ld	a,e		; 10B6  7B		{
	or	a		; 10B7  B7		7
	call	z,X092f		; 10B8  CC 2F 09	L/.
	dec	a		; 10BB  3D		=
	call	p,X1269		; 10BC  F4 69 12	ti.
X10bf:	push	hl		; 10BF  E5		e
	call	X0ff5		; 10C0  CD F5 0F	Mu.
	pop	hl		; 10C3  E1		a
	jr	z,X10c8		; 10C4  28 02		(.
	ld	(hl),b		; 10C6  70		p
	inc	hl		; 10C7  23		#
X10c8:	ld	(hl),0		; 10C8  36 00		6.
	ld	hl,X412f	; 10CA  21 2F 41	!/A
X10cd:	inc	hl		; 10CD  23		#
X10ce:	ld	a,(X40f3)	; 10CE  3A F3 40	:s@
	sub	l		; 10D1  95		.
	sub	d		; 10D2  92		.
	ret	z		; 10D3  C8		H
	ld	a,(hl)		; 10D4  7E		~
	cp	20h		; 10D5  FE 20		~
	jr	z,X10cd		; 10D7  28 F4		(t
	cp	2ah		; 10D9  FE 2A		~*
	jr	z,X10cd		; 10DB  28 F0		(p
	dec	hl		; 10DD  2B		+
	push	hl		; 10DE  E5		e
X10df:	push	af		; 10DF  F5		u
	ld	bc,X10df	; 10E0  01 DF 10	._.
	push	bc		; 10E3  C5		E
	rst	10h		; 10E4  D7		W
	cp	2dh		; 10E5  FE 2D		~-
	ret	z		; 10E7  C8		H
	cp	2bh		; 10E8  FE 2B		~+
	ret	z		; 10EA  C8		H
	cp	24h		; 10EB  FE 24		~$
	ret	z		; 10ED  C8		H
	pop	bc		; 10EE  C1		A
	cp	30h		; 10EF  FE 30		~0
	jr	nz,X1102	; 10F1  20 0F		 .
	inc	hl		; 10F3  23		#
	rst	10h		; 10F4  D7		W
	jr	nc,X1102	; 10F5  30 0B		0.
	dec	hl		; 10F7  2B		+
	ld	bc,X772b	; 10F8  01 2B 77	.+w
	pop	af		; 10FB  F1		q
; 	jr	z,X10f9		; 10FC  28 FB		({
	defb	$28,$fb
	pop	bc		; 10FE  C1		A
	jp	X10ce		; 10FF  C3 CE 10	CN.
;
X1102:	pop	af		; 1102  F1		q
	jr	z,X1102		; 1103  28 FD		(}
	pop	hl		; 1105  E1		a
	ld	(hl),25h	; 1106  36 25		6%
	ret			; 1108  C9		I
;
X1109:	push	hl		; 1109  E5		e
	rra			; 110A  1F		.
	jp	c,X11aa		; 110B  DA AA 11	Z*.
	jr	z,X1124		; 110E  28 14		(.
	ld	de,X1384	; 1110  11 84 13	...
	call	X0a49		; 1113  CD 49 0A	MI.
	ld	d,10h		; 1116  16 10		..
	jp	m,X1132		; 1118  FA 32 11	z2.
X111b:	pop	hl		; 111B  E1		a
	pop	bc		; 111C  C1		A
	call	X0fbd		; 111D  CD BD 0F	M=.
	dec	hl		; 1120  2B		+
	ld	(hl),25h	; 1121  36 25		6%
	ret			; 1123  C9		I
;
X1124:	ld	bc,Xb60e	; 1124  01 0E B6	..6
	ld	de,X1bca	; 1127  11 CA 1B	.J.
	call	X0a0c		; 112A  CD 0C 0A	M..
	jp	p,X111b		; 112D  F2 1B 11	r..
	ld	d,6		; 1130  16 06		..
X1132:	call	X0955		; 1132  CD 55 09	MU.
	call	nz,X1201	; 1135  C4 01 12	D..
	pop	hl		; 1138  E1		a
	pop	bc		; 1139  C1		A
	jp	m,X1157		; 113A  FA 57 11	zW.
	push	bc		; 113D  C5		E
	ld	e,a		; 113E  5F		_
	ld	a,b		; 113F  78		x
	sub	d		; 1140  92		.
	sub	e		; 1141  93		.
	call	p,X1269		; 1142  F4 69 12	ti.
	call	X127d		; 1145  CD 7D 12	M}.
	call	X12a4		; 1148  CD A4 12	M$.
	or	e		; 114B  B3		3
	call	nz,X1277	; 114C  C4 77 12	Dw.
	or	e		; 114F  B3		3
	call	nz,X1291	; 1150  C4 91 12	D..
	pop	de		; 1153  D1		Q
	jp	X10b6		; 1154  C3 B6 10	C6.
;
X1157:	ld	e,a		; 1157  5F		_
	ld	a,c		; 1158  79		y
	or	a		; 1159  B7		7
	call	nz,X0f16	; 115A  C4 16 0F	D..
	add	a,e		; 115D  83		.
	jp	m,X1162		; 115E  FA 62 11	zb.
	xor	a		; 1161  AF		/
X1162:	push	bc		; 1162  C5		E
	push	af		; 1163  F5		u
X1164:	call	m,X0f18		; 1164  FC 18 0F	|..
	jp	m,X1164		; 1167  FA 64 11	zd.
	pop	bc		; 116A  C1		A
	ld	a,e		; 116B  7B		{
	sub	b		; 116C  90		.
	pop	bc		; 116D  C1		A
	ld	e,a		; 116E  5F		_
	add	a,d		; 116F  82		.
	ld	a,b		; 1170  78		x
	jp	m,X117f		; 1171  FA 7F 11	z..
	sub	d		; 1174  92		.
	sub	e		; 1175  93		.
	call	p,X1269		; 1176  F4 69 12	ti.
	push	bc		; 1179  C5		E
	call	X127d		; 117A  CD 7D 12	M}.
	jr	X1190		; 117D  18 11		..
;
X117f:	call	X1269		; 117F  CD 69 12	Mi.
	ld	a,c		; 1182  79		y
	call	X1294		; 1183  CD 94 12	M..
	ld	c,a		; 1186  4F		O
	xor	a		; 1187  AF		/
	sub	d		; 1188  92		.
	sub	e		; 1189  93		.
	call	X1269		; 118A  CD 69 12	Mi.
	push	bc		; 118D  C5		E
	ld	b,a		; 118E  47		G
	ld	c,a		; 118F  4F		O
X1190:	call	X12a4		; 1190  CD A4 12	M$.
	pop	bc		; 1193  C1		A
	or	c		; 1194  B1		1
	jr	nz,X119a	; 1195  20 03		 .
	ld	hl,(X40f3)	; 1197  2A F3 40	*s@
X119a:	add	a,e		; 119A  83		.
	dec	a		; 119B  3D		=
	call	p,X1269		; 119C  F4 69 12	ti.
	ld	d,b		; 119F  50		P
	jp	X10bf		; 11A0  C3 BF 10	C?.
;
X11a3:	push	hl		; 11A3  E5		e
	push	de		; 11A4  D5		U
	call	X0acc		; 11A5  CD CC 0A	ML.
	pop	de		; 11A8  D1		Q
	xor	a		; 11A9  AF		/
X11aa:	jp	z,X11b0		; 11AA  CA B0 11	J0.
	ld	e,10h		; 11AD  1E 10		..
	ld	bc,X061e	; 11AF  01 1E 06	...
	call	X0955		; 11B2  CD 55 09	MU.
	scf			; 11B5  37		7
	call	nz,X1201	; 11B6  C4 01 12	D..
	pop	hl		; 11B9  E1		a
	pop	bc		; 11BA  C1		A
	push	af		; 11BB  F5		u
	ld	a,c		; 11BC  79		y
	or	a		; 11BD  B7		7
	push	af		; 11BE  F5		u
	call	nz,X0f16	; 11BF  C4 16 0F	D..
	add	a,b		; 11C2  80		.
	ld	c,a		; 11C3  4F		O
	ld	a,d		; 11C4  7A		z
	and	4		; 11C5  E6 04		f.
	cp	1		; 11C7  FE 01		~.
	sbc	a,a		; 11C9  9F		.
	ld	d,a		; 11CA  57		W
	add	a,c		; 11CB  81		.
	ld	c,a		; 11CC  4F		O
	sub	e		; 11CD  93		.
	push	af		; 11CE  F5		u
	push	bc		; 11CF  C5		E
X11d0:	call	m,X0f18		; 11D0  FC 18 0F	|..
	jp	m,X11d0		; 11D3  FA D0 11	zP.
	pop	bc		; 11D6  C1		A
	pop	af		; 11D7  F1		q
	push	bc		; 11D8  C5		E
	push	af		; 11D9  F5		u
	jp	m,X11de		; 11DA  FA DE 11	z^.
	xor	a		; 11DD  AF		/
X11de:	cpl			; 11DE  2F		/
	inc	a		; 11DF  3C		<
	add	a,b		; 11E0  80		.
	inc	a		; 11E1  3C		<
	add	a,d		; 11E2  82		.
	ld	b,a		; 11E3  47		G
	ld	c,0		; 11E4  0E 00		..
	call	X12a4		; 11E6  CD A4 12	M$.
	pop	af		; 11E9  F1		q
	call	p,X1271		; 11EA  F4 71 12	tq.
	pop	bc		; 11ED  C1		A
	pop	af		; 11EE  F1		q
	call	z,X092f		; 11EF  CC 2F 09	L/.
	pop	af		; 11F2  F1		q
	jr	c,X11f8		; 11F3  38 03		8.
	add	a,e		; 11F5  83		.
	sub	b		; 11F6  90		.
	sub	d		; 11F7  92		.
X11f8:	push	bc		; 11F8  C5		E
	call	X1074		; 11F9  CD 74 10	Mt.
	ex	de,hl		; 11FC  EB		k
	pop	de		; 11FD  D1		Q
	jp	X10bf		; 11FE  C3 BF 10	C?.
;
X1201:	push	de		; 1201  D5		U
	xor	a		; 1202  AF		/
	push	af		; 1203  F5		u
	rst	20h		; 1204  E7		g
	jp	po,X1222	; 1205  E2 22 12	b".
X1208:	ld	a,(X4124)	; 1208  3A 24 41	:$A
	cp	91h		; 120B  FE 91		~.
	jp	nc,X1222	; 120D  D2 22 12	R".
	ld	de,X1364	; 1210  11 64 13	.d.
	ld	hl,X4127	; 1213  21 27 41	!'A
	call	X09d3		; 1216  CD D3 09	MS.
	call	X0da1		; 1219  CD A1 0D	M!.
	pop	af		; 121C  F1		q
	sub	0ah		; 121D  D6 0A		V.
	push	af		; 121F  F5		u
	jr	X1208		; 1220  18 E6		.f
;
X1222:	call	X124f		; 1222  CD 4F 12	MO.
X1225:	rst	20h		; 1225  E7		g
	jr	nc,X1233	; 1226  30 0B		0.
	ld	bc,X9143	; 1228  01 43 91	.C.
	ld	de,X4ff9	; 122B  11 F9 4F	.yO
	call	X0a0c		; 122E  CD 0C 0A	M..
	jr	X1239		; 1231  18 06		..
;
X1233:	ld	de,X136c	; 1233  11 6C 13	.l.
	call	X0a49		; 1236  CD 49 0A	MI.
X1239:	jp	p,X124b		; 1239  F2 4B 12	rK.
	pop	af		; 123C  F1		q
	call	X0f0b		; 123D  CD 0B 0F	M..
	push	af		; 1240  F5		u
	jr	X1225		; 1241  18 E2		.b
;
X1243:	pop	af		; 1243  F1		q
	call	X0f18		; 1244  CD 18 0F	M..
	push	af		; 1247  F5		u
	call	X124f		; 1248  CD 4F 12	MO.
X124b:	pop	af		; 124B  F1		q
	or	a		; 124C  B7		7
	pop	de		; 124D  D1		Q
	ret			; 124E  C9		I
;
X124f:	rst	20h		; 124F  E7		g
	jp	pe,X125e	; 1250  EA 5E 12	j^.
	ld	bc,X9474	; 1253  01 74 94	.t.
	ld	de,X23f8	; 1256  11 F8 23	.x#
	call	X0a0c		; 1259  CD 0C 0A	M..
	jr	X1264		; 125C  18 06		..
;
X125e:	ld	de,X1374	; 125E  11 74 13	.t.
	call	X0a49		; 1261  CD 49 0A	MI.
X1264:	pop	hl		; 1264  E1		a
	jp	p,X1243		; 1265  F2 43 12	rC.
	jp	(hl)		; 1268  E9		i
;
X1269:	or	a		; 1269  B7		7
X126a:	ret	z		; 126A  C8		H
	dec	a		; 126B  3D		=
	ld	(hl),30h	; 126C  36 30		60
	inc	hl		; 126E  23		#
	jr	X126a		; 126F  18 F9		.y
;
X1271:	jr	nz,X1277	; 1271  20 04		 .
X1273:	ret	z		; 1273  C8		H
	call	X1291		; 1274  CD 91 12	M..
X1277:	ld	(hl),30h	; 1277  36 30		60
	inc	hl		; 1279  23		#
	dec	a		; 127A  3D		=
	jr	X1273		; 127B  18 F6		.v
;
X127d:	ld	a,e		; 127D  7B		{
	add	a,d		; 127E  82		.
	inc	a		; 127F  3C		<
	ld	b,a		; 1280  47		G
	inc	a		; 1281  3C		<
X1282:	sub	3		; 1282  D6 03		V.
	jr	nc,X1282	; 1284  30 FC		0|
	add	a,5		; 1286  C6 05		F.
	ld	c,a		; 1288  4F		O
X1289:	ld	a,(X40d8)	; 1289  3A D8 40	:X@
	and	blislowblok	; 128C  E6 40		f@
	ret	nz		; 128E  C0		@
	ld	c,a		; 128F  4F		O
	ret			; 1290  C9		I
;
X1291:	dec	b		; 1291  05		.
	jr	nz,X129c	; 1292  20 08		 .
X1294:	ld	(hl),2eh	; 1294  36 2E		6.
	ld	(X40f3),hl	; 1296  22 F3 40	"s@
	inc	hl		; 1299  23		#
	ld	c,b		; 129A  48		H
	ret			; 129B  C9		I
;
X129c:	dec	c		; 129C  0D		.
	ret	nz		; 129D  C0		@
	ld	(hl),2ch	; 129E  36 2C		6,
	inc	hl		; 12A0  23		#
	ld	c,3		; 12A1  0E 03		..
	ret			; 12A3  C9		I
;
X12a4:	push	de		; 12A4  D5		U
	rst	20h		; 12A5  E7		g
	jp	po,X12ea	; 12A6  E2 EA 12	bj.
	push	bc		; 12A9  C5		E
	push	hl		; 12AA  E5		e
	call	X09fc		; 12AB  CD FC 09	M|.
	ld	hl,X137c	; 12AE  21 7C 13	!|.
	call	X09f7		; 12B1  CD F7 09	Mw.
	call	X0c77		; 12B4  CD 77 0C	Mw.
	xor	a		; 12B7  AF		/
	call	X0b7b		; 12B8  CD 7B 0B	M{.
	pop	hl		; 12BB  E1		a
	pop	bc		; 12BC  C1		A
	ld	de,X138c	; 12BD  11 8C 13	...
	ld	a,0ah		; 12C0  3E 0A		>.
X12c2:	call	X1291		; 12C2  CD 91 12	M..
	push	bc		; 12C5  C5		E
	push	af		; 12C6  F5		u
	push	hl		; 12C7  E5		e
	push	de		; 12C8  D5		U
	ld	b,2fh		; 12C9  06 2F		./
X12cb:	inc	b		; 12CB  04		.
	pop	hl		; 12CC  E1		a
	push	hl		; 12CD  E5		e
	call	X0d48		; 12CE  CD 48 0D	MH.
	jr	nc,X12cb	; 12D1  30 F8		0x
	pop	hl		; 12D3  E1		a
	call	X0d36		; 12D4  CD 36 0D	M6.
	ex	de,hl		; 12D7  EB		k
	pop	hl		; 12D8  E1		a
	ld	(hl),b		; 12D9  70		p
	inc	hl		; 12DA  23		#
	pop	af		; 12DB  F1		q
	pop	bc		; 12DC  C1		A
	dec	a		; 12DD  3D		=
	jr	nz,X12c2	; 12DE  20 E2		 b
	push	bc		; 12E0  C5		E
	push	hl		; 12E1  E5		e
	ld	hl,X411d	; 12E2  21 1D 41	!.A
	call	X09b1		; 12E5  CD B1 09	M1.
	jr	X12f6		; 12E8  18 0C		..
;
X12ea:	push	bc		; 12EA  C5		E
	push	hl		; 12EB  E5		e
	call	X0708		; 12EC  CD 08 07	M..
	inc	a		; 12EF  3C		<
	call	X0afb		; 12F0  CD FB 0A	M{.
	call	X09b4		; 12F3  CD B4 09	M4.
X12f6:	pop	hl		; 12F6  E1		a
	pop	bc		; 12F7  C1		A
	xor	a		; 12F8  AF		/
	ld	de,X13d2	; 12F9  11 D2 13	.R.
X12fc:	ccf			; 12FC  3F		?
	call	X1291		; 12FD  CD 91 12	M..
	push	bc		; 1300  C5		E
	push	af		; 1301  F5		u
	push	hl		; 1302  E5		e
	push	de		; 1303  D5		U
	call	X09bf		; 1304  CD BF 09	M?.
	pop	hl		; 1307  E1		a
	ld	b,2fh		; 1308  06 2F		./
X130a:	inc	b		; 130A  04		.
	ld	a,e		; 130B  7B		{
	sub	(hl)		; 130C  96		.
	ld	e,a		; 130D  5F		_
	inc	hl		; 130E  23		#
	ld	a,d		; 130F  7A		z
	sbc	a,(hl)		; 1310  9E		.
	ld	d,a		; 1311  57		W
	inc	hl		; 1312  23		#
	ld	a,c		; 1313  79		y
	sbc	a,(hl)		; 1314  9E		.
	ld	c,a		; 1315  4F		O
	dec	hl		; 1316  2B		+
	dec	hl		; 1317  2B		+
	jr	nc,X130a	; 1318  30 F0		0p
	call	X07b7		; 131A  CD B7 07	M7.
	inc	hl		; 131D  23		#
	call	X09b4		; 131E  CD B4 09	M4.
	ex	de,hl		; 1321  EB		k
	pop	hl		; 1322  E1		a
	ld	(hl),b		; 1323  70		p
	inc	hl		; 1324  23		#
	pop	af		; 1325  F1		q
	pop	bc		; 1326  C1		A
	jr	c,X12fc		; 1327  38 D3		8S
	inc	de		; 1329  13		.
	inc	de		; 132A  13		.
	ld	a,4		; 132B  3E 04		>.
	jr	X1335		; 132D  18 06		..
;
X132f:	push	de		; 132F  D5		U
	ld	de,X13d8	; 1330  11 D8 13	.X.
	ld	a,5		; 1333  3E 05		>.
X1335:	call	X1291		; 1335  CD 91 12	M..
	push	bc		; 1338  C5		E
	push	af		; 1339  F5		u
	push	hl		; 133A  E5		e
	ex	de,hl		; 133B  EB		k
	ld	c,(hl)		; 133C  4E		N
	inc	hl		; 133D  23		#
	ld	b,(hl)		; 133E  46		F
	push	bc		; 133F  C5		E
	inc	hl		; 1340  23		#
	ex	(sp),hl		; 1341  E3		c
	ex	de,hl		; 1342  EB		k
	ld	hl,(X4121)	; 1343  2A 21 41	*!A
	ld	b,2fh		; 1346  06 2F		./
X1348:	inc	b		; 1348  04		.
X1349:	ld	a,l		; 1349  7D		}
	sub	e		; 134A  93		.
	ld	l,a		; 134B  6F		o
	ld	a,h		; 134C  7C		|
	sbc	a,d		; 134D  9A		.
	ld	h,a		; 134E  67		g
	jr	nc,X1348	; 134F  30 F7		0w
	add	hl,de		; 1351  19		.
	ld	(X4121),hl	; 1352  22 21 41	"!A
	pop	de		; 1355  D1		Q
	pop	hl		; 1356  E1		a
	ld	(hl),b		; 1357  70		p
	inc	hl		; 1358  23		#
	pop	af		; 1359  F1		q
	pop	bc		; 135A  C1		A
	dec	a		; 135B  3D		=
	jr	nz,X1335	; 135C  20 D7		 W
	call	X1291		; 135E  CD 91 12	M..
	ld	(hl),a		; 1361  77		w
	pop	de		; 1362  D1		Q
	ret			; 1363  C9		I
;
X1364:	nop			; 1364  00		.
;
	ORG	1368h
;
	ld	sp,hl		; 1368  F9		y
	ld	(bc),a		; 1369  02		.
	dec	d		; 136A  15		.
	and	d		; 136B  A2		"
X136c:	defb	0fdh,0ffh	; 136C  FD FF		}.
;
	sbc	a,a		; 136E  9F		.
	ld	sp,X5fa9	; 136F  31 A9 5F	1)_
	ld	h,e		; 1372  63		c
	or	d		; 1373  B2		2
X1374:	cp	0ffh		; 1374  FE FF		~.
	inc	bc		; 1376  03		.
	cp	a		; 1377  BF		?
	ret			; 1378  C9		I
;
	dec	de		; 1379  1B		.
	ld	c,0b6h		; 137A  0E B6		.6
X137c:	nop			; 137C  00		.
;
	ORG	1380h
;
X1380:	nop			; 1380  00		.
;
	ORG	1383h
;
	add	a,b		; 1383  80		.
X1384:	nop			; 1384  00		.
	nop			; 1385  00		.
	inc	b		; 1386  04		.
	cp	a		; 1387  BF		?
	ret			; 1388  C9		I
;
	dec	de		; 1389  1B		.
	ld	c,0b6h		; 138A  0E B6		.6
X138c:	nop			; 138C  00		.
	add	a,b		; 138D  80		.
	add	a,0a4h		; 138E  C6 A4		F$
	ld	a,(hl)		; 1390  7E		~
	adc	a,l		; 1391  8D		.
	inc	bc		; 1392  03		.
	nop			; 1393  00		.
	ld	b,b		; 1394  40		@
	ld	a,d		; 1395  7A		z
; 	djnz	X138b		; 1396  10 F3		.s
	defb	$10,$f3
	ld	e,d		; 1398  5A		Z
	nop			; 1399  00		.
	nop			; 139A  00		.
	and	b		; 139B  A0
	ld	(hl),d		; 139C  72		r
	ld	c,(hl)		; 139D  4E		N
	jr	X13a9		; 139E  18 09		..
;
	ORG	13a2h
;
	djnz	X1349		; 13A2  10 A5		.%
	call	nc,X00e8	; 13A4  D4 E8 00	Th.
	nop			; 13A7  00		.
	nop			; 13A8  00		.
X13a9:	ret	pe		; 13A9  E8		h
	halt			; 13AA  76		v
;
	ld	c,b		; 13AB  48		H
	rla			; 13AC  17		.
	nop			; 13AD  00		.
	nop			; 13AE  00		.
	nop			; 13AF  00		.
	call	po,X540b	; 13B0  E4 0B 54	d.T
	ld	(bc),a		; 13B3  02		.
	nop			; 13B4  00		.
	nop			; 13B5  00		.
	nop			; 13B6  00		.
	jp	z,X3b9a		; 13B7  CA 9A 3B	J.;
	nop			; 13BA  00		.
	nop			; 13BB  00		.
	nop			; 13BC  00		.
	nop			; 13BD  00		.
	pop	hl		; 13BE  E1		a
	push	af		; 13BF  F5		u
	dec	b		; 13C0  05		.
	nop			; 13C1  00		.
	nop			; 13C2  00		.
	nop			; 13C3  00		.
	add	a,b		; 13C4  80		.
	sub	(hl)		; 13C5  96		.
	sbc	a,b		; 13C6  98		.
	nop			; 13C7  00		.
	nop			; 13C8  00		.
	nop			; 13C9  00		.
	nop			; 13CA  00		.
	ld	b,b		; 13CB  40		@
	ld	b,d		; 13CC  42		B
	rrca			; 13CD  0F		.
	nop			; 13CE  00		.
	nop			; 13CF  00		.
	nop			; 13D0  00		.
	nop			; 13D1  00		.
X13d2:	and	b		; 13D2  A0
	add	a,(hl)		; 13D3  86		.
	ld	bc,X2710	; 13D4  01 10 27	..'
	nop			; 13D7  00		.
X13d8:	djnz	X1401		; 13D8  10 27		.'
	ret	pe		; 13DA  E8		h
	inc	bc		; 13DB  03		.
	ld	h,h		; 13DC  64		d
	nop			; 13DD  00		.
	ld	a,(bc)		; 13DE  0A		.
	nop			; 13DF  00		.
	ld	bc,X2100	; 13E0  01 00 21	..!
	add	a,d		; 13E3  82		.
	add	hl,bc		; 13E4  09		.
	ex	(sp),hl		; 13E5  E3		c
	add	hl,sp		; 13E6  39		9
	call	X09a4		; 13E7  CD A4 09	M$.
	ld	hl,X1380	; 13EA  21 80 13	!..
	call	X09b1		; 13ED  CD B1 09	M1.
	jr	X13f5		; 13F0  18 03		..
;
X13f2:	call	X0ab1		; 13F2  CD B1 0A	M1.
X13f5:	pop	bc		; 13F5  C1		A
	pop	de		; 13F6  D1		Q
	call	X0955		; 13F7  CD 55 09	MU.
	ld	a,b		; 13FA  78		x
	jr	z,X1439		; 13FB  28 3C		(<
	jp	p,X1404		; 13FD  F2 04 14	r..
	or	a		; 1400  B7		7
X1401:	jp	z,X199a		; 1401  CA 9A 19	J..
X1404:	or	a		; 1404  B7		7
	jp	z,X0779		; 1405  CA 79 07	Jy.
	push	de		; 1408  D5		U
	push	bc		; 1409  C5		E
	ld	a,c		; 140A  79		y
	or	7fh		; 140B  F6 7F		v.
	call	X09bf		; 140D  CD BF 09	M?.
	jp	p,X1421		; 1410  F2 21 14	r!.
	push	de		; 1413  D5		U
	push	bc		; 1414  C5		E
	call	X0b40		; 1415  CD 40 0B	M@.
	pop	bc		; 1418  C1		A
	pop	de		; 1419  D1		Q
	push	af		; 141A  F5		u
	call	X0a0c		; 141B  CD 0C 0A	M..
X141e:	pop	hl		; 141E  E1		a
	ld	a,h		; 141F  7C		|
	rra			; 1420  1F		.
X1421:	pop	hl		; 1421  E1		a
	ld	(X4123),hl	; 1422  22 23 41	"#A
	pop	hl		; 1425  E1		a
	ld	(X4121),hl	; 1426  22 21 41	"!A
	call	c,X13e2		; 1429  DC E2 13	\b.
	call	z,X0982		; 142C  CC 82 09	L..
	push	de		; 142F  D5		U
	push	bc		; 1430  C5		E
	call	X0809		; 1431  CD 09 08	M..
	pop	bc		; 1434  C1		A
	pop	de		; 1435  D1		Q
	call	X0847		; 1436  CD 47 08	MG.
X1439:	call	X09a4		; 1439  CD A4 09	M$.
	ld	bc,X8138	; 143C  01 38 81	.8.
	ld	de,Xaa3b	; 143F  11 3B AA	.;*
	call	X0847		; 1442  CD 47 08	MG.
	ld	a,(X4124)	; 1445  3A 24 41	:$A
	cp	crtram2dat	; 1448  FE 88		~.
	jp	nc,X0931	; 144A  D2 31 09	R1.
	call	X0b40		; 144D  CD 40 0B	M@.
	add	a,crtram0dat	; 1450  C6 80		F.
	add	a,2		; 1452  C6 02		F.
	jp	c,X0931		; 1454  DA 31 09	Z1.
	push	af		; 1457  F5		u
	ld	hl,X07f8	; 1458  21 F8 07	!x.
	call	X070b		; 145B  CD 0B 07	M..
	call	X0841		; 145E  CD 41 08	MA.
	pop	af		; 1461  F1		q
	pop	bc		; 1462  C1		A
	pop	de		; 1463  D1		Q
	push	af		; 1464  F5		u
	call	X0713		; 1465  CD 13 07	M..
	call	X0982		; 1468  CD 82 09	M..
	ld	hl,X1479	; 146B  21 79 14	!y.
	call	X14a9		; 146E  CD A9 14	M).
	ld	de,X0000	; 1471  11 00 00	...
	pop	bc		; 1474  C1		A
	ld	c,d		; 1475  4A		J
	jp	X0847		; 1476  C3 47 08	CG.
;
X1479:	ex	af,af'		; 1479  08		.
	ld	b,b		; 147A  40		@
	ld	l,94h		; 147B  2E 94		..
;
	defb	'tpO.wn'				; 147D
;
	ld	(bc),a		; 1483  02		.
	adc	a,b		; 1484  88		.
	ld	a,d		; 1485  7A		z
	and	0a0h		; 1486  E6 A0		f
	ld	hl,(X507c)	; 1488  2A 7C 50	*|P
	xor	d		; 148B  AA		*
	xor	d		; 148C  AA		*
	ld	a,(hl)		; 148D  7E		~
	rst	38h		; 148E  FF		.
	rst	38h		; 148F  FF		.
	ld	a,a		; 1490  7F		.
	ld	a,a		; 1491  7F		.
	nop			; 1492  00		.
	nop			; 1493  00		.
	add	a,b		; 1494  80		.
	add	a,c		; 1495  81		.
	nop			; 1496  00		.
	nop			; 1497  00		.
	nop			; 1498  00		.
	add	a,c		; 1499  81		.
X149a:	call	X09a4		; 149A  CD A4 09	M$.
	ld	de,X0c32	; 149D  11 32 0C	.2.
	push	de		; 14A0  D5		U
	push	hl		; 14A1  E5		e
	call	X09bf		; 14A2  CD BF 09	M?.
	call	X0847		; 14A5  CD 47 08	MG.
	pop	hl		; 14A8  E1		a
X14a9:	call	X09a4		; 14A9  CD A4 09	M$.
	ld	a,(hl)		; 14AC  7E		~
	inc	hl		; 14AD  23		#
	call	X09b1		; 14AE  CD B1 09	M1.
	ld	b,0f1h		; 14B1  06 F1		.q
	pop	bc		; 14B3  C1		A
	pop	de		; 14B4  D1		Q
	dec	a		; 14B5  3D		=
	ret	z		; 14B6  C8		H
	push	de		; 14B7  D5		U
	push	bc		; 14B8  C5		E
	push	af		; 14B9  F5		u
	push	hl		; 14BA  E5		e
	call	X0847		; 14BB  CD 47 08	MG.
	pop	hl		; 14BE  E1		a
	call	X09c2		; 14BF  CD C2 09	MB.
	push	hl		; 14C2  E5		e
	call	X0716		; 14C3  CD 16 07	M..
	pop	hl		; 14C6  E1		a
; 	jr	X14b2		; 14C7  18 E9		.i
	defb	$18,$e9
;
	call	X0a7f		; 14C9  CD 7F 0A	M..
	ld	a,h		; 14CC  7C		|
	or	a		; 14CD  B7		7
	jp	m,X1e4a		; 14CE  FA 4A 1E	zJ.
	or	l		; 14D1  B5		5
	jp	z,X14f0		; 14D2  CA F0 14	Jp.
	push	hl		; 14D5  E5		e
	call	X14f0		; 14D6  CD F0 14	Mp.
	call	X09bf		; 14D9  CD BF 09	M?.
	ex	de,hl		; 14DC  EB		k
	ex	(sp),hl		; 14DD  E3		c
	push	bc		; 14DE  C5		E
	call	X0acf		; 14DF  CD CF 0A	MO.
	pop	bc		; 14E2  C1		A
	pop	de		; 14E3  D1		Q
	call	X0847		; 14E4  CD 47 08	MG.
	ld	hl,X07f8	; 14E7  21 F8 07	!x.
	call	X070b		; 14EA  CD 0B 07	M..
	jp	X0b40		; 14ED  C3 40 0B	C@.
;
X14f0:	ld	hl,X4090	; 14F0  21 90 40	!.@
	push	hl		; 14F3  E5		e
	ld	de,X0000	; 14F4  11 00 00	...
	ld	c,e		; 14F7  4B		K
	ld	h,3		; 14F8  26 03		&.
X14fa:	ld	l,8		; 14FA  2E 08		..
X14fc:	ex	de,hl		; 14FC  EB		k
	add	hl,hl		; 14FD  29		)
	ex	de,hl		; 14FE  EB		k
	ld	a,c		; 14FF  79		y
	rla			; 1500  17		.
	ld	c,a		; 1501  4F		O
	ex	(sp),hl		; 1502  E3		c
	ld	a,(hl)		; 1503  7E		~
	rlca			; 1504  07		.
	ld	(hl),a		; 1505  77		w
	ex	(sp),hl		; 1506  E3		c
	jp	nc,X1516	; 1507  D2 16 15	R..
	push	hl		; 150A  E5		e
	ld	hl,(X40aa)	; 150B  2A AA 40	**@
	add	hl,de		; 150E  19		.
	ex	de,hl		; 150F  EB		k
	ld	a,(X40ac)	; 1510  3A AC 40	:,@
	adc	a,c		; 1513  89		.
	ld	c,a		; 1514  4F		O
	pop	hl		; 1515  E1		a
X1516:	dec	l		; 1516  2D		-
	jp	nz,X14fc	; 1517  C2 FC 14	B|.
	ex	(sp),hl		; 151A  E3		c
	inc	hl		; 151B  23		#
	ex	(sp),hl		; 151C  E3		c
	dec	h		; 151D  25		%
	jp	nz,X14fa	; 151E  C2 FA 14	Bz.
	pop	hl		; 1521  E1		a
	ld	hl,Xb065	; 1522  21 65 B0	!e0
	add	hl,de		; 1525  19		.
	ld	(X40aa),hl	; 1526  22 AA 40	"*@
	call	X0aef		; 1529  CD EF 0A	Mo.
	ld	a,5		; 152C  3E 05		>.
	adc	a,c		; 152E  89		.
	ld	(X40ac),a	; 152F  32 AC 40	2,@
	ex	de,hl		; 1532  EB		k
	ld	b,crtram0dat	; 1533  06 80		..
	ld	hl,X4125	; 1535  21 25 41	!%A
	ld	(hl),b		; 1538  70		p
	dec	hl		; 1539  2B		+
	ld	(hl),b		; 153A  70		p
	ld	c,a		; 153B  4F		O
	ld	b,0		; 153C  06 00		..
	jp	X0765		; 153E  C3 65 07	Ce.
;
X1541:	ld	hl,X158b	; 1541  21 8B 15	!..
	call	X070b		; 1544  CD 0B 07	M..
X1547:	call	X09a4		; 1547  CD A4 09	M$.
	ld	bc,X8349	; 154A  01 49 83	.I.
	ld	de,X0fdb	; 154D  11 DB 0F	.[.
	call	X09b4		; 1550  CD B4 09	M4.
	pop	bc		; 1553  C1		A
	pop	de		; 1554  D1		Q
	call	X08a2		; 1555  CD A2 08	M".
	call	X09a4		; 1558  CD A4 09	M$.
	call	X0b40		; 155B  CD 40 0B	M@.
	pop	bc		; 155E  C1		A
	pop	de		; 155F  D1		Q
	call	X0713		; 1560  CD 13 07	M..
	ld	hl,X158f	; 1563  21 8F 15	!..
	call	X0710		; 1566  CD 10 07	M..
	call	X0955		; 1569  CD 55 09	MU.
	scf			; 156C  37		7
	jp	p,X1577		; 156D  F2 77 15	rw.
	call	X0708		; 1570  CD 08 07	M..
	call	X0955		; 1573  CD 55 09	MU.
	or	a		; 1576  B7		7
X1577:	push	af		; 1577  F5		u
	call	p,X0982		; 1578  F4 82 09	t..
	ld	hl,X158f	; 157B  21 8F 15	!..
	call	X070b		; 157E  CD 0B 07	M..
	pop	af		; 1581  F1		q
	call	nc,X0982	; 1582  D4 82 09	T..
	ld	hl,X1593	; 1585  21 93 15	!..
	jp	X149a		; 1588  C3 9A 14	C..
;
X158b:	in	a,(0fh)		; 158B  DB 0F		[.
	ld	c,c		; 158D  49		I
	add	a,c		; 158E  81		.
X158f:	nop			; 158F  00		.
;
	ORG	1592h
;
	ld	a,a		; 1592  7F		.
X1593:	dec	b		; 1593  05		.
	cp	d		; 1594  BA		:
	rst	10h		; 1595  D7		W
	ld	e,crtram1cnt	; 1596  1E 86		..
	ld	h,h		; 1598  64		d
	ld	h,99h		; 1599  26 99		&.
	add	a,a		; 159B  87		.
	ld	e,b		; 159C  58		X
	inc	(hl)		; 159D  34		4
	inc	hl		; 159E  23		#
	add	a,a		; 159F  87		.
	ret	po		; 15A0  E0		`
	ld	e,l		; 15A1  5D		]
	and	l		; 15A2  A5		%
	add	a,(hl)		; 15A3  86		.
	jp	c,X490f		; 15A4  DA 0F 49	Z.I
	add	a,e		; 15A7  83		.
	call	X09a4		; 15A8  CD A4 09	M$.
	call	X1547		; 15AB  CD 47 15	MG.
	pop	bc		; 15AE  C1		A
	pop	hl		; 15AF  E1		a
	call	X09a4		; 15B0  CD A4 09	M$.
	ex	de,hl		; 15B3  EB		k
	call	X09b4		; 15B4  CD B4 09	M4.
	call	X1541		; 15B7  CD 41 15	MA.
	jp	X08a0		; 15BA  C3 A0 08	C .
;
	call	X0955		; 15BD  CD 55 09	MU.
	call	m,X13e2		; 15C0  FC E2 13	|b.
	call	m,X0982		; 15C3  FC 82 09	|..
	ld	a,(X4124)	; 15C6  3A 24 41	:$A
	cp	crtprntdat	; 15C9  FE 81		~.
	jr	c,X15d9		; 15CB  38 0C		8.
	ld	bc,X8100	; 15CD  01 00 81	...
	ld	d,c		; 15D0  51		Q
	ld	e,c		; 15D1  59		Y
	call	X08a2		; 15D2  CD A2 08	M".
	ld	hl,X0710	; 15D5  21 10 07	!..
	push	hl		; 15D8  E5		e
X15d9:	ld	hl,X15e3	; 15D9  21 E3 15	!c.
	call	X149a		; 15DC  CD 9A 14	M..
	ld	hl,X158b	; 15DF  21 8B 15	!..
	ret			; 15E2  C9		I
;
X15e3:	add	hl,bc		; 15E3  09		.
	ld	c,d		; 15E4  4A		J
	rst	10h		; 15E5  D7		W
	dec	sp		; 15E6  3B		;
	ld	a,b		; 15E7  78		x
	ld	(bc),a		; 15E8  02		.
	ld	l,(hl)		; 15E9  6E		n
	add	a,h		; 15EA  84		.
	ld	a,e		; 15EB  7B		{
	cp	0c1h		; 15EC  FE C1		~A
	cpl			; 15EE  2F		/
	ld	a,h		; 15EF  7C		|
	ld	(hl),h		; 15F0  74		t
	ld	sp,X7d9a	; 15F1  31 9A 7D	1.}
	add	a,h		; 15F4  84		.
	dec	a		; 15F5  3D		=
	ld	e,d		; 15F6  5A		Z
	ld	a,l		; 15F7  7D		}
	ret	z		; 15F8  C8		H
	ld	a,a		; 15F9  7F		.
	sub	c		; 15FA  91		.
	ld	a,(hl)		; 15FB  7E		~
	call	po,X4cbb	; 15FC  E4 BB 4C	d;L
	ld	a,(hl)		; 15FF  7E		~
	ld	l,h		; 1600  6C		l
	xor	d		; 1601  AA		*
	xor	d		; 1602  AA		*
	ld	a,a		; 1603  7F		.
;
	defb	0,0,0,crtprntdat			; 1604 ....
X1608:	defw	98ah		; 1608   8A 09      ..
	defw	0b37h		; 160A   37 0B      7.
	defw	977h		; 160C   77 09      w.
	defw	27d4h		; 160E   D4 27      T'
	defw	2aefh		; 1610   EF 2A      o*
	defw	27f5h		; 1612   F5 27      u'
	defw	13e7h		; 1614   E7 13      g.
	defw	14c9h		; 1616   C9 14      I.
	defw	809h		; 1618   09 08      ..
	defw	1439h		; 161A   39 14      9.
	defw	1541h		; 161C   41 15      A.
	defw	1547h		; 161E   47 15      G.
	defw	15a8h		; 1620   A8 15      (.
	defw	15bdh		; 1622   BD 15      =.
	defw	2caah		; 1624   AA 2C      *,
	defw	4152h		; 1626   52 41      RA
	defw	4158h		; 1628   58 41      XA
	defw	415eh		; 162A   5E 41      ^A
	defw	4161h		; 162C   61 41      aA
	defw	4164h		; 162E   64 41      dA
	defw	4167h		; 1630   67 41      gA
	defw	416ah		; 1632   6A 41      jA
	defw	416dh		; 1634   6D 41      mA
	defw	4170h		; 1636   70 41      pA
	defw	0a7fh		; 1638   7F 0A      ..
	defw	0ab1h		; 163A   B1 0A      1.
	defw	0adbh		; 163C   DB 0A      [.
	defw	0b26h		; 163E   26 0B      &.
	defw	2a03h		; 1640   03 2A      .*
	defw	2836h		; 1642   36 28      6(
	defw	2ac5h		; 1644   C5 2A      E*
	defw	2a0fh		; 1646   0F 2A      .*
	defw	2a1fh		; 1648   1F 2A      .*
	defw	2a61h		; 164A   61 2A      a*
	defw	2a91h		; 164C   91 2A      .*
;
; 	defw	2a9ah		; 164E   9A 2A      .*
	defb	$9a
X164F:	defb	$2a
;
X1650:	defb	'E'+80h					; 1650 E
	defb	'ND'					; 1651
	defb	'F'+80h					; 1653 F
	defb	'OR'					; 1654
	defb	fdcsectreg				; 1656 R
	defb	'ESET'					; 1657
	defb	'S'+80h					; 165B S
	defb	'ET'					; 165C
	defb	'C'+80h					; 165E C
	defb	'LS'					; 165F
	defb	'C'+80h					; 1661 C
	defb	'MD'					; 1662
	defb	fdcsectreg				; 1664 R
	defb	'ANDOM'					; 1665
	defb	'N'+80h					; 166A N
	defb	'EXT'					; 166B
	defb	'D'+80h					; 166E D
	defb	'ATA'					; 166F
	defb	'I'+80h					; 1672 I
	defb	'NPUT'					; 1673
	defb	'D'+80h					; 1677 D
	defb	'IM'					; 1678
	defb	fdcsectreg				; 167A R
	defb	'EAD'					; 167B
	defb	'L'+80h					; 167E L
	defb	'ET'					; 167F
	defb	'G'+80h					; 1681 G
	defb	'OTO'					; 1682
	defb	fdcsectreg				; 1685 R
	defb	'UN'					; 1686
	defb	'I'+80h					; 1688 I
	defb	'F'					; 1689
	defb	fdcsectreg				; 168A R
	defb	'ESTORE'				; 168B
	defb	'G'+80h					; 1691 G
	defb	'OSUB'					; 1692
	defb	fdcsectreg				; 1696 R
	defb	'ETURN'					; 1697
	defb	fdcsectreg				; 169C R
	defb	'EM'					; 169D
	defb	'S'+80h					; 169F S
	defb	'TOP'					; 16A0
	defb	'E'+80h					; 16A3 E
	defb	'LSE'					; 16A4
	defb	'T'+80h					; 16A7 T
	defb	'RON'					; 16A8
	defb	'T'+80h					; 16AB T
	defb	'ROFF'					; 16AC
	defb	'D'+80h					; 16B0 D
	defb	'EFSTR'					; 16B1
	defb	'D'+80h					; 16B6 D
	defb	'EFINT'					; 16B7
	defb	'D'+80h					; 16BC D
	defb	'EFSNG'					; 16BD
	defb	'D'+80h					; 16C2 D
	defb	'EFDBL'					; 16C3
	defb	'L'+80h					; 16C8 L
	defb	'INE'					; 16C9
	defb	'E'+80h					; 16CC E
	defb	'DIT'					; 16CD
	defb	'E'+80h					; 16D0 E
	defb	'RROR'					; 16D1
	defb	fdcsectreg				; 16D5 R
	defb	'ESUME'					; 16D6
	defb	'O'+80h					; 16DB O
	defb	'UT'					; 16DC
	defb	'O'+80h					; 16DE O
	defb	'N'					; 16DF
	defb	'O'+80h					; 16E0 O
	defb	'PEN'					; 16E1
	defb	'F'+80h					; 16E4 F
	defb	'IELD'					; 16E5
	defb	'G'+80h					; 16E9 G
	defb	'ET'					; 16EA
	defb	fdccmdstatr				; 16EC P
	defb	'UT'					; 16ED
	defb	'C'+80h					; 16EF C
	defb	'LOSE'					; 16F0
	defb	'L'+80h					; 16F4 L
	defb	'OAD'					; 16F5
	defb	'M'+80h					; 16F8 M
	defb	'ERGE'					; 16F9
	defb	'F'+80h					; 16FD F
	defb	'IND'					; 16FE
	defb	'K'+80h					; 1701 K
	defb	'ILL'					; 1702
	defb	'L'+80h					; 1705 L
	defb	'SET'					; 1706
	defb	fdcsectreg				; 1709 R
	defb	'SET'					; 170A
	defb	'S'+80h					; 170D S
	defb	'AVE'					; 170E
	defb	'S'+80h					; 1711 S
	defb	'YSTEM'					; 1712
	defb	'L'+80h					; 1717 L
	defb	'PRINT'					; 1718
	defb	'D'+80h					; 171D D
	defb	'EF'					; 171E
	defb	fdccmdstatr				; 1720 P
	defb	'OKE'					; 1721
	defb	fdccmdstatr				; 1724 P
	defb	'RINT'					; 1725
	defb	'C'+80h					; 1729 C
	defb	'ONT'					; 172A
	defb	'L'+80h					; 172D L
	defb	'IST'					; 172E
	defb	'L'+80h					; 1731 L
	defb	'LIST'					; 1732
	defb	'D'+80h					; 1736 D
	defb	'ELET'					; 1737
	defb	'A'+80h					; 173B A
	defb	'UTO'					; 173C
	defb	'C'+80h					; 173F C
	defb	'LEAR'					; 1740
	defb	fdcsectreg				; 1744 R
	defb	'EVERS'					; 1745
	defb	fdcsectreg				; 174A R
	defb	'EV'					; 174B
	defb	'N'+80h					; 174D N
	defb	'EW'					; 174E
	defb	'T'+80h					; 1750 T
	defb	'AB('					; 1751
	defb	'T'+80h					; 1754 T
	defb	'O'					; 1755
	defb	'F'+80h					; 1756 F
	defb	'N'					; 1757
	defb	'U'+80h					; 1758 U
	defb	'SING'					; 1759
	defb	fdcdrvrcnt				; 175D V
	defb	'ARPTR'					; 175E
	defb	'U'+80h					; 1763 U
	defb	'SR'					; 1764
	defb	'E'+80h					; 1766 E
	defb	'RL'					; 1767
	defb	'E'+80h					; 1769 E
	defb	'RR'					; 176A
	defb	'S'+80h					; 176C S
	defb	'TRING$'				; 176D
	defb	'I'+80h					; 1773 I
	defb	'NSTR'					; 1774
	defb	fdccmdstatr				; 1778 P
	defb	'OINT'					; 1779
	defb	'T'+80h					; 177D T
	defb	'IME$'					; 177E
	defb	'M'+80h					; 1782 M
	defb	'EM'					; 1783
	defb	'I'+80h					; 1785 I
	defb	'NKEY$'					; 1786
	defb	'T'+80h					; 178B T
	defb	'HEN'					; 178C
	defb	'N'+80h					; 178F N
	defb	'OT'					; 1790
	defb	'S'+80h					; 1792 S
	defb	'TEP'					; 1793
	defb	'+'+80h,'-'+80h,'*'+80h,'/'+80h,'^'+80h,'A'+80h	; 1796 +-*/^A
	defb	'ND'					; 179C
	defb	'O'+80h					; 179E O
	defb	'R'					; 179F
	defb	'>'+80h,'='+80h,'<'+80h,'S'+80h		; 17A0 >=<S
	defb	'GN'					; 17A4
	defb	'I'+80h					; 17A6 I
	defb	'NT'					; 17A7
	defb	'A'+80h					; 17A9 A
	defb	'BS'					; 17AA
	defb	'F'+80h					; 17AC F
	defb	'RE'					; 17AD
	defb	'I'+80h					; 17AF I
	defb	'NP'					; 17B0
	defb	fdccmdstatr				; 17B2 P
	defb	'OS'					; 17B3
	defb	'S'+80h					; 17B5 S
	defb	'QR'					; 17B6
	defb	fdcsectreg				; 17B8 R
	defb	'ND'					; 17B9
	defb	'L'+80h					; 17BB L
	defb	'OG'					; 17BC
	defb	'E'+80h					; 17BE E
	defb	'XP'					; 17BF
	defb	'C'+80h					; 17C1 C
	defb	'OS'					; 17C2
	defb	'S'+80h					; 17C4 S
	defb	'IN'					; 17C5
	defb	'T'+80h					; 17C7 T
	defb	'AN'					; 17C8
	defb	'A'+80h					; 17CA A
	defb	'TN'					; 17CB
	defb	fdccmdstatr				; 17CD P
	defb	'EEK'					; 17CE
	defb	'C'+80h					; 17D1 C
	defb	'VI'					; 17D2
X17d4:	defb	'C'+80h					; 17D4 C
	defb	'VS'					; 17D5
	defb	'C'+80h					; 17D7 C
	defb	'VD'					; 17D8
	defb	'E'+80h					; 17DA E
	defb	'OF'					; 17DB
	defb	'L'+80h					; 17DD L
	defb	'OC'					; 17DE
	defb	'L'+80h					; 17E0 L
	defb	'OF'					; 17E1
	defb	'M'+80h					; 17E3 M
	defb	'KI$'					; 17E4
	defb	'M'+80h					; 17E7 M
	defb	'KS$'					; 17E8
	defb	'M'+80h					; 17EB M
	defb	'KD$'					; 17EC
	defb	'C'+80h					; 17EF C
	defb	'INT'					; 17F0
	defb	'C'+80h					; 17F3 C
	defb	'SNG'					; 17F4
	defb	'C'+80h					; 17F7 C
	defb	'DBL'					; 17F8
	defb	'F'+80h					; 17FB F
	defb	'IX'					; 17FC
	defb	'L'+80h					; 17FE L
	defb	'EN'					; 17FF
	defb	'S'+80h					; 1801 S
	defb	'TR$'					; 1802
	defb	fdcdrvrcnt				; 1805 V
	defb	'AL'					; 1806
	defb	'A'+80h					; 1808 A
	defb	'SC'					; 1809
	defb	'C'+80h					; 180B C
	defb	'HR$'					; 180C
	defb	'L'+80h					; 180F L
	defb	'EFT$'					; 1810
	defb	fdcsectreg				; 1814 R
	defb	'IGHT$'					; 1815
	defb	'M'+80h					; 181A M
	defb	'ID$'					; 181B
;
	and	a		; 181E  A7		'
	add	a,b		; 181F  80		.
	nop			; 1820  00		.
	nop			; 1821  00		.
X1822:	xor	(hl)		; 1822  AE		.
	dec	e		; 1823  1D		.
	and	c		; 1824  A1		!
	inc	e		; 1825  1C		.
	jr	c,X1829		; 1826  38 01		8.
	dec	(hl)		; 1828  35		5
X1829:	ld	bc,X01c9	; 1829  01 C9 01	.I.
	ld	(hl),e		; 182C  73		s
	ld	b,c		; 182D  41		A
	out	(1),a		; 182E  D3 01		S.
	or	(hl)		; 1830  B6		6
	ld	(X1f05),hl	; 1831  22 05 1F	"..
	sbc	a,d		; 1834  9A		.
	ld	hl,X2608	; 1835  21 08 26	!.&
	rst	28h		; 1838  EF		o
	ld	hl,X1f21	; 1839  21 21 1F	!!.
	jp	nz,Xa31e	; 183C  C2 1E A3	B.#
	ld	e,rst7sp2	; 183F  1E 39		.9
	jr	nz,X17d4	; 1841  20 91		 .
	dec	e		; 1843  1D		.
	or	c		; 1844  B1		1
	ld	e,0deh		; 1845  1E DE		.^
	ld	e,7		; 1847  1E 07		..
	rra			; 1849  1F		.
	xor	c		; 184A  A9		)
	dec	e		; 184B  1D		.
	rlca			; 184C  07		.
	rra			; 184D  1F		.
	rst	30h		; 184E  F7		w
	dec	e		; 184F  1D		.
	ret	m		; 1850  F8		x
	dec	e		; 1851  1D		.
	nop			; 1852  00		.
	ld	e,3		; 1853  1E 03		..
	ld	e,6		; 1855  1E 06		..
	ld	e,9		; 1857  1E 09		..
	ld	e,0a3h		; 1859  1E A3		.#
	ld	b,c		; 185B  41		A
	ld	h,b		; 185C  60		`
	ld	l,0f4h		; 185D  2E F4		.t
	rra			; 185F  1F		.
	xor	a		; 1860  AF		/
	rra			; 1861  1F		.
	ei			; 1862  FB		{
	ld	hl,(X1f6c)	; 1863  2A 6C 1F	*l.
	ld	a,c		; 1866  79		y
	ld	b,c		; 1867  41		A
	ld	a,h		; 1868  7C		|
	ld	b,c		; 1869  41		A
	ld	a,a		; 186A  7F		.
	ld	b,c		; 186B  41		A
	add	a,d		; 186C  82		.
X186d:	ld	b,c		; 186D  41		A
	add	a,l		; 186E  85		.
	ld	b,c		; 186F  41		A
	adc	a,b		; 1870  88		.
	ld	b,c		; 1871  41		A
	adc	a,e		; 1872  8B		.
	ld	b,c		; 1873  41		A
	cp	d		; 1874  BA		:
	ld	h,h		; 1875  64		d
	sub	c		; 1876  91		.
	ld	b,c		; 1877  41		A
	sub	a		; 1878  97		.
	ld	b,c		; 1879  41		A
	sbc	a,d		; 187A  9A		.
	ld	b,c		; 187B  41		A
	inc	hl		; 187C  23		#
	ld	bc,X030b	; 187D  01 0B 03	...
	ld	h,a		; 1880  67		g
	jr	nz,X18de	; 1881  20 5B		 [
	ld	b,c		; 1883  41		A
	or	c		; 1884  B1		1
	inc	l		; 1885  2C		,
	ld	l,a		; 1886  6F		o
	jr	nz,X186d	; 1887  20 E4		 d
	dec	e		; 1889  1D		.
	ld	l,2bh		; 188A  2E 2B		.+
	add	hl,hl		; 188C  29		)
	dec	hl		; 188D  2B		+
	add	a,2bh		; 188E  C6 2B		F+
	ex	af,af'		; 1890  08		.
	jr	nz,X190d	; 1891  20 7A		 z
	ld	e,0f5h		; 1893  1E F5		.u
	dec	hl		; 1895  2B		+
	push	af		; 1896  F5		u
	dec	hl		; 1897  2B		+
	ld	c,c		; 1898  49		I
	dec	de		; 1899  1B		.
X189a:	ld	a,c		; 189A  79		y
	ld	a,c		; 189B  79		y
	ld	a,h		; 189C  7C		|
	ld	a,h		; 189D  7C		|
	ld	a,a		; 189E  7F		.
	ld	d,b		; 189F  50		P
	ld	b,(hl)		; 18A0  46		F
X18a1:	in	a,(0ah)		; 18A1  DB 0A		[.
	nop			; 18A3  00		.
	nop			; 18A4  00		.
	ld	a,a		; 18A5  7F		.
	ld	a,(bc)		; 18A6  0A		.
	call	p,Xb10a		; 18A7  F4 0A B1	t.1
	ld	a,(bc)		; 18AA  0A		.
X18ab:	ld	(hl),a		; 18AB  77		w
	inc	c		; 18AC  0C		.
	ld	(hl),b		; 18AD  70		p
	inc	c		; 18AE  0C		.
	and	c		; 18AF  A1		!
	dec	c		; 18B0  0D		.
	push	hl		; 18B1  E5		e
	dec	c		; 18B2  0D		.
	ld	a,b		; 18B3  78		x
	ld	a,(bc)		; 18B4  0A		.
X18b5:	ld	d,7		; 18B5  16 07		..
	inc	de		; 18B7  13		.
	rlca			; 18B8  07		.
	ld	b,a		; 18B9  47		G
	ex	af,af'		; 18BA  08		.
	and	d		; 18BB  A2		"
	ex	af,af'		; 18BC  08		.
	inc	c		; 18BD  0C		.
	ld	a,(bc)		; 18BE  0A		.
X18bf:	jp	nc,Xc70b	; 18BF  D2 0B C7	R.G
	dec	bc		; 18C2  0B		.
	jp	p,X900b		; 18C3  F2 0B 90	r..
	inc	h		; 18C6  24		$
	add	hl,sp		; 18C7  39		9
	ld	a,(bc)		; 18C8  0A		.
;
X18C9:	defb	'NFSNRGODFCOVOMULBSDD/'			; 18C9
X18DE:	defb	'0IDTMOSLSSTCNNRRWUEMOFDSN'		; 18DE
	defb	fdcdrvrcnt,0				; 18F7 V.
;
	ld	l,a		; 18F9  6F		o
	ld	a,h		; 18FA  7C		|
	sbc	a,0		; 18FB  DE 00		^.
	ld	h,a		; 18FD  67		g
	ld	a,b		; 18FE  78		x
	sbc	a,0		; 18FF  DE 00		^.
	ld	b,a		; 1901  47		G
	ld	a,0		; 1902  3E 00		>.
	ret			; 1904  C9		I
;
	ld	c,d		; 1905  4A		J
	ld	e,blislowblok	; 1906  1E 40		.@
	and	kbdbyte		; 1908  E6 4D		fM
	in	a,(0)		; 190A  DB 00		[.
	ret			; 190C  C9		I
;
X190d:	out	(0),a		; 190D  D3 00		S.
	ret			; 190F  C9		I
;
	nop			; 1910  00		.
	nop			; 1911  00		.
	nop			; 1912  00		.
	nop			; 1913  00		.
	ld	d,b		; 1914  50		P
	jr	X1917		; 1915  18 00		..
;
X1917:	ld	c,h		; 1917  4C		L
	ld	b,e		; 1918  43		C
	cp	0ffh		; 1919  FE FF		~.
	jp	(hl)		; 191B  E9		i
;
	ld	b,d		; 191C  42		B
X191d:	djnz	X1964		; 191D  10 45		.E
	ld	(hl),d		; 191F  72		r
	ld	(hl),d		; 1920  72		r
	ld	l,a		; 1921  6F		o
	ld	(hl),d		; 1922  72		r
	nop			; 1923  00		.
; X1924:	jr	nz,X198f	; 1924  20 69		 i
X1924:	defb	$20,$69
	ld	l,(hl)		; 1926  6E		n
	jr	nz,X1929	; 1927  20 00		 .
X1929:	ld	d,d		; 1929  52		R
	ld	b,l		; 192A  45		E
	ld	b,c		; 192B  41		A
	ld	b,h		; 192C  44		D
;
	defb	'Y'					; 192D
	defb	0dh,0					; 192E ..
X1930:	defb	'Break'					; 1930
	defb	0					; 1935 .
;
X1936:	ld	hl,X0004	; 1936  21 04 00	!..
	add	hl,sp		; 1939  39		9
X193a:	ld	a,(hl)		; 193A  7E		~
	inc	hl		; 193B  23		#
	cp	crtprntdat	; 193C  FE 81		~.
	ret	nz		; 193E  C0		@
	ld	c,(hl)		; 193F  4E		N
	inc	hl		; 1940  23		#
	ld	b,(hl)		; 1941  46		F
	inc	hl		; 1942  23		#
	push	hl		; 1943  E5		e
	ld	l,c		; 1944  69		i
	ld	h,b		; 1945  60		`
	ld	a,d		; 1946  7A		z
	or	e		; 1947  B3		3
	ex	de,hl		; 1948  EB		k
	jr	z,X194d		; 1949  28 02		(.
	ex	de,hl		; 194B  EB		k
	rst	18h		; 194C  DF		_
X194d:	ld	bc,X000e	; 194D  01 0E 00	...
	pop	hl		; 1950  E1		a
	ret	z		; 1951  C8		H
	add	hl,bc		; 1952  09		.
	jr	X193a		; 1953  18 E5		.e
;
X1955:	call	X196c		; 1955  CD 6C 19	Ml.
X1958:	push	bc		; 1958  C5		E
	ex	(sp),hl		; 1959  E3		c
	pop	bc		; 195A  C1		A
X195b:	rst	18h		; 195B  DF		_
	ld	a,(hl)		; 195C  7E		~
	ld	(bc),a		; 195D  02		.
	ret	z		; 195E  C8		H
	dec	bc		; 195F  0B		.
	dec	hl		; 1960  2B		+
	jr	X195b		; 1961  18 F8		.x
;
X1963:	push	hl		; 1963  E5		e
X1964:	ld	hl,(X40fd)	; 1964  2A FD 40	*}@
	ld	b,0		; 1967  06 00		..
	add	hl,bc		; 1969  09		.
	add	hl,bc		; 196A  09		.
	ld	a,0e5h		; 196B  3E E5		>e
	ld	a,0c6h		; 196D  3E C6		>F
	sub	l		; 196F  95		.
	ld	l,a		; 1970  6F		o
	ld	a,0ffh		; 1971  3E FF		>.
	sbc	a,h		; 1973  9C		.
	jr	c,X197a		; 1974  38 04		8.
	ld	h,a		; 1976  67		g
	add	hl,sp		; 1977  39		9
	pop	hl		; 1978  E1		a
	ret	c		; 1979  D8		X
X197a:	ld	e,0ch		; 197A  1E 0C		..
	jr	X19a2		; 197C  18 24		.$
;
X197e:	ld	hl,(X40a2)	; 197E  2A A2 40	*"@
;
	defb	'|'					; 1981
;
	and	l		; 1982  A5		%
	inc	a		; 1983  3C		<
	jr	z,X198e		; 1984  28 08		(.
	ld	a,(X40f2)	; 1986  3A F2 40	:r@
	or	a		; 1989  B7		7
	ld	e,22h		; 198A  1E 22		."
	jr	nz,X19a2	; 198C  20 14		 .
X198e:	jp	X1dc1		; 198E  C3 C1 1D	CA.
;
X1991:	ld	hl,(X40da)	; 1991  2A DA 40	*Z@
	ld	(X40a2),hl	; 1994  22 A2 40	""@
X1997:	ld	e,2		; 1997  1E 02		..
	ld	bc,X141e	; 1999  01 1E 14	...
	ld	bc,X001e	; 199C  01 1E 00	...
	ld	bc,X241e	; 199F  01 1E 24	..$
X19a2:	ld	hl,(X40a2)	; 19A2  2A A2 40	*"@
	ld	(X40ea),hl	; 19A5  22 EA 40	"j@
	ld	(X40ec),hl	; 19A8  22 EC 40	"l@
X19ab:	ld	bc,X19b4	; 19AB  01 B4 19	.4.
X19ae:	ld	hl,(X40e8)	; 19AE  2A E8 40	*h@
	jp	X1b9a		; 19B1  C3 9A 1B	C..
;
X19b4:	pop	bc		; 19B4  C1		A
	ld	a,e		; 19B5  7B		{
	ld	c,e		; 19B6  4B		K
	ld	(X409a),a	; 19B7  32 9A 40	2.@
	ld	hl,(X40e6)	; 19BA  2A E6 40	*f@
	ld	(X40ee),hl	; 19BD  22 EE 40	"n@
	ex	de,hl		; 19C0  EB		k
	ld	hl,(X40ea)	; 19C1  2A EA 40	*j@
	ld	a,h		; 19C4  7C		|
	and	l		; 19C5  A5		%
	inc	a		; 19C6  3C		<
	jr	z,X19d0		; 19C7  28 07		(.
	ld	(X40f5),hl	; 19C9  22 F5 40	"u@
	ex	de,hl		; 19CC  EB		k
	ld	(X40f7),hl	; 19CD  22 F7 40	"w@
X19d0:	ld	hl,(X40f0)	; 19D0  2A F0 40	*p@
	ld	a,h		; 19D3  7C		|
	or	l		; 19D4  B5		5
	ex	de,hl		; 19D5  EB		k
	ld	hl,X40f2	; 19D6  21 F2 40	!r@
	jr	z,X19e3		; 19D9  28 08		(.
	and	(hl)		; 19DB  A6		&
	jr	nz,X19e3	; 19DC  20 05		 .
	dec	(hl)		; 19DE  35		5
	ex	de,hl		; 19DF  EB		k
	jp	X1d36		; 19E0  C3 36 1D	C6.
;
X19e3:	xor	a		; 19E3  AF		/
	ld	(hl),a		; 19E4  77		w
	ld	e,c		; 19E5  59		Y
	call	X20f9		; 19E6  CD F9 20	My
	ld	hl,X18c9	; 19E9  21 C9 18	!I.
	call	X41a6		; 19EC  CD A6 41	M&A
	ld	d,a		; 19EF  57		W
	ld	a,fsekbuf	; 19F0  3E 3F		>?
	call	X032a		; 19F2  CD 2A 03	M*.
	add	hl,de		; 19F5  19		.
	ld	a,(hl)		; 19F6  7E		~
	call	X032a		; 19F7  CD 2A 03	M*.
	rst	10h		; 19FA  D7		W
	call	X032a		; 19FB  CD 2A 03	M*.
	ld	hl,X191d	; 19FE  21 1D 19	!..
X1a01:	push	hl		; 1A01  E5		e
	ld	hl,(X40ea)	; 1A02  2A EA 40	*j@
	ex	(sp),hl		; 1A05  E3		c
X1a06:	call	X28a7		; 1A06  CD A7 28	M'(
	pop	hl		; 1A09  E1		a
	ld	de,Xfffe	; 1A0A  11 FE FF	.~.
	rst	18h		; 1A0D  DF		_
	jp	z,X06cc		; 1A0E  CA CC 06	JL.
	ld	a,h		; 1A11  7C		|
	and	l		; 1A12  A5		%
	inc	a		; 1A13  3C		<
	call	nz,X0fa7	; 1A14  C4 A7 0F	D'.
	ld	a,0c1h		; 1A17  3E C1		>A
X1a19:	call	X038b		; 1A19  CD 8B 03	M..
	call	X41ac		; 1A1C  CD AC 41	M,A
	nop			; 1A1F  00		.
	nop			; 1A20  00		.
	nop			; 1A21  00		.
	call	X20f9		; 1A22  CD F9 20	My
	ld	hl,X1929	; 1A25  21 29 19	!).
	call	X28a7		; 1A28  CD A7 28	M'(
	ld	a,(X409a)	; 1A2B  3A 9A 40	:.@
	sub	2		; 1A2E  D6 02		V.
	call	z,X2e53		; 1A30  CC 53 2E	LS.
X1a33:	ld	hl,Xffff	; 1A33  21 FF FF	!..
	ld	(X40a2),hl	; 1A36  22 A2 40	""@
	ld	a,(X40e1)	; 1A39  3A E1 40	:a@
	or	a		; 1A3C  B7		7
	jr	z,X1a76		; 1A3D  28 37		(7
	ld	hl,(X40e2)	; 1A3F  2A E2 40	*b@
	push	hl		; 1A42  E5		e
	call	X0faf		; 1A43  CD AF 0F	M/.
	pop	de		; 1A46  D1		Q
	push	de		; 1A47  D5		U
	call	X1b2c		; 1A48  CD 2C 1B	M,.
	ld	a,2ah		; 1A4B  3E 2A		>*
	jr	c,X1a51		; 1A4D  38 02		8.
	ld	a,20h		; 1A4F  3E 20		>
X1a51:	call	X032a		; 1A51  CD 2A 03	M*.
	call	X0361		; 1A54  CD 61 03	Ma.
	pop	de		; 1A57  D1		Q
	jr	nc,X1a60	; 1A58  30 06		0.
X1a5a:	xor	a		; 1A5A  AF		/
	ld	(X40e1),a	; 1A5B  32 E1 40	2a@
	jr	X1a19		; 1A5E  18 B9		.9
;
X1a60:	ld	hl,(X40e4)	; 1A60  2A E4 40	*d@
	add	hl,de		; 1A63  19		.
	jr	c,X1a5a		; 1A64  38 F4		8t
	push	de		; 1A66  D5		U
	ld	de,Xebf9	; 1A67  11 F9 EB	.yk
	rst	18h		; 1A6A  DF		_
	pop	de		; 1A6B  D1		Q
	jr	nc,X1a5a	; 1A6C  30 EC		0l
	ld	(X40e2),hl	; 1A6E  22 E2 40	"b@
	or	0ffh		; 1A71  F6 FF		v.
	jp	X2feb		; 1A73  C3 EB 2F	Ck/
;
X1a76:	ld	a,ram3buf	; 1A76  3E 3E		>>
	call	X032a		; 1A78  CD 2A 03	M*.
	call	X0361		; 1A7B  CD 61 03	Ma.
	jp	c,X1a33		; 1A7E  DA 33 1A	Z3.
	rst	10h		; 1A81  D7		W
	inc	a		; 1A82  3C		<
	dec	a		; 1A83  3D		=
	jp	z,X1a33		; 1A84  CA 33 1A	J3.
	push	af		; 1A87  F5		u
	call	X1e5a		; 1A88  CD 5A 1E	MZ.
X1a8b:	dec	hl		; 1A8B  2B		+
	ld	a,(hl)		; 1A8C  7E		~
	cp	20h		; 1A8D  FE 20		~
	jr	z,X1a8b		; 1A8F  28 FA		(z
	inc	hl		; 1A91  23		#
	ld	a,(hl)		; 1A92  7E		~
	cp	20h		; 1A93  FE 20		~
	call	z,X09c9		; 1A95  CC C9 09	LI.
X1a98:	push	de		; 1A98  D5		U
	call	X1bc0		; 1A99  CD C0 1B	M@.
	pop	de		; 1A9C  D1		Q
	pop	af		; 1A9D  F1		q
	ld	(X40e6),hl	; 1A9E  22 E6 40	"f@
	call	X41b2		; 1AA1  CD B2 41	M2A
	jp	nc,X1d5a	; 1AA4  D2 5A 1D	RZ.
	push	de		; 1AA7  D5		U
	push	bc		; 1AA8  C5		E
	xor	a		; 1AA9  AF		/
	ld	(X40dd),a	; 1AAA  32 DD 40	2]@
	rst	10h		; 1AAD  D7		W
	or	a		; 1AAE  B7		7
	push	af		; 1AAF  F5		u
	ex	de,hl		; 1AB0  EB		k
	ld	(X40ec),hl	; 1AB1  22 EC 40	"l@
	ex	de,hl		; 1AB4  EB		k
	call	X1b2c		; 1AB5  CD 2C 1B	M,.
	push	bc		; 1AB8  C5		E
	call	c,X2be4		; 1AB9  DC E4 2B	\d+
	pop	de		; 1ABC  D1		Q
	pop	af		; 1ABD  F1		q
	push	de		; 1ABE  D5		U
	jr	z,X1ae8		; 1ABF  28 27		('
	pop	de		; 1AC1  D1		Q
	ld	hl,(X40f9)	; 1AC2  2A F9 40	*y@
	ex	(sp),hl		; 1AC5  E3		c
	pop	bc		; 1AC6  C1		A
	add	hl,bc		; 1AC7  09		.
	push	hl		; 1AC8  E5		e
	call	X1955		; 1AC9  CD 55 19	MU.
	pop	hl		; 1ACC  E1		a
	ld	(X40f9),hl	; 1ACD  22 F9 40	"y@
	ex	de,hl		; 1AD0  EB		k
	ld	(hl),h		; 1AD1  74		t
	pop	de		; 1AD2  D1		Q
	push	hl		; 1AD3  E5		e
	inc	hl		; 1AD4  23		#
	inc	hl		; 1AD5  23		#
	ld	(hl),e		; 1AD6  73		s
	inc	hl		; 1AD7  23		#
	ld	(hl),d		; 1AD8  72		r
	inc	hl		; 1AD9  23		#
	ex	de,hl		; 1ADA  EB		k
	ld	hl,(X40a7)	; 1ADB  2A A7 40	*'@
	ex	de,hl		; 1ADE  EB		k
	dec	de		; 1ADF  1B		.
	dec	de		; 1AE0  1B		.
X1ae1:	ld	a,(de)		; 1AE1  1A		.
	ld	(hl),a		; 1AE2  77		w
	inc	hl		; 1AE3  23		#
	inc	de		; 1AE4  13		.
	or	a		; 1AE5  B7		7
	jr	nz,X1ae1	; 1AE6  20 F9		 y
X1ae8:	pop	de		; 1AE8  D1		Q
	call	X1afc		; 1AE9  CD FC 1A	M|.
	call	X41b5		; 1AEC  CD B5 41	M5A
	call	X1b5d		; 1AEF  CD 5D 1B	M].
	call	X41b8		; 1AF2  CD B8 41	M8A
	jp	X1a33		; 1AF5  C3 33 1A	C3.
;
	ld	hl,(X40a4)	; 1AF8  2A A4 40	*$@
	ex	de,hl		; 1AFB  EB		k
X1afc:	ld	h,d		; 1AFC  62		b
	ld	l,e		; 1AFD  6B		k
	ld	a,(hl)		; 1AFE  7E		~
	inc	hl		; 1AFF  23		#
	or	(hl)		; 1B00  B6		6
	ret	z		; 1B01  C8		H
	inc	hl		; 1B02  23		#
	inc	hl		; 1B03  23		#
	inc	hl		; 1B04  23		#
	xor	a		; 1B05  AF		/
X1b06:	cp	(hl)		; 1B06  BE		>
	inc	hl		; 1B07  23		#
	jr	nz,X1b06	; 1B08  20 FC		 |
	ex	de,hl		; 1B0A  EB		k
	ld	(hl),e		; 1B0B  73		s
	inc	hl		; 1B0C  23		#
	ld	(hl),d		; 1B0D  72		r
	jr	X1afc		; 1B0E  18 EC		.l
;
X1b10:	ld	de,X0000	; 1B10  11 00 00	...
	push	de		; 1B13  D5		U
; 	jr	z,X1b1f		; 1B14  28 09		(.
	defb	$28,$09
	pop	de		; 1B16  D1		Q
	call	X1e4f		; 1B17  CD 4F 1E	MO.
	push	de		; 1B1A  D5		U
	jr	z,X1b28		; 1B1B  28 0B		(.
	rst	8		; 1B1D  CF		O
	adc	a,xonc		; 1B1E  CE 11		N.
	jp	m,Xc4ff		; 1B20  FA FF C4	z.D
	ld	c,a		; 1B23  4F		O
	ld	e,0c2h		; 1B24  1E C2		.B
	sub	a		; 1B26  97		.
	add	hl,de		; 1B27  19		.
X1b28:	ex	de,hl		; 1B28  EB		k
	pop	de		; 1B29  D1		Q
X1b2a:	ex	(sp),hl		; 1B2A  E3		c
	push	hl		; 1B2B  E5		e
X1b2c:	ld	hl,(X40a4)	; 1B2C  2A A4 40	*$@
X1b2f:	ld	b,h		; 1B2F  44		D
	ld	c,l		; 1B30  4D		M
	ld	a,(hl)		; 1B31  7E		~
	inc	hl		; 1B32  23		#
	or	(hl)		; 1B33  B6		6
	dec	hl		; 1B34  2B		+
	ret	z		; 1B35  C8		H
	inc	hl		; 1B36  23		#
	inc	hl		; 1B37  23		#
	ld	a,(hl)		; 1B38  7E		~
	inc	hl		; 1B39  23		#
	ld	h,(hl)		; 1B3A  66		f
	ld	l,a		; 1B3B  6F		o
	rst	18h		; 1B3C  DF		_
	ld	h,b		; 1B3D  60		`
	ld	l,c		; 1B3E  69		i
	ld	a,(hl)		; 1B3F  7E		~
	inc	hl		; 1B40  23		#
	ld	h,(hl)		; 1B41  66		f
	ld	l,a		; 1B42  6F		o
	ccf			; 1B43  3F		?
	ret	z		; 1B44  C8		H
	ccf			; 1B45  3F		?
	ret	nc		; 1B46  D0		P
	jr	X1b2f		; 1B47  18 E6		.f
;
	ret	nz		; 1B49  C0		@
	call	X01c9		; 1B4A  CD C9 01	MI.
X1b4d:	ld	hl,(X40a4)	; 1B4D  2A A4 40	*$@
	call	X1df8		; 1B50  CD F8 1D	Mx.
	ld	(X40e1),a	; 1B53  32 E1 40	2a@
	ld	(hl),a		; 1B56  77		w
	inc	hl		; 1B57  23		#
	ld	(hl),a		; 1B58  77		w
	inc	hl		; 1B59  23		#
	ld	(X40f9),hl	; 1B5A  22 F9 40	"y@
X1b5d:	ld	hl,(X40a4)	; 1B5D  2A A4 40	*$@
	dec	hl		; 1B60  2B		+
X1b61:	ld	(X40df),hl	; 1B61  22 DF 40	"_@
	ld	b,1ah		; 1B64  06 1A		..
	ld	hl,X4101	; 1B66  21 01 41	!.A
X1b69:	ld	(hl),4		; 1B69  36 04		6.
	inc	hl		; 1B6B  23		#
	djnz	X1b69		; 1B6C  10 FB		.{
	xor	a		; 1B6E  AF		/
	ld	(X40f2),a	; 1B6F  32 F2 40	2r@
	ld	l,a		; 1B72  6F		o
	ld	h,a		; 1B73  67		g
	ld	(X40f0),hl	; 1B74  22 F0 40	"p@
	ld	(X40f7),hl	; 1B77  22 F7 40	"w@
	ld	hl,(X40b1)	; 1B7A  2A B1 40	*1@
	ld	(X40d6),hl	; 1B7D  22 D6 40	"V@
	call	X1d91		; 1B80  CD 91 1D	M..
	ld	hl,(X40f9)	; 1B83  2A F9 40	*y@
	ld	(X40fb),hl	; 1B86  22 FB 40	"{@
	ld	(X40fd),hl	; 1B89  22 FD 40	"}@
	call	X41bb		; 1B8C  CD BB 41	M;A
	pop	bc		; 1B8F  C1		A
	ld	hl,(X40a0)	; 1B90  2A A0 40	* @
	dec	hl		; 1B93  2B		+
	dec	hl		; 1B94  2B		+
	ld	(X40e8),hl	; 1B95  22 E8 40	"h@
	inc	hl		; 1B98  23		#
	inc	hl		; 1B99  23		#
X1b9a:	ld	sp,hl		; 1B9A  F9		y
	ld	hl,X40b5	; 1B9B  21 B5 40	!5@
	ld	(X40b3),hl	; 1B9E  22 B3 40	"3@
	call	X038b		; 1BA1  CD 8B 03	M..
	call	X2169		; 1BA4  CD 69 21	Mi!
	xor	a		; 1BA7  AF		/
	ld	h,a		; 1BA8  67		g
	ld	l,a		; 1BA9  6F		o
	ld	(X40dc),a	; 1BAA  32 DC 40	2\@
	push	hl		; 1BAD  E5		e
	push	bc		; 1BAE  C5		E
	ld	hl,(X40df)	; 1BAF  2A DF 40	*_@
	ret			; 1BB2  C9		I
;
X1bb3:	ld	a,fsekbuf	; 1BB3  3E 3F		>?
	call	X032a		; 1BB5  CD 2A 03	M*.
	ld	a,20h		; 1BB8  3E 20		>
	call	X032a		; 1BBA  CD 2A 03	M*.
	jp	X0361		; 1BBD  C3 61 03	Ca.
;
X1bc0:	xor	a		; 1BC0  AF		/
	ld	(X40b0),a	; 1BC1  32 B0 40	20@
	ld	c,a		; 1BC4  4F		O
	ex	de,hl		; 1BC5  EB		k
	ld	hl,(X40a7)	; 1BC6  2A A7 40	*'@
	dec	hl		; 1BC9  2B		+
X1bca:	dec	hl		; 1BCA  2B		+
	ex	de,hl		; 1BCB  EB		k
X1bcc:	ld	a,(hl)		; 1BCC  7E		~
	cp	20h		; 1BCD  FE 20		~
	jp	z,X1c5b		; 1BCF  CA 5B 1C	J[.
	ld	b,a		; 1BD2  47		G
	cp	22h		; 1BD3  FE 22		~"
	jp	z,X1c77		; 1BD5  CA 77 1C	Jw.
	or	a		; 1BD8  B7		7
	jp	z,X1c7d		; 1BD9  CA 7D 1C	J}.
	ld	a,(X40b0)	; 1BDC  3A B0 40	:0@
	or	a		; 1BDF  B7		7
	ld	a,(hl)		; 1BE0  7E		~
	jp	nz,X1c5b	; 1BE1  C2 5B 1C	B[.
	cp	fsekbuf		; 1BE4  FE 3F		~?
	ld	a,0b2h		; 1BE6  3E B2		>2
	jp	z,X1c5b		; 1BE8  CA 5B 1C	J[.
	ld	a,(hl)		; 1BEB  7E		~
	cp	30h		; 1BEC  FE 30		~0
	jr	c,X1bf5		; 1BEE  38 05		8.
	cp	ram1buf		; 1BF0  FE 3C		~<
	jp	c,X1c5b		; 1BF2  DA 5B 1C	Z[.
X1bf5:	push	de		; 1BF5  D5		U
	ld	de,X164f	; 1BF6  11 4F 16	.O.
	push	bc		; 1BF9  C5		E
	ld	bc,X31f6	; 1BFA  01 F6 31	.v1
	push	bc		; 1BFD  C5		E
	ld	b,7fh		; 1BFE  06 7F		..
X1c00:	ld	a,(hl)		; 1C00  7E		~
	cp	61h		; 1C01  FE 61		~a
	jr	c,X1c0c		; 1C03  38 07		8.
	cp	7bh		; 1C05  FE 7B		~{
	jr	nc,X1c0c	; 1C07  30 03		0.
	and	5fh		; 1C09  E6 5F		f_
	ld	(hl),a		; 1C0B  77		w
X1c0c:	ld	c,(hl)		; 1C0C  4E		N
	ex	de,hl		; 1C0D  EB		k
X1c0e:	inc	hl		; 1C0E  23		#
	or	(hl)		; 1C0F  B6		6
	jp	p,X1c0e		; 1C10  F2 0E 1C	r..
	inc	b		; 1C13  04		.
	ld	a,(hl)		; 1C14  7E		~
	and	7fh		; 1C15  E6 7F		f.
	ret	z		; 1C17  C8		H
	cp	c		; 1C18  B9		9
	jr	nz,X1c0e	; 1C19  20 F3		 s
	ex	de,hl		; 1C1B  EB		k
	push	hl		; 1C1C  E5		e
X1c1d:	inc	de		; 1C1D  13		.
	ld	a,(de)		; 1C1E  1A		.
	or	a		; 1C1F  B7		7
	jp	m,X1c39		; 1C20  FA 39 1C	z9.
	ld	c,a		; 1C23  4F		O
	ld	a,b		; 1C24  78		x
	cp	crt6545data	; 1C25  FE 8D		~.
	jr	nz,X1c2b	; 1C27  20 02		 .
	rst	10h		; 1C29  D7		W
	dec	hl		; 1C2A  2B		+
X1c2b:	inc	hl		; 1C2B  23		#
	ld	a,(hl)		; 1C2C  7E		~
	cp	61h		; 1C2D  FE 61		~a
	jr	c,X1c33		; 1C2F  38 02		8.
	and	5fh		; 1C31  E6 5F		f_
X1c33:	cp	c		; 1C33  B9		9
	jr	z,X1c1d		; 1C34  28 E7		(g
	pop	hl		; 1C36  E1		a
	jr	X1c0c		; 1C37  18 D3		.S
;
X1c39:	ld	c,b		; 1C39  48		H
	pop	af		; 1C3A  F1		q
	ex	de,hl		; 1C3B  EB		k
	ret			; 1C3C  C9		I
;
X1c3d:	ex	de,hl		; 1C3D  EB		k
	ld	a,c		; 1C3E  79		y
	pop	bc		; 1C3F  C1		A
	pop	de		; 1C40  D1		Q
	ex	de,hl		; 1C41  EB		k
	cp	95h		; 1C42  FE 95		~.
	ld	(hl),rst7sp3	; 1C44  36 3A		6:
	jr	nz,X1c4a	; 1C46  20 02		 .
	inc	c		; 1C48  0C		.
	inc	hl		; 1C49  23		#
X1c4a:	cp	0fbh		; 1C4A  FE FB		~{
	jr	nz,X1c5a	; 1C4C  20 0C		 .
	ld	(hl),rst7sp3	; 1C4E  36 3A		6:
	inc	hl		; 1C50  23		#
	ld	b,93h		; 1C51  06 93		..
	ld	(hl),b		; 1C53  70		p
	inc	hl		; 1C54  23		#
	ex	de,hl		; 1C55  EB		k
	inc	c		; 1C56  0C		.
	inc	c		; 1C57  0C		.
	jr	X1c77		; 1C58  18 1D		..
;
X1c5a:	ex	de,hl		; 1C5A  EB		k
X1c5b:	inc	hl		; 1C5B  23		#
	ld	(de),a		; 1C5C  12		.
	inc	de		; 1C5D  13		.
	inc	c		; 1C5E  0C		.
	sub	rst7sp3		; 1C5F  D6 3A		V:
	jr	z,X1c67		; 1C61  28 04		(.
	cp	dselbf		; 1C63  FE 4E		~N
	jr	nz,X1c6a	; 1C65  20 03		 .
X1c67:	ld	(X40b0),a	; 1C67  32 B0 40	20@
X1c6a:	sub	59h		; 1C6A  D6 59		VY
	jp	nz,X1bcc	; 1C6C  C2 CC 1B	BL.
	ld	b,a		; 1C6F  47		G
X1c70:	ld	a,(hl)		; 1C70  7E		~
	or	a		; 1C71  B7		7
	jr	z,X1c7d		; 1C72  28 09		(.
	cp	b		; 1C74  B8		8
	jr	z,X1c5b		; 1C75  28 E4		(d
X1c77:	inc	hl		; 1C77  23		#
	ld	(de),a		; 1C78  12		.
	inc	c		; 1C79  0C		.
	inc	de		; 1C7A  13		.
	jr	X1c70		; 1C7B  18 F3		.s
;
X1c7d:	ld	hl,X0005	; 1C7D  21 05 00	!..
	ld	b,h		; 1C80  44		D
	add	hl,bc		; 1C81  09		.
	ld	b,h		; 1C82  44		D
	ld	c,l		; 1C83  4D		M
	ld	hl,(X40a7)	; 1C84  2A A7 40	*'@
	dec	hl		; 1C87  2B		+
	dec	hl		; 1C88  2B		+
	dec	hl		; 1C89  2B		+
	ld	(de),a		; 1C8A  12		.
	inc	de		; 1C8B  13		.
	ld	(de),a		; 1C8C  12		.
	inc	de		; 1C8D  13		.
	ld	(de),a		; 1C8E  12		.
	ret			; 1C8F  C9		I
;
X1c90:	ld	a,h		; 1C90  7C		|
	sub	d		; 1C91  92		.
	ret	nz		; 1C92  C0		@
	ld	a,l		; 1C93  7D		}
	sub	e		; 1C94  93		.
	ret			; 1C95  C9		I
;
X1c96:	ld	a,(hl)		; 1C96  7E		~
	ex	(sp),hl		; 1C97  E3		c
	cp	(hl)		; 1C98  BE		>
	inc	hl		; 1C99  23		#
	ex	(sp),hl		; 1C9A  E3		c
	jp	z,X1d78		; 1C9B  CA 78 1D	Jx.
	jp	X1997		; 1C9E  C3 97 19	C..
;
	defb	'>d2'					; 1CA1
;
	call	c,Xcd40		; 1CA4  DC 40 CD	\@M
	ld	hl,Xe31f	; 1CA7  21 1F E3	!.c
	call	X1936		; 1CAA  CD 36 19	M6.
	pop	de		; 1CAD  D1		Q
	jr	nz,X1cb5	; 1CAE  20 05		 .
	add	hl,bc		; 1CB0  09		.
	ld	sp,hl		; 1CB1  F9		y
	ld	(X40e8),hl	; 1CB2  22 E8 40	"h@
X1cb5:	ex	de,hl		; 1CB5  EB		k
	ld	c,8		; 1CB6  0E 08		..
	call	X1963		; 1CB8  CD 63 19	Mc.
	push	hl		; 1CBB  E5		e
	call	X1f05		; 1CBC  CD 05 1F	M..
	ex	(sp),hl		; 1CBF  E3		c
	push	hl		; 1CC0  E5		e
	ld	hl,(X40a2)	; 1CC1  2A A2 40	*"@
	ex	(sp),hl		; 1CC4  E3		c
	rst	8		; 1CC5  CF		O
	cp	l		; 1CC6  BD		=
	rst	20h		; 1CC7  E7		g
	jp	z,X0af6		; 1CC8  CA F6 0A	Jv.
	jp	nc,X0af6	; 1CCB  D2 F6 0A	Rv.
	push	af		; 1CCE  F5		u
	call	X2337		; 1CCF  CD 37 23	M7#
	pop	af		; 1CD2  F1		q
	push	hl		; 1CD3  E5		e
	jp	p,X1cec		; 1CD4  F2 EC 1C	rl.
	call	X0a7f		; 1CD7  CD 7F 0A	M..
	ex	(sp),hl		; 1CDA  E3		c
	ld	de,X0001	; 1CDB  11 01 00	...
	ld	a,(hl)		; 1CDE  7E		~
	cp	0cch		; 1CDF  FE CC		~L
	call	z,X2b01		; 1CE1  CC 01 2B	L.+
	push	de		; 1CE4  D5		U
	push	hl		; 1CE5  E5		e
	ex	de,hl		; 1CE6  EB		k
	call	X099e		; 1CE7  CD 9E 09	M..
	jr	X1d0e		; 1CEA  18 22		."
;
X1cec:	call	X0ab1		; 1CEC  CD B1 0A	M1.
	call	X09bf		; 1CEF  CD BF 09	M?.
	pop	hl		; 1CF2  E1		a
	push	bc		; 1CF3  C5		E
	push	de		; 1CF4  D5		U
	ld	bc,X8100	; 1CF5  01 00 81	...
	ld	d,c		; 1CF8  51		Q
	ld	e,d		; 1CF9  5A		Z
	ld	a,(hl)		; 1CFA  7E		~
	cp	0cch		; 1CFB  FE CC		~L
	ld	a,1		; 1CFD  3E 01		>.
	jr	nz,X1d0f	; 1CFF  20 0E		 .
	call	X2338		; 1D01  CD 38 23	M8#
	push	hl		; 1D04  E5		e
	call	X0ab1		; 1D05  CD B1 0A	M1.
	call	X09bf		; 1D08  CD BF 09	M?.
	call	X0955		; 1D0B  CD 55 09	MU.
X1d0e:	pop	hl		; 1D0E  E1		a
X1d0f:	push	bc		; 1D0F  C5		E
	push	de		; 1D10  D5		U
	ld	c,a		; 1D11  4F		O
	rst	20h		; 1D12  E7		g
	ld	b,a		; 1D13  47		G
	push	bc		; 1D14  C5		E
	push	hl		; 1D15  E5		e
	ld	hl,(X40df)	; 1D16  2A DF 40	*_@
	ex	(sp),hl		; 1D19  E3		c
X1d1a:	ld	b,crtprntdat	; 1D1A  06 81		..
	push	bc		; 1D1C  C5		E
	inc	sp		; 1D1D  33		3
X1d1e:	call	X0358		; 1D1E  CD 58 03	MX.
	or	a		; 1D21  B7		7
	call	nz,X1da0	; 1D22  C4 A0 1D	D .
	ld	(X40e6),hl	; 1D25  22 E6 40	"f@
	ld	(X40e8),sp	; 1D28  ED 73 E8 40	msh@
	ld	a,(hl)		; 1D2C  7E		~
	cp	rst7sp3		; 1D2D  FE 3A		~:
	jr	z,X1d5a		; 1D2F  28 29		()
	or	a		; 1D31  B7		7
	jp	nz,X1997	; 1D32  C2 97 19	B..
	inc	hl		; 1D35  23		#
X1d36:	ld	a,(hl)		; 1D36  7E		~
	inc	hl		; 1D37  23		#
	or	(hl)		; 1D38  B6		6
	jp	z,X197e		; 1D39  CA 7E 19	J~.
	inc	hl		; 1D3C  23		#
	ld	e,(hl)		; 1D3D  5E		^
	inc	hl		; 1D3E  23		#
	ld	d,(hl)		; 1D3F  56		V
	ex	de,hl		; 1D40  EB		k
	ld	(X40a2),hl	; 1D41  22 A2 40	""@
	ld	a,(X411b)	; 1D44  3A 1B 41	:.A
	or	a		; 1D47  B7		7
	jr	z,X1d59		; 1D48  28 0F		(.
	push	de		; 1D4A  D5		U
	ld	a,ram1buf	; 1D4B  3E 3C		><
	call	X032a		; 1D4D  CD 2A 03	M*.
	call	X0faf		; 1D50  CD AF 0F	M/.
	ld	a,ram3buf	; 1D53  3E 3E		>>
	call	X032a		; 1D55  CD 2A 03	M*.
	pop	de		; 1D58  D1		Q
X1d59:	ex	de,hl		; 1D59  EB		k
X1d5a:	rst	10h		; 1D5A  D7		W
	ld	de,X1d1e	; 1D5B  11 1E 1D	...
	push	de		; 1D5E  D5		U
X1d5f:	ret	z		; 1D5F  C8		H
X1d60:	sub	crtram0dat	; 1D60  D6 80		V.
	jp	c,X3045		; 1D62  DA 45 30	ZE0
	cp	ram1buf		; 1D65  FE 3C		~<
	jp	nc,X2ae7	; 1D67  D2 E7 2A	Rg*
	rlca			; 1D6A  07		.
	ld	c,a		; 1D6B  4F		O
	ld	b,0		; 1D6C  06 00		..
	ex	de,hl		; 1D6E  EB		k
	ld	hl,X1822	; 1D6F  21 22 18	!".
	add	hl,bc		; 1D72  09		.
	ld	c,(hl)		; 1D73  4E		N
	inc	hl		; 1D74  23		#
	ld	b,(hl)		; 1D75  46		F
	push	bc		; 1D76  C5		E
	ex	de,hl		; 1D77  EB		k
X1d78:	inc	hl		; 1D78  23		#
	ld	a,(hl)		; 1D79  7E		~
	cp	rst7sp3		; 1D7A  FE 3A		~:
	ret	nc		; 1D7C  D0		P
	cp	20h		; 1D7D  FE 20		~
	jp	z,X1d78		; 1D7F  CA 78 1D	Jx.
	cp	0bh		; 1D82  FE 0B		~.
	jr	nc,X1d8b	; 1D84  30 05		0.
	cp	9		; 1D86  FE 09		~.
	jp	nc,X1d78	; 1D88  D2 78 1D	Rx.
X1d8b:	cp	30h		; 1D8B  FE 30		~0
	ccf			; 1D8D  3F		?
	inc	a		; 1D8E  3C		<
	dec	a		; 1D8F  3D		=
	ret			; 1D90  C9		I
;
X1d91:	ex	de,hl		; 1D91  EB		k
	call	X043d		; 1D92  CD 3D 04	M=.
	dec	hl		; 1D95  2B		+
X1d96:	ld	(X40ff),hl	; 1D96  22 FF 40	".@
	ex	de,hl		; 1D99  EB		k
	ret			; 1D9A  C9		I
;
X1d9b:	call	X0358		; 1D9B  CD 58 03	MX.
	or	a		; 1D9E  B7		7
	ret	z		; 1D9F  C8		H
X1da0:	cp	blifastblok	; 1DA0  FE 60		~`
	call	z,X0384		; 1DA2  CC 84 03	L..
	ld	(X4099),a	; 1DA5  32 99 40	2.@
	dec	a		; 1DA8  3D		=
	ret	nz		; 1DA9  C0		@
	inc	a		; 1DAA  3C		<
	jp	X1db4		; 1DAB  C3 B4 1D	C4.
;
	ret	nz		; 1DAE  C0		@
	push	af		; 1DAF  F5		u
	call	z,X41bb		; 1DB0  CC BB 41	L;A
	pop	af		; 1DB3  F1		q
X1db4:	ld	(X40e6),hl	; 1DB4  22 E6 40	"f@
	ld	hl,X40b5	; 1DB7  21 B5 40	!5@
	ld	(X40b3),hl	; 1DBA  22 B3 40	"3@
	ld	hl,X3ff6	; 1DBD  21 F6 3F	!v?
	pop	bc		; 1DC0  C1		A
X1dc1:	ld	hl,(X40a2)	; 1DC1  2A A2 40	*"@
	push	hl		; 1DC4  E5		e
	push	af		; 1DC5  F5		u
	ld	a,l		; 1DC6  7D		}
	and	h		; 1DC7  A4		$
	inc	a		; 1DC8  3C		<
	jr	z,X1dd4		; 1DC9  28 09		(.
	ld	(X40f5),hl	; 1DCB  22 F5 40	"u@
	ld	hl,(X40e6)	; 1DCE  2A E6 40	*f@
	ld	(X40f7),hl	; 1DD1  22 F7 40	"w@
X1dd4:	call	X038b		; 1DD4  CD 8B 03	M..
	call	X20f9		; 1DD7  CD F9 20	My
	pop	af		; 1DDA  F1		q
	ld	hl,X1930	; 1DDB  21 30 19	!0.
	jp	nz,X1a06	; 1DDE  C2 06 1A	B..
	jp	X1a18		; 1DE1  C3 18 1A	C..
;
	ld	hl,(X40f7)	; 1DE4  2A F7 40	*w@
	ld	a,h		; 1DE7  7C		|
	or	l		; 1DE8  B5		5
	ld	e,20h		; 1DE9  1E 20		.
	jp	z,X19a2		; 1DEB  CA A2 19	J".
	ex	de,hl		; 1DEE  EB		k
	ld	hl,(X40f5)	; 1DEF  2A F5 40	*u@
	ld	(X40a2),hl	; 1DF2  22 A2 40	""@
	ex	de,hl		; 1DF5  EB		k
	ret			; 1DF6  C9		I
;
	ld	a,0afh		; 1DF7  3E AF		>/
	ld	(X411b),a	; 1DF9  32 1B 41	2.A
	ret			; 1DFC  C9		I
;
	pop	af		; 1DFD  F1		q
	pop	hl		; 1DFE  E1		a
	ret			; 1DFF  C9		I
;
	ld	e,3		; 1E00  1E 03		..
	ld	bc,X021e	; 1E02  01 1E 02	...
	ld	bc,X041e	; 1E05  01 1E 04	...
	ld	bc,X081e	; 1E08  01 1E 08	...
X1e0b:	call	X1e3d		; 1E0B  CD 3D 1E	M=.
	ld	bc,X1997	; 1E0E  01 97 19	...
	push	bc		; 1E11  C5		E
	ret	c		; 1E12  D8		X
	sub	frdpbuf		; 1E13  D6 41		VA
	ld	c,a		; 1E15  4F		O
	ld	b,a		; 1E16  47		G
	rst	10h		; 1E17  D7		W
	cp	0ceh		; 1E18  FE CE		~N
	jr	nz,X1e25	; 1E1A  20 09		 .
	rst	10h		; 1E1C  D7		W
	call	X1e3d		; 1E1D  CD 3D 1E	M=.
	ret	c		; 1E20  D8		X
	sub	frdpbuf		; 1E21  D6 41		VA
	ld	b,a		; 1E23  47		G
	rst	10h		; 1E24  D7		W
X1e25:	ld	a,b		; 1E25  78		x
	sub	c		; 1E26  91		.
	ret	c		; 1E27  D8		X
	inc	a		; 1E28  3C		<
	ex	(sp),hl		; 1E29  E3		c
	ld	hl,X4101	; 1E2A  21 01 41	!.A
	ld	b,0		; 1E2D  06 00		..
	add	hl,bc		; 1E2F  09		.
X1e30:	ld	(hl),e		; 1E30  73		s
	inc	hl		; 1E31  23		#
	dec	a		; 1E32  3D		=
	jr	nz,X1e30	; 1E33  20 FB		 {
	pop	hl		; 1E35  E1		a
	ld	a,(hl)		; 1E36  7E		~
	cp	2ch		; 1E37  FE 2C		~,
	ret	nz		; 1E39  C0		@
	rst	10h		; 1E3A  D7		W
	jr	X1e0b		; 1E3B  18 CE		.N
;
X1e3d:	ld	a,(hl)		; 1E3D  7E		~
X1e3e:	cp	frdpbuf		; 1E3E  FE 41		~A
	ret	c		; 1E40  D8		X
	cp	5bh		; 1E41  FE 5B		~[
	ccf			; 1E43  3F		?
	ret			; 1E44  C9		I
;
X1e45:	rst	10h		; 1E45  D7		W
X1e46:	call	X2b02		; 1E46  CD 02 2B	M.+
	ret	p		; 1E49  F0		p
X1e4a:	ld	e,8		; 1E4A  1E 08		..
	jp	X19a2		; 1E4C  C3 A2 19	C".
;
X1e4f:	ld	a,(hl)		; 1E4F  7E		~
	cp	2eh		; 1E50  FE 2E		~.
	ex	de,hl		; 1E52  EB		k
	ld	hl,(X40ec)	; 1E53  2A EC 40	*l@
	ex	de,hl		; 1E56  EB		k
	jp	z,X1d78		; 1E57  CA 78 1D	Jx.
X1e5a:	dec	hl		; 1E5A  2B		+
X1e5b:	ld	de,X0000	; 1E5B  11 00 00	...
X1e5e:	rst	10h		; 1E5E  D7		W
	ret	nc		; 1E5F  D0		P
	push	hl		; 1E60  E5		e
	push	af		; 1E61  F5		u
	ld	hl,X1998	; 1E62  21 98 19	!..
	rst	18h		; 1E65  DF		_
	jp	c,X1997		; 1E66  DA 97 19	Z..
	ld	h,d		; 1E69  62		b
	ld	l,e		; 1E6A  6B		k
	add	hl,de		; 1E6B  19		.
	add	hl,hl		; 1E6C  29		)
	add	hl,de		; 1E6D  19		.
	add	hl,hl		; 1E6E  29		)
	pop	af		; 1E6F  F1		q
	sub	30h		; 1E70  D6 30		V0
	ld	e,a		; 1E72  5F		_
	ld	d,0		; 1E73  16 00		..
	add	hl,de		; 1E75  19		.
	ex	de,hl		; 1E76  EB		k
	pop	hl		; 1E77  E1		a
	jr	X1e5e		; 1E78  18 E4		.d
;
	jp	z,X1b61		; 1E7A  CA 61 1B	Ja.
	call	X1e46		; 1E7D  CD 46 1E	MF.
	dec	hl		; 1E80  2B		+
	rst	10h		; 1E81  D7		W
	ret	nz		; 1E82  C0		@
	push	hl		; 1E83  E5		e
	ld	hl,(X40b1)	; 1E84  2A B1 40	*1@
	ld	a,l		; 1E87  7D		}
	sub	e		; 1E88  93		.
	ld	e,a		; 1E89  5F		_
	ld	a,h		; 1E8A  7C		|
	sbc	a,d		; 1E8B  9A		.
	ld	d,a		; 1E8C  57		W
	jp	c,X197a		; 1E8D  DA 7A 19	Zz.
	ld	hl,(X40f9)	; 1E90  2A F9 40	*y@
	ld	bc,X0028	; 1E93  01 28 00	.(.
	add	hl,bc		; 1E96  09		.
	rst	18h		; 1E97  DF		_
	jp	nc,X197a	; 1E98  D2 7A 19	Rz.
	ex	de,hl		; 1E9B  EB		k
	ld	(X40a0),hl	; 1E9C  22 A0 40	" @
	pop	hl		; 1E9F  E1		a
	jp	X1b61		; 1EA0  C3 61 1B	Ca.
;
	jp	z,X1b5d		; 1EA3  CA 5D 1B	J].
	call	X41c7		; 1EA6  CD C7 41	MGA
	call	X1b61		; 1EA9  CD 61 1B	Ma.
	ld	bc,X1d1e	; 1EAC  01 1E 1D	...
	jr	X1ec1		; 1EAF  18 10		..
;
	ld	c,3		; 1EB1  0E 03		..
	call	X1963		; 1EB3  CD 63 19	Mc.
	pop	bc		; 1EB6  C1		A
	push	hl		; 1EB7  E5		e
	push	hl		; 1EB8  E5		e
	ld	hl,(X40a2)	; 1EB9  2A A2 40	*"@
	ex	(sp),hl		; 1EBC  E3		c
	ld	a,91h		; 1EBD  3E 91		>.
	push	af		; 1EBF  F5		u
	inc	sp		; 1EC0  33		3
X1ec1:	push	bc		; 1EC1  C5		E
X1ec2:	call	X1e5a		; 1EC2  CD 5A 1E	MZ.
X1ec5:	call	X1f07		; 1EC5  CD 07 1F	M..
	push	hl		; 1EC8  E5		e
	ld	hl,(X40a2)	; 1EC9  2A A2 40	*"@
	rst	18h		; 1ECC  DF		_
	pop	hl		; 1ECD  E1		a
	inc	hl		; 1ECE  23		#
	call	c,X1b2f		; 1ECF  DC 2F 1B	\/.
	call	nc,X1b2c	; 1ED2  D4 2C 1B	T,.
	ld	h,b		; 1ED5  60		`
	ld	l,c		; 1ED6  69		i
	dec	hl		; 1ED7  2B		+
	ret	c		; 1ED8  D8		X
X1ed9:	ld	e,0eh		; 1ED9  1E 0E		..
	jp	X19a2		; 1EDB  C3 A2 19	C".
;
	ret	nz		; 1EDE  C0		@
	ld	d,0ffh		; 1EDF  16 FF		..
	call	X1936		; 1EE1  CD 36 19	M6.
	ld	sp,hl		; 1EE4  F9		y
	ld	(X40e8),hl	; 1EE5  22 E8 40	"h@
	cp	91h		; 1EE8  FE 91		~.
	ld	e,4		; 1EEA  1E 04		..
	jp	nz,X19a2	; 1EEC  C2 A2 19	B".
	pop	hl		; 1EEF  E1		a
	ld	(X40a2),hl	; 1EF0  22 A2 40	""@
	inc	hl		; 1EF3  23		#
	ld	a,h		; 1EF4  7C		|
	or	l		; 1EF5  B5		5
	jr	nz,X1eff	; 1EF6  20 07		 .
	ld	a,(X40dd)	; 1EF8  3A DD 40	:]@
	or	a		; 1EFB  B7		7
	jp	nz,X1a18	; 1EFC  C2 18 1A	B..
X1eff:	ld	hl,X1d1e	; 1EFF  21 1E 1D	!..
	ex	(sp),hl		; 1F02  E3		c
	ld	a,0e1h		; 1F03  3E E1		>a
X1f05:	ld	bc,X0e3a	; 1F05  01 3A 0E	.:.
	nop			; 1F08  00		.
	ld	b,0		; 1F09  06 00		..
X1f0b:	ld	a,c		; 1F0B  79		y
	ld	c,b		; 1F0C  48		H
	ld	b,a		; 1F0D  47		G
X1f0e:	ld	a,(hl)		; 1F0E  7E		~
	or	a		; 1F0F  B7		7
	ret	z		; 1F10  C8		H
	cp	b		; 1F11  B8		8
	ret	z		; 1F12  C8		H
	inc	hl		; 1F13  23		#
	cp	22h		; 1F14  FE 22		~"
	jr	z,X1f0b		; 1F16  28 F3		(s
	sub	crtbeepport	; 1F18  D6 8F		V.
	jr	nz,X1f0e	; 1F1A  20 F2		 r
	cp	b		; 1F1C  B8		8
	adc	a,d		; 1F1D  8A		.
	ld	d,a		; 1F1E  57		W
	jr	X1f0e		; 1F1F  18 ED		.m
;
X1f21:	call	X260d		; 1F21  CD 0D 26	M.&
	rst	8		; 1F24  CF		O
	push	de		; 1F25  D5		U
	ex	de,hl		; 1F26  EB		k
	ld	(X40df),hl	; 1F27  22 DF 40	"_@
	ex	de,hl		; 1F2A  EB		k
	push	de		; 1F2B  D5		U
	rst	20h		; 1F2C  E7		g
	push	af		; 1F2D  F5		u
	call	X2337		; 1F2E  CD 37 23	M7#
	pop	af		; 1F31  F1		q
	ex	(sp),hl		; 1F32  E3		c
X1f33:	add	a,3		; 1F33  C6 03		F.
	call	X2819		; 1F35  CD 19 28	M.(
	call	X0a03		; 1F38  CD 03 0A	M..
	push	hl		; 1F3B  E5		e
	jr	nz,X1f66	; 1F3C  20 28		 (
	ld	hl,(X4121)	; 1F3E  2A 21 41	*!A
	push	hl		; 1F41  E5		e
	inc	hl		; 1F42  23		#
	ld	e,(hl)		; 1F43  5E		^
	inc	hl		; 1F44  23		#
	ld	d,(hl)		; 1F45  56		V
	ld	hl,(X40a4)	; 1F46  2A A4 40	*$@
	rst	18h		; 1F49  DF		_
; 	jr	nc,X1f5a	; 1F4A  30 0E		0.
	defb	$30,$0e
	ld	hl,(X40a0)	; 1F4C  2A A0 40	* @
	rst	18h		; 1F4F  DF		_
	pop	de		; 1F50  D1		Q
	jr	nc,X1f62	; 1F51  30 0F		0.
	ld	hl,(X40f9)	; 1F53  2A F9 40	*y@
	rst	18h		; 1F56  DF		_
	jr	nc,X1f62	; 1F57  30 09		0.
	ld	a,fdctrakreg	; 1F59  3E D1		>Q
	call	X29f5		; 1F5B  CD F5 29	Mu)
	ex	de,hl		; 1F5E  EB		k
	call	X2843		; 1F5F  CD 43 28	MC(
X1f62:	call	X29f5		; 1F62  CD F5 29	Mu)
	ex	(sp),hl		; 1F65  E3		c
X1f66:	call	X09d3		; 1F66  CD D3 09	MS.
	pop	de		; 1F69  D1		Q
	pop	hl		; 1F6A  E1		a
	ret			; 1F6B  C9		I
;
X1f6c:	cp	9eh		; 1F6C  FE 9E		~.
	jr	nz,X1f95	; 1F6E  20 25		 %
	rst	10h		; 1F70  D7		W
	rst	8		; 1F71  CF		O
	adc	a,l		; 1F72  8D		.
	call	X1e5a		; 1F73  CD 5A 1E	MZ.
	ld	a,d		; 1F76  7A		z
	or	e		; 1F77  B3		3
	jr	z,X1f83		; 1F78  28 09		(.
	call	X1b2a		; 1F7A  CD 2A 1B	M*.
	ld	d,b		; 1F7D  50		P
	ld	e,c		; 1F7E  59		Y
	pop	hl		; 1F7F  E1		a
	jp	nc,X1ed9	; 1F80  D2 D9 1E	RY.
X1f83:	ex	de,hl		; 1F83  EB		k
	ld	(X40f0),hl	; 1F84  22 F0 40	"p@
	ex	de,hl		; 1F87  EB		k
	ret	c		; 1F88  D8		X
	ld	a,(X40f2)	; 1F89  3A F2 40	:r@
	or	a		; 1F8C  B7		7
	ret	z		; 1F8D  C8		H
	ld	a,(X409a)	; 1F8E  3A 9A 40	:.@
	ld	e,a		; 1F91  5F		_
	jp	X19ab		; 1F92  C3 AB 19	C+.
;
X1f95:	call	X2b1c		; 1F95  CD 1C 2B	M.+
	ld	a,(hl)		; 1F98  7E		~
	ld	b,a		; 1F99  47		G
	cp	91h		; 1F9A  FE 91		~.
	jr	z,X1fa1		; 1F9C  28 03		(.
	rst	8		; 1F9E  CF		O
	adc	a,l		; 1F9F  8D		.
	dec	hl		; 1FA0  2B		+
X1fa1:	ld	c,e		; 1FA1  4B		K
X1fa2:	dec	c		; 1FA2  0D		.
	ld	a,b		; 1FA3  78		x
	jp	z,X1d60		; 1FA4  CA 60 1D	J`.
	call	X1e5b		; 1FA7  CD 5B 1E	M[.
	cp	2ch		; 1FAA  FE 2C		~,
	ret	nz		; 1FAC  C0		@
	jr	X1fa2		; 1FAD  18 F3		.s
;
	ld	de,X40f2	; 1FAF  11 F2 40	.r@
	ld	a,(de)		; 1FB2  1A		.
	or	a		; 1FB3  B7		7
	jp	z,X19a0		; 1FB4  CA A0 19	J .
	inc	a		; 1FB7  3C		<
	ld	(X409a),a	; 1FB8  32 9A 40	2.@
	ld	(de),a		; 1FBB  12		.
	ld	a,(hl)		; 1FBC  7E		~
	cp	crtkeybcnt	; 1FBD  FE 87		~.
	jr	z,X1fcd		; 1FBF  28 0C		(.
	call	X1e5a		; 1FC1  CD 5A 1E	MZ.
	ret	nz		; 1FC4  C0		@
	ld	a,d		; 1FC5  7A		z
	or	e		; 1FC6  B3		3
	jp	nz,X1ec5	; 1FC7  C2 C5 1E	BE.
	inc	a		; 1FCA  3C		<
	jr	X1fcf		; 1FCB  18 02		..
;
X1fcd:	rst	10h		; 1FCD  D7		W
	ret	nz		; 1FCE  C0		@
X1fcf:	ld	hl,(X40ee)	; 1FCF  2A EE 40	*n@
	ex	de,hl		; 1FD2  EB		k
	ld	hl,(X40ea)	; 1FD3  2A EA 40	*j@
	ld	(X40a2),hl	; 1FD6  22 A2 40	""@
	ex	de,hl		; 1FD9  EB		k
	ret	nz		; 1FDA  C0		@
	ld	a,(hl)		; 1FDB  7E		~
	or	a		; 1FDC  B7		7
	jr	nz,X1fe3	; 1FDD  20 04		 .
	inc	hl		; 1FDF  23		#
	inc	hl		; 1FE0  23		#
	inc	hl		; 1FE1  23		#
	inc	hl		; 1FE2  23		#
X1fe3:	inc	hl		; 1FE3  23		#
	ld	a,d		; 1FE4  7A		z
	and	e		; 1FE5  A3		#
	inc	a		; 1FE6  3C		<
	jp	nz,X1f05	; 1FE7  C2 05 1F	B..
	ld	a,(X40dd)	; 1FEA  3A DD 40	:]@
	dec	a		; 1FED  3D		=
	jp	z,X1dbe		; 1FEE  CA BE 1D	J>.
	jp	X1f05		; 1FF1  C3 05 1F	C..
;
	call	X2b1c		; 1FF4  CD 1C 2B	M.+
	ret	nz		; 1FF7  C0		@
	or	a		; 1FF8  B7		7
	jp	z,X1e4a		; 1FF9  CA 4A 1E	JJ.
	dec	a		; 1FFC  3D		=
	add	a,a		; 1FFD  87		.
	ld	e,a		; 1FFE  5F		_
	cp	2dh		; 1FFF  FE 2D		~-
	jr	c,X2005		; 2001  38 02		8.
	ld	e,26h		; 2003  1E 26		.&
X2005:	jp	X19a2		; 2005  C3 A2 19	C".
;
	ld	de,X000a	; 2008  11 0A 00	...
	push	de		; 200B  D5		U
	jr	z,X2025		; 200C  28 17		(.
	call	X1e4f		; 200E  CD 4F 1E	MO.
	ex	de,hl		; 2011  EB		k
	ex	(sp),hl		; 2012  E3		c
	jr	z,X2026		; 2013  28 11		(.
	ex	de,hl		; 2015  EB		k
	rst	8		; 2016  CF		O
	inc	l		; 2017  2C		,
	ex	de,hl		; 2018  EB		k
	ld	hl,(X40e4)	; 2019  2A E4 40	*d@
	ex	de,hl		; 201C  EB		k
	jr	z,X2025		; 201D  28 06		(.
	call	X1e5a		; 201F  CD 5A 1E	MZ.
	jp	nz,X1997	; 2022  C2 97 19	B..
X2025:	ex	de,hl		; 2025  EB		k
X2026:	ld	a,h		; 2026  7C		|
	or	l		; 2027  B5		5
	jp	z,X1e4a		; 2028  CA 4A 1E	JJ.
	ld	(X40e4),hl	; 202B  22 E4 40	"d@
	ld	(X40e1),a	; 202E  32 E1 40	2a@
	pop	hl		; 2031  E1		a
	ld	(X40e2),hl	; 2032  22 E2 40	"b@
	pop	bc		; 2035  C1		A
	jp	X1a33		; 2036  C3 33 1A	C3.
;
	call	X2337		; 2039  CD 37 23	M7#
	ld	a,(hl)		; 203C  7E		~
	cp	2ch		; 203D  FE 2C		~,
	call	z,X1d78		; 203F  CC 78 1D	Lx.
	cp	0cah		; 2042  FE CA		~J
	call	z,X1d78		; 2044  CC 78 1D	Lx.
	dec	hl		; 2047  2B		+
	push	hl		; 2048  E5		e
	call	X0994		; 2049  CD 94 09	M..
	pop	hl		; 204C  E1		a
	jr	z,X2056		; 204D  28 07		(.
X204f:	rst	10h		; 204F  D7		W
	jp	c,X1ec2		; 2050  DA C2 1E	ZB.
	jp	X1d5f		; 2053  C3 5F 1D	C_.
;
X2056:	ld	d,1		; 2056  16 01		..
X2058:	call	X1f05		; 2058  CD 05 1F	M..
	or	a		; 205B  B7		7
	ret	z		; 205C  C8		H
	rst	10h		; 205D  D7		W
	cp	95h		; 205E  FE 95		~.
	jr	nz,X2058	; 2060  20 F6		 v
	dec	d		; 2062  15		.
	jr	nz,X2058	; 2063  20 F3		 s
	jr	X204f		; 2065  18 E8		.h
;
	ld	a,1		; 2067  3E 01		>.
	ld	(X409c),a	; 2069  32 9C 40	2.@
	jp	X209b		; 206C  C3 9B 20	C.
;
	call	X41ca		; 206F  CD CA 41	MJA
	cp	blislowblok	; 2072  FE 40		~@
	jr	nz,X209b	; 2074  20 25		 %
	call	X2b01		; 2076  CD 01 2B	M.+
	push	hl		; 2079  E5		e
	ld	hl,X077f	; 207A  21 7F 07	!..
	sbc	hl,de		; 207D  ED 52		mR
	jp	c,X1e4a		; 207F  DA 4A 1E	ZJ.
	ex	de,hl		; 2082  EB		k
	ld	(X4020),hl	; 2083  22 20 40	" @
	ex	de,hl		; 2086  EB		k
	call	X0116		; 2087  CD 16 01	M..
	pop	hl		; 208A  E1		a
	ld	(X40a6),a	; 208B  32 A6 40	2&@
	rst	8		; 208E  CF		O
	inc	l		; 208F  2C		,
	jr	X209b		; 2090  18 09		..
;
	ORG	209bh
;
X209b:	dec	hl		; 209B  2B		+
	rst	10h		; 209C  D7		W
	call	z,X20fe		; 209D  CC FE 20	L~
X20a0:	jp	z,X2169		; 20A0  CA 69 21	Ji!
	cp	0bfh		; 20A3  FE BF		~?
	jp	z,X2cbd		; 20A5  CA BD 2C	J=,
	cp	0bch		; 20A8  FE BC		~<
	jp	z,X2137		; 20AA  CA 37 21	J7!
	push	hl		; 20AD  E5		e
	cp	2ch		; 20AE  FE 2C		~,
	jp	z,X2108		; 20B0  CA 08 21	J.!
	cp	ram0buf		; 20B3  FE 3B		~;
	jp	z,X2164		; 20B5  CA 64 21	Jd!
	pop	bc		; 20B8  C1		A
	call	X2337		; 20B9  CD 37 23	M7#
	push	hl		; 20BC  E5		e
	rst	20h		; 20BD  E7		g
	jr	z,X20f2		; 20BE  28 32		(2
	call	X0fbd		; 20C0  CD BD 0F	M=.
	call	X2865		; 20C3  CD 65 28	Me(
	call	X41cd		; 20C6  CD CD 41	MMA
	ld	hl,(X4121)	; 20C9  2A 21 41	*!A
	ld	a,(X409c)	; 20CC  3A 9C 40	:.@
	or	a		; 20CF  B7		7
	jp	m,X20e9		; 20D0  FA E9 20	zi
	jr	z,X20dd		; 20D3  28 08		(.
	ld	a,(X409b)	; 20D5  3A 9B 40	:.@
	add	a,(hl)		; 20D8  86		.
	cp	crtram1dat	; 20D9  FE 84		~.
	jr	X20e6		; 20DB  18 09		..
;
X20dd:	ld	a,(X409d)	; 20DD  3A 9D 40	:.@
	ld	b,a		; 20E0  47		G
	ld	a,(X40a6)	; 20E1  3A A6 40	:&@
	add	a,(hl)		; 20E4  86		.
	cp	b		; 20E5  B8		8
X20e6:	call	nc,X20fe	; 20E6  D4 FE 20	T~
X20e9:	call	X28aa		; 20E9  CD AA 28	M*(
	ld	a,20h		; 20EC  3E 20		>
	call	X032a		; 20EE  CD 2A 03	M*.
	or	a		; 20F1  B7		7
X20f2:	call	z,X28aa		; 20F2  CC AA 28	L*(
	pop	hl		; 20F5  E1		a
	jp	X209b		; 20F6  C3 9B 20	C.
;
X20f9:	ld	a,(X40a6)	; 20F9  3A A6 40	:&@
	or	a		; 20FC  B7		7
	ret	z		; 20FD  C8		H
X20fe:	ld	a,0dh		; 20FE  3E 0D		>.
X2100:	call	X032a		; 2100  CD 2A 03	M*.
X2103:	call	X41d0		; 2103  CD D0 41	MPA
	xor	a		; 2106  AF		/
	ret			; 2107  C9		I
;
X2108:	call	X41d3		; 2108  CD D3 41	MSA
	ld	a,(X409c)	; 210B  3A 9C 40	:.@
	or	a		; 210E  B7		7
	jp	p,X2119		; 210F  F2 19 21	r.!
	ld	a,2ch		; 2112  3E 2C		>,
	call	X032a		; 2114  CD 2A 03	M*.
	jr	X2164		; 2117  18 4B		.K
;
X2119:	jr	z,X2123		; 2119  28 08		(.
	ld	a,(X409b)	; 211B  3A 9B 40	:.@
	cp	70h		; 211E  FE 70		~p
	jp	X212b		; 2120  C3 2B 21	C+!
;
X2123:	ld	a,(X409e)	; 2123  3A 9E 40	:.@
	ld	b,a		; 2126  47		G
	ld	a,(X40a6)	; 2127  3A A6 40	:&@
	cp	b		; 212A  B8		8
X212b:	call	nc,X20fe	; 212B  D4 FE 20	T~
	jr	nc,X2164	; 212E  30 34		04
X2130:	sub	10h		; 2130  D6 10		V.
	jr	nc,X2130	; 2132  30 FC		0|
	cpl			; 2134  2F		/
	jr	X215a		; 2135  18 23		.#
;
X2137:	call	X2b1b		; 2137  CD 1B 2B	M.+
	call	X0116		; 213A  CD 16 01	M..
	rst	8		; 213D  CF		O
	add	hl,hl		; 213E  29		)
	dec	hl		; 213F  2B		+
	push	hl		; 2140  E5		e
	call	X41d3		; 2141  CD D3 41	MSA
	ld	a,(X409c)	; 2144  3A 9C 40	:.@
	or	a		; 2147  B7		7
	jp	m,X1e4a		; 2148  FA 4A 1E	zJ.
	jp	z,X2153		; 214B  CA 53 21	JS!
	ld	a,(X409b)	; 214E  3A 9B 40	:.@
	jr	X2156		; 2151  18 03		..
;
X2153:	ld	a,(X40a6)	; 2153  3A A6 40	:&@
X2156:	cpl			; 2156  2F		/
	add	a,e		; 2157  83		.
	jr	nc,X2164	; 2158  30 0A		0.
X215a:	inc	a		; 215A  3C		<
	ld	b,a		; 215B  47		G
	ld	a,20h		; 215C  3E 20		>
X215e:	call	X032a		; 215E  CD 2A 03	M*.
	dec	b		; 2161  05		.
	jr	nz,X215e	; 2162  20 FA		 z
X2164:	pop	hl		; 2164  E1		a
	rst	10h		; 2165  D7		W
	jp	X20a0		; 2166  C3 A0 20	C
;
X2169:	ld	a,(X409c)	; 2169  3A 9C 40	:.@
	or	a		; 216C  B7		7
	call	m,X01f8		; 216D  FC F8 01	|x.
	xor	a		; 2170  AF		/
	ld	(X409c),a	; 2171  32 9C 40	2.@
	call	X41be		; 2174  CD BE 41	M>A
	ret			; 2177  C9		I
;
X2178:	defb	'?REDO'					; 2178
;
	dec	c		; 217D  0D		.
	nop			; 217E  00		.
X217f:	ld	a,(X40de)	; 217F  3A DE 40	:^@
	or	a		; 2182  B7		7
	jp	nz,X1991	; 2183  C2 91 19	B..
	ld	a,(X40a9)	; 2186  3A A9 40	:)@
	or	a		; 2189  B7		7
	ld	e,2ah		; 218A  1E 2A		.*
	jp	z,X19a2		; 218C  CA A2 19	J".
	pop	bc		; 218F  C1		A
	ld	hl,X2178	; 2190  21 78 21	!x!
	call	X28a7		; 2193  CD A7 28	M'(
	ld	hl,(X40e6)	; 2196  2A E6 40	*f@
	ret			; 2199  C9		I
;
	call	X2828		; 219A  CD 28 28	M((
	ld	a,(hl)		; 219D  7E		~
	call	X41d6		; 219E  CD D6 41	MVA
	sub	23h		; 21A1  D6 23		V#
	ld	(X40a9),a	; 21A3  32 A9 40	2)@
	ld	a,(hl)		; 21A6  7E		~
	jr	X21c9		; 21A7  18 20		.
;
X21a9:	ld	b,b		; 21A9  40		@
	call	X2c05		; 21AA  CD 05 2C	M.,
	ld	(X21a9),a	; 21AD  32 A9 21	2)!
	jp	X2c39		; 21B0  C3 39 2C	C9,
;
	ld	a,0eh		; 21B3  3E 0E		>.
	out	(crt6545adst),a	; 21B5  D3 8C		S.
	in	a,(crt6545data)	; 21B7  DB 8D		[.
	ld	h,a		; 21B9  67		g
	ld	a,0fh		; 21BA  3E 0F		>.
	out	(crt6545adst),a	; 21BC  D3 8C		S.
	in	a,(crt6545data)	; 21BE  DB 8D		[.
	ld	l,a		; 21C0  6F		o
	ld	a,1fh		; 21C1  3E 1F		>.
	out	(crt6545adst),a	; 21C3  D3 8C		S.
	ld	(X3186),hl	; 21C5  22 86 31	".1
	ret			; 21C8  C9		I
;
X21c9:	ld	bc,X21db	; 21C9  01 DB 21	.[!
	push	bc		; 21CC  C5		E
	cp	22h		; 21CD  FE 22		~"
	ret	nz		; 21CF  C0		@
	call	X2866		; 21D0  CD 66 28	Mf(
	rst	8		; 21D3  CF		O
	dec	sp		; 21D4  3B		;
	push	hl		; 21D5  E5		e
	call	X28aa		; 21D6  CD AA 28	M*(
	pop	hl		; 21D9  E1		a
	ret			; 21DA  C9		I
;
X21db:	push	hl		; 21DB  E5		e
	call	X1bb3		; 21DC  CD B3 1B	M3.
	pop	bc		; 21DF  C1		A
	jp	c,X1dbe		; 21E0  DA BE 1D	Z>.
	inc	hl		; 21E3  23		#
	ld	a,(hl)		; 21E4  7E		~
	or	a		; 21E5  B7		7
	dec	hl		; 21E6  2B		+
	push	bc		; 21E7  C5		E
	jp	z,X1f04		; 21E8  CA 04 1F	J..
	ld	(hl),2ch	; 21EB  36 2C		6,
; 	jr	X21f4		; 21ED  18 05		..
	defb	$18,$05
;
	push	hl		; 21EF  E5		e
	ld	hl,(X40ff)	; 21F0  2A FF 40	*.@
	or	0afh		; 21F3  F6 AF		v/
	ld	(X40de),a	; 21F5  32 DE 40	2^@
	ex	(sp),hl		; 21F8  E3		c
	jr	X21fd		; 21F9  18 02		..
;
X21fb:	rst	8		; 21FB  CF		O
	inc	l		; 21FC  2C		,
X21fd:	call	X260d		; 21FD  CD 0D 26	M.&
	ex	(sp),hl		; 2200  E3		c
	push	de		; 2201  D5		U
	ld	a,(hl)		; 2202  7E		~
	cp	2ch		; 2203  FE 2C		~,
	jr	z,X222d		; 2205  28 26		(&
	ld	a,(X40de)	; 2207  3A DE 40	:^@
	or	a		; 220A  B7		7
	jp	nz,X2296	; 220B  C2 96 22	B."
	ld	a,(X40a9)	; 220E  3A A9 40	:)@
	or	a		; 2211  B7		7
	ld	e,6		; 2212  1E 06		..
	jp	z,X19a2		; 2214  CA A2 19	J".
	ld	a,fsekbuf	; 2217  3E 3F		>?
	call	X032a		; 2219  CD 2A 03	M*.
	call	X1bb3		; 221C  CD B3 1B	M3.
	pop	de		; 221F  D1		Q
	pop	bc		; 2220  C1		A
	jp	c,X1dbe		; 2221  DA BE 1D	Z>.
	inc	hl		; 2224  23		#
	ld	a,(hl)		; 2225  7E		~
	or	a		; 2226  B7		7
	dec	hl		; 2227  2B		+
	push	bc		; 2228  C5		E
	jp	z,X1f04		; 2229  CA 04 1F	J..
	push	de		; 222C  D5		U
X222d:	call	X41dc		; 222D  CD DC 41	M\A
	rst	20h		; 2230  E7		g
	push	af		; 2231  F5		u
	jr	nz,X224d	; 2232  20 19		 .
	rst	10h		; 2234  D7		W
	ld	d,a		; 2235  57		W
	ld	b,a		; 2236  47		G
	cp	22h		; 2237  FE 22		~"
	jr	z,X2240		; 2239  28 05		(.
	ld	d,rst7sp3	; 223B  16 3A		.:
	ld	b,2ch		; 223D  06 2C		.,
	dec	hl		; 223F  2B		+
X2240:	call	X2869		; 2240  CD 69 28	Mi(
X2243:	pop	af		; 2243  F1		q
	ex	de,hl		; 2244  EB		k
	ld	hl,X225a	; 2245  21 5A 22	!Z"
	ex	(sp),hl		; 2248  E3		c
	push	de		; 2249  D5		U
	jp	X1f33		; 224A  C3 33 1F	C3.
;
X224d:	rst	10h		; 224D  D7		W
	pop	af		; 224E  F1		q
	push	af		; 224F  F5		u
	ld	bc,X2243	; 2250  01 43 22	.C"
	push	bc		; 2253  C5		E
	jp	c,X0e6c		; 2254  DA 6C 0E	Zl.
	jp	nc,X0e65	; 2257  D2 65 0E	Re.
X225a:	dec	hl		; 225A  2B		+
	rst	10h		; 225B  D7		W
	jr	z,X2263		; 225C  28 05		(.
	cp	2ch		; 225E  FE 2C		~,
	jp	nz,X217f	; 2260  C2 7F 21	B.!
X2263:	ex	(sp),hl		; 2263  E3		c
	dec	hl		; 2264  2B		+
	rst	10h		; 2265  D7		W
	jp	nz,X21fb	; 2266  C2 FB 21	B{!
	pop	de		; 2269  D1		Q
	nop			; 226A  00		.
	nop			; 226B  00		.
	nop			; 226C  00		.
	nop			; 226D  00		.
	nop			; 226E  00		.
	ld	a,(X40de)	; 226F  3A DE 40	:^@
	or	a		; 2272  B7		7
	ex	de,hl		; 2273  EB		k
	jp	nz,X1d96	; 2274  C2 96 1D	B..
	push	de		; 2277  D5		U
	call	X41df		; 2278  CD DF 41	M_A
	or	(hl)		; 227B  B6		6
	ld	hl,X2286	; 227C  21 86 22	!."
	call	nz,X28a7	; 227F  C4 A7 28	D'(
	pop	hl		; 2282  E1		a
	jp	X2169		; 2283  C3 69 21	Ci!
;
X2286:	defb	'?Extra ignored'			; 2286
;
	dec	c		; 2294  0D		.
	nop			; 2295  00		.
X2296:	call	X1f05		; 2296  CD 05 1F	M..
	or	a		; 2299  B7		7
	jr	nz,X22ae	; 229A  20 12		 .
	inc	hl		; 229C  23		#
	ld	a,(hl)		; 229D  7E		~
	inc	hl		; 229E  23		#
	or	(hl)		; 229F  B6		6
	ld	e,6		; 22A0  1E 06		..
	jp	z,X19a2		; 22A2  CA A2 19	J".
	inc	hl		; 22A5  23		#
	ld	e,(hl)		; 22A6  5E		^
	inc	hl		; 22A7  23		#
	ld	d,(hl)		; 22A8  56		V
	ex	de,hl		; 22A9  EB		k
	ld	(X40da),hl	; 22AA  22 DA 40	"Z@
	ex	de,hl		; 22AD  EB		k
X22ae:	rst	10h		; 22AE  D7		W
	cp	crtram2dat	; 22AF  FE 88		~.
	jr	nz,X2296	; 22B1  20 E3		 c
	jp	X222d		; 22B3  C3 2D 22	C-"
;
	ld	de,X0000	; 22B6  11 00 00	...
X22b9:	call	nz,X260d	; 22B9  C4 0D 26	D.&
	ld	(X40df),hl	; 22BC  22 DF 40	"_@
	call	X1936		; 22BF  CD 36 19	M6.
	jp	nz,X199d	; 22C2  C2 9D 19	B..
	ld	sp,hl		; 22C5  F9		y
	ld	(X40e8),hl	; 22C6  22 E8 40	"h@
	push	de		; 22C9  D5		U
	ld	a,(hl)		; 22CA  7E		~
	inc	hl		; 22CB  23		#
	push	af		; 22CC  F5		u
	push	de		; 22CD  D5		U
	ld	a,(hl)		; 22CE  7E		~
	inc	hl		; 22CF  23		#
	or	a		; 22D0  B7		7
	jp	m,X22ea		; 22D1  FA EA 22	zj"
	call	X09b1		; 22D4  CD B1 09	M1.
	ex	(sp),hl		; 22D7  E3		c
	push	hl		; 22D8  E5		e
	call	X070b		; 22D9  CD 0B 07	M..
	pop	hl		; 22DC  E1		a
	call	X09cb		; 22DD  CD CB 09	MK.
	pop	hl		; 22E0  E1		a
	call	X09c2		; 22E1  CD C2 09	MB.
	push	hl		; 22E4  E5		e
	call	X0a0c		; 22E5  CD 0C 0A	M..
	jr	X2313		; 22E8  18 29		.)
;
X22ea:	inc	hl		; 22EA  23		#
	inc	hl		; 22EB  23		#
	inc	hl		; 22EC  23		#
	inc	hl		; 22ED  23		#
	ld	c,(hl)		; 22EE  4E		N
	inc	hl		; 22EF  23		#
	ld	b,(hl)		; 22F0  46		F
	inc	hl		; 22F1  23		#
	ex	(sp),hl		; 22F2  E3		c
	ld	e,(hl)		; 22F3  5E		^
	inc	hl		; 22F4  23		#
	ld	d,(hl)		; 22F5  56		V
	push	hl		; 22F6  E5		e
	ld	l,c		; 22F7  69		i
	ld	h,b		; 22F8  60		`
	call	X0bd2		; 22F9  CD D2 0B	MR.
	ld	a,(X40af)	; 22FC  3A AF 40	:/@
	cp	4		; 22FF  FE 04		~.
	jp	z,X07b2		; 2301  CA B2 07	J2.
	ex	de,hl		; 2304  EB		k
	pop	hl		; 2305  E1		a
	ld	(hl),d		; 2306  72		r
	dec	hl		; 2307  2B		+
	ld	(hl),e		; 2308  73		s
	pop	hl		; 2309  E1		a
	push	de		; 230A  D5		U
	ld	e,(hl)		; 230B  5E		^
	inc	hl		; 230C  23		#
	ld	d,(hl)		; 230D  56		V
	inc	hl		; 230E  23		#
	ex	(sp),hl		; 230F  E3		c
	call	X0a39		; 2310  CD 39 0A	M9.
X2313:	pop	hl		; 2313  E1		a
	pop	bc		; 2314  C1		A
	sub	b		; 2315  90		.
	call	X09c2		; 2316  CD C2 09	MB.
	jr	z,X2324		; 2319  28 09		(.
	ex	de,hl		; 231B  EB		k
	ld	(X40a2),hl	; 231C  22 A2 40	""@
	ld	l,c		; 231F  69		i
	ld	h,b		; 2320  60		`
	jp	X1d1a		; 2321  C3 1A 1D	C..
;
X2324:	ld	sp,hl		; 2324  F9		y
	ld	(X40e8),hl	; 2325  22 E8 40	"h@
	ld	hl,(X40df)	; 2328  2A DF 40	*_@
	ld	a,(hl)		; 232B  7E		~
	cp	2ch		; 232C  FE 2C		~,
	jp	nz,X1d1e	; 232E  C2 1E 1D	B..
	rst	10h		; 2331  D7		W
	call	X22b9		; 2332  CD B9 22	M9"
X2335:	rst	8		; 2335  CF		O
; 	jr	z,X2363		; 2336  28 2B		(+
	defb	$28,$2b
X2338:	ld	d,0		; 2338  16 00		..
X233a:	push	de		; 233A  D5		U
	ld	c,1		; 233B  0E 01		..
	call	X1963		; 233D  CD 63 19	Mc.
	call	X249f		; 2340  CD 9F 24	M.$
	ld	(X40f3),hl	; 2343  22 F3 40	"s@
X2346:	ld	hl,(X40f3)	; 2346  2A F3 40	*s@
X2349:	pop	bc		; 2349  C1		A
	ld	a,(hl)		; 234A  7E		~
	ld	d,0		; 234B  16 00		..
X234d:	sub	0d4h		; 234D  D6 D4		VT
	jr	c,X2364		; 234F  38 13		8.
	cp	3		; 2351  FE 03		~.
	jr	nc,X2364	; 2353  30 0F		0.
	cp	1		; 2355  FE 01		~.
	rla			; 2357  17		.
	xor	d		; 2358  AA		*
	cp	d		; 2359  BA		:
	ld	d,a		; 235A  57		W
	jp	c,X1997		; 235B  DA 97 19	Z..
	ld	(X40d8),hl	; 235E  22 D8 40	"X@
	rst	10h		; 2361  D7		W
	jr	X234d		; 2362  18 E9		.i
;
X2364:	ld	a,d		; 2364  7A		z
	or	a		; 2365  B7		7
	jp	nz,X23ec	; 2366  C2 EC 23	Bl#
	ld	a,(hl)		; 2369  7E		~
	ld	(X40d8),hl	; 236A  22 D8 40	"X@
	sub	0cdh		; 236D  D6 CD		VM
	ret	c		; 236F  D8		X
	cp	7		; 2370  FE 07		~.
	ret	nc		; 2372  D0		P
	ld	e,a		; 2373  5F		_
	ld	a,(X40af)	; 2374  3A AF 40	:/@
	sub	3		; 2377  D6 03		V.
	or	e		; 2379  B3		3
	jp	z,X298f		; 237A  CA 8F 29	J.)
	ld	hl,X189a	; 237D  21 9A 18	!..
	add	hl,de		; 2380  19		.
	ld	a,b		; 2381  78		x
	ld	d,(hl)		; 2382  56		V
	cp	d		; 2383  BA		:
	ret	nc		; 2384  D0		P
	push	bc		; 2385  C5		E
	ld	bc,X2346	; 2386  01 46 23	.F#
	push	bc		; 2389  C5		E
	ld	a,d		; 238A  7A		z
	cp	7fh		; 238B  FE 7F		~.
	jp	z,X23d4		; 238D  CA D4 23	JT#
	cp	51h		; 2390  FE 51		~Q
	jp	c,X23e1		; 2392  DA E1 23	Za#
X2395:	ld	hl,X4121	; 2395  21 21 41	!!A
	or	a		; 2398  B7		7
	ld	a,(X40af)	; 2399  3A AF 40	:/@
	dec	a		; 239C  3D		=
	dec	a		; 239D  3D		=
	dec	a		; 239E  3D		=
	jp	z,X0af6		; 239F  CA F6 0A	Jv.
	ld	c,(hl)		; 23A2  4E		N
	inc	hl		; 23A3  23		#
	ld	b,(hl)		; 23A4  46		F
	push	bc		; 23A5  C5		E
	jp	m,X23c5		; 23A6  FA C5 23	zE#
	inc	hl		; 23A9  23		#
	ld	c,(hl)		; 23AA  4E		N
	inc	hl		; 23AB  23		#
	ld	b,(hl)		; 23AC  46		F
	push	bc		; 23AD  C5		E
	push	af		; 23AE  F5		u
	or	a		; 23AF  B7		7
	jp	po,X23c4	; 23B0  E2 C4 23	bD#
	pop	af		; 23B3  F1		q
	inc	hl		; 23B4  23		#
	jr	c,X23ba		; 23B5  38 03		8.
	ld	hl,X411d	; 23B7  21 1D 41	!.A
X23ba:	ld	c,(hl)		; 23BA  4E		N
	inc	hl		; 23BB  23		#
	ld	b,(hl)		; 23BC  46		F
	inc	hl		; 23BD  23		#
	push	bc		; 23BE  C5		E
	ld	c,(hl)		; 23BF  4E		N
	inc	hl		; 23C0  23		#
	ld	b,(hl)		; 23C1  46		F
	push	bc		; 23C2  C5		E
	ld	b,0f1h		; 23C3  06 F1		.q
X23c5:	add	a,3		; 23C5  C6 03		F.
	ld	c,e		; 23C7  4B		K
	ld	b,a		; 23C8  47		G
	push	bc		; 23C9  C5		E
	ld	bc,X2406	; 23CA  01 06 24	..$
X23cd:	push	bc		; 23CD  C5		E
	ld	hl,(X40d8)	; 23CE  2A D8 40	*X@
	jp	X233a		; 23D1  C3 3A 23	C:#
;
X23d4:	call	X0ab1		; 23D4  CD B1 0A	M1.
	call	X09a4		; 23D7  CD A4 09	M$.
	ld	bc,X13f2	; 23DA  01 F2 13	.r.
	ld	d,7fh		; 23DD  16 7F		..
	jr	X23cd		; 23DF  18 EC		.l
;
X23e1:	push	de		; 23E1  D5		U
	call	X0a7f		; 23E2  CD 7F 0A	M..
	pop	de		; 23E5  D1		Q
	push	hl		; 23E6  E5		e
	ld	bc,X25e9	; 23E7  01 E9 25	.i%
	jr	X23cd		; 23EA  18 E1		.a
;
X23ec:	ld	a,b		; 23EC  78		x
	cp	64h		; 23ED  FE 64		~d
	ret	nc		; 23EF  D0		P
	push	bc		; 23F0  C5		E
	push	de		; 23F1  D5		U
	ld	de,X6404	; 23F2  11 04 64	..d
	ld	hl,X25b8	; 23F5  21 B8 25	!8%
X23f8:	push	hl		; 23F8  E5		e
	rst	20h		; 23F9  E7		g
	jp	nz,X2395	; 23FA  C2 95 23	B.#
	ld	hl,(X4121)	; 23FD  2A 21 41	*!A
X2400:	push	hl		; 2400  E5		e
	ld	bc,X258c	; 2401  01 8C 25	..%
	jr	X23cd		; 2404  18 C7		.G
;
X2406:	pop	bc		; 2406  C1		A
	ld	a,c		; 2407  79		y
	ld	(X40b0),a	; 2408  32 B0 40	20@
	ld	a,b		; 240B  78		x
	cp	8		; 240C  FE 08		~.
	jr	z,X2438		; 240E  28 28		((
	ld	a,(X40af)	; 2410  3A AF 40	:/@
	cp	8		; 2413  FE 08		~.
	jp	z,X2460		; 2415  CA 60 24	J`$
	ld	d,a		; 2418  57		W
	ld	a,b		; 2419  78		x
	cp	4		; 241A  FE 04		~.
	jp	z,X2472		; 241C  CA 72 24	Jr$
	ld	a,d		; 241F  7A		z
	cp	3		; 2420  FE 03		~.
	jp	z,X0af6		; 2422  CA F6 0A	Jv.
	jp	nc,X247c	; 2425  D2 7C 24	R|$
	ld	hl,X18bf	; 2428  21 BF 18	!?.
	ld	b,0		; 242B  06 00		..
	add	hl,bc		; 242D  09		.
	add	hl,bc		; 242E  09		.
	ld	c,(hl)		; 242F  4E		N
	inc	hl		; 2430  23		#
	ld	b,(hl)		; 2431  46		F
	pop	de		; 2432  D1		Q
	ld	hl,(X4121)	; 2433  2A 21 41	*!A
	push	bc		; 2436  C5		E
	ret			; 2437  C9		I
;
X2438:	call	X0adb		; 2438  CD DB 0A	M[.
	call	X09fc		; 243B  CD FC 09	M|.
	pop	hl		; 243E  E1		a
	ld	(X411f),hl	; 243F  22 1F 41	".A
	pop	hl		; 2442  E1		a
	ld	(X411d),hl	; 2443  22 1D 41	".A
X2446:	pop	bc		; 2446  C1		A
	pop	de		; 2447  D1		Q
	call	X09b4		; 2448  CD B4 09	M4.
X244b:	call	X0adb		; 244B  CD DB 0A	M[.
	ld	hl,X18ab	; 244E  21 AB 18	!+.
X2451:	ld	a,(X40b0)	; 2451  3A B0 40	:0@
	rlca			; 2454  07		.
	push	bc		; 2455  C5		E
	ld	c,a		; 2456  4F		O
	ld	b,0		; 2457  06 00		..
	add	hl,bc		; 2459  09		.
	pop	bc		; 245A  C1		A
	ld	a,(hl)		; 245B  7E		~
	inc	hl		; 245C  23		#
	ld	h,(hl)		; 245D  66		f
	ld	l,a		; 245E  6F		o
	jp	(hl)		; 245F  E9		i
;
X2460:	push	bc		; 2460  C5		E
	call	X09fc		; 2461  CD FC 09	M|.
	pop	af		; 2464  F1		q
	ld	(X40af),a	; 2465  32 AF 40	2/@
	cp	4		; 2468  FE 04		~.
	jr	z,X2446		; 246A  28 DA		(Z
	pop	hl		; 246C  E1		a
	ld	(X4121),hl	; 246D  22 21 41	"!A
	jr	X244b		; 2470  18 D9		.Y
;
X2472:	call	X0ab1		; 2472  CD B1 0A	M1.
	pop	bc		; 2475  C1		A
	pop	de		; 2476  D1		Q
X2477:	ld	hl,X18b5	; 2477  21 B5 18	!5.
	jr	X2451		; 247A  18 D5		.U
;
X247c:	pop	hl		; 247C  E1		a
	call	X09a4		; 247D  CD A4 09	M$.
	call	X0acf		; 2480  CD CF 0A	MO.
	call	X09bf		; 2483  CD BF 09	M?.
	pop	hl		; 2486  E1		a
	ld	(X4123),hl	; 2487  22 23 41	"#A
	pop	hl		; 248A  E1		a
	ld	(X4121),hl	; 248B  22 21 41	"!A
	jr	X2477		; 248E  18 E7		.g
;
	push	hl		; 2490  E5		e
	ex	de,hl		; 2491  EB		k
	call	X0acf		; 2492  CD CF 0A	MO.
	pop	hl		; 2495  E1		a
	call	X09a4		; 2496  CD A4 09	M$.
	call	X0acf		; 2499  CD CF 0A	MO.
	jp	X08a0		; 249C  C3 A0 08	C .
;
X249f:	rst	10h		; 249F  D7		W
	ld	e,28h		; 24A0  1E 28		.(
	jp	z,X19a2		; 24A2  CA A2 19	J".
	jp	c,X0e6c		; 24A5  DA 6C 0E	Zl.
	call	X1e3d		; 24A8  CD 3D 1E	M=.
	jp	nc,X2540	; 24AB  D2 40 25	R@%
	cp	0cdh		; 24AE  FE CD		~M
	jr	z,X249f		; 24B0  28 ED		(m
	cp	2eh		; 24B2  FE 2E		~.
	jp	z,X0e6c		; 24B4  CA 6C 0E	Jl.
	cp	0ceh		; 24B7  FE CE		~N
	jp	z,X2532		; 24B9  CA 32 25	J2%
X24bc:	cp	22h		; 24BC  FE 22		~"
	jp	z,X2866		; 24BE  CA 66 28	Jf(
	cp	0cbh		; 24C1  FE CB		~K
	jp	z,X25c4		; 24C3  CA C4 25	JD%
	cp	26h		; 24C6  FE 26		~&
	jp	z,X4194		; 24C8  CA 94 41	J.A
	cp	0c3h		; 24CB  FE C3		~C
	jr	nz,X24d9	; 24CD  20 0A		 .
	rst	10h		; 24CF  D7		W
	ld	a,(X409a)	; 24D0  3A 9A 40	:.@
	push	hl		; 24D3  E5		e
	call	X27f8		; 24D4  CD F8 27	Mx'
	pop	hl		; 24D7  E1		a
	ret			; 24D8  C9		I
;
X24d9:	cp	0c2h		; 24D9  FE C2		~B
	jr	nz,X24e7	; 24DB  20 0A		 .
	rst	10h		; 24DD  D7		W
	push	hl		; 24DE  E5		e
	ld	hl,(X40ea)	; 24DF  2A EA 40	*j@
	call	X0c66		; 24E2  CD 66 0C	Mf.
	pop	hl		; 24E5  E1		a
	ret			; 24E6  C9		I
;
X24e7:	cp	0c0h		; 24E7  FE C0		~@
	jr	nz,X24ff	; 24E9  20 14		 .
	rst	10h		; 24EB  D7		W
	rst	8		; 24EC  CF		O
	jr	z,X24bc		; 24ED  28 CD		(M
	dec	c		; 24EF  0D		.
	ld	h,0cfh		; 24F0  26 CF		&O
	add	hl,hl		; 24F2  29		)
	push	hl		; 24F3  E5		e
	ex	de,hl		; 24F4  EB		k
	ld	a,h		; 24F5  7C		|
	or	l		; 24F6  B5		5
	jp	z,X1e4a		; 24F7  CA 4A 1E	JJ.
	call	X0a9a		; 24FA  CD 9A 0A	M..
	pop	hl		; 24FD  E1		a
	ret			; 24FE  C9		I
;
X24ff:	cp	0c1h		; 24FF  FE C1		~A
	jp	z,X27fe		; 2501  CA FE 27	J~'
	cp	0c5h		; 2504  FE C5		~E
	jp	z,X419d		; 2506  CA 9D 41	J.A
	cp	0c8h		; 2509  FE C8		~H
	jp	z,X27c9		; 250B  CA C9 27	JI'
	cp	0c7h		; 250E  FE C7		~G
	jp	z,X4176		; 2510  CA 76 41	JvA
	cp	0c6h		; 2513  FE C6		~F
	jp	z,X0132		; 2515  CA 32 01	J2.
	cp	0c9h		; 2518  FE C9		~I
	jp	z,X019d		; 251A  CA 9D 01	J..
	cp	0c4h		; 251D  FE C4		~D
	jp	z,X2a2f		; 251F  CA 2F 2A	J/*
	cp	0beh		; 2522  FE BE		~>
	jp	z,X4155		; 2524  CA 55 41	JUA
	sub	fdcdatareg	; 2527  D6 D7		VW
	jp	nc,X254e	; 2529  D2 4E 25	RN%
X252c:	call	X3224		; 252C  CD 24 32	M$2
	rst	8		; 252F  CF		O
	add	hl,hl		; 2530  29		)
	ret			; 2531  C9		I
;
X2532:	ld	d,7dh		; 2532  16 7D		.}
	call	X233a		; 2534  CD 3A 23	M:#
	ld	hl,(X40f3)	; 2537  2A F3 40	*s@
	push	hl		; 253A  E5		e
	call	X097b		; 253B  CD 7B 09	M{.
X253e:	pop	hl		; 253E  E1		a
	ret			; 253F  C9		I
;
X2540:	call	X260d		; 2540  CD 0D 26	M.&
X2543:	push	hl		; 2543  E5		e
	ex	de,hl		; 2544  EB		k
	ld	(X4121),hl	; 2545  22 21 41	"!A
	rst	20h		; 2548  E7		g
	call	nz,X09f7	; 2549  C4 F7 09	Dw.
	pop	hl		; 254C  E1		a
	ret			; 254D  C9		I
;
X254e:	ld	b,0		; 254E  06 00		..
	rlca			; 2550  07		.
	ld	c,a		; 2551  4F		O
	push	bc		; 2552  C5		E
	rst	10h		; 2553  D7		W
	ld	a,c		; 2554  79		y
	cp	frdpbuf		; 2555  FE 41		~A
	jr	c,X256f		; 2557  38 16		8.
	call	X2335		; 2559  CD 35 23	M5#
	rst	8		; 255C  CF		O
	inc	l		; 255D  2C		,
	call	X0af4		; 255E  CD F4 0A	Mt.
	ex	de,hl		; 2561  EB		k
	ld	hl,(X4121)	; 2562  2A 21 41	*!A
	ex	(sp),hl		; 2565  E3		c
	push	hl		; 2566  E5		e
	ex	de,hl		; 2567  EB		k
	call	X2b1c		; 2568  CD 1C 2B	M.+
	ex	de,hl		; 256B  EB		k
	ex	(sp),hl		; 256C  E3		c
	jr	X2583		; 256D  18 14		..
;
X256f:	call	X252c		; 256F  CD 2C 25	M,%
	ex	(sp),hl		; 2572  E3		c
	ld	a,l		; 2573  7D		}
	cp	0ch		; 2574  FE 0C		~.
	jr	c,X257f		; 2576  38 07		8.
	cp	esc		; 2578  FE 1B		~.
	push	hl		; 257A  E5		e
	call	c,X0ab1		; 257B  DC B1 0A	\1.
	pop	hl		; 257E  E1		a
X257f:	ld	de,X253e	; 257F  11 3E 25	.>%
	push	de		; 2582  D5		U
X2583:	ld	bc,X1608	; 2583  01 08 16	...
X2586:	add	hl,bc		; 2586  09		.
	ld	c,(hl)		; 2587  4E		N
	inc	hl		; 2588  23		#
	ld	h,(hl)		; 2589  66		f
	ld	l,c		; 258A  69		i
	jp	(hl)		; 258B  E9		i
;
X258c:	call	X29d7		; 258C  CD D7 29	MW)
	ld	a,(hl)		; 258F  7E		~
	inc	hl		; 2590  23		#
	ld	c,(hl)		; 2591  4E		N
	inc	hl		; 2592  23		#
	ld	b,(hl)		; 2593  46		F
	pop	de		; 2594  D1		Q
	push	bc		; 2595  C5		E
	push	af		; 2596  F5		u
	call	X29de		; 2597  CD DE 29	M^)
	pop	de		; 259A  D1		Q
	ld	e,(hl)		; 259B  5E		^
	inc	hl		; 259C  23		#
	ld	c,(hl)		; 259D  4E		N
	inc	hl		; 259E  23		#
	ld	b,(hl)		; 259F  46		F
	pop	hl		; 25A0  E1		a
X25a1:	ld	a,e		; 25A1  7B		{
	or	d		; 25A2  B2		2
	ret	z		; 25A3  C8		H
	ld	a,d		; 25A4  7A		z
	sub	1		; 25A5  D6 01		V.
	ret	c		; 25A7  D8		X
	xor	a		; 25A8  AF		/
	cp	e		; 25A9  BB		;
	inc	a		; 25AA  3C		<
	ret	nc		; 25AB  D0		P
	dec	d		; 25AC  15		.
	dec	e		; 25AD  1D		.
	ld	a,(bc)		; 25AE  0A		.
	cp	(hl)		; 25AF  BE		>
	inc	hl		; 25B0  23		#
	inc	bc		; 25B1  03		.
	jr	z,X25a1		; 25B2  28 ED		(m
	ccf			; 25B4  3F		?
	jp	X0960		; 25B5  C3 60 09	C`.
;
X25b8:	inc	a		; 25B8  3C		<
	adc	a,a		; 25B9  8F		.
	pop	bc		; 25BA  C1		A
	and	b		; 25BB  A0
	add	a,0ffh		; 25BC  C6 FF		F.
	sbc	a,a		; 25BE  9F		.
	call	X098d		; 25BF  CD 8D 09	M..
	jr	X25d6		; 25C2  18 12		..
;
X25c4:	ld	d,5ah		; 25C4  16 5A		.Z
	call	X233a		; 25C6  CD 3A 23	M:#
	call	X0a7f		; 25C9  CD 7F 0A	M..
	ld	a,l		; 25CC  7D		}
	cpl			; 25CD  2F		/
	ld	l,a		; 25CE  6F		o
	ld	a,h		; 25CF  7C		|
	cpl			; 25D0  2F		/
	ld	h,a		; 25D1  67		g
	ld	(X4121),hl	; 25D2  22 21 41	"!A
	pop	bc		; 25D5  C1		A
X25d6:	jp	X2346		; 25D6  C3 46 23	CF#
;
X25d9:	ld	a,(X40af)	; 25D9  3A AF 40	:/@
	cp	8		; 25DC  FE 08		~.
	jr	nc,X25e5	; 25DE  30 05		0.
	sub	3		; 25E0  D6 03		V.
	or	a		; 25E2  B7		7
	scf			; 25E3  37		7
	ret			; 25E4  C9		I
;
X25e5:	sub	3		; 25E5  D6 03		V.
	or	a		; 25E7  B7		7
	ret			; 25E8  C9		I
;
X25e9:	push	bc		; 25E9  C5		E
	call	X0a7f		; 25EA  CD 7F 0A	M..
	pop	af		; 25ED  F1		q
	pop	de		; 25EE  D1		Q
	ld	bc,X27fa	; 25EF  01 FA 27	.z'
	push	bc		; 25F2  C5		E
	cp	ftrkbuf		; 25F3  FE 46		~F
	jr	nz,X25fd	; 25F5  20 06		 .
	ld	a,e		; 25F7  7B		{
	or	l		; 25F8  B5		5
	ld	l,a		; 25F9  6F		o
	ld	a,h		; 25FA  7C		|
	or	d		; 25FB  B2		2
	ret			; 25FC  C9		I
;
X25fd:	ld	a,e		; 25FD  7B		{
	and	l		; 25FE  A5		%
	ld	l,a		; 25FF  6F		o
	ld	a,h		; 2600  7C		|
	and	d		; 2601  A2		"
	ret			; 2602  C9		I
;
X2603:	dec	hl		; 2603  2B		+
	rst	10h		; 2604  D7		W
	ret	z		; 2605  C8		H
	rst	8		; 2606  CF		O
	inc	l		; 2607  2C		,
X2608:	ld	bc,X2603	; 2608  01 03 26	..&
	push	bc		; 260B  C5		E
	or	0afh		; 260C  F6 AF		v/
	ld	(X40ae),a	; 260E  32 AE 40	2.@
	ld	b,(hl)		; 2611  46		F
	call	X1e3d		; 2612  CD 3D 1E	M=.
	jp	c,X1997		; 2615  DA 97 19	Z..
	xor	a		; 2618  AF		/
	ld	c,a		; 2619  4F		O
	rst	10h		; 261A  D7		W
	jr	c,X2622		; 261B  38 05		8.
	call	X1e3d		; 261D  CD 3D 1E	M=.
	jr	c,X262b		; 2620  38 09		8.
X2622:	ld	c,a		; 2622  4F		O
X2623:	rst	10h		; 2623  D7		W
	jr	c,X2623		; 2624  38 FD		8}
	call	X1e3d		; 2626  CD 3D 1E	M=.
	jr	nc,X2623	; 2629  30 F8		0x
X262b:	ld	de,X2652	; 262B  11 52 26	.R&
	push	de		; 262E  D5		U
	ld	d,2		; 262F  16 02		..
	cp	25h		; 2631  FE 25		~%
	ret	z		; 2633  C8		H
	inc	d		; 2634  14		.
	cp	24h		; 2635  FE 24		~$
	ret	z		; 2637  C8		H
	inc	d		; 2638  14		.
	cp	21h		; 2639  FE 21		~!
	ret	z		; 263B  C8		H
	ld	d,8		; 263C  16 08		..
	cp	23h		; 263E  FE 23		~#
	ret	z		; 2640  C8		H
	ld	a,b		; 2641  78		x
	sub	frdpbuf		; 2642  D6 41		VA
	and	7fh		; 2644  E6 7F		f.
	ld	e,a		; 2646  5F		_
	ld	d,0		; 2647  16 00		..
	push	hl		; 2649  E5		e
	ld	hl,X4101	; 264A  21 01 41	!.A
	add	hl,de		; 264D  19		.
	ld	d,(hl)		; 264E  56		V
	pop	hl		; 264F  E1		a
	dec	hl		; 2650  2B		+
	ret			; 2651  C9		I
;
X2652:	ld	a,d		; 2652  7A		z
	ld	(X40af),a	; 2653  32 AF 40	2/@
	rst	10h		; 2656  D7		W
	ld	a,(X40dc)	; 2657  3A DC 40	:\@
	or	a		; 265A  B7		7
	jp	nz,X2664	; 265B  C2 64 26	Bd&
	ld	a,(hl)		; 265E  7E		~
	sub	28h		; 265F  D6 28		V(
	jp	z,X26e9		; 2661  CA E9 26	Ji&
X2664:	xor	a		; 2664  AF		/
	ld	(X40dc),a	; 2665  32 DC 40	2\@
	push	hl		; 2668  E5		e
	push	de		; 2669  D5		U
	ld	hl,(X40f9)	; 266A  2A F9 40	*y@
X266d:	ex	de,hl		; 266D  EB		k
	ld	hl,(X40fb)	; 266E  2A FB 40	*{@
	rst	18h		; 2671  DF		_
	pop	hl		; 2672  E1		a
	jr	z,X268e		; 2673  28 19		(.
	ld	a,(de)		; 2675  1A		.
	ld	l,a		; 2676  6F		o
	cp	h		; 2677  BC		<
	inc	de		; 2678  13		.
; 	jr	nz,X2686	; 2679  20 0B		 .
	defb	$20,$0b
	ld	a,(de)		; 267B  1A		.
	cp	c		; 267C  B9		9
; 	jr	nz,X2686	; 267D  20 07		 .
	defb	$20,$07
	inc	de		; 267F  13		.
	ld	a,(de)		; 2680  1A		.
	cp	b		; 2681  B8		8
	jp	z,X26cc		; 2682  CA CC 26	JL&
	ld	a,xofc		; 2685  3E 13		>.
	inc	de		; 2687  13		.
	push	hl		; 2688  E5		e
	ld	h,0		; 2689  26 00		&.
	add	hl,de		; 268B  19		.
	jr	X266d		; 268C  18 DF		._
;
X268e:	ld	a,h		; 268E  7C		|
	pop	hl		; 268F  E1		a
	ex	(sp),hl		; 2690  E3		c
	push	af		; 2691  F5		u
	push	de		; 2692  D5		U
	ld	de,X24f1	; 2693  11 F1 24	.q$
	rst	18h		; 2696  DF		_
	jr	z,X26cf		; 2697  28 36		(6
	ld	de,X2543	; 2699  11 43 25	.C%
	rst	18h		; 269C  DF		_
	pop	de		; 269D  D1		Q
	jr	z,X26d5		; 269E  28 35		(5
	pop	af		; 26A0  F1		q
	ex	(sp),hl		; 26A1  E3		c
	push	hl		; 26A2  E5		e
	push	bc		; 26A3  C5		E
	ld	c,a		; 26A4  4F		O
	ld	b,0		; 26A5  06 00		..
	push	bc		; 26A7  C5		E
	inc	bc		; 26A8  03		.
	inc	bc		; 26A9  03		.
	inc	bc		; 26AA  03		.
	ld	hl,(X40fd)	; 26AB  2A FD 40	*}@
	push	hl		; 26AE  E5		e
	add	hl,bc		; 26AF  09		.
	pop	bc		; 26B0  C1		A
	push	hl		; 26B1  E5		e
	call	X1955		; 26B2  CD 55 19	MU.
	pop	hl		; 26B5  E1		a
	ld	(X40fd),hl	; 26B6  22 FD 40	"}@
	ld	h,b		; 26B9  60		`
	ld	l,c		; 26BA  69		i
	ld	(X40fb),hl	; 26BB  22 FB 40	"{@
X26be:	dec	hl		; 26BE  2B		+
	ld	(hl),0		; 26BF  36 00		6.
	rst	18h		; 26C1  DF		_
	jr	nz,X26be	; 26C2  20 FA		 z
	pop	de		; 26C4  D1		Q
	ld	(hl),e		; 26C5  73		s
	inc	hl		; 26C6  23		#
	pop	de		; 26C7  D1		Q
	ld	(hl),e		; 26C8  73		s
	inc	hl		; 26C9  23		#
	ld	(hl),d		; 26CA  72		r
	ex	de,hl		; 26CB  EB		k
X26cc:	inc	de		; 26CC  13		.
	pop	hl		; 26CD  E1		a
	ret			; 26CE  C9		I
;
X26cf:	ld	d,a		; 26CF  57		W
	ld	e,a		; 26D0  5F		_
	pop	af		; 26D1  F1		q
	pop	af		; 26D2  F1		q
	ex	(sp),hl		; 26D3  E3		c
	ret			; 26D4  C9		I
;
X26d5:	ld	(X4124),a	; 26D5  32 24 41	2$A
	pop	bc		; 26D8  C1		A
	ld	h,a		; 26D9  67		g
	ld	l,a		; 26DA  6F		o
	ld	(X4121),hl	; 26DB  22 21 41	"!A
	rst	20h		; 26DE  E7		g
	jr	nz,X26e7	; 26DF  20 06		 .
	ld	hl,X1928	; 26E1  21 28 19	!(.
	ld	(X4121),hl	; 26E4  22 21 41	"!A
X26e7:	pop	hl		; 26E7  E1		a
	ret			; 26E8  C9		I
;
X26e9:	push	hl		; 26E9  E5		e
	ld	hl,(X40ae)	; 26EA  2A AE 40	*.@
	ex	(sp),hl		; 26ED  E3		c
	ld	d,a		; 26EE  57		W
X26ef:	push	de		; 26EF  D5		U
	push	bc		; 26F0  C5		E
	call	X1e45		; 26F1  CD 45 1E	ME.
	pop	bc		; 26F4  C1		A
	pop	af		; 26F5  F1		q
	ex	de,hl		; 26F6  EB		k
	ex	(sp),hl		; 26F7  E3		c
	push	hl		; 26F8  E5		e
	ex	de,hl		; 26F9  EB		k
	inc	a		; 26FA  3C		<
	ld	d,a		; 26FB  57		W
	ld	a,(hl)		; 26FC  7E		~
	cp	2ch		; 26FD  FE 2C		~,
	jr	z,X26ef		; 26FF  28 EE		(n
	rst	8		; 2701  CF		O
	add	hl,hl		; 2702  29		)
	ld	(X40f3),hl	; 2703  22 F3 40	"s@
	pop	hl		; 2706  E1		a
	ld	(X40ae),hl	; 2707  22 AE 40	".@
	push	de		; 270A  D5		U
	ld	hl,(X40fb)	; 270B  2A FB 40	*{@
	ld	a,19h		; 270E  3E 19		>.
X2710:	ex	de,hl		; 2710  EB		k
	ld	hl,(X40fd)	; 2711  2A FD 40	*}@
	ex	de,hl		; 2714  EB		k
	rst	18h		; 2715  DF		_
	ld	a,(X40af)	; 2716  3A AF 40	:/@
	jr	z,X2742		; 2719  28 27		('
	cp	(hl)		; 271B  BE		>
	inc	hl		; 271C  23		#
; 	jr	nz,X2727	; 271D  20 08		 .
	defb	$20,$08
	ld	a,(hl)		; 271F  7E		~
	cp	c		; 2720  B9		9
	inc	hl		; 2721  23		#
	jr	nz,X2728	; 2722  20 04		 .
	ld	a,(hl)		; 2724  7E		~
	cp	b		; 2725  B8		8
	ld	a,23h		; 2726  3E 23		>#
X2728:	inc	hl		; 2728  23		#
	ld	e,(hl)		; 2729  5E		^
	inc	hl		; 272A  23		#
	ld	d,(hl)		; 272B  56		V
	inc	hl		; 272C  23		#
; 	jr	nz,X270f	; 272D  20 E0		 `
	defb	$20,$e0
	ld	a,(X40ae)	; 272F  3A AE 40	:.@
	or	a		; 2732  B7		7
	ld	e,12h		; 2733  1E 12		..
	jp	nz,X19a2	; 2735  C2 A2 19	B".
	pop	af		; 2738  F1		q
	sub	(hl)		; 2739  96		.
	jp	z,X2795		; 273A  CA 95 27	J.'
X273d:	ld	e,10h		; 273D  1E 10		..
	jp	X19a2		; 273F  C3 A2 19	C".
;
X2742:	ld	(hl),a		; 2742  77		w
	inc	hl		; 2743  23		#
	ld	e,a		; 2744  5F		_
	ld	d,0		; 2745  16 00		..
	pop	af		; 2747  F1		q
	ld	(hl),c		; 2748  71		q
	inc	hl		; 2749  23		#
	ld	(hl),b		; 274A  70		p
	inc	hl		; 274B  23		#
	ld	c,a		; 274C  4F		O
	call	X1963		; 274D  CD 63 19	Mc.
	inc	hl		; 2750  23		#
	inc	hl		; 2751  23		#
	ld	(X40d8),hl	; 2752  22 D8 40	"X@
	ld	(hl),c		; 2755  71		q
	inc	hl		; 2756  23		#
	ld	a,(X40ae)	; 2757  3A AE 40	:.@
	rla			; 275A  17		.
	ld	a,c		; 275B  79		y
X275c:	ld	bc,X000b	; 275C  01 0B 00	...
	jr	nc,X2763	; 275F  30 02		0.
	pop	bc		; 2761  C1		A
	inc	bc		; 2762  03		.
X2763:	ld	(hl),c		; 2763  71		q
	inc	hl		; 2764  23		#
	ld	(hl),b		; 2765  70		p
	inc	hl		; 2766  23		#
	push	af		; 2767  F5		u
	call	X0baa		; 2768  CD AA 0B	M*.
	pop	af		; 276B  F1		q
	dec	a		; 276C  3D		=
	jr	nz,X275c	; 276D  20 ED		 m
	push	af		; 276F  F5		u
	ld	b,d		; 2770  42		B
	ld	c,e		; 2771  4B		K
	ex	de,hl		; 2772  EB		k
	add	hl,de		; 2773  19		.
	jr	c,X273d		; 2774  38 C7		8G
	call	X196c		; 2776  CD 6C 19	Ml.
	ld	(X40fd),hl	; 2779  22 FD 40	"}@
X277c:	dec	hl		; 277C  2B		+
	ld	(hl),0		; 277D  36 00		6.
	rst	18h		; 277F  DF		_
	jr	nz,X277c	; 2780  20 FA		 z
	inc	bc		; 2782  03		.
	ld	d,a		; 2783  57		W
	ld	hl,(X40d8)	; 2784  2A D8 40	*X@
	ld	e,(hl)		; 2787  5E		^
	ex	de,hl		; 2788  EB		k
	add	hl,hl		; 2789  29		)
	add	hl,bc		; 278A  09		.
	ex	de,hl		; 278B  EB		k
	dec	hl		; 278C  2B		+
	dec	hl		; 278D  2B		+
	ld	(hl),e		; 278E  73		s
	inc	hl		; 278F  23		#
	ld	(hl),d		; 2790  72		r
	inc	hl		; 2791  23		#
	pop	af		; 2792  F1		q
	jr	c,X27c5		; 2793  38 30		80
X2795:	ld	b,a		; 2795  47		G
	ld	c,a		; 2796  4F		O
	ld	a,(hl)		; 2797  7E		~
	inc	hl		; 2798  23		#
	ld	d,0e1h		; 2799  16 E1		.a
	ld	e,(hl)		; 279B  5E		^
	inc	hl		; 279C  23		#
	ld	d,(hl)		; 279D  56		V
	inc	hl		; 279E  23		#
	ex	(sp),hl		; 279F  E3		c
	push	af		; 27A0  F5		u
	rst	18h		; 27A1  DF		_
	jp	nc,X273d	; 27A2  D2 3D 27	R='
	call	X0baa		; 27A5  CD AA 0B	M*.
	add	hl,de		; 27A8  19		.
	pop	af		; 27A9  F1		q
	dec	a		; 27AA  3D		=
	ld	b,h		; 27AB  44		D
	ld	c,l		; 27AC  4D		M
; 	jr	nz,X279a	; 27AD  20 EB		 k
	defb	$20,$eb
	ld	a,(X40af)	; 27AF  3A AF 40	:/@
	ld	b,h		; 27B2  44		D
	ld	c,l		; 27B3  4D		M
	add	hl,hl		; 27B4  29		)
	sub	4		; 27B5  D6 04		V.
	jr	c,X27bd		; 27B7  38 04		8.
	add	hl,hl		; 27B9  29		)
	jr	z,X27c2		; 27BA  28 06		(.
	add	hl,hl		; 27BC  29		)
X27bd:	or	a		; 27BD  B7		7
	jp	po,X27c2	; 27BE  E2 C2 27	bB'
	add	hl,bc		; 27C1  09		.
X27c2:	pop	bc		; 27C2  C1		A
	add	hl,bc		; 27C3  09		.
	ex	de,hl		; 27C4  EB		k
X27c5:	ld	hl,(X40f3)	; 27C5  2A F3 40	*s@
	ret			; 27C8  C9		I
;
X27c9:	xor	a		; 27C9  AF		/
	push	hl		; 27CA  E5		e
	ld	(X40af),a	; 27CB  32 AF 40	2/@
	call	X27d4		; 27CE  CD D4 27	MT'
	pop	hl		; 27D1  E1		a
	rst	10h		; 27D2  D7		W
	ret			; 27D3  C9		I
;
X27d4:	ld	hl,(X40fd)	; 27D4  2A FD 40	*}@
	ex	de,hl		; 27D7  EB		k
	ld	hl,X0000	; 27D8  21 00 00	!..
	add	hl,sp		; 27DB  39		9
	rst	20h		; 27DC  E7		g
	jr	nz,X27ec	; 27DD  20 0D		 .
	call	X29da		; 27DF  CD DA 29	MZ)
	call	X28e6		; 27E2  CD E6 28	Mf(
	ld	hl,(X40a0)	; 27E5  2A A0 40	* @
	ex	de,hl		; 27E8  EB		k
	ld	hl,(X40d6)	; 27E9  2A D6 40	*V@
X27ec:	ld	a,l		; 27EC  7D		}
	sub	e		; 27ED  93		.
	ld	l,a		; 27EE  6F		o
	ld	a,h		; 27EF  7C		|
	sbc	a,d		; 27F0  9A		.
	ld	h,a		; 27F1  67		g
	jp	X0c66		; 27F2  C3 66 0C	Cf.
;
	ld	a,(X40a6)	; 27F5  3A A6 40	:&@
X27f8:	ld	l,a		; 27F8  6F		o
	xor	a		; 27F9  AF		/
X27fa:	ld	h,a		; 27FA  67		g
	jp	X0a9a		; 27FB  C3 9A 0A	C..
;
X27fe:	call	X41a9		; 27FE  CD A9 41	M)A
	rst	10h		; 2801  D7		W
	call	X252c		; 2802  CD 2C 25	M,%
	push	hl		; 2805  E5		e
	ld	hl,X0890	; 2806  21 90 08	!..
	push	hl		; 2809  E5		e
	ld	a,(X40af)	; 280A  3A AF 40	:/@
	push	af		; 280D  F5		u
	cp	3		; 280E  FE 03		~.
	call	z,X29da		; 2810  CC DA 29	LZ)
	pop	af		; 2813  F1		q
	ex	de,hl		; 2814  EB		k
	ld	hl,(X408e)	; 2815  2A 8E 40	*.@
	jp	(hl)		; 2818  E9		i
;
X2819:	push	hl		; 2819  E5		e
	and	7		; 281A  E6 07		f.
	ld	hl,X18a1	; 281C  21 A1 18	!!.
	ld	c,a		; 281F  4F		O
	ld	b,0		; 2820  06 00		..
	add	hl,bc		; 2822  09		.
	call	X2586		; 2823  CD 86 25	M.%
	pop	hl		; 2826  E1		a
	ret			; 2827  C9		I
;
X2828:	push	hl		; 2828  E5		e
	ld	hl,(X40a2)	; 2829  2A A2 40	*"@
	inc	hl		; 282C  23		#
	ld	a,h		; 282D  7C		|
	or	l		; 282E  B5		5
	pop	hl		; 282F  E1		a
	ret	nz		; 2830  C0		@
	ld	e,fdcseekc	; 2831  1E 16		..
	jp	X19a2		; 2833  C3 A2 19	C".
;
	call	X0fbd		; 2836  CD BD 0F	M=.
	call	X2865		; 2839  CD 65 28	Me(
	call	X29da		; 283C  CD DA 29	MZ)
	ld	bc,X2a2b	; 283F  01 2B 2A	.+*
	push	bc		; 2842  C5		E
X2843:	ld	a,(hl)		; 2843  7E		~
	inc	hl		; 2844  23		#
	push	hl		; 2845  E5		e
	call	X28bf		; 2846  CD BF 28	M?(
	pop	hl		; 2849  E1		a
	ld	c,(hl)		; 284A  4E		N
	inc	hl		; 284B  23		#
	ld	b,(hl)		; 284C  46		F
	call	X285a		; 284D  CD 5A 28	MZ(
	push	hl		; 2850  E5		e
	ld	l,a		; 2851  6F		o
	call	X29ce		; 2852  CD CE 29	MN)
	pop	de		; 2855  D1		Q
	ret			; 2856  C9		I
;
X2857:	call	X28bf		; 2857  CD BF 28	M?(
X285a:	ld	hl,X40d3	; 285A  21 D3 40	!S@
	push	hl		; 285D  E5		e
	ld	(hl),a		; 285E  77		w
	inc	hl		; 285F  23		#
	ld	(hl),e		; 2860  73		s
	inc	hl		; 2861  23		#
	ld	(hl),d		; 2862  72		r
	pop	hl		; 2863  E1		a
	ret			; 2864  C9		I
;
X2865:	dec	hl		; 2865  2B		+
X2866:	ld	b,22h		; 2866  06 22		."
	ld	d,b		; 2868  50		P
X2869:	push	hl		; 2869  E5		e
	ld	c,0ffh		; 286A  0E FF		..
X286c:	inc	hl		; 286C  23		#
	ld	a,(hl)		; 286D  7E		~
	inc	c		; 286E  0C		.
	or	a		; 286F  B7		7
	jr	z,X2878		; 2870  28 06		(.
	cp	d		; 2872  BA		:
	jr	z,X2878		; 2873  28 03		(.
	cp	b		; 2875  B8		8
	jr	nz,X286c	; 2876  20 F4		 t
X2878:	cp	22h		; 2878  FE 22		~"
	call	z,X1d78		; 287A  CC 78 1D	Lx.
	ex	(sp),hl		; 287D  E3		c
	inc	hl		; 287E  23		#
	ex	de,hl		; 287F  EB		k
	ld	a,c		; 2880  79		y
	call	X285a		; 2881  CD 5A 28	MZ(
X2884:	ld	de,X40d3	; 2884  11 D3 40	.S@
	ld	a,0d5h		; 2887  3E D5		>U
	ld	hl,(X40b3)	; 2889  2A B3 40	*3@
	ld	(X4121),hl	; 288C  22 21 41	"!A
	ld	a,3		; 288F  3E 03		>.
	ld	(X40af),a	; 2891  32 AF 40	2/@
	call	X09d3		; 2894  CD D3 09	MS.
	ld	de,X40d6	; 2897  11 D6 40	.V@
	rst	18h		; 289A  DF		_
	ld	(X40b3),hl	; 289B  22 B3 40	"3@
	pop	hl		; 289E  E1		a
	ld	a,(hl)		; 289F  7E		~
	ret	nz		; 28A0  C0		@
	ld	e,1eh		; 28A1  1E 1E		..
	jp	X19a2		; 28A3  C3 A2 19	C".
;
X28a6:	inc	hl		; 28A6  23		#
X28a7:	call	X2865		; 28A7  CD 65 28	Me(
X28aa:	call	X29da		; 28AA  CD DA 29	MZ)
	call	X09c4		; 28AD  CD C4 09	MD.
	inc	d		; 28B0  14		.
X28b1:	dec	d		; 28B1  15		.
	ret	z		; 28B2  C8		H
	ld	a,(bc)		; 28B3  0A		.
	call	X032a		; 28B4  CD 2A 03	M*.
	cp	0dh		; 28B7  FE 0D		~.
	call	z,X2103		; 28B9  CC 03 21	L.!
	inc	bc		; 28BC  03		.
	jr	X28b1		; 28BD  18 F2		.r
;
X28bf:	or	a		; 28BF  B7		7
	ld	c,0f1h		; 28C0  0E F1		.q
	push	af		; 28C2  F5		u
	ld	hl,(X40a0)	; 28C3  2A A0 40	* @
	ex	de,hl		; 28C6  EB		k
	ld	hl,(X40d6)	; 28C7  2A D6 40	*V@
	cpl			; 28CA  2F		/
	ld	c,a		; 28CB  4F		O
	ld	b,0ffh		; 28CC  06 FF		..
	add	hl,bc		; 28CE  09		.
	inc	hl		; 28CF  23		#
	rst	18h		; 28D0  DF		_
	jr	c,X28da		; 28D1  38 07		8.
	ld	(X40d6),hl	; 28D3  22 D6 40	"V@
	inc	hl		; 28D6  23		#
	ex	de,hl		; 28D7  EB		k
X28d8:	pop	af		; 28D8  F1		q
	ret			; 28D9  C9		I
;
X28da:	pop	af		; 28DA  F1		q
	ld	e,1ah		; 28DB  1E 1A		..
	jp	z,X19a2		; 28DD  CA A2 19	J".
	cp	a		; 28E0  BF		?
	push	af		; 28E1  F5		u
	ld	bc,X28c1	; 28E2  01 C1 28	.A(
	push	bc		; 28E5  C5		E
X28e6:	ld	hl,(X40b1)	; 28E6  2A B1 40	*1@
X28e9:	ld	(X40d6),hl	; 28E9  22 D6 40	"V@
	ld	hl,X0000	; 28EC  21 00 00	!..
	push	hl		; 28EF  E5		e
	ld	hl,(X40a0)	; 28F0  2A A0 40	* @
	push	hl		; 28F3  E5		e
	ld	hl,X40b5	; 28F4  21 B5 40	!5@
X28f7:	ex	de,hl		; 28F7  EB		k
	ld	hl,(X40b3)	; 28F8  2A B3 40	*3@
	ex	de,hl		; 28FB  EB		k
	rst	18h		; 28FC  DF		_
	ld	bc,X28f7	; 28FD  01 F7 28	.w(
	jp	nz,X294a	; 2900  C2 4A 29	BJ)
	ld	hl,(X40f9)	; 2903  2A F9 40	*y@
X2906:	ex	de,hl		; 2906  EB		k
	ld	hl,(X40fb)	; 2907  2A FB 40	*{@
	ex	de,hl		; 290A  EB		k
	rst	18h		; 290B  DF		_
	jr	z,X2921		; 290C  28 13		(.
	ld	a,(hl)		; 290E  7E		~
	inc	hl		; 290F  23		#
	inc	hl		; 2910  23		#
	inc	hl		; 2911  23		#
	cp	3		; 2912  FE 03		~.
	jr	nz,X291a	; 2914  20 04		 .
	call	X294b		; 2916  CD 4B 29	MK)
	xor	a		; 2919  AF		/
X291a:	ld	e,a		; 291A  5F		_
	ld	d,0		; 291B  16 00		..
	add	hl,de		; 291D  19		.
	jr	X2906		; 291E  18 E6		.f
;
X2920:	pop	bc		; 2920  C1		A
X2921:	ex	de,hl		; 2921  EB		k
	ld	hl,(X40fd)	; 2922  2A FD 40	*}@
	ex	de,hl		; 2925  EB		k
	rst	18h		; 2926  DF		_
	jp	z,X296b		; 2927  CA 6B 29	Jk)
	ld	a,(hl)		; 292A  7E		~
	inc	hl		; 292B  23		#
	call	X09c2		; 292C  CD C2 09	MB.
	push	hl		; 292F  E5		e
	add	hl,bc		; 2930  09		.
	cp	3		; 2931  FE 03		~.
	jr	nz,X2920	; 2933  20 EB		 k
	ld	(X40d8),hl	; 2935  22 D8 40	"X@
	pop	hl		; 2938  E1		a
	ld	c,(hl)		; 2939  4E		N
	ld	b,0		; 293A  06 00		..
	add	hl,bc		; 293C  09		.
	add	hl,bc		; 293D  09		.
	inc	hl		; 293E  23		#
X293f:	ex	de,hl		; 293F  EB		k
	ld	hl,(X40d8)	; 2940  2A D8 40	*X@
	ex	de,hl		; 2943  EB		k
	rst	18h		; 2944  DF		_
	jr	z,X2921		; 2945  28 DA		(Z
	ld	bc,X293f	; 2947  01 3F 29	.?)
X294a:	push	bc		; 294A  C5		E
X294b:	xor	a		; 294B  AF		/
	or	(hl)		; 294C  B6		6
	inc	hl		; 294D  23		#
	ld	e,(hl)		; 294E  5E		^
	inc	hl		; 294F  23		#
	ld	d,(hl)		; 2950  56		V
	inc	hl		; 2951  23		#
	ret	z		; 2952  C8		H
	ld	b,h		; 2953  44		D
	ld	c,l		; 2954  4D		M
	ld	hl,(X40d6)	; 2955  2A D6 40	*V@
	rst	18h		; 2958  DF		_
	ld	h,b		; 2959  60		`
	ld	l,c		; 295A  69		i
	ret	c		; 295B  D8		X
	pop	hl		; 295C  E1		a
	ex	(sp),hl		; 295D  E3		c
	rst	18h		; 295E  DF		_
	ex	(sp),hl		; 295F  E3		c
	push	hl		; 2960  E5		e
	ld	h,b		; 2961  60		`
	ld	l,c		; 2962  69		i
	ret	nc		; 2963  D0		P
	pop	bc		; 2964  C1		A
	pop	af		; 2965  F1		q
	pop	af		; 2966  F1		q
	push	hl		; 2967  E5		e
	push	de		; 2968  D5		U
	push	bc		; 2969  C5		E
	ret			; 296A  C9		I
;
X296b:	pop	de		; 296B  D1		Q
	pop	hl		; 296C  E1		a
	ld	a,l		; 296D  7D		}
	or	h		; 296E  B4		4
	ret	z		; 296F  C8		H
	dec	hl		; 2970  2B		+
	ld	b,(hl)		; 2971  46		F
	dec	hl		; 2972  2B		+
	ld	c,(hl)		; 2973  4E		N
	push	hl		; 2974  E5		e
	dec	hl		; 2975  2B		+
	ld	l,(hl)		; 2976  6E		n
	ld	h,0		; 2977  26 00		&.
	add	hl,bc		; 2979  09		.
	ld	d,b		; 297A  50		P
	ld	e,c		; 297B  59		Y
	dec	hl		; 297C  2B		+
	ld	b,h		; 297D  44		D
	ld	c,l		; 297E  4D		M
	ld	hl,(X40d6)	; 297F  2A D6 40	*V@
	call	X1958		; 2982  CD 58 19	MX.
	pop	hl		; 2985  E1		a
	ld	(hl),c		; 2986  71		q
	inc	hl		; 2987  23		#
	ld	(hl),b		; 2988  70		p
	ld	l,c		; 2989  69		i
	ld	h,b		; 298A  60		`
	dec	hl		; 298B  2B		+
	jp	X28e9		; 298C  C3 E9 28	Ci(
;
X298f:	push	bc		; 298F  C5		E
	push	hl		; 2990  E5		e
	ld	hl,(X4121)	; 2991  2A 21 41	*!A
	ex	(sp),hl		; 2994  E3		c
	call	X249f		; 2995  CD 9F 24	M.$
	ex	(sp),hl		; 2998  E3		c
	call	X0af4		; 2999  CD F4 0A	Mt.
	ld	a,(hl)		; 299C  7E		~
	push	hl		; 299D  E5		e
	ld	hl,(X4121)	; 299E  2A 21 41	*!A
	push	hl		; 29A1  E5		e
	add	a,(hl)		; 29A2  86		.
	ld	e,1ch		; 29A3  1E 1C		..
	jp	c,X19a2		; 29A5  DA A2 19	Z".
	call	X2857		; 29A8  CD 57 28	MW(
	pop	de		; 29AB  D1		Q
	call	X29de		; 29AC  CD DE 29	M^)
	ex	(sp),hl		; 29AF  E3		c
	call	X29dd		; 29B0  CD DD 29	M])
	push	hl		; 29B3  E5		e
	ld	hl,(X40d4)	; 29B4  2A D4 40	*T@
	ex	de,hl		; 29B7  EB		k
	call	X29c6		; 29B8  CD C6 29	MF)
	call	X29c6		; 29BB  CD C6 29	MF)
	ld	hl,X2349	; 29BE  21 49 23	!I#
	ex	(sp),hl		; 29C1  E3		c
	push	hl		; 29C2  E5		e
	jp	X2884		; 29C3  C3 84 28	C.(
;
X29c6:	pop	hl		; 29C6  E1		a
	ex	(sp),hl		; 29C7  E3		c
	ld	a,(hl)		; 29C8  7E		~
	inc	hl		; 29C9  23		#
	ld	c,(hl)		; 29CA  4E		N
	inc	hl		; 29CB  23		#
	ld	b,(hl)		; 29CC  46		F
	ld	l,a		; 29CD  6F		o
X29ce:	inc	l		; 29CE  2C		,
X29cf:	dec	l		; 29CF  2D		-
	ret	z		; 29D0  C8		H
	ld	a,(bc)		; 29D1  0A		.
	ld	(de),a		; 29D2  12		.
	inc	bc		; 29D3  03		.
	inc	de		; 29D4  13		.
	jr	X29cf		; 29D5  18 F8		.x
;
X29d7:	call	X0af4		; 29D7  CD F4 0A	Mt.
X29da:	ld	hl,(X4121)	; 29DA  2A 21 41	*!A
X29dd:	ex	de,hl		; 29DD  EB		k
X29de:	call	X29f5		; 29DE  CD F5 29	Mu)
	ex	de,hl		; 29E1  EB		k
	ret	nz		; 29E2  C0		@
	push	de		; 29E3  D5		U
	ld	d,b		; 29E4  50		P
	ld	e,c		; 29E5  59		Y
	dec	de		; 29E6  1B		.
	ld	c,(hl)		; 29E7  4E		N
	ld	hl,(X40d6)	; 29E8  2A D6 40	*V@
	rst	18h		; 29EB  DF		_
	jr	nz,X29f3	; 29EC  20 05		 .
	ld	b,a		; 29EE  47		G
	add	hl,bc		; 29EF  09		.
	ld	(X40d6),hl	; 29F0  22 D6 40	"V@
X29f3:	pop	hl		; 29F3  E1		a
	ret			; 29F4  C9		I
;
X29f5:	ld	hl,(X40b3)	; 29F5  2A B3 40	*3@
	dec	hl		; 29F8  2B		+
	ld	b,(hl)		; 29F9  46		F
	dec	hl		; 29FA  2B		+
	ld	c,(hl)		; 29FB  4E		N
	dec	hl		; 29FC  2B		+
	rst	18h		; 29FD  DF		_
	ret	nz		; 29FE  C0		@
	ld	(X40b3),hl	; 29FF  22 B3 40	"3@
	ret			; 2A02  C9		I
;
	ld	bc,X27f8	; 2A03  01 F8 27	.x'
	push	bc		; 2A06  C5		E
X2a07:	call	X29d7		; 2A07  CD D7 29	MW)
	xor	a		; 2A0A  AF		/
	ld	d,a		; 2A0B  57		W
	ld	a,(hl)		; 2A0C  7E		~
	or	a		; 2A0D  B7		7
	ret			; 2A0E  C9		I
;
	ld	bc,X27f8	; 2A0F  01 F8 27	.x'
	push	bc		; 2A12  C5		E
X2a13:	call	X2a07		; 2A13  CD 07 2A	M.*
	jp	z,X1e4a		; 2A16  CA 4A 1E	JJ.
	inc	hl		; 2A19  23		#
	ld	e,(hl)		; 2A1A  5E		^
	inc	hl		; 2A1B  23		#
	ld	d,(hl)		; 2A1C  56		V
	ld	a,(de)		; 2A1D  1A		.
	ret			; 2A1E  C9		I
;
	ld	a,1		; 2A1F  3E 01		>.
	call	X2857		; 2A21  CD 57 28	MW(
	call	X2b1f		; 2A24  CD 1F 2B	M.+
	ld	hl,(X40d4)	; 2A27  2A D4 40	*T@
	ld	(hl),e		; 2A2A  73		s
X2a2b:	pop	bc		; 2A2B  C1		A
	jp	X2884		; 2A2C  C3 84 28	C.(
;
X2a2f:	rst	10h		; 2A2F  D7		W
	rst	8		; 2A30  CF		O
; 	jr	z,X2a00		; 2A31  28 CD		(M
	defb	$28,$cd
	inc	e		; 2A33  1C		.
	dec	hl		; 2A34  2B		+
	push	de		; 2A35  D5		U
	rst	8		; 2A36  CF		O
	inc	l		; 2A37  2C		,
	call	X2337		; 2A38  CD 37 23	M7#
	rst	8		; 2A3B  CF		O
	add	hl,hl		; 2A3C  29		)
	ex	(sp),hl		; 2A3D  E3		c
	push	hl		; 2A3E  E5		e
	rst	20h		; 2A3F  E7		g
	jr	z,X2a47		; 2A40  28 05		(.
	call	X2b1f		; 2A42  CD 1F 2B	M.+
	jr	X2a4a		; 2A45  18 03		..
;
X2a47:	call	X2a13		; 2A47  CD 13 2A	M.*
X2a4a:	pop	de		; 2A4A  D1		Q
	push	af		; 2A4B  F5		u
	push	af		; 2A4C  F5		u
	ld	a,e		; 2A4D  7B		{
	call	X2857		; 2A4E  CD 57 28	MW(
	ld	e,a		; 2A51  5F		_
	pop	af		; 2A52  F1		q
	inc	e		; 2A53  1C		.
	dec	e		; 2A54  1D		.
	jr	z,X2a2b		; 2A55  28 D4		(T
	ld	hl,(X40d4)	; 2A57  2A D4 40	*T@
X2a5a:	ld	(hl),a		; 2A5A  77		w
	inc	hl		; 2A5B  23		#
	dec	e		; 2A5C  1D		.
	jr	nz,X2a5a	; 2A5D  20 FB		 {
	jr	X2a2b		; 2A5F  18 CA		.J
;
	call	X2adf		; 2A61  CD DF 2A	M_*
	xor	a		; 2A64  AF		/
X2a65:	ex	(sp),hl		; 2A65  E3		c
	ld	c,a		; 2A66  4F		O
	ld	a,0e5h		; 2A67  3E E5		>e
X2a69:	push	hl		; 2A69  E5		e
	ld	a,(hl)		; 2A6A  7E		~
	cp	b		; 2A6B  B8		8
; 	jr	c,X2a70		; 2A6C  38 02		8.
	defb	$38,$92
	ld	a,b		; 2A6E  78		x
	ld	de,X000e	; 2A6F  11 0E 00	...
	push	bc		; 2A72  C5		E
	call	X28bf		; 2A73  CD BF 28	M?(
	pop	bc		; 2A76  C1		A
	pop	hl		; 2A77  E1		a
	push	hl		; 2A78  E5		e
	inc	hl		; 2A79  23		#
	ld	b,(hl)		; 2A7A  46		F
	inc	hl		; 2A7B  23		#
	ld	h,(hl)		; 2A7C  66		f
	ld	l,b		; 2A7D  68		h
	ld	b,0		; 2A7E  06 00		..
	add	hl,bc		; 2A80  09		.
	ld	b,h		; 2A81  44		D
	ld	c,l		; 2A82  4D		M
	call	X285a		; 2A83  CD 5A 28	MZ(
	ld	l,a		; 2A86  6F		o
	call	X29ce		; 2A87  CD CE 29	MN)
	pop	de		; 2A8A  D1		Q
	call	X29de		; 2A8B  CD DE 29	M^)
	jp	X2884		; 2A8E  C3 84 28	C.(
;
	call	X2adf		; 2A91  CD DF 2A	M_*
	pop	de		; 2A94  D1		Q
	push	de		; 2A95  D5		U
	ld	a,(de)		; 2A96  1A		.
	sub	b		; 2A97  90		.
	jr	X2a65		; 2A98  18 CB		.K
;
	ex	de,hl		; 2A9A  EB		k
	ld	a,(hl)		; 2A9B  7E		~
	call	X2ae2		; 2A9C  CD E2 2A	Mb*
	inc	b		; 2A9F  04		.
	dec	b		; 2AA0  05		.
	jp	z,X1e4a		; 2AA1  CA 4A 1E	JJ.
	push	bc		; 2AA4  C5		E
	ld	e,0ffh		; 2AA5  1E FF		..
	cp	29h		; 2AA7  FE 29		~)
	jr	z,X2ab0		; 2AA9  28 05		(.
	rst	8		; 2AAB  CF		O
	inc	l		; 2AAC  2C		,
	call	X2b1c		; 2AAD  CD 1C 2B	M.+
X2ab0:	rst	8		; 2AB0  CF		O
	add	hl,hl		; 2AB1  29		)
	pop	af		; 2AB2  F1		q
	ex	(sp),hl		; 2AB3  E3		c
	ld	bc,X2a69	; 2AB4  01 69 2A	.i*
	push	bc		; 2AB7  C5		E
	dec	a		; 2AB8  3D		=
	cp	(hl)		; 2AB9  BE		>
	ld	b,0		; 2ABA  06 00		..
	ret	nc		; 2ABC  D0		P
	ld	c,a		; 2ABD  4F		O
	ld	a,(hl)		; 2ABE  7E		~
	sub	c		; 2ABF  91		.
	cp	e		; 2AC0  BB		;
	ld	b,a		; 2AC1  47		G
	ret	c		; 2AC2  D8		X
	ld	b,e		; 2AC3  43		C
	ret			; 2AC4  C9		I
;
	call	X2a07		; 2AC5  CD 07 2A	M.*
	jp	z,X27f8		; 2AC8  CA F8 27	Jx'
	ld	e,a		; 2ACB  5F		_
	inc	hl		; 2ACC  23		#
	ld	a,(hl)		; 2ACD  7E		~
	inc	hl		; 2ACE  23		#
	ld	h,(hl)		; 2ACF  66		f
	ld	l,a		; 2AD0  6F		o
	push	hl		; 2AD1  E5		e
	add	hl,de		; 2AD2  19		.
	ld	b,(hl)		; 2AD3  46		F
	ld	(hl),d		; 2AD4  72		r
	ex	(sp),hl		; 2AD5  E3		c
	push	bc		; 2AD6  C5		E
	ld	a,(hl)		; 2AD7  7E		~
	call	X0e65		; 2AD8  CD 65 0E	Me.
	pop	bc		; 2ADB  C1		A
	pop	hl		; 2ADC  E1		a
	ld	(hl),b		; 2ADD  70		p
	ret			; 2ADE  C9		I
;
X2adf:	ex	de,hl		; 2ADF  EB		k
	rst	8		; 2AE0  CF		O
	add	hl,hl		; 2AE1  29		)
X2ae2:	pop	bc		; 2AE2  C1		A
	pop	de		; 2AE3  D1		Q
	push	bc		; 2AE4  C5		E
	ld	b,e		; 2AE5  43		C
	ret			; 2AE6  C9		I
;
X2ae7:	cp	7ah		; 2AE7  FE 7A		~z
	jp	nz,X1997	; 2AE9  C2 97 19	B..
	jp	X41d9		; 2AEC  C3 D9 41	CYA
;
	call	X2b1f		; 2AEF  CD 1F 2B	M.+
	ld	(X4094),a	; 2AF2  32 94 40	2.@
	call	X4093		; 2AF5  CD 93 40	M.@
	jp	X27f8		; 2AF8  C3 F8 27	Cx'
;
	call	X2b0e		; 2AFB  CD 0E 2B	M.+
	jp	X4096		; 2AFE  C3 96 40	C.@
;
X2b01:	rst	10h		; 2B01  D7		W
X2b02:	call	X2337		; 2B02  CD 37 23	M7#
X2b05:	push	hl		; 2B05  E5		e
	call	X0a7f		; 2B06  CD 7F 0A	M..
	ex	de,hl		; 2B09  EB		k
	pop	hl		; 2B0A  E1		a
	ld	a,d		; 2B0B  7A		z
	or	a		; 2B0C  B7		7
	ret			; 2B0D  C9		I
;
X2b0e:	call	X2b1c		; 2B0E  CD 1C 2B	M.+
	ld	(X4094),a	; 2B11  32 94 40	2.@
	ld	(X4097),a	; 2B14  32 97 40	2.@
	rst	8		; 2B17  CF		O
	inc	l		; 2B18  2C		,
	jr	X2b1c		; 2B19  18 01		..
;
X2b1b:	rst	10h		; 2B1B  D7		W
X2b1c:	call	X2337		; 2B1C  CD 37 23	M7#
X2b1f:	call	X2b05		; 2B1F  CD 05 2B	M.+
	jp	nz,X1e4a	; 2B22  C2 4A 1E	BJ.
	dec	hl		; 2B25  2B		+
	rst	10h		; 2B26  D7		W
	ld	a,e		; 2B27  7B		{
	ret			; 2B28  C9		I
;
	ld	a,1		; 2B29  3E 01		>.
	ld	(X409c),a	; 2B2B  32 9C 40	2.@
	pop	bc		; 2B2E  C1		A
	call	X1b10		; 2B2F  CD 10 1B	M..
	push	bc		; 2B32  C5		E
X2b33:	ld	hl,Xffff	; 2B33  21 FF FF	!..
	ld	(X40a2),hl	; 2B36  22 A2 40	""@
	pop	hl		; 2B39  E1		a
	pop	de		; 2B3A  D1		Q
	ld	c,(hl)		; 2B3B  4E		N
	inc	hl		; 2B3C  23		#
	ld	b,(hl)		; 2B3D  46		F
	inc	hl		; 2B3E  23		#
	ld	a,b		; 2B3F  78		x
	or	c		; 2B40  B1		1
	jp	z,X1a19		; 2B41  CA 19 1A	J..
	call	X41df		; 2B44  CD DF 41	M_A
	call	X1d9b		; 2B47  CD 9B 1D	M..
	push	bc		; 2B4A  C5		E
	ld	c,(hl)		; 2B4B  4E		N
	inc	hl		; 2B4C  23		#
	ld	b,(hl)		; 2B4D  46		F
	inc	hl		; 2B4E  23		#
	push	bc		; 2B4F  C5		E
	ex	(sp),hl		; 2B50  E3		c
	ex	de,hl		; 2B51  EB		k
	rst	18h		; 2B52  DF		_
	pop	bc		; 2B53  C1		A
	jp	c,X1a18		; 2B54  DA 18 1A	Z..
	ex	(sp),hl		; 2B57  E3		c
	push	hl		; 2B58  E5		e
	push	bc		; 2B59  C5		E
	ex	de,hl		; 2B5A  EB		k
	ld	(X40ec),hl	; 2B5B  22 EC 40	"l@
	call	X30e5		; 2B5E  CD E5 30	Me0
	ld	a,20h		; 2B61  3E 20		>
	pop	hl		; 2B63  E1		a
	call	X032a		; 2B64  CD 2A 03	M*.
	call	X2b7e		; 2B67  CD 7E 2B	M~+
	ld	hl,(X40a7)	; 2B6A  2A A7 40	*'@
	call	X2b75		; 2B6D  CD 75 2B	Mu+
	call	X20fe		; 2B70  CD FE 20	M~
	jr	X2b33		; 2B73  18 BE		.>
;
X2b75:	call	X0050		; 2B75  CD 50 00	MP.
	call	X032a		; 2B78  CD 2A 03	M*.
	inc	hl		; 2B7B  23		#
	jr	X2b75		; 2B7C  18 F7		.w
;
X2b7e:	push	hl		; 2B7E  E5		e
	ld	hl,(X40a7)	; 2B7F  2A A7 40	*'@
	ld	b,h		; 2B82  44		D
	ld	c,l		; 2B83  4D		M
	pop	hl		; 2B84  E1		a
	ld	d,0ffh		; 2B85  16 FF		..
	jr	X2b8c		; 2B87  18 03		..
;
X2b89:	inc	bc		; 2B89  03		.
	dec	d		; 2B8A  15		.
	ret	z		; 2B8B  C8		H
X2b8c:	ld	a,(hl)		; 2B8C  7E		~
	or	a		; 2B8D  B7		7
	inc	hl		; 2B8E  23		#
	ld	(bc),a		; 2B8F  02		.
	ret	z		; 2B90  C8		H
	jp	p,X3215		; 2B91  F2 15 32	r.2
	cp	0fbh		; 2B94  FE FB		~{
	jr	nz,X2ba0	; 2B96  20 08		 .
	dec	bc		; 2B98  0B		.
	dec	bc		; 2B99  0B		.
	dec	bc		; 2B9A  0B		.
	dec	bc		; 2B9B  0B		.
	inc	d		; 2B9C  14		.
	inc	d		; 2B9D  14		.
	inc	d		; 2B9E  14		.
	inc	d		; 2B9F  14		.
X2ba0:	cp	95h		; 2BA0  FE 95		~.
	call	z,X0b24		; 2BA2  CC 24 0B	L$.
	sub	7fh		; 2BA5  D6 7F		V.
	push	hl		; 2BA7  E5		e
	ld	e,a		; 2BA8  5F		_
	ld	hl,X1650	; 2BA9  21 50 16	!P.
X2bac:	ld	a,(hl)		; 2BAC  7E		~
	or	a		; 2BAD  B7		7
	inc	hl		; 2BAE  23		#
	jp	p,X2bac		; 2BAF  F2 AC 2B	r,+
	dec	e		; 2BB2  1D		.
	jr	nz,X2bac	; 2BB3  20 F7		 w
	and	7fh		; 2BB5  E6 7F		f.
X2bb7:	ld	(bc),a		; 2BB7  02		.
	inc	bc		; 2BB8  03		.
	dec	d		; 2BB9  15		.
	jp	z,X28d8		; 2BBA  CA D8 28	JX(
	ld	a,(hl)		; 2BBD  7E		~
	inc	hl		; 2BBE  23		#
	or	a		; 2BBF  B7		7
	jp	p,X2bb7		; 2BC0  F2 B7 2B	r7+
	pop	hl		; 2BC3  E1		a
	jr	X2b8c		; 2BC4  18 C6		.F
;
	call	X1b10		; 2BC6  CD 10 1B	M..
	pop	de		; 2BC9  D1		Q
	push	bc		; 2BCA  C5		E
	push	bc		; 2BCB  C5		E
	call	X1b2c		; 2BCC  CD 2C 1B	M,.
	jr	nc,X2bd6	; 2BCF  30 05		0.
	ld	d,h		; 2BD1  54		T
	ld	e,l		; 2BD2  5D		]
	ex	(sp),hl		; 2BD3  E3		c
	push	hl		; 2BD4  E5		e
	rst	18h		; 2BD5  DF		_
X2bd6:	jp	nc,X1e4a	; 2BD6  D2 4A 1E	RJ.
	ld	hl,X1929	; 2BD9  21 29 19	!).
	call	X28a7		; 2BDC  CD A7 28	M'(
	pop	bc		; 2BDF  C1		A
	ld	hl,X1ae8	; 2BE0  21 E8 1A	!h.
	ex	(sp),hl		; 2BE3  E3		c
X2be4:	ex	de,hl		; 2BE4  EB		k
	ld	hl,(X40f9)	; 2BE5  2A F9 40	*y@
X2be8:	ld	a,(de)		; 2BE8  1A		.
	ld	(bc),a		; 2BE9  02		.
	inc	bc		; 2BEA  03		.
	inc	de		; 2BEB  13		.
	rst	18h		; 2BEC  DF		_
	jr	nz,X2be8	; 2BED  20 F9		 y
	ld	h,b		; 2BEF  60		`
	ld	l,c		; 2BF0  69		i
	ld	(X40f9),hl	; 2BF1  22 F9 40	"y@
	ret			; 2BF4  C9		I
;
	dec	hl		; 2BF5  2B		+
	call	X2c08		; 2BF6  CD 08 2C	M.,
	add	a,crtram3port	; 2BF9  C6 8E		F.
	jp	X2c1d		; 2BFB  C3 1D 2C	C.,
;
	ORG	2c05h
;
X2c05:	ld	hl,(X303e)	; 2C05  2A 3E 30	*>0
X2c08:	rst	10h		; 2C08  D7		W
	jr	z,X2c11		; 2C09  28 06		(.
	call	X2c6e		; 2C0B  CD 6E 2C	Mn,
	nop			; 2C0E  00		.
	and	1		; 2C0F  E6 01		f.
X2c11:	cpl			; 2C11  2F		/
X2c12:	and	1		; 2C12  E6 01		f.
	rra			; 2C14  1F		.
	rra			; 2C15  1F		.
	rra			; 2C16  1F		.
	ret			; 2C17  C9		I
;
	call	X2c05		; 2C18  CD 05 2C	M.,
	add	a,crtram1cnt	; 2C1B  C6 86		F.
; X2c1d:	ld	(X2c25),a	; 2C1D  32 25 2C	2%,
X2c1d:	defb	$32,$25,$2c	; 2C1D  32 25 2C	2%,
	push	hl		; 2C20  E5		e
	ld	hl,X3043	; 2C21  21 43 30	!C0
	res	0,(hl)		; 2C24  CB 86		K.
	pop	hl		; 2C26  E1		a
	ret			; 2C27  C9		I
;
	call	X2c05		; 2C28  CD 05 2C	M.,
	add	a,96h		; 2C2B  C6 96		F.
	jr	X2c1d		; 2C2D  18 EE		.n
;
	call	X2c05		; 2C2F  CD 05 2C	M.,
	add	a,9eh		; 2C32  C6 9E		F.
	jr	X2c1d		; 2C34  18 E7		.g
;
	call	X2c05		; 2C36  CD 05 2C	M.,
X2c39:	add	a,0a6h		; 2C39  C6 A6		F&
	jr	X2c1d		; 2C3B  18 E0		.`
;
	defb	'*>0'					; 2C3D
;
	rst	10h		; 2C40  D7		W
	jr	z,X2c6b		; 2C41  28 28		((
	call	X2b1c		; 2C43  CD 1C 2B	M.+
X2c46:	cpl			; 2C46  2F		/
	ld	(X3043),a	; 2C47  32 43 30	2C0
	cpl			; 2C4A  2F		/
	and	0e0h		; 2C4B  E6 E0		f`
	rra			; 2C4D  1F		.
	rra			; 2C4E  1F		.
	rra			; 2C4F  1F		.
	rra			; 2C50  1F		.
	rra			; 2C51  1F		.
	push	af		; 2C52  F5		u
	call	X2c11		; 2C53  CD 11 2C	M.,
	call	X2c8c		; 2C56  CD 8C 2C	M.,
	pop	af		; 2C59  F1		q
	rra			; 2C5A  1F		.
	push	af		; 2C5B  F5		u
	call	X2c11		; 2C5C  CD 11 2C	M.,
	call	X3191		; 2C5F  CD 91 31	M.1
	pop	af		; 2C62  F1		q
	rra			; 2C63  1F		.
	call	X2c12		; 2C64  CD 12 2C	M.,
	nop			; 2C67  00		.
	jp	X3bad		; 2C68  C3 AD 3B	C-;
;
X2c6b:	xor	a		; 2C6B  AF		/
	jr	X2c46		; 2C6C  18 D8		.X
;
X2c6e:	cp	0a1h		; 2C6E  FE A1		~!
	jr	z,X2c79		; 2C70  28 07		(.
	cp	1		; 2C72  FE 01		~.
	jr	z,X2c7d		; 2C74  28 07		(.
	jp	X2b1c		; 2C76  C3 1C 2B	C.+
;
X2c79:	rst	10h		; 2C79  D7		W
	ld	a,1		; 2C7A  3E 01		>.
	ret			; 2C7C  C9		I
;
X2c7d:	inc	hl		; 2C7D  23		#
	ld	a,(hl)		; 2C7E  7E		~
	dec	hl		; 2C7F  2B		+
	cp	0eh		; 2C80  FE 0E		~.
	jp	nz,X2b1c	; 2C82  C2 1C 2B	B.+
	inc	hl		; 2C85  23		#
	rst	10h		; 2C86  D7		W
	xor	a		; 2C87  AF		/
	ret			; 2C88  C9		I
;
	call	X2c05		; 2C89  CD 05 2C	M.,
X2c8c:	add	a,crtram1cnt	; 2C8C  C6 86		F.
; X2c8e:	ld	(X2c96),a	; 2C8E  32 96 2C	2.,
X2c8e:	defb	$32,$96,$2c
	push	hl		; 2C91  E5		e
	ld	hl,X303b	; 2C92  21 3B 30	!;0
	res	0,(hl)		; 2C95  CB 86		K.
	pop	hl		; 2C97  E1		a
	ret			; 2C98  C9		I
;
	call	X2c05		; 2C99  CD 05 2C	M.,
	cpl			; 2C9C  2F		/
	add	a,0cfh		; 2C9D  C6 CF		FO
	jr	X2c8e		; 2C9F  18 ED		.m
;
	call	X2c05		; 2CA1  CD 05 2C	M.,
	cpl			; 2CA4  2F		/
	add	a,fdcdatareg	; 2CA5  C6 D7		FW
	jr	X2c8e		; 2CA7  18 E5		.e
;
	nop			; 2CA9  00		.
	call	X0a7f		; 2CAA  CD 7F 0A	M..
	ld	a,(hl)		; 2CAD  7E		~
	jp	X27f8		; 2CAE  C3 F8 27	Cx'
;
	call	X2b02		; 2CB1  CD 02 2B	M.+
	push	de		; 2CB4  D5		U
	rst	8		; 2CB5  CF		O
	inc	l		; 2CB6  2C		,
	call	X2b1c		; 2CB7  CD 1C 2B	M.+
	pop	de		; 2CBA  D1		Q
	ld	(de),a		; 2CBB  12		.
	ret			; 2CBC  C9		I
;
X2cbd:	call	X2338		; 2CBD  CD 38 23	M8#
	call	X0af4		; 2CC0  CD F4 0A	Mt.
	rst	8		; 2CC3  CF		O
	dec	sp		; 2CC4  3B		;
	ex	de,hl		; 2CC5  EB		k
	ld	hl,(X4121)	; 2CC6  2A 21 41	*!A
	jr	X2cd3		; 2CC9  18 08		..
;
X2ccb:	ld	a,(X40de)	; 2CCB  3A DE 40	:^@
	or	a		; 2CCE  B7		7
	jr	z,X2cdd		; 2CCF  28 0C		(.
	pop	de		; 2CD1  D1		Q
	ex	de,hl		; 2CD2  EB		k
X2cd3:	push	hl		; 2CD3  E5		e
	xor	a		; 2CD4  AF		/
	ld	(X40de),a	; 2CD5  32 DE 40	2^@
	cp	d		; 2CD8  BA		:
	push	af		; 2CD9  F5		u
	push	de		; 2CDA  D5		U
	ld	b,(hl)		; 2CDB  46		F
	or	b		; 2CDC  B0		0
X2cdd:	jp	z,X1e4a		; 2CDD  CA 4A 1E	JJ.
	inc	hl		; 2CE0  23		#
	ld	c,(hl)		; 2CE1  4E		N
	inc	hl		; 2CE2  23		#
	ld	h,(hl)		; 2CE3  66		f
	ld	l,c		; 2CE4  69		i
	jr	X2d03		; 2CE5  18 1C		..
;
X2ce7:	ld	e,b		; 2CE7  58		X
	push	hl		; 2CE8  E5		e
	ld	c,2		; 2CE9  0E 02		..
X2ceb:	ld	a,(hl)		; 2CEB  7E		~
	inc	hl		; 2CEC  23		#
	cp	25h		; 2CED  FE 25		~%
	jp	z,X2e17		; 2CEF  CA 17 2E	J..
	cp	20h		; 2CF2  FE 20		~
	jr	nz,X2cf9	; 2CF4  20 03		 .
	inc	c		; 2CF6  0C		.
	djnz	X2ceb		; 2CF7  10 F2		.r
X2cf9:	pop	hl		; 2CF9  E1		a
	ld	b,e		; 2CFA  43		C
	ld	a,25h		; 2CFB  3E 25		>%
X2cfd:	call	X2e49		; 2CFD  CD 49 2E	MI.
	call	X032a		; 2D00  CD 2A 03	M*.
X2d03:	xor	a		; 2D03  AF		/
	ld	e,a		; 2D04  5F		_
	ld	d,a		; 2D05  57		W
X2d06:	call	X2e49		; 2D06  CD 49 2E	MI.
	ld	d,a		; 2D09  57		W
	ld	a,(hl)		; 2D0A  7E		~
	inc	hl		; 2D0B  23		#
	cp	21h		; 2D0C  FE 21		~!
	jp	z,X2e14		; 2D0E  CA 14 2E	J..
	cp	23h		; 2D11  FE 23		~#
	jr	z,X2d4c		; 2D13  28 37		(7
	dec	b		; 2D15  05		.
	jp	z,X2dfe		; 2D16  CA FE 2D	J~-
	cp	2bh		; 2D19  FE 2B		~+
	ld	a,8		; 2D1B  3E 08		>.
	jr	z,X2d06		; 2D1D  28 E7		(g
	dec	hl		; 2D1F  2B		+
	ld	a,(hl)		; 2D20  7E		~
	inc	hl		; 2D21  23		#
	cp	2eh		; 2D22  FE 2E		~.
	jr	z,X2d66		; 2D24  28 40		(@
	cp	25h		; 2D26  FE 25		~%
	jr	z,X2ce7		; 2D28  28 BD		(=
	cp	(hl)		; 2D2A  BE		>
	jr	nz,X2cfd	; 2D2B  20 D0		 P
	cp	24h		; 2D2D  FE 24		~$
; 	jr	z,X2d45		; 2D2F  28 14		(.
	defb	$28,$14
	cp	2ah		; 2D31  FE 2A		~*
	jr	nz,X2cfd	; 2D33  20 C8		 H
	ld	a,b		; 2D35  78		x
	cp	2		; 2D36  FE 02		~.
	inc	hl		; 2D38  23		#
	jr	c,X2d3e		; 2D39  38 03		8.
	ld	a,(hl)		; 2D3B  7E		~
	cp	24h		; 2D3C  FE 24		~$
X2d3e:	ld	a,20h		; 2D3E  3E 20		>
	jr	nz,X2d49	; 2D40  20 07		 .
	dec	b		; 2D42  05		.
	inc	e		; 2D43  1C		.
	cp	0afh		; 2D44  FE AF		~/
	add	a,10h		; 2D46  C6 10		F.
	inc	hl		; 2D48  23		#
X2d49:	inc	e		; 2D49  1C		.
	add	a,d		; 2D4A  82		.
	ld	d,a		; 2D4B  57		W
X2d4c:	inc	e		; 2D4C  1C		.
	ld	c,0		; 2D4D  0E 00		..
	dec	b		; 2D4F  05		.
	jr	z,X2d99		; 2D50  28 47		(G
	ld	a,(hl)		; 2D52  7E		~
	inc	hl		; 2D53  23		#
	cp	2eh		; 2D54  FE 2E		~.
	jr	z,X2d70		; 2D56  28 18		(.
	cp	23h		; 2D58  FE 23		~#
	jr	z,X2d4c		; 2D5A  28 F0		(p
	cp	2ch		; 2D5C  FE 2C		~,
	jr	nz,X2d7a	; 2D5E  20 1A		 .
	ld	a,d		; 2D60  7A		z
	or	blislowblok	; 2D61  F6 40		v@
	ld	d,a		; 2D63  57		W
	jr	X2d4c		; 2D64  18 E6		.f
;
X2d66:	ld	a,(hl)		; 2D66  7E		~
	cp	23h		; 2D67  FE 23		~#
	ld	a,2eh		; 2D69  3E 2E		>.
	jr	nz,X2cfd	; 2D6B  20 90		 .
	ld	c,1		; 2D6D  0E 01		..
	inc	hl		; 2D6F  23		#
X2d70:	inc	c		; 2D70  0C		.
	dec	b		; 2D71  05		.
	jr	z,X2d99		; 2D72  28 25		(%
	ld	a,(hl)		; 2D74  7E		~
	inc	hl		; 2D75  23		#
	cp	23h		; 2D76  FE 23		~#
	jr	z,X2d70		; 2D78  28 F6		(v
X2d7a:	push	de		; 2D7A  D5		U
	ld	de,X2d97	; 2D7B  11 97 2D	..-
	push	de		; 2D7E  D5		U
	ld	d,h		; 2D7F  54		T
	ld	e,l		; 2D80  5D		]
	cp	5bh		; 2D81  FE 5B		~[
	ret	nz		; 2D83  C0		@
	cp	(hl)		; 2D84  BE		>
	ret	nz		; 2D85  C0		@
	inc	hl		; 2D86  23		#
	cp	(hl)		; 2D87  BE		>
	ret	nz		; 2D88  C0		@
	inc	hl		; 2D89  23		#
	cp	(hl)		; 2D8A  BE		>
	ret	nz		; 2D8B  C0		@
	inc	hl		; 2D8C  23		#
	ld	a,b		; 2D8D  78		x
	sub	4		; 2D8E  D6 04		V.
	ret	c		; 2D90  D8		X
	pop	de		; 2D91  D1		Q
	pop	de		; 2D92  D1		Q
	ld	b,a		; 2D93  47		G
	inc	d		; 2D94  14		.
	inc	hl		; 2D95  23		#
	jp	z,Xd1eb		; 2D96  CA EB D1	JkQ
X2d99:	ld	a,d		; 2D99  7A		z
	dec	hl		; 2D9A  2B		+
	inc	e		; 2D9B  1C		.
	and	8		; 2D9C  E6 08		f.
	jr	nz,X2db5	; 2D9E  20 15		 .
	dec	e		; 2DA0  1D		.
	ld	a,b		; 2DA1  78		x
	or	a		; 2DA2  B7		7
	jr	z,X2db5		; 2DA3  28 10		(.
	ld	a,(hl)		; 2DA5  7E		~
	sub	2dh		; 2DA6  D6 2D		V-
	jr	z,X2db0		; 2DA8  28 06		(.
	cp	0feh		; 2DAA  FE FE		~~
	jr	nz,X2db5	; 2DAC  20 07		 .
	ld	a,8		; 2DAE  3E 08		>.
X2db0:	add	a,4		; 2DB0  C6 04		F.
	add	a,d		; 2DB2  82		.
	ld	d,a		; 2DB3  57		W
	dec	b		; 2DB4  05		.
X2db5:	pop	hl		; 2DB5  E1		a
	pop	af		; 2DB6  F1		q
	jr	z,X2e09		; 2DB7  28 50		(P
	push	bc		; 2DB9  C5		E
	push	de		; 2DBA  D5		U
	call	X2337		; 2DBB  CD 37 23	M7#
	pop	de		; 2DBE  D1		Q
	pop	bc		; 2DBF  C1		A
	push	bc		; 2DC0  C5		E
	push	hl		; 2DC1  E5		e
	ld	b,e		; 2DC2  43		C
	ld	a,b		; 2DC3  78		x
	add	a,c		; 2DC4  81		.
	cp	19h		; 2DC5  FE 19		~.
	jp	nc,X1e4a	; 2DC7  D2 4A 1E	RJ.
	ld	a,d		; 2DCA  7A		z
	or	crtram0dat	; 2DCB  F6 80		v.
	call	X0fbe		; 2DCD  CD BE 0F	M>.
	call	X28a7		; 2DD0  CD A7 28	M'(
X2dd3:	pop	hl		; 2DD3  E1		a
	dec	hl		; 2DD4  2B		+
	rst	10h		; 2DD5  D7		W
	scf			; 2DD6  37		7
	jr	z,X2de6		; 2DD7  28 0D		(.
	ld	(X40de),a	; 2DD9  32 DE 40	2^@
	cp	ram0buf		; 2DDC  FE 3B		~;
	jr	z,X2de5		; 2DDE  28 05		(.
	cp	2ch		; 2DE0  FE 2C		~,
	jp	nz,X1997	; 2DE2  C2 97 19	B..
X2de5:	rst	10h		; 2DE5  D7		W
X2de6:	pop	bc		; 2DE6  C1		A
	ex	de,hl		; 2DE7  EB		k
	pop	hl		; 2DE8  E1		a
	push	hl		; 2DE9  E5		e
	push	af		; 2DEA  F5		u
	push	de		; 2DEB  D5		U
	ld	a,(hl)		; 2DEC  7E		~
	sub	b		; 2DED  90		.
	inc	hl		; 2DEE  23		#
	ld	c,(hl)		; 2DEF  4E		N
	inc	hl		; 2DF0  23		#
	ld	h,(hl)		; 2DF1  66		f
	ld	l,c		; 2DF2  69		i
	ld	d,0		; 2DF3  16 00		..
	ld	e,a		; 2DF5  5F		_
	add	hl,de		; 2DF6  19		.
	ld	a,b		; 2DF7  78		x
	or	a		; 2DF8  B7		7
	jp	nz,X2d03	; 2DF9  C2 03 2D	B.-
	jr	X2e04		; 2DFC  18 06		..
;
X2dfe:	call	X2e49		; 2DFE  CD 49 2E	MI.
	call	X032a		; 2E01  CD 2A 03	M*.
X2e04:	pop	hl		; 2E04  E1		a
	pop	af		; 2E05  F1		q
	jp	nz,X2ccb	; 2E06  C2 CB 2C	BK,
X2e09:	call	c,X20fe		; 2E09  DC FE 20	\~
	ex	(sp),hl		; 2E0C  E3		c
	call	X29dd		; 2E0D  CD DD 29	M])
	pop	hl		; 2E10  E1		a
	jp	X2169		; 2E11  C3 69 21	Ci!
;
X2e14:	ld	c,1		; 2E14  0E 01		..
	ld	a,0f1h		; 2E16  3E F1		>q
	dec	b		; 2E18  05		.
	call	X2e49		; 2E19  CD 49 2E	MI.
	pop	hl		; 2E1C  E1		a
	pop	af		; 2E1D  F1		q
	jr	z,X2e09		; 2E1E  28 E9		(i
	push	bc		; 2E20  C5		E
	call	X2337		; 2E21  CD 37 23	M7#
	call	X0af4		; 2E24  CD F4 0A	Mt.
	pop	bc		; 2E27  C1		A
	push	bc		; 2E28  C5		E
	push	hl		; 2E29  E5		e
	ld	hl,(X4121)	; 2E2A  2A 21 41	*!A
	ld	b,c		; 2E2D  41		A
	ld	c,0c5h		; 2E2E  0E C5		.E
	push	bc		; 2E30  C5		E
	call	X2a68		; 2E31  CD 68 2A	Mh*
	call	X28aa		; 2E34  CD AA 28	M*(
	ld	hl,(X4121)	; 2E37  2A 21 41	*!A
	pop	af		; 2E3A  F1		q
	sub	(hl)		; 2E3B  96		.
	ld	b,a		; 2E3C  47		G
	ld	a,20h		; 2E3D  3E 20		>
	inc	b		; 2E3F  04		.
X2e40:	dec	b		; 2E40  05		.
	jp	z,X2dd3		; 2E41  CA D3 2D	JS-
	call	X032a		; 2E44  CD 2A 03	M*.
	jr	X2e40		; 2E47  18 F7		.w
;
X2e49:	push	af		; 2E49  F5		u
	ld	a,d		; 2E4A  7A		z
	or	a		; 2E4B  B7		7
	ld	a,2bh		; 2E4C  3E 2B		>+
	call	nz,X032a	; 2E4E  C4 2A 03	D*.
	pop	af		; 2E51  F1		q
	ret			; 2E52  C9		I
;
X2e53:	ld	(X409a),a	; 2E53  32 9A 40	2.@
	ld	hl,(X40ea)	; 2E56  2A EA 40	*j@
	or	h		; 2E59  B4		4
	and	l		; 2E5A  A5		%
	inc	a		; 2E5B  3C		<
	ex	de,hl		; 2E5C  EB		k
	ret	z		; 2E5D  C8		H
	jr	X2e64		; 2E5E  18 04		..
;
	call	X1e4f		; 2E60  CD 4F 1E	MO.
	ret	nz		; 2E63  C0		@
X2e64:	pop	hl		; 2E64  E1		a
X2e65:	ex	de,hl		; 2E65  EB		k
	ld	(X40ec),hl	; 2E66  22 EC 40	"l@
	ex	de,hl		; 2E69  EB		k
	call	X011b		; 2E6A  CD 1B 01	M..
	jp	nc,X1ed9	; 2E6D  D2 D9 1E	RY.
	ld	h,b		; 2E70  60		`
	ld	l,c		; 2E71  69		i
	inc	hl		; 2E72  23		#
	inc	hl		; 2E73  23		#
	ld	c,(hl)		; 2E74  4E		N
	inc	hl		; 2E75  23		#
	ld	b,(hl)		; 2E76  46		F
	inc	hl		; 2E77  23		#
	push	bc		; 2E78  C5		E
	call	X2b7e		; 2E79  CD 7E 2B	M~+
X2e7c:	pop	hl		; 2E7C  E1		a
	push	hl		; 2E7D  E5		e
	call	X0faf		; 2E7E  CD AF 0F	M/.
	ld	a,20h		; 2E81  3E 20		>
	call	X032a		; 2E83  CD 2A 03	M*.
	ld	hl,(X40a7)	; 2E86  2A A7 40	*'@
	ld	a,0eh		; 2E89  3E 0E		>.
	call	X032a		; 2E8B  CD 2A 03	M*.
	push	hl		; 2E8E  E5		e
	ld	c,0ffh		; 2E8F  0E FF		..
X2e91:	inc	c		; 2E91  0C		.
	ld	a,(hl)		; 2E92  7E		~
	or	a		; 2E93  B7		7
	inc	hl		; 2E94  23		#
	jr	nz,X2e91	; 2E95  20 FA		 z
	pop	hl		; 2E97  E1		a
	ld	b,a		; 2E98  47		G
X2e99:	ld	d,0		; 2E99  16 00		..
X2e9b:	call	X0384		; 2E9B  CD 84 03	M..
	sub	30h		; 2E9E  D6 30		V0
	jr	c,X2eb0		; 2EA0  38 0E		8.
	cp	0ah		; 2EA2  FE 0A		~.
	jr	nc,X2eb0	; 2EA4  30 0A		0.
	ld	e,a		; 2EA6  5F		_
	ld	a,d		; 2EA7  7A		z
	rlca			; 2EA8  07		.
	rlca			; 2EA9  07		.
	add	a,d		; 2EAA  82		.
	rlca			; 2EAB  07		.
	add	a,e		; 2EAC  83		.
	ld	d,a		; 2EAD  57		W
	jr	X2e9b		; 2EAE  18 EB		.k
;
X2eb0:	push	hl		; 2EB0  E5		e
	ld	hl,X2e99	; 2EB1  21 99 2E	!..
	ex	(sp),hl		; 2EB4  E3		c
	dec	d		; 2EB5  15		.
	inc	d		; 2EB6  14		.
	jp	nz,X2ebb	; 2EB7  C2 BB 2E	B;.
	inc	d		; 2EBA  14		.
X2ebb:	cp	0d8h		; 2EBB  FE D8		~X
	jp	z,X2fd2		; 2EBD  CA D2 2F	JR/
	cp	0ddh		; 2EC0  FE DD		~]
	jp	z,X2fe0		; 2EC2  CA E0 2F	J`/
	cp	0f0h		; 2EC5  FE F0		~p
	jr	z,X2f0f		; 2EC7  28 46		(F
	cp	31h		; 2EC9  FE 31		~1
	jr	c,X2ecf		; 2ECB  38 02		8.
	sub	20h		; 2ECD  D6 20		V
X2ecf:	cp	21h		; 2ECF  FE 21		~!
	jp	z,X2ff6		; 2ED1  CA F6 2F	Jv/
	cp	1ch		; 2ED4  FE 1C		~.
	jp	z,X0418		; 2ED6  CA 18 04	J..
	cp	23h		; 2ED9  FE 23		~#
	jr	z,X2f21		; 2EDB  28 44		(D
	cp	19h		; 2EDD  FE 19		~.
	jp	z,X2f7d		; 2EDF  CA 7D 2F	J}/
	cp	14h		; 2EE2  FE 14		~.
	jp	z,X2f4a		; 2EE4  CA 4A 2F	JJ/
	cp	xofc		; 2EE7  FE 13		~.
	jp	z,X2f65		; 2EE9  CA 65 2F	Je/
	cp	15h		; 2EEC  FE 15		~.
	jp	z,X2fe3		; 2EEE  CA E3 2F	Jc/
	cp	28h		; 2EF1  FE 28		~(
	jp	z,X2f78		; 2EF3  CA 78 2F	Jx/
	cp	esc		; 2EF6  FE 1B		~.
	jr	z,X2f1b		; 2EF8  28 21		(!
	cp	18h		; 2EFA  FE 18		~.
	jp	z,X2f75		; 2EFC  CA 75 2F	Ju/
	cp	1eh		; 2EFF  FE 1E		~.
	jp	X65de		; 2F01  C3 DE 65	C^e
;
	cp	xonc		; 2F04  FE 11		~.
	ret	nz		; 2F06  C0		@
	pop	bc		; 2F07  C1		A
	pop	de		; 2F08  D1		Q
	call	X20fe		; 2F09  CD FE 20	M~
	jp	X2e65		; 2F0C  C3 65 2E	Ce.
;
X2f0f:	ld	a,(hl)		; 2F0F  7E		~
	or	a		; 2F10  B7		7
	ret	z		; 2F11  C8		H
	inc	b		; 2F12  04		.
	call	X032a		; 2F13  CD 2A 03	M*.
	inc	hl		; 2F16  23		#
	dec	d		; 2F17  15		.
	jr	nz,X2f0f	; 2F18  20 F5		 u
	ret			; 2F1A  C9		I
;
X2f1b:	push	hl		; 2F1B  E5		e
	ld	hl,X2f5f	; 2F1C  21 5F 2F	!_/
	ex	(sp),hl		; 2F1F  E3		c
	scf			; 2F20  37		7
X2f21:	push	af		; 2F21  F5		u
	call	X0384		; 2F22  CD 84 03	M..
	ld	e,a		; 2F25  5F		_
	pop	af		; 2F26  F1		q
	push	af		; 2F27  F5		u
	call	c,X2f5f		; 2F28  DC 5F 2F	\_/
X2f2b:	ld	a,(hl)		; 2F2B  7E		~
	or	a		; 2F2C  B7		7
	jp	z,X2f3e		; 2F2D  CA 3E 2F	J>/
	call	X032a		; 2F30  CD 2A 03	M*.
	pop	af		; 2F33  F1		q
	push	af		; 2F34  F5		u
	call	c,X2fa1		; 2F35  DC A1 2F	\!/
	jr	c,X2f3c		; 2F38  38 02		8.
	inc	hl		; 2F3A  23		#
	inc	b		; 2F3B  04		.
X2f3c:	ld	a,(hl)		; 2F3C  7E		~
	cp	e		; 2F3D  BB		;
X2f3e:	jr	nz,X2f2b	; 2F3E  20 EB		 k
	dec	d		; 2F40  15		.
	jr	nz,X2f2b	; 2F41  20 E8		 h
	pop	af		; 2F43  F1		q
	ret			; 2F44  C9		I
;
	ORG	2f4ah
;
X2f4a:	ld	a,(hl)		; 2F4A  7E		~
	or	a		; 2F4B  B7		7
	ret	z		; 2F4C  C8		H
	ld	a,21h		; 2F4D  3E 21		>!
	call	X032a		; 2F4F  CD 2A 03	M*.
X2f52:	ld	a,(hl)		; 2F52  7E		~
	or	a		; 2F53  B7		7
	jr	z,X2f5f		; 2F54  28 09		(.
	call	X032a		; 2F56  CD 2A 03	M*.
	call	X2fa1		; 2F59  CD A1 2F	M!/
	dec	d		; 2F5C  15		.
	jr	nz,X2f52	; 2F5D  20 F3		 s
X2f5f:	ld	a,21h		; 2F5F  3E 21		>!
	call	X032a		; 2F61  CD 2A 03	M*.
	ret			; 2F64  C9		I
;
X2f65:	ld	a,(hl)		; 2F65  7E		~
	or	a		; 2F66  B7		7
	ret	z		; 2F67  C8		H
	call	X0384		; 2F68  CD 84 03	M..
	ld	(hl),a		; 2F6B  77		w
	call	X032a		; 2F6C  CD 2A 03	M*.
	inc	hl		; 2F6F  23		#
	inc	b		; 2F70  04		.
	dec	d		; 2F71  15		.
	jr	nz,X2f65	; 2F72  20 F1		 q
	ret			; 2F74  C9		I
;
X2f75:	ld	(hl),0		; 2F75  36 00		6.
	ld	c,b		; 2F77  48		H
X2f78:	ld	d,0ffh		; 2F78  16 FF		..
	call	X2f0f		; 2F7A  CD 0F 2F	M./
X2f7d:	call	X3315		; 2F7D  CD 15 33	M.3
	or	a		; 2F80  B7		7
	jp	z,X2f7d		; 2F81  CA 7D 2F	J}/
	cp	8		; 2F84  FE 08		~.
	jr	z,X2f92		; 2F86  28 0A		(.
	cp	0dh		; 2F88  FE 0D		~.
	jp	z,X2fe0		; 2F8A  CA E0 2F	J`/
	cp	esc		; 2F8D  FE 1B		~.
	ret	z		; 2F8F  C8		H
	jr	nz,X2fb0	; 2F90  20 1E		 .
X2f92:	ld	a,8		; 2F92  3E 08		>.
	dec	b		; 2F94  05		.
	inc	b		; 2F95  04		.
	jr	z,X2fb7		; 2F96  28 1F		(.
	call	X032a		; 2F98  CD 2A 03	M*.
	dec	hl		; 2F9B  2B		+
	dec	b		; 2F9C  05		.
	ld	de,X2f7d	; 2F9D  11 7D 2F	.}/
	push	de		; 2FA0  D5		U
X2fa1:	push	hl		; 2FA1  E5		e
	dec	c		; 2FA2  0D		.
X2fa3:	ld	a,(hl)		; 2FA3  7E		~
	or	a		; 2FA4  B7		7
	scf			; 2FA5  37		7
	jp	z,X0890		; 2FA6  CA 90 08	J..
	inc	hl		; 2FA9  23		#
	ld	a,(hl)		; 2FAA  7E		~
	dec	hl		; 2FAB  2B		+
	ld	(hl),a		; 2FAC  77		w
	inc	hl		; 2FAD  23		#
	jr	X2fa3		; 2FAE  18 F3		.s
;
X2fb0:	push	af		; 2FB0  F5		u
	ld	a,c		; 2FB1  79		y
	cp	0ffh		; 2FB2  FE FF		~.
	jr	c,X2fb9		; 2FB4  38 03		8.
	pop	af		; 2FB6  F1		q
X2fb7:	jr	X2f7d		; 2FB7  18 C4		.D
;
X2fb9:	sub	b		; 2FB9  90		.
	inc	c		; 2FBA  0C		.
	inc	b		; 2FBB  04		.
	push	bc		; 2FBC  C5		E
	ex	de,hl		; 2FBD  EB		k
	ld	l,a		; 2FBE  6F		o
	ld	h,0		; 2FBF  26 00		&.
	add	hl,de		; 2FC1  19		.
	ld	b,h		; 2FC2  44		D
	ld	c,l		; 2FC3  4D		M
	inc	hl		; 2FC4  23		#
	call	X1958		; 2FC5  CD 58 19	MX.
	pop	bc		; 2FC8  C1		A
	pop	af		; 2FC9  F1		q
	ld	(hl),a		; 2FCA  77		w
	call	X032a		; 2FCB  CD 2A 03	M*.
	inc	hl		; 2FCE  23		#
	jp	X2f7d		; 2FCF  C3 7D 2F	C}/
;
X2fd2:	ld	a,b		; 2FD2  78		x
	or	a		; 2FD3  B7		7
	ret	z		; 2FD4  C8		H
	dec	b		; 2FD5  05		.
	dec	hl		; 2FD6  2B		+
	ld	a,8		; 2FD7  3E 08		>.
	call	X032a		; 2FD9  CD 2A 03	M*.
	dec	d		; 2FDC  15		.
	jr	nz,X2fd2	; 2FDD  20 F3		 s
	ret			; 2FDF  C9		I
;
X2fe0:	call	X2b75		; 2FE0  CD 75 2B	Mu+
X2fe3:	call	X20fe		; 2FE3  CD FE 20	M~
	pop	bc		; 2FE6  C1		A
	pop	de		; 2FE7  D1		Q
	ld	a,d		; 2FE8  7A		z
	and	e		; 2FE9  A3		#
	inc	a		; 2FEA  3C		<
X2feb:	ld	hl,(X40a7)	; 2FEB  2A A7 40	*'@
	dec	hl		; 2FEE  2B		+
	ret	z		; 2FEF  C8		H
	scf			; 2FF0  37		7
	inc	hl		; 2FF1  23		#
	push	af		; 2FF2  F5		u
	jp	X1a98		; 2FF3  C3 98 1A	C..
;
X2ff6:	pop	bc		; 2FF6  C1		A
	pop	de		; 2FF7  D1		Q
	jp	X1a19		; 2FF8  C3 19 1A	C..
;
	sbc	a,0c3h		; 2FFB  DE C3		^C
	jp	Xb244		; 2FFD  C3 44 B2	CD2
;
	push	bc		; 3000  C5		E
	ld	b,3		; 3001  06 03		..
X3003:	in	a,(fdccmdstatr)	; 3003  DB D0		[P
	bit	0,a		; 3005  CB 47		KG
	jr	nz,X3003	; 3007  20 FA		 z
X3009:	ld	a,7		; 3009  3E 07		>.
	out	(fdccmdstatr),a	; 300B  D3 D0		SP
	ex	(sp),hl		; 300D  E3		c
	ex	(sp),hl		; 300E  E3		c
	ex	(sp),hl		; 300F  E3		c
	ex	(sp),hl		; 3010  E3		c
X3011:	in	a,(fdccmdstatr)	; 3011  DB D0		[P
	bit	0,a		; 3013  CB 47		KG
	jr	nz,X3011	; 3015  20 FA		 z
	djnz	X3009		; 3017  10 F0		.p
	pop	bc		; 3019  C1		A
	ret			; 301A  C9		I
;
	push	af		; 301B  F5		u
	xor	a		; 301C  AF		/
	out	(fdcdrvrcnt),a	; 301D  D3 D6		SV
	pop	af		; 301F  F1		q
	ei			; 3020  FB		{
	pop	bc		; 3021  C1		A
	ret			; 3022  C9		I
;
	ld	a,fdccmdstatr	; 3023  3E D0		>P
	out	(fdccmdstatr),a	; 3025  D3 D0		SP
	jp	X4669		; 3027  C3 69 46	CiF
;
	out	(fdcdrvrcnt),a	; 302A  D3 D6		SV
	push	af		; 302C  F5		u
	ld	a,17h		; 302D  3E 17		>.
	jp	X3546		; 302F  C3 46 35	CF5
;
	nop			; 3032  00		.
	xor	a		; 3033  AF		/
	out	(fdcdrvrcnt),a	; 3034  D3 D6		SV
	jp	X3375		; 3036  C3 75 33	Cu3
;
X3039:	nop			; 3039  00		.
	inc	b		; 303A  04		.
X303b:	dec	b		; 303B  05		.
	nop			; 303C  00		.
X303d:	nop			; 303D  00		.
X303e:	nop			; 303E  00		.
;
	ORG	3040h
;
	defb	$20
	defb	$ff
	defb	$ff
X3043:	defb	$ff
; 	rst	38h		; 3043  FF		.

	ld	d,c		; 3044  51		Q
X3045:	ld	b,a		; 3045  47		G
	ld	a,(hl)		; 3046  7E		~
	cp	1		; 3047  FE 01		~.
	jr	z,X304f		; 3049  28 04		(.
	ld	a,b		; 304B  78		x
	jp	X1f21		; 304C  C3 21 1F	C!.
;
X304f:	inc	hl		; 304F  23		#
	ld	a,(hl)		; 3050  7E		~
	ld	(X303e),hl	; 3051  22 3E 30	">0
	ld	hl,X3667	; 3054  21 67 36	!g6
	ld	b,0		; 3057  06 00		..
	ld	c,a		; 3059  4F		O
	add	hl,bc		; 305A  09		.
	add	hl,bc		; 305B  09		.
	ld	e,(hl)		; 305C  5E		^
	inc	hl		; 305D  23		#
	ld	d,(hl)		; 305E  56		V
	push	de		; 305F  D5		U
	ret			; 3060  C9		I
;
	ORG	3063h
;
	defb	'*>0'					; 3063
;
	rst	10h		; 3066  D7		W
	jr	z,X30ad		; 3067  28 44		(D
	cp	27h		; 3069  FE 27		~'
	jr	nc,X308f	; 306B  30 22		0"
	cp	23h		; 306D  FE 23		~#
	jr	c,X308f		; 306F  38 1E		8.
	push	hl		; 3071  E5		e
	ld	hl,X303d	; 3072  21 3D 30	!=0
	jr	nz,X3079	; 3075  20 02		 .
	res	1,(hl)		; 3077  CB 8E		K.
X3079:	cp	24h		; 3079  FE 24		~$
	jr	nz,X307f	; 307B  20 02		 .
	set	1,(hl)		; 307D  CB CE		KN
X307f:	cp	25h		; 307F  FE 25		~%
	jr	nz,X3085	; 3081  20 02		 .
	res	0,(hl)		; 3083  CB 86		K.
X3085:	cp	26h		; 3085  FE 26		~&
	jr	nz,X308b	; 3087  20 02		 .
	set	0,(hl)		; 3089  CB C6		KF
X308b:	pop	hl		; 308B  E1		a
X308c:	jp	X1d78		; 308C  C3 78 1D	Cx.
;
X308f:	dec	hl		; 308F  2B		+
	call	X2b1b		; 3090  CD 1B 2B	M.+
	dec	hl		; 3093  2B		+
	or	a		; 3094  B7		7
	jr	z,X308c		; 3095  28 F5		(u
X3097:	ld	bc,X4000	; 3097  01 00 40	..@
	call	X0060		; 309A  CD 60 00	M`.
	call	X35a9		; 309D  CD A9 35	M)5
	cp	1		; 30A0  FE 01		~.
	jr	z,X308c		; 30A2  28 E8		(h
	in	a,(crtbeepport)	; 30A4  DB 8F		[.
	dec	e		; 30A6  1D		.
	ld	a,e		; 30A7  7B		{
	or	a		; 30A8  B7		7
	jr	nz,X3097	; 30A9  20 EC		 l
	jr	X308c		; 30AB  18 DF		._
;
X30ad:	dec	hl		; 30AD  2B		+
	ld	e,1		; 30AE  1E 01		..
	jr	X3097		; 30B0  18 E5		.e
;
	ld	hl,(X303e)	; 30B2  2A 3E 30	*>0
	rst	10h		; 30B5  D7		W
	jr	z,X30d5		; 30B6  28 1D		(.
	dec	hl		; 30B8  2B		+
	call	X1e45		; 30B9  CD 45 1E	ME.
	xor	a		; 30BC  AF		/
	or	d		; 30BD  B2		2
	jr	nz,X30c3	; 30BE  20 03		 .
	or	e		; 30C0  B3		3
	jr	z,X30d5		; 30C1  28 12		(.
X30c3:	ld	bc,X02b0	; 30C3  01 B0 02	.0.
	call	X0060		; 30C6  CD 60 00	M`.
	call	X35a9		; 30C9  CD A9 35	M)5
	cp	1		; 30CC  FE 01		~.
	jr	z,X30d5		; 30CE  28 05		(.
	dec	de		; 30D0  1B		.
	ld	a,d		; 30D1  7A		z
	or	e		; 30D2  B3		3
	jr	nz,X30c3	; 30D3  20 EE		 n
X30d5:	dec	hl		; 30D5  2B		+
	jp	X1d78		; 30D6  C3 78 1D	Cx.
;
	defb	':=0'					; 30D9
;
	bit	1,a		; 30DC  CB 4F		KO
	jr	z,X30e2		; 30DE  28 02		(.
	in	a,(crtbeepport)	; 30E0  DB 8F		[.
X30e2:	jp	X1a01		; 30E2  C3 01 1A	C..
;
X30e5:	call	X0a9a		; 30E5  CD 9A 0A	M..
	xor	a		; 30E8  AF		/
	call	X1034		; 30E9  CD 34 10	M4.
	or	(hl)		; 30EC  B6		6
	call	X0fd9		; 30ED  CD D9 0F	MY.
	jp	X28a7		; 30F0  C3 A7 28	C'(
;
X30f3:	ld	a,(X303b)	; 30F3  3A 3B 30	:;0
	bit	0,a		; 30F6  CB 47		KG
	jr	z,X311b		; 30F8  28 21		(!
	push	hl		; 30FA  E5		e
	ld	hl,(X3232)	; 30FB  2A 32 32	*22
	call	X04df		; 30FE  CD DF 04	M_.
	res	3,h		; 3101  CB 9C		K.
	ld	(X3232),hl	; 3103  22 32 32	"22
	di			; 3106  F3		s
	ld	a,0ch		; 3107  3E 0C		>.
	out	(crt6545adst),a	; 3109  D3 8C		S.
	ld	a,h		; 310B  7C		|
	out	(crt6545data),a	; 310C  D3 8D		S.
	ld	a,0dh		; 310E  3E 0D		>.
	out	(crt6545adst),a	; 3110  D3 8C		S.
	ld	a,l		; 3112  7D		}
	out	(crt6545data),a	; 3113  D3 8D		S.
	ld	hl,X0780	; 3115  21 80 07	!..
	jp	X057f		; 3118  C3 7F 05	C..
;
X311b:	ld	hl,X0000	; 311B  21 00 00	!..
	ret			; 311E  C9		I
;
X311f:	ld	a,(X303b)	; 311F  3A 3B 30	:;0
	bit	2,a		; 3122  CB 57		KW
	call	nz,Xf08b	; 3124  C4 8B F0	D.p
	push	de		; 3127  D5		U
	call	X048a		; 3128  CD 8A 04	M..
	pop	de		; 312B  D1		Q
X312c:	ld	(ix+5),a	; 312C  DD 77 05	]w.
	ret			; 312F  C9		I
;
X3130:	call	Xf07e		; 3130  CD 7E F0	M~p
	xor	a		; 3133  AF		/
	jr	X312c		; 3134  18 F6		.v
;
	ORG	3139h
;
X3139:	in	a,(crt6545adst)	; 3139  DB 8C		[.
	bit	7,a		; 313B  CB 7F		K.
	jr	z,X3139		; 313D  28 FA		(z
	ex	(sp),hl		; 313F  E3		c
	ex	(sp),hl		; 3140  E3		c
	in	a,(crtram0dat)	; 3141  DB 80		[.
	ld	(hl),a		; 3143  77		w
	inc	hl		; 3144  23		#
	in	a,(crtram1dat)	; 3145  DB 84		[.
	ld	(hl),a		; 3147  77		w
	inc	hl		; 3148  23		#
	in	a,(crtram2dat)	; 3149  DB 88		[.
	ld	(hl),a		; 314B  77		w
	inc	hl		; 314C  23		#
	in	a,(crtram3port)	; 314D  DB 8E		[.
	ld	(hl),a		; 314F  77		w
X3150:	inc	hl		; 3150  23		#
	xor	a		; 3151  AF		/
	out	(crt6545data),a	; 3152  D3 8D		S.
	ret			; 3154  C9		I
;
X3155:	in	a,(crt6545adst)	; 3155  DB 8C		[.
	bit	7,a		; 3157  CB 7F		K.
	jr	z,X3155		; 3159  28 FA		(z
	ex	(sp),hl		; 315B  E3		c
	ex	(sp),hl		; 315C  E3		c
	ld	a,(hl)		; 315D  7E		~
	out	(crtram0dat),a	; 315E  D3 80		S.
	inc	hl		; 3160  23		#
	ld	a,(hl)		; 3161  7E		~
	out	(crtram1dat),a	; 3162  D3 84		S.
	inc	hl		; 3164  23		#
	ld	a,(hl)		; 3165  7E		~
	out	(crtram2dat),a	; 3166  D3 88		S.
	inc	hl		; 3168  23		#
	ld	a,(hl)		; 3169  7E		~
	out	(crtram3port),a	; 316A  D3 8E		S.
	jr	X3150		; 316C  18 E2		.b
;
X316e:	dec	bc		; 316E  0B		.
	nop			; 316F  00		.
	dec	bc		; 3170  0B		.
	ld	c,b		; 3171  48		H
; 	jr	X318c		; 3172  18 18		..
	defb	$18,$18
;
	nop			; 3174  00		.
	ld	a,(de)		; 3175  1A		.
	inc	h		; 3176  24		$
	inc	l		; 3177  2C		,
; 	jr	z,X31b1		; 3178  28 37		(7
	defb	$28,$37
X317a:	ld	de,(X3232)	; 317A  ED 5B 32 32	m[22
	add	hl,de		; 317E  19		.
	jp	Xf060		; 317F  C3 60 F0	C`p
;
	di			; 3182  F3		s
	jp	X42aa		; 3183  C3 AA 42	C*B
;
X3186:	nop			; 3186  00		.
;
	ORG	3189h
;
	ex	(sp),hl		; 3189  E3		c
	ex	(sp),hl		; 318A  E3		c
	jp	Xf06e		; 318B  C3 6E F0	Cnp
;
	call	X2c05		; 318E  CD 05 2C	M.,
X3191:	cpl			; 3191  2F		/
	add	a,0cfh		; 3192  C6 CF		FO
; 	ld	(X319c),a	; 3194  32 9C 31	2.1
	defb	$32,$9c,$31
	exx			; 3197  D9		Y
	ld	hl,X303b	; 3198  21 3B 30	!;0
	res	1,(hl)		; 319B  CB 8E		K.
	cp	crtram3port	; 319D  FE 8E		~.
	di			; 319F  F3		s
	in	a,(crtservdat)	; 31A0  DB 89		[.
	res	1,a		; 31A2  CB 8F		K.
	ld	hl,Xf2f5	; 31A4  21 F5 F2	!ur
	jr	z,X31ae		; 31A7  28 05		(.
	ld	hl,X316e	; 31A9  21 6E 31	!n1
	set	1,a		; 31AC  CB CF		KO
X31ae:	out	(crtservdat),a	; 31AE  D3 89		S.
	ld	b,0ch		; 31B0  06 0C		..
X31b2:	ld	a,b		; 31B2  78		x
	dec	a		; 31B3  3D		=
	out	(crt6545adst),a	; 31B4  D3 8C		S.
	ld	a,(hl)		; 31B6  7E		~
	out	(crt6545data),a	; 31B7  D3 8D		S.
	inc	hl		; 31B9  23		#
	djnz	X31b2		; 31BA  10 F6		.v
	ld	hl,(X3232)	; 31BC  2A 32 32	*22
	call	Xf060		; 31BF  CD 60 F0	M`p
	ld	a,(X303b)	; 31C2  3A 3B 30	:;0
	bit	1,a		; 31C5  CB 4F		KO
	ld	hl,X03c0	; 31C7  21 C0 03	!@.
	ld	a,28h		; 31CA  3E 28		>(
	jr	nz,X31d0	; 31CC  20 02		 .
	add	a,a		; 31CE  87		.
	add	hl,hl		; 31CF  29		)
X31d0:	ld	(X04ab),a	; 31D0  32 AB 04	2+.
	ld	(X04e0),a	; 31D3  32 E0 04	2`.
	ld	(X409d),a	; 31D6  32 9D 40	2.@
	neg			; 31D9  ED 44		mD
	ld	(X04f6),a	; 31DB  32 F6 04	2v.
	ld	(X3116),hl	; 31DE  22 16 31	".1
	ld	(X3712),hl	; 31E1  22 12 37	".7
	dec	hl		; 31E4  2B		+
	ld	(X207b),hl	; 31E5  22 7B 20	"{
	inc	hl		; 31E8  23		#
	neg			; 31E9  ED 44		mD
	add	a,l		; 31EB  85		.
	ld	l,a		; 31EC  6F		o
	ld	(X0578),hl	; 31ED  22 78 05	"x.
	ei			; 31F0  FB		{
	exx			; 31F1  D9		Y
	ret			; 31F2  C9		I
;
	ORG	31f6h
;
X31f6:	ld	hl,X1c3d	; 31F6  21 3D 1C	!=.
	push	hl		; 31F9  E5		e
	ld	a,b		; 31FA  78		x
	cp	0fch		; 31FB  FE FC		~|
	ret	c		; 31FD  D8		X
	ld	b,0		; 31FE  06 00		..
	ex	de,hl		; 3200  EB		k
	ld	de,X35bf	; 3201  11 BF 35	.?5
	call	X1c00		; 3204  CD 00 1C	M..
	ld	a,b		; 3207  78		x
	cp	22h		; 3208  FE 22		~"
	ret	nc		; 320A  D0		P
	pop	hl		; 320B  E1		a
	pop	bc		; 320C  C1		A
	inc	c		; 320D  0C		.
	pop	hl		; 320E  E1		a
	ld	(hl),1		; 320F  36 01		6.
	inc	hl		; 3211  23		#
	jp	X1c5a		; 3212  C3 5A 1C	CZ.
;
X3215:	cp	1		; 3215  FE 01		~.
	jp	nz,X2b89	; 3217  C2 89 2B	B.+
	ld	a,(hl)		; 321A  7E		~
	inc	hl		; 321B  23		#
	push	hl		; 321C  E5		e
	ld	e,a		; 321D  5F		_
X321e:	ld	hl,X35bf	; 321E  21 BF 35	!?5
	jp	X2bac		; 3221  C3 AC 2B	C,+
;
X3224:	push	bc		; 3224  C5		E
	ld	b,a		; 3225  47		G
	ld	a,(hl)		; 3226  7E		~
	cp	1		; 3227  FE 01		~.
	ld	a,b		; 3229  78		x
	pop	bc		; 322A  C1		A
	jp	nz,X2335	; 322B  C2 35 23	B5#
	jp	X304f		; 322E  C3 4F 30	CO0
;
	ORG	3232h
;
X3232:	nop			; 3232  00		.
;
;	Symbol equates
;
;  These are symbols from the control
;  file that are referenced in the code
;
blifastblok	EQU	60h
blislowblok	EQU	40h
colbuf	EQU	4fh
crt6545adst	EQU	8ch
crt6545data	EQU	8dh
crtbeepport	EQU	8fh
crtkeybcnt	EQU	87h
crtprntdat	EQU	81h
crtram0dat	EQU	80h
crtram1cnt	EQU	86h
crtram1dat	EQU	84h
crtram2cnt	EQU	8ah
crtram2dat	EQU	88h
crtram3port	EQU	8eh
crtservdat	EQU	89h
curpbuf	EQU	48h
dselbf	EQU	4eh
esc	EQU	1bh
fdccmdstatr	EQU	0d0h
fdcdatareg	EQU	0d7h
fdcdrvrcnt	EQU	0d6h
fdcsectreg	EQU	0d2h
fdcseekc	EQU	16h
fdctrakreg	EQU	0d1h
fdrvbuf	EQU	45h
frdpbuf	EQU	41h
fsekbuf	EQU	3fh
ftrkbuf	EQU	46h
kbdbyte	EQU	4dh
miobyte	EQU	4ch
ram0buf	EQU	3bh
ram1buf	EQU	3ch
ram3buf	EQU	3eh
rst7sp2	EQU	39h
rst7sp3	EQU	3ah
tmpbyte	EQU	4bh
xofc	EQU	13h
xonc	EQU	11h
;
;	Miscellaneous equates
;
;  These are addresses referenced in the code but
;  which are in the middle of a multibyte instruction
;  or are addresses outside the initialized space
;
X0004	EQU	4
X000a	EQU	0ah
X000e	EQU	0eh
X00b5	EQU	0b5h
X018e	EQU	18eh
X021e	EQU	21eh
X0264	EQU	264h
X02b0	EQU	2b0h
X02f1	EQU	2f1h
X02f5	EQU	2f5h
X043e	EQU	43eh
X04ab	EQU	4abh
X04e0	EQU	4e0h
X04f3	EQU	4f3h
X04f6	EQU	4f6h
X0500	EQU	500h
X0578	EQU	578h
X0603	EQU	603h
X069f	EQU	69fh
X0700	EQU	700h
X08d9	EQU	8d9h
X090a	EQU	90ah
X095e	EQU	95eh
X0aef	EQU	0aefh
X0c26	EQU	0c26h
X0ccd	EQU	0ccdh
X0e12	EQU	0e12h
X0e6c	EQU	0e6ch
X0fa2	EQU	0fa2h
X0fdb	EQU	0fdbh
X10f9	EQU	10f9h
X11b0	EQU	11b0h
X138b	EQU	138bh
X13e2	EQU	13e2h
X14b2	EQU	14b2h
X1928	EQU	1928h
X196c	EQU	196ch
X198f	EQU	198fh
X1998	EQU	1998h
X199a	EQU	199ah
X199d	EQU	199dh
X19a0	EQU	19a0h
X1a18	EQU	1a18h
X1b1f	EQU	1b1fh
X1dbe	EQU	1dbeh
X1df8	EQU	1df8h
X1e63	EQU	1e63h
X1f04	EQU	1f04h
X1f07	EQU	1f07h
X1f5a	EQU	1f5ah
X207b	EQU	207bh
X21f4	EQU	21f4h
X2337	EQU	2337h
X2363	EQU	2363h
X23c4	EQU	23c4h
X241e	EQU	241eh
X24f1	EQU	24f1h
X260d	EQU	260dh
X2686	EQU	2686h
X270f	EQU	270fh
X2727	EQU	2727h
X279a	EQU	279ah
X28c1	EQU	28c1h
X2a00	EQU	2a00h
X2a68	EQU	2a68h
X2a70	EQU	2a70h
X2d45	EQU	2d45h
X2d97	EQU	2d97h
X2e17	EQU	2e17h
X3041	EQU	3041h
X3116	EQU	3116h
X318c	EQU	318ch
X31b1	EQU	31b1h
X326a	EQU	326ah
X32bf	EQU	32bfh
X32f1	EQU	32f1h
X32f9	EQU	32f9h
X3315	EQU	3315h
X3320	EQU	3320h
X3375	EQU	3375h
X340b	EQU	340bh
X353e	EQU	353eh
X3546	EQU	3546h
X35a9	EQU	35a9h
X35bf	EQU	35bfh
X3667	EQU	3667h
X36e6	EQU	36e6h
X36e8	EQU	36e8h
X36f7	EQU	36f7h
X3710	EQU	3710h
X3712	EQU	3712h
X37c6	EQU	37c6h
X3846	EQU	3846h
X386d	EQU	386dh
X3881	EQU	3881h
X388b	EQU	388bh
X3b9a	EQU	3b9ah
X3bad	EQU	3badh
X3bca	EQU	3bcah
X3bd3	EQU	3bd3h
X3c35	EQU	3c35h
X3ccb	EQU	3ccbh
X3ff6	EQU	3ff6h
X4000	EQU	4000h
X4006	EQU	4006h
X4009	EQU	4009h
X400c	EQU	400ch
X400f	EQU	400fh
X4012	EQU	4012h
X4015	EQU	4015h
X401d	EQU	401dh
X4020	EQU	4020h
X4025	EQU	4025h
X4033	EQU	4033h
X403d	EQU	403dh
X403e	EQU	403eh
X407d	EQU	407dh
X4080	EQU	4080h
X4081	EQU	4081h
X4085	EQU	4085h
X4089	EQU	4089h
X408c	EQU	408ch
X408e	EQU	408eh
X4090	EQU	4090h
X4093	EQU	4093h
X4094	EQU	4094h
X4096	EQU	4096h
X4097	EQU	4097h
X4099	EQU	4099h
X409a	EQU	409ah
X409b	EQU	409bh
X409c	EQU	409ch
X409d	EQU	409dh
X409e	EQU	409eh
X409f	EQU	409fh
X40a0	EQU	40a0h
X40a2	EQU	40a2h
X40a4	EQU	40a4h
X40a6	EQU	40a6h
X40a7	EQU	40a7h
X40a9	EQU	40a9h
X40aa	EQU	40aah
X40ab	EQU	40abh
X40ac	EQU	40ach
X40ae	EQU	40aeh
X40af	EQU	40afh
X40b0	EQU	40b0h
X40b1	EQU	40b1h
X40b3	EQU	40b3h
X40b5	EQU	40b5h
X40d3	EQU	40d3h
X40d4	EQU	40d4h
X40d6	EQU	40d6h
X40d8	EQU	40d8h
X40da	EQU	40dah
X40dc	EQU	40dch
X40dd	EQU	40ddh
X40de	EQU	40deh
X40df	EQU	40dfh
X40e1	EQU	40e1h
X40e2	EQU	40e2h
X40e4	EQU	40e4h
X40e6	EQU	40e6h
X40e8	EQU	40e8h
X40ea	EQU	40eah
X40ec	EQU	40ech
X40ee	EQU	40eeh
X40f0	EQU	40f0h
X40f2	EQU	40f2h
X40f3	EQU	40f3h
X40f5	EQU	40f5h
X40f7	EQU	40f7h
X40f9	EQU	40f9h
X40fb	EQU	40fbh
X40fd	EQU	40fdh
X40ff	EQU	40ffh
X4101	EQU	4101h
X411b	EQU	411bh
X411c	EQU	411ch
X411d	EQU	411dh
X411f	EQU	411fh
X4120	EQU	4120h
X4121	EQU	4121h
X4123	EQU	4123h
X4124	EQU	4124h
X4125	EQU	4125h
X4126	EQU	4126h
X4127	EQU	4127h
X412d	EQU	412dh
X412e	EQU	412eh
X412f	EQU	412fh
X4130	EQU	4130h
X414a	EQU	414ah
X414f	EQU	414fh
X4150	EQU	4150h
X4151	EQU	4151h
X4155	EQU	4155h
X4176	EQU	4176h
X418e	EQU	418eh
X4194	EQU	4194h
X419d	EQU	419dh
X41a6	EQU	41a6h
X41a9	EQU	41a9h
X41ac	EQU	41ach
X41af	EQU	41afh
X41b2	EQU	41b2h
X41b5	EQU	41b5h
X41b8	EQU	41b8h
X41bb	EQU	41bbh
X41be	EQU	41beh
X41c1	EQU	41c1h
X41c4	EQU	41c4h
X41c7	EQU	41c7h
X41ca	EQU	41cah
X41cd	EQU	41cdh
X41d0	EQU	41d0h
X41d3	EQU	41d3h
X41d6	EQU	41d6h
X41d9	EQU	41d9h
X41dc	EQU	41dch
X41df	EQU	41dfh
X4200	EQU	4200h
X42aa	EQU	42aah
X434c	EQU	434ch
X4400	EQU	4400h
X4414	EQU	4414h
X4669	EQU	4669h
X490f	EQU	490fh
X4cbb	EQU	4cbbh
X4ff9	EQU	4ff9h
X5000	EQU	5000h
X507c	EQU	507ch
X5247	EQU	5247h
X540b	EQU	540bh
X5fa9	EQU	5fa9h
X6044	EQU	6044h
X6404	EQU	6404h
X65cd	EQU	65cdh
X65de	EQU	65deh
X7218	EQU	7218h
X772b	EQU	772bh
X7d9a	EQU	7d9ah
X8000	EQU	8000h
X802a	EQU	802ah
X8031	EQU	8031h
X8035	EQU	8035h
X803e	EQU	803eh
X8076	EQU	8076h
X8080	EQU	8080h
X8100	EQU	8100h
X8138	EQU	8138h
X8349	EQU	8349h
X900b	EQU	900bh
X9080	EQU	9080h
X9143	EQU	9143h
X9474	EQU	9474h
Xa31e	EQU	0a31eh
Xaa3b	EQU	0aa3bh
Xb065	EQU	0b065h
Xb10a	EQU	0b10ah
Xb244	EQU	0b244h
Xb60e	EQU	0b60eh
Xc4ff	EQU	0c4ffh
Xc70b	EQU	0c70bh
Xcd40	EQU	0cd40h
Xd1eb	EQU	0d1ebh
Xe1c1	EQU	0e1c1h
Xe31f	EQU	0e31fh
Xebf9	EQU	0ebf9h
Xefce	EQU	0efceh
Xf060	EQU	0f060h
Xf06e	EQU	0f06eh
Xf07e	EQU	0f07eh
Xf08b	EQU	0f08bh
Xf2f5	EQU	0f2f5h
Xffb0	EQU	0ffb0h
Xfffe	EQU	0fffeh
Xffff	EQU	0ffffh
;
	end
;

